<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>女性学专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para"><a target="_blank">女性学</a>(Women’s Studies) 是一门新兴的专业。女性学(Women’s Studies) 是一门新兴的专业。20世纪90年代末，仅美国就有600多所大学开设3万多门女性学课程，包括学士、硕士和博士学位课程；<a target="_blank">欧共体</a>有10多个国家授予女性学硕士和博士学位。</div><div class="para" label-module="para">女性学专业的研究方向有女性学理论、女性与政策、女性与传媒、女性与参政、女性与发展、女性与<a target="_blank">婚姻家庭</a>。同时，在该专业的选修课中，女性自我保护、<a target="_blank">女性礼仪</a>、<a target="_blank">女性时尚</a>等内容也是不可缺少的。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
女性学专业
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
030304T
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
法学或哲学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
法学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">专业概述</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">培养目标</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">培养要求</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">知识技能</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">专业历史</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">课程设置</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">职业前景</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">相近专业</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub145104_1"></a>
<a class="lemma-anchor " name="专业概述"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">女性学专业</span>专业概述</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">女性学</a>(Women’s Studies) 是一门新兴的专业。20世纪90年代末，仅美国就有600多所大学开设3万多门女性学课程，包括学士、硕士和博士学位课程；欧共体有10多个国家授予女性学硕士和博士学位。80年代中后期,女性学课程跨入中国高等院校课堂,目前中国大陆已有100多所<a target="_blank">高等院校</a>成立了妇女研究中心和开设了妇女学课程，还有一些学校招收了妇女学跨学科硕士、博士研究生。1998年，国家教育部批准<a target="_blank">北京大学</a>将女性学纳入研究生专业目录，日前北京大学已有三届学生获得女性学专业硕士学位。2006年，教育部把女性学正式列入本科专业，并于当年开始在<a target="_blank">中华女子学院</a>女性学系招收我国首届普高本科学生。</div>
<div class="para" label-module="para">女性学专业的研究方向有女性学理论、女性与政策、女性与传媒、女性与参政、女性与发展、女性与婚姻家庭。同时，在该专业的选修课中，女性自我保护、女性礼仪、女性时尚等内容也是不可缺少的。</div>
<div class="para" label-module="para">女性学是从宏观，综合角度去认识女性，而不是从某一特定角度去探讨女性某一方面的特质和行为特征；女性学的任务是把女性放在人类发展和社会进步的历史进程中发现和揭示她的行为的一般规律，而不是分门别类地去制定某一类行为发展的规则。因此，女性学研究的"女性"是对各学科研究中"女性"概念的综合，对女性本体认识更集中更系统，更具高度的抽象和理论概括。</div>
<div class="para" label-module="para">在第一批的本科女性学专业中，实行的是学分制，学生须修满2352学时，至少150个学分才可。除了完成专业安排的必修课程外，还要修20多个选修课程。但即使是选修课，也均在女性学专业范围内选择，如妇女问题研究方面的课程等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub145104_2"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">女性学专业</span>培养目标</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">女性学系一直坚持教学与科研并举，以科研促进教学，以本科教育为主，同时开展研究生教育、师资培训和干部教育，致力于女性学科和专业建设，服务于妇女发展，促进两性平等。女性学本科专业建设，定位于培养德、智、体、美、劳全面发展，能从事妇女发展、性别与政策分析、女性学教学与管理等相关工作的复合型专业人才。为了适应社会发展需要，女性学系要求学生要掌握较宽厚的跨学科知识，拥有较强的性别平等意识和熟悉性别分析方法，掌握较高的外语和计算机应用水平。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub145104_3"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">女性学专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">本专业要求学生要掌握较宽厚的跨学科知识，拥有较强的性别平等意识和熟悉性别分析方法，掌握较高的外语和计算机应用水平。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub145104_4"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">女性学专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">通过本专业的学习，具备以下几方面的能力：</div>
<div class="para" label-module="para">1、系统地掌握女性学基本理论和基本方法；较熟练地掌握NGO管理理论、方法与技巧；</div>
<div class="para" label-module="para">2、具备一定的分析性别与发展问题的能力，熟悉解决此类问题的思路和途径；</div>
<div class="para" label-module="para">3、能为政府和相关部门制订妇女政策提供服务。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub145104_5"></a>
<a class="lemma-anchor " name="专业历史"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">女性学专业</span>专业历史</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">2006年，教育部把女性学正式列入本科专业，并于当年开始在中华女子学院女性学系招收我国首届普高本科学生。30位来自全国各地的女性学专业本科生进入了一个新颖的学术领域，开始了系统的学习历程。四年的时间里，2006级女性学专业学生在学校和全系教师的殷切关注和培养下，不但系统学习了女性主义的理论与方法，还学习了跨学科的知识，包括社会学、管理学、法学、心理学、妇女史等知识，成长为拥有跨学科知识、性别平等意识、人文关怀、德才兼备的优秀人才。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub145104_6"></a>
<a class="lemma-anchor " name="课程设置"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">女性学专业</span>课程设置</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">社会学概论、社会政策与制度分析、社会科学研究方法、法学概论、管理学和行政管理学、教育学概论、社会心理学、女性学理论、女性史、女性心理学、女性与健康、女性领导学、性别与发展、妇女与NGO组织等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub145104_7"></a>
<a class="lemma-anchor " name="职业前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">女性学专业</span>职业前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">女性学专业的就业前景相当不错，首先，国内每年从社会科学各专业毕业的学生申请国外女性学硕士和博士的人数越来越多，同时，联合国机构在华招聘人才也成为一股牵引学生关注女性学的力量。另外，中国社会的民主化进程，以及性别平等政策、法律和措施的不断完善和细化，促使党政机关、群团组织、企事业单位、民间组织、国际机构、社区组织和大专院校比过去任何时候都更加需要具有女性学知识与方法的人才。毕业生主要在党政机关、群团组织、企事业单位、民间组织、国际组织、社区和大专院校等部门，从事妇女工作、性别与发展的研究与实际推动、性别与政策分析、性别与文化传播、女性学教学工作。同时，考研和进一步出国深造，将来加入国际妇女学的研究队伍也是毕业生的选择之一。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_145104"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub145104_8"></a>
<a class="lemma-anchor " name="相近专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">女性学专业</span>相近专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a data-lemmaid="283098" target="_blank">社会学</a>（030301*）、<a target="_blank">社会工作</a>（030302）、<a target="_blank">家政学</a>（030303W）、<a data-lemmaid="398754" target="_blank">人类学</a>（030304W）。</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-145104-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_145104" id="refIndex_1_145104" name="refIndex_1_145104" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">女性学<span class="linkout"> </span></a>
<span class="site">．高考派</span><span>[引用日期2015-06-17]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>