<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>禁毒学专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">禁毒学专业以学院<a target="_blank">侦查学</a>、法化学等优势专业为依托，构建了以缉毒侦查为主导，以毒品检验和戒毒预防为基础的具有公安禁毒特色的教育教学体系。该专业培养系统掌握禁毒学的基础理论、基本知识和基本技能，具有从事缉毒侦查及其他禁毒工作能力的应用型专门人才。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_1889549"> </a>
</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
禁毒学专业
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
Narcotics control subject
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
68011
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">修业年限</dt>
<dd class="basicInfo-item value">
专科三年，本科四年
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
法学学士
</dd>
<dt class="basicInfo-item name">专业核心能力</dt>
<dd class="basicInfo-item value">
毒品犯罪案件侦查
</dd>
<dt class="basicInfo-item name">职业方向</dt>
<dd class="basicInfo-item value">
公安机关与部门
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">高校专科设置</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#1_1">基本信息</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#1_2">培养目标</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#1_3">课程设置</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#1_4">核心能力</a></span>
</li>
</ol><ol><li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#1_5">职业方向</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">高校本科设置</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#2_1">专业概述</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#2_2">培养目标</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#2_3">培养要求</a></span>
</li>
</ol><ol><li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#2_4">其他信息</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#2_5">主干课程</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#2_6">就业方向</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">开设院校</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub1889549_1"></a>
<a class="lemma-anchor " name="高校专科设置"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">禁毒学专业</span>高校专科设置</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1_1"></a>
<a class="lemma-anchor " name="sub1889549_1_1"></a>
<a class="lemma-anchor " name="基本信息"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">禁毒学专业</span>基本信息</h3>
</div>
<div class="para" label-module="para">专业名称：禁毒<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_1889549"> </a>
</div>
<div class="para" label-module="para">专业代码：68011</div>
<div class="para" label-module="para">修业年限：三年</div>
<div class="para" label-module="para">专业层次：专科</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="1_2"></a>
<a class="lemma-anchor " name="sub1889549_1_2"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">禁毒学专业</span>培养目标</h3>
</div>
<div class="para" label-module="para">专业培养目标：培养熟悉我国公安工作的方针政策和相关的法律法规，掌握禁毒工作的基本知识和技能，能从事禁毒工作的高级技术应用性专门人才<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_1889549"> </a>
。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="1_3"></a>
<a class="lemma-anchor " name="sub1889549_1_3"></a>
<a class="lemma-anchor " name="课程设置"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">禁毒学专业</span>课程设置</h3>
</div>
<div class="para" label-module="para">专业主干课程与主要实践环节：禁毒概论、禁毒法规、毒品常识与检查、毒品查缉术、毒品犯罪案件侦查、侦查技术、体能训练、技能训练、基层公安机关实习、社会调查等，以及各校的主要特色课程和实践环节<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_1889549"> </a>
。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="1_4"></a>
<a class="lemma-anchor " name="sub1889549_1_4"></a>
<a class="lemma-anchor " name="核心能力"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">禁毒学专业</span>核心能力</h3>
</div>
<div class="para" label-module="para">专业核心能力：毒品犯罪案件侦查<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_1889549"> </a>
。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="1_5"></a>
<a class="lemma-anchor " name="sub1889549_1_5"></a>
<a class="lemma-anchor " name="职业方向"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">禁毒学专业</span>职业方向</h3>
</div>
<div class="para" label-module="para">就业面向：公安机关与部门<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_1889549"> </a>
。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub1889549_2"></a>
<a class="lemma-anchor " name="高校本科设置"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">禁毒学专业</span>高校本科设置</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="2_1"></a>
<a class="lemma-anchor " name="sub1889549_2_1"></a>
<a class="lemma-anchor " name="专业概述"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">禁毒学专业</span>专业概述</h3>
</div>
<div class="para" label-module="para">禁毒学专业是伴随着毒品问题在世界范围内不断发展蔓延而新兴的一门学科。培养具有坚定正确的政治方向、严格的组织纪律观念和良好的职业道德，熟悉公安业务，了解我国和世界毒品问题现状、趋势及应对策略，系统地掌握禁毒学的基础理论、基本知识和基本技能，具有从事毒品犯罪案件侦查及其他禁毒工作实践和理论研究能力的专门人才。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2_2"></a>
<a class="lemma-anchor " name="sub1889549_2_2"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">禁毒学专业</span>培养目标</h3>
</div>
<div class="para" label-module="para">以马克思主义、毛泽东思想、<a target="_blank">邓小平理论</a>为指导，全面落实 “三个代表”的重要思想，全面贯彻党的教育方针、《中共中央关于进一步加强和改进<a target="_blank">公安工作</a>的决定》（中发[2003]13号）和第二十次国家公安会议精神，牢固树立科学发展观和以认为本的理念，围绕禁毒工作和禁毒队伍建设的实际需要坚持“教育要面向现代化、面向世界、面向未来”，为适应我国社会发展和禁毒工作的实际需要，努力探索我国禁毒工作及其客观规律，切实贯彻“大公安、厚基础、精专业、重实战”的原则，培养适合我国国情的，精通禁毒业务的高素质、复合公安应用人才。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2_3"></a>
<a class="lemma-anchor " name="sub1889549_2_3"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">禁毒学专业</span>培养要求</h3>
</div>
<div class="para" label-module="para">本专业把学生培养成为“讲政治、有道德、精法律、持正义、会管理、多技能、健体魄、强心智、善创新”能适应禁毒工作需要的本科层次<a target="_blank">应用型人才</a>。</div>
<div class="para" label-module="para">（一）本专业方向的毕业生应掌握以下知识：</div>
<div class="para" label-module="para">1．政治理论、刑事法律基础、基础科学文化等相关基础知识。</div>
<div class="para" label-module="para">2．<a target="_blank">公安学基础理论</a>及<a target="_blank">侦查学</a>、<a target="_blank">刑事科学技术</a>等相关领域的基础理论和基本知识。</div>
<div class="para" label-module="para">3．缉毒、戒毒、毒品检验和毒品预防教育等禁毒学领域的基础理论和基本知识。</div>
<div class="para" label-module="para">（二）本专业方向的毕业生应具有以下能力：</div>
<div class="para" label-module="para">1．掌握一定的人文社会科学和自然科学知识，具有相应的科学文化素养，外语和计算机基础教育水平达到国家规定的四级和B类二级标准，具有初步的研究创新能力。</div>
<div class="para" label-module="para">2．全面掌握禁毒工作的程序、措施、手段和方法，运用缉毒工作的各种技术和手段依法办理毒品案件的能力。</div>
<div class="para" label-module="para">3．从事禁毒领域科研和教学工作的能力。</div>
<div class="para" label-module="para">4.运用禁毒知识和技能开展戒毒和禁毒宣传教育工作的能力，具备较快适应相邻公安业务工作的基本素质和能力。</div>
<div class="para" label-module="para">（三）本专业方向的毕业生应具备以下素质：</div>
<div class="para" label-module="para">1、具有坚定的政治方向，牢固的法制、纪律观念和群众观念；具有良好的思想品德和职业道德素养，热爱公安工作，具有献身精神。</div>
<div class="para" label-module="para">2、具备扎实的法学理论基础和较高的法律素养,具有较高的执法水平。</div>
<div class="para" label-module="para">3、具有健康的体魄和良好的心理素质，达到国家规定的体育锻炼标准，掌握射击、擒拿格斗、散打、驾驶、查缉等警体技能，能够适应公安、边防实战的需要。</div>
<div class="para" label-module="para">4、熟悉公安禁毒工作，具有较高的缉毒办案、戒毒管理、宣传教育以及从事其他公安工作的业务素质。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2_4"></a>
<a class="lemma-anchor " name="sub1889549_2_4"></a>
<a class="lemma-anchor " name="其他信息"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">禁毒学专业</span>其他信息</h3>
</div>
<div class="para" label-module="para">专业年限: 4年</div>
<div class="para" label-module="para">授予学位 : 法学学士</div>
<div class="para" label-module="para">专业方向：禁毒</div>
<div class="para" label-module="para">开设院校：<a target="_blank">云南警官学院</a>、<a target="_blank">中国刑事警察学院</a></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2_5"></a>
<a class="lemma-anchor " name="sub1889549_2_5"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">禁毒学专业</span>主干课程</h3>
</div>
<div class="para" label-module="para">禁毒学导论、毒品学（含检验）、禁毒法学、禁毒情报、戒毒学、毒品公开查缉、毒品犯罪案件侦查（含措施、预审）、毒品预防、国外禁毒概论（双语）、<a target="_blank">艾滋病</a>与职业防护。</div>
<div class="para" label-module="para">学制为四学年（八个学期）。毕业须修满177学分。其中，必修课141学分，选修课16学分，实习5学分，毕业论文5学分。      <b> </b><b> </b><b>就业前景           </b>禁毒学专业在专业学科中属于法学类中的法学类，其中法学类共24个专业，禁毒学专业在法学类专业中排名第21，在整个法学大类中排名第21位。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2_6"></a>
<a class="lemma-anchor " name="sub1889549_2_6"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">禁毒学专业</span>就业方向</h3>
</div>
<div class="para" label-module="para">能在公安、检察、国家安全等部门从事侦查工作、刑事执法工作、预防和控制犯罪以及侦查学教学、科研等方面工作的高级专门人才。<sup>[3]</sup><a class="sup-anchor" name="ref_[3]_1889549"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub1889549_3"></a>
<a class="lemma-anchor " name="开设院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">禁毒学专业</span>开设院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">本专业属文理兼收。有5所大学开设了禁毒学专业，分别是：<a target="_blank">中国刑事警察学院</a>（10175）、<a target="_blank">云南大学</a>（10673）、<a target="_blank">云南警官学院</a>（11392）、<a target="_blank">甘肃政法学院</a>（11406）、<a target="_blank">广东警官学院</a>（11110）。</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-1889549-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_1889549" id="refIndex_1_1889549" name="refIndex_1_1889549" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">禁毒学<span class="linkout"> </span></a>
<span class="site">．gaokao.chsi.com.cn/zyk/zybk/specialityDetail.action?specialityId=73383243</span><span>[引用日期2015-05-26]</span></li><li class="reference-item " id="reference-[2]-1889549-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_1889549" id="refIndex_2_1889549" name="refIndex_2_1889549" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">中国教育在线-禁毒专科专业解析<span class="linkout"> </span></a>
<span class="site">．中国教育在线</span><span>[引用日期2013-01-2]</span></li><li class="reference-item " id="reference-[3]-1889549-wrap">
<span class="index">3.</span>
<a class="gotop anchor" href="#ref_[3]_1889549" id="refIndex_3_1889549" name="refIndex_3_1889549" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">禁毒学专业就业前景和就业方向<span class="linkout"> </span></a>
<span class="site">．大学生成长网</span><span>[引用日期2016-02-18]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>