<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>犯罪学专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">犯罪学是一门以犯罪现象为研究对象的学科。在我国大陆地区，无论理论研究还是实际操作范围，犯罪学隶属于法学，属<a target="_blank">刑事法学</a>方向。</div><div class="para" label-module="para">犯罪学作为独立学科，在国外已经有一百多年的历史。在中国，犯罪学作为独立学科的形成，起始于20世纪80年代初期。1992年4月中国犯罪学研究会的成立，标志着我国的犯罪学研究进入了一个新的发展阶段。</div><div class="para" label-module="para">当前，我国经济发展迅速，在这一时期，各种刑事犯罪活动成为深化改革开放的消极因素和破坏力量。重大刑事犯罪，诸如<a target="_blank">金融犯罪</a>、<a target="_blank">毒品犯罪</a>、团伙与黑社会组织犯罪等都出现了新的特点，并有进一步严重化的趋势，加强犯罪学理论的研究和犯罪学专业人才的培养，可谓迫在眉睫。与此同时，随着改革开放的进一步深入发展，各种犯罪还将发生新的变化，出现新的特点，也还会出现新的犯罪形式。这也为犯罪学理论研究提出了许多更深的研究课题。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
犯罪学专业
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
030611TK
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
法学学士
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
法学
</dd>
<dt class="basicInfo-item name">国内报考院校</dt>
<dd class="basicInfo-item value">
<a target="_blank">中国人民公安大学</a>、<a target="_blank">西南政法大学</a>
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养要求</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">培养目标</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干课程</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">核心能力</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">发展前景</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">开设院校</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">犯罪学研究会</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub1889691_1"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">犯罪学专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">本专业要求学生具有良好的科学素质与人文素质、警察基本素质和技术技能，既有较高的执法能力和管理水平，又有强烈的公共服务意识，全面系统地掌握犯罪学基础理论、基本知识和基本技能。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_1889691"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub1889691_2"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">犯罪学专业</span>培养目标</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">本专业培养适应社会主义和谐社会建设需要，掌握马克思主义基本原理，具有良好的科学素质与人文素质、警察基本素质和技术技能，既有较高的执法能力和管理水平，又有强烈的公共服务意识，全面系统地掌握犯罪学基础理论、基本知识和基本技能，能在公安保卫部门从事犯罪预防、犯罪分析与预测及罪犯矫治等业务工作和在检察、法院、司法行政部门从事相关工作以及在相关领域从事犯罪学教学、科研工作的高级复合型专门人才。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub1889691_3"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">犯罪学专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">犯罪学原理、西方犯罪学、刑事政策学、犯罪被害人学、犯罪预防学、犯罪心理学、罪犯矫治学、犯罪评估导论、犯罪学研究方法、犯罪统计学、公安学概论、刑事侦查学、<a target="_blank">治安管理学</a>、刑事科学技术、刑法学、刑事诉讼法学、社会学概论、社会工作概论、<a data-lemmaid="3045" target="_blank">普通心理学</a>、<a data-lemmaid="80310" target="_blank">社会心理学</a>、<a target="_blank">人格心理学</a>、<a data-lemmaid="1252434" target="_blank">变态心理学</a>等。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_1889691"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub1889691_4"></a>
<a class="lemma-anchor " name="核心能力"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">犯罪学专业</span>核心能力</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1.比较系统地掌握本专业的基本理论、基础知识和基本技能；<br/>　　2.具有高度的思想政治觉悟和组织纪律意识；<br/>　　3.具备犯罪学的基本处理能力；<br/>　　4.掌握一门外语，能够比较熟练地阅读本专业及相关外文书刊和资料，具有一定的外语听、说、读、写能力；<br/>　　5.能处理一般涉外业务。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub1889691_5"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">犯罪学专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">犯罪学专业毕业生的就业前景十分可观，毕业生的主要就业方向为科研、教育/培训和公务员，毕业岗位主要有刑事犯罪鉴定人员、犯罪心理研究员、犯罪调查员、执法人员、警务人员、<a target="_blank">狱警</a>、感化主任、假释官、<a target="_blank">社会工作者</a>等。<sup>[3]</sup><a class="sup-anchor" name="ref_[3]_1889691"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub1889691_6"></a>
<a class="lemma-anchor " name="开设院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">犯罪学专业</span>开设院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">本专业文理兼收，国内现在只有<a target="_blank">中国人民公安大学</a>以及<a target="_blank">西南政法大学</a>（10041）开设了犯罪学专业。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub1889691_7"></a>
<a class="lemma-anchor " name="犯罪学研究会"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">犯罪学专业</span>犯罪学研究会</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">中国犯罪学研究会</div>
<div class="para" label-module="para">中国犯罪学研究会成立于1992年，于2002年加入中国法学会，它是全国性的群众性学术团体，由最高人民检察院主管，挂靠在国家检察官学院。其下设预防犯罪专业委员会、犯罪社会学专业委员会、犯罪与矫治心理学专业委员会、边疆地区犯罪对策专业委员会、罪犯改造专业委员会和未成年法制教育专业委员会、职务犯罪预防专业委员会等七个专业委员会。</div>
<div class="para" label-module="para">中国法学会犯罪学研究会的主要任务是：开展调查研究，进行理论探讨，撰写学术专著，翻译介绍国外犯罪学研究成果；召开学术讨论会、报告会、座谈会，及时交流学术研究成果和经验；组织和参加国际学术交流活动；承担国家或有关部门的研究课题，向有关部门提供有关犯罪学咨询服务；编辑出版犯罪学刊物《<a target="_blank">犯罪学论丛</a>》和《会员通讯》；建立、健全组织和发展会员。</div>
<div class="para" label-module="para">目前，中国法学会犯罪学研究会拥有会员2200余人。大多是专门从事犯罪学研究的教授、学者和专家，以及从事司法部门实际工作的研究人员，是犯罪学研究的骨干力量。中国法学会犯罪学研究会自成立以来，先后举办了十三届学术研讨会，对犯罪学领域的多个主题进行研讨，取得了丰硕的研究成果，推动了中国犯罪学的理论研究。</div>
<div class="para" label-module="para">中国法学会犯罪学研究会积极参与国家的立法研究活动，对《<a target="_blank">预防未成年人犯罪法</a>》的制定出台起了重要作用。同时，中国法学会犯罪学研究会密切关注国家的司法实践，每年均对司法实践中的犯罪热点问题进行研讨，还成立了职务犯罪预防专业委员会，专门对职务犯罪预防问题进行研究。</div>
<div class="para" label-module="para">近年来，中国法学会犯罪学研究会加强国际学术交流与合作，参加了多次国际学术会议，访问了多个国家和地区。积极地宣传了我国改革开放以来治理犯罪的成绩，介绍了我国犯罪学的研究成果，与外国同行进行了各个方面的深入交流，加强了解，增进友谊。中国法学会犯罪学研究会联络、组织全国犯罪学研究人员，从我国实际出发，全面、深入探讨犯罪产生的原因、发展、变化规律和防治对策，为犯罪学研究的繁荣与发展作出了自己的贡献。</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-1889691-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_1889691" id="refIndex_1_1889691" name="refIndex_1_1889691" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">犯罪学<span class="linkout"> </span></a>
<span class="site">．高考派</span><span>[引用日期2015-05-22]</span></li><li class="reference-item " id="reference-[2]-1889691-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_1889691" id="refIndex_2_1889691" name="refIndex_2_1889691" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">专业介绍<span class="linkout"> </span></a>
<span class="site">．中国教育在线</span><span>[引用日期2016-02-1]</span></li><li class="reference-item " id="reference-[3]-1889691-wrap">
<span class="index">3.</span>
<a class="gotop anchor" href="#ref_[3]_1889691" id="refIndex_3_1889691" name="refIndex_3_1889691" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">犯罪学专业就业方向与就业前景分析<span class="linkout"> </span></a>
<span class="site">．大学生必备网</span><span>[引用日期2016-02-18]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>