<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>涉外警务专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para"><a target="_blank">涉外警务专业</a>是指<a target="_blank">公安机关</a>和警察人员依法行使警察职权，对具有涉外因素的事务实施行政和<a target="_blank">刑事管辖</a>活动的总称，或者说是公安涉外管理的总和。涉外因素包括外国人、外国政府、外国组织、外国机构，也包括在中国领域外发生的涉及中国国家或中国公民利益的事务，同<a data-lemmaid="19290630" target="_blank">外交学</a>、<a target="_blank">国际关系学</a>、国际法学、涉外行政法学、<a data-lemmaid="7617600" target="_blank">犯罪学</a>、<a target="_blank">治安管理学</a>、<a target="_blank">侦查学</a>等学科有着很强的交叉性和渗透性。如今我国公安机关与世界各国警察机构的交流和合作在进一步加强，涉外治安管理和涉外刑事管辖进一步国际化，迫切需要国际型的高级执法人才。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
涉外警务专业
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
030613TK
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
法学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
法学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">专业特色</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">培养目标</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">培养要求</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">知识技能</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">主干课程</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">发展前景</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">开设学院</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub1889687_1"></a>
<a class="lemma-anchor " name="专业特色"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">涉外警务专业</span>专业特色</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">涉外警务专业的教学内容既包括涉外行政管理，又涉及涉外刑事侦查，将涉外行政管理和涉外刑事管辖有机整合。这种新的专业设置和教学理念不仅可以满足未来公安教育宽口径的人才培养模式需要，而且学科体系具有一定的理论超前性和科学性，能够指导公安实践，适应不断变化的公安实战的需要。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub1889687_2"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">涉外警务专业</span>培养目标</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业旨在为公安机关培养具备扎实的涉外警务基础理论、基本知识，具备出入境管理、涉外案件处置、国际警务执法合作等方面专业技能，业务素质高、实战能力强，具有较高外语水平，能在公安机关从事出入境管理、边防检查、国际社区管理、涉外案件查处、维和警务、涉外警务联络等工作，以及在相关领域从事教学、科研工作的应用型公安高级专门人才。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub1889687_3"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">涉外警务专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业要求学生具有较强的外语交际应用能力，掌握公安学和治安学等理论知识和公安实践技能。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub1889687_4"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">涉外警务专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1.系统掌握该专业必须的基础理论、基本知识和基本技能；<br/>　　2.具备出入境管理涉外案件处置、国际警务执法合作等方面专业技能；<br/>　　3.掌握涉外警务处理的基本手段和方法；<br/>　　4.具有良好组织纪律作风；<br/>　　5.较强语言表达能力和<a target="_blank">文字表达能力</a>、开拓创新能力、<a target="_blank">组织管理能力</a>和良好的<a data-lemmaid="361382" target="_blank">心理素质</a>。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub1889687_5"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">涉外警务专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">涉外警务法律基础、涉外警务概论、出入境管理、涉外案件处置、国际警务合作概论、跨国犯罪对策、国际移民概论、国际关系概论、<a target="_blank">外交学</a>、警务英语口译、警务英语笔译。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub1889687_6"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">涉外警务专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">涉外警务专业具有很强的涉外性，它具有国际执法和国内执法的双重性质。较强的外语能力与熟练掌握的<a target="_blank">公安学</a>、<a target="_blank">治安学</a>理论知识和实践技能，将成为该专业毕业生的两把利剑。无论是在<a target="_blank">公安机关</a>出入境管理部门、武警边防检查机构，还是在其他涉外警务工作部门从事出入境管理、国际警务合作、联合国维和警务、<a target="_blank">边防检查</a>、涉外案件处置、跨国犯罪调查、跨国罪犯追捕与遣返、国际执法联络、国际警务合作、司法协助、中国驻外使领馆警务联络工作，他们都能如鱼得水。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_1889687"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub1889687_7"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">涉外警务专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">中国人民公安大学</a>、<a target="_blank">湖北警官学院</a>、<a target="_blank">北京警察学院</a>、<a target="_blank">江苏警官学院</a>、<a target="_blank">浙江警察学院</a>、广东警官学院、中国刑事警察学校</div>
<div class="rs-container-foot">
<a name="rs-1"></a>
<a class="anchor-2" name="rs_1889687_15684"></a>
<div class="rslazy rs-container" id="rs-container-1889687-15684" lazy-init="lemmars.tableAction(baidu.g('rs-1889687-15684'))"></div>
<a class="anchor-2" name="rs_1889687_15721"></a>
<div class="rslazy rs-container" id="rs-container-1889687-15721" lazy-init="lemmars.tableAction(baidu.g('rs-1889687-15721'))"></div>
</div><script type="text/javascript">
        window.rsInsertData = window['rsInsertData'] || [];
        var rsdataList = {"foot":[{"fentryTableId":15684,"fentryTableName":"\u516c\u5b89\u5b66\u7c7b\u4e13\u4e1a\u5217\u8868","fentryTableType":0,"entryId":254456,"templateId":393,"entryTitle":"\u516c\u5b89\u5b66","isManual":0,"isExpand":1},{"fentryTableId":15721,"fentryTableName":"\u4e8c\u7ea7\u5b66\u79d1\u00b7\u516c\u5b89\u5b66","fentryTableType":1,"entryId":2393477,"templateId":0,"entryTitle":"\u516c\u5b89\u5b66\u7c7b\u4e13\u4e1a","isManual":0,"isExpand":1}],"top":[]};

        if (rsdataList.top || rsdataList.foot) {
            rsInsertData.push([1889687, rsdataList]);
        }
    </script>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-1889687-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_1889687" id="refIndex_1_1889687" name="refIndex_1_1889687" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">涉外警务专业就业方向与就业前景分析<span class="linkout"> </span></a>
<span class="site">．大学生必备网</span><span>．2016-02-3</span><span>[引用日期2016-02-3]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>