<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>电磁场与无线技术专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">该专业作为培养社会紧缺的<a target="_blank">射频</a>与<a target="_blank">无线</a>技术相关领域的高技术人才。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
电磁场与无线技术专业
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
Electromagnetic field and wireless technology
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
<a target="_blank">工学</a>
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
080712T
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
工学学士
</dd>
<dt class="basicInfo-item name">研究高校</dt>
<dd class="basicInfo-item value">
电子科技大学
</dd>
<dt class="basicInfo-item name">研究对象</dt>
<dd class="basicInfo-item value">
无线信号的产生、辐射、传播
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">就业方向</dt>
<dd class="basicInfo-item value">
科研机构，工业部门等企事业单位
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">专业简介</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">开设学校</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">研究对象</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">学科分支</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">主要课程</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">就业深造</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">专业图书</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub465571_1"></a>
<a class="lemma-anchor " name="专业简介"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">电磁场与无线技术专业</span>专业简介</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">电磁场与无线技术专业是教育部高校本科专业目录外少数高校试点的专业。是为培养当前社会紧缺的射频与无线技术相关领域的高技术人才而设置的。其中西安电子科技大学的<a target="_blank">天线与微波技术国防科技重点实验室</a>是天线与电磁散射领域唯一的国家级科研平台。2013年电磁场与无线技术最新专业排名：1西安电子科技大学 2北京航空航天大学 3哈尔滨工业大学 4电子科技大学</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub465571_2"></a>
<a class="lemma-anchor " name="开设学校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">电磁场与无线技术专业</span>开设学校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">西安电子科技大学</a>、<a target="_blank">清华大学</a>、<a target="_blank">南京邮电大学</a>、<a target="_blank">重庆邮电大学</a>，<a target="_blank">电子科技大学</a>、<a target="_blank">北京航空航天大学</a>、<a target="_blank">东南大学</a>、<a target="_blank">哈尔滨工业大学</a>、<a target="_blank">西安邮电大学</a>、<a target="_blank">西北工业大学</a>、<a target="_blank">华中科技大学</a>、<a target="_blank">南京航空航天大学</a>、<a target="_blank">北京邮电大学</a>。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub465571_3"></a>
<a class="lemma-anchor " name="研究对象"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">电磁场与无线技术专业</span>研究对象</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">“电磁场与无线技术”是研究射频无线信号的产生、辐射、传播、散射、接收和处理的相关理论、技术和工程应用的本科专业。本专业在无线通信、雷达、遥感、遥测遥控、地球物理探测、电子测量、电子对抗、射电天文与无损探测等方面具有广泛的应用。“电磁场与无线技术”与其他学科的相互融合，已形成了电磁兼容与环境电磁学、生物电磁学、材料电磁学、地震电磁学等新兴边缘学科，表现出该专业具有旺盛的生命力。本专业旨在培养具有坚实的电磁场理论与工程基础，较强的射频、微波电路与系统开发能力，也具有很好的<a target="_blank">通信技术基础</a>的高级<a target="_blank">工程技术人才</a>。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub465571_4"></a>
<a class="lemma-anchor " name="学科分支"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">电磁场与无线技术专业</span>学科分支</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">电磁场与无线技术专业的主干课程除<a target="_blank">高等数学</a>、英语、大学物理等课程外，还有通信原理、<a target="_blank">数字信号处理</a>、<a target="_blank">电路分析基础</a>、<a target="_blank">信号与系统</a>、<a target="_blank">模拟电路基础</a>、电磁场理论、<a target="_blank">微机系统与接口技术</a>、天线原理与设计、电波传播理论、<a target="_blank">微波技术基础</a>、微波电路、通信网、通信技术与系统、<a target="_blank">交换技术基础</a>等。本专业的学生按照教学计划修满所规定的学分后，可获得<a target="_blank">工学学士学位</a>。</div>
<div class="para" label-module="para">随着<a target="_blank">电子信息产业</a>的迅猛发展，国内对“电磁场与无线技术”专业人才的需求呈持续快速增长，本专业已成为经济社会急需且供不应求最为突出的专业之一。本专业具有先进的教学体系及实验条件，培养的毕业生可到通信、广播电视、航空航天、遥感、遥测遥控、雷达、电子对抗、电子元器件、资源探测和医疗设备等领域的研究所、公司、工厂和相关部门从事理论研究、工程设计、<a target="_blank">无线网络</a>维护、应用开发和技术管理等工作。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub465571_5"></a>
<a class="lemma-anchor " name="主要课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">电磁场与无线技术专业</span>主要课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">电路分析基础</a>、信号与系统、<a target="_blank">模拟电子技术基础</a>、<a target="_blank">数字电路与逻辑设计</a>、<a target="_blank">射频电路基础</a>；<a target="_blank">电磁场与电磁波</a>、微机原理与系统设计、<a target="_blank">软件技术基础</a>、<a target="_blank">数学物理方法</a>、<a target="_blank">微波技术基础</a>、天线原理、<a target="_blank">电磁兼容原理与技术</a>、通信原理、电波工程、<a target="_blank">微波电子线路</a>、<a target="_blank">微波网络</a>、天线CAD、<a target="_blank">射频识别技术</a>、<a target="_blank">软件无线电技术</a>等必修课程及30多门选修课程。仅仅如此还不够，要想成为一名优秀的电磁学专业人才，学生还应当具有较强的知识更新能力、创新能力和综合设计能力、良好的从事电磁场与无线技术科学研究工作的能力。所以学好电磁学与无线技术专业并不是一件容易的事情，不过有付出才会有收获嘛，学成之后的广阔前景可是无比诱人呢！</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub465571_6"></a>
<a class="lemma-anchor " name="就业深造"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">电磁场与无线技术专业</span>就业深造</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">毕业生可以在<a target="_blank">电磁场与微波技术</a>、<a target="_blank">信息与通信工程</a>、<a target="_blank">电路与系统</a>、物理电子学、<a target="_blank">微电子学</a>等专业方向继续攻读硕士研究生。</div>
<div class="para" label-module="para">毕业生就业实行双向选择，可选择科研机构、工业部门等企事业单位从事设计制造、科技开发、应用研究和科研、教学及行政管理等方面的工作。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub465571_7"></a>
<a class="lemma-anchor " name="专业图书"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">电磁场与无线技术专业</span>专业图书</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1.《电磁场与电磁波》，B.S.Guru，<a target="_blank">机械工业出版社</a></div>
<div class="para" label-module="para">非常好的电磁场理论入门书，坛子上有中英文2个版本。</div>
<div class="para" label-module="para">2.《电磁波理论》，<a target="_blank">孔金瓯</a>著，<a target="_blank">吴季</a>等译，<a target="_blank">电子工业出版社</a>。</div>
<div class="para" label-module="para">美国学界轰动一时的电磁波理论专著。内容丰富、涉及面很宽。内有大量与生产实际结合紧密的习题。是电磁场和微波专业学生提高理论水平的一本重要参考书。美中不足的是此中译本有不少错译、误译存在，</div>
<div class="para" label-module="para">3.《微波工程》，D.M.Pozar，张肇仪等译，电子工业出版社。</div>
<div class="para" label-module="para">搞微波和射频的人的经典入门教材。一些限于篇幅未详细讨论的地方都不厌其烦的列出了大量参考文献，超赞。</div>
<div class="para" label-module="para">4.《微波固态电路设计》，I.Bahl等著，<a target="_blank">郑新</a>等译，电子工业出版社。</div>
<div class="para" label-module="para">5.《单片射频微波集成电路技术与设计》，I.Robertson等著，<a target="_blank">文光俊</a>等译，电子工业出版社。</div>
<div class="para" label-module="para">4～5是搞RFIC、MIC和MMIC的人的重要参考书。</div>
<div class="para" label-module="para">6.《天线理论与设计》第二版，W.L.Stutzman著，<a target="_blank">朱守正</a>等译，<a target="_blank">人民邮电出版社</a>。</div>
<div class="para" label-module="para">7.《天线理论与技术》，卢万铮著，西电出版社。</div>
<div class="para" label-module="para">6～7对天线理论及<a target="_blank">数学工具</a>讲的很透。</div>
<div class="para" label-module="para">8. 《无线网络射频工程(硬件天线和电波传播)》：(美)多布金|译者:<a target="_blank">李晋文</a> 人民邮电出版社</div>
<div class="para" label-module="para">理论结合实际，深入浅出，想搞射频收发机最好看看。</div>
<div class="para" label-module="para">全书共分八章，主要内容包括无线网络简介，<a target="_blank">无线通信基础</a>和无线局域网基础，无线发射机和接收机的架构、实现和性能评估，面向无线网络应用的天线理论基础和设计，电波传播，室内网络和室外网络等。</div>
<div class="para" label-module="para">（本段落摘自作者: lswluo 来源: 微波技术网 ）</div>

<div class="clear"></div>
</div>