<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>轨道交通信号与控制专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">轨道交通信号与控制专业培养具有较强的城市轨道交通信号设备基本结构、工作原理、技术条件、维护标准、施工工艺等专业技术理论知识和较强的城市轨道交通信号设备安装、调试、日常养护、故障处理及检维修等实践技能，具有良好职业道德和职业生涯发展基础，全面发展的高端技能型专门人才。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
轨道交通信号与控制
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
工学学士
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
080802T
</dd>
<dt class="basicInfo-item name">一级学科 </dt>
<dd class="basicInfo-item value">
<a target="_blank">工学</a>
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养要求</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">知识技能</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">专业历史</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">主干课程</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">主要实践环节</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">就业方向</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">开设高校</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">最新院校排名</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub17719187_1"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">轨道交通信号与控制专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业学生主要学习轨道交通信号与控制技术的基本知识和理论，受到本学科相关训练，具有城市轨道交通信号设备生产、安装、调试、维修养护、管理及工程设计与施工、技术改造的能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub17719187_2"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">轨道交通信号与控制专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1.具有一定的科学知识和科学精神，科学的逻辑思维方式和创新意识；<br/>　　2.掌握电路分析基础、电子技术基础知识；<br/>　　3.掌握工具、仪器、仪表的使用与维护保养知识；<br/>　　4.了解城轨通信系统的组成及各子系统功能基础知识；<br/>　　5.掌握信号、联锁、闭塞设备基础知识；<br/>　　6.能够按照操作规章安装、调试、维修城市轨道交通信号基础设备、控制中心、正线、车辆段、列车自动控制设备、停车场等信号控制设备。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub17719187_3"></a>
<a class="lemma-anchor " name="专业历史"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">轨道交通信号与控制专业</span>专业历史</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">即原<b>铁道信号</b>专业、自动化（<b>自动控制</b>）专业、兰州铁道学院（现<a target="_blank">兰州交通大学</a>）1958年建校时首批建立的5个系之一的电机系，当年招收首批通信、信号本科学生和电力机车专修班学生。文革后1977年全国恢复高等学校招生，电机系继续招收有线通信和铁路信号两本科专业学生，1992年教育部制定了按大类招生的目录，电信系的铁路信号和自动控制两本科专业，归并为自动化类，按自动化专业招生。<b>1993年原铁路信号专业更名为自动控制专业</b>，原自动控制专业更名为工业自动化专业，简称自动化专业。2012年9月更名为轨道交通信号与控制。（<a target="_blank">普通高等学校本科专业目录</a>第四次修订，专业代码080802T）<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_17719187"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub17719187_4"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">轨道交通信号与控制专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">电路分析、电子技术、计算机技术（语言、软件基础、硬件基础、单片机等）、微机原理与接口技术、自动控制理论、信号与系统分析、计算机网络、电磁兼容及可靠性理论、铁路信号运营基础、信号基础设备原理、车站信号自动控制、区间信号自动控制、铁路信号远程控制、列车运行控制系统、编组站综合自动化、计算机联锁系统、城市轨道交通控制系统等课程。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub17719187_5"></a>
<a class="lemma-anchor " name="主要实践环节"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">轨道交通信号与控制专业</span>主要实践环节</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">课程实验、实践、生产实习、毕业设计等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub17719187_6"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">轨道交通信号与控制专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业具有国家行业需求的鲜明特色和较完善的培养体系。毕业生主要从事高速铁路、既有铁路、地铁和<a target="_blank">城市轨道交通</a>、厂矿企业铁路等领域中信息和控制方面的研究、设计、开发、系统集成、施工和经营管理等工作。毕业生可在<a target="_blank">国有铁路</a>各路局、城市地铁公司、各地方铁路公司等部门从事技术开发与管理、工程设计及设备维护等工作，在铁路行业相关的研究院、设计院、铁路局、工程局、地铁公司、信号工厂、相关研发单位（如中国通号股份公司、铁科院、卡斯柯、和利时、阿尔斯通）、学校等发挥重要作用。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_17719187"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub17719187_7"></a>
<a class="lemma-anchor " name="开设高校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">轨道交通信号与控制专业</span>开设高校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">一、全国较早开设轨道交通信号与控制专业的普通高等学校分别是：</div>
<div class="para" label-module="para"><a target="_blank">北京交通大学</a>（211，该专业设于电子信息工程学院）</div>
<div class="para" label-module="para"><a target="_blank">西南交通大学</a>（211，该专业设于信息科学与技术学院）</div>
<div class="para" label-module="para"><a target="_blank">兰州交通大学</a>（原<a target="_blank">唐山铁道学院</a>和<a target="_blank">北京铁道学院</a>部分系科成建制迁兰州于1958年组建成兰州铁道学院，2003更现名。该专业设于自动化与电气工程学院）</div>
<div class="para" label-module="para"><a target="_blank">南京理工大学</a>（211，该专业设于自动化学院）</div>
<div class="para" label-module="para"><a target="_blank">郑州大学</a>（211，该专业设于电气工程学院）</div>
<div class="para" label-module="para"><a target="_blank">长沙理工大学</a>（<a target="_blank">长沙交通学院</a>和长沙电力学院合并组建于2003年。该专业2013年设于电气与信息工程学院）</div>
<div class="para" label-module="para"><a target="_blank">昆明理工大学</a>（创建于1954年，云南工业大学1999并入，省属重点。该专业2012年设于信息工程与自动化学院）</div>
<div class="para" label-module="para"><a target="_blank">中北大学</a>（原<a target="_blank">太原机械学院</a>，1993年更名华北工学院，老牌兵工院校，该专业2013年设于计算机与控制工程学院）</div>
<div class="para" label-module="para"><a target="_blank">西华大学</a>（原四川工业学院，建于1960，省属重点，该专业设于电气与电子信息学院）</div>
<div class="para" label-module="para"><a target="_blank">华东交通大学</a>（创建于1971年，江西省重点，2012年由原交通设备信息工程专业更名，该专业设于交通运输与物流学院，信号工程系，交通设备信息工程专业？）</div>
<div class="para" label-module="para"><a target="_blank">河南理工大学</a>（原焦作工学院，该专业设于电气工程与自动化学院）</div>
<div class="para" label-module="para"><a target="_blank">石家庄铁道大学</a>（原铁道兵工程学院，1979年被列为全国重点，该专业设于电气电子工程学院）</div>
<div class="para" label-module="para"><a target="_blank">上海工程技术大学</a>（上海交大机电分校、华东纺织工学院分院合并组建于1985年，该专业设于城市轨道交通学院）</div>
<div class="para" label-module="para"><a target="_blank">大连交通大学</a>（原大连铁道学院，创建于1956年，该专业设于电气信息学院）</div>
<div class="para" label-module="para"><a target="_blank">河南工业大学</a>（原郑州工程学院，该专业设于电气工程学院）</div>
<div class="para" label-module="para">二、其它新开设轨道交通信号与控制专业的普通高校分别是：</div>
<div class="para" label-module="para"><a target="_blank">江苏师范大学</a>（原徐州师范学院，1981年更名徐州师范大学，2011年更现名）</div>
<div class="para" label-module="para"><a target="_blank">中南民族大学</a>（创建于1951年，2002更现名，该专业设于计算机科学学院）</div>
<div class="para" label-module="para"><a target="_blank">常州大学</a>（原江苏化工学院，1992年更名江苏石油化工学院，2002年更名为江苏工业学院，2010年更现名）</div>
<div class="para" label-module="para"><a target="_blank">北京联合大学</a>（前身是北京市依靠清华、北大等于1978年创办的36所大学分校）</div>
<div class="para" label-module="para"><a target="_blank">华北水利水电大学</a>（原华北水利水电学院，1990年由河北邯郸迁河南郑州，2013年更现名）</div>
<div class="para" label-module="para"><a target="_blank">临沂大学</a>（临沂师专与临沂教育学院于1999年合并建立临沂师院，2010年更现名）</div>
<div class="para" label-module="para"><a target="_blank">江汉大学</a>（原江汉大学、华中理工大学汉口分校等四所高校合并组建于1999年，该专业设于物理与信息工程学院）</div>
<div class="para" label-module="para"><a target="_blank">湖北师范大学</a>（原黄石师范学院于1985年改名湖北师范学院，2016年更现名，该专业设于机电与控制工程学院）</div>
<div class="para" label-module="para"><a target="_blank">九江学院</a>（九江医学专科与九江财经高等专科，九江师范专科、九江教育学院联合组建于2001年）</div>
<div class="para" label-module="para"><a target="_blank">宝鸡文理学院</a>（原宝鸡师范学院，1992年与宝鸡大学合并更现名）</div>
<div class="para" label-module="para"><a target="_blank">山东交通学院</a>（济南交通高专与中国重汽职大合并组建升本于2002年，该专业设于轨道交通学院）</div>
<div class="para" label-module="para"><a target="_blank">黑龙江工程学院</a>（原黑龙江交通高等专科学校创建于1952年，2000年更为现名）</div>
<div class="para" label-module="para"><a target="_blank">邵阳学院</a>（邵阳师范专科学校与邵阳高等专科学校于2002年合并升本更现名）</div>
<div class="para" label-module="para"><a target="_blank">贵州理工学院</a>（2013年在贵州工业大学蔡家关校区原址建立，该专业设于电气工程学院）</div>
<div class="para" label-module="para"><a target="_blank">湖北理工学院</a>（黄石高等专科学校与黄石教育学院于2004年合并组建成立黄石理工学院，2011年更现名）</div>
<div class="para" label-module="para"><a target="_blank">唐山学院</a>（原唐山高等专科学校与西南交通大学唐山分校、唐山市职工大学合并组建于2002年）</div>
<div class="para" label-module="para"><a target="_blank">淮南师范学院</a>（前身淮南师范专科学校创建于1958年，2000年与淮南教育学院、淮南师范学校合并升本）</div>
<div class="para" label-module="para"><a target="_blank">四川大学</a>（匹兹堡学院，于2015年开设并招生）</div>
<div class="para" label-module="para">三、其它新开设轨道交通信号与控制专业的民办高校（含独立独立学院）分别是：</div>
<div class="para" label-module="para"><a target="_blank">大连科技学院</a>（民办，原大连交通大学信息工程学院，2011年由独立学院转设普通本科高等学校更现名。该专业设于交通运输学院）</div>
<div class="para" label-module="para"><a target="_blank">西安交通工程学院</a>（民办，前身为西安科技商贸职业学院，2014年升格。该专业设于交通工程系）</div>
<div class="para" label-module="para"><a target="_blank">沈阳工学院</a>（民办，原沈阳理工大学应用技术学院与沈阳农业大学科学技术学院合并于2013年，由独立学院转设为民办普通本科学校更现名。该专业设于信息与控制学院设）</div>
<div class="para" label-module="para"><a target="_blank">郑州科技学院</a>（民办，前身是创建于1988年的中原职业大学，该专业设于电气工程学院）</div>
<div class="para" label-module="para"><a target="_blank">长春科技学院</a>（民办，原吉林农业大学发展学院，2013年由独立学院转设为民办普通本科高校，更现名）</div>
<div class="para" label-module="para"><a target="_blank">无锡太湖学院</a>（民办，原江南大学太湖学院，2011年由独立学院转设为民办普通本科高校，更现名）</div>
<div class="para" label-module="para"><a target="_blank">郑州工商学院</a>（民办，原河南理工大学万方科技学院，2016年由独立学院转设为民办普通本科高校更现名）</div>
<div class="para" label-module="para"><a target="_blank">苏州大学文正学院</a>（独立学院，1998年12月成立，该专业设于城市轨道交通系）</div>
<div class="para" label-module="para"><a target="_blank">同济大学浙江学院</a>（独立学院，2008年5月成立，该专业设于电子与信息工程系）</div>
<div class="para" label-module="para"><a target="_blank">石家庄铁道大学四方学院</a>（独立学院，创建于2001年）</div>
<div class="para" label-module="para"><a target="_blank">北京交通大学海滨学院</a>（独立学院，成立于2008年5月）</div>
<div class="para" label-module="para"><a target="_blank">长春理工大学光电信息学院</a>（独立学院）</div>
<div class="para" label-module="para"><a target="_blank">长春工业大学人文信息学院</a>（独立学院）</div>
<div class="para" label-module="para"><a target="_blank">重庆邮电大学移通学院</a>（独立学院）</div>
<div class="para" label-module="para"><a target="_blank">中原工学院信息商务学院</a>（独立学院）</div>
<div class="para" label-module="para"><a target="_blank">南京工业大学浦江学院</a>（独立学院）</div>
<div class="para" label-module="para"><a target="_blank">同济大学浙江学院</a>（独立学院）</div>
<div class="para" label-module="para">……</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub17719187_8"></a>
<a class="lemma-anchor " name="最新院校排名"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">轨道交通信号与控制专业</span>最新院校排名</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">以下是2016-2017年轨道交通信号与控制专业排行榜的前20强名单（3星以内）。</div>
<table class="table-view log-set-param" log-set-param="table_view" width="660"><tr><td align="center" valign="middle" width="83"><div class="para" label-module="para">排序</div>
</td><td align="center" valign="middle" width="216"><div class="para" label-module="para">学校名称</div>
</td><td align="center" valign="middle" width="83"><div class="para" label-module="para">水平</div>
</td><td align="center" valign="middle" width="195"><div class="para" label-module="para">开此专业学校数</div>
</td><td align="center" valign="middle" width="84"><div class="para" label-module="para">备注</div>
</td></tr><tr><td align="center" valign="middle" width="83"><div class="para" label-module="para">1</div>
</td><td align="center" valign="middle" width="216"><div class="para" label-module="para">北京交通大学</div>
</td><td align="center" valign="middle" width="83"><div class="para" label-module="para">5★</div>
</td><td align="center" valign="middle" width="195"><div class="para" label-module="para">37</div>
</td><td align="center" valign="middle" width="84"><br/>　　</td></tr><tr><td align="center" valign="middle" width="83"><div class="para" label-module="para">2</div>
</td><td align="center" valign="middle" width="216"><div class="para" label-module="para">西南交通大学</div>
</td><td align="center" valign="middle" width="83"><div class="para" label-module="para">5★</div>
</td><td align="center" valign="middle" width="195"><div class="para" label-module="para">37</div>
</td><td align="center" valign="middle" width="84"><br/>　　</td></tr><tr><td align="center" valign="middle" width="83"><div class="para" label-module="para">3</div>
</td><td align="center" valign="middle" width="216"><div class="para" label-module="para">兰州交通大学</div>
</td><td align="center" valign="middle" width="83"><div class="para" label-module="para">4★</div>
</td><td align="center" valign="middle" width="195"><div class="para" label-module="para">37</div>
</td><td align="center" valign="middle" width="84"><br/>　　</td></tr><tr><td align="center" valign="middle" width="83"><div class="para" label-module="para">4</div>
</td><td align="center" valign="middle" width="216"><div class="para" label-module="para">南京理工大学</div>
</td><td align="center" valign="middle" width="83"><div class="para" label-module="para">4★</div>
</td><td align="center" valign="middle" width="195"><div class="para" label-module="para">37</div>
</td><td align="center" valign="middle" width="84"><br/>　　</td></tr><tr><td align="center" valign="middle" width="83"><div class="para" label-module="para">5</div>
</td><td align="center" valign="middle" width="216"><div class="para" label-module="para">郑州大学</div>
</td><td align="center" valign="middle" width="83"><div class="para" label-module="para">4★</div>
</td><td align="center" valign="middle" width="195"><div class="para" label-module="para">37</div>
</td><td align="center" valign="middle" width="84"><br/>　　</td></tr><tr><td align="center" valign="middle" width="83"><div class="para" label-module="para">6</div>
</td><td align="center" valign="middle" width="216"><div class="para" label-module="para">长沙理工大学</div>
</td><td align="center" valign="middle" width="83"><div class="para" label-module="para">4★</div>
</td><td align="center" valign="middle" width="195"><div class="para" label-module="para">37</div>
</td><td align="center" valign="middle" width="84"><br/>　　</td></tr><tr><td align="center" valign="middle" width="83"><div class="para" label-module="para">7</div>
</td><td align="center" valign="middle" width="216"><div class="para" label-module="para">河南理工大学</div>
</td><td align="center" valign="middle" width="83"><div class="para" label-module="para">4★</div>
</td><td align="center" valign="middle" width="195"><div class="para" label-module="para">37</div>
</td><td align="center" valign="middle" width="84"><br/>　　</td></tr><tr><td align="center" valign="middle" width="83"><div class="para" label-module="para">8</div>
</td><td align="center" valign="middle" width="216"><div class="para" label-module="para">大连科技学院</div>
</td><td align="center" valign="middle" width="83"><div class="para" label-module="para">3★</div>
</td><td align="center" valign="middle" width="195"><div class="para" label-module="para">37</div>
</td><td align="center" valign="middle" width="84"><div class="para" label-module="para">民办</div>
</td></tr><tr><td align="center" valign="middle" width="83"><div class="para" label-module="para">9</div>
</td><td align="center" valign="middle" width="216"><div class="para" label-module="para">华东交通大学</div>
</td><td align="center" valign="middle" width="83"><div class="para" label-module="para">3★</div>
</td><td align="center" valign="middle" width="195"><div class="para" label-module="para">37</div>
</td><td align="center" valign="middle" width="84"><br/>　　</td></tr><tr><td align="center" valign="middle" width="83"><div class="para" label-module="para">10</div>
</td><td align="center" valign="middle" width="216"><div class="para" label-module="para">昆明理工大学</div>
</td><td align="center" valign="middle" width="83"><div class="para" label-module="para">3★</div>
</td><td align="center" valign="middle" width="195"><div class="para" label-module="para">37</div>
</td><td align="center" valign="middle" width="84"><br/>　　</td></tr><tr><td align="center" valign="middle" width="83"><div class="para" label-module="para">11</div>
</td><td align="center" valign="middle" width="216"><div class="para" label-module="para">中北大学</div>
</td><td align="center" valign="middle" width="83"><div class="para" label-module="para">3★</div>
</td><td align="center" valign="middle" width="195"><div class="para" label-module="para">37</div>
</td><td align="center" valign="middle" width="84"><br/>　　</td></tr><tr><td align="center" valign="middle" width="83"><div class="para" label-module="para">12</div>
</td><td align="center" valign="middle" width="216"><div class="para" label-module="para">西华大学</div>
</td><td align="center" valign="middle" width="83"><div class="para" label-module="para">3★</div>
</td><td align="center" valign="middle" width="195"><div class="para" label-module="para">37</div>
</td><td align="center" valign="middle" width="84"><br/>　　</td></tr><tr><td align="center" valign="middle" width="83"><div class="para" label-module="para">13</div>
</td><td align="center" valign="middle" width="216"><div class="para" label-module="para">西安交通工程学院</div>
</td><td align="center" valign="middle" width="83"><div class="para" label-module="para">3★</div>
</td><td align="center" valign="middle" width="195"><div class="para" label-module="para">37</div>
</td><td align="center" valign="middle" width="84"><div class="para" label-module="para">民办</div>
</td></tr><tr><td align="center" valign="middle" width="83"><div class="para" label-module="para">14</div>
</td><td align="center" valign="middle" width="216"><div class="para" label-module="para">大连交通大学</div>
</td><td align="center" valign="middle" width="83"><div class="para" label-module="para">3★</div>
</td><td align="center" valign="middle" width="195"><div class="para" label-module="para">37</div>
</td><td align="center" valign="middle" width="84"><br/>　　</td></tr><tr><td align="center" valign="middle" width="83"><div class="para" label-module="para">15</div>
</td><td align="center" valign="middle" width="216"><div class="para" label-module="para">上海工程技术大学</div>
</td><td align="center" valign="middle" width="83"><div class="para" label-module="para">3★</div>
</td><td align="center" valign="middle" width="195"><div class="para" label-module="para">37</div>
</td><td align="center" valign="middle" width="84"><br/>　　</td></tr><tr><td align="center" valign="middle" width="83"><div class="para" label-module="para">16</div>
</td><td align="center" valign="middle" width="216"><div class="para" label-module="para">沈阳工学院</div>
</td><td align="center" valign="middle" width="83"><div class="para" label-module="para">3★</div>
</td><td align="center" valign="middle" width="195"><div class="para" label-module="para">37</div>
</td><td align="center" valign="middle" width="84"><div class="para" label-module="para">民办</div>
</td></tr><tr><td align="center" valign="middle" width="83"><div class="para" label-module="para">17</div>
</td><td align="center" valign="middle" width="216"><div class="para" label-module="para">山东交通学院</div>
</td><td align="center" valign="middle" width="83"><div class="para" label-module="para">3★</div>
</td><td align="center" valign="middle" width="195"><div class="para" label-module="para">37</div>
</td><td align="center" valign="middle" width="84"><br/>　　</td></tr><tr><td align="center" valign="middle" width="83"><div class="para" label-module="para">18</div>
</td><td align="center" valign="middle" width="216"><div class="para" label-module="para">郑州科技学院</div>
</td><td align="center" valign="middle" width="83"><div class="para" label-module="para">3★</div>
</td><td align="center" valign="middle" width="195"><div class="para" label-module="para">37</div>
</td><td align="center" valign="middle" width="84"><div class="para" label-module="para">民办</div>
</td></tr></table><div class="para" label-module="para">备注：此排名来源于网络，仅供参考。</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-17719187-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_17719187" id="refIndex_1_17719187" name="refIndex_1_17719187" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">中华人民共和国教育部<span class="linkout"> </span></a>
<span class="site">．教育部关于印发《普通高等学校本科专业目录 （2012年）》《普通高等学校本科专业 设置管理规定》等文件的通知 </span><span>．2012-09-14</span><span>[引用日期2014-04-18]</span></li><li class="reference-item " id="reference-[2]-17719187-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_17719187" id="refIndex_2_17719187" name="refIndex_2_17719187" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">轨道交通信号与控制<span class="linkout"> </span></a>
<span class="site">．轨道交通信号与控制详细介绍</span><span>[引用日期2014-03-30]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>