<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>服装设计与工艺教育专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">服装设计与工艺教育专业是主动适应职业技术院校服装类专业课师资和对服装产业结构调整的需求，旨在培养掌握服装设计与工艺的基本理论和基本技能与方法，具有能将科学思维方法和实际动手能力相结合，具备服装艺术设计创新思维，熟练掌握<a target="_blank">服装造型</a>与结构设计原理以及<a target="_blank">计算机辅助设计</a>技能，能熟练完成服装款式及工艺制作，具有教书育人良好素质，从事中、<a target="_blank">高等职业技术教育</a>服装设计与工艺课程的专业师资和从事服装设计与工艺制作的高级<a target="_blank">应用型人才</a>。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
服装设计与工艺教育专业
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
Clothing design and technology education professional
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
081604T
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
工学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
<a target="_blank">工学</a>
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-1">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养目标</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">就业方向</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">课程设置</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">相近专业</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">开设院校</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub8087647_1"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">服装设计与工艺教育专业</span>培养目标</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">通过学习，将具备了以下几方面的能力：</div>
<div class="para" label-module="para">1、掌握服装设计与工艺专业的基本理论、基本知识和基本技能；</div>
<div class="para" label-module="para">2、具有从事服装行业设计与技术研究及生产管理等方面工作能力，</div>
<div class="para" label-module="para">3、掌握教育理论和教学实践的基本技能，获得从事服装教学和服装研究的基本能力；</div>
<div class="para" label-module="para">4、熟悉教育法规和教育学规律，能够运用<a data-lemmaid="784408" target="_blank">教育学</a>、<a data-lemmaid="6215" target="_blank">心理学</a>理论和<a data-lemmaid="5488864" target="_blank">现代教育技术</a>，具有从事服装技术教学及研究的基本能力；</div>
<div class="para" label-module="para">5、了解本专业前沿及发展趋势，掌握服装专业技术理论知识，具备创新实践能力和创业精神；</div>
<div class="para" label-module="para">6、能够充分利用图书、期刊和网络等资源，掌握资料查询、文献检索与科技写作方法，具有开展科学研究的初步能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub8087647_2"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">服装设计与工艺教育专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">在服装行业，从事服装设计与开发、服装生产工艺设计、服装打板、服装推板、服装生产工艺单编写、样衣制作、服装生产管理等工作。其他：本专业可获取劳动部服装制作工中级职业技术证书</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub8087647_3"></a>
<a class="lemma-anchor " name="课程设置"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">服装设计与工艺教育专业</span>课程设置</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">服装结构设计与制作、服装设计、<a target="_blank">服装CAD</a>、服装生产管理与营销、排料与推板、服装立体裁剪、服装专业英语、时装画技法、时装画基础、服装配色与图案设计、专业实训等，以及各校的主要特色课程和实践环节。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub8087647_4"></a>
<a class="lemma-anchor " name="相近专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">服装设计与工艺教育专业</span>相近专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">服装设计与工程</a>（081406）、纺织工艺教育(040323)、装潢设计与工艺教育(040330W)、职业技术教育管理(040337W)等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub8087647_5"></a>
<a class="lemma-anchor " name="开设院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">服装设计与工艺教育专业</span>开设院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">苏州大学</a>（10285）、<a target="_blank">湖南师范大学</a>（10542）、<a target="_blank">沈阳师范大学</a>（10166）、<a target="_blank">福建师范大学</a>（10394）、<a target="_blank">河北师范大学</a>（10094）、<a target="_blank">河南科技学院</a>（10467）、<a target="_blank">湖南师范大学树达学院</a>（12652）。</div>
<div class="rs-container-foot">
<a name="rs-1"></a>
<a class="anchor-2" name="rs_8087647_15735"></a>
<div class="rslazy rs-container" id="rs-container-8087647-15735" lazy-init="lemmars.tableAction(baidu.g('rs-8087647-15735'))"></div>
</div><script type="text/javascript">
        window.rsInsertData = window['rsInsertData'] || [];
        var rsdataList = {"foot":[{"fentryTableId":15735,"fentryTableName":"\u4e8c\u7ea7\u5b66\u79d1\u00b7\u6559\u80b2\u5b66","fentryTableType":1,"entryId":2393480,"templateId":0,"entryTitle":"\u6559\u80b2\u5b66\u4e13\u4e1a","isManual":0,"isExpand":1}],"top":[]};

        if (rsdataList.top || rsdataList.foot) {
            rsInsertData.push([8087647, rsdataList]);
        }
    </script>

<div class="clear"></div>
</div>