<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>海洋资源开发技术专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">海洋资源开发技术是开发和利用海洋资源的核心技术，在整个海洋技术系统中具有重要的支撑作用，对整个海洋资源的开发非常重要，因此教育部特设此专业。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
海洋资源开发技术专业
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
081903T
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
工学学士
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
工学
</dd>
<dt class="basicInfo-item name">实践教学</dt>
<dd class="basicInfo-item value">
海上实习，毕业论文等
</dd>
<dt class="basicInfo-item name">培养能力</dt>
<dd class="basicInfo-item value">
海洋工程评价方法、开发的能力等
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-1">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">专业简介</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">主干课程</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">核心能力</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">实践教学</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">发展前景</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub12037932_1"></a>
<a class="lemma-anchor " name="专业简介"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋资源开发技术专业</span>专业简介</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">海洋资源开发技术专业是为满足国家战略性新兴海洋相关产业发展对高素质人才的迫切需求，于2010年设置的专业，现已获批国家级特色专业。该专业依托中国海洋大学相关涉海专业的优势，主要学习开发和利用海洋资源的基本知识和核心技术，以海洋生物资源开发利用为特色。主要培养能掌握海洋生物资源、食品、药品、功能生物制品等基础知识，具有新产品设计与研发能力的高级专门应用型技术人才，或从事海洋生物资源开发相关的科学研究、政策规划与管理等工作的高级专门人才。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_12037932"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub12037932_2"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋资源开发技术专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">生物化学、海洋微生物工程、水产食品化学、海洋生物资源加工工厂设计、海洋资源原料学、海洋生物资源加工机械、海洋生物资源评估、海洋生物资源加工与利用工程、海洋生物资源产品质量控制、海洋资源综合利用技术专题、海洋管理概论等。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_12037932"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub12037932_3"></a>
<a class="lemma-anchor " name="核心能力"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋资源开发技术专业</span>核心能力</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1.掌握数学、物理的基本理论和基本知识；</div>
<div class="para" label-module="para">2.掌握海洋高技术的基本理论和基本知识，掌握海洋工程评价方法，具有从事海洋开发的基本能力；</div>
<div class="para" label-module="para">3.了解相近专业的一般原理和知识；</div>
<div class="para" label-module="para">4.熟悉我国海洋科技、环境保护、资源利用等方面的方针、政策和法规以及海洋资源开发技术与国民经济可持续发展战略的关系；</div>
<div class="para" label-module="para">5.了解海洋资源技术的发展动向，能跟踪国际海洋资源技术的发展方向；</div>
<div class="para" label-module="para">6.掌握资料查询、文献检索以及运用现代信息技术获取相关信息的基本方法；</div>
<div class="para" label-module="para">7.具有一定的实验设计，创造实验条件、归纳、整理、分析实验结果，撰写论文，参与学术交流的能力<sup>[3]</sup><a class="sup-anchor" name="ref_[3]_12037932"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub12037932_4"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋资源开发技术专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">包括海上实习，毕业论文等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub12037932_5"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋资源开发技术专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">海洋资源开发技术专业毕业生将学习到海洋水产、海洋油气开发、<a target="_blank">海底采矿</a>、海水淡化、海洋能开发等知识，成为能从事海洋高科技、海洋资源开发及海洋工程工作的高级专门人才。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_12037932"> </a>
</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-12037932-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_12037932" id="refIndex_1_12037932" name="refIndex_1_12037932" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">[本科] 海洋资源开发技术<span class="linkout"> </span></a>
<span class="site">．中国教育在线</span><span>[引用日期2016-02-16]</span></li><li class="reference-item " id="reference-[2]-12037932-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_12037932" id="refIndex_2_12037932" name="refIndex_2_12037932" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">海洋资源开发技术专业怎么样_主要课程_就业方向与前景<span class="linkout"> </span></a>
<span class="site">．大学生必备网</span><span>．2015-11-10</span><span>[引用日期2016-02-1]</span></li><li class="reference-item " id="reference-[3]-12037932-wrap">
<span class="index">3.</span>
<a class="gotop anchor" href="#ref_[3]_12037932" id="refIndex_3_12037932" name="refIndex_3_12037932" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">[本科] 海洋技术<span class="linkout"> </span></a>
<span class="site">．上海海洋大学</span><span>[引用日期2016-02-1]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>