<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>海洋工程与技术专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">海洋工程与技术专业培养具备<a data-lemmaid="3172368" target="_blank">海洋科学</a>的基本知识及海洋高新技术开发研究的能力，能从事海洋高科技、<a target="_blank">海洋资源</a>开发及<a data-lemmaid="2444366" target="_blank">海洋工程</a>的高级专门人才。</div><div class="para" label-module="para">该专业为2011年新增专业。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
海洋工程与技术专业
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
081902
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
工学学士
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
工学
</dd>
<dt class="basicInfo-item name">代表高校</dt>
<dd class="basicInfo-item value">
江苏科技大学
</dd>
<dt class="basicInfo-item name">学    科</dt>
<dd class="basicInfo-item value">
海洋工程类
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养要求</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">知识技能</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干课程</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">实践教学</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">就业方向</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">专业开设</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">开设学院</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub12135567_1"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋工程与技术专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业学生主要学习海洋高科技和海洋工程方面的基本理论和基本知识，受到海洋新技术的基本训练，具有从事海洋调查和海洋科学研究方面的基本能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub12135567_2"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋工程与技术专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1.掌握<a data-lemmaid="107037" target="_blank">数学</a>、物理、建筑方面的基本理论和基本知识；<br/>　　2.掌握海洋工程评价方法，具有从事海洋开发的基本能力；<br/>　　3.熟悉我国海洋工程、环境保护、资源利用等方面的方针、政策和法规以及海洋科技与国民经济可持续发展战略的关系；<br/>　　5.了解国际海洋工程技术的发展动向；<br/>　　6.掌握资料查询、文献检索以及运用现代信息技术获取相关信息的基本方法；<br/>　　7.具有一定的实验设计，创造实验条件、归纳、整理、分析实验结果，撰写论文，参与学术交流的能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub12135567_3"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋工程与技术专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">海洋科学导论，生物海洋学，海洋地质学，海洋调查与观测技术(含出海实习)等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub12135567_4"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋工程与技术专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">主要实践性教学环节：包括海上实习，毕业论文等，一般安排10周～12周。主要专业实验：海洋遥感，海洋地质勘探方法，信号与信息处理，海洋工程等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub12135567_5"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋工程与技术专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业的毕业生可到海洋工程设计、研究、建造、检验等部门从事海洋结构物的研究、设计、制造、检验、贸易工作，也可从事海洋油气开发以及航运管理、海上保险等，也可以到海洋开发、航务工程、船舶工程、道路与桥梁工程等相近专业部门工作。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub12135567_6"></a>
<a class="lemma-anchor " name="专业开设"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋工程与技术专业</span>专业开设</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">2010年3月<a target="_blank">浙江大学</a>海洋系积极响应教育部关于战略性新兴产业相关本科专业申报的通知，结合浙江大学自身特色和国家、浙江省的需求，申报了“海洋工程与技术”本科专业，2010年3月26日通过学校的专家论证，现已报<a target="_blank">教育部</a>备案审批。如顺利获批，将于2010年9月开始招收“海洋工程与技术”本科专业。为了保证后续工作的正常进行，同时也更科学、合理制定培养方案，2010年5月6日下午，海洋系邀请了国内相关院校、研究所的专家组成专家组对我系申报的新增专业培养方案进行论证。</div>
<div class="para" label-module="para">参加会议的有大连理工大学张日向教授、<a target="_blank">江苏科技大学</a>教务处尹群处长、国家海洋局第二海洋研究所张富元研究员、<a target="_blank">浙江工业大学</a>吴剑国教授、<a target="_blank">杭州电子科技大学</a>潘华辰教授、我校本科生院专业培养办公室副主任高红娟老师以及我系教学委员会成员共十四人。会议由分管教学工作的系副主任孙志林教授主持。</div>
<div class="para" label-module="para">海洋系副系主任<a target="_blank">叶瑛</a>教授作为专业负责人首先对专业设置的背景、专业今后的发展需求、专业培养目标等做了介绍，同时对培养方案和教学计划做了说明。冷建兴研究员对专业设置方向、发展模式和我系申报该专业的设想做了补充说明。</div>
<div class="para" label-module="para">在听取了叶瑛教授和冷建兴研究员的介绍后，专家组成员分别谈了自己的看法和意见。专家组成员首先肯定了我系申报的海洋工程与技术专业，认为这个专业非常新颖，符合国家对新兴产业的发展和需求，同时也对课程设置、专业方向等方面提出了非常中肯的意见和建议。</div>
<div class="para" label-module="para">此次会议专家组成员议论的非常热烈，最后形成了专家论证意见。 <sup>[1]</sup><a class="sup-anchor" name="ref_[1]_12135567"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub12135567_7"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋工程与技术专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">江苏： <a target="_blank">江苏科技大学</a><sup>[2]</sup><a class="sup-anchor" name="ref_[2]_12135567"> </a>
</div>
<div class="para" label-module="para">浙江：<a target="_blank">浙江大学</a>、<a target="_blank">杭州电子科技大学</a></div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-12135567-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_12135567" id="refIndex_1_12135567" name="refIndex_1_12135567" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">浙江大学<span class="linkout"> </span></a>
<span>[引用日期2010-07-28]</span></li><li class="reference-item " id="reference-[2]-12135567-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_12135567" id="refIndex_2_12135567" name="refIndex_2_12135567" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">江苏科技大学<span class="linkout"> </span></a>
<span class="site">．大学生必备网</span><span>．2014-04-11</span><span>[引用日期2016-02-18]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>