<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>水质科学与技术专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">水质科学与技术专业是研究水在社会循环过程中水质变化规律和水质控制技术的综合性交叉学科。水质问题是制约国民经济和社会可持续发展的重大问题。本专业是研究水在社会循环过程中水质变化规律和水质控制技术的综合性交叉学科。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
水质科学与技术专业
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
082507T
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
工学学士
</dd>
<dt class="basicInfo-item name">一级学科 </dt>
<dd class="basicInfo-item value">
工学
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养目标</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">知识技能</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">基本信息</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">主干课程</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_1">相近专业</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">发展前景</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">适合职位</a></span>
</li>
<li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">开设学院</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub3537252_1"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">水质科学与技术专业</span>培养目标</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">培养具有化学、化工、材料、电子、计算机、仪器仪表和自动控制等学科宽厚的理论基础、实验能力和专业知识，掌握各个工业领域的水质控制技术和水资源可持续利用技术，具备水处理工艺、设备和系统的设计、研究和开发能力，能在相关领域从事水质科学研究、水质工程规划、水处理系统设计、水质监测与控制、材料保护、水处理新技术、新设备、新材料、新工艺的开发，以及在相关企业从事生产运行管理的高级专门人才。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub3537252_2"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">水质科学与技术专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">通过学习，将具备以下几方面的能力：</div>
<div class="para" label-module="para">1. 具有扎实的自然科学、人文科学和社会科学基础，较强的计算机和外语应用能力；</div>
<div class="para" label-module="para">2. 较全面地掌握水质科学、化学、化工等方面的基础理论，系统掌握水处理理论与技术、金属腐蚀原理与防腐蚀技术、水质分析监测和水质工艺系统自动控制技术等方面的专业知识和实验技能，了解水质科学与技术领域的理论前沿及其新技术和新工艺的发展趋势；</div>
<div class="para" label-module="para">3．获得水质工程的规划和设计，水处理及水质调控系统的调试、运行和管理及水质分析监测等方面的基本能力，初步具备进行水质科学研究与技术开发的能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub3537252_3"></a>
<a class="lemma-anchor " name="基本信息"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">水质科学与技术专业</span>基本信息</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">专业名称：<a target="_blank">水质科学与技术专业</a></div>
<div class="para" label-module="para">修业年限：四年</div>
<div class="para" label-module="para">授予学位：工学学士</div>
<div class="para" label-module="para">专业代码：081003</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub3537252_4"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">水质科学与技术专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">无机化学、有机化学、分析化学、物理化学、水质科学基础、<a target="_blank">水化学</a>、水生态学、工程数学、<a target="_blank">工程力学</a>、流体力学、电工电子技术、计算机辅助设计、化工原理、水处理、核电站水质工程、水污染控制、材料保护、水质分析与监测技术、智能仪器仪表、自动控制原理、计算机控制技术、水处理设备自动化、水处理系统设计、计算机网络、水工业法学、水工业经济学等。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_3537252"> </a>
</div>
<div class="para" label-module="para">本专业的学生在学习过程中需要参加水质科学基础、水处理、金属腐蚀、仪表与程控、水质监测等实验，掌握教学大纲要求的实验技能。主要实践内容包括军训、生产劳动、金属工艺与材料加工实习、生产过程认识实习、专业综合实验、水处理系统设计、毕业实习、毕业论文（设计）。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_1"></a>
<a class="lemma-anchor " name="sub3537252_4_1"></a>
<a class="lemma-anchor " name="相近专业"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">水质科学与技术专业</span>相近专业</h3>
</div>
<div class="para" label-module="para"><a target="_blank">给排水科学与工程</a> 市政工程 <a target="_blank">环境工程</a> 安全工程 灾害防治工程 <a target="_blank">地下水科学与工程</a> <a target="_blank">环境科学与工程</a> 辐射防护与环境工程</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub3537252_5"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">水质科学与技术专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">毕业生可通过免试或考试继续攻读硕士学位，也可在电力、环境、市政、石油、化工、核工业、冶金、军工、电子、生物、制药、造纸、食品和饮料等行业，高等院校、科研院所、工矿企业、政府机构等部门从事教学、<a target="_blank">科学研究</a>、<a target="_blank">规划设计</a>、生产运行、<a target="_blank">施工监理</a>、<a target="_blank">经营管理</a>等工作。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub3537252_6"></a>
<a class="lemma-anchor " name="适合职位"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">水质科学与技术专业</span>适合职位</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">水质分析</a>、<a target="_blank">水质化验</a>、<a target="_blank">水质监测</a>、<a target="_blank">水质管理</a>、<a target="_blank">污水处理</a>、<a target="_blank">水处理</a>、水产病害技术、水质仪表销售</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub3537252_7"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">水质科学与技术专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">沈阳化工大学</a>（10149）、<a target="_blank">武汉大学</a>（10486）、<a target="_blank">南京工业大学</a>（10291）和南京工程学院</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-3537252-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_3537252" id="refIndex_1_3537252" name="refIndex_1_3537252" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">水质科学与技术<span class="linkout"> </span></a>
<span class="site">．高考网</span><span>[引用日期2016-02-11]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>