<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>假肢矫形工程专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">假肢矫形工程是应用现代工程学的原理和方法，为补偿、矫正或增强残疾人已缺失的、畸形的或功能减弱的身体部分或器官，使残疾人在可能的范围内最大限度地恢复功能或代偿功能和独立生活的应用性技术，是康复工程的主要内容之一。它是一门边缘性学科，涉及医学和工程学两大学科的若干专业，涵盖了<a target="_blank">解剖学</a>、人体生物力学、机械学、电子学、高分子材料科学等学科。</div><div class="para" label-module="para">假肢矫形工程专业作为健康科学领域中一个新兴的复合型、交叉型专业，涉及<a data-lemmaid="4195" target="_blank">康复医学</a>、<a target="_blank">生物医学工程</a>、<a target="_blank">机械学</a>、<a target="_blank">电子学</a>、<a data-lemmaid="152418" target="_blank">高分子化学</a>、<a target="_blank">材料学</a>及<a target="_blank">人文社会科学</a>等多种学科。注重培养具备康复医学、机电技术与材料科学、假肢矫形器设计与制作的基本理论，以及康复医学与工程技术相结合的基本能力，能在临床康复、假肢矫形工程领域从事研究、设计与技术服务的高级应用人才。</div><div class="para" label-module="para">2007年，中国首届25名假肢矫形工程专业本科大学生今天毕业，填补了中国生物医学工程专业教育领域的空白。这是首都医科大学2003年首次招生的全国第一届假肢矫形工程专业本科大学生。这批学子经过4年培养学习与专业训练，成为适应社会需要，具有良好的职业道德和专业水平的假肢矫形器制作师与企业管理人员。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
假肢矫形工程专业
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
082602T
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
工学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
<a target="_blank">工学</a>
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">设立背景</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">主干课程</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">人才培养</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">发展前景</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_1">发展意义</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_2">从业领域</a></span>
</li>
</ol><ol><li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_3">就业分析</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub3536926_1"></a>
<a class="lemma-anchor " name="设立背景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">假肢矫形工程专业</span>设立背景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">中国是一个人口大国，也是一个残疾人大国。全国共有各类残疾人8290多万，其中肢体残疾占30%，约75万人需要装配假肢或矫形器，但其中 74.4%尚未安装。原因是多方面的。首先，从事为肢残人服务的假肢与矫形装配的专业人员不足，中国假肢矫形行业从业人数不足5000人。</div>
<div class="para" label-module="para">第二、专业技术人员不到1000人，大多数一线技术人员是以师傅带徒弟的方式培养出来的。近年来，我国加大了对假肢矫形专业人员的培养，先后培养出一批技工、中专、大专层次技术人员，随着经济与技术的进步，残疾人福利及保障事业的发展，技工及大、中专层次的技术人员专业面窄，基础较差的缺点暴露出来，在实际工作中已不能满足社会的较高层次的需要。在为肢体残疾人研究开发和服务领域，高层次人才非常匮乏。</div>
<div class="para" label-module="para">假肢矫形工程高等教育专业在中国举办，这是适应发展残疾人事业的需要，是社会文明与进步的标志。</div>
<div class="para" label-module="para">假肢矫形工程专业本科教育得到国家民政部和中国残疾人联合会大力支持。首都医科大学生物医学工程学院的首届假肢矫形工程专业25名本科毕业生就业形势喜人。第二届假肢矫形工程专业31名本科大学生于2008年毕业。上海理工大学自2006年招收康复工程本科专业方向（含假肢矫形工程）学生30人，2013年开始招收假肢矫形工程本科专业学生。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub3536926_2"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">假肢矫形工程专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">高等数学、普通物理学、理论力学、材料力学、电路分析、电子技术基础、运动生物力学、机械原理、金属工艺学、C语言、正常人体形态学、矫形临床学、矫形外科学、矫形材料学、假肢学、矫形器学、康复工程、康复心理学等。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_3536926"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub3536926_3"></a>
<a class="lemma-anchor " name="人才培养"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">假肢矫形工程专业</span>人才培养</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">针对国内迫切需要假肢矫形器制作、研发和临床康复服务高级专业人才的实际情况，按照教育部本科生教育的基本要求，参照世界卫生组织和国际假肢矫形协会公布的职业假肢矫形师标准，专业培养目标明确定位于“培养具备康复医学、机电技术与材料科学、假肢矫形器设计与制作相关的基本理论以及康复医学与工程技术相结合的基本技能，能在临床康复、假肢矫形工程领域从事设计与技术服务的高级应用人才”。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_3536926"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub3536926_4"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">假肢矫形工程专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="4_1"></a>
<a class="lemma-anchor " name="sub3536926_4_1"></a>
<a class="lemma-anchor " name="发展意义"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">假肢矫形工程专业</span>发展意义</h3>
</div>
<div class="para" label-module="para">现代假肢矫形器已向生物信息化、智能化方向发展，气压（或液压）膝关节、电脑控制假肢、大脑神经控制外动力肌电假手、智能仿生假腿、CAD/CAM 在假肢矫形工程的应用，都要求举办高等教育，培养出高层次应用型和复合型的人才。</div>
<div class="para" label-module="para">确立假肢矫形工程学学科地位是改变中国假肢矫形器行业长期落后于世界先进水平、生产效益低下、产品质量差的状况，推进假肢矫形工程行业高技术产业，开发新技术新工艺新材料的最重要措施。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_2"></a>
<a class="lemma-anchor " name="sub3536926_4_2"></a>
<a class="lemma-anchor " name="从业领域"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">假肢矫形工程专业</span>从业领域</h3>
</div>
<div class="para" label-module="para">学生毕业后适合在国内外康复工程、生物医学工程等领域从事与假肢、矫形相关的科研、教学、医疗技术开发和技术管理等工作。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_3"></a>
<a class="lemma-anchor " name="sub3536926_4_3"></a>
<a class="lemma-anchor " name="就业分析"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">假肢矫形工程专业</span>就业分析</h3>
</div>
<div class="para" label-module="para">近年来，中国加大了对假肢矫形专业人员的培养，先后培养出一批技工、中专、大专层次技术人员。但是，随着经济与技术的进步，残疾人福利及保障事业的发展，技工及大、中专层次的技术人员专业面窄，基础较差的缺点暴露出来，在实际工作中已不能满足社会的较高层次的需要。</div>
<div class="para" label-module="para">因此，肢体残疾人研究开发和服务领域，高层次人才非常匮乏。全国共有各类残疾人8290多万，其中肢体残疾占30%，约75万人需要装配假肢或矫形器，然而，其中74.4%尚未安装。目前，中国从事为肢残人服务的假肢与矫形装配的专业人员不足，假肢矫形行业从业人数不足5000人，专业技术人员不到1000人，大多数一线技术人员是以师傅带徒弟的方式培养出来的。</div>
<div class="para" label-module="para">据介绍，2003年<a target="_blank">首都医科大学</a>生物医学工程学院为满足社会较高层次需要，首次招生第一届假肢矫形工程专业本科大学生。<a target="_blank">上海理工大学</a>2013年开始招收假肢矫形工程本科专业学生。</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-3536926-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_3536926" id="refIndex_1_3536926" name="refIndex_1_3536926" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">假肢矫形工程(本科类)<span class="linkout"> </span></a>
<span class="site">．阳光高考信息平台</span><span>[引用日期2014-09-5]</span></li><li class="reference-item " id="reference-[2]-3536926-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_3536926" id="refIndex_2_3536926" name="refIndex_2_3536926" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">假肢矫形工程专业<span class="linkout"> </span></a>
<span class="site">．首都医科大学</span><span>[引用日期2014-10-22]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>