<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>火灾勘查专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">火灾勘查专业是一门主要研究火灾事故调查理论、技术、方法、刑事办案的学科，该专业具有多学科相互交叉性，其理论性和实践性都很强。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
火灾勘查专业
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
Fire Investigation 
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
工学学士
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
083107TK
</dd>
<dt class="basicInfo-item name">主要课程</dt>
<dd class="basicInfo-item value">
火灾学、防火工程与技术
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
<a target="_blank">工学</a>
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">发展前景</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">培养目标</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">培养要求</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">授课方式</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">主要课程</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">就业方向</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">必备能力</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub145141_1"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">火灾勘查专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">随着火灾形势的日益严峻，火灾原因的复杂多样，特别是人们法律意识的提高，依法维护自身<a target="_blank">合法权益</a>不受侵害的意识不断增强，因当事人对火灾事故的原因、责任不服，在有效期内申请火灾原因重新认定和上访诉讼案件逐渐增多，而现阶段我国火灾勘查专业人才匮乏，给公安消防机构带来了很大压力，严重影响了我国<a target="_blank">消防</a>事业的发展进程。因此，现阶段，大力培养火灾勘查专业技术人员显得尤为重要。</div>
<div class="para" label-module="para">火灾勘查专业为公安消防部队培养基础理论扎实、业务素质高、实践能力强、富有<a target="_blank">创新精神</a>，从事火灾事故调查和刑事办案等方面工作的高级专门人才，能在公安、检察、国家安全等部门从事侦查工作、刑事执法工作、预防和控制犯罪以及侦查学教学、科研等方面工作。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_145141"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub145141_2"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">火灾勘查专业</span>培养目标</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">通过该课程的教学，要达到如下目的、完成如下任务：</div>
<div class="para" label-module="para">（一）学员通过学习火灾调查的基本理论和基础知识，能够基本掌握火灾调查的基本理论、基础知识、基本程序和基本方法。</div>
<div class="para" label-module="para">（二）通过理论教学和案例教学，培养学生观察和分析实际火灾现场的能力、理论联系实际的能力、辨证思维能力，全面提高学员的综合素质。</div>
<div class="para" label-module="para">（三）教学过程中努力培养学员的创新意识、科学的态度和良好的学风。 总之，通过本课程的教学，不仅仅使学员掌握火灾调查的基本理论、基础知识和基本技能，更重要的是着眼于培养学员的<a target="_blank">综合素质</a>和全面适应消防工作的能力和火灾事故调查的能力，使学员成为知识面宽、能力强、素质高、富有创新精神的新世纪火灾调查技术人才。</div>
<div class="para" label-module="para">教学的基本要求</div>
<div class="para" label-module="para">（一）通过本课程的教学，要求学员全面掌握火灾现场勘查、现场询问、火灾损失核定、火灾原因分析认定、火灾责任分析认定和典型火灾事故调查等的基本理论、基本程序和基本方法。</div>
<div class="para" label-module="para">（二）通过本课程教学使学员熟悉火灾调查的主要法律依据，火灾发生、蔓延的规律，火灾现场形成的基本规律。</div>
<div class="para" label-module="para">（三）通过本课程教学使学员了解火灾调查工作在消防工作中的作用、地位，国内外火灾调查科学研究状况，目前国内发生的重特大火灾的原因、调查过程和调查方法等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub145141_3"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">火灾勘查专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">比较系统地掌握该专业的基本理论、基础知识和基本技能，重点掌握火灾现场勘查、火灾刑事案件侦查、火场<a target="_blank">图像技术</a>、火灾<a target="_blank">物证技术鉴定</a>等知识和技能，熟悉消防监督的政策、法规和程序，具有独立从事火灾事故调查和办理刑事案件的能力。掌握一门外语，能够比较熟练地阅读本专业的外文书刊和资料，具有一定的外语听、说、写能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub145141_4"></a>
<a class="lemma-anchor " name="授课方式"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">火灾勘查专业</span>授课方式</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业主要采用课堂理论讲授、课堂演示、案例分析讨论相结合的授课方式。教学过程中利用多媒体、电化教学手段，以启发式教学法为主。通过火灾案例教学，使学生对火灾现场、现场勘查、询问证人、分析认定起火原因和火灾责任，以及典型火灾的调查理论和调查方法有更深入的认识和理解，以此培养学生综合运用火灾调查理论知识和解决实际问题的能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub145141_5"></a>
<a class="lemma-anchor " name="主要课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">火灾勘查专业</span>主要课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">行政法与行政诉讼法、火灾学、防火工程与技术、火灾证据学、火灾专案调查、火场图像技术、火灾物证技术鉴定、火灾现场勘查、火灾刑事案件侦查。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub145141_6"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">火灾勘查专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">能在公安、检察、国家安全等部门从事侦查工作、刑事执法工作、预防和控制犯罪以及侦查学教学、科研等方面工作的高级专门人才<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_145141"> </a>
。</div>
<div class="para" label-module="para">开设院校：<a target="_blank">中国人民武装警察部队学院</a></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub145141_7"></a>
<a class="lemma-anchor " name="必备能力"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">火灾勘查专业</span>必备能力</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1.掌握火灾调查的基本理论和基础知识；</div>
<div class="para" label-module="para">2.掌握火灾调查的基本理论、基础知识、基本程序和基本方法；<br/>　　3.熟悉火灾调查的主要法律依据，火灾发生、蔓延的规律，火灾现场形成的基本规律；<br/>　　4.掌握火灾现场勘查、现场询问、火灾损失核定、火灾原因分析认定、火灾责任分析认定和典型火灾事故调查等的基本理论、基本程序和基本方法；<br/>　　5.掌握资料查询、文献检索以及运用现代信息技术获取相关信息的基本方法；<br/>　　6.具有一定的实验设计，创造实验条件、归纳、整理、分析实验结果，撰写论文，参与学术交流的能力。</div>
<div class="rs-container-foot">
<a name="rs-1"></a>
<a class="anchor-2" name="rs_145141_15684"></a>
<div class="rslazy rs-container" id="rs-container-145141-15684" lazy-init="lemmars.tableAction(baidu.g('rs-145141-15684'))"></div>
<a class="anchor-2" name="rs_145141_15721"></a>
<div class="rslazy rs-container" id="rs-container-145141-15721" lazy-init="lemmars.tableAction(baidu.g('rs-145141-15721'))"></div>
</div><script type="text/javascript">
        window.rsInsertData = window['rsInsertData'] || [];
        var rsdataList = {"foot":[{"fentryTableId":15684,"fentryTableName":"\u516c\u5b89\u5b66\u7c7b\u4e13\u4e1a\u5217\u8868","fentryTableType":0,"entryId":254456,"templateId":393,"entryTitle":"\u516c\u5b89\u5b66","isManual":0,"isExpand":1},{"fentryTableId":15721,"fentryTableName":"\u4e8c\u7ea7\u5b66\u79d1\u00b7\u516c\u5b89\u5b66","fentryTableType":1,"entryId":2393477,"templateId":0,"entryTitle":"\u516c\u5b89\u5b66\u7c7b\u4e13\u4e1a","isManual":0,"isExpand":1}],"top":[]};

        if (rsdataList.top || rsdataList.foot) {
            rsInsertData.push([145141, rsdataList]);
        }
    </script>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-145141-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_145141" id="refIndex_1_145141" name="refIndex_1_145141" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">火灾勘查专业就业形势分析<span class="linkout"> </span></a>
<span class="site">．高考网</span><span>[引用日期2016-02-1]</span></li><li class="reference-item " id="reference-[2]-145141-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_145141" id="refIndex_2_145141" name="refIndex_2_145141" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">中国人民武装警察部队学院本科专业介绍<span class="linkout"> </span></a>
<span class="site">．新浪教育</span><span>[引用日期2016-02-1]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>