<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>抢险救援指挥与技术专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">抢险救援指挥与技术专业主要培养熟悉我国公安工作的方针政策和相关的法律法规，能在公安消防部队从事灾害事故救援、灭火救援组织指挥等方面工作的高级技术应用性专门人才。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
抢险救援指挥与技术专业
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
Rescue command and technology
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
083106TK
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
工学学士
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
<a target="_blank">工学</a>
</dd>
<dt class="basicInfo-item name">就业目标</dt>
<dd class="basicInfo-item value">
公安消防部队
</dd>
<dt class="basicInfo-item name">开设学院</dt>
<dd class="basicInfo-item value">
中国人民武装警察部队学院
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">发展前景</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">培养要求</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">知识技能</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">主干课程</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">开设学院</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">就业目标</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub8006469_1"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">抢险救援指挥与技术专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业主要培养在公安消防基层部队从事灾害应急救援、组织指挥以及执勤训练、<a target="_blank">管理教育</a>等方面工作的应用型高级专门人才。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_8006469"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub8006469_2"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">抢险救援指挥与技术专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业学生主要学习<a target="_blank">抢险救援</a>指挥与技术方面的基本理论和知识，受到相应的专业训练，具有抢险救援指挥与技术方面的基本技能。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_8006469"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub8006469_3"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">抢险救援指挥与技术专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1.掌握抢险救援指挥与技术方面的基本理论和知识；<br/>　　2.了解抢险救援指挥与技术方面最新动态；<br/>　　3.了解相近专业的一般原理和知识；<br/>　　4.了解抢险救援指挥与技术的法律法规；<br/>　　5.掌握资料查询、文献检索以及运用现代信息技术获取相关信息的基本方法；<br/>　　6.具有一定的<a data-lemmaid="6871078" target="_blank">实验设计</a>，创造实验条件、归纳、整理、分析实验结果，撰写论文，参与<a target="_blank">学术交流</a>的能力。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_8006469"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub8006469_4"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">抢险救援指挥与技术专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">专业主干课程与主要实践环节：灾害<a target="_blank">抢险救援</a>技术、抢险救援技术训练、救生救助技术训练、灭火救援组织指挥方法、灾害抢险救援行动概论、现场医疗<a target="_blank">急救技术</a>、部队管理、技能训练、<a data-lemmaid="22645" target="_blank">公安</a><a target="_blank">消防</a>部队实习、社会调查等，以及各校的主要特色课程和实践环节。<sup>[3]</sup><a class="sup-anchor" name="ref_[3]_8006469"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub8006469_5"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">抢险救援指挥与技术专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">中国人民武装警察部队学院</a>。<sup>[4]</sup><a class="sup-anchor" name="ref_[4]_8006469"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub8006469_6"></a>
<a class="lemma-anchor " name="就业目标"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">抢险救援指挥与技术专业</span>就业目标</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">公安消防部队</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-8006469-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_8006469" id="refIndex_1_8006469" name="refIndex_1_8006469" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">抢险救援指挥与技术<span class="linkout"> </span></a>
<span class="site">．高考派</span><span>[引用日期2015-05-19]</span></li><li class="reference-item " id="reference-[2]-8006469-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_8006469" id="refIndex_2_8006469" name="refIndex_2_8006469" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">2014抢险救援指挥与技术专业解读及开设课程<span class="linkout"> </span></a>
<span class="site">．新东方网</span><span>[引用日期2016-02-11]</span></li><li class="reference-item " id="reference-[3]-8006469-wrap">
<span class="index">3.</span>
<a class="gotop anchor" href="#ref_[3]_8006469" id="refIndex_3_8006469" name="refIndex_3_8006469" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">王儒林巴音朝鲁指挥调度隧道坍塌事故抢险救援工作<span class="linkout"> </span></a>
<span class="site">．国务院网</span><span>[引用日期2016-02-1]</span></li><li class="reference-item " id="reference-[4]-8006469-wrap">
<span class="index">4.</span>
<a class="gotop anchor" href="#ref_[4]_8006469" id="refIndex_4_8006469" name="refIndex_4_8006469" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">2014-2015年中国抢险救援指挥与技术专业大学竞争力排行榜<span class="linkout"> </span></a>
<span class="site">．高考网</span><span>[引用日期2016-02-11]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>