<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>动植物检疫专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para"><a target="_blank">动植物检疫专业</a>培养具备动植物检验检疫方面的基本理论知识和技能，能在国家各级检验检疫部门、动植物产品卫生安全与监督机构、农畜产品生产销售等企业从事动植物病虫害<a target="_blank">检验检疫</a>及防治、农畜产品卫生安全检测、动植物保护等方面的技术、管理与推广的高级技术人才。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
<a target="_blank">动植物检疫专业</a>
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
090403T
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
农学或理学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
<a target="_blank">农学</a>
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-1">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养规格</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">主干课程</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">发展前景</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#3_1">就业方向</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#3_2">就业前景</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">开设院校</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub2498557_1"></a>
<a class="lemma-anchor " name="培养规格"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">动植物检疫专业</span>培养规格</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1、热爱社会主义祖国，拥护中国共产党的领导，掌握马列主义、毛泽东思想和邓小平理论的基本原理；愿为社会主义现代化建设服务，为人民服务，为“三农”服务，有为国家富强、民族昌盛而奋斗的志向和责任感；具有敬业爱岗、艰苦奋斗、热爱劳动、遵纪守法、团结协作的品质；具有良好的思想品德、社会公德和职业道德。</div>
<div class="para" label-module="para">2、本专业学生主要学习有机化学、分析化学、生物化学、<a target="_blank">病毒学</a>、<a data-lemmaid="375242" target="_blank">微生物学</a>、<a data-lemmaid="1173175" target="_blank">植物病理学</a>、昆虫学、<a target="_blank">兽医病理学</a>、动物卫生检验学、植物检疫、食品卫生检验技术、动植物检验检疫法规等方面的基本理论和基本知识，受到动植物检疫技术、化学分析实验、仪器分析实验、组织切片技术、计算机应用等方面的基本训练，具有动植物生理病理、化验、检测等方面的基本能力。</div>
<div class="para" label-module="para">毕业生应获得以下几方面的知识和能力：</div>
<div class="para" label-module="para">①掌握数学、物理、化学 、<a data-lemmaid="80506" target="_blank">生命科学</a>的基本理论基础知识；</div>
<div class="para" label-module="para">②掌握有害生物的鉴定、识别、监测和控制等方面的方法和技能；</div>
<div class="para" label-module="para">③掌握动植物生理病理、化验、检测、病虫害防治的基本能力；</div>
<div class="para" label-module="para">④掌握文献检索、资料查询的基本方法，具有一定的科学研究和实际工作能力；</div>
<div class="para" label-module="para">⑤熟悉国家关于动植物防疫检疫、动植物进出口检疫、农畜产品卫生安全流通等方面的方针、政策和法规；</div>
<div class="para" label-module="para">⑥了解动植物检验检疫理论与技术最新发展动态，了解相近专业的一般原理和知识；</div>
<div class="para" label-module="para">⑦掌握一门外国语，熟练运用计算机；</div>
<div class="para" label-module="para">⑧有较强的调查研究与决策、组织与管理、口头与文字表达能力，具有创新意识、独立获取新知识和信息处理能力。</div>
<div class="para" label-module="para">3、具有一定的体育和军事基本知识，掌握科学锻炼身体的基本技能，养成良好的体育锻炼和卫生习惯，受到必要的军事训练，达到国家规定的大学生体育训练合格标准，具备健全的心理和健康的体魄，能够履行建设国家和保卫祖国的神圣义务。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub2498557_2"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">动植物检疫专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a data-lemmaid="3491" target="_blank">有机化学</a>、<a data-lemmaid="4821" target="_blank">分析化学</a>、<a target="_blank">化学实验</a>、普通化学、农药学基础、组织切片技术、植物生理学、<a data-lemmaid="466073" target="_blank">生物化学</a>、微生物学、植物病理学、<a target="_blank">昆虫学</a>、<a target="_blank">动物病理学</a>、动物卫生检验学、植物检验检疫、食品卫生检验技术<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_2498557"> </a>
</div>
<div class="para" label-module="para">修业年限：3～6年</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub2498557_3"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">动植物检疫专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="3_1"></a>
<a class="lemma-anchor " name="sub2498557_3_1"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">动植物检疫专业</span>就业方向</h3>
</div>
<div class="para" label-module="para">动物医学的就业前景令人看好，动物医学专业的学生<a target="_blank"><b>毕业</b></a>后可从事畜牧兽医行政管理、进出口动物及其产品的检验、肉品卫生检验、饲料工业、食品安全、环境保护、畜禽疾病的诊断与防治、伴侣动物医疗保健、实验动物、比较医学、公共卫生及生物学领域等方面的工作。 动植物检验专<a target="_blank"><b>毕业生</b></a>能胜任各级政府部门、高校、研究院所、进出境和国内各级动植物检疫机构、兽医卫生监督检验机构、植物检疫机构、食品卫生监督检验机构、企业集团的行政管理、教学科研、新产品研制、商品监督检验、食品生产的卫生管理监督及产品质量检测、科技推广等工作。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3_2"></a>
<a class="lemma-anchor " name="sub2498557_3_2"></a>
<a class="lemma-anchor " name="就业前景"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">动植物检疫专业</span>就业前景</h3>
</div>
<div class="para" label-module="para">68%的动植物检疫专业学生毕业1年后的薪酬在2000元以下，薪酬在3000元以上的比例为14%。按照十分制计算，动植物检疫专业毕业1年后的薪酬指数为3.49，与其他专业相比，薪酬属于中等。动植物检疫专业毕业生认为该专业发展前景很好和比较好的比例为35%，13%的毕业生认为该专业发展前景为“不太好”或“很不好”。按照10分制进行计算，该专业的发展前景指数为6.66，与其他专业相比，发展前景指数为中等偏上。动植物检疫专业就业面非常狭窄，毕业生只能去出入境检验检疫局或者农业部系统。动植物检疫专业本科毕业生就业相对较困难，建议继续深造。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_2498557"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub2498557_4"></a>
<a class="lemma-anchor " name="开设院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">动植物检疫专业</span>开设院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><b>江苏</b></div>
<div class="para" label-module="para"><a target="_blank">扬州大学</a>、<a target="_blank">淮海工学院</a></div>
<div class="para" label-module="para"><b>浙江</b></div>
<div class="para" label-module="para"><a target="_blank">中国计量大学</a></div>
<div class="para" label-module="para"><b>安徽</b></div>
<div class="para" label-module="para"><a target="_blank">安庆师范学院</a>、<a target="_blank">安徽农业大学</a>、<a target="_blank">安徽科技学院</a></div>
<div class="para" label-module="para"><b>甘肃</b></div>
<div class="para" label-module="para"><a target="_blank">甘肃民族师范学院</a></div>
<div class="para" label-module="para"><b>四川</b></div>
<div class="para" label-module="para"><a target="_blank">乐山师范学院</a>、<a target="_blank">四川农业大学</a></div>
<div class="para" label-module="para"><b>福建</b></div>
<div class="para" label-module="para"><a target="_blank">集美大学</a></div>
<div class="para" label-module="para"><b>江西</b></div>
<div class="para" label-module="para"><a target="_blank">江西农业大学</a></div>
<div class="para" label-module="para"><b>内蒙古</b></div>
<div class="para" label-module="para"><a target="_blank">内蒙古农业大学</a></div>
<div class="para" label-module="para"><b>河北</b></div>
<div class="para" label-module="para"><a target="_blank">河北农业大学</a>、<a target="_blank">河北北方学院</a>、<a target="_blank">河北农业大学现代科技学院</a></div>
<div class="para" label-module="para"><b>山西</b></div>
<div class="para" label-module="para"><a target="_blank">山西农业大学</a></div>
<div class="para" label-module="para"><b>山东</b></div>
<div class="para" label-module="para"><a target="_blank">山东农业大学</a></div>
<div class="para" label-module="para"><b>辽宁</b></div>
<div class="para" label-module="para"><a target="_blank">沈阳农业大学</a>、<a target="_blank">辽宁医学院</a></div>
<div class="para" label-module="para"><b>湖南</b></div>
<div class="para" label-module="para"><a target="_blank">湖南农业大学</a>、<a target="_blank">湖南农业大学东方科技学院</a></div>
<div class="para" label-module="para"><b>河南</b></div>
<div class="para" label-module="para"><a target="_blank">河南农业大学</a>、<a target="_blank">河南科技大学</a>、<a target="_blank">河南科技学院</a></div>
<div class="para" label-module="para"><b>新疆</b></div>
<div class="para" label-module="para"><a target="_blank">新疆农业大学</a></div>
<div class="para" label-module="para"><b>吉林</b></div>
<div class="para" label-module="para"><a target="_blank">吉林农业科技学院</a></div>
<div class="para" label-module="para"><b>云南</b></div>
<div class="para" label-module="para"><a target="_blank">云南农业大学</a></div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-2498557-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_2498557" id="refIndex_1_2498557" name="refIndex_1_2498557" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">动植物检疫<span class="linkout"> </span></a>
<span class="site">．高考网</span><span>[引用日期2016-02-1]</span></li><li class="reference-item " id="reference-[2]-2498557-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_2498557" id="refIndex_2_2498557" name="refIndex_2_2498557" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">动植物检疫专业就业方向与就业前景分析<span class="linkout"> </span></a>
<span class="site">．大学生必备网</span><span>[引用日期2016-02-8]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>