<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>放射医学专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para"><a data-lemmaid="3806543" target="_blank">放射医学</a>是<a target="_blank">医学</a>中的一门<a target="_blank">学科</a>，其主要<a data-lemmaid="33127" target="_blank">任务</a>是研究<a target="_blank">电离辐射</a>对人体的作用、<a target="_blank">机制</a>、<a target="_blank">损伤</a>与<a target="_blank">修复</a>的<a target="_blank">规律</a>，放射损伤的<a target="_blank">诊断</a>、<a target="_blank">治疗</a>和<a target="_blank">预防</a>，为放射性工作人员的卫生防护、医学监督和保健工作提供理论依据和措施。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_6549964"> </a>
</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
<a target="_blank">放射医学专业</a>
</dd>
<dt class="basicInfo-item name">所属门类</dt>
<dd class="basicInfo-item value">
医学类
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">修业年限</dt>
<dd class="basicInfo-item value">
 5年
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
医学学士
</dd>
<dt class="basicInfo-item name">学科代码</dt>
<dd class="basicInfo-item value">
100206TK
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养目标</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">培养要求</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">知识技能</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">主干课程</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">发展前景</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">相近专业</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">开设院校</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">院校排名</a></span>
</li>
<li class="level1">
<span class="index">9</span>
<span class="text"><a href="#9">医学专业代码</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub6549964_1"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">放射医学专业</span>培养目标</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">培养适应我国社会主义现代化建设实际需要的，德智体全面发展的，具有创新精神和系统放射医学理论知识与实际能力的高级专门人才。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub6549964_2"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">放射医学专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">学生主要学习基础医学、临床医学、放射医学的基础知识；用放射诊断、核素诊断、影像诊断等各种诊断技术进行疾病诊断，并掌握其基本理论、方法和技能；应用γ射线、深部X射线、放射性核素等各种射线进行诊断及放射治疗，并掌握其基本理论、方法和技能；放射损伤及放射病的诊治技术；放射防护的基本理论、方法和技能；医学科学研究的初步能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_6549964"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub6549964_3"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">放射医学专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1.掌握基础医学、临床医学、放射医学的基本理论、基本知识；<br/>　　2.掌握放射医学及计算机的基本理论和操作技能；<br/>　　3.具有运用放射医学诊断及防治疾病的能力；<br/>　　4.熟悉有关放射医学方针、政策和方法；<br/>　　5.了解放射医学各专业分支的理论前沿和发展动态；<br/>　　6.掌握文献检索、资料查询、计算机应用的基本方法，具有一定的科学研究和实际工作能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_6549964"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub6549964_4"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">放射医学专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">解剖学、组织与胚胎学、<a target="_blank">病原学</a>、<a data-lemmaid="1299517" target="_blank">免疫学</a>、生物化学、<a target="_blank">生理学</a>、<a data-lemmaid="5615392" target="_blank">病理学</a>、药理学、<a target="_blank">临床医学导论</a>、<a data-lemmaid="1020239" target="_blank">内科学</a>、<a target="_blank">外科学</a>、<a data-lemmaid="3432" target="_blank">预防医学</a>、放射医学及防护、<a target="_blank">影像诊断学</a>、<a target="_blank">肿瘤放射治疗学</a>、<a target="_blank">核医学</a>。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_6549964"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub6549964_5"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">放射医学专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">毕业后能够从事放射医学及防护、放射病诊断治疗、核医学和医学影像诊断等工作。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_6549964"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub6549964_6"></a>
<a class="lemma-anchor " name="相近专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">放射医学专业</span>相近专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">临床医学（100301）、麻醉学（100302*）、医学检验（100304*）、放射医学（100305W）、眼视光学（100306W）、康复治疗学（100307W）、精神医学（100308W）、医学技术（100309W）、听力学（100310W）、医学实验学（100311W）、医疗美容技术（100312S）、医学影像技术（630403）。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub6549964_7"></a>
<a class="lemma-anchor " name="开设院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">放射医学专业</span>开设院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">苏州大学</a>、<a target="_blank">北京大学</a>、<a target="_blank">清华大学</a>、<a target="_blank">复旦大学</a>、<a target="_blank">吉林大学</a>、<a target="_blank">东北大学</a>、<a target="_blank">第二军医大学</a>、<a target="_blank">南京医科大学</a>、<a data-lemmaid="415371" target="_blank">南华大学</a>等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub6549964_8"></a>
<a class="lemma-anchor " name="院校排名"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">放射医学专业</span>院校排名</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<table class="table-view log-set-param" log-set-param="table_view" width="100%"><caption><b>放射医学专业排名<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_6549964"> </a>
</b></caption><tr><th><b>排 名</b></th><th><b>学校名称</b></th><th><b>星 级</b></th><th><b>重点学科</b></th><th><b>博士点</b></th><th><b>开此专业学校数</b></th></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">1</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">苏州大学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">5★</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">1</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">1</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">15</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">2</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">复旦大学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">4★</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">1</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">1</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">15</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">3</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">北京大学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">4★</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">0</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">1</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">15</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">4</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">南京医科大学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">3★</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">0</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">0</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">15</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">5</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">南方医科大学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">3★</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">0</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">0</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">15</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">6</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">吉林大学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">3★</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">0</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">0</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">15</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">7</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">重庆医科大学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">3★</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">0</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">0</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">15</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">8</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">武汉大学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">3★</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">0</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">0</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">15</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">9</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">中南大学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">2★</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">0</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">0</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">15</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">青岛大学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">2★</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">0</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">0</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">15</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">11</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">郑州大学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">2★</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">0</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">0</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">15</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">12</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">安徽医科大学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">2★</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">0</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">0</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">15</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">13</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">南通大学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">0★</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">0</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">0</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">15</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">14</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">河北医科大学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">0★</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">0</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">0</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">15</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">15</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">济南大学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">0★</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">0</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">0</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">15</div>
</td></tr></table><div class="anchor-list">
<a class="lemma-anchor para-title" name="9"></a>
<a class="lemma-anchor " name="sub6549964_9"></a>
<a class="lemma-anchor " name="医学专业代码"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">放射医学专业</span>医学专业代码</h2>
<a class="edit-icon j-edit-link" data-edit-dl="9"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">医学类专业代码概览</div>
<table class="table-view log-set-param" log-set-param="table_view" width="658"><tr><td align="center" height="0" rowspan="19" valign="middle"><div class="para" label-module="para"><b>医学类</b></div>
</td><td align="center" valign="middle"><a target="_blank">基础医学</a></td><td align="center" valign="middle"><div class="para" label-module="para">100101</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">预防医学</a></div>
</td><td align="center" valign="middle">100201　</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">卫生检验</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100202</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">妇幼保健医学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100203</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">营养学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100204</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">临床医学</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100251</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">麻醉学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100252</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">医学影像学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100253</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">医学检验</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100254</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">放射医学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100305</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">眼视光学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100306</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">康复治疗学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100307</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">精神医学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100308</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">医学技术</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100309</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">听力学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100310</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">医学实验学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100311</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">医学美容技术</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100312</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">口腔医学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100401</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">口腔修复工艺学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100402</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">中医学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100501</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">针灸推拿学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100502</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">蒙医学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100503</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">藏医学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100504</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">中西医临床医学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100505</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">维医学</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100506</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">法医学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100601</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">护理学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100701</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">药学</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100801</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">中药学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100802</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">药物制剂</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100803</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">中草药栽培与鉴定</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100804</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">藏药学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100805</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">中药资源与开发</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100806</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">应用药学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100807</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">海洋药学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100809</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">药事管理</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100810</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">蒙药学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">100811</div>
</td><td align="center" valign="middle">　</td><td align="center" valign="middle">　</td></tr></table><dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-6549964-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_6549964" id="refIndex_1_6549964" name="refIndex_1_6549964" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">放射医学<span class="linkout"> </span></a>
<span class="site">．高考派</span><span>[引用日期2015-05-19]</span></li><li class="reference-item " id="reference-[2]-6549964-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_6549964" id="refIndex_2_6549964" name="refIndex_2_6549964" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">2011-2012年研究生教育分专业排行榜：放射医学<span class="linkout"> </span></a>
<span class="site">．中国教育在线</span><span>[引用日期2013-10-30]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>