<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>哈医学专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">哈医学专业培养系统掌握现代医学和哈萨克医学基本理论、基本知识和基本技能，具有对临床常见病、多发病的临床诊疗能力，能从事哈萨克医学临床、教学、预防工作，符合民族区域医疗需求，继承和发扬哈萨克医学传统的实用型医学本科人才。</div><div class="para" label-module="para">哈医学是新开设的专业，也是相对冷门的专业，考生在报考时要慎重。哈医学主要实践教学环节哈医院见习、综合性医院见习、毕业实习等。培养能够从事哈萨克医学临床、教学、预防工作，符合民族区域需求，集成和发扬哈萨克医学传统的实用性医学本科人才。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
哈医学专业
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
Ha medical specialty
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
100507K
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
医学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
五年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
医学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">专业解析</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">培养要求</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干课程</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">知识能力</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">相近专业</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">开设学院</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">就业方向</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub14525359_1"></a>
<a class="lemma-anchor " name="专业解析"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">哈医学专业</span>专业解析</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">我国的哈萨克族因特定的地理气候等自然因素拥有丰富的药物资源，如麻黄、一枝蒿、侧柏叶、岩白菜、青兰、荨麻草、甘草等，马背民族文化造就了哈萨克特殊医疗体系，哈萨克医学。2011年新疆医科大学招收30名哈医学本科生，代表哈萨克医学正式走入了高校教学。</div>
<div class="para" label-module="para">哈医学以阴阳学作为理论基础，运用阴阳学说，解释和说明人体的生理功能、解剖、病理变化、病因病机、药物性味，并指导临床诊断和治疗。如哈医认为人体每个脏器器宫都有其阴阳属性，外在十二器官如毛孔、皮肤、耳、舌、眼、鼻等为阳，而内在的十二脏器如肺、脑、心、腺体（淋巴）、骨、肝等为阴，阳性器官也有阳中之阴，阴性脏器也有阴中之阳。</div>
<div class="para" label-module="para">学习哈医学，要掌握独特的诊断方法，主要包括望、嗅、听和问、触、切。医者通过望诊，全面观察病人的形、态、神、色等；凭嗅觉器官嗅病人身上的异常气味：凭听觉听异常声音；用切按脉搏和病变部位；仔细询问病情发生的时间地点和发展情况、现在的症状和与疾病有关的病史。另外，学生还要熟悉哈医学常用的500多种药物，以及独特的治疗方法，如药浴、蒸薰洗疗法、放血疗法、羊油疗法等。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_14525359"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub14525359_2"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">哈医学专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业学生主要学习哈医学基本理论和基础知识以及一定的现代医学基本理论知识，受到哈医临床操作和辨证施治的基本训练，具有运用哈医防治常见病、多发病的基本能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub14525359_3"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">哈医学专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">哈萨克族医学概论、哈医医学史、哈医药物学、哈医方剂学、哈医二十四脏器学、哈医药志、哈医诊断学、哈医骨伤学、哈医药浴疗法学、哈医专业汉语。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_14525359"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub14525359_4"></a>
<a class="lemma-anchor " name="知识能力"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">哈医学专业</span>知识能力</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1.掌握哈医基础理论、基本知识和基本技能；<br/>　　2.掌握运用哈医辨证施治的基本能力；<br/>　　3.掌握必要的现代医学基本理论和基本知识；<br/>　　4.熟悉国家及民族医药卫生工作方针、政策和法规；<br/>　　5.了解哈医学理论与学术的发展动态；<br/>　　6.掌握文献检索、资料查询的基本方法，具有一定的科学研究和实际工作能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub14525359_5"></a>
<a class="lemma-anchor " name="相近专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">哈医学专业</span>相近专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">中医学、中药学、中药制药、中草药栽培与鉴定。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_14525359"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub14525359_6"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">哈医学专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">新疆医科大学、阿勒泰地区卫生学校<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_14525359"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub14525359_7"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">哈医学专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">哈医学毕业学生主要职业发展方向有三个：</div>
<div class="para" label-module="para">1.医院医生、医药工作人员 阿勒泰地区哈萨克医医院是国内目前唯一一所哈萨克医医院，是哈医学毕业生实践所学的重要场所。可以从事处方治疗、药物开发、药物处理工艺的研究工作，但这些工作需要丰富的经验积累，刚毕业的本科生一般无法胜任。</div>
<div class="para" label-module="para">2.研究人员 哈萨克医学的发展还不十分完善，大量的药方、药物需要收集、整理、实验验证，毕业生可以从基础工作做起，如民间访问、文字整理。哈萨克医学研究所、伊犁哈萨克自治州哈医药学会、阿勒泰地区哈萨克医药研究委员会是选择之一。另外，还可以拜访著名的哈医师，薪尽火传，承袭前人衣钵。</div>
<div class="para" label-module="para">3.教学工作 哈医学专业才起步，但阿勒泰地区卫生学校（专科）已经筹备建立，该专业的毕业生可以从事教学研究工作。</div>
<div class="para" label-module="para">4.私人诊所哈医学毕业生可以在考取医师执业资格后，开设诊所或者加入其他私人诊所，提供哈医药和独特的治疗。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_14525359"> </a>
</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-14525359-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_14525359" id="refIndex_1_14525359" name="refIndex_1_14525359" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">你了解哈萨克族的文化吗？哈医学专业（中医学类）<span class="linkout"> </span></a>
<span class="site">．搜狐网</span><span>．2016-01-16</span><span>[引用日期2016-02-17]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>