<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>藏医学专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para"><a target="_blank">藏医学</a>专业培养具备藏医学基础理论知识和临床操作技能旨以及认药、制药、用药等方面的知识和能力，能在藏医院、藏药厂及藏医药学的研究领域和有关单位从事藏医医疗、教学、科研及藏药开发工作的藏医学高级专门人才。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_146355"> </a>
</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
藏医学专业
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
Tibetan Medicine
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
630105
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
五年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
医药卫生大类
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">发展历史</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#1_1">发展早期</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#1_2">发展前期</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#1_3">发展中期</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#1_4">发展现状</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">培养要求</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">知识技能</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">主干课程</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">就业方向</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">就业情况</a></span>
</li>
<li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">开设学院</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub146355_1"></a>
<a class="lemma-anchor " name="发展历史"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">藏医学专业</span>发展历史</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1_1"></a>
<a class="lemma-anchor " name="sub146355_1_1"></a>
<a class="lemma-anchor " name="发展早期"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">藏医学专业</span>发展早期</h3>
</div>
<div class="para" label-module="para">藏医藏药是祖国医药学宝库的一个组成部分，它历史悠久，内容丰富，是藏族广大人民在同疾病作斗争的过程中逐渐积累起来的宝贵经验，在漫长的历史发展过程中，逐步地形成了具有青藏高原药物特点和独特理论，为民族的<a target="_blank">繁衍生息</a>作出了巨大的历史贡献。在封建农奴制度下的旧西藏，藏族医药事业发展受到了很大阻碍，几乎濒临绝境。</div>
<div class="para" label-module="para">西藏解放后，党和人民政府十分关心和重视民族医药卫生工作，使藏族医药事业得以迅速发展。但是，在十年动乱中，它曾一度遭到冲击和破坏，粉碎“四人帮”以后，进一步落实了党的藏医政策，尤其是党的十一届三中全会以后，藏族医药事业在西藏高原有了蓬勃发展。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="1_2"></a>
<a class="lemma-anchor " name="sub146355_1_2"></a>
<a class="lemma-anchor " name="发展前期"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">藏医学专业</span>发展前期</h3>
</div>
<div class="para" label-module="para">1972年拉萨市卫生学校开办藏医培训班。</div>
<div class="para" label-module="para">1972至1983年，先后培养了181名藏族医药人员。</div>
<div class="para" label-module="para">1983年西藏自治区藏医学校建立。</div>
<div class="para" label-module="para">1985年，<a target="_blank">西藏大学</a>附设了藏医系，</div>
<div class="para" label-module="para">1989年<a target="_blank">西藏大学</a>在藏医系的基础上和西藏自治区藏医学校合并建成了藏医学院，当年招生30人。</div>
<div class="para" label-module="para">1987年<a target="_blank">青海藏医学院</a>建立。</div>
<div class="para" label-module="para">1997年西藏青海五省区发布《藏医标准》。</div>
<div class="para" label-module="para">藏医学教育步入了正规教育时期，有三所高等院校设立藏医学科目。</div>
<div class="para" label-module="para">西藏自治区拉萨市药王山藏医学院前身是西藏大学藏医学院，由自治区教育委员会主管，学校类型为学院。</div>
<div class="para" label-module="para">在校学生人中，普通本<a target="_blank">专科</a>生124人，成人本专科生55人；专任教师有59人，其中教授2人，副教授5人。</div>
<div class="para" label-module="para">学院培养专门从事藏医临床医疗、教学及科学研究工作的藏医师。</div>
<div class="para" label-module="para">该专业学生应掌握藏医学基础理论和藏医临床医疗技能，具有一定的现代医学知识，毕业后能够从事藏医医疗。</div>
<div class="para" label-module="para">主干学科有藏医基础医学、藏医临床医学。主要课程有藏医学基础、藏医人体学、藏医病机学、藏医诊断学、月王药诊选读、藏药学、藏医方剂学、藏医外治学、内科学、藏医外科学、藏医妇科学、藏医儿科学、藏医热病瘟疫学、藏医保健学、藏历推算、现代医学知识。</div>
<div class="para" label-module="para">修业年限为五年。授予学位为医学学士。未开设硕士和博士课程，<a target="_blank">青海藏医学院</a>和<a target="_blank">甘肃中医学院</a>同样设有藏医系。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="1_3"></a>
<a class="lemma-anchor " name="sub146355_1_3"></a>
<a class="lemma-anchor " name="发展中期"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">藏医学专业</span>发展中期</h3>
</div>
<div class="para" label-module="para">随着21世纪到来，人们越来越关注传统医学独特性，也更愿意用天然药物来治疗疾病，而藏医药正是以其与天然、人文密切相关的特殊性而逐渐获得了外界的认可和赞许。</div>
<div class="para" label-module="para">党中央提出开发大西部的宏伟计划后，在改革开放的阔步中，藏医藏药面临着一个前所未有的挑战。将其优秀的精华加以适当的研究和开发，必将更能满足人们对于健康新知识的需求。</div>
<div class="para" label-module="para">我国必将以自己独特的民族特色和资源优势展现在世界各国人民面前，而藏医藏药正是其中最具特点的优势之一。</div>
<div class="para" label-module="para">越来越多的藏医药工厂的建立，越来越多的藏药产品的出现，正是印证了藏医药的发展前景是乐观的。但应该看到，由于西部尤其是西藏自治区的经济总体水平较低，各方面都面临着严峻的考验，这就需要西部地区广大人民的共同努力，以及国家及东部地区的大力支持，而且，也应该吸引大批的科研工作者支持并参与藏医药的发展工作。</div>
<div class="para" label-module="para">各个藏医院藏医系都应该在当前这个好的形式下，调整院系的建设和教学工作，积极培养藏医药的各方面人才。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="1_4"></a>
<a class="lemma-anchor " name="sub146355_1_4"></a>
<a class="lemma-anchor " name="发展现状"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">藏医学专业</span>发展现状</h3>
</div>
<div class="para" label-module="para">随着少数民族地区经济文化的较快发展，少数民族地区的医药卫生事业出现了很大变化，医疗队伍日益壮大，到1980年，全国少数民族地区建医疗事业机构26703个，比1949年增加了71倍；医院10433个，增加44倍，卫生技术人员324300人，增加了90倍。到1990年，少数民族地区的医疗事业机构已达28237个，比1981年增加2.3%，其中医院10803个，比1981年增加0.6%，病床257241张，比1981年增14.6%，专业卫生人员461245人，比1981年增长4.1%，其中少数民族专业人员100672人，占专业卫生人员总数的21.8%，比1981年增加4.74%。</div>
<div class="para" label-module="para">藏医药事业取得了很大的进步，藏医藏药正成为西部大开发中的投资热点。</div>
<div class="para" label-module="para">西藏自治区政府已经确定，通过西部大开发，把西藏建成全球最大的藏药材科研、生产、出口中心。</div>
<div class="para" label-module="para">作为知识资源，藏医药文化底蕴深厚。它植根于青藏高原藏民族传统文化土壤，其理论规范、思维方式、技术手段、医德伦理都蕴含着藏民族传统文化的特征。</div>
<div class="para" label-module="para">作为卫生资源，工作基础坚实。据统计，西藏已有24家藏药厂，甘、青、川等地也有藏药企业10多个，藏药年总产值4亿至5亿元。</div>
<div class="para" label-module="para">1995年，我国首次颁布了藏药部颁标准，200多种藏药进入国家药典，14个药品被列为国家传统医药保护品种。作为工业资源，竞争优势显著，据初步统计，青藏高原共有藏药植物191科682属2085种；动物药57科111属159种；矿物药80余种，而且分布广泛，储量很大。藏药生产在自采、自种、自制、自用的基础上，已开始进入社会化生产，出现了一批现代藏药企业。国家已先后投资2亿元，在西藏和青海建立了现代化藏药厂，藏药生产企业已达30多家。</div>
<div class="para" label-module="para">随着藏药生产技术走向科学化、规模化和标准化，一批高技术含量的名优藏药陆续问世。在第二十六届日内瓦国际发明与新技术展览上，西藏生产的藏药“诺迪康”和“奇正消痛贴”获得国际发明金奖，并已进入美国、日本、韩国等20多个国家和地区。</div>
<div class="para" label-module="para">对于藏医药专业人才的需求也进一步加强，加之国家对于少数民族文化社会事业的支持，藏医药事业面临着巨大的发展机遇。随着医疗卫生事业的发展，藏医药事业在少数民族地区取得了长足的进步，</div>
<div class="para" label-module="para">90年代，组织编著了《西藏医学论文集》，又在传统藏药的基础上开发出了一批新药，以“七十味珍珠丸”、“蒂达胶囊”等为代表的藏药已经为更多的人们所认识。</div>
<div class="para" label-module="para">随着21世纪的到来，人们越来越关注传统医学的独特性，也更愿意用天然的药物来治疗疾病，这一切对藏医药有了极大的需求。从事藏医药行业的人员，已经突破了地域限制，向全国及世界各国都有学术交流和相互学习。</div>
<div class="para" label-module="para">藏医药学也面临着重新发展的要求，同时同各相关学科的交叉也日益加强，对于藏医药工作者的要求也日益提高，需要的知识也趋于多元化，要求从事藏医药工作者掌握多学科知识。</div>
<div class="para" label-module="para">随着行业的发展，对于高级从业人员的需求也日益增多，具有良好的理论基础和实际能力的人员受到更多的青睐。随着国家医疗改革的推进，藏药事业也在向正规化、专业化发展，也要求人员有相应的发展。</div>
<div class="para" label-module="para">到今后一段时期，对于藏医院校毕业的学生，国家仍会给予一定的照顾，藏医学从业人员也会随着人们对予藏医药的日益喜爱，获得更大的发展。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub146355_2"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">藏医学专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业学生主要学习藏医药基础理论、基本知识和藏医临床医疗技能，并学习必要的现代医学知识，受到藏医临床操作技能、医疗、制药、用药等方面的基本训练，具有运用藏医的理法方药防治常见病、多发病的基本能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_146355"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub146355_3"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">藏医学专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1．掌握藏医药学的基础理论、基本知识和基本技能；</div>
<div class="para" label-module="para">2．掌握藏医临床各科常见病、多发病的诊治技术；</div>
<div class="para" label-module="para">3．具有认药、制药、用药和天文历算的基本技能；</div>
<div class="para" label-module="para">4．具有初步的现代医学知识及相关学科的知识；</div>
<div class="para" label-module="para">5．熟悉国家及民族医药卫生方针、政策及法规；</div>
<div class="para" label-module="para">6．了解本学科在国内外的应用前景和发展动态；</div>
<div class="para" label-module="para">7．掌握文献检索、资料查询的基本方法，具有一定的科学研究和实际工作能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_146355"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub146355_4"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">藏医学专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">藏医概论学、藏医人体学、藏医病机学、藏医三大基因学、藏医保健学、藏药方剂学、藏医外治学、藏医诊断学、藏医内科学、藏医热病疫病学、藏医五官科学、藏医儿科学、藏医妇科学、藏医外伤学、<a target="_blank">人体解剖学</a>、诊断学、中医学。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_146355"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub146355_5"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">藏医学专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">藏医医疗、<a target="_blank">教学</a>、科研及藏药开发工作。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub146355_6"></a>
<a class="lemma-anchor " name="就业情况"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">藏医学专业</span>就业情况</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">藏医院校毕业的学生，因为其专业本身的特点，就业有其一定的特殊性。</div>
<div class="para" label-module="para"><b>究其原因有三</b>：</div>
<div class="para" label-module="para">第一，藏医院校的学科内容为民族医学的一种，有其民族性和地域性。</div>
<div class="para" label-module="para">第二，藏医学校的学生多招收少数民族(主要为藏族)生源，其大多来自少数民族地区，故毕业后服务对象也在少数民族地区。</div>
<div class="para" label-module="para">第三，由于国家对少数民族文化事业的支持，国家对少数民族的学生统分统配，故藏医院校毕业生的就业一般是针对西藏青海等地区的各级卫生事业单位及医药相关行业。</div>
<div class="para" label-module="para">毕业生的工作性质大多是从事临床、医疗、医学教育、医药卫生事业行政管理等与医药卫生相关的行业，其中也有一部分从事个体医疗活动，很受当地人民的欢迎。</div>
<div class="para" label-module="para">藏医药学相对而言是一个正在发展的事业，随着人们对天然药物、传统疗法的肯定，藏医药学也在日益突破地域性的限制，对藏医药人才专业的需求也日益扩大，但主要是对高级专业人才有较大需求。</div>
<div class="para" label-module="para">总体而言，藏医药学院毕业生的就业状况普遍有保证，但藏医药工作人员仍应加强自身素质，以适应新形势的发展。</div>
<div class="para" label-module="para">藏医药事业作为我国民族医学体系中重要的一部分，一直受到国家有关部门的关怀与支持。因为我国实行保护少数民族文化、尊重民族传统的国家政策，藏医药专业学生也同样受到国家政策的照顾。</div>
<div class="para" label-module="para">藏医药学院的学生多来自西藏、青海等少数民族地区，因此藏医药院校毕业的学生工作多由国家按相关政策予以安排，到少数民族地区工作。对于各医学院藏医系的毕业生去向，一直沿用定向分配的原则，同时结合从向选择，一般是本着来自哪里，回到哪里的方针，并针对不同专业、不同地域作适当的合理调整，以促进藏医药的发展和提高西藏人民的健康水平。</div>
<div class="para" label-module="para">因为藏医学院学生大多为国家安排，也有少部分自己从事其他工作，因此就业时既要选择合适的单位，也要考虑自己的喜好。医务工作者在当地是很受人们尊敬的，其经济状况一般为当地中等收入水平，同时社会地位较高，因此作一名藏医药工作者，是一门不错的职业。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub146355_7"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">藏医学专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">成都中医药大学</a>、<a target="_blank">甘肃中医学院</a>、<a target="_blank">中央民族大学</a>、<a target="_blank">内蒙古医学院</a>、<a target="_blank">内蒙古民族大学</a>、<a target="_blank">西藏藏医学院</a>、<a target="_blank">青海大学</a>。</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-146355-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_146355" id="refIndex_1_146355" name="refIndex_1_146355" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">藏医学<span class="linkout"> </span></a>
<span class="site">．新浪网</span><span>[引用日期2016-02-17]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>