<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>药物制剂专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">药物制剂专业培养德、智、体、美全面发展，具备<a data-lemmaid="4609" target="_blank">药学</a>、<a target="_blank">药剂学</a>和<a target="_blank">药物制剂工程</a>等方面的基本理论知识和基本实验技能，能在药物制剂和与制剂技术相关联的领域从事研究、开发、工艺设计、生产技术改进和质量控制等方面工作的高级科学技术人才。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_146381"> </a>
</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
药物制剂专业
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
Pharmaceutical preparations
</dd>
<dt class="basicInfo-item name">从    事</dt>
<dd class="basicInfo-item value">
研究、开发、工艺设计等
</dd>
<dt class="basicInfo-item name">相关学科</dt>
<dd class="basicInfo-item value">
药学、<a target="_blank">药剂学</a>
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">学位授予</dt>
<dd class="basicInfo-item value">
理学或工学学士
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
100702
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
4年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
医学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养要求</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">知识能力</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干学科</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">主干课程</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">实践教学</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">相关考试</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#6_1">考试介绍</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#6_2">考试科目</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#6_3">报名条件</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">发展前景</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">就业方向</a></span>
</li>
<li class="level1">
<span class="index">9</span>
<span class="text"><a href="#9">院校排名</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub146381_1"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">药物制剂专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业学生主要学习药学、生物药剂学、工业药剂学、药物制剂工程等方面的基础理论和基本知识，受到药物制剂研究和生产技术的基本训练，具有药物制剂研究、开发、生产技术改造及质量控制的基本能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_146381"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub146381_2"></a>
<a class="lemma-anchor " name="知识能力"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">药物制剂专业</span>知识能力</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1．掌握物理化学、药物化学、药用高分子材料学、工业药剂学、制剂设备与车间工艺设计等方面的基本理论、基本知识；<br/>　　2．掌握制剂的研究、剂型设计与改进以及药物制剂生产的工艺设计等技术；<br/>　　3．具有药物制剂的研究与开发、剂型的设计与改进和药物制剂生产工艺设计；</div>
<div class="para" label-module="para">4．熟悉药事管理的法规、政策；<br/>　　5．了解现代药物制剂的发展动态；<br/>　　6．掌握文献检索、资料查询的基本方法，具有初步的科学研究和实际工作能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_146381"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub146381_3"></a>
<a class="lemma-anchor " name="主干学科"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">药物制剂专业</span>主干学科</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">药学、化学工程学<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_146381"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub146381_4"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">药物制剂专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">物理化学、化工原理、药物化学、药物分析学、药理学、物理药学、药用高分子材料学、生物药剂学、工业药剂学、制剂设备与车间工艺设计。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_146381"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub146381_5"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">药物制剂专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">包括生产实习、毕业论文设计、综合性实验设计等，一般安排22周左右。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_146381"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub146381_6"></a>
<a class="lemma-anchor " name="相关考试"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">药物制剂专业</span>相关考试</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">药物制剂</a>属于药学相关专业，可以报名参加执业药师考试。</div>
<div class="para" label-module="para"><div class="lemma-picture text-pic layout-right" style="width:220px; float: right;">
<a class="image-link" nslog-type="9317" style="width:220px;height:149px;" target="_blank" title="">
<img alt="" class="lazy-img" data-src="https://imgsa.baidu.com/baike/s%3D220/sign=9d879997aeec8a13101a50e2c7029157/5ab5c9ea15ce36d31f923e483df33a87e950b130.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF9fX1AAAA0VQI3QAAAAxJREFUeNpiYAAIMAAAAgABT21Z4QAAAABJRU5ErkJggg==" style="width:220px;height:149px;"/>
</a>
</div></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6_1"></a>
<a class="lemma-anchor " name="sub146381_6_1"></a>
<a class="lemma-anchor " name="考试介绍"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">药物制剂专业</span>考试介绍</h3>
</div>
<div class="para" label-module="para">全国执业药师资格考试由国家人事部、国家食品药品监督管理局共同负责执业药师资格考试工作。国家食品药品监督管理局负责组织拟订考试科目和考试大纲，编写培训教材，建立试题库及考试命题工作。按照培训与考试分开的原则，统一固化并组织考前培训。人事部负责组织审定考试科目、考试大纲和试题。会同国家食品药品监督管理局对考试工作进行监督、指导并确定合格标准。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6_2"></a>
<a class="lemma-anchor " name="sub146381_6_2"></a>
<a class="lemma-anchor " name="考试科目"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">药物制剂专业</span>考试科目</h3>
</div>
<table class="table-view log-set-param" log-set-param="table_view" width="70%"><tr><td><div class="para" label-module="para">序号</div>
</td><td><div class="para" label-module="para">科目</div>
</td><td><div class="para" label-module="para">考试形式</div>
</td></tr><tr><td><div class="para" label-module="para">1</div>
</td><td><div class="para" label-module="para">药事管理与法规</div>
</td><td><div class="para" label-module="para">客观题</div>
</td></tr><tr><td><div class="para" label-module="para">2</div>
</td><td><div class="para" label-module="para">药学专业知识（一）（含药理学、药物分析）</div>
</td><td><div class="para" label-module="para">客观题</div>
</td></tr><tr><td><div class="para" label-module="para">3</div>
</td><td><div class="para" label-module="para">药学专业知识（二）（含药剂学、药物化学）</div>
</td><td><div class="para" label-module="para">客观题</div>
</td></tr><tr><td><div class="para" label-module="para">4</div>
</td><td><div class="para" label-module="para">综合知识与技能·药学</div>
</td><td><div class="para" label-module="para">客观题</div>
</td></tr></table><div class="anchor-list">
<a class="lemma-anchor para-title" name="6_3"></a>
<a class="lemma-anchor " name="sub146381_6_3"></a>
<a class="lemma-anchor " name="报名条件"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">药物制剂专业</span>报名条件</h3>
</div>
<div class="para" label-module="para">凡中华人民共和国公民和获准在我国境内就业的其他国籍的人员具备以下条件之一者，均可报名参加执业药师资格考试。</div>
<div class="para" label-module="para">1、取得药学、中药学或相关专业（化学专业、医学专业、生物学专业）中专学历，从事药学或中药学专业工作满七年。</div>
<div class="para" label-module="para">2、取得药学、中药学或相关专业（化学专业、医学专业、生物学专业）大专学历，从事药学或中药学专业工作满五年。</div>
<div class="para" label-module="para">3、取得药学、中药学或相关专业（化学专业、医学专业、生物学专业）本科学历，从事药学或中药学专业工作满三年。</div>
<div class="para" label-module="para">4、取得药学、中药学或相关专业（化学专业、医学专业、生物学专业）第二学士学位研究生班毕业或取得硕士学位，从事药学或中药学专业工作满一年。</div>
<div class="para" label-module="para">5、取得药学、中药学或相关专业博士学位。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub146381_7"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">药物制剂专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">药物制剂人才是现今中国急缺的专业人才，但大学的水平远远不够市场需要，还是最好向高水平发展，我们这届毕业的去哪的都有，有在工厂搞分析的，生产的，销售的；考研的有学药合的，药分的，药化的，化工的…… 我也找过工作，十分不好找，制剂类要人就很少，一般都不怎么招，对口的就不报什么打算，一般都转化工或医药生产去了。我同学有去神威的，石药的，华药的，都是石家庄附近的企业。<br/>　　药物制剂专业在专业学科中属于医学类中的药学类，其中药学类共10个专业，药物制剂专业在药学类专业中排名第4，在整个医学大类中排名第15位。截止到 2013年12月24日，36531位药物制剂专业毕业生的平均薪资为 3842 元，其中0-2年工资3044元，3-5年工资6654元。就业前景比较好的城市有：上海、北京、南京、杭州、广州、武汉、深圳、石家庄、重庆、长沙。<sup>[3]</sup><a class="sup-anchor" name="ref_[3]_146381"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub146381_8"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">药物制剂专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">药物制剂学毕业后可从事药物制剂研究、开发、生产及质量管理，能够在制药企业、医院药剂科、研究所及药政管理部门从事药物制剂研究、开发、生产、各类医药经营、生产单位和医疗卫生单位，从事药品制剂、质检、管理、购销、问病给药等工作。药物制剂专业就业岗位包括：药物制剂研究员、制剂研究员、药物分析、药品研发 销售人员、生产工艺员、药物制剂、药物制剂研发人员、药物制剂项目经理、制剂工艺研究员、研发人员、药品研发、制剂研发人员等等。<sup>[3]</sup><a class="sup-anchor" name="ref_[3]_146381"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="9"></a>
<a class="lemma-anchor " name="sub146381_9"></a>
<a class="lemma-anchor " name="院校排名"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">药物制剂专业</span>院校排名</h2>
<a class="edit-icon j-edit-link" data-edit-dl="9"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><b>2013-2014年药物制剂专业排名<sup>[4]</sup><a class="sup-anchor" name="ref_[4]_146381"> </a>
</b></div>
<table class="table-view log-set-param" log-set-param="table_view" width="100%"><tr><td><div class="para" label-module="para"><b>排 序</b></div>
</td><td><div class="para" label-module="para"><b>学校名称</b></div>
</td><td><div class="para" label-module="para"><b>水 平</b></div>
</td><td><div class="para" label-module="para"><b>开此专业学校数</b></div>
</td></tr><tr><td><div class="para" label-module="para">1</div>
</td><td><div class="para" label-module="para"><a target="_blank">中国药科大学</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">82</div>
</td></tr><tr><td><div class="para" label-module="para">2</div>
</td><td><div class="para" label-module="para"><a target="_blank">沈阳药科大学</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">82</div>
</td></tr><tr><td><div class="para" label-module="para">3</div>
</td><td><div class="para" label-module="para"><a target="_blank">黑龙江中医药大学</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">82</div>
</td></tr><tr><td><div class="para" label-module="para">4</div>
</td><td><div class="para" label-module="para"><a target="_blank">浙江大学</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">82</div>
</td></tr><tr><td><div class="para" label-module="para">5</div>
</td><td><div class="para" label-module="para"><a target="_blank">南方医科大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">82</div>
</td></tr><tr><td><div class="para" label-module="para">6</div>
</td><td><div class="para" label-module="para"><a target="_blank">吉林大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">82</div>
</td></tr><tr><td><div class="para" label-module="para">7</div>
</td><td><div class="para" label-module="para"><a target="_blank">辽宁中医药大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">82</div>
</td></tr><tr><td><div class="para" label-module="para">8</div>
</td><td><div class="para" label-module="para"><a target="_blank">湖北中医药大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">82</div>
</td></tr><tr><td><div class="para" label-module="para">9</div>
</td><td><div class="para" label-module="para"><a target="_blank">天津医科大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">82</div>
</td></tr><tr><td><div class="para" label-module="para">10</div>
</td><td><div class="para" label-module="para"><a target="_blank">广东药学院</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">82</div>
</td></tr><tr><td><div class="para" label-module="para">11</div>
</td><td><div class="para" label-module="para"><a target="_blank">郑州大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">82</div>
</td></tr><tr><td><div class="para" label-module="para">12</div>
</td><td><div class="para" label-module="para"><a target="_blank">河南大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">82</div>
</td></tr><tr><td><div class="para" label-module="para">13</div>
</td><td><div class="para" label-module="para"><a target="_blank">江西中医学院</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">82</div>
</td></tr><tr><td><div class="para" label-module="para">14</div>
</td><td><div class="para" label-module="para"><a target="_blank">浙江中医药大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">82</div>
</td></tr><tr><td><div class="para" label-module="para">15</div>
</td><td><div class="para" label-module="para"><a target="_blank">华东理工大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">82</div>
</td></tr><tr><td><div class="para" label-module="para">16</div>
</td><td><div class="para" label-module="para"><a target="_blank">南京工业大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">82</div>
</td></tr><tr><td><div class="para" label-module="para">17</div>
</td><td><div class="para" label-module="para"><a target="_blank">河南中医学院</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">82</div>
</td></tr><tr><td><div class="para" label-module="para">18</div>
</td><td><div class="para" label-module="para"><a target="_blank">贵阳医学院</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">82</div>
</td></tr><tr><td><div class="para" label-module="para">19</div>
</td><td><div class="para" label-module="para"><a target="_blank">浙江工业大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">82</div>
</td></tr><tr><td><div class="para" label-module="para">20</div>
</td><td><div class="para" label-module="para"><a target="_blank">重庆医科大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">82</div>
</td></tr></table><div class="rs-container-foot">
<a name="rs-1"></a>
<a class="anchor-2" name="rs_146381_15845"></a>
<div class="rslazy rs-container" id="rs-container-146381-15845" lazy-init="lemmars.tableAction(baidu.g('rs-146381-15845'))"></div>
</div><script type="text/javascript">
        window.rsInsertData = window['rsInsertData'] || [];
        var rsdataList = {"foot":[{"fentryTableId":15845,"fentryTableName":"\u4e8c\u7ea7\u5b66\u79d1\u00b7\u836f\u5b66\u7c7b\u4e13\u4e1a","fentryTableType":1,"entryId":2393539,"templateId":0,"entryTitle":"\u836f\u5b66\u7c7b\u4e13\u4e1a","isManual":0,"isExpand":1}],"top":[]};

        if (rsdataList.top || rsdataList.foot) {
            rsInsertData.push([146381, rsdataList]);
        }
    </script>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-146381-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_146381" id="refIndex_1_146381" name="refIndex_1_146381" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">药物制剂<span class="linkout"> </span></a>
<span class="site">．高考派</span><span>[引用日期2015-05-18]</span></li><li class="reference-item " id="reference-[2]-146381-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_146381" id="refIndex_2_146381" name="refIndex_2_146381" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">药物制剂<span class="linkout"> </span></a>
<span class="site">．高考网</span><span>[引用日期2016-02-14]</span></li><li class="reference-item " id="reference-[3]-146381-wrap">
<span class="index">3.</span>
<a class="gotop anchor" href="#ref_[3]_146381" id="refIndex_3_146381" name="refIndex_3_146381" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">药物制剂专业就业前景与就业方向分析<span class="linkout"> </span></a>
<span class="site">．大学生成长网</span><span>[引用日期2016-02-14]</span></li><li class="reference-item " id="reference-[4]-146381-wrap">
<span class="index">4.</span>
<a class="gotop anchor" href="#ref_[4]_146381" id="refIndex_4_146381" name="refIndex_4_146381" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">药物制剂专业排名-2013-2014年中国大学本科教育分专业排行榜<span class="linkout"> </span></a>
<span class="site">．中华考试网</span><span>[引用日期2013-11-19]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>