<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>药物化学专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para"><a target="_blank">药物化学</a>（Medicinal chemistry）是利用化学的概念和方法发现确证和开发药物，从分子水平上研究药物在体内的作用方式和作用机理的一门学科。作为专业，是2011年新增的本科专业，研究任务包括：研究药物的化学结构和活性间的关系（<a target="_blank">构效关系</a>）；药物化学结构与物理化学性质的关系；阐明药物与受体的相互作用；鉴定药物在体内吸收、转运、分布的情况及代谢产物；通过药物分子设计或对先导化合物的化学修饰获得新化学实体创制新药。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
<a target="_blank">药物化学专业</a>
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
100706T
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
理学学士
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
医学
</dd>
<dt class="basicInfo-item name">相近专业</dt>
<dd class="basicInfo-item value">
药学、药物分析学等
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养目标</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">培养要求</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">实践教学</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">知识能力</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">发展前景</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">主干课程</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">相近专业</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">开设院校</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub7852006_1"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">药物化学专业</span>培养目标</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">药物化学专业主要培养具有药学、管理学、经济学、法学等相关的知识和技能，能在药品部门及相关机构从事药物化学分析、药事与企业管理、策划以及教学、科研等方面的工作，探索药物化学事业科学发展规律的复合型高级人才<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_7852006"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub7852006_2"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">药物化学专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">通过药物化学专业的学习，使学生能够熟悉化学药物的结构、理化性质、体内代谢及临床应用，为有效、合理地使用化学药物提供理论依据，为从事新药研究奠定理论基础。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_7852006"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub7852006_3"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">药物化学专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">包括课程实习、毕业实习等等。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_7852006"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub7852006_4"></a>
<a class="lemma-anchor " name="知识能力"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">药物化学专业</span>知识能力</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1.熟悉常用药物的结构，中英文通用名及化学名称；<br/>　　2.掌握典型药物的理化性质，特别是影响药效、毒性、质量控制及分析和剂型选择有关的理化性质；<br/>　　3.懂得新药设计和创制的基本原理和方法；<br/>　　4.掌握常用药物的作用机制、体内代谢、毒副反应（即临床应用），熟悉药物的结构特征与药效之间的关系，含各类重要药物的发现和发展过程、构效关系；<br/>　　5.熟悉化学药物的制备及结构修饰的原理和方法，懂得杂质与制备关系及如何控制杂质，保证药物质量的方法；<br/>　　6.熟悉各类药物发展及结构类型，了解其最新进展，能够对常用化学药物的合成原理和合成路线的设计及评价；<br/>　　7.了解新药研究的基本方法和近代新药发展方向。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_7852006"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub7852006_5"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">药物化学专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业的毕业生，因为有着扎实的生化研究和分析的基础，则也有着多方面的就业机会，一是可以进入日用化工行业，二是可以进入生化药品行业，三是可以进入石油化工行业，四是可以直接进入制药和从事药物制剂开发、研究、质检以及销售代理岗位。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_7852006"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub7852006_6"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">药物化学专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a data-lemmaid="3491" target="_blank">有机化学</a>，<a data-lemmaid="466073" target="_blank">生物化学</a>，<a target="_blank">生理学</a>，<a data-lemmaid="1090709" target="_blank">药理学</a>，<a target="_blank">高等药物化学</a>，<a target="_blank">药物合成设计</a>，<a target="_blank">药物合成反应</a>，近代有机合成，甾体、抗肿瘤、抗病毒前沿研究跟踪，药物设计进展，天然产物化学，有机光谱鉴定，有机结构测定的物理方法，现代生物技术与新药研究开发等。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_7852006"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub7852006_7"></a>
<a class="lemma-anchor " name="相近专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">药物化学专业</span>相近专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">药学（100801）、<a target="_blank">药物制剂</a>（100803）、<a target="_blank">药事管理</a>（100810S）、药物分析（100812S）、<a target="_blank">中药学</a>（100802）、<a target="_blank">临床药学</a>（100808S）、<a target="_blank">化学生物学</a>（070303W）、<a target="_blank">化工与制药</a>（081103W）、生物制药（081107S）、<a target="_blank">制药工程</a>（081102）等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub7852006_8"></a>
<a class="lemma-anchor " name="开设院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">药物化学专业</span>开设院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">2011年，<a target="_blank">中国药科大学</a>将率先增加药物化学专业。关于“药物化学国家精品课程建设”的课程改革从1998年开始，先后在中国药科大学、沈阳药科大学和北京大学药学院的“国家理科基础科学研究和教学人才培养基地”（基础药学点）、“国家生命科学与技术人才培养基地”（生物医药点）（简称：生命基地）、六年制本硕连读长学制专业、“制药工程”专业、“药学专业”、“药物制剂专业”、“应用药学专业”等专业的药物化学课程教学中进行试点、调整和应用。中国药科大学、沈阳药科大学和北京大学药学院已成为药物化学课程教学的示范中心。三所学校所建立的国家精品课程网站，提供了较为详细的教学大纲、授课教案、电子教材、习题及解答、实验指导、参考文献目录、试卷及答案、多媒体课件和网络课件，以及部分授课录像等。</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-7852006-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_7852006" id="refIndex_1_7852006" name="refIndex_1_7852006" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">药物化学<span class="linkout"> </span></a>
<span class="site">．高考派</span><span>[引用日期2015-05-18]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>