<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>药事管理专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">药事管理专业培养德、智、体全面发展，具有现代管理理念和方法，具有比较全面的药学、法学、管理学基础知识，能适应药品质量监督管理 、医药企业管理、医院药房和社会零售药店管理等工作的高级技术应用性人才。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_6550799"> </a>
</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
<a target="_blank">药事管理专业</a>
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
Pharmaceutical affairs management
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
<a data-lemmaid="4609" target="_blank">药学</a>
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">代    码</dt>
<dd class="basicInfo-item value">
100704T
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
理学
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
4年
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养要求</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">知识技能</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">相近专业</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">主干课程</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">就业方向</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">开设学院</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">其他信息</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub6550799_1"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">药事管理专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业通过讲授<a target="_blank">药事法规</a>和<a data-lemmaid="250" target="_blank">管理学</a>、<a data-lemmaid="23558" target="_blank">法学</a>、<a target="_blank">经济学</a>的基本知识，使学生了解药事活动的基本规律，掌握我国药品管理的法律法规，具备药品研制、生产、流通、使用等环节管理和监督的能力，培养学生运用药事管理的理论和知识指导实践，分析解决实际<a data-lemmaid="82254" target="_blank">工作</a>中的问题的能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub6550799_2"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">药事管理专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">通过学习，将具备以下几方面的能力：</div>
<div class="para" label-module="para">1． 具有坚实的医药学理论知识基础，熟悉药学基础理论、基本知识和基本操作技能；</div>
<div class="para" label-module="para">2． 掌握经济学、管理学和药事管理与卫生行政管理的基础理论、基本知识和分析方法；</div>
<div class="para" label-module="para">3． 掌握国内外药事管理的法律法规和相关行业的法规，熟悉医药商品销售等相关工作；</div>
<div class="para" label-module="para">4． 掌握现代管理理念和方法以及经济法、行政法等知识，具备在国家药事相关管理部门任职和在药品生产、研发企业和事业单位从事管理工作的能力；</div>
<div class="para" label-module="para">5． 熟练运用<a data-lemmaid="4609" target="_blank">药学</a>、<a data-lemmaid="250" target="_blank">管理学</a>、<a target="_blank">药事法规</a>等知识从事医药领域内的组织管理、审批事项申报、认证事务及法律纠纷等工作。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_6550799"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub6550799_3"></a>
<a class="lemma-anchor " name="相近专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">药事管理专业</span>相近专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a data-lemmaid="4609" target="_blank">药学</a>（100801）、<a data-lemmaid="302207" target="_blank">中药学</a>（100802）、<a target="_blank">中草药栽培与鉴定</a>（100804W）、<a target="_blank">藏药学</a>（100805W）、<a target="_blank">中药资源与开发</a>(100806W)、<a target="_blank">应用药学</a>(100807W)、<a target="_blank">蒙药学</a>(100811W)。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub6550799_4"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">药事管理专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">临床医学概论</a>、<a target="_blank">基础医学概论</a>、药事管理学经济学、<a data-lemmaid="250" target="_blank">管理学</a>、<a data-lemmaid="10552077" target="_blank">药学概论</a>，<a data-lemmaid="1345393" target="_blank">会计学</a>、<a data-lemmaid="1425487" target="_blank">财务管理</a>、药事企业管理、<a target="_blank">中医方药学</a>、<a target="_blank">中药商品学</a>、<a target="_blank">中药药剂学</a>、中药炮制与加工、<a data-lemmaid="1090709" target="_blank">药理学</a>、<a target="_blank">中药药理学</a>、<a data-lemmaid="1559" target="_blank">运筹学</a>、<a data-lemmaid="1114" target="_blank">国际贸易</a>、人力资源管理、<a target="_blank">企业发展战略</a>与企业文化等。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_6550799"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub6550799_5"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">药事管理专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">在<a target="_blank">药品监督管理</a>、卫生行政管理、药品价格管理、<a target="_blank">医疗保险</a>、医药卫生监察、医药经济调控等部门和药品生产经营企业、医药科研院所、医疗卫生机构等单位从事 卫生和药政活动的监督管理、医药资源调查研究、医药市场行为和特征分析、策划及经营的高级药事管理工作。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub6550799_6"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">药事管理专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">中国药科大学</a>（10316）、<a target="_blank">沈阳药科大学</a>（10163）、<a target="_blank">天津商业大学</a>（10069）、<a target="_blank">中山大学药学院</a>（10558）、<a target="_blank">暨南大学药学院</a>（10559）、<a target="_blank">广州中医药大学中药学院</a>（10572）、<a target="_blank">广东</a>药科大学（10573）、<a target="_blank">贵州医科大学</a>（10660）等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub6550799_7"></a>
<a class="lemma-anchor " name="其他信息"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">药事管理专业</span>其他信息</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><b>药事管理的目的</b></div>
<div class="para" label-module="para">保证公民用药安全、有效、经济、合理、方便、及时、不断提高国民的健康水平，不断提高药事组织的经济、社会效益水平。</div>
<div class="para" label-module="para"><b>药事管理的意义</b></div>
<div class="para" label-module="para">对于公众的意义：药事管理是保障公民用药安全、有效、经济、合理、方便、及时和生命健康的必要的和有效的手段。</div>
<div class="para" label-module="para">对于国家的意义：保护公民健康是宪法规定的国家责任。</div>
<div class="para" label-module="para">对于药事组织的意义：宏观药事管理为药事组织的微观药事管理提供了法律依据、法定标准和程序。</div>
<div class="para" label-module="para"><b>药事管理的主要内容</b></div>
<div class="para" label-module="para">（1）宏观药事管理</div>
<div class="para" label-module="para">①药品监督管理</div>
<div class="para" label-module="para">②基本药物管理</div>
<div class="para" label-module="para">③药品储备管理</div>
<div class="para" label-module="para">④药品价格管理</div>
<div class="para" label-module="para">⑤医疗保险用药与定点药店管理</div>
<div class="para" label-module="para">（2）微观药事管理</div>
<div class="para" label-module="para">①药品研究与开发质量管理</div>
<div class="para" label-module="para">②<a target="_blank">药品生产质量管理</a></div>
<div class="para" label-module="para">③经品经营质量管理</div>
<div class="para" label-module="para">④药学服务质量管理</div>
<div class="para" label-module="para">⑤药品储备管理</div>
<div class="para" label-module="para">⑥药品价格管理</div>
<div class="para" label-module="para">⑦医疗保险用药销售管理</div>
<div class="para" label-module="para"><b>现状</b></div>
<div class="para" label-module="para">随着中国进入WTO及人们生活质量的不断提高，对医药产品及医疗服务的品质、疗效及安全性要求也明显提高，从而引发了全球及中国医药卫生领域目前正在发生的巨大变化，为了适应并推动这一变革的顺利进行，社会将需要一大批既掌握医药基本知识，又懂经济管理理论和国内外药物管理政策法规，还能从事国内外医药经济管理活动的专业人才。我们主要培养既具有药学基础，又具备管理学和经济学知识，能在医药企事业、药品监督管理等机构从事中药与企业管理、分析、策划、人力资源管理的高级应用型人才。</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-6550799-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_6550799" id="refIndex_1_6550799" name="refIndex_1_6550799" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">药事管理<span class="linkout"> </span></a>
<span class="site">．新浪网</span><span>[引用日期2016-02-16]</span></li><li class="reference-item " id="reference-[2]-6550799-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_6550799" id="refIndex_2_6550799" name="refIndex_2_6550799" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">药事管理专业怎么样_主要课程_就业方向与前景<span class="linkout"> </span></a>
<span class="site">．大学生必备网</span><span>．2015-11-20</span><span>[引用日期2016-02-13]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>