<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>藏药学专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para"><a target="_blank">藏医药</a>事业取得了很大的进步，藏医藏药正成为西部大开发中的投资热点。藏药学专业培养具备<a target="_blank">藏医学</a>基础理论知识和临床操作技能以及认药、制药、用药等方面的知识和能力，能在藏医院、藏药厂及藏医药学的研究领域和有关单位从事<a target="_blank">藏医</a>医疗、教学、科研及<a target="_blank">藏药</a>开发工作的藏医学高级专门人才，是未来很好的职业。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
<a target="_blank">藏药学专业</a>
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
100803T
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
医学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
医学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养目标</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">培养要求</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干课程</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">实践教学</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">专业技能</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">发展前景</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub17702792_1"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">藏药学专业</span>培养目标</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">藏药学专业培养具备<a target="_blank">藏医学</a>基础理论知识和临床操作技能以及认药、制药、用药等方面的知识和能力，能在藏医院、藏药厂及藏医药学的研究领域和有关单位从事藏医医疗、教学、科研及藏药等开发工作的藏医学高级专门人才。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub17702792_2"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">藏药学专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">藏药学专业学生主要学习<a target="_blank">藏医药</a>基础理论、基本知识和藏医临床医疗技能，并学习必要的<a target="_blank">现代医学</a>知识，受到藏医临床操作技能、医疗、制药、用药等方面的基本训练，具有运用藏医的理法方药防治常见病、多发病的基本能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub17702792_3"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">藏药学专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">藏医概论学、藏医人体学、藏医病机学、藏药学、藏医三大基因学、藏医保健学、藏医伦理学、藏药植物学、藏药动物学、藏药矿物学、藏医药物学、水银洗练法、藏医常用配方学、藏药冶炼学、藏药炮制学、藏药方剂学、藏药泻治学、<a data-lemmaid="1090709" target="_blank">药理学</a>、<a target="_blank">药剂学</a>、<a target="_blank">天然药物化学</a>、药物制剂分析、<a data-lemmaid="8379652" target="_blank">生药学</a>、民族药物学、<a data-lemmaid="30200" target="_blank">药事管理学</a>等</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub17702792_4"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">藏药学专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">包括采药认药、制药实习、临床见习、毕业实习等，一般安排不少于48周。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub17702792_5"></a>
<a class="lemma-anchor " name="专业技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">藏药学专业</span>专业技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<ol class="custom_num para-list list-paddingleft-1"><li class="list-num-1-1 list-num-paddingleft-1"><div class="para" label-module="para">掌握藏医药学的基础理论、基本知识和基本技能；</div>
</li><li class="list-num-1-2 list-num-paddingleft-1"><div class="para" label-module="para">掌握藏医临床各种常见病、多发病的诊治技术；</div>
</li><li class="list-num-1-3 list-num-paddingleft-1"><div class="para" label-module="para">具有认药、制药、用药和天文历算的基本技能；</div>
</li><li class="list-num-1-4 list-num-paddingleft-1"><div class="para" label-module="para">具有初步的现代医学知识及相关学科的知识；</div>
</li><li class="list-num-1-5 list-num-paddingleft-1"><div class="para" label-module="para">熟悉国家及民族医药卫生方针、政策及法规；</div>
</li><li class="list-num-1-6 list-num-paddingleft-1"><div class="para" label-module="para">了解本学科在国内外的应用前景和发展动态。</div>
</li></ol><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub17702792_6"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">藏药学专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">毕业后可从事藏医医疗、教学、科学研究及藏药开发工作。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_17702792"> </a>
</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-17702792-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_17702792" id="refIndex_1_17702792" name="refIndex_1_17702792" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">藏药学<span class="linkout"> </span></a>
<span class="site">．高考网</span><span>[引用日期2016-02-8]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>