<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>护理学专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para"><a data-lemmaid="1124816" target="_blank">护理学</a>专业培养具备人文社会科学、医学、预防保健的基本知识及护理学的基本理论知识和技能，能在护理领域内从事临床护理、预防保健、护理管理、护理教学和护理科研的高级专门人才。</div>
</div>
<div class="configModuleBanner">
</div><div class="special-topic" style="border-top:1px solid #ebebeb;height:442px;padding-bottom:0px;">
<div class="anchor-list">
<a class="lemma-anchor " name="specialtopic"></a>
</div><div class="tab-content j-tab-content0" style=" ">
<div class="main-content-wrapper">
<span class="title">奇葩专业之最</span>
<div class="multi-image multi-image-index-0">
<div class="image-wrap">
<a class="imgae-wrap-link" target="_blank">
<img class="image" src="http://d.hiphotos.baidu.com/baike/w%3D480/sign=1c1d3d4a1f4c510faec4e31250582528/caef76094b36acafb584757e79d98d1000e99cc8.jpg"/>
</a>
<span class="description">
最高大上的专业：高尔夫专业
</span>
<div class="arrWrapLeft">
<a class="arrow-left"></a>
</div>
<div class="arrWrapRight">
<a class="arrow-right"></a>
</div>
</div>
<div class="thumbnail-list">
<ul class="thumbnail-scroller">
<li class="thumbnail first current" data-desc="最高大上的专业：高尔夫专业" data-large="http://d.hiphotos.baidu.com/baike/w%3D480/sign=1c1d3d4a1f4c510faec4e31250582528/caef76094b36acafb584757e79d98d1000e99cc8.jpg" data-link="">
<img src="http://d.hiphotos.baidu.com/baike/w%3D114/sign=70a1ccfe540fd9f9a0175168112cd42b/caef76094b36acafb584757e79d98d1000e99cc8.jpg"/>
<em class="thumbnail-border"></em>
</li>
<li class="thumbnail first " data-desc="最大胆的专业：大麻种植与栽培学" data-large="http://b.hiphotos.baidu.com/baike/w%3D480/sign=6ec3fe8a1a30e924cfa49d397c096e66/d6ca7bcb0a46f21fd7c2bdd1f3246b600d33aeba.jpg" data-link="">
<img src="http://b.hiphotos.baidu.com/baike/w%3D114/sign=41f3c982ec24b899de3c7d395a071d59/d6ca7bcb0a46f21fd7c2bdd1f3246b600d33aeba.jpg"/>
<em class="thumbnail-border"></em>
</li>
<li class="thumbnail first " data-desc="最孤独的专业：古生物学" data-large="http://a.hiphotos.baidu.com/baike/w%3D480/sign=85f110ee153853438ccf8629a311b01f/e4dde71190ef76c6173418a99816fdfaae51674a.jpg" data-link="">
<img src="http://a.hiphotos.baidu.com/baike/w%3D114/sign=7687c68a5643fbf2c52ca222847fca1e/e4dde71190ef76c6173418a99816fdfaae51674a.jpg"/>
<em class="thumbnail-border"></em>
</li>
<li class="thumbnail first " data-desc="最恐怖的专业：灵学" data-large="http://b.hiphotos.baidu.com/baike/w%3D480/sign=70266b83596034a829e2b989fb1249d9/f9dcd100baa1cd119b8890a2bc12c8fcc3ce2d72.jpg" data-link="">
<img src="http://b.hiphotos.baidu.com/baike/w%3D114/sign=55328bd231a85edffa8cfa227d5509d8/f9dcd100baa1cd119b8890a2bc12c8fcc3ce2d72.jpg"/>
<em class="thumbnail-border"></em>
</li>
<li class="thumbnail first " data-desc="最与时俱进的专业：同性恋音乐学" data-large="http://a.hiphotos.baidu.com/baike/w%3D480/sign=c075f29fd12a283443a637036bb4c92e/7dd98d1001e9390181136fbc7eec54e736d1961b.jpg" data-link="">
<img src="http://a.hiphotos.baidu.com/baike/w%3D114/sign=850103982d34349b74066a84fdeb1521/7dd98d1001e9390181136fbc7eec54e736d1961b.jpg"/>
<em class="thumbnail-border"></em>
</li>
<li class="thumbnail first " data-desc="最土豪的专业：珠宝鉴定专业" data-large="http://g.hiphotos.baidu.com/baike/w%3D480/sign=633a1ca14c540923aa696276a259d1dc/4610b912c8fcc3ce2d762bb19745d688d53f20fa.jpg" data-link="">
<img src="http://g.hiphotos.baidu.com/baike/w%3D114/sign=25989ee60c23dd542173a369e508b3df/4610b912c8fcc3ce2d762bb19745d688d53f20fa.jpg"/>
<em class="thumbnail-border"></em>
</li>
<li class="thumbnail first " data-desc="最重口味的专业：防腐整容专业（殡葬专业）" data-large="http://c.hiphotos.baidu.com/baike/w%3D480/sign=094b2c5fae64034f0fcdc30e9fc27980/e824b899a9014c082cb6ca270f7b02087af4f4a7.jpg" data-link="">
<img src="http://c.hiphotos.baidu.com/baike/w%3D114/sign=b95d7cd6064f78f0800b9ef24d300a83/e824b899a9014c082cb6ca270f7b02087af4f4a7.jpg"/>
<em class="thumbnail-border"></em>
</li>
<li class="thumbnail first " data-desc="最陶冶情操的专业：茶学" data-large="http://f.hiphotos.baidu.com/baike/w%3D480/sign=a3c3a43fac773912c4268469c8188675/908fa0ec08fa513d73578e5c386d55fbb3fbd9b7.jpg" data-link="">
<img src="http://f.hiphotos.baidu.com/baike/w%3D114/sign=264d7ec53c12b31bc76cc928b2193674/908fa0ec08fa513d73578e5c386d55fbb3fbd9b7.jpg"/>
<em class="thumbnail-border"></em>
</li>
<li class="thumbnail first " data-desc="最神秘的专业：情报学" data-large="http://e.hiphotos.baidu.com/baike/w%3D480/sign=06fd44a1b57eca80120538efa1219712/cf1b9d16fdfaaf514732633d895494eef11f7a5b.jpg" data-link="">
<img src="http://e.hiphotos.baidu.com/baike/w%3D114/sign=27ff67cccf8065387beaa012a3dfa115/cf1b9d16fdfaaf514732633d895494eef11f7a5b.jpg"/>
<em class="thumbnail-border"></em>
</li>
<li class="thumbnail first " data-desc="最投机的专业：彩票研究专业" data-large="http://a.hiphotos.baidu.com/baike/w%3D480/sign=a03a8bf1fef2b211e42e8446fa816511/91ef76c6a7efce1b2d142548aa51f3deb48f6571.jpg" data-link="">
<img src="http://a.hiphotos.baidu.com/baike/w%3D114/sign=e3412340b7119313c743fbb151390c10/91ef76c6a7efce1b2d142548aa51f3deb48f6571.jpg"/>
<em class="thumbnail-border"></em>
</li>
<li class="thumbnail first " data-desc="男生最少的专业：护理学" data-large="http://c.hiphotos.baidu.com/baike/w%3D480/sign=7a23c16ab93eb13544c7b6b3961fa8cb/0ff41bd5ad6eddc4abf359793cdbb6fd52663318.jpg" data-link="">
<img src="http://c.hiphotos.baidu.com/baike/w%3D114/sign=e3f1648cb43533faf5b6972f9cd2fdca/0ff41bd5ad6eddc4abf359793cdbb6fd52663318.jpg"/>
<em class="thumbnail-border"></em>
</li>
</ul>
</div>
</div>
</div>
<div class="related-content">
<dl class="related-aricle">
<dt class="related-title">哪些学校开设高尔夫专业<a class="more-link" target="_blank">更多</a></dt>
<dd class="related-description">如果你认为高尔夫专业只是挥挥球杆打高尔夫那么简单就错了，还要学习草坪科学、植物学、高尔夫球场设计等相关知识，在中国仅8所高校开设了此专业。</dd>
<dt class="related-title">神秘的情报学都学啥<a class="more-link" target="_blank">更多</a></dt>
<dd class="related-description">公安情报学是研究公安情报的产生、传递、存贮、检索、分析、利用的活动规律，用现代化信息技术和手段来优化公安情报流通过程、情报系统的一门应用学科。</dd>
</dl>
<dl class="related-lemma">
<dt class="related-lemma-title">
相关内容
</dt>
<dd class="lemma-item-list">
<a class="lemma-item" target="_blank">珠宝鉴定专业</a>
<a class="lemma-item" target="_blank">茶学</a>
<a class="lemma-item" target="_blank">高校百科</a>
</dd>
</dl>
</div>
</div>
<div class="specail-footer">
<span class="supply-text">
<a class="supply-text-link" target="_blank" title=""></a>
</span>
</div>
</div>
<div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
护理学专业
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
Nursing science
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
医学学士
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
101101
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
本科五年 专科三年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
医学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">专业概述</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">发展历史</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">影响因素</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">培养要求</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">知识和能力</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">相关期刊</a></span>
</li>
<li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">主干学科</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">主干课程</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">9</span>
<span class="text"><a href="#9">实践教学</a></span>
</li>
<li class="level1">
<span class="index">10</span>
<span class="text"><a href="#10">开设学院</a></span>
</li>
<li class="level1">
<span class="index">11</span>
<span class="text"><a href="#11">发展前景</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub146368_1"></a>
<a class="lemma-anchor " name="专业概述"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">护理学专业</span>专业概述</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业学生主要学习相关的人文社会科学知识和医学基础、预防保健的基本理论知识，受到护理学的基本理论、基本知识和临床护理技能的基本训练，具有对服务对象实施整体护理及社区健康服务的基本能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub146368_2"></a>
<a class="lemma-anchor " name="发展历史"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">护理学专业</span>发展历史</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1、 中国古代护理学</div>
<div class="para" label-module="para">早期的<a data-lemmaid="5978806" target="_blank">中医药学</a>与<a data-lemmaid="1124816" target="_blank">护理学</a>密不可分，医学与<a data-lemmaid="1124816" target="_blank">护理学</a>合二为一，密不可分，“三分治，七分养”，是我国古代对医学与<a data-lemmaid="1124816" target="_blank">护理学</a>的关系所做出的高度概括。中医把人体看成作是统一的有机体，并把人的健康与内在心理状态和外在生活环境紧密联系起来。中医药学为护理学的起源提供了丰富的理论和技术基础。 　早在殷商时期的甲骨文记载了十几种疾病和处理方法。 　西周时期医学分科更细,反映了诊疗活动。提出观察体温。面色等护理活动。 　春秋战国时期医学发展迅速，名医扁鹊总结出“望、闻、问、切”的诊病方法；针灸、汤药、热敷的治病方法。 　秦汉时期《黄帝内经》阐述了许多生理、病理现象，治疗和护理原则。 　东汉张仲景《伤寒杂病论》总结了药物灌肠术、舍下给药法、胸外心脏按压术、人工呼吸和急救护理等医护措施。名医华佗提倡强身健体、预防疾病的方针和措施。 　古医书中记载了导尿术、灌肠术。 　隋唐孙思邈《千金药方》提出“凡衣服、巾、栉、枕、镜不宜与人同之”的预防、隔离观点。 　宋代记载了口腔护理的重要性；明代李时珍《本草纲目》是重要的医药学论著；明清时期记载了蒸汽消毒衣物、焚烧艾叶、喷洒雄黄酒等方法消毒空气。</div>
<div class="para" label-module="para">2、 中国近代护理学</div>
<div class="para" label-module="para">我国近代护理学的形成和发展，在很大程度上受到西方护理的影响，随西医和宗教的传入开始。1835年，美国传教士在广州开设了中国第一所西医医院，两年后开办护士短训班。 　1887年，美国妇女联合会派到上海的护士麦克尼奇在上海开办了护士训练班。1888年，美国人约翰逊在福州成立了我国第一所护士学校。1904年，国际红十字会上海分会成立，1911年改称中国红十字会。1909年，中华护士会在在江西牯岭正式成立，1922年加入国际护士协会，1937年，更名为中华护士学会。1921年，开办高等护理教育，1950年停办。1931年，开办红色护士学校，1941、1942年护士节，毛泽东先后题词“护士工作有很大的政治重要性”|“尊重护士，爱护护士”。</div>
<div class="para" label-module="para">3、 中国现代护理学</div>
<div class="para" label-module="para">⑴护士队伍壮大：1949年3万---1977年110多万；护师以上职称达58%。⑵护理教育体制日趋完善 ①中等教育：1950年，第一届全国卫生工作会议上，护理教育被列为中等专业教育之一。1949---1953年，护理教育接管，调整合并阶段。1958---1965年，我国护理事业发展和调整年代。②大专教育：学士学位教育：1983年天津医学院开办护理系，目前18所院校设立了学士学位的护理教育。研究生教育：1990年批准，1992年北京医科大学护理系开设护理硕士教育，学制3年，目前，有5所大学开设护理硕士教育。⑶护士晋升制度和注册制度的建立促进了我国护理事业的发展。1995年6月25日，首次正式护士职业考试在全国举行，护士职业管理正式走上法制轨道。⑷护理出版物增加⑸护理研究的发展：护理研究正处于加快发展阶段，研究水平逐年提高。</div>
<div class="para" label-module="para">世界护理学发展简史</div>
<div class="para" label-module="para">1、 世界各国的早期护理</div>
<div class="para" label-module="para">公元前后，一些文明古国已有了早期的医学和护理活动。希波克拉底创立了“液体学说”，提倡保持病人清洁卫生，做好口腔和皮肤护理，并采用冷热和泥敷等疗法。强调在病人的床侧对病人进行仔细的观察；重视生活条件，周围环境对病人康复的意义。19世纪以前的护理以家庭照顾为主。欧洲建立了医院，但条件差，病人和医务人员的交叉感染率和死亡率高，护理工作多为修女，她们出于爱心和宗教观念对病人提供一些生活照顾和精神安慰但得不到任何科学的、正规的护理训练和教育机会。</div>
<div class="para" label-module="para">2、<a target="_blank">南丁格尔</a>时期的护理</div>
<div class="para" label-module="para">弗洛伦斯·南丁格尔（FlorenceNightingaie,1820—1910年）被誉为近代护理学的创始人。 　1854-1856参加克里米亚战 。改善医院的生活环境。饮食和供水条件。对伤病员进行精心的护理。使伤病员的死亡率从50%降到2.2%。并完成题为“影响英军健康,效率和医院管理的问题摘要”的战地报告。1859-1859写出了《医院札记》和《护理札记》指出了护理工作的生物。社会性和精神对身体的影响等。★护理观点被总结为“环境理论”是现代护理理论的基础 ★1860年在伦敦圣多马医院开办第一所近代护理学院 　被公认为是护理和预防医学的专家★1912.国际护士学会将她的生日5.12订为国际护士节。环境理论，物理环境,心理环境和社会环境是互相联系的部分;环境因素影响机体的生活,发展,影响对疾病和死亡的预防,抑制或促成;良好的环境应包括清洁的空气和水,噪音的控制,污水的排放,适合的温度和多种多样的活动等;护理是将病人安置于有利于机体生长发展的最佳条件中的过程,其目的是保持机体的生命力和保证患病机体修复过程. 　3、世界各国现代护理学</div>
<div class="para" label-module="para">⑴护理教育的发展 ，证书教育(diploma program) 医院办护校 始于1873年 1920—1930年发展鼎盛 高中毕业学制3-1年,培养了许多优秀护士.40年代转向专科学院或综合性大学建立护理系.目前为1年.准学士项目(associate degree program) 美国开始于50年代,高中毕业学制2年,以学习护理操作技术为重点.继续学习可获得学位.学士项目(baccalaureate program)开始于1919年,明尼苏达大学创办 重点学习护理科学,人际沟通,决策过程,领导艺术。硕士项目(master program) 1932年,美国天主教大学开始美,强调为临床各专科培养专家国 。博士项目(doctoral program)1933年,美国哥伦比亚大学教师学院开设护理教师的博士项目⑵护理实践的发展，19世纪------在医院中为病人提供照顾 　20世纪------科学技术的进步使护理实践活动发生了巨大的变化,护理专业分科越来越细 　20世纪60年代护理程序形成和应用,使护理实践更具有系统性和目标性,护理病人的活动不再只是按照护理操作规程完成任务,而是根据个人,家庭,群体的特殊需要提供不同的护理措施,使护理质量和病人的满意度提高.护士专业角色扩展,护理服务对象和范围越来越广泛.护理理论的发展，南丁格尔被视为最早的护理理论家，20世纪60年代形成护理理论和模式，3、护理研究的发展，护理教育的发展,具有科研能力的护理工作者不断增加.1955年,美国护士基金会成立支持护理研究。1985年,美国的全国健康研究院设立了全国护理研究院。护理团体和刊物的发展，1896年,美加护士会成立,1911年改为美国护士会(American Nurses' Association,简称ANA)1899年成立国际护士会(International Council of Nurses,简称ICN)1900 年,〈美国护理杂志〉创刊;1952年,〈护理研究杂志〉创刊.各国各专科护理杂志不断发行.</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub146368_3"></a>
<a class="lemma-anchor " name="影响因素"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">护理学专业</span>影响因素</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">护理专业的形成和发展与人类文化,科学的进步息息相关,并身受社会变迁的影响.</div>
<div class="para" label-module="para">影响护理专业发展的因素</div>
<div class="para" label-module="para"><b>1</b><b>、护士队伍自身的因素</b></div>
<div class="para" label-module="para">妇女自身解放,地位的提高对护理专业的发展起到推动作用.</div>
<div class="para" label-module="para"><b>2</b><b>、科学技术的发展</b></div>
<div class="para" label-module="para">现代科技的进步推动着医学和护理学的发展.大量先进科技和仪器的使用,提高了诊断,治疗和护理技术;计算机及网络的应用帮助护士查阅资料,统计分析,沟通信息,及远程教育.不利一面:费用增加,通过仪器检测病人使与病人的接触减少.</div>
<div class="para" label-module="para"><b>3</b><b>、人口结构的改变</b></div>
<div class="para" label-module="para">人口老龄化是严重困扰人们的现代社会问题.</div>
<div class="para" label-module="para">联合国规定65岁以上人口占总人口的7%以上为老龄化国家.慢病增加,所需护理增加</div>
<div class="para" label-module="para"><b>4</b><b>、不同人群健康需求的变化</b></div>
<div class="para" label-module="para">疾病谱的改变：心脑血管疾病,恶性肿瘤,糖尿病遗传性或先天性疾病增多.生活工作方式,心理状态,环境因素,遗传因素和医疗卫生服务方式与人的健康有密切关系.新的传染病威胁人类如爱滋病,SARS.</div>
<div class="para" label-module="para">妇女儿童的健康需要：我国孕产妇死亡率约为61.9/10万,发达国家已低于10/10万;在发展中国家,营养不良,各种感染,缺碘等疾病正威胁着儿童的健康.</div>
<div class="para" label-module="para">健康观念的转变：身体,心理,社会的健康</div>
<div class="para" label-module="para"><b>5</b><b>、费者运动与医疗服务体制改革的影响 　</b></div>
<div class="para" label-module="para">健康保健服务也被示为一种市场,作为消费者病人有更大的主动性,有权利选择和监督服务机构.</div>
<div class="para" label-module="para">消费者的自我保护意识也逐渐影响到医药卫生行业.</div>
<div class="para" label-module="para"><b>6</b><b>、医学模式的转变</b></div>
<div class="para" label-module="para">从生物医学模式转向:生物——心理——社会医学模式</div>
<div class="para" label-module="para">服务对象包括生物,心理和社会等各方面整体的人</div>
<div class="para" label-module="para">疾病和健康受生物,心理和社会等多种因素影响.</div>
<div class="para" label-module="para">护士更注重服务对象的整体性及预防疾病和促进健康的措施</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub146368_4"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">护理学专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业学生主要学习相关的人文社会科学知识和医学基础、预防保健的基本理论知识，受到护理学的基本理论、基本知识和临床护理技能的基本训练，具有对服务对象实施整体护理及社区健康服务的基本能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub146368_5"></a>
<a class="lemma-anchor " name="知识和能力"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">护理学专业</span>知识和能力</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">毕业生应获得以下几方面的知识和能力：<br/>　　1．掌握相关的人文社会科学、基础医学、预防保健的基本理论知识；<br/>　　2．掌握护理学基本理论、基本知识、基本技能；<br/>　　3．掌握护理急、慢性和重症病人的护理原则、操作技术，专科护理和监护技能，并能够应用护理程序对服务对象实施整体护理；<br/>　　4．具有社区健康服务、护理管理和护理教育的基本能力；<br/>　　5．熟悉国家卫生工作方针、政策及法规；<br/>　　6．了解护理学的学科发展动态。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub146368_6"></a>
<a class="lemma-anchor " name="相关期刊"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">护理学专业</span>相关期刊</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">护理学专业研究 Nursing Science 是一本关注护理学领域最新进展的国际中文期刊，由汉斯出版社发行。主要刊登以自然科学和社会科学理论为基础，对人类健康的护理理论、知识、技能及其发展规律等相关领域的<a target="_blank">学术论文</a>。本刊支持思想创新、学术创新，倡导科学，繁荣学术，集学术性、思想性为一体，旨在为了给世界范围内的科学家、学者、科研人员提供一个传播、分享和讨论护理学领域内不同方向问题与发展的交流平台。</div>
<div class="para" label-module="para">研究领域：<div class="lemma-picture text-pic layout-right" style="width:144px; float: right;">
<a class="image-link" nslog-type="9317" style="width:144px;height:195px;" target="_blank" title="护理学专业研究">
<img alt="护理学专业研究" class="lazy-img" data-src="https://gss2.bdstatic.com/-fo3dSag_xI4khGkpoWK1HF6hhy/baike/s%3D220/sign=c89dd61f9052982201333ec1e7c87b3b/902397dda144ad34d73c6d5fd0a20cf430ad8563.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF9fX1AAAA0VQI3QAAAAxJREFUeNpiYAAIMAAAAgABT21Z4QAAAABJRU5ErkJggg==" style="width:144px;height:195px;"/>
</a>
<span class="description">
护理学专业研究
</span>
</div></div>
<div class="para" label-module="para">护理管理</div>
<div class="para" label-module="para">护理教育</div>
<div class="para" label-module="para">基础护理</div>
<div class="para" label-module="para">护理学基础</div>
<div class="para" label-module="para">护理药械</div>
<div class="para" label-module="para">缓和护理</div>
<div class="para" label-module="para">中医护理</div>
<div class="para" label-module="para">精神卫生</div>
<div class="para" label-module="para">康复护理</div>
<div class="para" label-module="para">护理伦理</div>
<div class="para" label-module="para">个案护理</div>
<div class="para" label-module="para">医院感染控制</div>
<div class="para" label-module="para">病理生理学</div>
<div class="para" label-module="para">健康评估</div>
<div class="para" label-module="para">社区健康护理</div>
<div class="para" label-module="para">急救护理</div>
<div class="para" label-module="para">老年护理学</div>
<div class="para" label-module="para">心血管护理</div>
<div class="para" label-module="para">护理评估</div>
<div class="para" label-module="para">儿童护理</div>
<div class="para" label-module="para">护理心理学</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub146368_7"></a>
<a class="lemma-anchor " name="主干学科"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">护理学专业</span>主干学科</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a data-lemmaid="3712" target="_blank">伦理学</a>、<a data-lemmaid="6215" target="_blank">心理学</a>、护理学。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub146368_8"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">护理学专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">人体解剖学、生理学、医学伦理学、心理学、病因学、药物治疗学、诊断学基础、护理学基础、急重症护理、内外科护理学、妇儿科护理学、精神护理学等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="9"></a>
<a class="lemma-anchor " name="sub146368_9"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">护理学专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="9"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">主要实践性教学环节：包括临床综合实习、社区实习、论文撰写等，一般安排不少于36周。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="10"></a>
<a class="lemma-anchor " name="sub146368_10"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">护理学专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="10"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">北京中医药大学</a>（四年） <a target="_blank">北京中医药大学东方学院</a>（四年）</div>
<div class="para" label-module="para"><a target="_blank">中南大学湘雅医学院</a>（四年）（七年）<a target="_blank">长沙医学院</a>（四年）</div>
<div class="para" label-module="para"><a target="_blank">湖南中医药大学</a>（四年） <a target="_blank">湖南中医药大学湘杏学院</a>（四年）</div>
<div class="para" label-module="para"><a target="_blank">昆明医学院</a>(五年) <a target="_blank">大理医学院</a>(五年) <a target="_blank">广州医科大学</a>（四年）</div>
<div class="para" label-module="para"><a target="_blank">天津医科大学</a>(五年) <a target="_blank">承德医学院</a>(五年) <a target="_blank">长治医学院</a>(五年)</div>
<div class="para" label-module="para"><a target="_blank">北华大学</a>(五年) <a target="_blank">上海第二医科大学</a>(五年)<a target="_blank">南京医科大学</a>(五年)</div>
<div class="para" label-module="para"><a target="_blank">蚌埠医学院</a>(五年) <a target="_blank">福建医科大学</a>(四年) <a target="_blank">滨州医学院</a>(五年)</div>
<div class="para" label-module="para"><a target="_blank">青岛大学</a>(五年) <a target="_blank">武汉大学</a>(四年) <a target="_blank">石河子大学</a>(五年)</div>
<div class="para" label-module="para"><a target="_blank">中国协和医科大学</a><a target="_blank">北京大学</a>(五年) <a target="_blank">中国医科大学</a>(五年) <a target="_blank">南方医科大学</a></div>
<div class="para" label-module="para"><a target="_blank">复旦大学</a>(五年) <a target="_blank">山东大学</a>(五年) <a target="_blank">中南大学</a>(五年)</div>
<div class="para" label-module="para"><a target="_blank">中山大学</a>(五年)<a target="_blank">四川大学</a><a target="_blank">西安交通大学</a>(五年)</div>
<div class="para" label-module="para"><a target="_blank">暨南大学</a>(五年) <a target="_blank">浙江大学</a>(五年) <a target="_blank">华北煤炭医学院</a>(五年)</div>
<div class="para" label-module="para"><a target="_blank">郧阳医学院</a>(五年)<a target="_blank">苏州大学</a><a target="_blank">贵阳中医学院</a>(五年)</div>
<div class="para" label-module="para"><a target="_blank">泰山医学院</a>(五年) <a target="_blank">潍坊医学院</a>(五年) <a target="_blank">济宁医学院</a>(五年)</div>
<div class="para" label-module="para"><a target="_blank">河北医科大学</a>(五年) <a target="_blank">黑龙江中医药大学</a><a target="_blank">扬州大学</a></div>
<div class="para" label-module="para"><a target="_blank">新乡医学院</a>(五年) <a target="_blank">南华大学</a>(五年) <a target="_blank">安徽医科大学</a>(五年)</div>
<div class="para" label-module="para"><a target="_blank">锦州医学院</a><a target="_blank">广州中医药大学</a><a target="_blank">天津中医学院</a></div>
<div class="para" label-module="para"><a target="_blank">内蒙古医学院</a>(五年) <a target="_blank">大连医科大学</a>(五年) <a target="_blank">延边大学</a>(五年)</div>
<div class="para" label-module="para"><a target="_blank">牡丹江医学院</a>(五年) <a target="_blank">齐齐哈尔医学院</a>(五年) <a target="_blank">温州医学院</a></div>
<div class="para" label-module="para"><a target="_blank">安徽中医学院</a><a target="_blank">赣南医学院</a><a target="_blank">郑州大学</a>(五年)</div>
<div class="para" label-module="para"><a target="_blank">河南大学</a>(五年) <a target="_blank">华中科技大学</a>(五年) <a target="_blank">咸宁医学院</a>(五年)</div>
<div class="para" label-module="para"><a target="_blank">右江民族医学院</a>(五年) <a target="_blank">海南医学院</a><a target="_blank">重庆医科大学</a></div>
<div class="para" label-module="para"><a target="_blank">成都中医药大学</a>(五年) <a target="_blank">川北医学院</a>(四年) <a target="_blank">贵阳医学院</a>(五年)</div>
<div class="para" label-module="para"><a target="_blank">遵义医学院</a><a target="_blank">甘肃中医学院</a><a target="_blank">新疆医科大学</a>(五年)</div>
<div class="para" label-module="para"><a target="_blank">河北建筑科技学院</a>(五年) <a target="_blank">沈阳医学院</a>(五年) <a target="_blank">上海中医药大学</a><a target="_blank">第二军医大学</a></div>
<div class="para" label-module="para"><a target="_blank">杭州师范大学</a><a target="_blank">湖州师范学院</a><a target="_blank">江西中医学院</a></div>
<div class="para" label-module="para"><a target="_blank">九江学院</a><a target="_blank">河南科技大学</a>(五年) <a target="_blank">河南中医学院</a>（四年/三年）<a target="_blank">新乡医学院</a>（四年）</div>
<div class="para" label-module="para"><a target="_blank">湖南师范大学</a>(五年) <a target="_blank">攀枝花学院</a>(五年)</div>
<div class="para" label-module="para"><a target="_blank">辽宁中医药大学</a><a target="_blank">广东医学院</a></div>
<div class="para" label-module="para"><a target="_blank">兰州大学基础医学院</a>（五年）<a target="_blank">山东中医药大学</a>(五年)</div>
<div class="para" label-module="para"><a target="_blank">大连大学</a>（四年）</div>
<div class="para" label-module="para"><a target="_blank">浙江中医药大学</a>（四年）</div>
<div class="para" label-module="para"><a target="_blank">中山大学新华学院</a>（四年）江西中医学院（四年）</div>
<div class="para" label-module="para"><a target="_blank">安徽理工大学医学院</a>（五年）<a target="_blank">南阳理工学院</a>（四年）</div>
<div class="para" label-module="para"><a target="_blank">山西中医学院</a>（四年）</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="11"></a>
<a class="lemma-anchor " name="sub146368_11"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">护理学专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="11"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">根据卫生部的统计，到2015年中国的护士数量将增加到232.3万人，平均年净增加11.5万人，这为学习护理专业的毕业生提供了广阔的就业空间。随着我国向<a target="_blank">老龄化社会</a>转变，将来从事老人医学的人才将走俏，保健医师、<a target="_blank">家庭护士</a>也将成为热门人才。另外，专门为个人服务的护理人员的需求量也将增大。</div>
<div class="para" label-module="para">业内专家介绍说，护理职业一直是国际上地位较高、薪水丰厚的职业之一，同时，护理人才又是国际紧缺的人才之一。如护士在美国平均年薪达5万美元，而美国缺护士30万人。在<a target="_blank">澳洲</a>，护士最容易找工作或获得升迁，同时，只要拥有了澳洲注册护士的资格，等于拿到了通向英联邦国家工作的“绿卡”。英、法、德等西方发达国家对护士均有许多优惠的政策，因此，有深厚的<a target="_blank">专业知识</a>、较高的综合素质和流畅的国际交流语言的护士在国际上就业、发展前景十分广阔。</div>
<div class="rs-container-foot">
<a name="rs-1"></a>
<a class="anchor-2" name="rs_146368_15847"></a>
<div class="rslazy rs-container" id="rs-container-146368-15847" lazy-init="lemmars.tableAction(baidu.g('rs-146368-15847'))"></div>
</div><script type="text/javascript">
        window.rsInsertData = window['rsInsertData'] || [];
        var rsdataList = {"foot":[{"fentryTableId":15847,"fentryTableName":"\u4e8c\u7ea7\u5b66\u79d1\u00b7\u62a4\u7406\u5b66\u7c7b\u4e13\u4e1a","fentryTableType":1,"entryId":2393538,"templateId":0,"entryTitle":"\u62a4\u7406\u5b66\u7c7b\u4e13\u4e1a","isManual":1,"isExpand":1}],"top":[]};

        if (rsdataList.top || rsdataList.foot) {
            rsInsertData.push([146368, rsdataList]);
        }
    </script>

<div class="clear"></div>
</div>