<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>联合战役学</h1>


</dd>
</dl><div class="edit-prompt">本词条缺少<strong>信息栏</strong>、<strong>名片图</strong>，补充相关内容使词条更完整，还能快速升级，赶紧来<a class="edit-prompt-link j-edit-link">编辑</a>吧！</div>
<div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">联合战役学是研究联合战役及其指导规律的学科。主要研究内容有：联合战役的本质、类型、特点、基本原则和组织实施的方法等。</div>
</div>
<div class="configModuleBanner">
</div><div class="para" label-module="para">联合战役学是一个新型学科，受战役学理论的指导，同时又以其理论成果对战役学的发展产生一定影响；它对军种战役学具有一定的指导作用，同时军种战役学的理论成果又丰富和发展联合战役学的内容；它既促进相关学科的发展，同时又吸收它们的理论成果充实与发展自身。</div>

<div class="clear"></div>
</div>