<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>军种战役学</h1>


</dd>
</dl><div class="edit-prompt">本词条缺少<strong>名片图</strong>，补充相关内容使词条更完整，还能快速升级，赶紧来<a class="edit-prompt-link j-edit-link">编辑</a>吧！</div>
<div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">军种战役学是研究军种战役及其指导规律的学科，包括陆军战役学、海军战役学、空军战役学、第二炮兵战役学。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
军种战役学
</dd>
<dt class="basicInfo-item name">包    含</dt>
<dd class="basicInfo-item value">
陆军战役学、海军战役学
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">研究内容</dt>
<dd class="basicInfo-item value">
军种战役的本质
</dd>
<dt class="basicInfo-item name">特    点</dt>
<dd class="basicInfo-item value">
受各军种战略学的指导
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-1">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">研究内容</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">特点</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub1327116_1"></a>
<a class="lemma-anchor " name="研究内容"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">军种战役学</span>研究内容</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">军种战役的本质、特点、基本原则和组织实施的方法等。军种战役学受战役学理论指导，同时又以其自身的发展不断拓展、丰富战役学理论。各军种战役学，处于各军种战略学和本军种兵种战术学的中间地位，起着承上启下的关联作用。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub1327116_2"></a>
<a class="lemma-anchor " name="特点"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">军种战役学</span>特点</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">它既受各军种战略学的指导，同时又对各军种战略学产生影响；既对本军种的兵种战术学起指导作用，同时又受本军种的兵种战术学的影响。军种战役学是随着新军种的出现、作战规模不断扩大、战役理论不断发展而逐步形成和发展的。第一次世界大战前后，一些国家有了陆军、海军战役准备与实施的理论原则，其后空军、战略导弹部队（战略火箭军）等军种相继出现，随之产生了海军战役学、空军战役学、战略火箭军战役学等，形成了具有现代特色的军种战役学理论。</div>

<div class="clear"></div>
</div>