<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>合同战术学</h1>


</dd>
</dl><div class="edit-prompt">本词条缺少<strong>名片图</strong>，补充相关内容使词条更完整，还能快速升级，赶紧来<a class="edit-prompt-link j-edit-link">编辑</a>吧！</div>
<div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">合同战术学是研究合同战斗规律和指导规律的学科。学科的基本任务是揭示合同战斗的特点、规律和组织实施合同战斗的原则、方法等，以指导其实践。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
合同战术学
</dd>
<dt class="basicInfo-item name">分    类</dt>
<dd class="basicInfo-item value">
学科
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">功    能</dt>
<dd class="basicInfo-item value">
研究合同战斗规律和指导规律
</dd>
<dt class="basicInfo-item name">备    注</dt>
<dd class="basicInfo-item value">
理论内容
</dd>
<dt class="basicInfo-item name">基本任务</dt>
<dd class="basicInfo-item value">
揭示合同战斗的特点
</dd>
</dl></div>
<div class="para" label-module="para">合同战术学是战斗实践和战术理论发展到一定阶段的产物。冷兵器时期，战斗中就有了步兵与车兵、骑兵，陆军与水军之间的配合，人们已开始重视对这方面的战斗经验加以总结。进入火器时期，揭开了步兵、骑兵与炮兵协同战斗新的一幕，登陆作战使陆军与海军的战术联系得到加强，引起了诸多军事家对相关战术的深入探索。第一次世界大战时期，随着飞机、坦克、化学武器和无线电通信等使用于战场，新的兵种相继建立，诸军种、兵种在统一计划下协调一致地行动成为战斗制胜的关键因素，合同战术应运而生。第二次世界大战时期，军队新式武器装备大量发展，陆上、海上和空中的战斗，均普遍具有了参战军种、兵种多，任务分工细，指挥协同复杂等特点，促使合同战术得到全面发展。战后，随着军事技术的不断进步特别是高新技术运用于战场，战斗的合同性不断增强，揭示并反映这一特点和规律的战术理论研究的深入发展，合同战术理论体系和学科体系日臻完善。合同战术学与军事学的许多学科在理论上有着程度不同的联系。合同战术学主要研究合同战斗的规律和指导规律，并为其他学科的作战理论研究提供一般原理和原则，同时不断吸取其他学科的研究成果，以丰富、完善和深化本学科的理论内容。</div>

<div class="clear"></div>
</div>