<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>军事通信学</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">军事通信学是研究<a target="_blank">军事通信</a>一般规律，并指导军事通信实践的学科。军事通信在人类战争史上，伴随着武装冲突和军队的产生而产生，并随着战争和军队的发展而发展。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
军事通信学
</dd>
<dt class="basicInfo-item name">含    义</dt>
<dd class="basicInfo-item value">
研究军事通信一般规律
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">范    围</dt>
<dd class="basicInfo-item value">
军事
</dd>
<dt class="basicInfo-item name">性    质</dt>
<dd class="basicInfo-item value">
通信学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-1">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">学科发展</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">相关学科</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub33833_1"></a>
<a class="lemma-anchor " name="学科发展"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">军事通信学</span>学科发展</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">在我国古代军事理论中，很早就有关于军事通信的论述。而军事通信学真正作为一门相对独立的学科，则是在军事科学与现代科学技术高度发展的现代战争条件下逐步形成和完善的。特别是自20世纪70年代以来世界范围内爆发的几场局部战争和信息技术的发展，极大地提高了军事通信在现代战争中的地位，促进了军事通信理论研究向学科化方向的发展。自20世纪80年代以来，重视和加强军事通信基础理论的研究，从宏观上探讨军事通信本质特征、规律和军事通信学科体系结构的学术活动，对于军事通信学的形成起了极为重要的推动作用。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub33833_2"></a>
<a class="lemma-anchor " name="相关学科"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">军事通信学</span>相关学科</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">军事通信学，是指在军事条件下进行通信保障的一门综合性学科。由计算机科学、信息学、自动化等学科综合而成。中国研究军事通信学的中心是：通信指挥学院 。</div>

<div class="clear"></div>
</div>