<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>后方专业勤务</h1>


</dd>
</dl><div class="edit-prompt">本词条缺少<strong>名片图</strong>，补充相关内容使词条更完整，还能快速升级，赶紧来<a class="edit-prompt-link j-edit-link">编辑</a>吧！</div>
<div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">本学科创建于1961年，1990获硕士学位授予权，2010获博士学位授予权，2000年成为重庆市重点学科。 经过多年的建设，形成了一支年龄、职称、学历结构合理的<a target="_blank">师资</a>队伍。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
后方专业勤务
</dd>
<dt class="basicInfo-item name">创建于</dt>
<dd class="basicInfo-item value">
1961年
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">地    位</dt>
<dd class="basicInfo-item value">
重庆市重点学科
</dd>
<dt class="basicInfo-item name">荣    誉</dt>
<dd class="basicInfo-item value">
军队科技进步奖53项
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-1">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">学科基本情况</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">学科研究领域及特色</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub8356136_1"></a>
<a class="lemma-anchor " name="学科基本情况"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">后方专业勤务</span>学科基本情况</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">学科形成了培养博士、硕士、本科、大专油料、营房和仓储勤务专业人才的完备教学体系，建立了以实验室、资料室和实习基地等为主的教学科研保障体系，是培养全军油料、营房、仓储勤务专业中、高级专门人才的主要基地，也是我军油料、营房和仓储勤务研究与论证中心。"九五"以来，承担科研项目86项，获得国家科技进步奖2项，军队科技进步奖53项，获得军队级教学研究成果奖3项；出版专著12部，教材48部，发表学术论文702篇。为培养高素质油料、营房和仓储勤务专业人才，促进我军后方专业勤务建设做出了重大贡献。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub8356136_2"></a>
<a class="lemma-anchor " name="学科研究领域及特色"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">后方专业勤务</span>学科研究领域及特色</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">（一）<b>营房勤务方向</b></div>
<div class="para" label-module="para">本方向是我军培养营房勤务生长型军官的主要基地，为全军培养中、高级营房勤务专业人。开展战场临时营区定点、布局规划与建设，预设战场营房自然与社会资源的调查动员，野营装备的储备、供应与管理，野战仓库抢修抢建，突发事件的营房保障，战时营房保障决策自动化等方面的研究。 "九五"以来，教学科研成果显著，出版专著、教材19部，发表学术论文258篇。承担总部及军区科研项目22项，完成的"三高地区屋面工程技术研究"和"冰川冻土地区营房修建技术研究"研究项目，分别获得国家科技进步三等奖、军队科技进步一等奖，并获"九五"全军后勤重大科技成果奖； 还获得军队科技进步奖5项。6项成果在全军十个大单位和西部3000多公里边防线上498个营区推广应用，取得了重大的军事经济效益，提高了部队营房保障水平，改善了边防艰苦地区部队生存环境。所取得教学科研成果处于国内领先水平。</div>
<div class="para" label-module="para"><b>（二） <b>油料勤务方向</b></b></div>
<div class="para" label-module="para">本方向是全军油料勤务生长型军官的主要培养基地，为全军培养从事油料供应保障的中、高级油料勤务专业人才。开展军队油料供应管理、作战油料保障和油料勤务决策自动化等方面的研究。</div>
<div class="para" label-module="para">本方向紧紧围绕军事斗争油料准备和高技术局部战争油料保障开展科学研究，出版教材、专著26本，发表学术论文321篇；承担总部"现代作战油料保障理论、技术与决策"等36项科研项目，其中"高技术条件下机动作战快速油料保障决策"等32项成果获得科技进步奖，其中军队科技进步二等奖以上的8项；获得教学成果奖20多项，其中军队教学成果二等奖以上的3项。这些成果为总部和部队油料部门进行油料保障准备提供了决策依据，受到军委、总部好评，在全军油料勤务领域处于领先地位。</div>
<div class="para" label-module="para"><b>（三）仓储勤务方向</b></div>
<div class="para" label-module="para">本方向为全军培养仓储勤务专业人才，开展仓库战备、伪装防护、快速保障和仓储自动化等方面的研究，以提高战时仓库快速保障能力和生存能力。</div>
<div class="para" label-module="para">"九五"以来，教学科研成果丰富，出版教材、专著 7本，发表论文64篇，构建起较为科学和完善的仓储勤务学科体系，丰富和发展了后方专业勤务学科领域，为打赢高技术局部战争提供了人才和智力支持。</div>
<div class="para" label-module="para">为了适应未来战争的需要，在新时期军事战略方针指导下，积极开展科学研究，先后承担了"全军后方仓库调查"、"全军仓库自动化发展与应用研究"、"后方仓库自动化监控解决方案"、"仓库普查信息系统"、"后方仓库装备信息管理与辅助决策系统"等15项科研项目，获得军队科技进步奖6项，教学成果奖8项，实验室建设成果奖2项；根据全球军事动态和我军仓储建设需要，撰写了《科索沃战争对我军后方仓库建设的启示》、《仓库自动化现状调查与分析》等专题论证报告，为总部决策提供咨询和建议；建成了仓储机械与安全实验室、军用物资养护实验室、包装实验室、多媒体教学实验室和仓储教学实习基地。本方向培养的高素质人才和所创造的理论与科研成果，奠定了在我军仓储领域的重要地位。</div>
<div class="para" label-module="para"><b>（四）后方专业勤务理论方向</b></div>
<div class="para" label-module="para">本方向主要研究油料、营房、仓储勤务基本理论，开展了专业勤务理论的系统研究，基本实现了军事理论、后勤理论与专业理论和工程技术的有机结合，初步构建了以油料、营房、仓储勤务为特色的后方专业勤务理论体系，为全军培养复合型的专门人才起到了重要作用。</div>

<div class="clear"></div>
</div>