<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>工程管理专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para"><a target="_blank">工程管理</a>专业是新兴的<a target="_blank">工程技术</a>与管理交叉复合性学科。该专业培养具备<a data-lemmaid="250" target="_blank">管理学</a>、<a target="_blank">经济学</a>和<a target="_blank">土木工程</a>技术的基本知识，掌握<a data-lemmaid="4529559" target="_blank">现代管理科学</a>的理论、方法和手段，能在国内外工程建设领域从事项目决策和全过程管理的复合型高级管理人才。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
工程管理专业
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
Engineering Management
</dd>
<dt class="basicInfo-item name">性    质</dt>
<dd class="basicInfo-item value">
工程技术与管理交叉复合性学科
</dd>
<dt class="basicInfo-item name">特    点</dt>
<dd class="basicInfo-item value">
<a target="_blank">身体素质</a>和<a target="_blank">心理素质</a>
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">要    求</dt>
<dd class="basicInfo-item value">
<a target="_blank">管理学</a>、<a target="_blank">经济学</a>、<a target="_blank">土木工程</a>技术
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
120103
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
管理学或工学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
管理学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-4">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">学科背景</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">发展历史</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">专业解析</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">培养要求</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">知识能力</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">主干学科</a></span>
</li>
<li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">主干课程</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">实践教学</a></span>
</li>
<li class="level1">
<span class="index">9</span>
<span class="text"><a href="#9">就业方向</a></span>
</li>
<li class="level1">
<span class="index">10</span>
<span class="text"><a href="#10">开设学院</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">11</span>
<span class="text"><a href="#11">专业开设</a></span>
</li>
<li class="level1">
<span class="index">12</span>
<span class="text"><a href="#12">专升本</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#12_1">知识和能力</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#12_2">主干学科</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#12_3">主要课程</a></span>
</li>
</ol><ol><li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#12_4">主要环节</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#12_5">成人科目</a></span>
</li>
<li class="level1">
<span class="index">13</span>
<span class="text"><a href="#13">自考科目</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub146403_1"></a>
<a class="lemma-anchor " name="学科背景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">工程管理专业</span>学科背景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">现代社会有个奇怪的发展趋势，就是社会分工越来越明确，社会生产越来越精细，专业隔离越来越明显，隔行如隔山的情形越来越普遍；而另一方面，现代社会生产却越来越要求复合型的人才，即常说的T型人才。单纯的具有管理技能，或者说单纯的具有工程技术的人才，已经不能适应社会的发展。<a target="_blank">工程管理专业</a>出来的同学，正是T型人才的典范，他们懂技术，又懂得管理，恰好适合社会所需。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub146403_2"></a>
<a class="lemma-anchor " name="发展历史"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">工程管理专业</span>发展历史</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">早些时候，国际上诸所大学院所中开设工程管理这门专业的也是寥寥无几，只是侧重于某些重点方面进行专门的专业教育，如<a data-lemmaid="389380" target="_blank">土木工程</a>管理专业和<a target="_blank">信息工程</a>管理专业等等。</div>
<div class="para" label-module="para">在80年代初期我国全国普通高等学校专业设置目录表中尚未出现这门专业，只是列举了象管理工程专业等类似相关的专业科目名称。直到90年代初期，根据国家教委关于院系专业科目合并调整的指示精神，在新的全国普通高等学校专业设置目录中才出现工程管理这一新兴的、综合的专业科目。</div>
<div class="para" label-module="para">我国<a target="_blank">工程管理专业</a>可追溯到20世纪60年代初期，一批50年代留学前苏联的工程经济专家与50年代前留学英美的工程经济专家在我国开设的技术经济学科，该阶段主要研究的是项目和技术活动的经济分析，如项目评价与可行性分析。1979年国内包括<a target="_blank">西安交通大学</a>在内的11所院校开办了管理工程专业，1980年<a target="_blank">华中工学院</a>(现已经并入<a target="_blank">华中科技大学</a>）开始招收物资管理工程本科生，1981年<a target="_blank">哈尔滨建筑大学</a>招收了建筑管理工程,此后相继开设房地产经营管理、国际工程管理等专业。我国高校本科专业先后经过1963年、1989年、1993年及1998年四次修订，对原有相关专业包括建筑管理工程、基本建设<a target="_blank">管理工程</a>、管理工程(建筑管理工程方向)、<a target="_blank">房地产经营管理</a>、涉外建筑工程营造与管理、国际工程管理等专业整合成工程管理，于1998年正式成为<a target="_blank">管理科学与工程</a>一级学科下设专业。</div>
<div class="para" label-module="para">国内开设工程管理专业的著名院校之一的<a target="_blank">重庆大学</a>，其建设管理与房地产学院(Faculty of Construction Management and Real Estate) 的前身是创立于1981年2月的“重庆建筑工程学院建筑管理工程系”，是我国最早创办建筑管理工程专业（现工程管理专业）的院系之一，1994年更名为“<a target="_blank">重庆建筑大学</a>管理工程学院”， 新<a target="_blank">重庆大学</a>成立后，更名为重庆大学建设管理与房地产学院。</div>
<div class="para" label-module="para">工程管理专业</div>
<div class="para" label-module="para">工程管理系下设工程管理专业，培养具备管理学、经济学、<a data-lemmaid="23558" target="_blank">法学</a>和土木工程技术等方面<a target="_blank">专业基础知识</a>，全面接受工程师基本训练，掌握现代管理科学理论、方法和手段，具有较强的实践和创新能力，能够在国内外工程建设和房地产领域从事项目决策、<a target="_blank">项目投资与融资</a>、项目全过程管理和经营管理的复合型高级管理专业人才。</div>
<div class="para" label-module="para">工程管理专业设置了工程建设管理、国际工程管理、投资与造价管理等三个专业方向。</div>
<div class="para" label-module="para">工程建设管理专业方向</div>
<div class="para" label-module="para">毕业生主要适合于从事工程建设项目的全过程管理工作，应基本具备进行工程建设项目可行性研究、一般土木工程设计和施工建设、工程建设项目全过程的投资、进度、质量控制及合同管理、信息管理和组织协调的能力。</div>
<div class="para" label-module="para">该专业方向的主要课程包括：<a data-lemmaid="9589460" target="_blank">建设法规</a>、建筑技术经济学、工程估价、<a data-lemmaid="1425487" target="_blank">财务管理</a>、<a data-lemmaid="1175" target="_blank">统计学</a>、<a data-lemmaid="1559" target="_blank">运筹学</a>、经济学、<a data-lemmaid="1345393" target="_blank">会计学</a>、工程建设合同管理、建筑结构经济学概论、工程项目管理，<a target="_blank">工程项目成本</a>规划与控制、建设项目风险管理、工程建设信息管理、工程建设项目投资与融资等。</div>
<div class="para" label-module="para">国际工程管理专业方向</div>
<div class="para" label-module="para">毕业生主要适合于从事<a target="_blank">国际工程项目管理</a>工作，应基本具备进行国际工程项目的招标与投标、合同管理、投资与融资、风险与索赔管理、信息管理及国际工程项目全过程系统化、集成化管理的能力及较强的外语运用能力。</div>
<div class="para" label-module="para">该专业方向的主要课程包括：建设法规、建筑技术经济学、工程估价、财务管理、统计学、运筹学、经济学、会计学、工程建设合同管理、<a target="_blank">FIDIC合同条件</a>、建筑结构经济学概论、工程项目成本规划与控制、国际工程承包与国际工程项目管理、国际工程风险管理与工程索赔、工程建设信息管理、国际工程融资、国际经济法与工程承包国际惯例等。</div>
<div class="para" label-module="para">投资与造价管理专业方向</div>
<div class="para" label-module="para">毕业生主要适合于从事项目投资与融资和<a target="_blank">工程造价全过程管理</a>工作。应基本具备进行项目评估、工程造价管理的能力，基本具备编制项目招标、投标文件和投标书综合评定的能力，基本具备编制和审核工程建设项目估算、概算、预算和决算的能力。</div>
<div class="para" label-module="para">该专业方向的主要课程包括：投资与造价管理法规、建筑经济学、建筑技术经济学、工程估价、财务管理、统计学、运筹学、经济学、会计学、工程建设合同管理、建筑结构经济学概论、工程项目管理、工程项目成本规划与控制、工程建设信息管理、工程建设项目投资与融资、房地产评估、金融与资本市场、建设项目风险管理、保险学等。</div>
<div class="para" label-module="para">工程管理专业毕业生主要从业领域：建筑、房地产、工程设计、工程咨询、房地产咨询、工程造价管理、金融等行业和领域的企业、科研、教学和行政管理等部门。</div>
<div class="para" label-module="para">从国内社会需求与改革开放看，随着工程建设建筑标准要求的提高，将对工程管理专业及行业的发展提出新的、更高层次的挑战。如何使工程建筑在质量、监理的水平以及创意上有所突破，都需要工程管理方面的协调和配合。在<a target="_blank">建筑施工组织</a>和技术、工程开发和经营、财务的滚动和回收、整体规划的管理等诸多方面，进行工程管理的升级和同步发展，以适应发展变化的需要。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub146403_3"></a>
<a class="lemma-anchor " name="专业解析"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">工程管理专业</span>专业解析</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">工程管理专业培养具备管理学、经济学和土木工程技术的基本知识，学生在校学习期间，要接受工程师和经济师的基本素质训练，打好工程技术、管理、经济、法律、外语及计算机应用方面的坚实基础。管理学院在对工程管理专业人才培养过程中，积极提供相应条件，使学生根据自身能力，能够攻读相关学科专业的双学位和双专业。</div>
<div class="para" label-module="para">有不少同学认为工程管理就是一种单纯的管理学科，这是不正确的。工程管理需要学习的不仅仅是一种管理的思想，同时还要求有一定的工程背景和数学知识。在这门专业的学习中，我们应明白一个基本的等式就是“工程管理=工程技术+经济管理”，当然决不是简单的相加，而应当掌握几个基本的技能：1．掌握以土木工程技术为主的理论知识和实践技能；2．掌握相关的管理理论和方法；3．掌握相关的经济理论；4．掌握相关的法律、法规；5．具有从事工程管理的理论知识和实践能力；6．具有阅读工程管理专业外语文献的能力；7．具有运用计算机辅助解决工程管理问题的能力；8．具有较强的科学研究能力。总的来说，工程管理还是偏重于管理科学，适合那些<a target="_blank">人际交往能力</a>强，又善于用理性去思考问题的考生报考。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub146403_4"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">工程管理专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业学生主要学习工程管理方面的基本理论、方法和土木工程技术知识；受到工程项目管理方面的基本训练；具备从事工程项目管理的基本能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_146403"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub146403_5"></a>
<a class="lemma-anchor " name="知识能力"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">工程管理专业</span>知识能力</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1.掌握工程管理的基本理论和方法；<br/>　　2.掌握投资经济的基本理论和基本知识；<br/>　　3.熟悉土木工程技术知识；<br/>　　4.熟悉工程项目建设的方针、政策和法规；<br/>　　5.了解国内外工程管理的发展动态；<br/>　　6.具有运用计算机辅助解决管理问题的能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_146403"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub146403_6"></a>
<a class="lemma-anchor " name="主干学科"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">工程管理专业</span>主干学科</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">管理学、土木工程(或水利工程等)</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub146403_7"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">工程管理专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a data-lemmaid="250" target="_blank">管理学</a>、经济学、应用统计学、<a data-lemmaid="1559" target="_blank">运筹学</a>、<a data-lemmaid="1345393" target="_blank">会计学</a>、财务管理、工程经济学、<a data-lemmaid="1079" target="_blank">组织行为学</a>、<a target="_blank">市场学</a>、计算机应用、经济法、工程项目管理、工程估价、合同管理等。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_146403"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub146403_8"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">工程管理专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">主要实践性教学环节：包括认识实习、生产实习、课程设计、计算机应用及上机实践、毕业实习、毕业论文(设计)等，一般安排30周。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_146403"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="9"></a>
<a class="lemma-anchor " name="sub146403_9"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">工程管理专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="9"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">工程管理业的就业领域涉及建筑工程、工程施工和控制管理、房地产经营以及金融、宾馆、贸易等行业部门的管理工作。这一专业涉及就业领域对人才的大量需求比较普遍。从银行证券到酒店宾馆，从建筑企业到<a target="_blank">房地产开发公司</a>都急需补充大量的工程营造管理及相关专业的人才，因此人才市场上对该专业人才的需求量很大。该专业就业领域所涉及到的工作是：综合系统地运用管理、建筑、经济、法律等基本知识，侧重于工程建筑、施工管理以及房地产经营开发，并熟悉我国相关的方针、政策和法规，进行企业工程开发建设项目的经营和管理。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_146403"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="10"></a>
<a class="lemma-anchor " name="sub146403_10"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">工程管理专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="10"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">截止2015年6月，开设工程管理的学院达418所，著名的有天津大学、清华大学、同济大学等<sup>[3]</sup><a class="sup-anchor" name="ref_[3]_146403"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="11"></a>
<a class="lemma-anchor " name="sub146403_11"></a>
<a class="lemma-anchor " name="专业开设"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">工程管理专业</span>专业开设</h2>
<a class="edit-icon j-edit-link" data-edit-dl="11"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">国内的大部分工科院校都设有工程管理专业，随着我国经济增长以及城市化发展，一些财经类、师范类院校也大批开设此专业，截止到2014年1月全国大约400余所学校，此专业大规模招生，人才培养计划和质量质量难以保证，未来会出现就业井喷现象，这必须引起教育管理部门以及在校大学生的重视。由于各学校的传统和优势的不同，专业的侧重方向不一样，交通类大学的工程管理专业侧重于交通项目，建工类大学则侧重于工民建项目，水利类大学侧重于水利工程，电力类大学侧重于电力工程等等。例如，<a target="_blank">天津大学</a>的工程管理专业具有自己的特色和优势，而且1993年在全国率先建立“国际工程管理专业”，在国际工程项目具有很强的学科优势。</div>
<table class="table-view log-set-param" log-set-param="table_view" width="629"><tr><td align="left" colspan="4" height="36" valign="center" width="629"><div class="para" label-module="para">工程管理专业评估通过学校和有效期情况统计表</div>
</td></tr><tr><td align="left" colspan="4" height="36" valign="center" width="629"><div class="para" label-module="para">（截至2014年6月，按首次通过评估时间排序）</div>
</td></tr><tr><td align="left" height="28" valign="center" width="60"><div class="para" label-module="para">序号</div>
</td><td align="left" valign="center" width="186"><div class="para" label-module="para">学校</div>
</td><td align="left" valign="center" width="224"><div class="para" label-module="para">本科合格有效期</div>
</td><td align="left" valign="center" width="159"><div class="para" label-module="para">首次通过评估时间</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">1</div>
</td><td><div class="para" label-module="para"><a target="_blank">重庆大学</a></div>
</td><td><div class="para" label-module="para">2009.5-2014.5</div>
</td><td><div class="para" label-module="para">1999.11</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">2</div>
</td><td><div class="para" label-module="para"><a target="_blank">哈尔滨工业大学</a></div>
</td><td><div class="para" label-module="para">2009.5-2014.5</div>
</td><td><div class="para" label-module="para">1999.11</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">3</div>
</td><td><div class="para" label-module="para"><a target="_blank">西安建筑科技大学</a></div>
</td><td><div class="para" label-module="para">2009.5-2014.5</div>
</td><td><div class="para" label-module="para">1999.11</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">4</div>
</td><td><div class="para" label-module="para"><a target="_blank">清华大学</a></div>
</td><td><div class="para" label-module="para">2009.5-2014.5</div>
</td><td><div class="para" label-module="para">1999.11</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">5</div>
</td><td><div class="para" label-module="para"><a target="_blank">同济大学</a></div>
</td><td><div class="para" label-module="para">2009.5-2014.5</div>
</td><td><div class="para" label-module="para">1999.11</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">6</div>
</td><td><div class="para" label-module="para"><a target="_blank">东南大学</a></div>
</td><td><div class="para" label-module="para">2009.5-2014.5</div>
</td><td><div class="para" label-module="para">1999.11</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">7</div>
</td><td><div class="para" label-module="para"><a target="_blank">天津大学</a></div>
</td><td><div class="para" label-module="para">2011.5-2016.5</div>
</td><td><div class="para" label-module="para">2001.6</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">8</div>
</td><td><div class="para" label-module="para"><a target="_blank">南京工业大学</a></div>
</td><td><div class="para" label-module="para">2011.5-2016.5</div>
</td><td><div class="para" label-module="para">2001.6</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">9</div>
</td><td><div class="para" label-module="para"><a target="_blank">广州大学</a></div>
</td><td><div class="para" label-module="para">2013.5-2018.5</div>
</td><td><div class="para" label-module="para">2003.6</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">10</div>
</td><td><div class="para" label-module="para">东北财经大学</div>
</td><td><div class="para" label-module="para">2013.5-2018.5</div>
</td><td><div class="para" label-module="para">2003.6</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">11</div>
</td><td><div class="para" label-module="para">华中科技大学</div>
</td><td><div class="para" label-module="para">2010.5-2015.5</div>
</td><td><div class="para" label-module="para">2005.6</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">12</div>
</td><td><div class="para" label-module="para">河海大学</div>
</td><td><div class="para" label-module="para">2010.5-2015.5</div>
</td><td><div class="para" label-module="para">2005.6</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">13</div>
</td><td><div class="para" label-module="para">华侨大学</div>
</td><td><div class="para" label-module="para">2010.5-2015.5</div>
</td><td><div class="para" label-module="para">2005.6</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">14</div>
</td><td><div class="para" label-module="para">深圳大学</div>
</td><td><div class="para" label-module="para">2010.5-2015.5</div>
</td><td><div class="para" label-module="para">2005.6</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">15</div>
</td><td><div class="para" label-module="para">苏州科技学院</div>
</td><td><div class="para" label-module="para">2010.5-2015.5</div>
</td><td><div class="para" label-module="para">2005.6</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">16</div>
</td><td><div class="para" label-module="para">中南大学</div>
</td><td><div class="para" label-module="para">2011.5-2016.5</div>
</td><td><div class="para" label-module="para">2006.6</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">17</div>
</td><td><div class="para" label-module="para">湖南大学</div>
</td><td><div class="para" label-module="para">2011.5-2016.5</div>
</td><td><div class="para" label-module="para">2006.6</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">18</div>
</td><td><div class="para" label-module="para">沈阳建筑大学</div>
</td><td><div class="para" label-module="para">2012.5-2017.5</div>
</td><td><div class="para" label-module="para">2007.6</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">19</div>
</td><td><div class="para" label-module="para">北京建筑大学</div>
</td><td><div class="para" label-module="para">2013.5-2018.5</div>
</td><td><div class="para" label-module="para">2008.5</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">20</div>
</td><td><div class="para" label-module="para">山东建筑大学</div>
</td><td><div class="para" label-module="para">2013.5-2018.5</div>
</td><td><div class="para" label-module="para">2008.5</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">21</div>
</td><td><div class="para" label-module="para">安徽建筑大学</div>
</td><td><div class="para" label-module="para">2013.5-2018.5</div>
</td><td><div class="para" label-module="para">2008.5</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">22</div>
</td><td><div class="para" label-module="para">武汉航海职业技术学院</div>
</td><td><div class="para" label-module="para">2013.5-2019.5</div>
</td><td><div class="para" label-module="para">2013.5</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">23</div>
</td><td><div class="para" label-module="para">北京交通大学</div>
</td><td><div class="para" label-module="para">2009.5-2014.5</div>
</td><td><div class="para" label-module="para">2009.5</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">24</div>
</td><td><div class="para" label-module="para">郑州航空工业管理学院</div>
</td><td><div class="para" label-module="para">2009.5-2014.5</div>
</td><td><div class="para" label-module="para">2009.5</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">25</div>
</td><td><div class="para" label-module="para">天津城建大学</div>
</td><td><div class="para" label-module="para">2009.5-2014.5</div>
</td><td><div class="para" label-module="para">2009.5</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">26</div>
</td><td><div class="para" label-module="para">吉林建筑大学</div>
</td><td><div class="para" label-module="para">2009.5-2014.5</div>
</td><td><div class="para" label-module="para">2009.5</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">27</div>
</td><td><div class="para" label-module="para">兰州交通大学</div>
</td><td><div class="para" label-module="para">2010.5-2015.5</div>
</td><td><div class="para" label-module="para">2010.5</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">28</div>
</td><td><div class="para" label-module="para">河北建筑工程学院</div>
</td><td><div class="para" label-module="para">2010.5-2015.5</div>
</td><td><div class="para" label-module="para">2010.5</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">29</div>
</td><td><div class="para" label-module="para">中国矿业大学</div>
</td><td><div class="para" label-module="para">2011.5-2016.5</div>
</td><td><div class="para" label-module="para">2011.5</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">30</div>
</td><td><div class="para" label-module="para">西南交通大学</div>
</td><td><div class="para" label-module="para">2011.5-2016.5</div>
</td><td><div class="para" label-module="para">2011.5</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">31</div>
</td><td><div class="para" label-module="para">华北水利水电大学</div>
</td><td><div class="para" label-module="para">2012.5-2017.5</div>
</td><td><div class="para" label-module="para">2012.5</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">32</div>
</td><td><div class="para" label-module="para">三峡大学</div>
</td><td><div class="para" label-module="para">2012.5-2017.5</div>
</td><td><div class="para" label-module="para">2012.5</div>
</td></tr><tr><td align="left" height="33" valign="center"><div class="para" label-module="para">33</div>
</td><td><div class="para" label-module="para">长沙理工大学</div>
</td><td><div class="para" label-module="para">2012.5-2017.5</div>
</td><td><div class="para" label-module="para">2012.5</div>
</td></tr><tr><td align="left" valign="center">34</td><td align="left" valign="center">西南科技大学</td><td align="left" valign="center">2014.6-2019.6</td><td align="left" valign="center">2014.6</td></tr></table><div class="para" label-module="para">专业评估国际互认的意义：考对方国家的注册工程师等同于本国毕业生待遇，学术要求和毕业生实际能力相当，评估程序和作法相互认同。</div>
<div class="para" label-module="para">2002年4月14日至15日，“中英工程管理专业教育圆桌会议”召开；会上建设部高等学校工程管理专业评估委员会（ NBCMA）与CIOB签署了“中英工程管理专业评估互认协议”。</div>
<div class="para" label-module="para">2006年NBCMA与美国ACCE签署了互认协议。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="12"></a>
<a class="lemma-anchor " name="sub146403_12"></a>
<a class="lemma-anchor " name="专升本"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">工程管理专业</span>专升本</h2>
<a class="edit-icon j-edit-link" data-edit-dl="12"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="12_1"></a>
<a class="lemma-anchor " name="sub146403_12_1"></a>
<a class="lemma-anchor " name="知识和能力"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">工程管理专业</span>知识和能力</h3>
</div>
<div class="para" label-module="para">1．掌握工程管理的基本理论和方法；</div>
<div class="para" label-module="para">2．掌握投资经济的基本理论和基本知识；</div>
<div class="para" label-module="para">3．熟悉土木工程技术知识；</div>
<div class="para" label-module="para">4．熟悉工程项目建设的方针、政策和法规；</div>
<div class="para" label-module="para">5．了解国内外工程管理的发展动态；</div>
<div class="para" label-module="para">6．具有运用计算机辅助解决管理问题的能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="12_2"></a>
<a class="lemma-anchor " name="sub146403_12_2"></a>
<a class="lemma-anchor " name="主干学科"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">工程管理专业</span>主干学科</h3>
</div>
<div class="para" label-module="para">管理学、土木工程(或水利工程等)</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="12_3"></a>
<a class="lemma-anchor " name="sub146403_12_3"></a>
<a class="lemma-anchor " name="主要课程"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">工程管理专业</span>主要课程</h3>
</div>
<div class="para" label-module="para">管理学、经济学、应用统计学、运筹学、会计学、财务管理、工程经济学、组织行为学、市场学、计算机应用、经济法、工程项目管理、工程估价、合同管理等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="12_4"></a>
<a class="lemma-anchor " name="sub146403_12_4"></a>
<a class="lemma-anchor " name="主要环节"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">工程管理专业</span>主要环节</h3>
</div>
<div class="para" label-module="para">包括认识实习、生产实习、课程设计、计算机应用及上机实践、毕业实习、毕业论文(设计)等，一般安排30周。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="12_5"></a>
<a class="lemma-anchor " name="sub146403_12_5"></a>
<a class="lemma-anchor " name="成人科目"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">工程管理专业</span>成人科目</h3>
</div>
<div class="para" label-module="para">政治、英语、高数（二）</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="13"></a>
<a class="lemma-anchor " name="sub146403_13"></a>
<a class="lemma-anchor " name="自考科目"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">工程管理专业</span>自考科目</h2>
<a class="edit-icon j-edit-link" data-edit-dl="13"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">中国近现代史纲要 0必考</div>
<div class="para" label-module="para">马克思主义基本原理概论 0必考</div>
<div class="para" label-module="para">英语(二) 1选考</div>
<div class="para" label-module="para">概率论与数理统计(二) 0必考</div>
<div class="para" label-module="para">物理(工) 0必考</div>
<div class="para" label-module="para">财务管理学 0必考</div>
<div class="para" label-module="para">施工组织与管理 0必考</div>
<div class="para" label-module="para">房地产评估 0必考</div>
<div class="para" label-module="para">工程项目招投标与合同管理 0必考</div>
<div class="para" label-module="para">工程质量管理 0必考</div>
<div class="para" label-module="para">工程建设监理概论 0必考</div>
<div class="para" label-module="para">建设与房地产法规 0必考</div>
<div class="para" label-module="para">工程经济 0必考</div>
<div class="para" label-module="para">工程造价与管理 0必考</div>
<div class="para" label-module="para">土木工程概论 0必考</div>
<div class="para" label-module="para">房地产经营管理 1选考</div>
<div class="para" label-module="para">物业管理 1选考</div>
<div class="para" label-module="para">项目采购管理 1选考</div>
<div class="para" label-module="para">土木工程制图 2加考</div>
<div class="para" label-module="para">工程项目管理 2加考</div>
<div class="para" label-module="para">物理(工)(实践) 0必考</div>
<div class="para" label-module="para">房地产评估(实践) 0必考</div>
<div class="para" label-module="para">工程实习(二) 0必考</div>
<div class="para" label-module="para">工程管理毕业考核 0必考</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-146403-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_146403" id="refIndex_1_146403" name="refIndex_1_146403" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">工程管理<span class="linkout"> </span></a>
<span class="site">．中国教育在线</span><span>[引用日期2016-02-17]</span></li><li class="reference-item " id="reference-[2]-146403-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_146403" id="refIndex_2_146403" name="refIndex_2_146403" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">2016考研适合报考的十大高薪专业：工程管理<span class="linkout"> </span></a>
<span class="site">．中国教育在线</span><span>[引用日期2016-02-17]</span></li><li class="reference-item " id="reference-[3]-146403-wrap">
<span class="index">3.</span>
<a class="gotop anchor" href="#ref_[3]_146403" id="refIndex_3_146403" name="refIndex_3_146403" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">开设工程管理专业的大学有哪些<span class="linkout"> </span></a>
<span class="site">．大学生必备网</span><span>．2015-6-22 </span><span>[引用日期2016-02-17]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>