<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>国际商务专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">国际商务专业，是国家为适应二十一世纪国际贸易发展需要，增强国家竞争力而设立的学科。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_1819590"> </a>
国际商务专业旨在培养拥护党的方针政策，面向国际市场，具有开阔的视野，扎实的国际商务理论、<a target="_blank">实务</a>和国际商法基础，基本掌握国际法规、<a target="_blank">国际惯例</a>，并能较熟练地应用国际法规、外语开展商务活动的，法商结合的、复合型、<a target="_blank">应用型人才</a>。使学生能在跨国公司、涉外经济贸易部门、外资企业、政府机构从事实际商务业务、商务活动策划、<a target="_blank">国际企业管理</a>、法律咨询、政策研究等工作。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
国际商务专业
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
IBM
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
120205
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
国际商务硕士专业学位
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
两年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
管理学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养目标</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">培养要求</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干课程</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">发展前景</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_1">专业发展</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_2">就业方向</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">开设院校</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub1819590_1"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">国际商务专业</span>培养目标</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">国际商务专业旨在培养具有开阔的视野，扎实的国际商务理论、实务和国际商法基础，能较熟练地应用国际法规、外语开展商务活动的复合型、应用型人才。</div>
<div class="para" label-module="para">毕业生主要具备以下能力与素质：</div>
<div class="para" label-module="para">掌握马克思主义经济基本理论和方法；</div>
<div class="para" label-module="para">掌握西方经济学、国际经济学的理论和方法；</div>
<div class="para" label-module="para">掌握国际商事活动的基本知识和基本技能；</div>
<div class="para" label-module="para">掌握国际市场营销的本领；</div>
<div class="para" label-module="para">能运用计量、统计、分析方法进行分析和研究；</div>
<div class="para" label-module="para">了解国际经济学、国际贸易理论发展的动态；</div>
<div class="para" label-module="para">了解主要国家和地区的经济发展情况及其贸易政策和发展动态；</div>
<div class="para" label-module="para">了解中国的经济政策和法规发展动态；</div>
<div class="para" label-module="para">能够熟练地掌握商务英语，具有听、说、读、写、译的基本能力；</div>
<div class="para" label-module="para">能利用计算机和其他经济分析工具从事涉外经济工作。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub1819590_2"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">国际商务专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">国际商务专业要求掌握马克思主义经济基本理论和方法；西方经济学、国际经济学的理论和方法；国际商事活动的基本知识和基本技能；<a target="_blank">国际市场营销</a>的本领；</div>
<div class="para" label-module="para">能运用计量、统计、分析方法进行分析和研究；了解国际经济学、<a target="_blank">国际贸易理论</a>发展的动态；了解主要国家和地区的经济发展情况及其贸易政策和发展动态；</div>
<div class="para" label-module="para">了解中国的经济政策和法规发展动态；能够熟练地掌握商务英语，具有听、说、读、写、译的基本能力；能利用计算机和其他经济分析工具从事涉外经济工作。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub1819590_3"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">国际商务专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">专业英语、管理学理论、微观经济学、宏观经济学、会计学、国际经济学、财政管理、国际营销学、国际金融、国际贸易法、货币银行学、国际营销学、<a target="_blank">中国对外贸易</a>等必修课程，以及西方经济史、<a target="_blank">国际商务英语</a>、国际金融实务、国际贸易实务、发展经济学、<a target="_blank">国际商务谈判</a>、国际商务礼仪、外贸管理法、国际税法、跨国公司、人力资源管理、<a target="_blank">国际经济合作</a>、国际投资法、电子商务、中国对外贸易、WTO专题、证券市场概论、财税法、国际贸易法、国际金融法、国际信贷与结算、<a target="_blank">欧洲联盟法</a>、国际技术转让、商业伦理、心理学、社会学、海商法、审计学与审计法、公共关系学、合同法、公司法、组织行为学等选修课程。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub1819590_4"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">国际商务专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="4_1"></a>
<a class="lemma-anchor " name="sub1819590_4_1"></a>
<a class="lemma-anchor " name="专业发展"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">国际商务专业</span>专业发展</h3>
</div>
<div class="para" label-module="para">中国已加入<a target="_blank">世界贸易组织</a>，对专门从事进出口贸易的专业人才的需求越来越大。面向这方面人才的外销员资格考试逐渐成为人们关注的热点。</div>
<div class="para" label-module="para">记者从有关部门了解到，以往局限于外贸行业内部的这一资格考试，如今已面向全社会展开，“入世”使考外销员有可能像考“律考”、考会计证一样，成为一种新的时尚。</div>
<div class="para" label-module="para">国家商务部人事教育劳动司刘处长介绍，“入世”将会使我国的外贸管理体制发生很大的变化，外贸经营权要从审批制逐步过渡到登记制。因此拥有<a target="_blank">进出口经营权</a>的企业将会大大增加，对外贸专业人员的需求会更大，要求也会更高。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_2"></a>
<a class="lemma-anchor " name="sub1819590_4_2"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">国际商务专业</span>就业方向</h3>
</div>
<div class="para" label-module="para">国际商务专业学生具有法商结合的知识结构，理论知识扎实，并有较强的实际操作能力和用外语进行商务沟通的能力，适于在跨国公司、外向型企业和外资企业等从事国际商务活动的商务代表、单证员、<a target="_blank">国际商务师</a>及国际化经营的<a target="_blank">高级管理人才</a>；</div>
<div class="para" label-module="para">或者在涉外经济贸易部门及政府机构从事对外经营管理、政策法规制定与实施，以及国际化商务活动策划的综合性高级专门人才。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub1819590_5"></a>
<a class="lemma-anchor " name="开设院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">国际商务专业</span>开设院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><b>2013-2014年国际商务专业排名<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_1819590"> </a>
</b></div>
<table class="table-view log-set-param" log-set-param="table_view" width="100%"><tr><td><div class="para" label-module="para"><b>排 序</b></div>
</td><td><div class="para" label-module="para"><b>学校名称</b></div>
</td><td><div class="para" label-module="para"><b>水 平</b></div>
</td><td><div class="para" label-module="para"><b>开此专业学校数</b></div>
</td></tr><tr><td><div class="para" label-module="para">1</div>
</td><td><div class="para" label-module="para"><a target="_blank">华中科技大学</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">38</div>
</td></tr><tr><td><div class="para" label-module="para">2</div>
</td><td><div class="para" label-module="para"><a target="_blank">山东大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">38</div>
</td></tr><tr><td><div class="para" label-module="para">3</div>
</td><td><div class="para" label-module="para"><a target="_blank">上海财经大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">38</div>
</td></tr><tr><td><div class="para" label-module="para">4</div>
</td><td><div class="para" label-module="para"><a target="_blank">中南财经政法大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">38</div>
</td></tr><tr><td><div class="para" label-module="para">5</div>
</td><td><div class="para" label-module="para"><a target="_blank">浙江工商大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">38</div>
</td></tr><tr><td><div class="para" label-module="para">6</div>
</td><td><div class="para" label-module="para"><a target="_blank">暨南大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">38</div>
</td></tr><tr><td><div class="para" label-module="para">7</div>
</td><td><div class="para" label-module="para"><a target="_blank">广东外语外贸大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">38</div>
</td></tr><tr><td><div class="para" label-module="para">8</div>
</td><td><div class="para" label-module="para"><a target="_blank">广东财经大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">38</div>
</td></tr><tr><td><div class="para" label-module="para">9</div>
</td><td><div class="para" label-module="para"><a target="_blank">上海对外贸易学院</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">38</div>
</td></tr><tr><td><div class="para" label-module="para">10</div>
</td><td><div class="para" label-module="para"><a target="_blank">北京联合大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">38</div>
</td></tr><tr><td><div class="para" label-module="para">11</div>
</td><td><div class="para" label-module="para"><a target="_blank">新疆财经大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">38</div>
</td></tr><tr><td><div class="para" label-module="para">12</div>
</td><td><div class="para" label-module="para"><a target="_blank">中国政法大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">38</div>
</td></tr><tr><td><div class="para" label-module="para">13</div>
</td><td><div class="para" label-module="para">云南财经大学</div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">38</div>
</td></tr><tr><td><div class="para" label-module="para">14</div>
</td><td><div class="para" label-module="para"><a target="_blank">中南林业科技大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">38</div>
</td></tr><tr><td><div class="para" label-module="para">15</div>
</td><td><div class="para" label-module="para"><a target="_blank">重庆工商大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">38</div>
</td></tr><tr><td><div class="para" label-module="para">16</div>
</td><td><div class="para" label-module="para"><a target="_blank">吉林财经大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">38</div>
</td></tr><tr><td><div class="para" label-module="para">17</div>
</td><td><div class="para" label-module="para"><a target="_blank">青岛理工大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">38</div>
</td></tr><tr><td><div class="para" label-module="para">18</div>
</td><td><div class="para" label-module="para"><a target="_blank">青岛大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">38</div>
</td></tr><tr><td><div class="para" label-module="para">19</div>
</td><td><div class="para" label-module="para"><a target="_blank">安徽工业大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">38</div>
</td></tr></table><div class="rs-container-foot">
<a name="rs-1"></a>
<a class="anchor-2" name="rs_1819590_15839"></a>
<div class="rslazy rs-container" id="rs-container-1819590-15839" lazy-init="lemmars.tableAction(baidu.g('rs-1819590-15839'))"></div>
</div><script type="text/javascript">
        window.rsInsertData = window['rsInsertData'] || [];
        var rsdataList = {"foot":[{"fentryTableId":15839,"fentryTableName":"\u4e8c\u7ea7\u5b66\u79d1\u00b7\u5de5\u5546\u7ba1\u7406\u7c7b\u4e13\u4e1a","fentryTableType":1,"entryId":2393541,"templateId":0,"entryTitle":"\u5de5\u5546\u7ba1\u7406\u7c7b\u4e13\u4e1a","isManual":0,"isExpand":1}],"top":[]};

        if (rsdataList.top || rsdataList.foot) {
            rsInsertData.push([1819590, rsdataList]);
        }
    </script>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-1819590-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_1819590" id="refIndex_1_1819590" name="refIndex_1_1819590" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">国际商务<span class="linkout"> </span></a>
<span class="site">．高考派</span><span>[引用日期2015-05-25]</span></li><li class="reference-item " id="reference-[2]-1819590-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_1819590" id="refIndex_2_1819590" name="refIndex_2_1819590" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">国际商务专业排名-2013-2014年中国大学本科分专业排行榜<span class="linkout"> </span></a>
<span class="site">．中华考试网</span><span>[引用日期2013-10-30]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>