<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>体育经济与管理专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">体育经济是现代经济学的组成部分，属于交叉性新兴科学，是用来分析体育经济问题的新兴应用经济理论，其产生和存在是为更好地运用经济学的原理分析和解决体育经济在发展过程中碰到的问题。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_14525021"> </a>
本专业培养熟悉现代经济学的基本理论与体育理论，掌握现代经济分析的基本方法，能在经济、体育、文教等部门从事体育市场经济分析、体育事业<a target="_blank">规划</a>、体育经济管理和从事体育俱乐部经营以及体育经济学教学与科研的高级专门人才。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
体育经济与管理专业
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
 Sports Economics And Management
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
120212T
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
管理学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
管理学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-1">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养目标</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">培养要求</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">知识技能</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">课程设置</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">就业前景</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub14525021_1"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">体育经济与管理专业</span>培养目标</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">本专业培养熟悉现代经济学的基本理论与体育理论，掌握现代经济分析的基本方法，能在经济、体育、文教等部门从事体育市场经济分析、体育事业<a target="_blank">规划</a>、体育经济管理和从事体育俱乐部经营以及体育经济学教学与科研的高级专门人才。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_14525021"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub14525021_2"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">体育经济与管理专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">本专业学生主要学习体育经济与管理的基础<a data-lemmaid="74245" target="_blank">知识</a>，受到相应学科的技能训练，具有从事竞技体育活动和群众性体育活动的经营开发、组织<a target="_blank">管理</a>、咨询指导等方面的综合能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_14525021"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub14525021_3"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">体育经济与管理专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1.掌握体育经济与管理的基本理论和基本知识；<br/>　　2.掌握体育经济与管理的学习和研究、分析方法；<br/>　　3.了解有关体育经济与管理的方针、政策和法律法规；<br/>　　4.具有较强的语言、文字、表达、人际沟通、组织协调的基本能力；<br/>　　5.了解体育经济与管理的发展动态；<br/>　　6.了解本学科理论的前沿和动态，具有在科研部门、政策研究部门工作的基本能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_14525021"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub14525021_4"></a>
<a class="lemma-anchor " name="课程设置"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">体育经济与管理专业</span>课程设置</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><b> </b><a target="_blank">体育产业概论</a>、体育企业战略管理、<a target="_blank">体育产业经济学</a>、<a data-lemmaid="1420" target="_blank">管理学原理</a>、<a data-lemmaid="1702" target="_blank">微观经济学</a>、<a data-lemmaid="27041" target="_blank">宏观经济学</a>、运营管理、会计学原理、公司财务管理、营销学、管理信息系统、体育场馆管理、体育赛事的经营与管理、俱乐部管理、体育经纪人、体育赞助、体育风险管理等。</div>
<div class="para" label-module="para">由于本专业具有体育学科的特征，报考本专业的考生应具有较高的体育素养和一定的体育特长。运动能力达到运动员三级及以上者优先录取。考生在报考时，应将身高、体重、体育特长等在特长栏中如实填报。</div>
<div class="para" label-module="para">本专业基本修业年限为4年。学生修满规定的学分，并达到学位授予要求的，授予管理学<a target="_blank">学士学位</a>。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub14525021_5"></a>
<a class="lemma-anchor " name="就业前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">体育经济与管理专业</span>就业前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">各级国家体育行政部门、各项商业体育赛事组织部门、各类体育咨询公司、个大型体育产品公司、各类健身俱乐部、各类体育经纪人公司、各类体育企业、职业体育俱乐部、健身俱乐部、体育中介公司、运动项目管理中心、体育事业单位、高等院校等。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_14525021"> </a>
</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-14525021-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_14525021" id="refIndex_1_14525021" name="refIndex_1_14525021" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">体育经济与管理<span class="linkout"> </span></a>
<span class="site">．高考派</span><span>[引用日期2015-05-19]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>