<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>文化产业管理专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para"><a target="_blank">文化产业管理</a>专业培养掌握经济学、管理学及文化学基本理论与方法，具有宽阔的文化视野和现代管理意识，熟悉文化法规及政策，具备较强规划、决策、组织、策划、创意以及沟通表达能力，具备较强社会调研和信息处理能力，能够在文化产业及相关产业、政府文化管理部门及文化事业单位从事文化经营管理、市场营销与策划、文化贸易与交流工作的应用型、复合型高级人才。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
文化产业管理专业
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
120210
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
管理学或艺术学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
<a target="_blank">管理学</a> 
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">专业简介</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">专业历史</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">专业解析</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">培养要求</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">核心能力</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">主干课程</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">实践教学</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">开设学院</a></span>
</li>
<li class="level1">
<span class="index">9</span>
<span class="text"><a href="#9">专业院校评估</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub803036_1"></a>
<a class="lemma-anchor " name="专业简介"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">文化产业管理专业</span>专业简介</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">文化产业管理</a>，简称文管，属于管理学类专业，工商管理类的二级学科。专业设立于2004年，是为适应中国文化产业快速发展而设立的专业，以培养具有宽阔的文化视野、掌握现代产业理念和经营技能的复合型文化产业人才为目标。[1]文管专业授予管理学学位，少数院校授予艺术学学位。</div>
<div class="para" label-module="para">文化产业管理专业覆盖面较广，所学课程较多，覆盖了文化旅游、广播影视、新闻出版、文化贸易、文物遗产、工艺美术、广告会展、文化政策、体育娱乐、手机网络、动漫音乐、文化经纪等众多文化产业领域。[1]因此，文化产业管理是一门基础宽的学科，个人可以就此根据自己的爱好选择专业方向。</div>
<div class="para" label-module="para"><a target="_blank">文化产业</a>管理专业主要探讨文化产业中各个行业以及综合经营管理中企业的盈利方法及其模式，区别于以探讨文化发展与传承为目的的<a target="_blank">文化事业</a>、文化研究类专业，也区别于以培养编导、编剧、音乐等艺术类人才为目的的<a target="_blank">文化艺术管理</a>专业，三者不可混淆。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub803036_2"></a>
<a class="lemma-anchor " name="专业历史"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">文化产业管理专业</span>专业历史</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1993年，中国第一个以“文化经济”为专业方向的四年制本科专业——“文化艺术事业管理”在上海交通大学成立，标志着<a target="_blank">文化经济学</a>的理论研究与学科建设进入了中国学术界的视野和高等教育领域。</div>
<div class="para" label-module="para">2003年10月，<a target="_blank">山东大学</a>、<a target="_blank">北京大学</a>、<a target="_blank">清华大学</a>、<a target="_blank">上海交通大学</a>等七家高校联合成立发起“全国高校文化产业研究与学科建设联席会议”。会间商定，依托山东大学文史见长的学科优势，牵头向教育部申请在高校中增设文化产业管理专业。[3]</div>
<div class="para" label-module="para">2004年3月，<a target="_blank">教育部</a>下发《关于公布2003年度经教育部备案或批准设置的高等学校本专科专业名单的通知》，正式批准在山东大学、<a target="_blank">中国传媒大学</a>（时为北京广播学院）、<a target="_blank">中国海洋大学</a>和<a target="_blank">云南大学</a>四所高校中首先开设文化产业管理专业，授管理学学士学位。这标志着文化产业管理专业的正式设立。[3]</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub803036_3"></a>
<a class="lemma-anchor " name="专业解析"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">文化产业管理专业</span>专业解析</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">这是一个全新的专业。2004年首次在山东大学历史文化学院出现。文化产业管理，它的前提是文化，文化是这个专业的深层基础，是这个专业的灵魂所在。没有文化之根，管理就难以为继。中国缺乏管理人才，但更缺少真正了解本土文化底蕴，能把握文化内部深层的丰富性和同一性并因势利导对他们进行保护、管理并使其健康发展的人才。</div>
<div class="para" label-module="para">文化始终是这个专业的灵魂所在。学习者不仅要看到物质层面的文化，更要看到精神层面的文化。应该充分的吸收和发掘社会的文化底蕴，把文化、生态环境、舆论导向和管理结合起来。</div>
<div class="para" label-module="para">这又是一个飞速生长的专业。</div>
<div class="para" label-module="para">该专业甫一出现，便引起全国各高校，尤其是综合类、文科类高校的极大关注。受该专业潜在的就业市场前景的诱惑，以及投资少(几乎不用投资)，师资好找 (历史老师可以迅速转向)的诱导，短短几年，该专业便在全国各地雨后春笋般地茁壮成长起来。据初步统计，截至2008年，全国已有30所左右的高校开设了这个专业，这还不包括在相关专业设立专业方向的高校。预计今后几年，该专业还会以更快捷的速度登陆其他高校。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub803036_4"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">文化产业管理专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业学生主要学习文化产业管理专业基础理论和基本<a data-lemmaid="2544124" target="_blank">职业技能</a>，受到文化产业管理方面的基本训练，具有文化产业管理岗位工作的技能。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub803036_5"></a>
<a class="lemma-anchor " name="核心能力"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">文化产业管理专业</span>核心能力</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1.系统地掌握<a target="_blank">文化产业管理</a>专业知识；<br/>　　2.具有宽阔的文化视野和现代管理意识；<br/>　　3.具备较强社会调研和<a target="_blank">信息处理</a>能力；<br/>　　4.具备较强规划、决策、组织、策划、创意以及公关、沟通表达能力；<br/>　　5.具备<a data-lemmaid="450" target="_blank">物业管理</a>业务处理的能力；<br/>　　6.要求熟悉文化产业管理相关的法律、法规<i>。</i></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub803036_6"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">文化产业管理专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">文化学、中国文化史、中国文化交流史，产业经济学、管理心理学、文化市场营销学、管理信息系统、文化管理学、会计学、应用统计、公共事业管理学、文化产业概论、文化资源概论、公共部门公共关系、文化政策与法规、文化管理理论与实践、艺术基础、美学概论、世界文化简史、民俗学、宗教文化概论、广告学、文化项目策划实务、文化地理学、出版管理学、文博基础、影视产业概论、文化旅游概论、动漫与数字产业概论、管理文秘等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub803036_7"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">文化产业管理专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">包括<a target="_blank">毕业论文</a>、<a target="_blank">毕业实习</a>等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub803036_8"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">文化产业管理专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">一本院校：<a target="_blank">山东大学</a>、<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_803036"> </a>
<a target="_blank">中央财经大学</a>、<a target="_blank">上海视觉艺术学院</a>、<a target="_blank">中国传媒大学</a>、<a target="_blank">中国海洋大学</a>、<a target="_blank">湖南师范大学</a>、<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_803036"> </a>
<a target="_blank">云南大学</a>、<a target="_blank">同济大学</a>、<a target="_blank">西南大学</a>、<a target="_blank">贵州大学</a>、<a target="_blank">江西财经大学</a>、<a target="_blank">湘潭大学</a>、<a target="_blank">西安建筑科技大学</a>、<a target="_blank">华南师范大学</a>等。</div>
<div class="para" label-module="para">二本院校：<a target="_blank">宝鸡文理学院</a>、<a target="_blank">吉首大学</a>、山西传媒学院、浙江传媒学院、四川传媒学院、北京印刷学院、山东艺术学院、南京艺术学院、山东师范大学、徐州师范大学、山东经济学院、河北农业大学、广东商学院、厦门理工学院、广西师范大学<sup>[3]</sup><a class="sup-anchor" name="ref_[3]_803036"> </a>
、信阳师范学院等。</div>
<div class="para" label-module="para">三本学院：中国传媒大学南广学院、山西大学商务学院、宁波大红鹰学院等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="9"></a>
<a class="lemma-anchor " name="sub803036_9"></a>
<a class="lemma-anchor " name="专业院校评估"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">文化产业管理专业</span>专业院校评估</h2>
<a class="edit-icon j-edit-link" data-edit-dl="9"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">编辑</a></div>
<div class="para" label-module="para">1、iPIN中国大学各院系就业大数据</div>
<div class="para" label-module="para">北京电影学院 A+</div>
<div class="para" label-module="para">山东大学 A+</div>
<div class="para" label-module="para">中国传媒大学 A+</div>
<div class="para" label-module="para">中央财经大学 A+</div>
<div class="para" label-module="para">暨南大学 A+</div>
<div class="para" label-module="para">西南大学 A+</div>
<div class="para" label-module="para">首都师范大学 A+</div>
<div class="para" label-module="para">2、中国文化创意产业网2014中国文化创意产业最具吸引力十大院校[11]</div>
<div class="para" label-module="para">TOP 1:北京大学艺术学院 艺术学理论专业</div>
<div class="para" label-module="para">TOP 2:山东大学历史文化学院 文化产业管理学系</div>
<div class="para" label-module="para">TOP 3:闽南师范大学历史与社会发展学院 文化产业管理专业</div>
<div class="para" label-module="para">TOP 4:湖南师范大学历史文化学院 文化产业管理专业</div>
<div class="para" label-module="para">TOP 5:中国海洋大学文学与新闻传播学院 文化产业管理专业</div>
<div class="para" label-module="para">TOP 6:中央财经大学文化与传媒学院 文化产业系</div>
<div class="para" label-module="para">TOP 7:内蒙古大学艺术学院 文化产业管理专业</div>
<div class="para" label-module="para">TOP 8:四川文化产业职业学院 文化市场经营与管理专业</div>
<div class="para" label-module="para">TOP 9:河南大学历史文化学院 文化产业管理专业</div>
<div class="para" label-module="para">TOP 10:南阳师范学院历史文化学院 文化产业管理专业</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-803036-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_803036" id="refIndex_1_803036" name="refIndex_1_803036" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">山东大学文产管理专业十年历程系列之一(组图)<span class="linkout"> </span></a>
<span class="site">．中国文化创意产业网</span><span>[引用日期2016-03-22]</span></li><li class="reference-item " id="reference-[2]-803036-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_803036" id="refIndex_2_803036" name="refIndex_2_803036" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">我校承办的第十二届全国文化管理类学科建设联席会议开幕<span class="linkout"> </span></a>
<span class="site">．湖南师范大学</span><span>[引用日期2016-03-22]</span></li><li class="reference-item " id="reference-[3]-803036-wrap">
<span class="index">3.</span>
<a class="gotop anchor" href="#ref_[3]_803036" id="refIndex_3_803036" name="refIndex_3_803036" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">第六届全国高校文化产业研究与学科建设联席会在我校圆满落幕<span class="linkout"> </span></a>
<span class="site">．广西师范大学历史与文化学院</span><span>[引用日期2016-03-22]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>