<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>交通管理专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">本科（120407T）：本专业培养定位在航运及港口管理方向，主要培养具有深厚的航运港口及管理专业基础知识，精通航运港口管理相关理论和业务，熟悉行业发展前沿问题，具有创新能力和团队精神的高级航运管理人才。</div><div class="para" label-module="para">高职（专科）（680102K）：主要是培养熟悉我国公安工作的基本路线、方针、政策和相关的法律法规,掌握公安道路交通管理的基本知识和技能，能从事道路交通管理工作的高级技术应用性专门人才。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
交通管理专业
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
本科授予管理学或工学学士学位
</dd>
<dt class="basicInfo-item name">本科一级学科</dt>
<dd class="basicInfo-item value">
公共管理类
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">专科一级学科</dt>
<dd class="basicInfo-item value">
公安管理类
</dd>
<dt class="basicInfo-item name">本科专业代码</dt>
<dd class="basicInfo-item value">
120407T
</dd>
<dt class="basicInfo-item name">高职专科代码</dt>
<dd class="basicInfo-item value">
680102K
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
本科四年、专科三年
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-1">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">专业变化</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">专业培养方向</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主要课程</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">就业前景</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">开设院校</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub1889674_1"></a>
<a class="lemma-anchor " name="专业变化"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">交通管理专业</span>专业变化</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">根据教育部关于印发《普通高等学校本科专业目录（2012年）》《普通高等学校本科专业设置管理规定》等文件的通知（<b>教高[2012]9号）规定<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_1889674"> </a>
</b></div>
<div class="para" label-module="para"><a data-lemmaid="3438908" target="_blank"><b>航运管理</b></a><b>专业更名为交通管理专业，本专业为特设专业</b></div>
<div class="para" label-module="para">新旧专业对照</div>
<table class="table-view log-set-param" log-set-param="table_view" width="673"><tr><td align="left" valign="middle" width="85"><div class="para" label-module="para"><b>专业代码</b></div>
</td><td align="left" valign="middle" width="264"><div class="para" label-module="para"><b>学科门类、专业类、专业名称</b></div>
</td><td align="left" valign="middle" width="100"><div class="para" label-module="para"><b>原专业代码</b></div>
</td><td align="left" valign="middle" width="224"><div class="para" label-module="para"><b>原学科门类、专业类、专业名称</b></div>
</td></tr></table><table class="table-view log-set-param" log-set-param="table_view" width="685"><tr><td align="left" valign="middle" width="85"><div class="para" label-module="para">120407T</div>
</td><td align="left" valign="middle" width="276"><div class="para" label-module="para">交通管理（注：可授管理学或工学学士学位）</div>
</td><td align="left" valign="middle" width="96"><div class="para" label-module="para">110313S</div>
</td><td align="left" valign="middle" width="228"><div class="para" label-module="para">航运管理</div>
</td></tr></table><div class="para" label-module="para">一、新目录自发布之日起开始实施。本年度普通高等学校本科专业设置备案和审批工作按新目录执行，普通高等学校的招生计划和招生工作自2013年起按新目录<a data-lemmaid="3012" target="_blank">执行</a>，在校生的培养和就业工作仍按原专业执行。（预计2017年会有第一届以交通管理毕业的本科学生）</div>
<div class="para" label-module="para">基本学制：4年 　 专业类别：公共管理类</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub1889674_2"></a>
<a class="lemma-anchor " name="专业培养方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">交通管理专业</span>专业培养方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">我国目前本科和专科均设有交通管理专业，但两者培养方向类别分属不同方向，本科专业由航运管理专业更名而来，目前开设院校主要为上海海事大学、大连海事大学，培养方向主要针对水路交通管理方向。</div>
<div class="para" label-module="para">专科开设院校为部分警察学院，培养主要是道路交通管理。根据教育部印发《普通高等学校高等职业教育（专科）专业设置管理办法》和《普通高等学校高等职业教育（专科）专业目录（2015年）》（教职成[2015]10号）印发的普通高等学校高等职业教育（专科）专业目录（2015年），高职（专科）交通管理专业隶属于公安管理类680102K。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub1889674_3"></a>
<a class="lemma-anchor " name="主要课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">交通管理专业</span>主要课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><b>本科主要课程：</b>管理学基础、微观经济学、系统工程、航海概论、物流基础、国际贸易、统计学、财务管理、市场营销学、交通工程学、运筹学、经贸地理、班轮运输实务与法律、租船运输业务、海商法、航运行政管理与法规、运输经济学、港口经济学、航运经济学、运输商务管理、运输代理业务、外贸运输保险、航运金融衍生品及风险管理、国际航运政策、国际集装箱运输、水运交通运输发展战略、港口装卸工艺、港口管理、港口规划、航运管理、国际多式联运等。</div>
<div class="para" label-module="para"><b>高职（专科）主要课程</b>：道路交通安全法规与交通秩序、现代交通智能管理、交通事故查处、车辆与驾驶员管理、汽车原理与<a target="_blank">构造</a>、交通控制与交通工程、车辆保险基础知识、道路施工安全知识、基层公安机关实习、社会调查、毕业实习等，以及各校的主要特色课程和实践环节。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_1889674"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub1889674_4"></a>
<a class="lemma-anchor " name="就业前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">交通管理专业</span>就业前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><b>本科：</b>依照《2015年本科毕业生薪酬最高的100个专业及排名》，交通管理（原航运管理）毕业五年平均月薪为8812元，排名21位，其中北上广深就业比例超过66.09%。</div>
<div class="para" label-module="para">本专业毕业生主要在交通行政管理机构（交通运输部、交通运输厅/局、省、市港航管理局、海事管理机构）、航运企业、港口、大货主企业的运输部、物流企业、船舶代理和货运代理公司、金融业、高等院校、科研院所和其它涉外运输服务单位从事相关工作。</div>
<div class="para" label-module="para"><b>专科：</b>交通管理工程专业在专业学科中属于工学类中的公安技术类，其中公安技术类共6个专业，交通管理工程专业在公安技术类专业中排名第3，在整个工学大类中排名第115位。截止到 2013年12月24日，318502位交通管理工程专业毕业生的平均薪资为5015元，其中应届毕业生工资3551元，0-2年工资4253元，10年以上工资10000元，3-5年工资5340元，6-7年工资6817元，8-10年工资7688元。<sup>[3]</sup><a class="sup-anchor" name="ref_[3]_1889674"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub1889674_5"></a>
<a class="lemma-anchor " name="开设院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">交通管理专业</span>开设院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">本科： <a target="_blank">上海海事大学</a>、<a target="_blank">大连海事大学</a>、<a target="_blank">重庆交通大学</a>、<a target="_blank">香港理工大学</a>、<a target="_blank">国立台湾海洋大学</a>、<a target="_blank">山东交通学院</a>，<a target="_blank">山东警察学院</a>，<a target="_blank">广州航海学院</a>。</div>
<div class="para" label-module="para">专科：<a target="_blank">上海公安高等专科学校</a>、<a target="_blank">湖南公安高等专科学校</a>、<a target="_blank">河南警察学院</a>、<a target="_blank">吉林警察学院</a>。</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-1889674-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_1889674" id="refIndex_1_1889674" name="refIndex_1_1889674" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">教育部关于印发普通高等学校本科专业目录的通知<span class="linkout"> </span></a>
<span class="site">．教育部信息公开栏</span><span>．2012-09-18</span><span>[引用日期2013-06-8]</span></li><li class="reference-item " id="reference-[2]-1889674-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_1889674" id="refIndex_2_1889674" name="refIndex_2_1889674" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank"> 交通管理<span class="linkout"> </span></a>
<span class="site">．中国教育在线</span><span>[引用日期2016-01-31]</span></li><li class="reference-item " id="reference-[3]-1889674-wrap">
<span class="index">3.</span>
<a class="gotop anchor" href="#ref_[3]_1889674" id="refIndex_3_1889674" name="refIndex_3_1889674" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">交通管理专业就业方向与就业前景分析<span class="linkout"> </span></a>
<span class="site">．大学生必备网</span><span>．2014-8-2 </span><span>[引用日期2016-02-1]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>