<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>城市管理专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">城市管理专业，是为了适应我国城市化和城市管理现代化的迫切需要而设立的。培养具有城市管理基本理论和操作技能，能灵活运用城市管理的理论，具有较强的口头和文字表达能力、社交能力、计算机操作应用能力，组织、领导和管理城市公共事务的能力，能从事城市管理教学、科研和实践操作的高级专门人才。</div><div class="para" label-module="para">城市管理学是20世纪50年代兴起的新兴综合性学科，它融经济学、管理学、城市规划学于一体。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
<a target="_blank">城市管理专业</a>
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
120405
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
管理学或工学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
<a data-lemmaid="250" target="_blank">管理学</a>
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养要求</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">学生能力</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干学科</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">主干课程</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">就业方向</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">开设学院</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">硕士点高校</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">专业排名</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub4674979_1"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">城市管理专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业学生主要学习现代管理科学各学科的基本理论和知识，接受一般管理方法、基本能力的培养和训练，熟练掌握现代城市管理理论、技巧和方法，能从事城市管理工作，具有对城市公共事务的规划、协调、组织、决策方面的基本能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_4674979"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub4674979_2"></a>
<a class="lemma-anchor " name="学生能力"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">城市管理专业</span>学生能力</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">掌握管理科学、人文社会科学、决策科学等方面的基本理论和知识。 具有办公自动化、管理科学化所必须的定量分析和计算机应用能力。 具有城市规划和市政管理、城市环境卫生管理、城市科技文化事务管理、城市人口与社会治安管理等综合的城市管理的基本知识和技巧。 熟悉我国有关城市管理的各项法规、政策及制度和现代城市管理的基本理论与管理实务。 具有较强的社会调查和写作能力，掌握资料搜集与处理的现代方法。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_4674979"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub4674979_3"></a>
<a class="lemma-anchor " name="主干学科"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">城市管理专业</span>主干学科</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">城市管理</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub4674979_4"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">城市管理专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">西方城市管理理论与实践、领导科学、城市管理学、城市政治学、管理学原理与方法、城市社会保障学、城市人口学、机关管理原理与方法、社会工作与管理、市政学、城市经济学、公共政策分析方法、城市环境卫生事业管理。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_4674979"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub4674979_5"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">城市管理专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">学生毕业后，可在政府机关、城市规划、建设、执法及综合管理部门、城市市容环境和园林绿化管理部门、城市公用事业单位、城市社区、城市建设相关企业和教育科研部门从事经营管理工作，也可在相关教学和科研单位从事教学和科研工作。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub4674979_6"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">城市管理专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a data-lemmaid="134521" target="_blank">南开大学</a>、<a target="_blank">山东工商学院</a>、<a target="_blank">北京城市学院</a>、<a target="_blank">浙江大学</a>、<a target="_blank">西南交通大学</a>、<a target="_blank">北京理工大学</a>、山东财经大学、中央财经大学、<a target="_blank">青岛科技大学</a>、<a target="_blank">北京大学</a>、<a target="_blank">中南财经政法大学</a>、<a target="_blank">苏州大学</a>、（苏州大学）文正学院、<a target="_blank">浙江工商大学</a>、浙江农林大学、浙江财经大学、<a target="_blank">中国人民大学</a>、<a target="_blank">华东理工大学</a>、<a target="_blank">吉林建筑大学</a>、<a target="_blank">沈阳建筑大学</a>、<a target="_blank">云南大学</a>、<a target="_blank">湖南城市学院</a>、山东农业大学 、国立华侨大学、<a target="_blank">福建师范大学</a>、东北师范大学人文学院、百色学院等。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_4674979"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub4674979_7"></a>
<a class="lemma-anchor " name="硕士点高校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">城市管理专业</span>硕士点高校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">浙江农林大学</a></div>
<div class="para" label-module="para"><a target="_blank">浙江财经大学</a></div>
<div class="para" label-module="para"><a target="_blank">天津城建大学</a></div>
<div class="para" label-module="para"><a target="_blank">安徽建筑大学</a></div>
<div class="para" label-module="para"><a target="_blank">云南大学</a></div>
<div class="para" label-module="para"><a target="_blank">青海民族大学</a></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub4674979_8"></a>
<a class="lemma-anchor " name="专业排名"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">城市管理专业</span>专业排名</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><b>2014-2015年城市管理专业排名</b></div>
<table class="table-view log-set-param" log-set-param="table_view" width="100%"><tr><td><div class="para" label-module="para"><b>排 序</b></div>
</td><td><div class="para" label-module="para"><b>学校名称</b></div>
</td><td><div class="para" label-module="para"><b>水 平</b></div>
</td><td><div class="para" label-module="para"><b>开此专业学校数</b></div>
</td></tr><tr><td><div class="para" label-module="para">1</div>
</td><td><div class="para" label-module="para">苏州大学</div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">24</div>
</td></tr><tr><td colspan="1" rowspan="1"><div class="para" label-module="para">2</div>
</td><td colspan="1" rowspan="1">北京大学</td><td colspan="1" rowspan="1">4★</td><td colspan="1" rowspan="1">24</td></tr><tr><td><div class="para" label-module="para">3</div>
</td><td><div class="para" label-module="para">中南财经政法大学</div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">24</div>
</td></tr><tr><td><div class="para" label-module="para">4</div>
</td><td><div class="para" label-module="para">中国人民大学</div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">24</div>
</td></tr><tr><td><div class="para" label-module="para">5</div>
</td><td><div class="para" label-module="para">南开大学</div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">24</div>
</td></tr><tr><td><div class="para" label-module="para">6</div>
</td><td><div class="para" label-module="para">重庆大学</div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">24</div>
</td></tr><tr><td><div class="para" label-module="para">7</div>
</td><td><div class="para" label-module="para"><a target="_blank">青岛科技大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">24</div>
</td></tr></table><dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-4674979-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_4674979" id="refIndex_1_4674979" name="refIndex_1_4674979" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">城市管理<span class="linkout"> </span></a>
<span class="site">．新浪网</span><span>[引用日期2016-02-18]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>