<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>舞蹈表演专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">舞蹈表演的<a target="_blank">精髓</a>在于手部的姿势，而不是腿部。这一点在<a target="_blank">芭蕾</a>上尤为突出。只有通过手来表现舞蹈之美，才是最为经典和优美的。学生主要学习舞蹈基本知识和基本理论，受到舞蹈表演方面的训练，具有有从事舞蹈表演能力。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
舞蹈表演专业
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
130204
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">修业年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
艺术学学士
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-1">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养目标</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">知识技能</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干课程</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">发展前景</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub2343061_1"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">舞蹈表演专业</span>培养目标</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">培养具备良好的<a target="_blank">职业道德</a>素养以及健全的人格；具有<a target="_blank">创业能力</a>和<a target="_blank">创新精神</a>；具有较扎实的<a target="_blank">舞蹈学</a>、<a target="_blank">表演学</a>理论知识，能够在舞蹈表演、创编方面达到较高的专业水准，善于把握本专业各种体裁作品的表演风格；具有对各类舞蹈作品的鉴赏、分析和批评能力，具备策划、组织、主持和管理各种舞蹈表演活动的能力；具备从事与本专业相关教学、表演、创作、研究等方面专业素质的应用型高级专门人才。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_2343061"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub2343061_2"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">舞蹈表演专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1.掌握舞蹈学科的基本理论知识和技能； 2.具有对不同民族舞蹈的<a target="_blank">鉴赏</a>能力； 3.掌握主要舞种的分析方法和一般技术； 4.具有舞蹈写作、评论以及表演的基本能力； 5.了解<a target="_blank">舞蹈艺术</a>前沿动态、应用情景和发展动态； 6.掌握舞蹈文献检索、资料查询的基本方法；具有一定的实际工作能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub2343061_3"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">舞蹈表演专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">《艺术概论》、《舞蹈艺术概论》、《中外舞蹈史》、《舞蹈名作赏析》、《舞蹈美学》等。舞蹈人体科学领域基础知识有：《舞蹈解剖学》、《运动生理学》、《运动训练学》、《运动生物力学》等。舞蹈专业技术课程有：《芭蕾舞基础训练》、《中国古典舞身韵》、《中国民族民间舞（含福建民间舞）》、《现代舞》、《舞蹈编创》、《中国古典舞技巧》等</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub2343061_4"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">舞蹈表演专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">随着人们对生活质量的不断追求，舞蹈表演专业的就业前景十分可观，<a target="_blank">毕业生</a>可在文艺团体、专业及普通学校、艺术馆（站）、青少年宫、企事业单位等<a target="_blank">工作</a>。舞蹈表演专业<a target="_blank">毕业</a>生可从事舞蹈演员、舞蹈教学、辅导组织工作；青少年业余舞蹈教学排练；企业文化、社区文化和大型文化活动的策划、编导、排练等工作。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_2343061"> </a>
</div>
<div class="para" label-module="para">近年来，在严峻的就业形势下，毕业生的择业更趋于理性化。他们根据自身的实际情况，及时调整期望值，进而找到适合自己的用人单位，实现个人与单位之间的双赢。对于舞蹈专业同样如此。据<a target="_blank">文化部</a>教科司的统计，当前包含舞蹈专业的高校共有五类，即专业<a target="_blank">艺术院校</a>、<a target="_blank">师范类院校</a>、综合类院校以及某些理工科或文科专业的院校。这些院校不仅是中国艺术研究院的主要招生来源，同时也是毕业生就业的主要去向。而近五年来，中国艺术研究院舞蹈学毕业生的就业中的主要问题体现在人才滞留方面。从整个舞蹈学科对于理论或史论型人才的需求以及中国舞蹈理论的本体建设来看，舞蹈的理论建设与其它学科相比尚有待提高和完善，但在普通高校中却十分缺少专业舞蹈理论人才和推广型人才的，因此，舞蹈表演专业学生的就业去向理当不困难。如果按目前舞蹈表演专业学生的就业状况来看，预计在未来可能会出现人才流动量可能日益增加。原因在于舞蹈理论专业学生在职业选择上与表演、编导等术科学生有所不同，从事舞蹈理论要依附于某一单位，而不像编导或演员那样可以选择自由职业甚至无职业等较为自由的发展空间与走向。再者，舞蹈理论在普通高校的开展以及本身的不够成熟也显示出舞蹈理论人才的空缺与需求。舞蹈表演专业培养能适应社会发展需要，德、智、体、美诸方面全面发展的，具备扎实的舞蹈专业基础理论、基本知识和基本技能，具有较高的舞蹈表演能力和创编能力，能在社会艺术团体、企事业单位等从事艺术工作的应用型演员和文艺骨干。</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-2343061-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_2343061" id="refIndex_1_2343061" name="refIndex_1_2343061" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">舞蹈表演(本科类) <span class="linkout"> </span></a>
<span class="site">．阳光高考</span><span>[引用日期2016-02-28]</span></li><li class="reference-item " id="reference-[2]-2343061-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_2343061" id="refIndex_2_2343061" name="refIndex_2_2343061" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">舞蹈表演专业解读与就业方向<span class="linkout"> </span></a>
<span class="site">．辽宁省招生考试办公室</span><span>[引用日期2016-02-28]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>