<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>作曲与作曲技术理论专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">作曲与作曲技术理论专业，是培养具有一定的音乐素养，并具备较全面的音乐创作知识、能力和专业化水平，能在有关文艺单位、艺术院校、科研机构以及出版、广播影视部门从事作曲与作曲技术理论的创作、教学、研究、编辑等方面工作的高级专门人才的学科。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
作曲与作曲技术理论专业
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
艺术学
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">修业年限</dt>
<dd class="basicInfo-item value">
四年或五年
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
文学学士
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
130203
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">专业培养</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#1_1">培养目标</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#1_2">培养要求</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#1_3">知识技能</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">主干课程</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">相近专业</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">开设院校</a></span>
</li>
</ol><ol><li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_1">院校名单</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_2">院校排名</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub145256_1"></a>
<a class="lemma-anchor " name="专业培养"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">作曲与作曲技术理论专业</span>专业培养</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1_1"></a>
<a class="lemma-anchor " name="sub145256_1_1"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">作曲与作曲技术理论专业</span>培养目标</h3>
</div>
<div class="para" label-module="para">作曲与作曲技术理论专业培养具有一定的马克思主义基本理论素养，并具备较全面的音乐创作知识、能力和专业化水平，能在有关文艺单位、艺术院校、科研机构以及出版、广播影视部门从事作曲与作曲技术理论的创作、教学、研究、编辑等方面工作的高级专门人才。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_145256"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="1_2"></a>
<a class="lemma-anchor " name="sub145256_1_2"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">作曲与作曲技术理论专业</span>培养要求</h3>
</div>
<div class="para" label-module="para">作曲与作曲技术理论专业学生主要学习作曲技术与作曲技术理论方面的基本理论和基础知识，掌握音乐创作、教学、研究的作曲技巧；侧重学习作曲者，应全面掌握并熟练地运用各种曲式和体裁的作曲技巧；侧重学习作曲技术理论者，应深入系统地掌握和声、复调、曲式、配器的专业知识和技能；侧重学习视唱练耳，应深入系统地掌握音乐院校视唱练耳教师所具备的专业知识和技能；侧重学习戏曲音乐作曲者，应系统地掌握戏曲音乐艺术的基础知识、戏曲作曲的基本技能和创作规律，具备从事戏曲作曲创作的专业水平和能力；侧重学习电子、电子计算机音乐者，应系统地掌握电子技术的有关知识，能较熟练地通过电子计算机进行音乐分析、研究和创作。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_145256"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="1_3"></a>
<a class="lemma-anchor " name="sub145256_1_3"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">作曲与作曲技术理论专业</span>知识技能</h3>
</div>
<div class="para" label-module="para">1．掌握作曲与作曲技术理论专业的基本理论、基本知识；</div>
<div class="para" label-module="para">2．掌握对不同风格及体裁的作品分析方法；</div>
<div class="para" label-module="para">3．具有应用所学知识进行音乐创作和教学工作和基本能力；</div>
<div class="para" label-module="para">4．了解党和国家的文艺方针、政策和法规；</div>
<div class="para" label-module="para">5．了解作曲与作曲技术理论专业及相关学科的发展动态；</div>
<div class="para" label-module="para">6．掌握文献检索、资料查询的基本方法，具有初步的科学研究能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_145256"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub145256_2"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">作曲与作曲技术理论专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">主要课程：作曲、作曲技术理论、视唱练耳、音乐史、戏曲史、中外民族民间音乐、钢琴或其他乐器演奏、中国传统音乐分析、现代音乐分析等。</div>
<div class="para" label-module="para">主要实践性教学环节：包括社会实践、艺术实践、教学实践等，一般每学期安排1-2周。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub145256_3"></a>
<a class="lemma-anchor " name="相近专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">作曲与作曲技术理论专业</span>相近专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">音乐学作曲与作曲技术理论 音乐表演 绘画 雕塑 美术学 艺术设计学 艺术设计 舞蹈学 舞蹈编导 戏剧学 表演 导演 戏剧影视文学 戏剧影视美术设计 摄影 录音艺术 动画 播音与主持艺术 艺术学 影视学 会展艺术与技术 景观建筑设计 数字媒体艺术</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub145256_4"></a>
<a class="lemma-anchor " name="开设院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">作曲与作曲技术理论专业</span>开设院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="4_1"></a>
<a class="lemma-anchor " name="sub145256_4_1"></a>
<a class="lemma-anchor " name="院校名单"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">作曲与作曲技术理论专业</span>院校名单</h3>
</div>
<div class="para" label-module="para"><a target="_blank">中央音乐学院</a>（10045）</div>
<div class="para" label-module="para"><a target="_blank">中国音乐学院</a>（10046）</div>
<div class="para" label-module="para"><a target="_blank">上海音乐学院</a>（10278）</div>
<div class="para" label-module="para"><a target="_blank">武汉音乐学院</a>（11524）</div>
<div class="para" label-module="para"><a target="_blank">天津音乐学院</a>（10072）</div>
<div class="para" label-module="para"><a target="_blank">中国戏曲学院</a>（10049）</div>
<div class="para" label-module="para"><a target="_blank">中央民族大学</a>（10052）</div>
<div class="para" label-module="para"><a target="_blank">内蒙古大学</a>（10126）</div>
<div class="para" label-module="para"><a target="_blank">吉林大学</a>（10183）</div>
<div class="para" label-module="para"><a target="_blank">延边大学</a>（10184）</div>
<div class="para" label-module="para"><a target="_blank">河北师范大学</a>（10094）</div>
<div class="para" label-module="para"><a target="_blank">山西大学</a>（10108）</div>
<div class="para" label-module="para"><a target="_blank">内蒙古师范大学</a>（10135）</div>
<div class="para" label-module="para"><a target="_blank">沈阳音乐学院</a>（10177）</div>
<div class="para" label-module="para"><a target="_blank">吉林艺术学院</a>（10209）</div>
<div class="para" label-module="para"><a target="_blank">南京艺术学院</a>（10331）</div>
<div class="para" label-module="para"><a target="_blank">山东艺术学院</a>（10458）</div>
<div class="para" label-module="para"><a target="_blank">河南大学</a>（10475）</div>
<div class="para" label-module="para">广东<a target="_blank">星海音乐学院</a>（10587）</div>
<div class="para" label-module="para"><a target="_blank">广西艺术学院</a>（10607）</div>
<div class="para" label-module="para"><a target="_blank">四川音乐学院</a>（10654）</div>
<div class="para" label-module="para"><a target="_blank">贵州大学</a>（10657）</div>
<div class="para" label-module="para"><a target="_blank">云南艺术学院</a>（10690）</div>
<div class="para" label-module="para"><a target="_blank">西安音乐学院</a>（10728）</div>
<div class="para" label-module="para"><a target="_blank">西北民族大学</a>（10742）</div>
<div class="para" label-module="para"><a target="_blank">新疆艺术学院</a>（10768）等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_2"></a>
<a class="lemma-anchor " name="sub145256_4_2"></a>
<a class="lemma-anchor " name="院校排名"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">作曲与作曲技术理论专业</span>院校排名</h3>
</div>
<div class="para" label-module="para"><b>2013-2014年作曲与作曲技术理论专业排名<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_145256"> </a>
</b></div>
<table class="table-view log-set-param" log-set-param="table_view" width="100%"><tr><td align="center" valign="middle"><div class="para" label-module="para"><b>排 序</b></div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><b>学校名称</b></div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><b>水 平</b></div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><b>开此专业学校数</b></div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">1</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">四川音乐学院</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">5★</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">29</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">2</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">中央音乐学院</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">4★</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">29</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">3</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">西安音乐学院</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">4★</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">29</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">4</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">中国音乐学院</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">4★</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">29</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">5</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">哈尔滨师范大学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">4★</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">29</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">6</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">河北师范大学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">3★</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">29</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">7</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">天津音乐学院</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">3★</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">29</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">8</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">星海音乐学院</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">3★</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">29</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">9</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">太原师范学院</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">3★</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">29</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">沈阳音乐学院</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">3★</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">29</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">11</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">武汉音乐学院</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">3★</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">29</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">12</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">云南艺术学院</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">3★</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">29</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">13</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">北方民族大学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">3★</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">29</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">14</div>
</td><td align="center" valign="middle"><div class="para" label-module="para"><a target="_blank">新疆艺术学院</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">3★</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">29</div>
</td></tr></table><div class="rs-container-foot">
<a name="rs-1"></a>
<a class="anchor-2" name="rs_145256_15748"></a>
<div class="rslazy rs-container" id="rs-container-145256-15748" lazy-init="lemmars.tableAction(baidu.g('rs-145256-15748'))"></div>
</div><script type="text/javascript">
        window.rsInsertData = window['rsInsertData'] || [];
        var rsdataList = {"foot":[{"fentryTableId":15748,"fentryTableName":"\u4e8c\u7ea7\u5b66\u79d1\u00b7\u827a\u672f","fentryTableType":1,"entryId":2393484,"templateId":0,"entryTitle":"\u827a\u672f\u7c7b\u4e13\u4e1a","isManual":0,"isExpand":1}],"top":[]};

        if (rsdataList.top || rsdataList.foot) {
            rsInsertData.push([145256, rsdataList]);
        }
    </script>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-145256-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_145256" id="refIndex_1_145256" name="refIndex_1_145256" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">作曲与作曲技术理论<span class="linkout"> </span></a>
<span class="site">．高考派</span><span>[引用日期2015-05-20]</span></li><li class="reference-item " id="reference-[2]-145256-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_145256" id="refIndex_2_145256" name="refIndex_2_145256" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">作曲与作曲技术理论专业排名-2013-2014年中国大学本科分专业排行榜<span class="linkout"> </span></a>
<span class="site">．中华考试网</span><span>[引用日期2013-11-19]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>