<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>音乐表演专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">音乐表演专业培养具有音乐表演的专业知识和艺术素养，掌握<a target="_blank">音乐表演</a>专业技能的高级技术应用性专门人才。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
音乐表演专业
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
Music performance
</dd>
<dt class="basicInfo-item name">主干学科</dt>
<dd class="basicInfo-item value">
声乐，基本乐理等
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">主要课程</dt>
<dd class="basicInfo-item value">
<a target="_blank">表演</a>、音乐技术理论
</dd>
<dt class="basicInfo-item name">学科门类</dt>
<dd class="basicInfo-item value">
艺术学
</dd>
<dt class="basicInfo-item name">就业方向</dt>
<dd class="basicInfo-item value">
电视台、歌舞剧院、学校等
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-4">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养要求</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">知识技能</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干课程</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">发展前景</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">就业方向</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">相近专业</a></span>
</li>
<li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">开设学院</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#7_1">福建</a></span>
</li>
</ol><ol><li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#7_2">江西</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#7_3">浙江</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#7_4">内蒙古</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#7_5">安徽</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#7_6">河北</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#7_7">山西</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#7_8">山东</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#7_9">湖北</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#7_10">河南</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#7_11">新疆</a></span>
</li>
</ol><ol><li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#7_12">甘肃</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#7_13">陕西</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#7_14">广西</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#7_15">广东</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#7_16">海南</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#7_17">吉林</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#7_18">黑龙江</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#7_19">江苏</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#7_20">四川</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#7_21">贵州</a></span>
</li>
</ol><ol><li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#7_22">云南</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#7_23">重庆</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#7_24">北京</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#7_25">天津</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#7_26">辽宁</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#7_27">湖南</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#7_28">上海</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">院校排名</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub145260_1"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">音乐表演专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">掌握该专业的基本理论、基本知识；掌握<a target="_blank">音乐作品</a>的分析方法；具有演绎不同风格及体裁的音乐作品的能力；了解党和国家的文艺方针、政策和法规；了解该专业及相关学科的发展动态；掌握文献、资料查询的基本方法，具有初步科学研究能力</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub145260_2"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">音乐表演专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><div class="lemma-picture text-pic layout-right" style="width:140px; float: right;">
<a class="image-link" nslog-type="9317" style="width:140px;height:105px;" target="_blank" title="">
<img alt="" class="lazy-img" data-src="http://h.hiphotos.baidu.com/baike/s%3D220/sign=f387f14194eef01f49141fc7d0fe99e0/9e3df8dcd100baa18a190f9e4710b912c8fc2ed9.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF9fX1AAAA0VQI3QAAAAxJREFUeNpiYAAIMAAAAgABT21Z4QAAAABJRU5ErkJggg==" style="width:140px;height:105px;"/>
</a>
</div></div>
<div class="para" label-module="para">毕业生应获得以下几方面的知识和能力：</div>
<div class="para" label-module="para">1．掌握该专业的基本理论、基本知识；</div>
<div class="para" label-module="para">2．掌握音乐作品的分析方法；</div>
<div class="para" label-module="para">3．具有演绎不同风格及体裁的音乐作品的能力；</div>
<div class="para" label-module="para">4．了解该专业及相关学科的发展动态；</div>
<div class="para" label-module="para">5．掌握文献、资料查询的基本方法，具有初步科学研究能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub145260_3"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">音乐表演专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">声乐</a>、<a data-lemmaid="240695" target="_blank">钢琴</a>、<a target="_blank">基本乐理</a>、视唱练耳、舞台表演、合唱与指挥、形态与舞蹈、曲式与作品分析等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub145260_4"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">音乐表演专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">随着<a target="_blank">现代科学技术</a>的发展，<a target="_blank">自然科学</a>与<a target="_blank">人文社会科学</a>日益相互交融，<a target="_blank">音乐艺术</a>已逐渐成为具有广阔发展前景的朝阳产业。培养全面发展型（德育、智育、体育、美育全面发展）、综合型（具备多方面的综合能力）、创新型（具备音乐创造以及通过音乐教学来启发和促进创造精神发展的能力）的音乐人才。探寻适合我国发展状况的高校音乐<a target="_blank">教育模式</a>，是当前音乐教育面临的重要工作任务。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub145260_5"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">音乐表演专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">毕业生可到<a target="_blank">电视台</a>、歌舞剧院（团）、电视剧制作中心、宣传部门、文教事业单位从事演唱、创作和音乐制作工作，以及在高等院校从事教学科研工作；也可以进一步攻读该专业及相关专业的硕士学位。音乐表演专业学生就业岗位<a target="_blank">茶艺师</a>、少儿英语教师、钢琴教师、音乐教师、幼儿园教师、幼儿教师、<a target="_blank">声乐老师</a>、幼儿英语教师、早教教师、钢琴老师、<a target="_blank">亲子教师</a>、少儿英语老师等。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_145260"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub145260_6"></a>
<a class="lemma-anchor " name="相近专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">音乐表演专业</span>相近专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">音乐学 ，作曲与作曲技术理论， 音乐表演 ，绘画， 雕塑， 美术学， 艺术设计学 ，艺术设计， 舞蹈学 ，舞蹈编导， 戏剧学 ，表演， 导演，戏剧影视文学，戏剧影视，美术设计，摄影 录音艺术 动画，播音与主持艺术，艺术学， 影视学， 会展艺术与技术 ，景观建筑设计，<a target="_blank">数字媒体艺术</a>。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub145260_7"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">音乐表演专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7_1"></a>
<a class="lemma-anchor " name="sub145260_7_1"></a>
<a class="lemma-anchor " name="福建"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">音乐表演专业</span>福建</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">福建艺术职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">宁德职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">厦门南洋职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">厦门软件职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">厦门演艺职业学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="7_2"></a>
<a class="lemma-anchor " name="sub145260_7_2"></a>
<a class="lemma-anchor " name="江西"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">音乐表演专业</span>江西</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">南昌师范高等专科学校</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">萍乡学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">鹰潭职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">抚州职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">南昌职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">江西应用科技学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">江西科技学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">江西艺术职业学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="7_3"></a>
<a class="lemma-anchor " name="sub145260_7_3"></a>
<a class="lemma-anchor " name="浙江"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">音乐表演专业</span>浙江</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">浙江横店影视职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">金华职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">浙江艺术职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">丽水职业技术学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="7_4"></a>
<a class="lemma-anchor " name="sub145260_7_4"></a>
<a class="lemma-anchor " name="内蒙古"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">音乐表演专业</span>内蒙古</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">内蒙古工业职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">内蒙古经贸外语职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">锡林郭勒职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">呼伦贝尔职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">内蒙古科技职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">内蒙古丰州职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">科尔沁艺术职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">呼和浩特职业学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="7_5"></a>
<a class="lemma-anchor " name="sub145260_7_5"></a>
<a class="lemma-anchor " name="安徽"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">音乐表演专业</span>安徽</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">安徽黄梅戏艺术职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">马鞍山师范高等专科学校</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">安徽艺术职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">亳州师范高等专科学校</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">民办万博科技职业学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="7_6"></a>
<a class="lemma-anchor " name="sub145260_7_6"></a>
<a class="lemma-anchor " name="河北"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">音乐表演专业</span>河北</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">宣化科技职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">泊头职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">邢台职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">秦皇岛职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">石家庄理工职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">河北省艺术职业学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="7_7"></a>
<a class="lemma-anchor " name="sub145260_7_7"></a>
<a class="lemma-anchor " name="山西"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">音乐表演专业</span>山西</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">太原学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">忻州职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">山西艺术职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">山西工商学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">山西应用科技学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">山西旅游职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">晋城职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">山西戏剧职业学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="7_8"></a>
<a class="lemma-anchor " name="sub145260_7_8"></a>
<a class="lemma-anchor " name="山东"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">音乐表演专业</span>山东</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">临沂职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">山东服装职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">青岛求实职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">东营职业学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="7_9"></a>
<a class="lemma-anchor " name="sub145260_7_9"></a>
<a class="lemma-anchor " name="湖北"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">音乐表演专业</span>湖北</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">随州职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">湖北科技职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">武汉商贸职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">郧阳师范高等专科学校</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">江汉艺术职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">湖北艺术职业学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="7_10"></a>
<a class="lemma-anchor " name="sub145260_7_10"></a>
<a class="lemma-anchor " name="河南"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">音乐表演专业</span>河南</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">驻马店职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">郑州城市职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">郑州信息工程职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">许昌陶瓷职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">河南艺术职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">焦作师范高等专科学校</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">开封文化艺术职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">安阳职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">黄河水利职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">郑州铁路职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">郑州信息科技职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">许昌职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">漯河职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">濮阳职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">焦作大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">济源职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">平顶山工业职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">周口职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">三门峡职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">中州大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">河南职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">商丘职业技术学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="7_11"></a>
<a class="lemma-anchor " name="sub145260_7_11"></a>
<a class="lemma-anchor " name="新疆"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">音乐表演专业</span>新疆</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">新疆职业大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">新疆应用职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">巴音郭楞职业技术学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="7_12"></a>
<a class="lemma-anchor " name="sub145260_7_12"></a>
<a class="lemma-anchor " name="甘肃"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">音乐表演专业</span>甘肃</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">兰州文理学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">武威职业学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="7_13"></a>
<a class="lemma-anchor " name="sub145260_7_13"></a>
<a class="lemma-anchor " name="陕西"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">音乐表演专业</span>陕西</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">陕西工商职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">陕西艺术职业学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="7_14"></a>
<a class="lemma-anchor " name="sub145260_7_14"></a>
<a class="lemma-anchor " name="广西"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">音乐表演专业</span>广西</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">广西幼儿师范高等专科学校</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">柳州职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">桂林师范高等专科学校</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">桂林旅游学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="7_15"></a>
<a class="lemma-anchor " name="sub145260_7_15"></a>
<a class="lemma-anchor " name="广东"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">音乐表演专业</span>广东</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">广州城建职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">广东舞蹈戏剧职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">广州科技贸易职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">广东理工学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">私立华联学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">珠海艺术职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">广东岭南职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">广东亚视演艺职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">广东文艺职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">深圳职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">河源职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">清远职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">汕头职业技术学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="7_16"></a>
<a class="lemma-anchor " name="sub145260_7_16"></a>
<a class="lemma-anchor " name="海南"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">音乐表演专业</span>海南</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">三亚理工职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">海南外国语职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">琼台师范高等专科学校</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">海南软件职业技术学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="7_17"></a>
<a class="lemma-anchor " name="sub145260_7_17"></a>
<a class="lemma-anchor " name="吉林"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">音乐表演专业</span>吉林</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">长春光华学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="7_18"></a>
<a class="lemma-anchor " name="sub145260_7_18"></a>
<a class="lemma-anchor " name="黑龙江"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">音乐表演专业</span>黑龙江</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">哈尔滨科学技术职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">哈尔滨传媒职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">伊春职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">黑龙江艺术职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">牡丹江大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">大兴安岭职业学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="7_19"></a>
<a class="lemma-anchor " name="sub145260_7_19"></a>
<a class="lemma-anchor " name="江苏"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">音乐表演专业</span>江苏</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">南京视觉艺术职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">江苏农林职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">连云港师范高等专科学校</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">江南影视艺术职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">泰州职业技术学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="7_20"></a>
<a class="lemma-anchor " name="sub145260_7_20"></a>
<a class="lemma-anchor " name="四川"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">音乐表演专业</span>四川</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">四川艺术职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">四川文化传媒职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">四川幼儿师范高等专科学校</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">四川文化产业职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">阿坝师范学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">成都艺术职业学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="7_21"></a>
<a class="lemma-anchor " name="sub145260_7_21"></a>
<a class="lemma-anchor " name="贵州"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">音乐表演专业</span>贵州</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">黔东南民族职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">铜仁职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">贵州职业技术学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="7_22"></a>
<a class="lemma-anchor " name="sub145260_7_22"></a>
<a class="lemma-anchor " name="云南"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">音乐表演专业</span>云南</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">滇西科技师范学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">德宏师范高等专科学校</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">丽江师范高等专科学校</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">昆明艺术职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">云南文化艺术职业学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="7_23"></a>
<a class="lemma-anchor " name="sub145260_7_23"></a>
<a class="lemma-anchor " name="重庆"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">音乐表演专业</span>重庆</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">重庆海联职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">重庆旅游职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">重庆文化艺术职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">重庆信息技术职业学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="7_24"></a>
<a class="lemma-anchor " name="sub145260_7_24"></a>
<a class="lemma-anchor " name="北京"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">音乐表演专业</span>北京</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">北京戏曲艺术职业学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="7_25"></a>
<a class="lemma-anchor " name="sub145260_7_25"></a>
<a class="lemma-anchor " name="天津"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">音乐表演专业</span>天津</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">天津工程职业技术学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">天津艺术职业学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="7_26"></a>
<a class="lemma-anchor " name="sub145260_7_26"></a>
<a class="lemma-anchor " name="辽宁"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">音乐表演专业</span>辽宁</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">抚顺师范高等专科学校</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="7_27"></a>
<a class="lemma-anchor " name="sub145260_7_27"></a>
<a class="lemma-anchor " name="湖南"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">音乐表演专业</span>湖南</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">湖南艺术职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">湖南科技职业学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">湖南大众传媒职业技术学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="7_28"></a>
<a class="lemma-anchor " name="sub145260_7_28"></a>
<a class="lemma-anchor " name="上海"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">音乐表演专业</span>上海</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">上海电影艺术职业学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub145260_8"></a>
<a class="lemma-anchor " name="院校排名"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">音乐表演专业</span>院校排名</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><b>2013-2014年音乐表演专业排名<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_145260"> </a>
</b></div>
<table class="table-view log-set-param" log-set-param="table_view" width="100%"><tr><td><div class="para" label-module="para"><b>排 序</b></div>
</td><td><div class="para" label-module="para"><b>学校名称</b></div>
</td><td><div class="para" label-module="para"><b>水 平</b></div>
</td><td><div class="para" label-module="para"><b>开此专业学校数</b></div>
</td></tr><tr><td><div class="para" label-module="para">1</div>
</td><td><div class="para" label-module="para"><a target="_blank">中国音乐学院</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">170</div>
</td></tr><tr><td><div class="para" label-module="para">2</div>
</td><td><div class="para" label-module="para"><a target="_blank">上海音乐学院</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">170</div>
</td></tr><tr><td><div class="para" label-module="para">3</div>
</td><td><div class="para" label-module="para"><a target="_blank">星海音乐学院</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">170</div>
</td></tr><tr><td><div class="para" label-module="para">4</div>
</td><td><div class="para" label-module="para"><a target="_blank">西安音乐学院</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">170</div>
</td></tr><tr><td><div class="para" label-module="para">5</div>
</td><td><div class="para" label-module="para"><a target="_blank">内蒙古师范大学</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">170</div>
</td></tr><tr><td><div class="para" label-module="para">6</div>
</td><td><div class="para" label-module="para"><a target="_blank">武汉音乐学院</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">170</div>
</td></tr><tr><td><div class="para" label-module="para">7</div>
</td><td><div class="para" label-module="para"><a target="_blank">浙江师范大学</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">170</div>
</td></tr><tr><td><div class="para" label-module="para">8</div>
</td><td><div class="para" label-module="para"><a target="_blank">南通大学</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">170</div>
</td></tr><tr><td><div class="para" label-module="para">9</div>
</td><td><div class="para" label-module="para"><a target="_blank">四川音乐学院</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">170</div>
</td></tr><tr><td><div class="para" label-module="para">11</div>
</td><td><div class="para" label-module="para"><a target="_blank">内蒙古民族大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">170</div>
</td></tr><tr><td><div class="para" label-module="para">12</div>
</td><td><div class="para" label-module="para"><a target="_blank">哈尔滨师范大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">170</div>
</td></tr><tr><td><div class="para" label-module="para">13</div>
</td><td><div class="para" label-module="para"><a target="_blank">西北师范大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">170</div>
</td></tr><tr><td><div class="para" label-module="para">14</div>
</td><td><div class="para" label-module="para"><a target="_blank">洛阳师范学院</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">170</div>
</td></tr><tr><td><div class="para" label-module="para">15</div>
</td><td><div class="para" label-module="para"><a target="_blank">内蒙古大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">170</div>
</td></tr><tr><td><div class="para" label-module="para">16</div>
</td><td><div class="para" label-module="para"><a target="_blank">天津音乐学院</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">170</div>
</td></tr><tr><td><div class="para" label-module="para">17</div>
</td><td><div class="para" label-module="para"><a target="_blank">齐齐哈尔大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">170</div>
</td></tr><tr><td><div class="para" label-module="para">18</div>
</td><td><div class="para" label-module="para"><a target="_blank">沈阳师范大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">170</div>
</td></tr><tr><td><div class="para" label-module="para">19</div>
</td><td><div class="para" label-module="para"><a data-lemmaid="167531" target="_blank">大连大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">170</div>
</td></tr><tr><td><div class="para" label-module="para">20</div>
</td><td><div class="para" label-module="para"><a target="_blank">中国戏曲学院</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">170</div>
</td></tr><tr><td><div class="para" label-module="para">21</div>
</td><td><div class="para" label-module="para"><a target="_blank">辽宁师范大学</a></div>
</td><td>4★</td><td>170</td></tr><tr><td colspan="1" rowspan="1">22</td><td colspan="1" rowspan="1"><a target="_blank">吉林师范大学</a></td><td colspan="1" rowspan="1">4★<br/>　　</td><td colspan="1" rowspan="1">170</td></tr></table><div class="rs-container-foot">
<a name="rs-1"></a>
<a class="anchor-2" name="rs_145260_15748"></a>
<div class="rslazy rs-container" id="rs-container-145260-15748" lazy-init="lemmars.tableAction(baidu.g('rs-145260-15748'))"></div>
</div><script type="text/javascript">
        window.rsInsertData = window['rsInsertData'] || [];
        var rsdataList = {"foot":[{"fentryTableId":15748,"fentryTableName":"\u4e8c\u7ea7\u5b66\u79d1\u00b7\u827a\u672f","fentryTableType":1,"entryId":2393484,"templateId":0,"entryTitle":"\u827a\u672f\u7c7b\u4e13\u4e1a","isManual":0,"isExpand":1}],"top":[]};

        if (rsdataList.top || rsdataList.foot) {
            rsInsertData.push([145260, rsdataList]);
        }
    </script>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-145260-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_145260" id="refIndex_1_145260" name="refIndex_1_145260" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">音乐表演专业就业方向与就业前景分析<span class="linkout"> </span></a>
<span class="site">．大学生必备网</span><span>[引用日期2015-05-24]</span></li><li class="reference-item " id="reference-[2]-145260-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_145260" id="refIndex_2_145260" name="refIndex_2_145260" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">音乐表演专业排名-2013-2014年中国大学本科分专业排行榜<span class="linkout"> </span></a>
<span class="site">．中华考试网</span><span>[引用日期2013-11-19]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>