<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>音乐学专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">音乐学是研究音乐的所有理论学科的总称；音乐学在不同时期的研究对象和侧重点是不同的，音乐学除了基本的研究对象外，还研究历史和现在的一切个人和民族的音乐行为，即音乐的生理行为、创造行为、表演行为、审美行为、接受行为、和学习行为。音乐学专业学生主要学习音乐史论、<a target="_blank">音乐教育</a>等方面的基本理论和基础知识，接受<a target="_blank">音乐理论</a>与实践方面的基本训练，具有<a target="_blank">音乐研究</a>、教学等方面的基本能力。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
音乐学专业
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
130202
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
艺术学学士
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年或五年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
艺术学
</dd>
<dt class="basicInfo-item name">主要课程</dt>
<dd class="basicInfo-item value">
音乐史学理论、作曲、乐器演奏等
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养目标</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">知识技能</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干课程</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">实践教学</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">相近专业</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">开设学院</a></span>
</li>
<li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">发展前景</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">就业方向</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">9</span>
<span class="text"><a href="#9">院校排名</a></span>
</li>
<li class="level1">
<span class="index">10</span>
<span class="text"><a href="#10">专升本</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#10_1">主干学科</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#10_2">知识和能力</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub145246_1"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">音乐学专业</span>培养目标</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业培养具有一定的马克思主义基本理论素养和系统的专业基本知识，具备一定音乐实践技能和教学能<div class="lemma-picture text-pic layout-right" style="width:220px; float: right;">
<a class="image-link" nslog-type="9317" style="width:220px;height:220px;" target="_blank" title="">
<img alt="" class="lazy-img" data-src="https://imgsa.baidu.com/baike/s%3D220/sign=668f5d94ae18972ba73a07c8d6cc7b9d/8718367adab44aed98eadf64b61c8701a08bfb8e.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF9fX1AAAA0VQI3QAAAAxJREFUeNpiYAAIMAAAAgABT21Z4QAAAABJRU5ErkJggg==" style="width:220px;height:220px;"/>
</a>
</div>力，能在高、中等专业或普通院校、社会文艺团体、艺术研究单位和文化机关、出版及广播、影视部门从事教学、研究、编辑、评论、管理等方面工作的高级专门人才。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub145246_2"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">音乐学专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">毕业生应获得以下几方面的知识和能力：</div>
<div class="para" label-module="para">l. 掌握音乐学的基本理论；</div>
<div class="para" label-module="para">2. 掌握音乐的分析方法；</div>
<div class="para" label-module="para">3. 具有从事该专业工作的基本能力；</div>
<div class="para" label-module="para">4. 了解党和国家的文艺方针、政策和法规；</div>
<div class="para" label-module="para">5. 了解该专业及相关学科的发展动态；</div>
<div class="para" label-module="para">6. 掌握文献检索、资料查询的基本方法，具有一定的科学研究和实际的工作能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub145246_3"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">音乐学专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">音乐史</a>、音乐学理论、中外民族民间音乐、教育学、美学、作曲技术理论、钢琴或其他乐器演奏等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub145246_4"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">音乐学专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">主要实践性教学环节：包括社会实践、艺术实践及教学实践等，一般每学期安排l--2周。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub145246_5"></a>
<a class="lemma-anchor " name="相近专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">音乐学专业</span>相近专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">作曲与作曲技术理论、音乐表演、绘画、雕塑、美术学、艺术设计学、艺术设计、<a target="_blank">舞蹈学</a>、舞蹈编导、戏剧学、表演、导演、戏剧影视文学、戏剧影视、<a target="_blank">美术设计</a>、摄影、录音艺术、动画、播音与主持艺术、艺术学、影视学、会展艺术与技术、景观建筑设计、<a target="_blank">数字媒体艺术</a></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub145246_6"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">音乐学专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">中央音乐学院</a><a target="_blank">长江师范学院</a>、 <a target="_blank">中国音乐学院</a>、 <a target="_blank">首都师范大学</a>、<a target="_blank">重庆文理学院</a>、四川音乐学院、<a target="_blank">广州星海音乐学院</a>、<a target="_blank">南京艺术学院</a>、<a target="_blank">大连艺术学院</a>、华中师范大学、<a target="_blank">黄石理工学院</a>　<a target="_blank">湖南城市学院</a>、遵义师范学院、长治学院、西南科技大学、韶关学院、浙江音乐学院 各大音乐院校。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub145246_7"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">音乐学专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">从大部分院校的音乐学就业情况来看，该专业的毕业生就业率都不错，研究生毕业后主要集中在各教育系统和相关单位从事教学研究与传授工作。</div>
<div class="para" label-module="para">(一)专业性强，占据学科优势</div>
<div class="para" label-module="para">音乐领域所需要的人才有其特殊性，先是表演人才、创作人才和理论人才，后来有了教育人才，发展到今天，又发掘了炙手可热的市场管理人才。伴随着全民族文化素质的全面提高和音乐教育的大力普及，以及高科技的飞速发展，大众传媒日益昌盛，各种各样的选秀节目扩大了音乐表演人才的选拔范围，因此，其他音乐专业人才培养的重任就落在了音乐学的深度教育上，音乐领域所需要的文化产业人才专业性较强，要求学生既要有良好的音乐基础，又要有良好的音乐表演技能和音乐学理论基础，而真正学懂一门音乐，不是短期内可以解决的。因此，这是音乐学专业毕业生的优势，为其就业开辟了一条广阔的道路。</div>
<div class="para" label-module="para">(二)逐步拓展结合领域，顺应时代潮流</div>
<div class="para" label-module="para">现代化的过程是一个极高度的工业发展史，在这个进程中，世俗化是其内在应有的现象，尤其体现于城市中的流行音乐;这种伴生的流行音乐的生长与发展又必然依赖现代传播媒体以及高技术，因此，音乐学与大众传媒的结合已经成为现今音乐领域的主要运行方式，从而成为该专业毕业生值得探索和发展的重要领域。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub145246_8"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">音乐学专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">主要到高、中等专业或普通院校、社会文艺团体、艺术研究单位和文化机关、出版及广播、影视部门从事教学、研究、编辑、评论、管理等方面工作。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="9"></a>
<a class="lemma-anchor " name="sub145246_9"></a>
<a class="lemma-anchor " name="院校排名"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">音乐学专业</span>院校排名</h2>
<a class="edit-icon j-edit-link" data-edit-dl="9"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><b>2013-2014年音乐学专业排名</b></div>
<table class="table-view log-set-param" log-set-param="table_view" width="100%"><tr><td><div class="para" label-module="para"><b>排 序</b></div>
</td><td><div class="para" label-module="para"><b>学校名称</b></div>
</td><td><div class="para" label-module="para"><b>水 平</b></div>
</td><td><div class="para" label-module="para"><b>开此专业学校数</b></div>
</td></tr><tr><td><div class="para" label-module="para">1</div>
</td><td><div class="para" label-module="para"><a target="_blank">中央音乐学院</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">313</div>
</td></tr><tr><td><div class="para" label-module="para">2</div>
</td><td><div class="para" label-module="para"><a target="_blank">中国音乐学院</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">313</div>
</td></tr><tr><td><div class="para" label-module="para">3</div>
</td><td><div class="para" label-module="para"><a target="_blank">首都师范大学</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">313</div>
</td></tr><tr><td><div class="para" label-module="para">4</div>
</td><td><div class="para" label-module="para"><a target="_blank">福建师范大学</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">313</div>
</td></tr><tr><td><div class="para" label-module="para">5</div>
</td><td><div class="para" label-module="para"><a target="_blank">哈尔滨师范大学</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">313</div>
</td></tr><tr><td><div class="para" label-module="para">6</div>
</td><td><div class="para" label-module="para"><a target="_blank">东北师范大学</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">313</div>
</td></tr><tr><td><div class="para" label-module="para">7</div>
</td><td><div class="para" label-module="para"><a target="_blank">星海音乐学院</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">313</div>
</td></tr><tr><td><div class="para" label-module="para">8</div>
</td><td><div class="para" label-module="para"><a target="_blank">湖南师范大学</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">313</div>
</td></tr><tr><td><div class="para" label-module="para">9</div>
</td><td><div class="para" label-module="para"><a target="_blank">四川音乐学院</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">313</div>
</td></tr><tr><td><div class="para" label-module="para">10</div>
</td><td><div class="para" label-module="para"><a target="_blank">西安音乐学院</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">313</div>
</td></tr><tr><td><div class="para" label-module="para">11</div>
</td><td><div class="para" label-module="para"><a target="_blank">武汉音乐学院</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">313</div>
</td></tr><tr><td><div class="para" label-module="para">12</div>
</td><td><div class="para" label-module="para"><a target="_blank">中国传媒大学</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">313</div>
</td></tr><tr><td><div class="para" label-module="para">13</div>
</td><td><div class="para" label-module="para"><a target="_blank">南京师范大学</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">313</div>
</td></tr><tr><td><div class="para" label-module="para">14</div>
</td><td><div class="para" label-module="para"><a target="_blank">南京艺术学院</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">313</div>
</td></tr><tr><td><div class="para" label-module="para">15</div>
</td><td><div class="para" label-module="para"><a target="_blank">沈阳音乐学院</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">313</div>
</td></tr><tr><td><div class="para" label-module="para">16</div>
</td><td><div class="para" label-module="para"><a target="_blank">南通大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">313</div>
</td></tr><tr><td><div class="para" label-module="para">17</div>
</td><td><div class="para" label-module="para"><a target="_blank">山东艺术学院</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">313</div>
</td></tr><tr><td><div class="para" label-module="para">18</div>
</td><td><div class="para" label-module="para"><a target="_blank">湖北师范学院</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">313</div>
</td></tr><tr><td><div class="para" label-module="para">19</div>
</td><td><div class="para" label-module="para"><a target="_blank">广西艺术学院</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">313</div>
</td></tr><tr><td><div class="para" label-module="para">20</div>
</td><td><div class="para" label-module="para"><a target="_blank">西南大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">313</div>
</td></tr></table><div class="anchor-list">
<a class="lemma-anchor para-title" name="10"></a>
<a class="lemma-anchor " name="sub145246_10"></a>
<a class="lemma-anchor " name="专升本"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">音乐学专业</span>专升本</h2>
<a class="edit-icon j-edit-link" data-edit-dl="10"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="10_1"></a>
<a class="lemma-anchor " name="sub145246_10_1"></a>
<a class="lemma-anchor " name="主干学科"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">音乐学专业</span>主干学科</h3>
</div>
<div class="para" label-module="para"><a data-lemmaid="3362725" target="_blank">艺术学</a>、<a data-lemmaid="784408" target="_blank">教育学</a>。</div>
<div class="para" label-module="para">主要实践性教学环节：包括社会实践、艺术实践及教学实践等，一般每学期安排1-2周。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="10_2"></a>
<a class="lemma-anchor " name="sub145246_10_2"></a>
<a class="lemma-anchor " name="知识和能力"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">音乐学专业</span>知识和能力</h3>
</div>
<div class="para" label-module="para">1、掌握音乐学的基本理论；</div>
<div class="para" label-module="para">2、掌握音乐的分析方法；</div>
<div class="para" label-module="para">3、具有从事该专业工作的基本能力；</div>
<div class="para" label-module="para">4、了解党和国家的文艺方针、政策和法规；</div>
<div class="para" label-module="para">5、了解该专业及相关学科的发展动态；</div>
<div class="para" label-module="para">6、掌握<a target="_blank">文献检索</a>、资料查询的基本方法，具有一定的<a target="_blank">科学研究</a>和实际的工作能力。</div>

<div class="clear"></div>
</div>