<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>戏剧学专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">戏剧学是一门新兴学科，属于艺术学下的一个本科专业。本专业培养具备<a data-lemmaid="29000" target="_blank">戏剧</a>和<a target="_blank">影视</a>的理论、评论、编辑和艺术管理等力面的知识。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
戏剧学专业
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
130302
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
艺术学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
<a target="_blank">艺术学</a>
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养目标</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">培养要求</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">知识技能</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">主干课程</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">相近专业</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">开设院校</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">就业方向</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub145322_1"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">戏剧学专业</span>培养目标</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">本专业培养具备戏剧和影视的理论、评论、编辑和艺术管理等力面的知识，能在<a data-lemmaid="113664" target="_blank">剧院</a>(团)或<a target="_blank">电视台</a>、电影厂、<a target="_blank">编辑部</a>以及文化管理机关等部门从事理论研究、编审与文化管理等方面工作以及能在国家机关、文教事业单位从事实际工作的高级专门人才。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub145322_2"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">戏剧学专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">本专业学生应具有扎实的<a target="_blank">马克思主义</a>的基本理论，熟悉我国的文艺方针、政策，系统地掌握戏剧、<a target="_blank">影视文学</a>的基本理论和创作技能，了解相关学科的知识，有较好的文化艺术修养，较强的审美感觉和创造性思维；具有较系统和广博的戏剧影视理论和历史知识，掌握分析和研究戏剧影视作品的方法，有较强的理论写作能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub145322_3"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">戏剧学专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<ol class="custom_num para-list list-paddingleft-1"><li class="list-num-1-1 list-num-paddingleft-1"><div class="para" label-module="para">掌握戏剧、影视艺术学科的基础理论、基本知识</div>
</li><li class="list-num-1-2 list-num-paddingleft-1"><div class="para" label-module="para">具有理论写作的基本能力</div>
</li><li class="list-num-1-3 list-num-paddingleft-1"><div class="para" label-module="para">了解我国的文艺方针、政策和法规</div>
</li><li class="list-num-1-4 list-num-paddingleft-1"><div class="para" label-module="para">了解文献检索、资料查询的基本方法，具有一定的理论研究和实践创作能力</div>
</li></ol><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub145322_4"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">戏剧学专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">主干学科：<a target="_blank">艺术学</a></div>
<div class="para" label-module="para">主要课程：导演学、<a target="_blank">表演艺术</a>、<a target="_blank">舞台美术设计</a>基础、<a target="_blank">中外戏剧史</a>、<a data-lemmaid="741226" target="_blank">艺术概论</a>等。</div>
<div class="para" label-module="para">主要实践性教学环节：包括<a target="_blank">社会实践</a>和艺术实践，一般安排每学期3周。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub145322_5"></a>
<a class="lemma-anchor " name="相近专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">戏剧学专业</span>相近专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a data-lemmaid="14375317" target="_blank">音乐学</a> <a target="_blank">作曲与作曲技术理论</a> <a target="_blank">音乐表演</a> <a data-lemmaid="612451" target="_blank">绘画</a> <a data-lemmaid="18262" target="_blank">雕塑</a> <a target="_blank">美术学</a> <a target="_blank">艺术设计学</a> <a target="_blank">艺术设计</a> <a target="_blank">舞蹈学</a> <a target="_blank">舞蹈编导</a> <a target="_blank">戏剧学</a> <a data-lemmaid="4356872" target="_blank">表演</a> <a target="_blank">导演</a> <a target="_blank">戏剧影视文学</a> <a target="_blank">戏剧影视美术设计</a> <a data-lemmaid="6201" target="_blank">摄影</a> <a target="_blank">录音艺术</a> <a target="_blank">动画</a><a target="_blank">播音与主持艺术</a> <a target="_blank">艺术学</a> <a target="_blank">影视学</a> <a target="_blank">会展艺术</a>与技术 <a target="_blank">景观建筑设计</a> <a target="_blank">数字媒体艺术</a></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub145322_6"></a>
<a class="lemma-anchor " name="开设院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">戏剧学专业</span>开设院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">云南艺术学院</a></div>
<div class="para" label-module="para"><a target="_blank">南京大学</a></div>
<div class="para" label-module="para"><a target="_blank">吉林艺术学院</a></div>
<div class="para" label-module="para"><a target="_blank">上海师范大学</a></div>
<div class="para" label-module="para"><a target="_blank">中央戏剧学院</a></div>
<div class="para" label-module="para"><a target="_blank">重庆大学</a></div>
<div class="para" label-module="para"><a target="_blank">中国戏曲学院</a></div>
<div class="para" label-module="para"><a target="_blank">上海戏剧学院</a></div>
<div class="para" label-module="para"><a target="_blank">中国传媒大学</a></div>
<div class="para" label-module="para"><a target="_blank">北京电影学院</a></div>
<div class="para" label-module="para"><a target="_blank">西南师范大学</a></div>
<div class="para" label-module="para"><a target="_blank">武汉大学</a></div>
<div class="para" label-module="para"><a target="_blank">山西大学</a></div>
<div class="para" label-module="para"><a target="_blank">华中师范大学</a></div>
<div class="para" label-module="para"><a target="_blank">广西大学</a></div>
<div class="para" label-module="para"><a target="_blank">天津师范大学</a></div>
<div class="para" label-module="para"><a target="_blank">同济大学</a></div>
<div class="para" label-module="para"><a target="_blank">江南大学</a></div>
<div class="para" label-module="para"><a target="_blank">南昌大学</a></div>
<div class="para" label-module="para"><a target="_blank">山东艺术学院</a></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub145322_7"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">戏剧学专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">主要到剧院(团)或<a target="_blank">电视台</a>、电影厂、编辑部以及文化管理机关等部门从事<a target="_blank">理论研究</a>、<a target="_blank">编审</a>与<a target="_blank">文化管理</a>等方面的工作，或到<a target="_blank">国家机关</a>、文教事业单位从事实际工作。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_145322"> </a>
</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-145322-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_145322" id="refIndex_1_145322" name="refIndex_1_145322" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">戏剧学专业解读与就业方向<span class="linkout"> </span></a>
<span class="site">．辽宁招生考试之窗</span><span>[引用日期2016-02-18]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>