<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>中国画专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para"><a target="_blank">中国画</a>艺术是人类美术史上历史悠久、文化积淀深厚并且有兼容并蓄和创造性的艺术精神、具有完整的高层次学术理论体系支持和人文追求的视觉艺术门类，<a target="_blank">中国画</a>的画材是最敏感的能真实纪录作者此时此地人格心态，同时也是最难驾驭的极具挑战性的画材。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_7919246"> </a>
</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
中国画专业
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
Chinese Painting
</dd>
<dt class="basicInfo-item name">代    码</dt>
<dd class="basicInfo-item value">
050429S
</dd>
<dt class="basicInfo-item name">相近专业</dt>
<dd class="basicInfo-item value">
绘画（050404）
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">开设学校</dt>
<dd class="basicInfo-item value">
中国美术学院、中央美术学院等
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
艺术学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年（本科）
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
艺术学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">专业概述</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">授课方式</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">培养目标</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">培养要求</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">知识能力</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">课程设置</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">就业方向</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">相近专业</a></span>
</li>
<li class="level1">
<span class="index">9</span>
<span class="text"><a href="#9">开设院校</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub7919246_1"></a>
<a class="lemma-anchor " name="专业概述"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">中国画专业</span>专业概述</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">中国画</a>属于<a data-lemmaid="6437" target="_blank">文学</a>大类，<a target="_blank">艺术学</a>。</div>
<div class="para" label-module="para">中国画还拥有人类中最大比率的实践者和接受者，同时拥有一个庞大的社会普及教育体系（画院专业授课、个体画师课徒、各类函授学校、电视教学等等），可以说从教育者、实践者到接受者，是世界上任何画种无法与之比肩的。而且近些年由于现代传媒的迅猛发展，中国画专业的高教信息（教学思想、方法、教材）已全面扩散到社会普及教学之中，使其教学质量与规模大幅度攀升，社会普及性的中国画教学，也为院校的中国画专业蓄备和提供了大量渴望深造的生源。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_7919246"> </a>
</div>
<div class="para" label-module="para">做为本土艺术，中国画的天然优势是客观存在的，在创作风格上继承了以形传神、形神兼备的艺术素描手法，善于用变化无穷的线条和浓浅不同的墨色来表现事物的质感与颜色，构图巧妙，用笔灵活，布墨考究，设色自然，即使在西方人眼中，中国画专业也是决定中国美术高教国际地位的重要学科，因此，各美术院校的中国画专业也是接收外国留学生最多的专业。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_7919246"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub7919246_2"></a>
<a class="lemma-anchor " name="授课方式"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">中国画专业</span>授课方式</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">中国画系的教学以中国画的基础理论和基础实践为本，传统课的核心是创造性地领悟中国意象美学的内涵；写生课的核心以体验中国艺术的创造精神为基础；创作课的核心是传承中国文化的精神，开拓人文美学的新境界。本科生以一二年级教学为基础课程学习，学习掌握传统绘画技法，体悟传统美学精神。三年级分别进入<a target="_blank">水墨人物画</a>、<a target="_blank">工笔人物画</a>、<a target="_blank">山水画</a>、<a target="_blank">花鸟画</a>四个专业方向学习（学生自愿选择专业方向）。四年级进入工作室，在工作室导师指导下进行学习。</div>
<div class="para" label-module="para">还特别注意其他画种和互补的综合训练，并结合教学，组织学生参加社会调查、业务实习等实践活动，强调中国传统文化素质的全面培养。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_7919246"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub7919246_3"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">中国画专业</span>培养目标</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业要培养德、智、体、美全面发展，具有高度美学鉴赏能力及传承传统文化能力的社会主义接班人。既有传统文化基础、传统艺术的修养，具有很高品格的审美精神和造型能力，能在文化艺术部门、学校及有关单位从事中国画人物、山水、花鸟、书法篆刻的创作、教学、研究和其它美术工作的、具有较强适应能力的德才兼备的高级专门人才。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_7919246"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub7919246_4"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">中国画专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业要求学生系统掌握中国画基本理论、基本知识和基本技能，具有中国画<a data-lemmaid="33388" target="_blank">人物</a>、<a data-lemmaid="31639" target="_blank">山水</a>、花鸟、<a target="_blank">书法篆刻</a>的传统技法以及实际工作能力和初步的科研能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_7919246"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub7919246_5"></a>
<a class="lemma-anchor " name="知识能力"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">中国画专业</span>知识能力</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">通过学习，可以具备以下几方面的能力：</div>
<div class="para" label-module="para">1．熟悉我国的文艺方针、政策；</div>
<div class="para" label-module="para">2．具有本专业的基础理论、基础知识，能较熟练地掌握中国画人物、山水、花鸟、书法篆刻的传统技法；</div>
<div class="para" label-module="para">3．了解中国画的历史传统和造型规律、艺术手法；</div>
<div class="para" label-module="para">4．具有较高的艺术修养、独立完成创作和教学的能力；</div>
<div class="para" label-module="para">5．有一定的实际工作能力和初步的科研能力；</div>
<div class="para" label-module="para">6．在掌握外语工具方面，应具有较强的阅读本专业书刊的能力，一定的听的能力，初步的写和说的能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_7919246"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub7919246_6"></a>
<a class="lemma-anchor " name="课程设置"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">中国画专业</span>课程设置</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">中外美术史</a>、<a data-lemmaid="741226" target="_blank">艺术概论</a>、<a data-lemmaid="3393338" target="_blank">美学概论</a>、<a data-lemmaid="719" target="_blank">素描</a>、<a data-lemmaid="1138" target="_blank">色彩</a>、<a data-lemmaid="2278" target="_blank">速写</a>、中国古典诗词、<a target="_blank">中国画论</a>、<a data-lemmaid="10927654" target="_blank">透视</a>、<a data-lemmaid="5004" target="_blank">解剖</a>、<a target="_blank">人物画</a>、<a target="_blank">山水画</a>、<a target="_blank">花鸟画</a>、<a target="_blank">书法篆刻</a>、<a target="_blank">篆书</a>、<a target="_blank">隶书</a>、<a target="_blank">楷书</a>、<a target="_blank">篆刻</a>、<a target="_blank">行草</a>、<a target="_blank">古代汉语</a>、<a target="_blank">中国书法史</a>等。<sup>[3]</sup><a class="sup-anchor" name="ref_[3]_7919246"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub7919246_7"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">中国画专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">毕业生适宜在<a target="_blank">美术创作</a>部门从事国画创作工作，在各级美术院校从事教学工作，各级<a target="_blank">艺术馆</a>、<a target="_blank">文化馆</a>(站)、从事美术创作或美术普及工作，在<a target="_blank">出版社</a>和报刊杂志社从事<a target="_blank">美术编辑</a>工作，也可在有关部门、厂矿企业从事有关宣传工作。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_7919246"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub7919246_8"></a>
<a class="lemma-anchor " name="相近专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">中国画专业</span>相近专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">美术学</a>（050406）、<a target="_blank">艺术学</a>(050422W)、<a target="_blank">书法学</a>(050425S)等。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_7919246"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="9"></a>
<a class="lemma-anchor " name="sub7919246_9"></a>
<a class="lemma-anchor " name="开设院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">中国画专业</span>开设院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="9"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">国内有40多所高等院校开设了<a target="_blank">中国画</a>专业：<a target="_blank">中央美术学院</a>（10047）、中国<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_7919246"> </a>
<a target="_blank">美术学院</a>（10355）、<a target="_blank">鲁迅美术学院</a>（10178）、<a target="_blank">四川美术学院</a>（10655）、<a target="_blank">广州美术学院</a>（10586）、<a target="_blank">天津美术学院</a>（10073）、<a target="_blank">西安美术学院</a>（10729）和<a target="_blank">湖北美术学院</a>（10523）等。<div class="lemma-picture text-pic layout-right" style="width:220px; float: right;">
<a class="image-link" nslog-type="9317" style="width:220px;height:170px;" target="_blank" title="">
<img alt="" class="lazy-img" data-src="http://h.hiphotos.baidu.com/baike/s%3D220/sign=0dbb6aceee50352ab561220a6342fb1a/77c6a7efce1b9d16cab2ff18f4deb48f8c546455.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF9fX1AAAA0VQI3QAAAAxJREFUeNpiYAAIMAAAAgABT21Z4QAAAABJRU5ErkJggg==" style="width:220px;height:170px;"/>
</a>
</div></div>
<div class="rs-container-foot">
<a name="rs-1"></a>
<a class="anchor-2" name="rs_7919246_15748"></a>
<div class="rslazy rs-container" id="rs-container-7919246-15748" lazy-init="lemmars.tableAction(baidu.g('rs-7919246-15748'))"></div>
</div><script type="text/javascript">
        window.rsInsertData = window['rsInsertData'] || [];
        var rsdataList = {"foot":[{"fentryTableId":15748,"fentryTableName":"\u4e8c\u7ea7\u5b66\u79d1\u00b7\u827a\u672f","fentryTableType":1,"entryId":2393484,"templateId":0,"entryTitle":"\u827a\u672f\u7c7b\u4e13\u4e1a","isManual":0,"isExpand":1}],"top":[]};

        if (rsdataList.top || rsdataList.foot) {
            rsInsertData.push([7919246, rsdataList]);
        }
    </script>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-7919246-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_7919246" id="refIndex_1_7919246" name="refIndex_1_7919246" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">中国画<span class="linkout"> </span></a>
<span class="site">．高考派</span><span>[引用日期2015-05-18]</span></li><li class="reference-item " id="reference-[2]-7919246-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_7919246" id="refIndex_2_7919246" name="refIndex_2_7919246" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">中国画专业——美术高考艺术类专业介绍<span class="linkout"> </span></a>
<span class="site">．素描网</span><span>．2015-06-17</span><span>[引用日期2016-02-5]</span></li><li class="reference-item " id="reference-[3]-7919246-wrap">
<span class="index">3.</span>
<a class="gotop anchor" href="#ref_[3]_7919246" id="refIndex_3_7919246" name="refIndex_3_7919246" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">中国画专业解读及开设课程<span class="linkout"> </span></a>
<span class="site">．新东方网</span><span>[引用日期2016-02-4]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>