<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>工艺美术专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">本专业培养生产、服务第一线从事<a target="_blank">工艺品设计</a>和制作、广告宣传、<a target="_blank">产品销售</a>、<a target="_blank">活动策划</a>、<a target="_blank">室内效果图</a>、室内平面布置图设计、<a target="_blank">装饰工程</a>场地管理工作、<a target="_blank">平面广告</a>制作与设计、首饰设计、珠宝广告设计、珠宝企事业形象设计的专门人才。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
工艺美术专业
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
130507
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
艺术学
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
艺术学学士
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">开设课程</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">专业简介</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">教学环节</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">培养要求</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">知识能力</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">就业前景</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub17718713_1"></a>
<a class="lemma-anchor " name="开设课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">工艺美术专业</span>开设课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">主要专业课程：中外美术通史、中外工艺美术通史，工艺美术概论、绘画基础、美学、专业写作、古汉语、中国文学史、考古学、博物馆学、中国工艺美术史、中国文化史、<a target="_blank">民俗学</a>、<a target="_blank">民族学</a>、<a data-lemmaid="250" target="_blank">管理学</a>等。实践环节：结合教学，组织学生参加社会调查、业务实习等实践活动。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub17718713_2"></a>
<a class="lemma-anchor " name="专业简介"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">工艺美术专业</span>专业简介</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">本专业是教育部特设的专业，开设此专业的院校较少，该专业以美学等文化为基础课程，培养具有工艺品创作能力的人才。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub17718713_3"></a>
<a class="lemma-anchor " name="教学环节"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">工艺美术专业</span>教学环节</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">包括课程实习、毕业实习等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub17718713_4"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">工艺美术专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">本专业要求学生系统掌握工艺美术基本理论、基本知识和基本技能，具有工艺品设计和制作、工艺品色彩搭配的基本能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub17718713_5"></a>
<a class="lemma-anchor " name="知识能力"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">工艺美术专业</span>知识能力</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">熟悉我国的文艺方针、政策；2.具有本专业的基础理论、基础知识；3.了解工艺美术的<a target="_blank">前沿技术</a>；4.具有较高的<a target="_blank">艺术修养</a>、独立完成创作和教学的能力；5.有一定的实际工作能力和初步的科研能力；6.在掌握外语工具方面，应具有较强的阅读本专业书刊的能力，一定的听的能力，初步的写和说的能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub17718713_6"></a>
<a class="lemma-anchor " name="就业前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">工艺美术专业</span>就业前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">本专业的就业前景不错，<a target="_blank">就业率</a>较高。毕业生主要就业方向<a target="_blank">广告业</a>、<a data-lemmaid="9887019" target="_blank">商场</a>、<a target="_blank">印刷业</a>、<a target="_blank">影楼</a>、<a target="_blank">房地产</a>行业中楼盘的整体设计策划、设计和制作、营销；工艺品设计和制作、工艺品色彩搭配等工作。</div>

<div class="clear"></div>
</div>