<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>服装与服饰设计专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">培养具备<a data-lemmaid="6095" target="_blank">服装设计</a>、<a target="_blank">服装结构</a>工艺及服装经营管理理论知识和实践能力，能在服装生产和销售企业、服装研究单位、服装行业管理部门及新闻出版机构等从事服装产品开发、市场营销、经营管理、服装理论研究及宣传评论等方面工作的高级专门人才。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
<a target="_blank">服装与服饰设计专业</a>
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
Neal yiyi
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
<a target="_blank">艺术学</a>
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
130505
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
艺术学学士
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-1">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">主干课程</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">发展前景</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub14525049_1"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">服装与服饰设计专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><b>服装艺术设计方向</b></div>
<div class="para" label-module="para">中西服装史、服装<a data-lemmaid="2054" target="_blank">立体构成</a>、设计概论、服装画手绘技法、服饰图案、<a data-lemmaid="6872148" target="_blank">服装结构</a>原理、女装结构设计、男装结构设计、品牌设计与开发、<a data-lemmaid="1390764" target="_blank">服装CAD</a>、服装市场营销、<a data-lemmaid="3404527" target="_blank">服装定制</a>设计、服装展示设计等。</div>
<div class="para" label-module="para"><b>服装配饰设计方向</b></div>
<div class="para" label-module="para">中西服装史、服饰设计流程、配饰效果图手绘技法、计算机辅助配饰设计效果、配饰材料与应用、配饰<a data-lemmaid="1050844" target="_blank">造型设计</a>、配饰结构设计、配饰搭配技巧、纤维艺术设计、配饰制作、配饰展示设计、配饰创意设计等。</div>
<div class="para" label-module="para"><b>服装表演与形象设计方向</b></div>
<div class="para" label-module="para">中西服装史、服装造型设计、<a target="_blank">形象色彩学</a>、形体塑造、舞蹈基础、服装表演技巧、服装表演综合表达、<a target="_blank">化妆造型基础</a>、<a data-lemmaid="6434" target="_blank">发型设计</a>、镜前训练与时装摄影、<a data-lemmaid="10769147" target="_blank">人物造型设计</a>、服装表演编导与策划等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub14525049_2"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">服装与服饰设计专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><b>服装艺术设计方向</b></div>
<div class="para" label-module="para">服装艺术设计方向培养具有完备的服装和服饰设计理论知识，以艺术审美与社会需求为参照，善于借鉴我国传统服饰文化、掌握和利用现代国内外服装信息，有较高的设计水平和较强的工艺制作能力。毕业后能在相关企业、媒体、学校、科研机构从事服饰文化研究、服饰设计、服装营销及管理、时尚编辑等工作的高水平应用型人才。</div>
<div class="para" label-module="para"><b>服装配饰设计方向</b></div>
<div class="para" label-module="para">服装配饰设计方向培养能够系统掌握服饰文化理论和服饰设计原理，充分了解国内外配饰领域的最新潮流、科技、工艺等知识的高素质人才。并引导学生注重文化修养与设计、技术水平同步提高。毕业后能够在相关企业、学校、科研机构从事配饰设计、整体形象设计、服饰文化研究、配饰营销及管理、时尚编辑等工作的高水平应用型人才。</div>
<div class="para" label-module="para"><b>服装表演与形象设计方向</b></div>
<div class="para" label-module="para">服装表演与形象设计方向通过系统的理论教学及实践训练，培养理论基础扎实、设计表演能力较强的高素质应用型人才。<a target="_blank">服装表演</a>及形象设计专业人才能够从事<a data-lemmaid="3351281" target="_blank">时装表演</a>、影视人物形象、<a target="_blank">公众人物</a>形象、时尚形象设计等方面的工作;也可自主创业从事有创造力并专业性极强的主题式工作。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_14525049"> </a>
</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-14525049-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_14525049" id="refIndex_1_14525049" name="refIndex_1_14525049" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">服装与服饰设计专业解读及就业方向<span class="linkout"> </span></a>
<span class="site">．辽宁招生考试之窗</span><span>．2014-04-23</span><span>[引用日期2016-02-18]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>