<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>投资学专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para"><a target="_blank">投资学</a>研究如何把个人、机构的有限资源分配到诸如股票、<a target="_blank">国债</a>、<a target="_blank">不动产</a>等（金融）资产上，以获得合理的<a target="_blank">现金流量</a>和风险/<a target="_blank">收益率</a>。其核心就是以效用最大化准则为指导，获得个人财富配置的最优均衡解。</div><div class="para" label-module="para">作为一门学问，投资学就是对投资进行系统研究，从而更科学地进行<a target="_blank">投资活动</a>。投资学主要包括证券投资、国际投资、企业投资等几个研究领域。投资学专业旨在培养具备当代世界政治、经济视野，了解中国投资政策，能够在银行、证券公司、保险公司、投资公司、<a target="_blank">投资咨询</a>公司、资产管理公司、基金管理公司及信托公司等金融机构从事投资管理、投资咨询工作的高素质的投资专门人才，以及到各类企事业单位、政府部门以及教学科研单位从事投资管理及相关业务的应用性人才。<a target="_blank">投资学</a>不仅要学习经济学的基础知识，更要有扎实的专业知识基础做后盾。既要熟悉宏观的投资政策背景，又要精通各种投资的微观技巧。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
投资学专业
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
Investment Principles
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
020304
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
经济学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
经济学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养目标</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">知识技能</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主要课程</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">实践环节</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">相近专业</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">就业方向</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">分布院校</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub3895096_1"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">投资学专业</span>培养目标</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业具有融实务投资、<a target="_blank">金融投资</a>和<a target="_blank">人力资本投资</a>于一体，微观与宏观相结合，国内与国际相交叉，财经管理、法律和理工知识相渗透，重点培养学生从事各类<a target="_blank">投资活动</a>的决策和管理能力等特点。</div>
<div class="para" label-module="para">要求学生有扎实的<a target="_blank">投资学</a>专业基础理论知识，具有较宽的专业知识面，掌握财经、法律、管理的基本知识和技能，具备定性分析和定量分析及外国语言阅读交流的基本能力。</div>
<div class="para" label-module="para">熟悉国家有关投资的方针、政策和法规，了解国内外本学科的理论前沿和发展动态，具有处理固定资产投资、金融资产投资；国际投资、<a target="_blank">政府投资</a>、<a target="_blank">企业投资</a>、宏观<a target="_blank">投资调控</a>等方面业务技能，能在各类企业、经济组织、国家机关以及教学、科研机构从事相关工作的<a target="_blank">高级</a>专门人才。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub3895096_2"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">投资学专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1．系统掌握<a target="_blank">投资学</a>的基本理论和基本知识，通晓与投资学专业密切相关的管理学、经济学、法学等学科的基本知识；</div>
<div class="para" label-module="para">2．掌握社会科学和自然科学相结合、定性与定量相结合的分析方法，具有处理金融投资、<a target="_blank">风险投资</a>、国际投资、<a target="_blank">政府投资</a>、<a target="_blank">企业投资</a>、投资宏观调控等方面的业务技能；</div>
<div class="para" label-module="para">3．能将投资学的基本理论和方法应用于实践，具有较强的投资组织与决策能力和创新精神；</div>
<div class="para" label-module="para">4．熟悉国家有关投资的方针、政策和法规，了解国内外本学科的理论前沿和发展动态；</div>
<div class="para" label-module="para">5．具有较强的外语听说读写能力，能熟练地查阅外文文献，具有一定的外语交际能力；</div>
<div class="para" label-module="para">6．具有较强的语言与文字表达能力，能胜任专业论文、各类应用文体的写作以及较强的商务谈判能力；</div>
<div class="para" label-module="para">7．具有较强的计算机应用能力和获取信息并处理信息的能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub3895096_3"></a>
<a class="lemma-anchor " name="主要课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">投资学专业</span>主要课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">政治经济学、<a target="_blank">西方经济学</a>、计量经济学、货币银行学、<a target="_blank">财政学</a>、会计学、<a target="_blank">投资学</a>、国际投资、跨国公司经营与案例分析、公共投资学、创业投资、<a target="_blank">投资项目评估</a>、<a target="_blank">证券投资学</a>、投资基金管理、投资银行学、公司投资与案例分析、项目融资、投资估算、投资项目管理、房地产金融、家庭投资理财、投资<a target="_blank">管理信息系统</a>，以及实训课程模拟投资运作等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub3895096_4"></a>
<a class="lemma-anchor " name="实践环节"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">投资学专业</span>实践环节</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">学生在学校除了要学经济学的基础课程，还将学习证券投资、<a target="_blank">风险投资</a>等课程。其实践教学环节包括：暑期社会实践、专业模拟实习、创新实践训练、创业就业教育、学年论文、毕业实习、毕业论文等。其中，专业模拟实习是非常关键的一环，一般包括证券<a target="_blank">投资业务</a>实习、期货与期权投资业务实习、<a target="_blank">基金投资</a>和<a target="_blank">理财规划</a>业务实习、上市公司投资价值调查与分析，上市公司财务状况的调查分析，上市公司的技术、管理及行业地位分析，上市公司经营情况与行业前景调查分析，国际投资中的有关实际案例的调查与分析等。为了加强实践能力，有些院校还建议学生在课余时间亲身体验股票市场投资操作的过程，并撰写<a target="_blank">投资分析报告</a>。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub3895096_5"></a>
<a class="lemma-anchor " name="相近专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">投资学专业</span>相近专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">经济学（020101）、金融学（020104）、国际金融学、<a target="_blank">财政学</a>（020103）、<a target="_blank">金融工程</a>（020109W）、统计学（071601）、保险（020107W）、税务（020110W）等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub3895096_6"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">投资学专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">开设<a target="_blank">投资学</a>专业的高等院校比较少，且这些院校往往都是一些实力雄厚的名牌大学，因此毕业生有比较强的竞争力。而投资学专业的毕业生需求较大，这无疑为投资学专业毕业生的就业增加了不少砝码。</div>
<div class="para" label-module="para">一般来说，投资学专业的毕业生主要有以下几个去向：第一，到证券、信托投资公司和投资银行从事证券投资，如投资公司、上市公司、证券公司、信托公司、风险投资公司、商业银行、保险公司等；第二，到一些社会的投资中介机构、咨询公司、财务公司、基金公司、资产管理公司、金融控股公司、房地产公司等，参与操作、协助决策或给予专业建议；第三，到企业的投资部门从事企业投资工作；第四，到各大企业的财会或审计部门，税务部门，参与企业的投资策划与决策、财富理财、风险管理与控制工作；第五，到政府相关部门从事有关投资的政策制定和政策管理，或者是到事业单位，如会计师事务所及税务师事务所等税务代理机构、政府财税部门，从事行政管理和建议工作；第六，到高校、科研部门从事教学、科研工作。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub3895096_7"></a>
<a class="lemma-anchor " name="分布院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">投资学专业</span>分布院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">截止目前，全国共有20所左右开办<a target="_blank">投资学</a>专业，分别是<a target="_blank">南京农业大学</a>、<a target="_blank">山西财经大学</a>、<a target="_blank">山东财经大学</a>、<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_3895096"> </a>
<a target="_blank">中南财经政法大学</a>、<a target="_blank">中央财经大学</a>、<a target="_blank">浙江财经大学</a>、<a target="_blank">浙江工商大学</a>、<a target="_blank">上海财经大学</a>、<a target="_blank">上海师范大学</a>、<a target="_blank">江西财经大学</a>、<a target="_blank">西南财经大学</a>、<a target="_blank">对外经济贸易大学</a>、<a target="_blank">河南财经政法大学</a>、<a target="_blank">贵州财经大学</a>、<a target="_blank">广西财经学院</a>、<a target="_blank">广东财经大学</a>、四川农业大学、广东工业大学、仲恺农业工程技术学院、集美大学、哈尔滨商业大学、哈尔滨金融学院、安徽财经大学、安徽师范大学、湖北经济学院、湖南商学院、湖南农业大学、河北金融学院，重庆工商大学、兰州商学院、西安财经学院、仲恺农业工程学院、铜陵学院、怀化学院、内蒙古财经大学、西南民族大学、西安欧亚学院福建江夏学院、南京审计学院，四川大学锦城学院、广东科技学院、厦门理工学院、吉林大学珠海学院、武昌理工学院。</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-3895096-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_3895096" id="refIndex_1_3895096" name="refIndex_1_3895096" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">山东财经大学投资学专业<span class="linkout"> </span></a>
<span class="site">．山东财经大学官网</span><span>[引用日期2015-06-1]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>