<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>政治学与行政学专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">政治学与行政学专业培养具有一定马克思主义理论素养和政治学、行政学方面的基本理论和专门知识，能在党政机关、新闻出版机构、企事业和社会团体等单位从事教学科研、行政管理等方面工作的政治学和行政学高级专门人才。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
政治学与行政学专业
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
Political science and Administration
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
法学或哲学学士
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name"><a target="_blank">一级学科</a></dt>
<dd class="basicInfo-item value">
<a target="_blank">法学</a>
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
030201
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">专业概述</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">培养要求</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干课程</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">其他信息</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">开设院校</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">发展前景</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub74709_1"></a>
<a class="lemma-anchor " name="专业概述"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">政治学与行政学专业</span>专业概述</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">政治学与行政学</a>是近代从西方传到中国来的一门学问，属于社会科学。政治学以国家及其活动为主要研究对象，范围涉及政治理论、政治制度、公共政策、公共行政和国际政治等领域国内高校的法学院一般都设有政治学系或政治学和行政管理学系。年轻人刚进入大学，从什么地方了解政治？通过系统专业的学习，政治学系的学生会对政治发展脉络有个大致的了解，形成个人的见解，所谓“指点江山，激扬文字”。政治学与行政学专业的学生要学习线性代数和微积分，在掌握这些基本的工具后，进一步学习社会调查和社会统计，并通过实习锻炼自己。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub74709_2"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">政治学与行政学专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">本专业学生主要学习政治学、行政学、国际政治学和法学等方面的基础理论和基本知识，受到政治学研究、<a target="_blank">公共政策分析</a>、社会调查与统计等方面的基本训练，掌握调查研究、分析判断和协调组织等方面的基本能力。</div>
<div class="para" label-module="para">毕业生应获得以下几方面的知识和能力：</div>
<div class="para" label-module="para">1.掌握<a target="_blank">马克思主义基本原理</a>和政治学、行政学、国际政治学和法学的基本理论知识；</div>
<div class="para" label-module="para">2.掌握<a target="_blank">辩证唯物主义</a>和<a target="_blank">历史唯物主义</a>的基本观点和分析方法，以及系统分析、统计分析、调查分析等科学方法或技术；</div>
<div class="para" label-module="para">3.具有在党政机关、社会团体、新闻出版机构、教育及其他企事业单位从事科研、教学、行政管理以及其他有关专门业务工作的基本能力；</div>
<div class="para" label-module="para">4.了解有关政治体制、决策过程以及党政管理法律、制度、方针、政策；</div>
<div class="para" label-module="para">5.了解政治学及行政学、法学、国际政治学和管理科学等相关学科的发展动态；</div>
<div class="para" label-module="para">6.掌握文献检索和资料查询的基本方法和手段，具有一定的科学研究和实际工作能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub74709_3"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">政治学与行政学专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">主干学科：政治学</div>
<div class="para" label-module="para">主要课程：政治学原理、行政学概论、中国政治制度史、当代中国政治制度、<a target="_blank">比较政治制度</a>、中国政治思想史、<a target="_blank">当代西方政治思潮</a>、中国社会政治分析、比较政党制度、市政学、公共政策概论、行政法学、人事行政学、社会调查与社会统计等</div>
<div class="para" label-module="para">主要实践性教学环节：包括社会调查、参与课题研究、教学实习等，一般安排8周。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub74709_4"></a>
<a class="lemma-anchor " name="其他信息"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">政治学与行政学专业</span>其他信息</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">修业年限：四年</div>
<div class="para" label-module="para">授予学位：法学或哲学学士</div>
<div class="para" label-module="para">相近专业：国际政治、行政管理</div>
<div class="para" label-module="para">目前国内一流水平此专业开设院校有：<a target="_blank">中山大学</a>、<a target="_blank">厦门大学</a>、<a target="_blank">山东大学</a>、<a target="_blank">西南大学</a>、<a target="_blank">东南大学</a>、<a target="_blank">吉林大学</a>、<a target="_blank">北京大学</a>、<a target="_blank">中国人民大学</a>、<a target="_blank">中国政法大学</a>、<a target="_blank">复旦大学</a>、<a target="_blank">天津师范大学</a>、<a data-lemmaid="134521" target="_blank">南开大学</a>、<a target="_blank">同济大学</a>等</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub74709_5"></a>
<a class="lemma-anchor " name="开设院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">政治学与行政学专业</span>开设院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">哈尔滨工程大学</a>、<b><a target="_blank">井冈山大学</a></b><a target="_blank">复旦大学</a> <a target="_blank">兰州大学</a><a data-lemmaid="5672" target="_blank">中山大学</a> <a target="_blank">武汉大学</a><a target="_blank">中国人民大学</a> <a target="_blank">中国青年政治学院</a><a target="_blank">厦门大学</a><a target="_blank">南京大学</a><a target="_blank">中国政法大学</a> <a data-lemmaid="134521" target="_blank">南开大学</a> <a target="_blank">浙江大学</a><a target="_blank">山东大学</a> <a target="_blank">吉林大学</a> <a target="_blank">山东财政学院</a><a target="_blank">山东工商学院</a><a target="_blank">西安科技大学</a><a target="_blank">同济大学</a> <a target="_blank">福建师范大学</a></div>
<div class="para" label-module="para"><a target="_blank">湖南大学</a><a target="_blank">中央民族大学</a><a target="_blank">广西民族大学</a><a target="_blank">同济大学</a> <a target="_blank">新疆大学</a><a target="_blank">安徽大学</a><a target="_blank">安徽师范大学</a><a target="_blank">东南大学</a> <a target="_blank">内蒙古大学</a><a target="_blank">华东师范大学</a><a target="_blank">华南理工大学</a><a target="_blank">南京航空航天大学</a></div>
<div class="para" label-module="para"><a target="_blank">河北师范大学</a><a target="_blank">河北大学</a><a target="_blank">燕山大学</a><a target="_blank">中国海洋大学</a><a target="_blank">云南大学</a><a target="_blank">西南交通大学</a><a target="_blank">华中科技大学</a><a target="_blank">武汉科技大学</a><a target="_blank">延边大学</a>大 连海事大 学<a target="_blank">宁波大学</a><a target="_blank">西南科技大学</a><a target="_blank">西华师范大学</a><a target="_blank">长春大学</a><a target="_blank">辽宁石油化工大学</a></div>
<div class="para" label-module="para"><a target="_blank">华东政法大学</a><a target="_blank">西安交通大学</a><a target="_blank">延安大学</a><a target="_blank">东北林业大学</a><a target="_blank">华中师范大学</a><a target="_blank">青岛大学</a><a target="_blank">首都师范大学</a><a target="_blank">贵州大学</a><a target="_blank">上海政法学院</a><a target="_blank">徐州师范大学</a><a target="_blank">长江师范学院</a><a target="_blank">红河学院</a></div>
<div class="para" label-module="para"><a target="_blank">西北政法大学</a><a target="_blank">湘潭大学</a><a target="_blank">广东海洋大学</a><a target="_blank">齐齐哈尔大学</a><a target="_blank">黑龙江八一农垦大学</a><a target="_blank">石河子大学</a>三明学院</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub74709_6"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">政治学与行政学专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">毕业生可以到党政机关、社会团体、新闻出版机构、教育及其他企事业单位从事科研、教学、行政管理以及其他有关专门业务工作。</div>

<div class="clear"></div>
</div>