<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>中国共产党历史专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">中国共产党历史专业发展了近六十年成为在全国同类学科中处于领先地位、并在国内外学界享有良好声誉和一定影响力的优势和特色学科。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
中国共产党历史
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
History of the Communist Party of China
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
030502
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
法学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
法学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">设置背景</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">主干学科</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干课程</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">实践教学</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">相近专业</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">知识技能</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">开设院校</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub17691184_1"></a>
<a class="lemma-anchor " name="设置背景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">中国共产党历史专业</span>设置背景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">中国共产党历史专业培养能从事<a target="_blank">中国革命史</a>、中国共产党党史教学与研究工作以及理论宣传、党务工作的高级专门人才。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_17691184"> </a>
</div>
<div class="para" label-module="para">学生主要学习中国革命史、中国共产党历史的基本理论和基本知识，受到运用马克思主义的立场、观点和方法分析、认识中国革命的历史经验的基本训练。</div>
<div class="para" label-module="para">修业年限：四年</div>
<div class="para" label-module="para">授予学位：法学</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub17691184_2"></a>
<a class="lemma-anchor " name="主干学科"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">中国共产党历史专业</span>主干学科</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">中国共产党历史、中国共产党建设的理论与实践</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub17691184_3"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">中国共产党历史专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">马克思主义哲学原理、马克思主义政治经济学概论、科学社会主义理论与实践、毛泽东思想概论、中国特色社会主义理论体系概论、政治学概论、史学概论、中国近代史、中共党史、中国近现代政治思想史、政党学、党的建设理论与实践、党务管理、当代中国政府与政治、当代中国社会思潮、当代中国社会问题、世界近现代史、统一战线理论与实践、国家公务员制度、中共党史文献选读、马克思主义经典著作选读、海外中共党史研究等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub17691184_4"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">中国共产党历史专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">社会调查、业务实习等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub17691184_5"></a>
<a class="lemma-anchor " name="相近专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">中国共产党历史专业</span>相近专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">政治学与行政学、思想政治教育、科学社会主义</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub17691184_6"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">中国共产党历史专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><b>中国共产党历史毕业生具备的专业知识与能力</b></div>
<div class="para" label-module="para">掌握马克思主义的基本原理，全面理解中国共产党领导下的中国人民进行新民主主义革命、社会主义革命和建设的历程和经验；了解毛泽东思想的形成和发展及其基本内容； 2.掌握科学的分析方法； 3.了解党的建设理论和党的纲领、路线、方针、政策；能运用<a target="_blank">马克思主义</a>的立场、观点和方法理论联系实际地分析和研究党的建设中的有关问题；能理论联系实际地运用马克思主义的立场、观点和方法研究中国革命的经验教训； 4.掌握文献检索、资料查询的基本方法，具有一定的科学研究和实际工作能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub17691184_7"></a>
<a class="lemma-anchor " name="开设院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">中国共产党历史专业</span>开设院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">中国人民大学</a>（1956），<a target="_blank">湘潭大学</a>（1978），<a target="_blank">广西民族大学</a>（1978），<a target="_blank">延安大学</a>（2005），<a target="_blank">井冈山大学</a>（2011）</div>
<div class="para" label-module="para"><b>补充：</b>武汉大学曾在1960-1962年招收两届中共党史专业本科生。</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-17691184-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_17691184" id="refIndex_1_17691184" name="refIndex_1_17691184" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">中国共产党历史(本科类) <span class="linkout"> </span></a>
<span class="site">．阳光高考</span><span>[引用日期2016-02-27]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>