<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>运动人体科学专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">运动人体科学学科为国家级重点学科，培养从事体育科技教练、运动营养与运动伤害防护师、体育科学研究人员，全民健身指导及研究人员、运动人体科学专业的师资以及其他相关专业技术工作的专门人才。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_335901"> </a>
</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
运动人体科学
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
教育学学士
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
040205
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
教育学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-1">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">设置背景</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">知识技能</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干课程</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">发展前景</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">开设院校</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub335901_1"></a>
<a class="lemma-anchor " name="设置背景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">运动人体科学专业</span>设置背景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">运动人体科学专业培养具备运动人体科学理论和实验研究能力，能在中等以上学校、体育科研机构、运动训练基地和保健康复等部门，从事运动人体科学方面的教学、科研、竞技运动和康复指导的高级专门人才。</div>
<div class="para" label-module="para">学生主要学习运动人体科学方面的基本理论和基本知识，受到专业实验技能方面的基本训练，掌握教学和科学研究方面的基本能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub335901_2"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">运动人体科学专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1.掌握生物科学、临床医学和体育学的基本理论、基本知识； 2.掌握运动员身体机能诊断与评价、体育保健与康复的分析方法； 3.具有从事运动人体科学教学、研究和实验操作的基本能力； 4.熟悉党和国家有关体育事业、科学研究、社会发展的方针、政策和法规； 5.了解本专业及相关学科的发展动态和理论前沿； 6.掌握文献检索、资料查询的基本方法，具有一定的科学研究和实际工作能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub335901_3"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">运动人体科学专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a data-lemmaid="784408" target="_blank">教育学</a>、<a data-lemmaid="1182" target="_blank">高等数学</a>、<a data-lemmaid="2104626" target="_blank">基础化学</a>、<a target="_blank">物理学</a>、人体解剖与运动解剖学、人体生理与运动生理学、生物化学与运动生物化学、运动生物力学、运动保健学、运动康复学、医务监督、临床医学基础、中医养生康复学、计算机应用、外语、体育（田径、体操、球类等）。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_335901"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub335901_4"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">运动人体科学专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">各级各类教学单位、训练基地、体育科研机构、医药卫生、保健康复部门。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_335901"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub335901_5"></a>
<a class="lemma-anchor " name="开设院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">运动人体科学专业</span>开设院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">院校名称 所在地 类型 院校性质 <br/>　　<a target="_blank">大连大学</a> 辽宁 综合 公办 <br/>　　<a target="_blank">北京体育大学</a> 北京 体育 公办 <br/>　　<a target="_blank">河南师范大学</a> 河南 师范 公办 <br/>　　<a target="_blank">山东中医药大学</a> 山东 医药 公办 <br/>　　<a target="_blank">温州医科大学</a> 浙江 医药 公办 <br/>　　<a target="_blank">泰山医学院</a> 山东 医药 公办 <br/>　　<a target="_blank">武汉体育学院</a> 湖北 体育 公办 <br/>　　<a target="_blank">上海体育学院</a> 上海 体育 公办 <br/>　　<a target="_blank">长治医学院</a> 山西 医药 公办 <br/>　　<a target="_blank">成都体育学院</a> 四川 体育 公办 <br/>　　天津体育学院 天津 体育 公办 <br/>　　广州体育学院 广东 体育 公办 <br/>　　首都体育学院 北京 体育 公办 <br/>　　西安体育学院 陕西 体育 公办 <br/>　　昆明医科大学海源学院 云南 医药 民办 <br/>　　沈阳体育学院 辽宁 体育 公办 <br/>　　哈尔滨体育学院 黑龙江 体育 公办 <br/>　　南京体育学院 江苏 体育 公办 <br/>　　河北体育学院 河北 体育 公办 <br/>　　吉林体育学院 吉林 体育 公办 <br/>　　武汉体育学院体育科技学院 湖北 体育 民办</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-335901-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_335901" id="refIndex_1_335901" name="refIndex_1_335901" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">运动人体科学(本科类) <span class="linkout"> </span></a>
<span class="site">．阳光高考</span><span>[引用日期2016-02-27]</span></li><li class="reference-item " id="reference-[2]-335901-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_335901" id="refIndex_2_335901" name="refIndex_2_335901" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">运动人体科学(本科类)<span class="linkout"> </span></a>
<span class="site">．北京体育大学</span><span>[引用日期2016-02-18]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>