<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>社会体育指导与管理专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">社会体育指导与管理专业培养具有社会体育的基本理论、知识与技能，能在社会体育领域从事群众性体育活动的组织管理、咨询指导、经营开发以及教学科研等方面工作的高级管理人才。</div><div class="para" label-module="para">社会体育是指职工、农民和街道居民自愿参加的，以身体运动为基本手段，以增进身心健康为主要目的社会体育活动。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
社会体育指导与管理专业
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
040203
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
教育学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
教育学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养要求</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">核心能力</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干课程</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">实践教学</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">就业前景</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">开设学院</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub14524866_1"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">社会体育指导与管理专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业学生主要学习社会体育方面的基础理论和基本知识，受到从事社会体育工作的基本训练，掌握群众体育活动组织管理、咨询指导、经营开发和教学科研等方面的基本能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub14524866_2"></a>
<a class="lemma-anchor " name="核心能力"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">社会体育指导与管理专业</span>核心能力</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1.掌握社会体育相关学科的基本理论、基本知识； 2.掌握指导大众体育、养生健身、休闲娱乐及特殊人群体育的运动技术； 3.具有从事群众性体育活动的组织管理、咨询指导、经营开发及教学等方面的基本能力； 4.熟悉党和国家有关体育事业的方针、政策、法规； 5.了解国内外在社会体育方面的学术发展动态； 6.掌握文献检索、资料查询的基本方法，具有一定的科学研究和实际工作能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub14524866_3"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">社会体育指导与管理专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">运动生理学、运动心理学、运动保健、社会体育概论、社会体育管理、体育健身概论、中华体育养生等<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_14524866"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub14524866_4"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">社会体育指导与管理专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">主要实践性教学环节：包括社会调查、实习、毕业论文等，至少应安排20周以上。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub14524866_5"></a>
<a class="lemma-anchor " name="就业前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">社会体育指导与管理专业</span>就业前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">社会体育指导与管理专业就业前景比较狭窄，毕业生一般从事健身教练、理疗师等工作。社会体育是指职工、农民和街道居民自愿参加的，以身体运动为基本手段，以增进身心健康为主要目的社会体育活动。社会体育专业学生主要学习会体育方面的基础理论和基本知识，受到从事社会体育工作的基本训练，掌握群众体育活动组织管理、咨询指导、经营开发和教学科研等方面的基本能力。社会体育指导与管理专业学生毕业后主要担任销售代表、销售经理、初中体育教师、物流监管员、电话销售、小学体育教师、业务代表、客户经理、管理培训生、储备干部、医学检验业务代表、特检业务代表等岗位。社会体育指导与管理专业就业岗位最多的地区是广州。薪酬最高的地区是南昌。社会体育指导与管理专业在专业学科中属于教育学类中的体育学类，其中体育学类共6个专业，社会体育专业在体育学类专业中排名第2，在整个教育学大类中排名第10位。</div>
<div class="para" label-module="para">据统计，社会体育指导与管理专业就业前景最好的地区有：1、广州、2、杭州、3、北京、4、上海、5、武汉、6深圳、7、东莞、8、佛州、9、朝阳、10、宁波，平均薪酬在4229元。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_14524866"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub14524866_6"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">社会体育指导与管理专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">北京体育大学、华南师范大学、上海体育学院、南京体育学院、武汉体育学院、广州体育学院、沈阳体育学院等 山东体育学院 北京化工大学 广东海洋大学、成都理工大学</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-14524866-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_14524866" id="refIndex_1_14524866" name="refIndex_1_14524866" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">2015高考：最难就业本科专业—社会体育指导与管理<span class="linkout"> </span></a>
<span class="site">．中国教育在线</span><span>．2014-10-15</span><span>[引用日期2016-02-23]</span></li><li class="reference-item " id="reference-[2]-14524866-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_14524866" id="refIndex_2_14524866" name="refIndex_2_14524866" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">社会体育指导与管理专业就业方向与就业前景分析<span class="linkout"> </span></a>
<span class="site">．大学生必备网</span><span>．2014-11-6 </span><span>[引用日期2016-02-23]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>