<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>波斯语专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para"><a target="_blank">波斯语</a>专业主要培养高等和中等学校进行教学和教学研究的教师及其他教育工作者。毕业生获得的知识和能力与上列相近，主干学科、修业年限和授予学位均同上。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
波斯语专业
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
Persian Language
</dd>
<dt class="basicInfo-item name">语    系</dt>
<dd class="basicInfo-item value">
印欧语系印度-伊朗语
</dd>
<dt class="basicInfo-item name">使用国家</dt>
<dd class="basicInfo-item value">
伊朗、阿富汗和塔吉克斯坦
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
050208
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
文学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
文学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养目标</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">培养要求</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干课程</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">开设院校</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">开设背景</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">发展前景</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub336069_1"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">波斯语专业</span>培养目标</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">本专业培养具有扎实的相应语语言基础比较广泛的科学文化知识，能在外事、经贸、文化、新闻出版、教育、科研、旅游等部门从事翻译、研究、教学、管理工作的相应语言高级专门人才。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub336069_2"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">波斯语专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">本专业学生主要学习相应语语言、文学、历史、政治、经济、外交、社会文化等方面的基本理论和基本知识，受到相应语听、说、读、写、译等方面的良好的熟巧训练，掌握一定的科研方法，具有从事翻译、研究、教学、管理工作的业务水平及较好的素质和较强的能力。</div>
<div class="para" label-module="para">毕业生应获得以下几方面的知识和能力：</div>
<div class="para" label-module="para">1.了解我国有关的方针、政策、法规；</div>
<div class="para" label-module="para">2.掌握语言学、文学及相关人文和科技方面的基础知识；</div>
<div class="para" label-module="para">3.具有扎实的相应语言基础和较熟练的听、说、读、写、译能力；</div>
<div class="para" label-module="para">4.了解我国国情和相应国家的社会和文化；</div>
<div class="para" label-module="para">5.具有较好的汉语表达能力和基本调研能力；</div>
<div class="para" label-module="para">6.具有第二外国语的一定的实际应用能力；</div>
<div class="para" label-module="para">7.掌握文献检索、资料查询的基本方法，具有初步科学研究和实际工作能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_336069"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub336069_3"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">波斯语专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">主干学科：外国语言文学</div>
<div class="para" label-module="para">主要课程：基础相应语、高级相应语、报刊选读、视听、口语、相应语写作、翻译理论与实践、语言理论、语言学概论、主要相应语国家文学史及文学作品选读、主要相应国家国情等</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub336069_4"></a>
<a class="lemma-anchor " name="开设院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">波斯语专业</span>开设院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">北京大学</div>
<div class="para" label-module="para">北京外国语大学</div>
<div class="para" label-module="para">上海外国语大学</div>
<div class="para" label-module="para">对外经济贸易大学（经贸方向）</div>
<div class="para" label-module="para">西安外国语大学</div>
<div class="para" label-module="para">中国传媒大学</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub336069_5"></a>
<a class="lemma-anchor " name="开设背景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">波斯语专业</span>开设背景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">高校波斯语专业教学在我国最早大致是五十年代开始，为的是同阿富汗、伊朗等国加强联络（外交往往是起因）。当时北京大学开设了波斯语班，由经苏联来到中国的（似乎也是在苏联学习生活的，红色革命么）伊朗专家担任外教。由于没有一手的教材和直接语言交流，经由俄语作为辅助教学语言来进行教学，担任俄语翻译的就是后来我国波斯语/伊朗学学术界闻名的张鸿年教授（本身是俄语专业，后在伊朗外教的启发下开始钻研波斯语，为我国著名波斯语著作翻译家，译作丰富）。后来几位被派往阿富汗、伊朗等国学成归国的学者也加入了北大波斯语专业教师队伍，其中就有我国著名的波斯语教学/伊朗学研究专家叶奕良和曾延生。可以说，张老师、叶老师和曾老师是老一辈的波斯语学界代表人物，张鸿年擅长翻译文学作品，叶奕良在伊朗学研究方面非常有建树，曾延生的专长是编纂词典和教材（两大本词典和部分教材的主编都是曾老师）。</div>
<div class="para" label-module="para">起初招生规模较少，教材亦很缺，老师学生们自己动手，编写了词典（也是两大本词典的前身）。培养的学生大多进入外交部、国际广播电台等部位或国家单位，有些长期驻外工作（国际广播电台的波斯语部也是约三四十年前建立起来的）。我国前驻伊朗、荷兰、阿联酋大使华黎明就是北大波斯语专业毕业，长期从事外交工作的，也是我国比较权威的伊朗问题专家之一。北大波斯语专业的滕慧珠老师编写了新版的《波斯语教程3、4》和《波斯语实用口语》等教材，是三位老一辈教师的学生，按时间推算应该是七十年代末八十年代初毕业的。北大还有一位比较重要的教师，就是大家熟悉的编写教材的李湘老师，她是张鸿年老师的夫人，多年来孜孜不倦地编写了《波斯语基础教程》、《波斯语三百句》等多本教材，新版教材也是李老师的劳动结晶。</div>
<div class="para" label-module="para">八十年代中毕业的学生中有我国第一位在伊朗获得波斯语博士学位的王一丹教授，目前担任北京大学西亚语系副系主任，曾多年担任波斯语教研室主任。王一丹教授的专长是波斯语历史文本研究，其在拉施特《史集》中国史波斯语文本方面的研究和贡献突出，相关著作曾在伊朗出版；此外还有长期从事波斯语诗歌研究的中国社科院外国文学研究所的副研究员穆宏燕老师，其著作《凤凰再生——伊朗新诗研究》是非常优秀的波斯语文学研究著作。</div>
<div class="para" label-module="para">九十年代后，北京大学每4年招收一届波斯语专业学生，毕业生的数量丰富起来，其中96级和00级都有毕业生留校做老师。2008届毕业生9人，招收新生11（？）人，目前读大二。</div>
<div class="para" label-module="para">第二所开设波斯语专业的高校应该是洛阳解放军外国语学校，由于涉及一定的保密机制，在此不展开讨论。洛外的教学严谨，学术水平相当。</div>
<div class="para" label-module="para">1997年，上海外国语大学开设了波斯语专业，由96年北大毕业的刘老师和伊朗Shahid Beheshti大学波斯语外教共同教学，所用教材基本包括了北大版的波斯语基础教程（旧版）和伊朗原版教材，上外波斯语首届招生13人。2001年，上外招收了第二届波斯语专业学生，共18人，由刘老师、第一届毕业留校的老师和外教负责教学。2003年，上外招收了第三届波斯语专业学生，共10人，04年从北大聘任的伊朗学博士程老师加入了教学队伍。2006年，2009年上外分别又招收了两届波斯语专业学生，目前就读大四和大一。上外的后起也具备一定优势，从大一至大四的外教教学是北大所缺乏的。</div>
<div class="para" label-module="para">中央传媒大学（以前叫北京广播学院）外国语学院也开设了波斯语专业，由老一辈的我国波斯语播音员温业浔作为教学主任，2000年招收了一届学员，以向新闻媒体和广播类单位输送人才为主，多名毕业生进入国际广播电台等单位从事新闻类工作。</div>
<div class="para" label-module="para">2009年，北京外国语大学波斯语专业开始招生（专业开设于2007年左右），师资力量有来自于伊朗的归国博士于老师等，第一届招收了16人（？），目前学生读大一。北外的外语教学综合力量较为丰富，跟国外大学的合作也比较紧密，外事交流活动丰富，（2013年10月29日，伊朗议会议长拉里贾尼阁下访问北外，并和波斯语专业学生合影），波斯语专业有来自德黑兰某大学（据说是Tabatabai）的外教。第二届学生于2013年进入北外学习，师资力量有来自伊朗归国博士于老师，以及北师大硕士毕业的王老师，还有伊朗的（reza samizadeh）博士。2013级波斯语在校学生有15人（旁听一名）。波斯语专业学生活泼开朗，在上一届班长（园长）的带领下，对波斯语充满了热情。特别是于老师的教学，生动形象，富有韵律，课堂上诗歌朗诵的声音动听悦耳。</div>
<div class="para" label-module="para">北外波斯语专业就业情况非常可观，09届毕业生平均每人能拿到4、5个offer，有进入外交部，中联部，安全部和中信建设、中石油等跨国国有企业。</div>
<div class="para" label-module="para">波斯语有32个字母，其中4个是波斯语独有的，其他来自于阿拉伯语，下面有请samizadeh博士为我们聘读。。。。</div>
<div class="para" label-module="para">注：文中有些数字与实际情况可能存在出入，欢迎大家纠正补充。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub336069_6"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">波斯语专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">各涉外部门(如外交部、使领馆、商务部、文化部、中联部、各地外办、公安、海关、边检)；大型国企、民企(如上海外经公司、中国航空进出口公司、中行)；涉外传媒(如新华社、中国国际广播电台、凤凰卫视)；科研教学单位(大专院校、社科院)。 <sup>[2]</sup><a class="sup-anchor" name="ref_[2]_336069"> </a>
</div>
<div class="rs-container-foot">
<a name="rs-1"></a>
<a class="anchor-2" name="rs_336069_15741"></a>
<div class="rslazy rs-container" id="rs-container-336069-15741" lazy-init="lemmars.tableAction(baidu.g('rs-336069-15741'))"></div>
</div><script type="text/javascript">
        window.rsInsertData = window['rsInsertData'] || [];
        var rsdataList = {"foot":[{"fentryTableId":15741,"fentryTableName":"\u4e8c\u7ea7\u5b66\u79d1\u00b7\u5916\u56fd\u8bed\u8a00\u6587\u5b66","fentryTableType":1,"entryId":2393482,"templateId":0,"entryTitle":"\u5916\u56fd\u8bed\u8a00\u6587\u5b66\u7c7b\u4e13\u4e1a","isManual":0,"isExpand":1}],"top":[]};

        if (rsdataList.top || rsdataList.foot) {
            rsInsertData.push([336069, rsdataList]);
        }
    </script>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-336069-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_336069" id="refIndex_1_336069" name="refIndex_1_336069" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">波斯语<span class="linkout"> </span></a>
<span class="site">．高考派</span><span>[引用日期2015-05-24]</span></li><li class="reference-item " id="reference-[2]-336069-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_336069" id="refIndex_2_336069" name="refIndex_2_336069" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">波斯语<span class="linkout"> </span></a>
<span class="site">．上海外国语言大学</span><span>[引用日期2014-09-23]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>