<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>缅甸语专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">缅甸语专业培养能在外事、经贸、文化、新闻出版、教育、科研、旅游等部门从事翻译、研究、教学、管理工作的德才兼备的缅甸语的高级专门人才。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_336011"> </a>
</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
缅甸语专业
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
050216
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
文学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
文学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养要求</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">主干学科</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干课程</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">核心能力</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">就业方向</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">开设学院</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub336011_1"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">缅甸语专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业学生主要学习缅甸语语言、缅甸语文学、文化、历史、政治、经济、国情、东南亚历史与文化等方面的基本理论和基本知识，受到缅甸语听、说、读、写、译等技能的良好训练，掌握一定的科研方法，具有较强的从事翻译、研究、 教学、管理工作的能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_336011"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub336011_2"></a>
<a class="lemma-anchor " name="主干学科"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">缅甸语专业</span>主干学科</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">缅甸语</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub336011_3"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">缅甸语专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">基础缅甸语、语音、语法、视听说、写作、翻译理论与实践、文选、文学史、概况、中国与缅甸关系的历史与现状。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_336011"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub336011_4"></a>
<a class="lemma-anchor " name="核心能力"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">缅甸语专业</span>核心能力</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1.掌握马克思主义基本原理，树立辩证唯物主义和历史唯物主义观点，坚持四项基本原则，遵纪守法，热爱劳动，具有良好的职业道德，自觉地为社会主义现代化建设服务。<br/>　　2.通过对缅甸语语言、文学、文化、历史、政治、经济、国情、历史与文化等方面的学习，系统地掌握该专业的基本理论、基本知识和较熟练的听、说、读、写、译的基本技能，了解该专业有关的发展趋势和新成就。<br/>　　3.熟悉外交礼仪，掌握人文、科技、旅游、国际贸易等方面的基础知识。<br/>　　4.具有较强的分析、综合和解决问题的能力，掌握基本的科研方法，具有较强的从事翻译、研究、教学、管理工作的能力。<br/>　　5.熟悉我国国情、相应国国情、历史与文化。<br/>　　6.较熟练地掌握英语，具有较强的英语应用能力，能阅读一般的英文资料。<br/>　　7.具有良好的心理素质、健全的身体素质以及较高的综合素质。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_336011"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub336011_5"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">缅甸语专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">毕业生适应的工作范围：各外事部门的翻译工作、各研究单位有关语言、文学、历史、文化等方面研究工作以及有关学校缅甸语言、文化或其他有关课程的教学工作。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub336011_6"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">缅甸语专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">北京大学、天津外国语大学、云南师范大学、云南民族大学、广西民族大学相思湖学院、北京外国语大学、广西民族大学、红河学院、玉溪师范学院。<sup>[3]</sup><a class="sup-anchor" name="ref_[3]_336011"> </a>
</div>
<div class="rs-container-foot">
<a name="rs-1"></a>
<a class="anchor-2" name="rs_336011_15741"></a>
<div class="rslazy rs-container" id="rs-container-336011-15741" lazy-init="lemmars.tableAction(baidu.g('rs-336011-15741'))"></div>
</div><script type="text/javascript">
        window.rsInsertData = window['rsInsertData'] || [];
        var rsdataList = {"foot":[{"fentryTableId":15741,"fentryTableName":"\u4e8c\u7ea7\u5b66\u79d1\u00b7\u5916\u56fd\u8bed\u8a00\u6587\u5b66","fentryTableType":1,"entryId":2393482,"templateId":0,"entryTitle":"\u5916\u56fd\u8bed\u8a00\u6587\u5b66\u7c7b\u4e13\u4e1a","isManual":0,"isExpand":1}],"top":[]};

        if (rsdataList.top || rsdataList.foot) {
            rsInsertData.push([336011, rsdataList]);
        }
    </script>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-336011-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_336011" id="refIndex_1_336011" name="refIndex_1_336011" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">缅甸语<span class="linkout"> </span></a>
<span class="site">．高考派</span><span>[引用日期2015-05-24]</span></li><li class="reference-item " id="reference-[2]-336011-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_336011" id="refIndex_2_336011" name="refIndex_2_336011" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">缅甸语<span class="linkout"> </span></a>
<span class="site">．新浪网</span><span>[引用日期2016-02-14]</span></li><li class="reference-item " id="reference-[3]-336011-wrap">
<span class="index">3.</span>
<a class="gotop anchor" href="#ref_[3]_336011" id="refIndex_3_336011" name="refIndex_3_336011" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">开设缅甸语专业的大学有哪些<span class="linkout"> </span></a>
<span class="site">．大学生必备网</span><span>．2015-5-28</span><span>[引用日期2016-02-14]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>