<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>豪萨语专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">豪萨语专业培养具有扎实的相应语语言基础比较广泛的科学文化知识，能在外事、经贸、文化、新闻出版、教育、科研、旅游等部门从事翻译、研究、教学、管理工作的相应语言高级专门人才。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_336049"> </a>
</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
豪萨语专业
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
文学学士
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
4年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
文学类
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
050224
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-1">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养要求</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">知识能力</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干课程</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">发展前景</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">开设学院</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub336049_1"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">豪萨语专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业学生主要学习相应语语言、文学、历史、政治、经济、外交、社会文化等方面的基本理论和基本知识，受到相应语听、说、读、写、译等方面的良好的训练，掌握一定的科研方法，具有从事翻译、研究、教学、管理工作的业务水平及较好的素质和较强的能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub336049_2"></a>
<a class="lemma-anchor " name="知识能力"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">豪萨语专业</span>知识能力</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1.了解我国有关的方针、政策、法规；<br/>　　2.掌握语言学、文学及相关人文和科技方面的基础知识；<br/>　　3.具有扎实的相应语言基础和较熟练的听、说、读、写、译能力；<br/>　　4.了解我国国情和相应国家的社会和文化；<br/>　　5.具有较好的汉语表达能力和基本调研能力；6.具有第二外国语的一定的实际应用能力；<br/>　　7.掌握文献检索、资料查询的基本方法，具有初步科学研究和实际工作能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub336049_3"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">豪萨语专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">包括基础豪萨语言、高级豪萨语语言、报刊选读、视听、口语、豪萨语言写作、翻译佤实践、豪萨语语言理论、豪萨语语言学概论、豪萨语相应国家文学史及文学作品选读、豪萨语相应国家情等内容。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_336049"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub336049_4"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">豪萨语专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">在我国，小语种是指英语之外的其他语种（法语、俄语、西班牙语、阿拉伯语等联合国通用语由于学习者和使用者较少，故可以归为小语种之列）。目前我国开设的小语种有三十多门，其就业方向主要有以下几个：政府机关公务员。在政府机关尤其是中央机关，每年都要大量选拨小语种人才进入公务员队伍。由于小语种人才的稀缺性，在每年的“国考”中，小语种专业考生的录取率可以说是最高的。和动辄几千个考生抢一个饭碗相比，小语种的考生往往是几个人考一个职位。我国驻世界各地的大使馆、驻外机构、国际性组织和外交部对小语种人才的需求量在不断加大，因此小语种的毕业生们做公务员的几率还是很大的；大型央企的外派机构。有报道称中国在这次利比亚内战中的损失或超千亿，虽然听起来有夸张之嫌，但从另一个方面反映了中国企业近些年在国际市场上的进军步伐。以中石油、中石化、中建、中铁等为代表的央企大额近年来已将业务扩展到世界的各个角落，随之而来的就是对小语种人才的迫切需求。央企的待遇自不必说，假期长，福利高，压力小，无失业之忧，就连公务员也要羡慕三分；大型外国跨国公司驻中国的办事机构。随着中国加入世界贸易组织和对外开放程度的不断加深，越来越多的外国公司将业务扩展至中国，目前世界500强企业几乎全部在中国设有分支机构。具有国人身份而又掌握外语的人才往往能够帮助外国公司在中国取得意想不到的巨大收益，自然受到跨国公司的青睐。外企工资高，发展的空间大，能够接触到世界顶级企业家，当然是一个不错的选择；国内的各种外贸进出口公司。去年我国的进出口总额接近3万亿美元，贸易涉及世界各地。东盟、东北亚、欧盟、独联体等经济体与我国的贸易往来日渐频繁。熟悉当地风土人情和语言的人才对各种外贸公司的重要性不言而喻，待遇也是相当不错的。</div>
<div class="para" label-module="para">豪萨语专业在专业学科中属于文学类中的外国语言文学类，其中外国语言文学类共55个专业，豪萨语专业在外国语言文学类专业中排名第47，在整个文学大类中排名第87位。截止到 2013年12月24日，40420位豪萨语专业毕业生中应届毕业生工资3173元，3-5年工资4698元，10年以上工资5698元，0-2年工资5439元，8-10年工资6624元，6-7年工资7000元。豪萨语专业就业岗位最多的地区是暂时无法统计。薪酬最高的地区是湖州。</div>
<div class="para" label-module="para">据统计，豪萨语专业就业前景最好的地区有：1、湖州、2、南昌、3、大连、4、北京、5、牡丹江、6、淄博、7、仙桃、8、株洲、9、青岛、10、广州，平均薪酬在5053。<sup>[3]</sup><a class="sup-anchor" name="ref_[3]_336049"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub336049_5"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">豪萨语专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">北京外国语大学、中国传媒大学</div>
<div class="rs-container-foot">
<a name="rs-1"></a>
<a class="anchor-2" name="rs_336049_15741"></a>
<div class="rslazy rs-container" id="rs-container-336049-15741" lazy-init="lemmars.tableAction(baidu.g('rs-336049-15741'))"></div>
</div><script type="text/javascript">
        window.rsInsertData = window['rsInsertData'] || [];
        var rsdataList = {"foot":[{"fentryTableId":15741,"fentryTableName":"\u4e8c\u7ea7\u5b66\u79d1\u00b7\u5916\u56fd\u8bed\u8a00\u6587\u5b66","fentryTableType":1,"entryId":2393482,"templateId":0,"entryTitle":"\u5916\u56fd\u8bed\u8a00\u6587\u5b66\u7c7b\u4e13\u4e1a","isManual":0,"isExpand":1}],"top":[]};

        if (rsdataList.top || rsdataList.foot) {
            rsInsertData.push([336049, rsdataList]);
        }
    </script>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-336049-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_336049" id="refIndex_1_336049" name="refIndex_1_336049" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank"> 豪萨语<span class="linkout"> </span></a>
<span class="site">．中国教育在线</span><span>[引用日期2016-02-29]</span></li><li class="reference-item " id="reference-[2]-336049-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_336049" id="refIndex_2_336049" name="refIndex_2_336049" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">豪萨语<span class="linkout"> </span></a>
<span class="site">．新浪网</span><span>[引用日期2016-02-29]</span></li><li class="reference-item " id="reference-[3]-336049-wrap">
<span class="index">3.</span>
<a class="gotop anchor" href="#ref_[3]_336049" id="refIndex_3_336049" name="refIndex_3_336049" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">豪萨语专业就业方向与就业前景分析<span class="linkout"> </span></a>
<span class="site">．大学生必备网</span><span>．2014-11-29</span><span>[引用日期2016-02-29]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>