<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>泰语专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">泰语专业培养具有扎实的相应语言基础比较广泛的科学文化知识，能在外事、经贸、文化、新闻出版、教育、科研、旅游等部门从事翻译、研究、教学、管理工作的相应语言高级专门人才。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
泰语专业
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
050220
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
文学学士
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
外国语言文学
</dd>
<dt class="basicInfo-item name">二级学科</dt>
<dd class="basicInfo-item value">
亚非语言文学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">泰语介绍</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">培养要求</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">知识技能</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">主干课程</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">开设学院</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">专业排名</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">就业方向</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">就业岗位</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub335971_1"></a>
<a class="lemma-anchor " name="泰语介绍"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">泰语专业</span>泰语介绍</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><div class="lemma-picture text-pic layout-right" style="width:147px; float: right;">
<a class="image-link" nslog-type="9317" style="width:147px;height:220px;" target="_blank" title="">
<img alt="" class="lazy-img" data-src="http://e.hiphotos.baidu.com/baike/s%3D220/sign=aedc0b37a1d3fd1f3209a538004e25ce/aa18972bd40735faca9ad6a097510fb30f240844.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF9fX1AAAA0VQI3QAAAAxJREFUeNpiYAAIMAAAAgABT21Z4QAAAABJRU5ErkJggg==" style="width:147px;height:220px;"/>
</a>
</div><a target="_blank">泰语</a>是泰国的国语和官方用语。</div>
<div class="para" label-module="para">泰语基本上是由单音节的词组成，它是素可泰王朝国王兰甘杏于公元1283年根据孟文和吉蔑文创造而成。经过七百年的历史，今天的泰语有四十四个辅音、二十八个元音字母组成。有五个声调，并分成世俗用语、王族用语和僧侣用语三种。文字的书写采取连书形式，自左向右，横向书写，词与词之间不用标点，不留空格，一句话从头到尾连续不断的拼写，以空两个字母的间隔或句子当中的小停顿表示一个句子。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_335971"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub335971_2"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">泰语专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业学生主要学习相应语语言、文学、历史、政治、经济、外交、社会文化等方面的基本理论和基本知识，受到相应语听、说、读、写、译等方面的良好的训练，掌握一定的科研方法，具有从事翻译、研究、教学、管理工作的业务水平及较好的素质和较强的能力。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_335971"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub335971_3"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">泰语专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">泰语毕业生具备的专业知识与能力包括：</div>
<div class="para" label-module="para">1.了解我国有关的方针、政策、法规；</div>
<div class="para" label-module="para">2.掌握语言学、文学及相关人文和科技方面的基础知识；</div>
<div class="para" label-module="para">3.具有扎实的相应语言基础和较熟练的听、说、读、写、译能力；</div>
<div class="para" label-module="para">4.了解我国国情和相应国家的社会和文化；</div>
<div class="para" label-module="para">5.具有较好的汉语表达能力和基本调研能力；</div>
<div class="para" label-module="para">6.具有第二外国语的一定的实际应用能力；</div>
<div class="para" label-module="para">7.掌握文献检索、资料查询的基本方法，具有初步科学研究和实际工作能力。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_335971"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub335971_4"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">泰语专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">基础泰国语、高级泰国语、泰国语听力、泰国语口语、泰国语写作、泰语翻译理论与实践、泰国语报刊选读、泰国语文学、基础英语、英语视听说、英语写作、英语翻译理论与实践。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub335971_5"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">泰语专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><b>云南省</b></div>
<div class="para" label-module="para"><a target="_blank">云南民族大学</a></div>
<div class="para" label-module="para"><a target="_blank">云南师范大学</a></div>
<div class="para" label-module="para"><a target="_blank">云南大学</a></div>
<div class="para" label-module="para"><a target="_blank">云南财经大学</a></div>
<div class="para" label-module="para"><a target="_blank">西南林业大学</a></div>
<div class="para" label-module="para"><a target="_blank">云南农业大学</a></div>
<div class="para" label-module="para"><a target="_blank">大理大学</a></div>
<div class="para" label-module="para"><a target="_blank">昆明学院</a></div>
<div class="para" label-module="para"><a target="_blank">红河学院</a></div>
<div class="para" label-module="para"><a target="_blank">文山学院</a></div>
<div class="para" label-module="para"><a target="_blank">楚雄师范学院</a></div>
<div class="para" label-module="para"><a target="_blank">玉溪师范学院</a></div>
<div class="para" label-module="para"><a target="_blank">曲靖师范学院</a></div>
<div class="para" label-module="para"><a target="_blank">滇西科技师范学院</a></div>
<div class="para" label-module="para"><a target="_blank">云南大学滇池学院</a></div>
<div class="para" label-module="para"><a target="_blank">云南经济管理学院</a></div>
<div class="para" label-module="para"><a target="_blank">云南师范大学商学院</a></div>
<div class="para" label-module="para"><a target="_blank">云南师范大学文理学院</a></div>
<div class="para" label-module="para"><a target="_blank">昆明理工大学津桥学院</a></div>
<div class="para" label-module="para"><a target="_blank">西双版纳职业技术学院</a></div>
<div class="para" label-module="para"><a target="_blank">云南交通职业技术学院</a></div>
<div class="para" label-module="para"><a target="_blank">云南农业职业技术学院</a></div>
<div class="para" label-module="para"><a target="_blank">云南外事外语职业学院</a></div>
<div class="para" label-module="para"><a target="_blank">昆明冶金高等专科学校</a></div>
<div class="para" label-module="para"><b>广西壮族自治区</b></div>
<div class="para" label-module="para">广西民族大学</div>
<div class="para" label-module="para">--外国语学院</div>
<div class="para" label-module="para">--国际教育学院</div>
<div class="para" label-module="para">--相思湖学院（独立学院）</div>
<div class="para" label-module="para">广西大学</div>
<div class="para" label-module="para">广西师范大学</div>
<div class="para" label-module="para">--外国语学院</div>
<div class="para" label-module="para">--国际教育学院</div>
<div class="para" label-module="para">广西师范大学漓江学院（独立学院）</div>
<div class="para" label-module="para">广西外国语学院（私立）</div>
<div class="para" label-module="para">广西师范学院</div>
<div class="para" label-module="para">广西财经学院</div>
<div class="para" label-module="para">广西经贸职业技术学院</div>
<div class="para" label-module="para">广西国际商务职业技术学院</div>
<div class="para" label-module="para">广西农业职业技术学院</div>
<div class="para" label-module="para">广西城市职业学院</div>
<div class="para" label-module="para">南宁职业技术学院（广西）</div>
<div class="para" label-module="para">南宁师范高等专科学校（广西）</div>
<div class="para" label-module="para">钦州学院（广西）</div>
<div class="para" label-module="para">梧州学院（广西）</div>
<div class="para" label-module="para">玉林师范学院（广西）</div>
<div class="para" label-module="para">柳州城市职业学院（广西）</div>
<div class="para" label-module="para">广西民族中专（中专）</div>
<div class="para" label-module="para">广西团校（中专）</div>
<div class="para" label-module="para">广西华侨学校（中专）</div>
<div class="para" label-module="para"><b>北京</b></div>
<div class="para" label-module="para">北京大学</div>
<div class="para" label-module="para">北京外国语大学</div>
<div class="para" label-module="para"><b>其他地区</b></div>
<div class="para" label-module="para">成都大学外国语学院</div>
<div class="para" label-module="para">四川外国语大学</div>
<div class="para" label-module="para">四川外国语大学成都学院</div>
<div class="para" label-module="para">广东外语外贸大学</div>
<div class="para" label-module="para">上海外国语大学</div>
<div class="para" label-module="para">西安外国语大学</div>
<div class="para" label-module="para">解放军外国语学院（洛阳）</div>
<div class="para" label-module="para">解放军国际关系学院（南京）</div>
<div class="para" label-module="para">成都学院（原成都大学）</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub335971_6"></a>
<a class="lemma-anchor " name="专业排名"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">泰语专业</span>专业排名</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<table class="table-view log-set-param" log-set-param="table_view" width="100%"><tr><td><b>排 序</b></td><td><b>学校名称</b></td><td><b>水 平</b></td><td><b>开此专业学校数</b></td></tr><tr><td>1</td><td>北京大学</td><td>5★</td><td>16</td></tr><tr><td>2</td><td>广东外语外贸大学</td><td>4★</td><td>16</td></tr><tr><td>3</td><td>云南民族大学</td><td>4★</td><td>16</td></tr><tr><td>4</td><td>广西民族大学</td><td>3★</td><td>16</td></tr><tr><td>5</td><td>西安外国语大学</td><td>3★</td><td>16</td></tr><tr><td>6</td><td>曲靖师范学院</td><td>3★</td><td>16</td></tr><tr><td>7</td><td>云南财经大学</td><td>3★</td><td>16</td></tr><tr><td>8</td><td>红河学院</td><td>3★</td><td>16</td></tr></table><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub335971_7"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">泰语专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">泰语专业毕业生主要去向是：外交部、商务部、文化部、新华社、国际广播电台、旅行社、外国公司和受聘到泰国工作等。<sup>[3]</sup><a class="sup-anchor" name="ref_[3]_335971"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub335971_8"></a>
<a class="lemma-anchor " name="就业岗位"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">泰语专业</span>就业岗位</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">泰语翻译、兼职泰语翻译、订单管理专员等。</div>
<div class="rs-container-foot">
<a name="rs-1"></a>
<a class="anchor-2" name="rs_335971_15741"></a>
<div class="rslazy rs-container" id="rs-container-335971-15741" lazy-init="lemmars.tableAction(baidu.g('rs-335971-15741'))"></div>
</div><script type="text/javascript">
        window.rsInsertData = window['rsInsertData'] || [];
        var rsdataList = {"foot":[{"fentryTableId":15741,"fentryTableName":"\u4e8c\u7ea7\u5b66\u79d1\u00b7\u5916\u56fd\u8bed\u8a00\u6587\u5b66","fentryTableType":1,"entryId":2393482,"templateId":0,"entryTitle":"\u5916\u56fd\u8bed\u8a00\u6587\u5b66\u7c7b\u4e13\u4e1a","isManual":0,"isExpand":1}],"top":[]};

        if (rsdataList.top || rsdataList.foot) {
            rsInsertData.push([335971, rsdataList]);
        }
    </script>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-335971-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_335971" id="refIndex_1_335971" name="refIndex_1_335971" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">泰国的三大文化<span class="linkout"> </span></a>
<span class="site">．中国教育在线</span><span>[引用日期2015-05-21]</span></li><li class="reference-item " id="reference-[2]-335971-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_335971" id="refIndex_2_335971" name="refIndex_2_335971" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">泰语<span class="linkout"> </span></a>
<span class="site">．新浪网</span><span>[引用日期2016-02-14]</span></li><li class="reference-item " id="reference-[3]-335971-wrap">
<span class="index">3.</span>
<a class="gotop anchor" href="#ref_[3]_335971" id="refIndex_3_335971" name="refIndex_3_335971" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">泰语<span class="linkout"> </span></a>
<span class="site">．北京外国语大学</span><span>[引用日期2015-05-21]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>