<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>哈萨克语专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">哈萨克语专业培养能从事哈萨克语言、文学实际工作的应用型专门人才。此专业相对冷门，开设此专业的院校非常少。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
哈萨克语专业
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
050257
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
文学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年（本科）
</dd>
<dt class="basicInfo-item name">开设院校</dt>
<dd class="basicInfo-item value">
北京外国语大学、中央民族大学等
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-1">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">开设课程</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">实践教学</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">培养要求</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">专业知识</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub17718445_1"></a>
<a class="lemma-anchor " name="开设课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">哈萨克语专业</span>开设课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">基础哈萨克语、高级哈萨克语、报刊选读、视听、口语、哈萨克语写作、<a target="_blank">翻译理论与实践</a>、语言理论、语言学概论、哈萨克语国家国情等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub17718445_2"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">哈萨克语专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">结合教学，组织学生参加社会调查、业务实习等实践活动。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub17718445_3"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">哈萨克语专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">了解哈萨克语言文化历史，掌握本专业必需的哈萨克族语言、文学的基础理论和基本知识；具备阅读一般哈萨克文的能力；能读会写汉语文，并具有一定的写作能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub17718445_4"></a>
<a class="lemma-anchor " name="专业知识"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">哈萨克语专业</span>专业知识</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1.了解我国有关的方针、政策、法规； 2.掌握语言学、文学及相关人文和科技方面的基础知识； 3.具有扎实的相应语言基础和较熟练的听、说、读、写、译能力； 4.了解我国国情和相应国家的社会和文化； 5.具有较好的汉语表达能力和基本调研能力； 6.具有第二外国语的一定的实际应用能力； 7.掌握文献检索、资料查询的基本方法，具有初步科学研究和实际工作能力。8.就业方向<b>：</b>可从事翻译、研究、教学、管理工作。</div>

<div class="clear"></div>
</div>