<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>翻译专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">翻译是将一种相对陌生的表达方式，转换成相对熟悉的表达方式的过程。其内容有语言、文字、图形、符号的翻译。是增强促进人们社会交流发展的重要手段。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
翻译专业
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
BTI
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
050261
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
文学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
文学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养目标</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">知识技能</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主要课程</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">就业方向</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">开设院校</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">其他信息</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub6543214_1"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">翻译专业</span>培养目标</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">培养具有扎实的语言基础，广博的文化知识，娴熟的口笔译技能，能够胜任外事、商贸、科技、文化、教育等部门翻译工作的应用型人才，并为翻译硕士和博士教育输送优秀生源。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub6543214_2"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">翻译专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">毕业生应获得以下几方面的知识和能力：</div>
<div class="para" label-module="para">1.了解我国有关的方针、政策、法规；</div>
<div class="para" label-module="para">2.掌握语言学、文学及相关人文和科技方面的基础知识；</div>
<div class="para" label-module="para">3.具有扎实的相应语言基础和较熟练的听、说、读、写、译能力；</div>
<div class="para" label-module="para">4.了解我国国情和相应国家的社会和文化；</div>
<div class="para" label-module="para">5.具有较好的汉语表达能力和基本调研能力；</div>
<div class="para" label-module="para">6.具有第二外国语的一定的实际应用能力；</div>
<div class="para" label-module="para">7.掌握<a data-lemmaid="2826202" target="_blank">文献检索</a>、资料查询的基本方法，具有初步科学研究和实际工作能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_6543214"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub6543214_3"></a>
<a class="lemma-anchor " name="主要课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">翻译专业</span>主要课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">笔译板块课程主要有<a target="_blank">英汉翻译技巧</a>、<a target="_blank">汉英翻译技巧</a>、文学翻译、商务笔译、科技翻译、<a data-lemmaid="9858409" target="_blank">法律翻译</a>、旅游翻译、新闻翻译、<a target="_blank">计算机辅助翻译</a>等，口译板块课程主要有视听译、随同口译、政务口译、商务口译、<a data-lemmaid="271450" target="_blank">同声传译</a>入门等，以及跟翻译能力紧密相关的其他专业选修课。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub6543214_4"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">翻译专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">政府部门和企事业单位的外事接待、商务、旅游等口笔译工作，在科研院所等事业单位从事外语翻译教学及与翻译有关的科研、管理等工作。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub6543214_5"></a>
<a class="lemma-anchor " name="开设院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">翻译专业</span>开设院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">北京外国语大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">江苏科技大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">对外经济贸易大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">天津外国语大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">华中科技大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">华东师范大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">上海外国语大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">广东外语外贸大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">外交学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">北京语言大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">北京第二外国语学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">西安外国语大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">山东大学威海分校</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">四川外语学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">河北师范大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">河南师范大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">沈阳师范大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">复旦大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">浙江师范大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">湖北大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">北京外国语大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">武汉大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">西南交通大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">对外经济贸易大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a data-lemmaid="134521" target="_blank">南开大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">天津外国语大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">暨南大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">华中科技大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">华东师范大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">上海外国语大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">南京信息工程大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">江西科技师范大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">四川外语学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">大连外国语大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">大连大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">沈阳师范大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">广东外语外贸大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">华东政法大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">陕西师范大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">云南民族大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">西安外国语大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">湘潭大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">南华大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">湖南工业大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">衡阳师范学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">吉林华桥外国语学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">华中师范大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">黑龙江大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">湖北大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">黄冈师范学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">湖北经济学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">河南大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">福建师范大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">西北师范大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">曲阜师范大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">北京语言大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">河南师范大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">贵州大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">乐山师范学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">西安翻译学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">山东大学威海分校</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">北京第二外国语学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para">广西大学</div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">浙江外国语学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">重庆师范大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para">忻州师范学院</div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para">中国计量大学</div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para">集美大学</div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub6543214_6"></a>
<a class="lemma-anchor " name="其他信息"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">翻译专业</span>其他信息</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><b>翻译的具体形式</b></div>
<div class="para" label-module="para">有口译、笔译、机器翻译等，从翻译的物质形态来说，它表现为各类<a target="_blank">符号系统</a>的选择组合，具体可分为四类：</div>
<div class="para" label-module="para">（1）有声语言符号，即自然语言的口头语言，其表现形式为电话通讯、内外谈判和接待外宾等；</div>
<div class="para" label-module="para">（2）无声语言符号，包括了文字符号和图象符号，其表现形式为谈判决议、社交书信、电文、通讯及各种文学作品等印刷品；</div>
<div class="para" label-module="para">（3）有声<a data-lemmaid="2977228" target="_blank">非语言符号</a>，即传播过程中所谓的有声而不分音节的"类语言"符号，其常见方式为：说话时的特殊重读、语调变化、笑声和掌声，这类符号无具体的音节可分，语义也不是固定不变的，其信息是在一定的<a data-lemmaid="5884655" target="_blank">语言环境</a>中得以传播的，比如笑声可能是负载着正信息，也可能负载着负信息，又如掌声可以传播欢迎、赞成、高兴等信息，也可以是传递一种礼貌的否定等。</div>
<div class="para" label-module="para">（4）无声非语言符号，即各种人体语言符号，表现为人的动作、表情和服饰等无声伴随语言符号，这类符号具有鲜明的民族文化性，比如人的有些动作，在不同的民族文化中所表示的语义信息完全不同，不仅如此，它还能强化有声语言的传播效果，如在交谈时，如果伴有适当的人体语言，会明显增强口头语言的<a data-lemmaid="3675918" target="_blank">表达效果</a>。</div>
<div class="para" label-module="para"><b><a target="_blank">全国翻译专业资格考试</a></b></div>
<div class="para" label-module="para"><b>考试性质</b> 　<a target="_blank">全国翻译专业资格（水平）考试</a>（China Accreditation Test for Translators and Interpreters -- CATTI）是受国家<a target="_blank">人力资源和社会保障部</a>委托，由<a target="_blank">中国外文出版发行事业局</a>(China Foreign Languages Publishing Administration)负责实施与管理的一项国家级职业资格考试，已纳入<a target="_blank">国家职业资格证书制度</a>，是一项在全国实行的、统一的、面向全社会的翻译专业资格（水平）认证，是对参试人员口译或笔译方面双语互译能力和水平的评价与认定。</div>
<div class="para" label-module="para"><a data-lemmaid="1190001" target="_blank">翻译专业资格（水平）考试</a>，是我国翻译系列<a data-lemmaid="7865181" target="_blank">职称评审</a>制度的重大改革。翻译专业资格（水平）考试与原有翻译<a target="_blank">专业技术职务</a>任职资格评审制度相比，更体现了科学、客观、公平、公正的原则，报名参加考试人员不受学历、资历和所从事专业的限制。取得各级别证书并符合翻译专业职务任职条件的人员，用人单位可根据需要聘任相应职务。在资格考试体系尚未完全建立之前，新旧体系会有一个并存期。翻译专业资格考试将分语种、分级别地逐步推开，随着考试逐步推向全国，旧有的翻译专业技术职务任职资格评审制度将逐渐退出历史舞台。</div>
<div class="para" label-module="para"><b>考试目的</b> 　设立这一考试的目的是为适应我国经济发展和加入<a target="_blank">世界贸易组织</a>的需要，加强我国外语翻译专业人才队伍建设，科学、客观、公正地评价翻译专业人才水平和能力，同时进一步规范翻译市场，加强对翻译行业的管理，使之更好地与国际接轨，从而为我国的对外开放服务。</div>
<div class="para" label-module="para"><b>考试报名条件</b> 　该考试是一项面向全社会的职业资格考试，凡是遵守<a target="_blank">中华人民共和国宪法</a>和法律，恪守职业道德，具有一定外语水平的人员，不分年龄、学历、资历和身份，均可报名参加相应语种二、三级的考试。获准在华就业的外籍人员及港、澳、台地区的专业人员，也可参加报名。</div>
<div class="para" label-module="para"><b>考试语种</b> 　考试分7个语种，分别是英、日、法、阿拉伯、俄、德、西班牙语等语种；四个等级，即：资深翻译；一级口译、笔译翻译；二级口译、笔译翻译；三级口译、笔译翻译；两大类别，即：笔译、口译，口译又分交替传译和<a data-lemmaid="271450" target="_blank">同声传译</a>两个专业类别。</div>
<div class="para" label-module="para"><b>考试科目</b> 　二、三级笔译考试均设《笔译综合能力》和《笔译实务》2个科目；口译考试均设《口译综合能力》和《<a data-lemmaid="12126603" target="_blank">口译实务</a>》2个科目，其中二级口译考试《口译实务》科目分设“<a data-lemmaid="7982497" target="_blank">交替传译</a>”和“同声传译”2个专业类别。报名参加二级口译考试的人员，可根据本人情况，选择口译交替传译和同声传译两个专业类别的考试。报考二级口译交替传译的人员，参加《口译综合能力》和《口译实务（交替传译类）》2个科目的考试；报考二级口译同声传译的人员，参加《口译综合能力》和《口译实务（同声传译类）》2个科目的考试；已通过了二级口译交替传译考试并取得证书的人员，可免试《口译综合能力》科目，只参加《口译实务（同声传译类）》科目的考试。</div>
<div class="para" label-module="para">翻译<a target="_blank">硕士专业学位</a>研究生，入学前未获得二级或二级以上翻译专业资格（水平）证书的，在校学习期间必须参加二级口译或笔译<a data-lemmaid="1190001" target="_blank">翻译专业资格（水平）考试</a>，并可免试《综合能力》科目，只参加《<a data-lemmaid="12126603" target="_blank">口译实务</a>》或《笔译实务》科目考试。</div>
<div class="para" label-module="para"><b>考试方式</b> 　二、三级《口译综合能力》科目考试采用听译笔答方式进行；二级《口译实务》科目“<a data-lemmaid="7982497" target="_blank">交替传译</a>”和“<a data-lemmaid="271450" target="_blank">同声传译</a>”以及三级《口译实务》科目的考试均采用现场录音方式进行。</div>
<div class="para" label-module="para">二、三级《笔译综合能力》和《笔译实务》科目考试均采用纸笔作答方式进行。</div>
<div class="para" label-module="para"><b>考试时间</b> 　二、三级《口译综合能力》科目、二级《<a data-lemmaid="12126603" target="_blank">口译实务</a>》科目“交替传译”和“同声传译”考试时间均为60分钟；三级《口译实务》科目考试时间为30分钟。</div>
<div class="para" label-module="para">二、三级《笔译综合能力》科目考试时间均为120分钟，《笔译实务》科目考试时间均为180分钟。</div>
<div class="rs-container-foot">
<a name="rs-1"></a>
<a class="anchor-2" name="rs_6543214_15741"></a>
<div class="rslazy rs-container" id="rs-container-6543214-15741" lazy-init="lemmars.tableAction(baidu.g('rs-6543214-15741'))"></div>
</div><script type="text/javascript">
        window.rsInsertData = window['rsInsertData'] || [];
        var rsdataList = {"foot":[{"fentryTableId":15741,"fentryTableName":"\u4e8c\u7ea7\u5b66\u79d1\u00b7\u5916\u56fd\u8bed\u8a00\u6587\u5b66","fentryTableType":1,"entryId":2393482,"templateId":0,"entryTitle":"\u5916\u56fd\u8bed\u8a00\u6587\u5b66\u7c7b\u4e13\u4e1a","isManual":0,"isExpand":1}],"top":[]};

        if (rsdataList.top || rsdataList.foot) {
            rsInsertData.push([6543214, rsdataList]);
        }
    </script>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-6543214-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_6543214" id="refIndex_1_6543214" name="refIndex_1_6543214" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">翻译<span class="linkout"> </span></a>
<span class="site">．高考派</span><span>[引用日期2015-05-18]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>