<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>地球化学专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">地球化学是研究地球及其子系统(包括部分宇宙体）的化学组成和化学演化的一门学科。主要研究地球(包括部分天体)的化学组成；研究地质过程中化学作用机制和条件、元素的共生组合及其赋存形式及元素的迁移和循环等等的学科。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
地球化学专业
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
070902
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">修业年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
理学学士
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
理学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">设置背景</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">知识技能</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干学科</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">相近专业</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">主干课程</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">实践教学</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">发展前景</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">开设院校</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub145528_1"></a>
<a class="lemma-anchor " name="设置背景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">地球化学专业</span>设置背景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">地球化学专业培养具备地球化学和地质学的基本理论、基本知识和基本技能，受到基础研究、应用基础研究和技术开发的基本训练，具有较好的科学素养及初步的教学、研究、开发和管理能力，能在科研机构、学校从事地球化学研究或教学工作，在资源、能源、材料、环境、基础工程等方面从事生产、测试、技术管理等工作以及在行政部门从事管理工作的高级专门人才。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_145528"> </a>
</div>
<div class="para" label-module="para">学生主要学习地球化学方面的基本理论和基本知识，受到基础研究、应用基础研究和技术开发方面科学思维和科学实践的训练，掌握野外和室内地质及地球化学的基本技能。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub145528_2"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">地球化学专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">毕业生应获得以下几方面的知识和能力：</div>
<div class="para" label-module="para">1．掌握数学、物理、化学等方面的基本理论和基本知识；</div>
<div class="para" label-module="para">2．掌握矿物学、岩石学、矿床学、地球化学和地质学等方面的基本理论、基本知识和基本实验技能以及野外和室内地质及地球化学的研究工作方法、有关测试手段的基本原理和基本方法；</div>
<div class="para" label-module="para">3．了解相近专业的-般原理和知识；</div>
<div class="para" label-module="para">4．了解国家科学技术政策、知识产权及可持续发展等有关政策和法规；</div>
<div class="para" label-module="para">5．了解地球化学的理论前沿、应用前景和最新发展动态；</div>
<div class="para" label-module="para">6．掌握资料查询、文献检索及运用现代信息技术获取相关信息的基本方法；具有一定的设计实验，创造实验条件，归纳、整理、分析实验结果，撰写论文，参与学术交流的能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub145528_3"></a>
<a class="lemma-anchor " name="主干学科"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">地球化学专业</span>主干学科</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">地质学、化学</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub145528_4"></a>
<a class="lemma-anchor " name="相近专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">地球化学专业</span>相近专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">地质学 地球化学 资源勘查</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub145528_5"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">地球化学专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">地球科学概论</a>、构造地质学、结晶学与矿物学、岩石学、矿床学、地球化学、<a target="_blank">同位素地球化学</a>、<a target="_blank">环境地球化学</a>、地球物理学等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub145528_6"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">地球化学专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">主要课程的实验和实习在课程内安排。野外地质实习、毕业实习等．一般安排6～12周。</div>
<div class="para" label-module="para"><b>核心知识领域</b></div>
<div class="para" label-module="para">本专业的知识领域由构造地质学、矿物岩石学、地球化学、环境科学、现代仪器分析等知识单元组成。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_145528"> </a>
</div>
<div class="para" label-module="para"><b>核心课程事例</b></div>
<div class="para" label-module="para">示例一：普通地质学（48学时）、结晶学与矿物学（80学时）、晶体光学与光性矿物学（40学时）、岩石学（112学时）、古生物学和地史学（96学时）、地球化学（48学时）、勘查地球化学(40学时)、资源地质学（56学时）。</div>
<div class="para" label-module="para">示例二：地球科学概论（72学时）、地球化学（72学时）、地球物理学导论（72学时）、结晶学与矿物学（72学时）、晶体光学与岩石学（180学时）、古生物学、地史学（108学时）、环境地球化学（32学时）、元素地球化学（32学时）。</div>
<div class="para" label-module="para">示例三：普通地质学（52学时）、结晶学与矿物学（68学时）、晶体光学（44学时）、岩石学(82学时)、古生物地层学（45学时）、地球化学原理（45学时）、环境地球化学（30学时）、元素地球化学（45学时）。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub145528_7"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">地球化学专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">科研机构、高等院校的地球化学研究或教学工作；资源、能源、材料、环境、基础工程等领域的生产、测试、技术管理工作；行政部门的管理工作。<sup>[3]</sup><a class="sup-anchor" name="ref_[3]_145528"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub145528_8"></a>
<a class="lemma-anchor " name="开设院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">地球化学专业</span>开设院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><b>北京</b><a target="_blank">中国石油大学</a>、<a target="_blank">北京大学</a>、<a target="_blank">中国地质大学</a>（北京）、<a target="_blank">中国矿业大学</a>（北京）</div>
<div class="para" label-module="para"><b>江苏</b><a target="_blank">南京大学</a><a target="_blank">中国矿业大学</a>（徐州）</div>
<div class="para" label-module="para"><b>安徽</b><a target="_blank">中国科学技术大学</a><a target="_blank">合肥工业大学</a></div>
<div class="para" label-module="para"><b>甘肃</b><a target="_blank">兰州大学</a></div>
<div class="para" label-module="para"><b>四川</b><a target="_blank">成都理工大学</a><a target="_blank">西南石油大学</a></div>
<div class="para" label-module="para"><b>江西</b><a target="_blank">东华理工大学</a></div>
<div class="para" label-module="para"><b>黑龙江</b><a target="_blank">东北石油大学</a></div>
<div class="para" label-module="para"><b>湖北 <a target="_blank">中国地质大学（武汉）</a></b><a target="_blank">长江大学</a></div>
<div class="para" label-module="para"><b>陕西</b><a target="_blank">西北大学</a>、<a target="_blank">长安大学</a></div>
<div class="para" label-module="para"><b>云南</b><a target="_blank">昆明理工大学</a></div>
<div class="para" label-module="para"><b>吉林</b><a target="_blank">吉林大学</a></div>
<div class="para" label-module="para"><b>浙江</b><a target="_blank">浙江大学</a></div>
<div class="para" label-module="para"><b>广西</b><a target="_blank">桂林理工大学</a></div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-145528-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_145528" id="refIndex_1_145528" name="refIndex_1_145528" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">地球化学(本科类) <span class="linkout"> </span></a>
<span class="site">．阳光高考</span><span>[引用日期2016-02-26]</span></li><li class="reference-item " id="reference-[2]-145528-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_145528" id="refIndex_2_145528" name="refIndex_2_145528" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">地球化学专业解读与就业<span class="linkout"> </span></a>
<span class="site">．辽宁招生考试之窗</span><span>[引用日期2014-10-29]</span></li><li class="reference-item " id="reference-[3]-145528-wrap">
<span class="index">3.</span>
<a class="gotop anchor" href="#ref_[3]_145528" id="refIndex_3_145528" name="refIndex_3_145528" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">地球化学专业解读与就业<span class="linkout"> </span></a>
<span class="site">．辽宁招生考试之窗</span><span>[引用日期2014-08-27]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>