<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>统计学专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">统计学（statistics）是应用数学的一个分支，主要通过利用概率论建立数学模型，收集所观察系统的数据，进行量化分析、总结，做出推断和预测，为相关决策提供依据和参考。它被广泛的应用在各门学科之上，从物理和社会科学到<a target="_blank">人文科学</a>，甚至被用来工商业及政府的情报决策之上。随着数字化的进程不断加快，人们越来越多地希望能够从大量的数据中总结出一些经验规律从而为后面的决策提供一些依据。统计学专业不是仅仅像其表面的文字表示，只是统计数字，而是包含了调查、收集、分析、预测等。应用的范围十分广泛。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
统计学专业
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
071401
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
理学或经济学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
<a target="_blank">理学</a>
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-4">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">专业细分</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">专业应用</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">培养要求</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">就业方向</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">主干课程</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">相近专业</a></span>
</li>
<li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">开设学院</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">院校排名</a></span>
</li>
<li class="level1">
<span class="index">9</span>
<span class="text"><a href="#9">研究概况</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#9_1">国外概况</a></span>
</li>
</ol><ol><li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#9_2">国内概况</a></span>
</li>
<li class="level1">
<span class="index">10</span>
<span class="text"><a href="#10">高校概况</a></span>
</li>
<li class="level1">
<span class="index">11</span>
<span class="text"><a href="#11">特点优势</a></span>
</li>
<li class="level1">
<span class="index">12</span>
<span class="text"><a href="#12">存在问题</a></span>
</li>
<li class="level1">
<span class="index">13</span>
<span class="text"><a href="#13">学科发展</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">14</span>
<span class="text"><a href="#14">海外申请</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#14_1">就业前景</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#14_2">学校推荐</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#14_3">申请分析</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub46272_1"></a>
<a class="lemma-anchor " name="专业细分"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">统计学专业</span>专业细分</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">统计学专业分为三个大的专业方向：数理统计方向、经济统计方向和应用统计方向。数理统计方向和经济统计方向的差距并不是很大，数理统计主要是对统计学的基本理论和方法进行研究；经济统计则是提供科学地调查、搜集经济信息，以及描述、分析经济数据并对社会经济运行过程进行预测、监督的一门科学。而应用统计学主要是调查、收集观察对象的数据信息，并通过<a target="_blank">描述统计</a>等技术，分析观察对象的特征，发现事物的规律，进行预测、监督，以实现社会经济良性运行。</div>
<div class="para" label-module="para">通过统计学专业的学习，可以掌握各种数据分析技术，了解统计学的前沿理论，还可以掌握科学调查、科学研究的思路，也将学到统计分析软件的使用技术。学习统计学要有一定的数学基础，并且还必须熟悉计算机操作。在实际工作中，统计工作需要借助各种统计分析软件完成。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub46272_2"></a>
<a class="lemma-anchor " name="专业应用"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">统计学专业</span>专业应用</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">统计学专业主要包括一般统计和经济统计两类专业方向，培养具有良好的数学或数学与经济学素养，掌握统计学的基本理论和方法，能熟练地运用计算机分析数据，能在企业、事业单位和经济、管理部门从事<a target="_blank">统计调查</a>、统计信息管理、数量分析等开发、应用和管理工作，或在科研、教育部门从事研究和教学工作的高级专门人才。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub46272_3"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">统计学专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业学生主要学习必需的数学、物理的基础知识，学习力学基础理论及某一专业方向的专门知识，加强实验能力和计算机应用能力的训练，注意培养理论分析能力和力学应用的能力。受到科学研究和工程技术应用的初步训练，具有良好的科学素养。</div>
<div class="para" label-module="para">通过学习，将具备了以下几方面的能力：</div>
<div class="para" label-module="para">1．掌握数学、物理的基础知识，具有较强的分析和演算能力；</div>
<div class="para" label-module="para">2．掌握系统的力学基本理论知识，初步掌握力学的基本实验技能和实验分析方法；掌握一定的工程背景知识，初步学会建立简单力学模型的方法；</div>
<div class="para" label-module="para">3．了解相近专业的一般原理和知识；</div>
<div class="para" label-module="para">4．对该专业范围内科学技术的新发展有所了解；</div>
<div class="para" label-module="para">5．了解国家科技、产业政策、知识产权等有关政策和法规；</div>
<div class="para" label-module="para">6．掌握资料查询、文献检索及运用现代信息技术获取相关信息的基本方法；具有一定的实验设计，创造实验条件，归纳、整理、分析实验结果、撰写论文，参与学术交流的能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub46272_4"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">统计学专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">统计学专业毕业生的主要就业流向有三大部分：政府部门（统计局等），银行、保险公司、证券公司等金融部门，市场调查公司、咨询公司、各公司的市场研究部门，工业企业的质量检测部门等企业事业单位。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub46272_5"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">统计学专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">数学分析、几何代数、数学实验，常微分方程，复变函数，实变与泛函、概率论、数理统计，抽样调查，随机过程，多元统计，计算机应用基础，程序设计语言，数据分析及统计软件、回归分析，可靠性数学，实验设计与质量控制，计量经济学，经济预测与决策，金融数学，证券投资的统计分析，数值分析，数据结构与算法，数据库管理系统，计算机网络系统，系统分析与软件设计。</div>
<div class="para" label-module="para">学习内容包括：资料的搜集方法、资料的处理归纳方法、资料的分析方法。教学方法为在一般性面授基础上，辅以各种类型的案例分析，以提高学生的实践能力，还有较多的实践机会，如要围绕一个课题，自己设计调查问卷，采集数据，再对数据进行处理。生产实习、科研训练或毕业论文（设计）等，一般安排10～20周。</div>
<div class="para" label-module="para">专业课和主要基础课：数学分析、解析几何、高等代数、微分方程、复变函数、实变函数与泛函分析、近世代数</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub46272_6"></a>
<a class="lemma-anchor " name="相近专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">统计学专业</span>相近专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">数学与应用数学（070101）、信息与计算科学（070102）。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub46272_7"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">统计学专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">湖南师范大学（10542）、青岛理工大学（10429）<a target="_blank">山西财经大学</a>（10125） <a target="_blank">北方民族大学</a>（11407）、<a target="_blank">厦门大学</a>（10384）、<a target="_blank">中国人民大学</a>（10002）、<a target="_blank">上海财经大学</a>（10272）、<a target="_blank">杭州商学院</a>（10353）、天津财经学院（10070）、<a target="_blank">中南财经政法大学</a>（11943）、<a target="_blank">北京大学</a>（10001）、<a target="_blank">复旦大学</a>（10246）、<a data-lemmaid="134521" target="_blank">南开大学</a>（10055）、<a target="_blank">东北财经大学</a>（10173）、<a target="_blank">暨南大学</a>（10559）、<a target="_blank">广东外语外贸大学</a>（11846）、<a target="_blank">中央财经大学</a>（10034）、<a target="_blank">西南财经大学</a>（10651）、辽宁大学（10140）、北京师范大学（10027）、华东师范大学（10269）、广东中山大学（10558）、北京理工大学<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_46272"> </a>
（10007）、吉林大学（10183）、[陕西]西北工业大学（10699）、西安财经学院（11560）、哈尔滨工业大学（10213）、兰州大学（10730）、武汉工程大学（10490）、重庆工商大学（10618）、西安理工大学（10700）、安徽大学（10357）、中国科学技术大学（10358）、安徽理工大学（10361）、兰州理工大学（10731）、兰州商学院(10741)、辽宁工程技术大学（10147）、内蒙古工业大学（10128）、沈阳化工学院（10149）成都信息工程学院（10621）杭州电子科技大学（071601）河北大学、安徽工程大学、青岛大学、广州医科大学，重庆三峡学院。</div>
<div class="para" label-module="para">新增这个专业的院校还有：西安电子科技大学、湘潭大学、天津商业大学、天津财经大学、邯郸学院、赤峰学院、吉林建筑工程学院、北华大学、东北农业大学、上海第二工业大学、江苏技术师范学院、西安工程大学、巢湖学院、泰山学院、周口师范学院、韩山师范学院、湛江师范学院、广东金融学院、中山大学新华学院、广东白云学院、北京师范大学珠海分校、北京理工大学珠海学院、海南医学院、遵义师范学院、安康学院、榆林学院、西安欧亚学院、喀什师范学院等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub46272_8"></a>
<a class="lemma-anchor " name="院校排名"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">统计学专业</span>院校排名</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">本一级学科中，全国具有“博士一级”授权的高校共56所，本次有46所参评；还有部分具有“博士二级”授权和硕士授权的高校参加了评估；参评高校共计87所。 注：以下相同得分按学校代码顺序排列。</div>
<table class="table-view log-set-param" log-set-param="table_view" width="560"><tr><td align="center" height="25" valign="middle"><div class="para" label-module="para"><b>学校代码及名称</b></div>
</td><td align="center" height="25" valign="middle"><div class="para" label-module="para"><b>学科整体水平得分</b></div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10002 中国人民大学</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">90</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10001 北京大学</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">88</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10384 厦门大学</div>
</td><td align="center" valign="middle"><div class="para" label-module="para">85</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10055 南开大学</div>
</td><td align="center" height="0" rowspan="4" valign="middle"><div class="para" label-module="para">83</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10200 东北师范大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10269 华东师范大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10272 上海财经大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10353 浙江工商大学</div>
</td><td align="center" height="0" rowspan="3" valign="middle"><div class="para" label-module="para">78</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10358 中国科学技术大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10422 山东大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10004 北京交通大学</div>
</td><td align="center" height="0" rowspan="4" valign="middle"><div class="para" label-module="para">76</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10027 北京师范大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10034 中央财经大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10173 东北财经大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10028 首都师范大学</div>
</td><td align="center" height="0" rowspan="5" valign="middle"><div class="para" label-module="para">74</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10038 首都经济贸易大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10246 复旦大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10335 浙江大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10558 中山大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10003 清华大学</div>
</td><td align="center" height="0" rowspan="6" valign="middle"><div class="para" label-module="para">73</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10248 上海交通大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10532 湖南大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10533 中南大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10559 暨南大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10610 四川大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10213 哈尔滨工业大学</div>
</td><td align="center" height="0" rowspan="6" valign="middle"><div class="para" label-module="para">72</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10284 南京大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10486 武汉大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10487 华中科技大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10520 中南财经政法大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10635 西南大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10036 对外经济贸易大学</div>
</td><td align="center" height="0" rowspan="9" valign="middle"><div class="para" label-module="para">70</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10125 山西财经大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10183 吉林大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10285 苏州大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10357 安徽大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10386 福州大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10611 重庆大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">11078 广州大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">11560 西安财经学院</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10378 安徽财经大学</div>
</td><td align="center" height="0" rowspan="4" valign="middle"><div class="para" label-module="para">69</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10511 华中师范大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10689 云南财经大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10698 西安交通大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10011 北京工商大学</div>
</td><td align="center" height="0" rowspan="17" valign="middle"><div class="para" label-module="para">68</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10094 河北师范大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10140 辽宁大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10252 上海理工大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10280 上海大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10299 江苏大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10320 江苏师范大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10327 南京财经大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10446 曲阜师范大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10459 郑州大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10530 湘潭大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10596 桂林理工大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10697 西北大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10741 兰州商学院</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">11117 扬州大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">11482 浙江财经学院</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">11799 重庆工商大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10319 南京师范大学</div>
</td><td align="center" height="0" rowspan="6" valign="middle"><div class="para" label-module="para">66</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10475 河南大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10488 武汉科技大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10512 湖北大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10701 西安电子科技大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">11414 中国石油大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10052 中央民族大学</div>
</td><td align="center" height="0" rowspan="15" valign="middle"><div class="para" label-module="para">65</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10294 河海大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10336 杭州电子科技大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10338 浙江理工大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10389 福建农林大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10491 中国地质大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10513 湖北师范学院</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10536 长沙理工大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10602 广西师范大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10613 西南交通大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10681 云南师范大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10736 西北师范大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10759 石河子大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">11660 重庆理工大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">11846 广东外语外贸大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10112 太原理工大学</div>
</td><td align="center" height="0" rowspan="5" valign="middle"><div class="para" label-module="para">64</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10165 辽宁师范大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10166 沈阳师范大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10231 哈尔滨师范大学</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10574 华南师范大学</div>
</td></tr></table><div class="anchor-list">
<a class="lemma-anchor para-title" name="9"></a>
<a class="lemma-anchor " name="sub46272_9"></a>
<a class="lemma-anchor " name="研究概况"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">统计学专业</span>研究概况</h2>
<a class="edit-icon j-edit-link" data-edit-dl="9"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">20世纪的最后五年，人类富有<a target="_blank">创造</a>性的勤奋努力，使信息技术、生命科学等领域的研究取得了重大突破，在科学技术史册中谱写了光辉的篇章。统计学学科伴随着科学技术的发展在理论研究和实际应用中也取得了可喜的进展。本报告分别从国外、国内研究概况及中国高校统计学科的研究发展情况给予扼要总结和回顾。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="9_1"></a>
<a class="lemma-anchor " name="sub46272_9_1"></a>
<a class="lemma-anchor " name="国外概况"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">统计学专业</span>国外概况</h3>
</div>
<div class="para" label-module="para">随着科学技术的飞速发展，统计方法与技术的应用越来越重要。19世纪统计技术为<a target="_blank">基因学说</a>奠定了理论基础，在即将跨入21世纪的今天，科学技术对<a target="_blank">统计方法</a>的依赖愈来愈强。世界上许多国家尤其是发达国家都非常重视统计学理论的研究和发展。根据<a target="_blank">国际统计学会</a>（ISI）近几年的会刊及统计学方面的著名杂志，可将近几年国际统计界研究的主要问题概括如下：</div>
<div class="para" label-module="para"><b>1.统计学基本理论研究有</b>：概率极限理论及其在统计中应用、树形概率、Banach空间概率、随机PDE’S、泊松逼近、随机网络、<a target="_blank">马尔科夫过程</a>及场论、马尔科夫收敛率、布朗运动与偏微分方程、空间分支总体的极限、大的偏差与随机中数、序贯分析和时序分析中的交叉界限问题、马尔科夫过程与狄利克雷表的一一对应关系、函数估计中的<a target="_blank">中心极限定理</a>、极限定理的稳定性问题、因果关系与统计推断、预测推断、网络推断、似然、M——估计量与最大似然估计、参数模型中的精确逼近、非参数估计中的自适应方法、多元分析中的新内容、时间序列理论与应用、非线性时间序列、时间序列中确定模型与随机模型比较、极值统计、贝叶斯计算、变点分析、对随机PDE’S的估计、测度值的处理、函数数据统计分析等。</div>
<div class="para" label-module="para"><b>2.统计学主要应用领域有</b>：社会发展与评价、持续发展与环境保护、资源保护与利用、电子商务、保险精算、金融业数据库建设与风险管理、宏观经济监测与预测、政府统计数据收集与质量保证等、分子生物学中的统计方法、高科技农业研究中的统计方法、<a target="_blank">生物制药技术</a>中的统计方法、流行病规律研究与探索的统计方法、人类染色体工程研究中的统计方法、<a target="_blank">质量与可靠性工程</a>等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="9_2"></a>
<a class="lemma-anchor " name="sub46272_9_2"></a>
<a class="lemma-anchor " name="国内概况"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">统计学专业</span>国内概况</h3>
</div>
<div class="para" label-module="para">“九五”期间中国统计界出现了<a target="_blank">社会经济统计学</a>与数理统计学相互学习、共同提高、共创未来的新局面。1996年10月，<a target="_blank">中国统计学会</a>、中国概率统计学会、中国现场统计学会联合举办了全国统计科学讨论会，这是“九五”期间中国统计学术界一次盛会，它标志着中国社会经济统计学与数理统计学的合作已进入实质性阶段。统计界在数理统计与社会经济统计学的结合方面、风险管理与保险精算方面、空间统计学及其应用方面、政府统计数据质量研究与评价方面、信息技术、网络技术在统计学的应用方面、金融及证券理论研究方面、<a target="_blank">国民经济核算</a>理论与应用方面、综合国力研究方面等取得了可喜的成就。“九五”期间国内统计界主要有影响的研究可概括如下：</div>
<div class="para" label-module="para"><b>1.理学类统计学一级学科地位的确立</b></div>
<div class="para" label-module="para">“九五”期间中国统计界关于建立和完善统计学学科体系的研究与争论异常激烈。统计界对“大统计”的认识通过大量探索已逐步趋向统一。所谓“大统计”是针对中国过去数理统计、社会经济统计、生物医学统计等各学科领域的应用统计各自为政相对面窄而言。1998年9月国家教育部颁布的《普通高等学校本科专业目录和专业介绍》将统计学列为<a target="_blank">理学类</a><a target="_blank">一级学科</a>，这是中国统计界“九五”期间的重大成就。教育部这项专业调整是为了适应市场经济与国际接轨的要求，在“宽口径，厚基础”的指导思想下，将原来的504个专业调整到249个专业，50%以上专业被砍掉，然而统计学不仅保留，而且列入理学类一级学科，这是中国统计界广大理论工作者辛勤努力的重要成就，是中国统计界值得庆幸的大事，它的颁布对中国统计的未来具有重大意义和深远影响。这一专业目录的确定为中国统计界长期的争论进一步指明了发展方向。这个方向就是——适应市场经济与国际接轨的统计学就是<a target="_blank">理学类</a>统计学。统计学<a target="_blank">一级学科</a>的地位表明统计学既不是经济学的一个子学科，也不是数学的一个子学科，统计学就是统计学。尽管统计学被教育部专业目录确定为理学类一级学科，但统计界，尤其是中国高等统计教育界经济类统计学者反对者甚多。有的学者认为理学类统计学就是数学，只有经济学其中的统计学才是统计学。赞成者认为统计学就是统计学，理学类统计学与数学有着质的区别，经济学类的统计学已被中国实践证明是<a target="_blank">前苏联</a>的文科式统计学，根本不能代表作为方法论的整个统计学科。这一争论还将继续一段时间。</div>
<div class="para" label-module="para"><b>2.统计学基本理论与方法问题研究</b></div>
<div class="para" label-module="para">“九五”期间中国统计界围绕与国际统计学接轨做了大量研究工作，系统地介绍了国外统计学研究的一些新进展。这方面最为突出的是<a target="_blank">国家统计局</a>统计教育中心和<a target="_blank">中国统计出版社</a>组织国内一流统计专家翻译出版了15本现代外国统计学优秀著作。这些著作令中国统计界不少学者大开眼界，从中汲取丰富的统计理论和方法，已在中国统计界产生了积极影响，为<a target="_blank">理学类</a>统计学科的建立与发展奠定了基础。为适用新专业目录的需要，国内高校的统计教师们编写了一批<a target="_blank">统计方法</a>和应用的新教材。中国统计界在<a target="_blank">抽样方法</a>、<a target="_blank">时间序列分析</a>、多元统计分析、非参数统计、回归分析、指数理论、宏观经济建模等理论与应用研究方面作了大量工作。</div>
<div class="para" label-module="para"><b>3. 政府统计数据质量的研究</b></div>
<div class="para" label-module="para">随着中国<a target="_blank">社会主义市场经济</a>的深入发展，政府统计数据无论是在国家制定发展战略和社会、经济发展的宏观调控中，还是企业制定营销策略以及社会、经济、环境等科学研究领域都起着不可或缺的重要作用，用户对政府统计数据的内在质量以及数据的产生、提供过程的可靠性的企盼也越来越高。关于中国政府统计数据的质量关注和研究的学者很多，发表的论文或报告已有近百篇之多。几乎每个省都设立了<a target="_blank">统计数据</a>质量研究的课题，全国哲学社会科学基金还设立了“关于评估、改进和保证中国政府统计数据质量问题的研究”的重点项目。该项目从定性与定量的有机结合上开展对政府统计数据的评价与研究，主要从技术与方法上对中国政府统计数据的质量作出客观评价，对改进、提高、控制、监测中国政府统计数据的质量从理论与实践的结合上做了一些研究和探索。但总体来看，现有的大多数研究基本停留在定性的评说上，提批评的多，提实质性建议的少；指责体制的多，研究评价、改进、识别的理论与方法的少，大多数文献把统计数据的质量问题归结为中国的政治、经济体制问题。事实上，纵观北美、欧盟等许多国家的政府统计数据，无一例外地也存在数据质量问题，政府统计数据的质量是各国普遍存在和广泛关注的热点问题。</div>
<div class="para" label-module="para"><b>4. 风险管理和保险精算的研究</b></div>
<div class="para" label-module="para">“九五”期间关于风险管理和保险精算的研究得到较快发展，主要表现在不少发达国家风险管理和保险精算名著的翻译出版，中国统计方面杂志以及几次全国概率统计学术会议这方面论文的显著增加。风险管理与保险精算的研究不仅满足中国社会主义市场经济的需要，也更大地扩展了统计学方法的应用。这方面的研究从引进国外理论已向中国的具体应用健康发展，保险精算的研究已由寿险领域向非寿险领域扩展，尤其是开始结合中国实际向社会保障领域有效延伸。</div>
<div class="para" label-module="para"><b>5. 统计学在金融、证券领域的应用研究</b></div>
<div class="para" label-module="para">1997年开始的<a target="_blank">亚洲金融风暴</a>，给亚洲乃至世界经济的健康发展带来危机，中国经济的发展也受到亚洲金融风暴的影响。国家的经济安全、金融安全被国家领导核心重视，为统计技术与方法的应用提供了新的机遇，在全国应运而生建立了金融数学与金融工程管理中心、证券期货模拟实验室、金融数学系等。全国有不少统计学者成为研究金融、证券、投资的主力。从发表的论文来看<a target="_blank">统计方法</a>研究金融、证券问题主要有：（1）有效投资组合研究。最为典型的是VaR技术的运用和具有异<a target="_blank">方差</a>的<a target="_blank">时间序列模型</a>技术的应用。（2）结构分析研究。运用多元统计方法分析股票的投资结构、探讨股票涨跌规律、寻求证券市场发展与影响因素的关系。（3）金融安全<a target="_blank">概率</a>的研究。有学者运用东南亚等国和中国的金融数据资料，结合金融安全给出预警概率，为国家<a target="_blank">宏观经济调控</a>和金融风险防范提供了有力的决策依据。</div>
<div class="para" label-module="para"><b>6. </b><a target="_blank"><b>统计综合评价</b></a><b>理论与应用的研究</b></div>
<div class="para" label-module="para">国际竞争力的研究是颇受世界各国关注的重要研究。中国学者在“九五”期间开始开展这一领域的研究、并且通过刻苦努力紧跟这一领域的世界水平，在这方面中国学者所用的<a target="_blank">统计方法</a>与世界水平相当，结合中国国情国力取得了重要成果。这方面有国民经济核算进一步发展的国际竞争力统计研究，<a target="_blank">知识经济时代</a>中国科技创新的国际竞争力研究，<a target="_blank">中国金融</a>、保险等领域的国际竞争力研究还有统计方法在社会经济发展水平的综合评价中的应用，顾客满意度量测与评价的研究等。</div>
<div class="para" label-module="para"><b>7. 国民经济核算理论与应用研究</b></div>
<div class="para" label-module="para">“九五”期间，中国的<a target="_blank">国民经济核算体系</a>研究进一步完善。在内容上，以增加值和GDP为核心，已经能比较全面地反映中国国民经济生产全过程、收入与分配、消费、储蓄、实物投资、金融投资、国际收支、资本和财富存量的变化等。为国家制定经济政策和宏观调控发挥着积极作用。可喜的是已有一些学者在国家的可持续发展、环境与核算技术相结合方面取得了重要研究成果。</div>
<div class="para" label-module="para"><b>8.质量体系认证应用研究</b></div>
<div class="para" label-module="para">“九五”期间，一股“ISO9000”认证热席卷全球，质量体系认证日益成为国际贸易中所要求的供方质量保证能力和水平的标志。<a target="_blank">ISO9000族标准</a>中有许多要素涉及到统计技术与方法的应用，中国已有近2万家大中型企业通过了认证。这方面的认证，对统计方法的应用提供了新的机会，中国不少统计学者找到了统计应用的现场，为国有企业员工培训、提高素质、扭亏增盈，国家经济形势好转发挥了统计工作者的积极作用。特别是<a target="_blank">试验设计</a>、ISO14000和6质量标准技术的推广对改进企业管理水平，提高产品质量，提升企业国际竞争力发挥了重要作用。</div>
<div class="para" label-module="para"><b>9.抽样调查方法的研究与应用</b></div>
<div class="para" label-module="para">“九五”期间关于抽样调查方法的研究与应用在中国开展的如火如荼。例如，交通部还建立了统计抽样调查系统。交通运输的大量统计数据已基本由抽样调查方法获得。全国许多行业对本部门关心的问题进行抽样调查，不少部门就公众关注的热点问题开展公众调查，有的报刊还定期刊登公众调查的调查报告。中国90年代初成立了不少市场调查公司，经过几年的大浪淘沙，全国生存下来的公司经营状况不错。网上调查、<a target="_blank">电话调查</a>在中国也健康发展。有关抽样调查的理论，如非抽样误差控制的研究也得到统计界的广泛重视。</div>
<div class="para" label-module="para"><b>10．空间统计与</b><a target="_blank"><b>地理信息系统</b></a><b>的应用研究</b></div>
<div class="para" label-module="para">空间统计学是近几年统计学发展的一个新领域，其主要的应用包括遥感，国土资源估计，农业和林业，海洋学、生态学和环境观测。在<a target="_blank">遥感技术</a>的应用中，得到的统计数据通常以网络的形式出现，而且这些数据受到<a target="_blank">大气效应</a>、观测位置以及测量工具的影响产生误差，空间统计学的应用在于，针对这种特殊的数据，研究如何控制误差、如何建立模型、如何处理资料信息。在资源的估测中，空间统计学的应用在于，如何利用空间统计数据，估计资源的总储量、资源的地区分布、资源的开发等。在环境监测等领域也作了积极的探索。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="10"></a>
<a class="lemma-anchor " name="sub46272_10"></a>
<a class="lemma-anchor " name="高校概况"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">统计学专业</span>高校概况</h2>
<a class="edit-icon j-edit-link" data-edit-dl="10"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">“八五”期间有不少财经类院校把统计系改造成信息系、投资系、市场营销系等，统计学的发展与生存受到严峻挑战。“九五”期间高校统计学教师非常关心统计学的发展命运，广大统计学教师清醒地认识到统计专业如果仍然是前苏联模式的修修补补，肯定没有出路。经过许多统计工作者的努力奋斗，教育部召集专家，研究讨论，把握大局、顺从事物发展规律、果断地将统计学列为理学类一级学科。这是中国统计走向世界的重要举措。这一具有战略眼光的重大决策，为中国统计的发展带来了希望。为了加强统计学一级学科的地位、提高统计学研究与应用的水平、早日赶上世界统计学发展的水平。教育部在普通高等学校人文社会科学又设立重点研究基地。<a target="_blank">中国人民大学应用统计科学研究中心</a>在2000年9月被确立为重点研究基地。这一基地是一个全国性应用统计研究的平台。它为统计工作者搭起了一座涵盖经济、社会、管理、人口、教育、心理、法律、生物、医学、国防等领域应用统计研究的平台，它可以以国内一流的软硬件条件吸引国内外的科研项目和应用统计领域的专家学者，推动统计在各个领域中的应用，提高中国应用<a target="_blank">统计总体</a>研究水平。这一研究基地的建设是中国统计界“九五”期间的一个重大成就，这一研究基地的有效利用和巩固发展是“十五”期间中国统计界的重要任务。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_46272"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="11"></a>
<a class="lemma-anchor " name="sub46272_11"></a>
<a class="lemma-anchor " name="特点优势"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">统计学专业</span>特点优势</h2>
<a class="edit-icon j-edit-link" data-edit-dl="11"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">高等院校从事统计课程教学的教师，是中国统计学学科理论研究与应用普及的重要群体。高校从事统计学教学的教师具有理论基础扎实、学习新知识快的优势，是中国统计科学研究的主力军。高校统计教师的科研特点是注重基础理论与<a target="_blank">统计方法</a>的研究，更加关注统计学科的发展和建设，绝大多数统计新理论新方法都是由高校统计教师首先引入中国。全国性的三个统计学会中大部分的会员是高校教师，高校教师不仅担负着培养统计人才的重任，同时还肩负着重要的科研任务，无论是统计学学科以及与统计学有关的边缘学科的重点课题，还是各个领域的统计学应用，高校教师都发挥着非常重要的作用。近几年在国内外刊物上发表的统计论文和出版的统计学著作绝大多数都是高校教师的科研成果。在中国统计学学科发展的实践中，高校教师在统计理论与应用普及中将发挥着不可或缺的重要作用。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="12"></a>
<a class="lemma-anchor " name="sub46272_12"></a>
<a class="lemma-anchor " name="存在问题"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">统计学专业</span>存在问题</h2>
<a class="edit-icon j-edit-link" data-edit-dl="12"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">虽然“九五”期间高校的统计科学研究取得了丰硕的优秀成果，但与本学科的发展趋势和中国统计实践的需求来看，我们还存在许多问题，距世界发达国家的统计理论与应用水平尚有较大差距。存在的问题可概括如下：</div>
<div class="para" label-module="para">(1)统计学一级学科体系的建设尚须完善。统计学被教育部专业新目录列为一级学科，这是统计学顺应历史潮流，与国际接轨的重要举措。但这方面的宣传力度不够，甚至仍有许多统计教师认为<a target="_blank">理科</a>的统计学就是数学，仍然不肯放弃前苏联文科式的统计学，甚至有相当一部分教师认为应将统计学改回到原来的经济学下属的二级子学科。适应一级学科的学科内容及专业课程设置是急待解决的大问题，大多数院校的统计专业仍将“社会经济统计学原理”“工业统计、商业统计、农业统计”等作为该专业优秀课程。与一级学科相适应的课程理所当然的是要加大数理统计理论与方法的比重。统计学是处理数据的方法论学科，不是指标解释。加大数理统计与计算机的教学比重是中国统计学成熟的重要举措和主要标志。研究生专业目录及其学位点的设置也应考虑进一步规范。</div>
<div class="para" label-module="para">(2)中国统计教育的发展严重滞后于中国统计实践的需求。市场经济的发展使中国统计面临严峻的挑战和难得的机遇。市场经济对统计信息的需求更大，它要求更有效的挖掘出统计数据中信息和数量的规律性。统计学是处理<a target="_blank">统计数据</a>的方法，对于统计数据所计算的<a target="_blank">平均数</a>、百分数的计算是对统计数据的粗加工，是对统计数据的严重浪费，因为它与从中挖掘出规律性的东西相差甚远。但中国的统计教育除少数院校对统计专业进行大手术，放弃以小学算术为主的统计学原理教学，改造了几大经济部门统计外，绝大部分仍是前苏联统计学学科模式的修修补补。可以预见，中国市场经济以及中国统计实践将淘汰坚持旧模式的统计专业，学生无人报考、毕业生找不到工作这将是残酷的现实。</div>
<div class="para" label-module="para">(3)高校统计专业教师急需培养和提高。一级学科的统计学首先要求教师要有良好的数学基础，现代统计学理论和方法是以数学为基础。然而中国从事高等统计教育的教师，除少数院校的统计教师可以适应一级学科对教师的要求外，绝大多数统计教师属于前苏联的文科式统计基础，远远不能适应一级学科统计学的要求。这不仅严重影响中国统计整体水平的提高，也是<a target="_blank">理学类</a>一级学科的统计学遭到强烈反对的重要原因。教育部应加大改变力度，以战略眼光认真对待高校统计教师的提高和培养。</div>
<div class="para" label-module="para">(4)统计学科研经费严重不足。统计学的理论研究及其应用与传统的文科式统计学有着质的区别，它的研究与应用需要足够的经费保证。自然科学类青年项目的资助强度已达到十几万元，而统计学重点项目的支持强度才几万元。这严重影响统计学科研成果的深度和水平。既然是<a target="_blank">一级学科</a>，就要向一级学科的各方面去努力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="13"></a>
<a class="lemma-anchor " name="sub46272_13"></a>
<a class="lemma-anchor " name="学科发展"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">统计学专业</span>学科发展</h2>
<a class="edit-icon j-edit-link" data-edit-dl="13"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">人类带着上个千年创造的辉煌跨入新的千年。面对忽忽到来的21世纪，每个人、每个实体、每个学科，乃至整个国家都面临机遇和挑战。欲行千里，始于足下，走好21世纪的头五年，至关重要。在此，我们将对21世纪的头五年，即中国经济社会发展的第十个五年计划中，统计学学科的发展予以厚望。</div>
<div class="para" label-module="para"><b>一、统计学学科的研究发展趋势</b></div>
<div class="para" label-module="para">21世纪是知识经济的时代，信息技术、计算机技术为统计学理论与方法的发展将产生巨大的推动作用。知识创新是时代的基本特征。统计学理论与方法的创新必将为众多领域和学科的发展体现出应有的价值。统计学与其他学科的紧密结合将产生新的边缘学科，许多学科的发展将依赖于统计理论与技术的应用，更为复杂数据的处理方法将成为统计理论界研究的热点，实用快捷的统计方法与技术将更加普及。</div>
<div class="para" label-module="para"><b>二、十五”期间统计学学科研究的奋斗目标</b></div>
<div class="para" label-module="para">“九五”期间统计学学科的建立为“十五”已打下了坚实基础，通过五年的努力，中国统计学理学类一级学科的地位将更加牢固，中国高等统计教育将发生较大的变化，大多数院校的统计专业将改造成适应一级学科地位的统计学，高校统计专业的课程设置将更具有时代特点，统计学理论与方法的应用将在社会主义市场经济建设中发挥重大作用。有些统计学理论研究与应用将缩小与世界水平的差距，在某些研究方面将达到世界先进水平。</div>
<div class="para" label-module="para"><b>三、“十五”期间统计学研究的重点领域</b></div>
<div class="para" label-module="para">1．统计理论与方法的创新研究</div>
<div class="para" label-module="para">统计学的生命力就在于应用，应用为统计学的发展赋予活力。</div>
<div class="para" label-module="para">“十五”期间异方差性时间序列问题研究、离散多元统计分析研究、数据挖掘理论研究、异常数据诊断的研究、非参数理论与方法的研究、抽样与非抽样误差理论的研究等将是统计理论研究的热点。知识经济、新经济对统计理论与方法提出更高要求，如何适应电子商务时代统计数据的收集，空间遥感技术的运用等都为统计理论提出新挑战，统计工作者必须创新出适合各种复杂类型数据的<a target="_blank">统计方法</a>才能适应实践的需求。</div>
<div class="para" label-module="para">2．开展空间<a target="_blank">统计学理论与应用</a>的研究</div>
<div class="para" label-module="para">空间统计学是近几年统计学发展的一个新领域，主要指运用遥感技术进行国土资源的测定，农业和林业、海洋生物、环境生态的观测。这种观测数据通常表现为网络形式，而且这些数据受到<a target="_blank">大气效应</a>、观测工具等诸多因素的影响。空间统计学的应用在于，针对这种特殊的数据，研究误差控制、数据处理、模型建立、统计推断。这将是统计学研究的新领域。</div>
<div class="para" label-module="para">计算机技术的发展对统计学发展影响的研究</div>
<div class="para" label-module="para">信息技术与计算机技术的发展是推动新经济发展的主要动力。可以断言，没有计算机的发展就没有<a target="_blank">统计方法</a>的普遍有效应用。计算机技术的飞速发展为统计学方法的应用带来挑战和发展的机遇。统计数据的收集如何有效借助网络技术，<a target="_blank">统计调查</a>方法如何适应现代信息技术，统计数据处理如何深入都将成为研究的热点问题。</div>
<div class="para" label-module="para">3．生命科学与生物技术中统计方法的应用研究</div>
<div class="para" label-module="para">21世纪是生命科学的世纪，人类不久将完全揭示人类基因排序。19世纪中叶<a target="_blank">基因学说</a>的创立，就是依赖于统计推断技术，21世纪生命科学中将有大量的相关研究要借助<a target="_blank">统计方法</a>与技术，这个领域的学者将大有作为。21世纪医学领域的科技创新，将使许多不治之症得到解决，生物制药将在医学领域大放异彩，统计学方法在生物制药技术中的广泛应用将是不争的事实。美国辉瑞制药公司每年投入50亿美金用于研究发展，在美的<a target="_blank">生物统计</a>人员极易找到高薪的工作就足以说明这一领域的广阔前景。</div>
<div class="para" label-module="para">4．<a target="_blank">国家经济安全</a>与金融、保险领域的应用研究</div>
<div class="para" label-module="para">国家的经济安全及其金融危机的防范问题是<a target="_blank">中国改革</a>开放中必须高度重视的问题。国家经济安全、金融危机的预警系统的研究是与统计学方法紧密联系的研究热点，投资项目的<a target="_blank">风险管理研究</a>也将依赖统计学者去研究解决。保险产品的精算理论与实践在“九五”期间得到一定的进展，为这一领域的深入发展奠定了基础，如何将发达国家保险精算的理论与中国保险业实际相结合值得深入研究，尤其是保险精算方法向社会保障领域延伸的研究是中国国情赋予给这个领域的迫切任务。</div>
<div class="para" label-module="para">5．政府统计数据质量的进一步研究</div>
<div class="para" label-module="para">政府统计数据的质量在“九五”期间得到国人的普遍关注。不仅国家哲学社科基金设立重点研究课题，几乎各地方政府也设专项研究，发表的论文已有近百篇。然而这方面的研究还有待深入，不仅从制度上约束、控制数据的可靠性，从检测、验证的方法上还需进一步探讨。有的重点课题已在检验方法上有所突破，但如何具体与中国政府实际数据紧密结合，实施这些方法还须加大力度进行研究和实践。</div>
<div class="para" label-module="para">6．统计学在社会、人口、教育、环境等领域的应用研究</div>
<div class="para" label-module="para">社会的发展、人口的控制、教育结构的调整与发展、环境的保护等领域存在着大量急待研究的问题，统计学方法是定性与定量研究的有力工具。统计学方法在这些领域将会有广阔的应用前景。</div>
<div class="para" label-module="para"><b>四、“十五”期间统计学重点研究课题及其简要论证</b></div>
<div class="para" label-module="para">1． 中国统计教育发展战略研究</div>
<div class="para" label-module="para">统计教育是统计科学长期发展的战略问题。但中国统计教育却存在着招生难、分配难、经费缺、师资不足、教材陈旧、课程设置不合理等诸多问题。因此，加强统计教育研究也是我们的重要课题。</div>
<div class="para" label-module="para">研究内容包括：统计教育指导思想的研究；统计教育发展目标的研究；统计教育如何适应市场经济发展的要求，适应现代信息产业与信息技术的要求，适应与国际接轨的要求等问题，要研究统计教育改革与培养目标模式转换的问题；统计专业培养方案研究；研究统计教育基础理论课程设置和统计教育办学层次问题；研究统计教学方法及教学中计算机运用的问题；研究统计师资队伍建设与培养问题。</div>
<div class="para" label-module="para">理学类一级学科的统计学课程建设的研究</div>
<div class="para" label-module="para">中国大多数院校统计专业的课程设置基本上是前苏联的文科模式，这与国际接轨的理学类统计学严重不适应。统计学专业应该开设一些什么课程，这关系到统计专业是否得到社会认可，是关系到统计专业生存与发展的大问题。课程建设与课程设置、教材编写必须高度重视，这应该成为“十五”期间研究解决的主要课题之一。</div>
<div class="para" label-module="para">关于提高政府统计数据质量问题的进一步研究部分统计数据的质量低，可靠性不够是从上到下各级领导与各界人士广泛关注的热点问题之一。提高和保证中国官方统计数据的质量，不仅是政府进行宏观决策重要保证，也是改善社会风气重要方面之一。要想从根本上提高和保证官方统计数据的质量，从统计学的角度看，必须解决好以下问题：（1）建立评价统计数据质量的质量标准；（2）对影响统计数据质量的各种因素进行系统分析，找出其中限制性环节；（3）对现有各种<a target="_blank">统计调查</a>方法的实用性进行比较研究，确定适合中国国情的科学的统计调查方法体系；（4）建立统计数据质量控制体系，选择适当的方法和控制手段，对统计数据质量实现从指标、设计、调查、汇总到分布的全过程质量控制；（5）宏观总量数据的科学估算问题研究。这些问题在“九五”期间已得到较多研究，但是检验、诊断及控制数据质量的实践研究须进一步深入。</div>
<div class="para" label-module="para">中国“地下经济”活动核算的理论和方法研究</div>
<div class="para" label-module="para">过去几年，中国的“地下经济”问题表现很突出，并引起人们的关注。“地下经济”的存在，它的规模多大，性质如何，影响怎样，会影响到国民生产总值和人民生活水平的正确统计，影响对改革开放成果的评价，也影响到中国经济政策和调控措施的落实。对“地下经济”问题的研究、计量已是完善国民经济核算体系，改善客观经济管理的重要内容。西方国家对“地下经济”的研究已有20多年的历史，但一直没有形成十分成熟的理论和方法。结合中国“地下经济”的具体特点，研究“地下经济”核算的理论和方法，不仅具有现实意义，也具有国际意义。</div>
<div class="para" label-module="para">对“地下经济”核算理论与方法的研究主要包括：“地下经济”的界定与划分；“地下经济”的核算范围；“地下经济”活动的性质及表现；“地下经济”的测算方法如直接调查法、间接推算法、各种测算方法的结合运用；“地下间接”调查方法体系的建立与实施；“地下经济”对国民经济核算的影响及分析，“地下经济”对国民经济发展影响的统计分析等。这一研究课题在“九五”期间就曾提出，但实质性的进展不大。</div>
<div class="para" label-module="para">关于旅游经济、假日经济和休闲时间的统计研究</div>
<div class="para" label-module="para">“十五”期间中国的经济结构将得到进一步调整，假日经济、旅游经济将占一席之地。关于这个领域<a target="_blank">统计指标体系</a>的建立问题的研究，旅游客流量、宾馆入住率、景点门票收入、餐饮业收入、航空、铁路等运输客流量的预测研究等。随着人民生活水平的提高，生活质量及其休闲时间的规律研究对于制定有关政策，开发市场都具有重要的现实意义。这些都是统计科学应用的新课题。</div>
<div class="para" label-module="para">抽样技术在社会经济统计调查中的应用</div>
<div class="para" label-module="para">尽管从理论上讲，抽样技术从样本容量确定到抽样估计都已经比较成熟，但在抽样方法的具体应用过程中却存在许多难于解决的实际问题。尤其是运用<a target="_blank">抽样技术</a>于社会经济现象的调查中更是如此。当前中国统计制度改革的重要内容之一是推行以<a target="_blank">抽样调查</a>为中心，以定期普查为基础的新<a target="_blank">统计调查</a>体系。而这要求我们必须解决应用抽样调查技术所面临的许多具体实际问题，包括：（1）抽样调查中国家样本和地方样本的协调与配合问题；（2）对于按某一标志代表性抽取的样本，如何保证其它标志的代表性问题；（3）抽样调查中的不回答问题；（4）抽样调查过程中调查误差的控制问题；（5）对于缺损数据的科学估算问题；（6）抽样调查方案设计与实施中其它问题。在研究过程中，始终要注意考虑中国的具体国情。“十五”期间更应关注网络技术和通信技术在<a target="_blank">抽样调查</a>中的应用研究。</div>
<div class="para" label-module="para">关于中国居民消费模式的量化研究</div>
<div class="para" label-module="para">消费与收入之间有着密切的关系。消费函数是可支配收入与总消费支出之间关系的数学描述。研究中国居民消费与收入之间的关系，量测中国居民的消费水平，探讨影响居民消费的主要因素。研究者应考虑到影响消费的众多因素，利用统计数据，建立消费模型，并总结建立中国消费函数应注意的问题和经验。</div>
<div class="para" label-module="para">中国第五次人口普查数据资料的深度分析</div>
<div class="para" label-module="para">2000年11月1日的第五次人口普查是跨入21世纪的一次规模最大的统计调查，这些大量数据无疑隐含着非常宝贵的信息，对这些数据的深入挖掘和分析，为国家制定各种宏观政策将起到巨大作用。过去受统计人员水平和计算机水平所限中国对人口普查数据的挖掘远不如国外的竞争对手。“十五”期间对第五次人口普查数据的深入分析是中国政府统计界的一大任务。</div>
<div class="para" label-module="para">关于灾害损失统计指标与方法的研究</div>
<div class="para" label-module="para">自然灾害是人类不能回避的一个现实问题，几乎每年都有不同的自然灾害，给人民生命财产造成极大损失。总结研究自然灾害及其造成的损失具有重大的现实意义。统计指标的建立，数据的收集，规律的探讨这是总结和掌握灾害规律的重要过程。统计理论和方法在这一领域将会发挥重要作用。</div>
<div class="para" label-module="para">金融市场风险的测度及管理模型研究</div>
<div class="para" label-module="para">金融市场是具有高风险的市场。运用<a target="_blank">统计方法</a>研究金融风险，建立风险监测系统，不仅能够为管理层宏观调控金融市场提供科学的理论依据，而且对投资个人和机构实施风险控制具有重要指导作用。本课题立足中国金融市场，旨在从数量及数量关系上研究风险的测度方法，风险管理模型的选择及其管理对策。</div>
<div class="para" label-module="para">SPC技术在<a target="_blank">产品质量控制</a>中的应用</div>
<div class="para" label-module="para">产品的质量关系到企业的生存。中国许多企业非常重视产品质量控制，从产品的设计到生产的全过程的质量管理已经有些经验。但是这方面仍有潜力可挖，特别是统计方法在质量管理中的运用与发达国家差距较大。该课题研究应紧密结合某企业或某产品的生产过程，运用<a target="_blank">统计方法</a>，实施产品设计、生产的全过程控制。这方面的研究可结合企业<a target="_blank">ISO9000认证</a>进行。还可进一步探讨“6”质量标准在中国企业的推广应用。</div>
<div class="para" label-module="para">高新技术产业的综合考核与评价研究</div>
<div class="para" label-module="para">关于<a target="_blank">企业经济效益</a>的综合评价研究在过去已有不少，然而高新技术企业的评价考核指标体系的建立仍是一个新问题。高新技术企业与传统企业的评价指标应有严格的不同，应具有高新技术的自身特点。这方面研究需要政府统计与企业统计人员一起进行研究，探讨指标体系的建立，数据的收集、数据的分析等。</div>
<div class="para" label-module="para">关于数理统计方法普及和推广的研究</div>
<div class="para" label-module="para">数理统计方法的科学性已被中国广大统计工作者所接受，但由于历史原因，中国社会经济统计界对数理统计的基本理论和方法了解甚少。许多<a target="_blank">数理统计</a>方法数学味太浓，实际统计工作者难以掌握。如何普及数理统计方法，使广大统计工作者容易掌握，并在实践应用中有很强的可操作性是需研究的问题。研究者需提出切实的可行性方案，并给予论证。</div>
<div class="para" label-module="para">多元统计方法在社会经济数据处理中的应用</div>
<div class="para" label-module="para">多元统计分析是研究多个变量间相互关系的一个数理统计分支。经济问题的复杂多样性，经济因素间的互相制约性，通过<a target="_blank">多元分析</a>的一些方法，研究经济变量之间的相互关系，寻找影响经济现象的主要因素是非常有效的方法。研究者可结合社会主义建设中的任何具体问题进行研究，并注意总结多元统计方法在实际应用中存在的问题。</div>
<div class="para" label-module="para">时间序列分析在经济预测中的应用</div>
<div class="para" label-module="para">这里所说的时间序列是随机时间序列的分析，时间序列分析是数理统计中的一个重要分支。许多经济指标都可依时间顺序得到一串经济数据，按时间顺序排列的经济数据就是经济时间序列。利用<a target="_blank">时间序列</a>方法研究中国的某些经济指标的变化情况，建立相应的序列<a target="_blank">分析模型</a>，并用时序模型去预测某经济指标的未来数值为国家的宏观调控服务。研究者应注意在中国应用时间序列方法存在的问题，克服中国经济数据的一些缺陷，大力开展VaR模型技术的应用，总结时序分析在中国应用的经验。</div>
<div class="para" label-module="para">复杂动态随机系统的统计学方法研究</div>
<div class="para" label-module="para">在社会、经济、自然等领域，经常遇到的反映现实的系统都是非常复杂的动态随机系统，它们的特征是，系统本身非常复杂，需要用成千上万个参数进行描述，而且有关数据一般只能通过观察而非实验来取得。此外，在这些系统的研究中，<a target="_blank">随机化</a>和可重复性难于保证。这样，就使得现有的各种统计学方法的应用效果不理想。在经济学研究中，现有各种大规模<a target="_blank">经济计量模型</a>在分析预测社会经济现象及其趋势时，经常出现失误，就是一个明显的例证。究其原因主要有：（1）模型过于抽象，脱离实际太远；（2）依据的数据质量不高；（3）采取的<a target="_blank">统计方法</a>要求的前提条件不能满足。类似的例子在研究许多生态、环境中的大系统问题时也经常出现。</div>
<div class="para" label-module="para">统计方法在教育、考试测量研究中的应用</div>
<div class="para" label-module="para">通过对各种考试现有资料的分析处理，并进行适当的实验测试分析研究，寻找出各种考试的自身规律和特点，为更好地组织考试提供科学依据。要列举出考试中各种因素，运用统计方法，分析研究这些因素对考试的影响，找出各主要影响因素，为更有效地控制这些因素提供方法和依据。这方面的研究是多变量的<a target="_blank">统计方法</a>的应用。多元统计分析方法是这一领域地主要研究工具。</div>
<div class="para" label-module="para">统计学方法在生命科学、生物制药等领域的应用</div>
<div class="para" label-module="para">生命科学、生物制药的研究在21世纪将得到飞速发展。这一领域的发展带动统计学理论与技术的发展，为统计理论和方法找到广阔的应用领域。通过对这一领域的应用将拓宽统计方法在中国的应用，也必将促进统计方法与理论的完善。</div>
<div class="para" label-module="para">参考文献：</div>
<div class="para" label-module="para">1．1996——1998年普通高校人文社会科学统计资料汇编</div>
<div class="para" label-module="para">2．教育部人文社会科学研究第二届优秀成果奖获奖成果简介汇编</div>
<div class="para" label-module="para">3．教育部人文社会科学重点研究基地建设试点工作文件汇编</div>
<div class="para" label-module="para">4．普通高等学校人文社会科学研究“九五”规划咨询报告汇编</div>
<div class="para" label-module="para">5．全国哲学、社会科学“九五”期间统计学发展回顾与“十五”期间研究的重要领域、方向与研究。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="14"></a>
<a class="lemma-anchor " name="sub46272_14"></a>
<a class="lemma-anchor " name="海外申请"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">统计学专业</span>海外申请</h2>
<a class="edit-icon j-edit-link" data-edit-dl="14"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="14_1"></a>
<a class="lemma-anchor " name="sub46272_14_1"></a>
<a class="lemma-anchor " name="就业前景"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">统计学专业</span>就业前景</h3>
</div>
<div class="para" label-module="para">按定义来说，统计学是应用数学的一个分支，主要通过利用概率论建立数学模型，收集所观察系统的数据，进行量化的分析、总结，做出推断和预测，为相关决策提供依据和参考。举个例子来说：某批药品的不合格率是否在可以允许的范围之内，以便确定它是否能投放市场，就需要通过统计学研究抽取的样本来判断。虽然统计学从属于数学类，但是从美国大学的设置来看，统计专业已经慢慢从数学系中独立出来，成为单独的统计系。现在越来越多的学校成立统计系就是最好的证明。</div>
<div class="para" label-module="para">统计是近些年非常热门的申请专业之一，统计学硕士毕业年薪通常可在6至8万美元以上。导致申请热门的最主要的原因就是申请者正是听说统计专业在美国的就业前景非常好，而且录取难度相对较低，因此无论是统计本专业的申请者还是转专业的申请者都将精力放在这个专业的申请上面。于是就加剧了统计专业的申请竞争。</div>
<div class="para" label-module="para">从美国开设统计学专业的学校来看，统计学大致可以分为两类，一类是偏向于理论研究的，另一类是偏向于实际应用的。参考美国几所典型的统计学学校，我们可以对统计学的研究方向加以总结。前者主要包括统计系或者数学系下的统计学，后者包含的方面就非常的广泛了，包括：数理统计、<a target="_blank">生物统计</a>、环境统计、金融统计、经济统计、遗传统计、农业统计等等。这些是统计在其他领域的应用而形成的研究分支。每个方向未来的发展也是不同的。</div>
<div class="para" label-module="para">如数理统计就是通过对随机现象有限次的观测或试验所得数据进行归纳，找出这有限数据的内在数量规律性，并据此对整体相应现象的数量规律性做出推断或判断。其在应用方面，例如可以通过<a target="_blank">统计方法</a>进行气象、水文以及地震预报的研究；在研制新产品时，利用统计学的知识进行试验设计和数据处理，以寻求最佳的生产方案等。</div>
<div class="para" label-module="para">生物统计则是运用<a target="_blank">数理统计</a>的原理和方法，分析和解释生物界的种种现象和数据资料，以求把握其本质和规律性。其最常见的是应用于医学、生物学、农学等的研究中，合理地进行调查或实验设计，科学地整理、分析收集得来的资料。在美国，<a target="_blank">生物统计</a>有很大一部分设置在公共健康学院 (School of Public Health) 里面，毕业后可以在医院或者科研机构进行研究工作。生物统计的发展非常快，现很多学校都专门设立了独立的生物统计系。</div>
<div class="para" label-module="para">另外，经济统计学也是比较热门的专业之一，他主要是对于经济金融活动进行数量方面的调查整理分析，目的是认识经济活动客观规律，对经济活动实行科学建议、管理与监督。</div>
<div class="para" label-module="para">除了以上比较热门的分支之外，还有社会统计等一些分支。但是随着学科的发展健全，美国统计专业的分支除了<a target="_blank">生物统计</a>之外划分的也没有那么明显，反而是学科间的融合越来越明显，统计与学校其他各个系之间的合作越来越多、越来越深入。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="14_2"></a>
<a class="lemma-anchor " name="sub46272_14_2"></a>
<a class="lemma-anchor " name="学校推荐"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">统计学专业</span>学校推荐</h3>
</div>
<div class="para" label-module="para">Stanford University</div>
<div class="para" label-module="para">特色：本科是本校毕业的学生必须参加学校的研究生入学考试，对非本校毕业的申请人只提供PhD课程。</div>
<div class="para" label-module="para">University of California-Berkeley</div>
<div class="para" label-module="para">特色：可以接受该专业背景的所有本科申请人，也可以接受本校其他专业的申请人；对于新的申请人只有秋季入学日期，申请截止日期是前一年的12月15日。</div>
<div class="para" label-module="para">HarvardUniversity</div>
<div class="para" label-module="para">特色：学校专门在统计学专业开设JOB机会，范围遍布其他学校及社会组织中；并且提供广泛的助教机会。</div>
<div class="para" label-module="para">要求：本科背景须是数学或统计学，四年本科，需提供GRE成绩，根据申请情况也可由GMAT替代。TOEFL成绩无硬性要求。</div>
<div class="para" label-module="para">The University of North Carolina at Chapel Hill</div>
<div class="para" label-module="para">特色：历史悠久，建立于1946年，学校针对统计学专业专门配置了计算机系统。</div>
<div class="para" label-module="para">University of Wisconsin Madison</div>
<div class="para" label-module="para">特色：历史悠久，建立于1960年，排名多次位于专业排名前五。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="14_3"></a>
<a class="lemma-anchor " name="sub46272_14_3"></a>
<a class="lemma-anchor " name="申请分析"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">统计学专业</span>申请分析</h3>
</div>
<div class="para" label-module="para">具备良好的数学背景是普遍的要求。美国大学的录取委员会在招人的时候，比较倾向于理工科背景的学生，尤其是本科期间统计学或者数学系的学生。因为其在大一、大二的基础课程大部分都是相同的，只是在大三大四的时候有所不同，但还是有很大一部分交叉的<a target="_blank">科目</a>，所以二者在申请的过程中差别不大。由于还有部分是转专业的申请者，录取委员会的教授们会比较注意这部分人的部分数学背景，比如一些数学类的基础课程，如数学分析、高等代数（或者是高等数学）、统计的基础课程、实分析等课程，或者是相关的实习经历、参与过的学术项目等。除此之外，一些计算软件，如SPSS、Eviews、<a target="_blank">MATLAB</a>、SAS等的熟练操作和使用也是录取委员比较看重的方面。</div>
<div class="para" label-module="para">另外，有个别的学校还要求申请者提供数学GRE SUB的成绩，一个高分的SUB成绩是有助于增大录取以及获取奖学金机会的。</div>
<div class="para" label-module="para">附：2010年US News美国研究生院校统计学专业排名</div>
<div class="para" label-module="para">1． Stanford University　<a target="_blank">斯坦福大学</a></div>
<div class="para" label-module="para">2． University of California Berkeley　<a target="_blank">加州大学伯克利分校</a></div>
<div class="para" label-module="para">3． Harvard University Boston　<a target="_blank">哈佛大学</a></div>
<div class="para" label-module="para">3． University of Washington　<a target="_blank">华盛顿大学</a></div>
<div class="para" label-module="para">5． Johns Hopkins University　约翰霍普金斯大学</div>
<div class="para" label-module="para">6． The University of Chicago　芝加哥大学</div>
<div class="para" label-module="para">9． Carnegie Mellon University　<a target="_blank">卡耐基梅隆大学</a></div>
<div class="para" label-module="para">10． Duke University　杜克大学</div>
<div class="para" label-module="para">10． The University of North Carolina at Chapel Hill　北卡罗来纳大学教堂山分校</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-46272-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_46272" id="refIndex_1_46272" name="refIndex_1_46272" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">北京理工大学远程教育专业--统计学<span class="linkout"> </span></a>
<span class="site">．远程教育网</span><span>[引用日期2014-05-21]</span></li><li class="reference-item " id="reference-[2]-46272-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_46272" id="refIndex_2_46272" name="refIndex_2_46272" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">2012年学科评估结果公布——统计学<span class="linkout"> </span></a>
<span class="site">．人民网</span><span>．2013-01-29</span><span>[引用日期2015-05-21]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>