<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>电气工程及其自动化专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">电气工程及其自动化专业（Electrical engineering and its automation）培养适应社会主义建设需要，德智体美全面发展，受到工程师基本训练，具备电机及其控制、电器及其控制、<a target="_blank">电力系统及其自动化</a>、建筑电气等工程技术领域基础理论和基本知识，能够从事设计制造、研制开发、试验分析、系统运行、自动控制、<a target="_blank">电力电子技术</a>、生产管理以及电子与计算机技术应用的应用型复合型高级<a target="_blank">工程技术人才</a>。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
电气工程及其自动化专业
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
Electrical engineering and its automation
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
080601
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">教学类型</dt>
<dd class="basicInfo-item value">
远程教育
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
2.5年
</dd>
<dt class="basicInfo-item name">入学考试</dt>
<dd class="basicInfo-item value">
语文、数学<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_1374539"> </a>
</dd>
<dt class="basicInfo-item name">学    分</dt>
<dd class="basicInfo-item value">
80分
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">专业解析</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">培养目标</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">培养要求</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">核心能力</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">主干课程</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">开设院校</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub1374539_1"></a>
<a class="lemma-anchor " name="专业解析"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">电气工程及其自动化专业</span>专业解析</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">什么是电气工程及其自动化？</div>
<div class="para" label-module="para">电气工程就是以电能、电气设备和电气技术为手段来创造、维持与改善限定空间和环境的一门科学，涵盖电能的转换、利用和研究三方面。小到一个开关、一个手机，大到航天飞机、宇宙飞船都离不开电。电是怎么来的？在我们的生活中，人类如何能够顺利、安全地使用电能？如何通过发电、变电、输电、配电，把电能送入千家万户？……这都是电气工程及其自动化专业主要研究和解决的问题。</div>
<div class="para" label-module="para">工学中的电类专业可分为强电和弱电两类。具体到专业上来说，电子信息工程、通信工程等专业是以弱电为主；而电气工程及其自动化专业是以强电为主，弱电为辅。</div>
<div class="para" label-module="para">培养未来的电气工程师</div>
<div class="para" label-module="para">在2012年《普通高等学校本科专业目录》中，电气工程及其自动化属于工学中的电气类。专业目录调整后，以前电气信息类中的部分专业合并为电气工程及其自动化专业。这一专业所涉及的范围较广，不同的大学在课程设置上都会有各自的侧重点。</div>
<div class="para" label-module="para">电气工程及其自动化专业要学习电工技术、电子技术、信息控制、计算机等方面的专业技术基础和应用知识，主要特点是强弱电结合、软件与硬件结合、元件与系统结合、基础科学与工程技术结合。该专业的主干课程通常包括：电路原理、模拟电子技术、数字电子技术、工程电磁场、微机原理与接口技术、自动控制原理、电机学、电力电子技术、电力系统分析等。电气专业的课程在工科类专业中属于比较难的，一般对数学和物理的要求比较高。</div>
<div class="para" label-module="para">传统的电气工程专业主要培养的是在电能的发、送、配、用四个阶段的设计、安装和维护人才。简单的来说，就是培养电气工程师的专业。如发电机的维护、变压器的安装检测、输电线路的设计、安装后的调试，这些都是电气工程师的工作内容。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub1374539_2"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">电气工程及其自动化专业</span>培养目标</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业培养能够从事与电气工程有关的系统运行、自动控制、电力电子技术、信息处理、试验分析、研制开发、经济管理以及电子与计算机技术应用等领域工作的宽口径"复合型"高级工程技术人才。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub1374539_3"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">电气工程及其自动化专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业学生主要学习电工技术、电子技术、信息控制、计算机技术等方面较宽广的工程技术基础和一定的专业知识。该专业主要特点是强弱电结合、电工技术与电子技术相结合、软件与硬件结合、元件与系统结合，学生受到电工电子、信息控制及计算机技术方面的基本训练，具有解决<a target="_blank">电气工程</a>技术分析与控制技术问题的基本能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub1374539_4"></a>
<a class="lemma-anchor " name="核心能力"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">电气工程及其自动化专业</span>核心能力</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<ol class="custom_num para-list list-paddingleft-1"><li class="list-num-1-1 list-num-paddingleft-1"><div class="para" label-module="para">掌握较扎实的数学、物理、化学等自然科学的基础知识，具有较好的人文社会科学和管理科学基础和外语综合能力；</div>
</li><li class="list-num-1-2 list-num-paddingleft-1"><div class="para" label-module="para">系统地掌握该专业领域必需的较宽的技术基础理论知识，主要包括电工理论、电子技术、信息处理、控制理论、计算机软硬件基本原理与应用等；</div>
</li><li class="list-num-1-3 list-num-paddingleft-1"><div class="para" label-module="para">获得较好的工程实践训练，具有较熟练的计算机应用能力；</div>
</li><li class="list-num-1-4 list-num-paddingleft-1"><div class="para" label-module="para">具有该专业领域内1--2个专业方向的专业知识与技能，了解该专业学科前沿的发展趋势；</div>
</li><li class="list-num-1-5 list-num-paddingleft-1"><div class="para" label-module="para">具有较强的工作适应能力，具备一定的科学研究、科技开发和组织管理的实际工作能力。</div>
</li></ol><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub1374539_5"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">电气工程及其自动化专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">主干学科：电气工程、<a target="_blank">控制科学与工程</a>、计算机科学与技术 主要课程：电路理论、信息电子技术、电力电子技术、自动控制原理、微机原理与应用、<a data-lemmaid="4778244" target="_blank">电气工程基础</a>、电机学、电器学、电力系统分析、电机设计、高低压电器、电机控制、智能化电器原理与应用、电力系统继电保护、电力系统综合自动化、建筑供配电等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub1374539_6"></a>
<a class="lemma-anchor " name="开设院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">电气工程及其自动化专业</span>开设院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">目前，全国本科阶段开设电气工程及其自动化专业的院校有520余所。由于开设院校众多，这个专业在各个高校的培养特色和课程设置上也有不同侧重。有的侧重于电力系统、电力部门，有的偏向于交通铁路部门，有的偏重于自动化。</div>
<div class="para" label-module="para">具体有<a target="_blank">清华大学</a>、<a target="_blank">华中科技大学</a>、<a target="_blank">西安交通大学</a>、<a target="_blank">武汉大学</a>、<a target="_blank">哈尔滨工业大学</a>、<a target="_blank">东南大学</a>、<a target="_blank">北京理工大学</a>、<a target="_blank">华南理工大学</a>、<a target="_blank">天津大学</a>、<a target="_blank">太原工业学院</a>等。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_1374539"> </a>
</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-1374539-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_1374539" id="refIndex_1_1374539" name="refIndex_1_1374539" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">地大——电气工程及其自动化专业<span class="linkout"> </span></a>
<span class="site">．.</span><span>[引用日期2015-10-20]</span></li><li class="reference-item " id="reference-[2]-1374539-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_1374539" id="refIndex_2_1374539" name="refIndex_2_1374539" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">专业介绍<span class="linkout"> </span></a>
<span class="site">．太原工业学院</span><span>[引用日期2016-09-6]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>