<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>辐射防护与核安全专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para"><a target="_blank">辐射防护</a>与核安全专业主要培养具有扎实的辐射防护、辐射安全评价、核废料与退役核设施处置、环境保护的基本理论知识和较强的辐射监测和辐射事故应急处理能力的高级应用型技术人才。毕业生掌握辐射监测、辐射防护、辐射安全评价、核安全评价、辐射污染防治等基本技能和专业知识，具有从事与辐射防护、核设施安全以及环境工程相关的评价、研究、管理工作的能力。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
辐射防护与核安全专业
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
082202
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
工学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
工学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养要求</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">知识技能</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干课程</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">实践教学</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">就业方向</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">深造方向</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">开设学院</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">院校排名</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub14525373_1"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">辐射防护与核安全专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业培养的人才应具有坚实的数理基础、扎实的专业知识和熟练的专业技能，能够适应辐射防护与环境工程专业各个方向发展的基本需要；同时应具有较好的人文社会科学和管理知识，较高的道德素质和文化素质，身心健康，全面发展。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub14525373_2"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">辐射防护与核安全专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">毕业生具备的专业知识与能力</div>
<ol class="custom_num para-list list-paddingleft-1"><li class="list-num-1-1 list-num-paddingleft-1"><div class="para" label-module="para">有扎实的自然科学基础，基本的人文、艺术和社会科学基础及准确运用语言、文字的能力；</div>
</li><li class="list-num-1-2 list-num-paddingleft-1"><div class="para" label-module="para">掌握数学和物理的基本理论和方法，具有坚实的数学和物理基础；</div>
</li><li class="list-num-1-3 list-num-paddingleft-1"><div class="para" label-module="para">掌握辐射防护与核安全的基本理论和实验方法，具有一定的科学研究能力和应用开发能力；</div>
</li><li class="list-num-1-4 list-num-paddingleft-1"><div class="para" label-module="para">掌握辐射防护与核安全专业的基本科学知识和体系，获得辐射防护与核安全专业的实践训练，了解辐射防护与环境工程发展的前沿和趋势；</div>
</li><li class="list-num-1-5 list-num-paddingleft-1"><div class="para" label-module="para">掌握计算机及信息技术应用知识，能够进行中外文文献检索与阅读，掌握科技写作知识；</div>
</li><li class="list-num-1-6 list-num-paddingleft-1"><div class="para" label-module="para">了解国家有关的辐射防护与核安全的法律、法规和科学技术、知识产权等有关政策和法规；</div>
</li><li class="list-num-1-7 list-num-paddingleft-1"><div class="para" label-module="para">具有较强的自学能力、创新意识和较高的综合素质。</div>
</li></ol><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub14525373_3"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">辐射防护与核安全专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">核能与核技术概论、辐射物理、核辐射探测方法、辐射防护、电离辐射剂量学、环境工程、环境影响评价方法、环境地球化学基础、核安全法规、放射生态学、核电子学与核仪器、辐射监测方法与仪器、核数据获取与处理、核反应堆物理基础等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub14525373_4"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">辐射防护与核安全专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">实习，科研训练，毕业论文等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub14525373_5"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">辐射防护与核安全专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">能在环保、核电安全、核工业及其他工业领域，从事辐射防护和核环境治理工程等的研究、设计、开发、生产、管理等多方面的工作。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub14525373_6"></a>
<a class="lemma-anchor " name="深造方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">辐射防护与核安全专业</span>深造方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">学生毕业后可继续攻读院校或其它科研院所辐射防护与环境保护、核技术及应用、核资源与核勘查工程以及核医学等相关专业的硕士、博士学位。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub14525373_7"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">辐射防护与核安全专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">华北电力大学、东华理工大学、成都理工大学、兰州大学、南京理工大学、南华大学、西南科技大学、南京航空航天大学</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub14525373_8"></a>
<a class="lemma-anchor " name="院校排名"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">辐射防护与核安全专业</span>院校排名</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">2016年2月23日，中国科学评价研究中心（RCCSE）、武汉大学中国教育质量评价中心联合中国科教评价网隆重推出《2016年中国大学及学科专业评价报告》。发布了中国大学本科专业排行榜，共涉及478个本科专业（2015年为470个），其中开设高校数大于5所的专业有372个，开设高校数只有1所的专业有39个，开设高校数最多的专业前5名为：英语735所、计算机科学与技术709所、视觉传达设计569所、市场营销566所、环境设计547所。下面分别公布2016-2017年中国大学本科专业排行榜的前20强（3星以内）名单。</div>
<div class="para" label-module="para">2016-2017年辐射防护与核安全专业排名</div>
<table class="table-view log-set-param" log-set-param="table_view" width="100%"><tr><td><b>排 序</b></td><td><b>学校名称</b></td><td><b>水 平</b></td><td><b>开此专业学校数</b></td></tr><tr><td>1</td><td>兰州大学</td><td>5★</td><td>8</td></tr><tr><td>2</td><td>东华理工大学</td><td>4★</td><td>8</td></tr><tr><td>3</td><td>南京航空航天大学</td><td>3★</td><td>8</td></tr><tr><td>4</td><td>华北电力大学</td><td>3★</td><td>8<br/>　　</td></tr></table>
<div class="clear"></div>
</div>