<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>森林工程专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">森林工程专业是以森林资源建设与保护、开发与利用为目的的一门综合性应用专业。它以森林生态学为依据研究森林合理采伐的方式和集林方式，以运筹学为基础，研究木材生产的优化规划方案选择。组织管理和经济效益，以工程力学和机械学为基础研究采运工程建设和机械的使用，森林工程学的形成和完善推动了林业工程的发展。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
森林工程专业
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
082401
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
工学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
工学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养目标</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">培养要求</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">知识技能</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">主干学科</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">主干课程</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">实践教学</a></span>
</li>
<li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">相近专业</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">就业方向</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">9</span>
<span class="text"><a href="#9">开设学院</a></span>
</li>
<li class="level1">
<span class="index">10</span>
<span class="text"><a href="#10">研究方向</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub146182_1"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">森林工程专业</span>培养目标</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">森林工程专业培养具备工程力学、机械运用学、土木工程学、系统工程学、环境科学和森林资源可持续经营、开发利用的知识，能在林业、交通、机械等部门的企事业单位、科研院所从事森林工程、道路桥梁的勘测、设计、施工、管理及国际森林工程项目开发管理的高级工程技术人才。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_146182"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub146182_2"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">森林工程专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业学生主要学习森林资源经营管理学、工程力学、机械运用学、土木工程学、系统工程学、环境科学等方面的基本理论和基本知识，受到森林工程勘测、设计、施工、森工产品经营管理等方面的基本训练，具有森林工程规划、设计与施工，木材生产管理及产品开发与营销的基本能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_146182"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub146182_3"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">森林工程专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">毕业生应获得以下几方面的知识和能力：<br/>　　1．具备扎实的数学、物理、化学等基本理论知识；<br/>　　2．掌握力学、林学、森林工程学科的基本理论、基本知识；<br/>　　3．掌握采运生产作业、林道网规划、森林工程产品的设计与施工技术；<br/>　　4．具有森林利用总体规划与设计、森林工程规划、设计、施工及管理的基本能力；<br/>　　5．熟悉我国森林工业生产、森林资源保护、森林生态环境建设的方针、政策和法规；<br/>　　6．了解国内外森林工程作业的科学和技术的理论前沿、应用前景及发展动态；<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_146182"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub146182_4"></a>
<a class="lemma-anchor " name="主干学科"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">森林工程专业</span>主干学科</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">力学、林业工程</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub146182_5"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">森林工程专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">森林环境学、森林生态经济学、测量学、土力学与工程地质、水力学与水文学、工程机电基础、结构力学、道路工程、机械设计制造基础、人类工效学、运筹学。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_146182"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub146182_6"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">森林工程专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">主要实践性教学环节：包括实验、教学实习、生产实习、课程设计、毕业论文(设计)等，一般安排30--35周。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub146182_7"></a>
<a class="lemma-anchor " name="相近专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">森林工程专业</span>相近专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">木材科学与工程(082002)、林产化工(082003)、环境工程(081001)、环境监察(081006S)。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub146182_8"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">森林工程专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">森林工程专业的毕业生可在林业部门从事森林工程方面的生产技术、组织管理、规划设计和研究工作;也可以到交通道路部门、机械行业、经济管理部门、教育系统、研究机构、行政机关等部门工作，也有毕业生选择了直接攻读硕士、博士学位，或者出国留学深造。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="9"></a>
<a class="lemma-anchor " name="sub146182_9"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">森林工程专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="9"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">南京林业大学</a>、<a target="_blank">东北林业大学</a> 、<a target="_blank">西南林业大学</a> 、<a target="_blank">中南林业科技大学</a>、<a target="_blank">广西大学</a>、 <a target="_blank">福建农林大学</a>、 <a target="_blank">吉林林学院</a>、内蒙古农业大学、北京林业大学</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="10"></a>
<a class="lemma-anchor " name="sub146182_10"></a>
<a class="lemma-anchor " name="研究方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">森林工程专业</span>研究方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="10"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">①森林生态采伐理论和技术体系</div>
<div class="para" label-module="para">以“3S” (GIS、GPS和RS)技术和方法为支撑，研究森林作业调查系统、林区道路网规划系统、生产方式控制系统、方案优化与决策系统;研究天然林生态采伐、人工林定向收获技术，使之达到森林采伐作业方案的科学性、森林采伐与生态环境的协调性、作业技术的先进性、生产工艺的合理性。森林生态采伐系统理论的建立与完善，对森林工程领域的科学研究、教学工作和生产实践意义重大。</div>
<div class="para" label-module="para">②森林工业特种机器人</div>
<div class="para" label-module="para">森林工业特种机器人的研究，在我国林业生态工程建设和经济发展中具有十分重要的地位。目前已经完成的项目有国家“863”项目“防风固沙草方格铺设机器人”、“弯曲木成型加工机器人生产线”。将要进行的研究有：抚育伐修剪机器人、速生丰产林收获机器人等。该项目的实施对加强学科建设、提高教学以及科研水平有十分重要的作用。在国内同领域中，该研究处领先地位。</div>
<div class="para" label-module="para">③环境友善型森林作业设备与安全工程</div>
<div class="para" label-module="para">研究与环境相协调的森林抚育机械、森林间伐联合作业机械、人工林收割机械、营林机械、林地卫生清理机械等设备，以及森林作业安全技术体系。不断提高生产和营林作业效率、降低作业成本、提高经济效益、扩大森林覆盖率、保护和美化人类赖以生存的地球环境，实现机械与环境的协调统一，为林业可持续发展提供可靠的先进机械设备和技术支撑。</div>
<div class="para" label-module="para">④林区交通与物流工程</div>
<div class="para" label-module="para">研究森工物流需求预测技术、林产品装卸与运输技术、林区道路冻害的防治与桥梁的检测、林产品仓储与保管技术、森工物流一体化技术、林产品流通加工技术、森工企业物流管理技术等。这一研究对提高森工企业经济效益和社会效益、摆脱森工企业的困境具有积极的现实意义和深远的历史意义。本学科在该方面的研究已有比较显著的成绩，如森工企业物流系统化等方面的研究已具有较高的学术水平和学术价值。</div>
<div class="para" label-module="para">⑤森工产品检测检验与新产品开发</div>
<div class="para" label-module="para">研究优化造材与量材技术系统、立木缺陷及物理特性无损检测、林产品结构优化、森林能源产品开发、森工产品检验检疫、森工产品市场分析等。本学科在该方面已有较深入的研究，如立木缺陷的分布规律及原条造材优化系统的研究等。</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-146182-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_146182" id="refIndex_1_146182" name="refIndex_1_146182" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">全国高校招生专业介绍：森林工程<span class="linkout"> </span></a>
<span class="site">．中国教育在线</span><span>．2007-04-10</span><span>[引用日期2016-02-18]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>