<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>农学专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">农学是研究农业发展的自然规律和经济规律的科学，因涉及农业环境、作物和畜牧生产、农业工程和农业经济等多种科学而具有综合性，其中林业科学和水产科学有时也包括在广义的农业科学范畴之内。</div><div class="para" label-module="para">农学专业培养具备作物生产、作物遗传育种以及种子生产与经营管理等方面的基本理论、基本知识和基本技能，能在农业及其它相关的部门或单位从事与农学有关的技术与设计、推广与开发、经营与管理、教学与科研等工作的高级科学技术人才。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
农学专业
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
Agriculture specialty
</dd>
<dt class="basicInfo-item name">修业年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
<a target="_blank">农学学士</a>
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
090101
</dd>
<dt class="basicInfo-item name">入学科目</dt>
<dd class="basicInfo-item value">
计算机基础、英语、<a data-lemmaid="4059" target="_blank">大学语文</a>
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">学    分</dt>
<dd class="basicInfo-item value">
80
</dd>
<dt class="basicInfo-item name">时    间</dt>
<dd class="basicInfo-item value">
2.5年-4.5年
</dd>
<dt class="basicInfo-item name">专业层次</dt>
<dd class="basicInfo-item value">
本科
</dd>
<dt class="basicInfo-item name">教育形式</dt>
<dd class="basicInfo-item value">
远程教育
</dd>
<dt class="basicInfo-item name">开设院校</dt>
<dd class="basicInfo-item value">
<a target="_blank">西南科技大学</a>
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
农学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-4">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养要求</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">知识技能</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干学科</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">主干课程</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">实践教学</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">相近专业</a></span>
</li>
<li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">知名院校</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">开设学院</a></span>
</li>
<li class="level1">
<span class="index">9</span>
<span class="text"><a href="#9">院校排名</a></span>
</li>
<li class="level1">
<span class="index">10</span>
<span class="text"><a href="#10">发展前景</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">11</span>
<span class="text"><a href="#11">知识技能</a></span>
</li>
<li class="level1">
<span class="index">12</span>
<span class="text"><a href="#12">主干学科</a></span>
</li>
<li class="level1">
<span class="index">13</span>
<span class="text"><a href="#13">主干课程</a></span>
</li>
<li class="level1">
<span class="index">14</span>
<span class="text"><a href="#14">实践教学</a></span>
</li>
<li class="level1">
<span class="index">15</span>
<span class="text"><a href="#15">相近专业</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">16</span>
<span class="text"><a href="#16">知名院校</a></span>
</li>
<li class="level1">
<span class="index">17</span>
<span class="text"><a href="#17">开设学院</a></span>
</li>
<li class="level1">
<span class="index">18</span>
<span class="text"><a href="#18">院校排名</a></span>
</li>
<li class="level1">
<span class="index">19</span>
<span class="text"><a href="#19">发展前景</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub146206_1"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农学专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业学生主要学习农业生物科学、<a target="_blank">农业生态</a>科学、作物<a target="_blank">生长发育</a>和遗传规律等方面的基本理论和基本知识，受到作物生产和作物新品种选育等方面的基本训练，具有作物育种、作物栽培与耕作、种子生产与检验等方面的基本能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub146206_2"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农学专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">毕业生应获得以下几方面的知识和能力：</div>
<div class="para" label-module="para">1．具备扎实的数学、物理、化学等基本理论知识；</div>
<div class="para" label-module="para">2．掌握生物学科和农学学科的基本理论、基本知识；</div>
<div class="para" label-module="para">3．具备农业生产，特别是作物生产的技能和方法；</div>
<div class="para" label-module="para">4．具备农业可持续发展的意识和基本知识，了解农业生产和科学技术的科学前沿和发展趋势；</div>
<div class="para" label-module="para">5．熟悉农业生产、农村工作的有关方针、政策和法规；</div>
<div class="para" label-module="para">6．掌握科技文献检索、资料查询的基本方法，具有一定的科学研究和实际工作能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub146206_3"></a>
<a class="lemma-anchor " name="主干学科"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农学专业</span>主干学科</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">作物学</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub146206_4"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农学专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">植物生理与生物化学、<a target="_blank">应用概率统计</a>、遗传学、田间试验设计、<a target="_blank">农业生态学</a>、作物栽培与耕作学、<a target="_blank">育种学</a>、<a target="_blank">种子学</a>、<a target="_blank">农业经济管理</a>、<a target="_blank">农业推广学</a>、植物病虫害学。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub146206_5"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农学专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">主要实践性教学环节：包括教学实习、<a target="_blank">生产实习</a>、<a target="_blank">课程设计</a>、<a target="_blank">毕业论文</a>(毕业设计)、科研训练、<a target="_blank">生产劳动</a>、<a target="_blank">社会实践</a>等，一般安排不少于30周。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub146206_6"></a>
<a class="lemma-anchor " name="相近专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农学专业</span>相近专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">农学 园艺 植物保护 茶学 草业科学 烟草<a target="_blank">植物科学与技术</a>种子科学与工程<a target="_blank">应用生物科学</a>设施农业科学与工程</div>
<div class="para" label-module="para"><b>农学</b></div>
<div class="para" label-module="para">前景解读：该专业为农业科学骨干专业，生物技术、新材料、信息技术在农业中广泛应用，使该专业在保持传统特色的基础上，正焕发出勃勃生机。</div>
<div class="para" label-module="para">主干课程：植物生理生化、植物营养与施肥、农业气象、植物病理学、细胞生物学、遗传学、农业经济管理、作物栽培与耕作、农业生态学、农业昆虫学、植物育种等。</div>
<div class="para" label-module="para">就业方向：各农业院校、科研院所、农场、种子公司、农业技术推广部门、农业企业、国家机关等单位从事教学、科研、管理等工作。</div>
<div class="para" label-module="para">深造情况：作物遗传育种、作物栽培学与耕作学硕士、博士。</div>
<div class="para" label-module="para"><b>农业工程</b></div>
<div class="para" label-module="para">前景解读：农业工程是现代科学技术与农业产业化、现代化的有机结合。该专业是国家教育部专门立项研究而在中国农业大学设立的一级学科招生专业，培养工程领域技术集成与创新人才。</div>
<div class="para" label-module="para">主干课程：机械制图与计算机绘图、<a target="_blank">工程力学</a>、机械设计、电工、电子、工程测试、生物学基础、农牧业生产、工程材料、工程结构、农业机械与设备、土壤与水资源、农产品加工、设施农业工程、机械装备设计、农业工程项目规划与设计、工程项目管理、机电系统驱动与控制等。</div>
<div class="para" label-module="para">就业方向：农业工程设施与装备部门、农业高新企业、科技开发园区、规划设计院所和科研教学单位的规划、设计、开发、建设、管理、教学或试验研究等工作。</div>
<div class="para" label-module="para">深造情况：该专业毕业生可以报考包括农业工程及其下属各二级学科专业以及农产品加工及贮藏工程、环境工程、管理工程等相关学科硕士学位研究生。</div>
<div class="para" label-module="para"><b>动物科学</b></div>
<div class="para" label-module="para">前景解读：动物科学研究经济动物生命规律，为人类提供质优量多的动物产品。研究范围从畜牧业扩展至水产动物、珍禽异兽、观赏动物的各个领域。<a target="_blank">克隆羊</a>的诞生说明动物科学是今后生命科学中最具发展潜力的领域之一。</div>
<div class="para" label-module="para">主干课程：动物解剖组织学、生理学、生物化学、遗传学、营养学、繁殖学、育种学、动物环境卫生与畜舍建筑学、畜牧生产系统、配合饲料工艺原理与技术、企业管理学、反刍动物营养、猪营养、家禽营养、鱼虾动物营养、饲料学。</div>
<div class="para" label-module="para">就业方向：<a target="_blank">动物遗传育种</a>、营养与饲料、动物生产等相关高等院校、科研院所、内外资企业、进出口贸易、保险等部门从事技术与管理工作。</div>
<div class="para" label-module="para">深造情况：毕业生可考取动物遗传育种与繁殖学、动物营养与饲料科学、草业科学硕士和博士。</div>
<div class="para" label-module="para"><b>农林经济管理</b></div>
<div class="para" label-module="para">前景解读：加入WTO以后，中国农业的市场问题变得更加重要。如何配置稀缺的自然与经济资源，利用国内外两个市场，对农业实行保护政策，实施农业可持续发展战略，召唤着大批仁人志士。</div>
<div class="para" label-module="para">主干课程：经济学、管理学、统计学、会计学、经济法、市场营销、货币银行学、管理信息系统、国际贸易、农业经济和政策、农业企业管理、项目投资与评估、农村合作经济等。</div>
<div class="para" label-module="para">就业方向：农产品的国际贸易和市场营销，政府部门从事农业管理及农业政策研究，农业类公司的经营管理，银行、保险、税务等部门的相关工作。</div>
<div class="para" label-module="para">深造情况：深造专业很多，国际贸易、管理科学与工程、农业经济管理、产业经济学、金融学、数量经济学等专业研究生都可选择。</div>
<div class="para" label-module="para"><b>种子科学与工程</b></div>
<div class="para" label-module="para">前景解读：该专业在中国农业大学首设，已有5届本科毕业，受到种子部门用人单位的欢迎。</div>
<div class="para" label-module="para">主干课程：植物育种原理、作物栽培学、作物育种专题、种子生理学、种子生产学、种子检验、种子贮藏加工与种子经营、成本会计、公共关系学、农业推广学、国际贸易原理、市场营销等。</div>
<div class="para" label-module="para">就业方向：农业公司、种子公司、种子管理站、农资公司、国家农业管理等部门的科研、营销、管理等工作。</div>
<div class="para" label-module="para">深造情况该专业可到作物遗传育种、作物栽培学与耕作学2个硕士、博士深造。</div>
<div class="para" label-module="para"><b>农业水利工程</b></div>
<div class="para" label-module="para">前景解读：该专业在解决我国国民经济可持续发展所面临的水危机中将会发挥越来越重要的作用。研究范围从灌溉排水工程已扩展至城市供水、绿地灌溉、污水处理及防洪、喷泉设计等诸多领域。</div>
<div class="para" label-module="para">主干课程：工程水文学、水力学、力学、建筑结构，土壤与农作学、水利工程测量、工程地质与水文地质、水利工程施工与项目管理、灌溉与排水、水资源系统工程学、水工建筑物、抽水站与排灌机械、农村水电站、环境水利学、水利工程概预算与招投标。</div>
<div class="para" label-module="para">就业方向：水利工程建设、管理部门，科研院所、高等院校等从事技术或管理工作。</div>
<div class="para" label-module="para">深造情况：该专业可考农业水土工程、水土保持与沙漠化防治、水文学及水资源3个硕士点。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub146206_7"></a>
<a class="lemma-anchor " name="知名院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农学专业</span>知名院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><b>一　</b><a target="_blank">中国农业大学农学与生物技术学院</a></div>
<div class="para" label-module="para">农学与生物技术学院是由原作物学院、植保学院和园艺学院3个学院合并建立，学科覆盖作物学、植物保护学、园艺学3个一级学科，其中作物遗传育种学、<a target="_blank">作物栽培学与耕作学</a>、植物病理学、农业昆虫与害虫防治学、<a target="_blank">果树学</a>为国家重点学科；现有学科方向还包括蔬菜与设施园艺学、种子科学、园林、农药与植物植检。 学院下设9个系。</div>
<div class="para" label-module="para"><b>二　南京农业大学农学院</b></div>
<div class="para" label-module="para">1952年全国高等学校院系调整，前<a target="_blank">金陵大学</a>农学院和中央大学农学院的农艺学科与<a target="_blank">浙江大学</a>的农科部分合并建成<a target="_blank">南京农学院</a>农学系。2000年，经学校统一规划，农学系组建成农学院。学院现设有1个<a target="_blank">博士后流动站</a>、12个博士学位点、9个硕士学位点和4个本科专业。</div>
<div class="para" label-module="para"><b>三　</b><a target="_blank">西北农林科技大学农学院</a></div>
<div class="para" label-module="para">学院具有国家级研究中心2个，实验室配置属世界领先水平，已取得了若干国家及省部级成果。</div>
<div class="para" label-module="para"><b>四　</b><a target="_blank">浙江大学农业与生物技术学院</a></div>
<div class="para" label-module="para">农业与生物技术学院成立于1999年6月，现有农学系、园艺系、植物保护系、茶学系、<a target="_blank">应用生物科学</a>系5个系，1个附属教学实验农场和<a target="_blank">原子核</a>农业科学研究所、生物技术研究所、作物科学研究所、茶叶研究所、应用昆虫科学研究所、农药与环境毒理研究所、蔬菜研究所、果树科学研究所、园林研究所、生物信息研究所等10个研究所组成。现设有蔬菜学、<a target="_blank">茶学</a>、农业昆虫与害虫防治3个国家级重点学科，植物病理学1个农业部重点学科等。学院有作物学、园艺学、植物保护学等3个<a target="_blank">博士后</a>科研流动站，现拥有包括园林植物与观赏园艺在内的12个二级学科硕士学位授予点。以及应用生物科学(下设种子科学与工程、植物保护学、园艺科学与工程、茶学、<a target="_blank">应用分子生物学</a>5个主攻方向)、园林2个本科专业。</div>
<div class="para" label-module="para"><b>五　华南农业大学农学院</b></div>
<div class="para" label-module="para">1926年<a target="_blank">国立中山大学</a>成立，其农学院设有农艺等3个系。1952年进行院系调整，由原中山大学农学院、<a target="_blank">岭南大学</a>农学院和广西大学农学院畜牧兽医系的一部分合并，组建成立<a target="_blank">华南农学院</a>，设有农学系，2001年改系设院。作物遗传育种学科和生态学科列为学校“211”工程重点建设学科。作物遗传育种学科被评为国家重点学科。学院现设有本科专业2个：农学专业和生态学专业；硕士专业点4个：作物栽培学与耕作学、作物遗传育种、生态学和茶学；一级学科博士点1个：作物学；二级学科博士点2个：作物遗传育种和生态学。并设有作物学博士后流动站和生物学博士后流动站的生态学部分。</div>
<div class="para" label-module="para"><b>六　山东大学农学院</b></div>
<div class="para" label-module="para">农学院的历史可以追溯到公元1906年设立的山东高等农林学堂，至今已近百年。1952年院系调整时由山东大学农学院农艺系、<a target="_blank">山东农学院</a>农艺系和<a target="_blank">齐鲁大学</a>农业专修科合并而成。1978年之后，与土化、植保分开独立成系。2000年12月在原农学系的基础上组建为农学院。2001年作物栽培学与耕作学被评为国家级重点学科。全院设有植物科学与信息系、植物遗传育种系、种子科学与工程系和1个实验教学中心，1个农学实验站以及作物栽培生理研究所、小麦研究所、<a target="_blank">农业发展战略</a>研究所、花生研究所、种子质量研究测试中心、玉米研究中心、棉花研究室、药用植物研究室等。学院拥有作物学<a target="_blank">博士后流动站</a>，作物学一级学科博士点及<a target="_blank">作物栽培学与耕作学</a>、<a target="_blank">作物遗传育种</a>学、<a target="_blank">农业生态</a>、种子科学与工程、作物品质改良与质量监控5个二级博士点和3个硕士点；设有农学、农学师范、<a target="_blank">植物科学与技术</a>、<a target="_blank">种子科学与工程</a>、中药资源与利用5个本科专业。</div>
<div class="para" label-module="para"><b>七 华中农业大学植物科学技术学院</b></div>
<div class="para" label-module="para">华中农业大学植物科学技术学院办学历史悠久。其前身始于清朝光绪年间湖广总督张之洞1898年创办的湖北农务学堂，后几经演变，于1952年由武汉大学农学院、湖北农学院、中山大学等六所大学的农艺系合并成立华中农学院农学系，下设农学、植保、土化三个专业。1954年在农学、植保、土化三个专业的基础上设立农学系、植保系、土化系。农学系和植保系师资力量雄厚，汇聚了一批知名专家在此任教，有二级岗教授杨新美、胡仲紫、章锡昌、刘后利等。随着学校改革发展的不断深入，在学校院系与学科调整过程中，原农学系和原植物保护系于2002年7月合并，成立植物科学技术学院。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub146206_8"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农学专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">2008年，开设农学专业的大学共154所。著名的有：中国农业大学、南京农业大学、西北农林科技大学、浙江大学、华中农业大学、华南农业大学、山东农业大学、扬州大学、北京林业大学、福建农林大学等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="9"></a>
<a class="lemma-anchor " name="sub146206_9"></a>
<a class="lemma-anchor " name="院校排名"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农学专业</span>院校排名</h2>
<a class="edit-icon j-edit-link" data-edit-dl="9"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><b>2013-2014年农学专业排名</b></div>
<table class="table-view log-set-param" log-set-param="table_view" width="100%"><tr><td><div class="para" label-module="para"><b>排 序</b></div>
</td><td><div class="para" label-module="para"><b>学校名称</b></div>
</td><td><div class="para" label-module="para"><b>水 平</b></div>
</td><td><div class="para" label-module="para"><b>开此专业学校数</b></div>
</td></tr><tr><td><div class="para" label-module="para">1</div>
</td><td><div class="para" label-module="para"><a target="_blank">中国农业大学</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">2</div>
</td><td><div class="para" label-module="para"><a target="_blank">南京农业大学</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">3</div>
</td><td><div class="para" label-module="para"><a target="_blank">浙江大学</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">4</div>
</td><td><div class="para" label-module="para"><a target="_blank">华中农业大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">5</div>
</td><td><div class="para" label-module="para"><a target="_blank">河南农业大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">6</div>
</td><td><div class="para" label-module="para"><a target="_blank">沈阳农业大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">7</div>
</td><td><div class="para" label-module="para"><a target="_blank">四川农业大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">8</div>
</td><td><div class="para" label-module="para"><a target="_blank">西北农林科技大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">9</div>
</td><td><div class="para" label-module="para"><a target="_blank">山东农业大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">10</div>
</td><td><div class="para" label-module="para"><a target="_blank">华南农业大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">11</div>
</td><td><div class="para" label-module="para"><a target="_blank">东北农业大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">12</div>
</td><td><div class="para" label-module="para"><a target="_blank">扬州大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">13</div>
</td><td><div class="para" label-module="para"><a target="_blank">海南大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">14</div>
</td><td><div class="para" label-module="para"><a target="_blank">贵州大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">15</div>
</td><td><div class="para" label-module="para"><a target="_blank">福建农林大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">16</div>
</td><td><div class="para" label-module="para"><a target="_blank">西南大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">17</div>
</td><td><div class="para" label-module="para"><a target="_blank">河北农业大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">18</div>
</td><td><div class="para" label-module="para"><a target="_blank">石河子大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">19</div>
</td><td><div class="para" label-module="para"><a target="_blank">湖南农业大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">20</div>
</td><td><div class="para" label-module="para"><a target="_blank">新疆农业大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr></table><div class="anchor-list">
<a class="lemma-anchor para-title" name="10"></a>
<a class="lemma-anchor " name="sub146206_10"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农学专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="10"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">大学毕业生人才招聘会上，农学专业人才成为亮点，农业类人才逐渐成为职场新宠。21世纪中国所需的农业科技人才可能要达到几百万。现代农业的概念远远超过人们的传统所认为的,种菜种粮。养猪养鸡的范畴,已经涵概生态,营养,动植物检疫,食品加工、克隆、花卉、草坪、农药、化肥、农产品的国际贸易、农村社会的发展、规划、开发等诸多方面的内容。进期,农业人才招聘会频频举行,农业人才走势上扬,一向相对冷门的农业类人才逐渐成为职场新宠。</div>
<div class="para" label-module="para">随着国内绿色景观神态的逐渐重视和深度开发、农业、园林、绿化、环保,园林/园艺景观设计及建筑规划类人才成为城市建设的新宠,也是当前人才市场供求的热点；从而绿色之旅和以人文为主题的农家之旅成为当今旅游的业的时尚,与园林,环保形成了就业链；一向相对冷门的农业人才近两年来也备受社会的关注。 以往作为冷门的农学也开始回暖。随着农村经济的持续发展,需要越来越多的农业科技方面的人才,农学作为培养农业生产很研究方面的高级人才的学科得到越来越多的重视。</div>
<div class="para" label-module="para">近几年毕业生一次就业率有减小趋势，而考研的百分率却有较大增长。以<a target="_blank">中国农业大学</a>近几年农学毕业生就业情况为例：97届毕业生就业百分比为76．8%，考上研究生的占毕业生总人数比率为7．1%；98届，前者为64．7%，后者为　12．6%；99届，前者为67．9%，后者为13．6%：2000届，前者为44．1%，后者为28．8%。不难看出，今后该专业毕业生考研究生将是一个热门选择。而在就业的毕业生中，大部分就业于科研院所或种子公司，分别为13．5%和11．9%，占一次就业总人数的57．6%。</div>
<div class="para" label-module="para">但是随着社会对农业、对农业院校观念的转变，2000年以后，随着国家对农业的重视，学校自身实力、知名度提高。现代农业依靠生物技术提高农作物的品质和产量，社会上对农业认知发生变化，大家逐步改变了原来的“学农就是种地”，农学就是和黄土地打交道的传统观念，农学类专业都呈现出蓬勃的上升之势，就业面也越来越广，社会地位和声誉都在提高。特别是在2006年，由共青团中央学校部、<a target="_blank">北京大学</a>公共政策研究所合作完成的“2006年中国大学生就业状况调查”公布的调查结果显示：农学学生就业率居于各专业之首，达到78.38%。由此看来，农学专业及其毕业生的就业都在朝着一个好的方向发展。21世纪农学专业将会有很大的发展空间。专业学生主要学习农业生物科学、<a target="_blank">农业生态</a>科学、作物<a target="_blank">生长发育</a>和遗传规律等方面的基本理论和基本知识，受到作物生产和作物新品种选育等方面的基本训练，具有作物育种、作物栽培与耕作、种子生产与检验等方面的基本能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="11"></a>
<a class="lemma-anchor " name="sub146206_11"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农学专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="11"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">毕业生应获得以下几方面的知识和能力：</div>
<div class="para" label-module="para">1．具备扎实的数学、物理、化学等基本理论知识；</div>
<div class="para" label-module="para">2．掌握生物学科和农学学科的基本理论、基本知识；</div>
<div class="para" label-module="para">3．具备农业生产，特别是作物生产的技能和方法；</div>
<div class="para" label-module="para">4．具备农业可持续发展的意识和基本知识，了解农业生产和科学技术的科学前沿和发展趋势；</div>
<div class="para" label-module="para">5．熟悉农业生产、农村工作的有关方针、政策和法规；</div>
<div class="para" label-module="para">6．掌握科技文献检索、资料查询的基本方法，具有一定的科学研究和实际工作能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="12"></a>
<a class="lemma-anchor " name="sub146206_12"></a>
<a class="lemma-anchor " name="主干学科"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农学专业</span>主干学科</h2>
<a class="edit-icon j-edit-link" data-edit-dl="12"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">作物学</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="13"></a>
<a class="lemma-anchor " name="sub146206_13"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农学专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="13"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">植物生理与生物化学、<a target="_blank">应用概率统计</a>、遗传学、田间试验设计、<a target="_blank">农业生态学</a>、作物栽培与耕作学、<a target="_blank">育种学</a>、<a target="_blank">种子学</a>、<a target="_blank">农业经济管理</a>、<a target="_blank">农业推广学</a>、植物病虫害学。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="14"></a>
<a class="lemma-anchor " name="sub146206_14"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农学专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="14"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">主要实践性教学环节：包括教学实习、<a target="_blank">生产实习</a>、<a target="_blank">课程设计</a>、<a target="_blank">毕业论文</a>(毕业设计)、科研训练、<a target="_blank">生产劳动</a>、<a target="_blank">社会实践</a>等，一般安排不少于30周。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="15"></a>
<a class="lemma-anchor " name="sub146206_15"></a>
<a class="lemma-anchor " name="相近专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农学专业</span>相近专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="15"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">农学 园艺 植物保护 茶学 草业科学 烟草<a target="_blank">植物科学与技术</a>种子科学与工程<a target="_blank">应用生物科学</a>设施农业科学与工程</div>
<div class="para" label-module="para"><b>农学</b></div>
<div class="para" label-module="para">前景解读：该专业为农业科学骨干专业，生物技术、新材料、信息技术在农业中广泛应用，使该专业在保持传统特色的基础上，正焕发出勃勃生机。</div>
<div class="para" label-module="para">主干课程：植物生理生化、植物营养与施肥、农业气象、植物病理学、细胞生物学、遗传学、农业经济管理、作物栽培与耕作、农业生态学、农业昆虫学、植物育种等。</div>
<div class="para" label-module="para">就业方向：各农业院校、科研院所、农场、种子公司、农业技术推广部门、农业企业、国家机关等单位从事教学、科研、管理等工作。</div>
<div class="para" label-module="para">深造情况：作物遗传育种、作物栽培学与耕作学硕士、博士。</div>
<div class="para" label-module="para"><b>农业工程</b></div>
<div class="para" label-module="para">前景解读：农业工程是现代科学技术与农业产业化、现代化的有机结合。本专业是国家教育部专门立项研究而在中国农业大学设立的一级学科招生专业，培养工程领域技术集成与创新人才。</div>
<div class="para" label-module="para">主干课程：机械制图与计算机绘图、<a target="_blank">工程力学</a>、机械设计、电工、电子、工程测试、生物学基础、农牧业生产、工程材料、工程结构、农业机械与设备、土壤与水资源、农产品加工、设施农业工程、机械装备设计、农业工程项目规划与设计、工程项目管理、机电系统驱动与控制等。</div>
<div class="para" label-module="para">就业方向：农业工程设施与装备部门、农业高新企业、科技开发园区、规划设计院所和科研教学单位的规划、设计、开发、建设、管理、教学或试验研究等工作。</div>
<div class="para" label-module="para">深造情况：本专业毕业生可以报考包括农业工程及其下属各二级学科专业以及农产品加工及贮藏工程、环境工程、管理工程等相关学科硕士学位研究生。</div>
<div class="para" label-module="para"><b>动物科学</b></div>
<div class="para" label-module="para">前景解读：动物科学研究经济动物生命规律，为人类提供质优量多的动物产品。研究范围从畜牧业扩展至水产动物、珍禽异兽、观赏动物的各个领域。<a target="_blank">克隆羊</a>的诞生说明动物科学是今后生命科学中最具发展潜力的领域之一。</div>
<div class="para" label-module="para">主干课程：动物解剖组织学、生理学、生物化学、遗传学、营养学、繁殖学、育种学、动物环境卫生与畜舍建筑学、畜牧生产系统、配合饲料工艺原理与技术、企业管理学、反刍动物营养、猪营养、家禽营养、鱼虾动物营养、饲料学。</div>
<div class="para" label-module="para">就业方向：<a target="_blank">动物遗传育种</a>、营养与饲料、动物生产等相关高等院校、科研院所、内外资企业、进出口贸易、保险等部门从事技术与管理工作。</div>
<div class="para" label-module="para">深造情况：毕业生可考取动物遗传育种与繁殖学、动物营养与饲料科学、草业科学硕士和博士。</div>
<div class="para" label-module="para"><b>农林经济管理</b></div>
<div class="para" label-module="para">前景解读：加入WTO以后，中国农业的市场问题变得更加重要。如何配置稀缺的自然与经济资源，利用国内外两个市场，对农业实行保护政策，实施农业可持续发展战略，召唤着大批仁人志士。</div>
<div class="para" label-module="para">主干课程：经济学、管理学、统计学、会计学、经济法、市场营销、货币银行学、管理信息系统、国际贸易、农业经济和政策、农业企业管理、项目投资与评估、农村合作经济等。</div>
<div class="para" label-module="para">就业方向：农产品的国际贸易和市场营销，政府部门从事农业管理及农业政策研究，农业类公司的经营管理，银行、保险、税务等部门的相关工作。</div>
<div class="para" label-module="para">深造情况：深造专业很多，国际贸易、管理科学与工程、农业经济管理、产业经济学、金融学、数量经济学等专业研究生都可选择。</div>
<div class="para" label-module="para"><b>种子科学与工程</b></div>
<div class="para" label-module="para">前景解读：该专业在中国农业大学首设，已有5届本科毕业，受到种子部门用人单位的欢迎。</div>
<div class="para" label-module="para">主干课程：植物育种原理、作物栽培学、作物育种专题、种子生理学、种子生产学、种子检验、种子贮藏加工与种子经营、成本会计、公共关系学、农业推广学、国际贸易原理、市场营销等。</div>
<div class="para" label-module="para">就业方向：农业公司、种子公司、种子管理站、农资公司、国家农业管理等部门的科研、营销、管理等工作。</div>
<div class="para" label-module="para">深造情况该专业可到作物遗传育种、作物栽培学与耕作学2个硕士、博士深造。</div>
<div class="para" label-module="para"><b>农业水利工程</b></div>
<div class="para" label-module="para">前景解读：该专业在解决我国国民经济可持续发展所面临的水危机中将会发挥越来越重要的作用。研究范围从灌溉排水工程已扩展至城市供水、绿地灌溉、污水处理及防洪、喷泉设计等诸多领域。</div>
<div class="para" label-module="para">主干课程：工程水文学、水力学、力学、建筑结构，土壤与农作学、水利工程测量、工程地质与水文地质、水利工程施工与项目管理、灌溉与排水、水资源系统工程学、水工建筑物、抽水站与排灌机械、农村水电站、环境水利学、水利工程概预算与招投标。</div>
<div class="para" label-module="para">就业方向：水利工程建设、管理部门，科研院所、高等院校等从事技术或管理工作。</div>
<div class="para" label-module="para">深造情况：该专业可考农业水土工程、水土保持与沙漠化防治、水文学及水资源3个硕士点。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="16"></a>
<a class="lemma-anchor " name="sub146206_16"></a>
<a class="lemma-anchor " name="知名院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农学专业</span>知名院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="16"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><b>一　</b><a target="_blank">中国农业大学农学与生物技术学院</a></div>
<div class="para" label-module="para">农学与生物技术学院是由原作物学院、植保学院和园艺学院3个学院合并建立，学科覆盖作物学、植物保护学、园艺学3个一级学科，其中作物遗传育种学、<a target="_blank">作物栽培学与耕作学</a>、植物病理学、农业昆虫与害虫防治学、<a target="_blank">果树学</a>为国家重点学科；现有学科方向还包括蔬菜与设施园艺学、种子科学、园林、农药与植物植检。 学院下设9个系。</div>
<div class="para" label-module="para"><b>二　南京农业大学农学院</b></div>
<div class="para" label-module="para">1952年全国高等学校院系调整，前<a target="_blank">金陵大学</a>农学院和中央大学农学院的农艺学科与<a target="_blank">浙江大学</a>的农科部分合并建成<a target="_blank">南京农学院</a>农学系。2000年，经学校统一规划，农学系组建成农学院。学院现设有1个<a target="_blank">博士后流动站</a>、12个博士学位点、9个硕士学位点和4个本科专业。</div>
<div class="para" label-module="para"><b>三　</b><a target="_blank">西北农林科技大学农学院</a></div>
<div class="para" label-module="para">学院具有国家级研究中心2个，实验室配置属世界领先水平，已取得了若干国家及省部级成果。</div>
<div class="para" label-module="para"><b>四　</b><a target="_blank">浙江大学农业与生物技术学院</a></div>
<div class="para" label-module="para">农业与生物技术学院成立于1999年6月，现有农学系、园艺系、植物保护系、茶学系、<a target="_blank">应用生物科学</a>系5个系，1个附属教学实验农场和<a target="_blank">原子核</a>农业科学研究所、生物技术研究所、作物科学研究所、茶叶研究所、应用昆虫科学研究所、农药与环境毒理研究所、蔬菜研究所、果树科学研究所、园林研究所、生物信息研究所等10个研究所组成。现设有蔬菜学、<a target="_blank">茶学</a>、农业昆虫与害虫防治3个国家级重点学科，植物病理学1个农业部重点学科等。学院有作物学、园艺学、植物保护学等3个<a target="_blank">博士后</a>科研流动站，现拥有包括园林植物与观赏园艺在内的12个二级学科硕士学位授予点。以及应用生物科学(下设种子科学与工程、植物保护学、园艺科学与工程、茶学、<a target="_blank">应用分子生物学</a>5个主攻方向)、园林2个本科专业。</div>
<div class="para" label-module="para"><b>五　华南农业大学农学院</b></div>
<div class="para" label-module="para">1926年<a target="_blank">国立中山大学</a>成立，其农学院设有农艺等3个系。1952年进行院系调整，由原中山大学农学院、<a target="_blank">岭南大学</a>农学院和广西大学农学院畜牧兽医系的一部分合并，组建成立<a target="_blank">华南农学院</a>，设有农学系，2001年改系设院。作物遗传育种学科和生态学科列为学校“211”工程重点建设学科。作物遗传育种学科被评为国家重点学科。学院现设有本科专业2个：农学专业和生态学专业；硕士专业点4个：作物栽培学与耕作学、作物遗传育种、生态学和茶学；一级学科博士点1个：作物学；二级学科博士点2个：作物遗传育种和生态学。并设有作物学博士后流动站和生物学博士后流动站的生态学部分。</div>
<div class="para" label-module="para"><b>六　山东大学农学院</b></div>
<div class="para" label-module="para">农学院的历史可以追溯到公元1906年设立的山东高等农林学堂，至今已近百年。1952年院系调整时由山东大学农学院农艺系、<a target="_blank">山东农学院</a>农艺系和<a target="_blank">齐鲁大学</a>农业专修科合并而成。1978年之后，与土化、植保分开独立成系。2000年12月在原农学系的基础上组建为农学院。2001年作物栽培学与耕作学被评为国家级重点学科。全院设有植物科学与信息系、植物遗传育种系、种子科学与工程系和1个实验教学中心，1个农学实验站以及作物栽培生理研究所、小麦研究所、<a target="_blank">农业发展战略</a>研究所、花生研究所、种子质量研究测试中心、玉米研究中心、棉花研究室、药用植物研究室等。学院拥有作物学<a target="_blank">博士后流动站</a>，作物学一级学科博士点及<a target="_blank">作物栽培学与耕作学</a>、<a target="_blank">作物遗传育种</a>学、<a target="_blank">农业生态</a>、种子科学与工程、作物品质改良与质量监控5个二级博士点和3个硕士点；设有农学、农学师范、<a target="_blank">植物科学与技术</a>、<a target="_blank">种子科学与工程</a>、中药资源与利用5个本科专业。</div>
<div class="para" label-module="para"><b>七 华中农业大学植物科学技术学院</b></div>
<div class="para" label-module="para">华中农业大学植物科学技术学院办学历史悠久。其前身始于清朝光绪年间湖广总督张之洞1898年创办的湖北农务学堂，后几经演变，于1952年由武汉大学农学院、湖北农学院、中山大学等六所大学的农艺系合并成立华中农学院农学系，下设农学、植保、土化三个专业。1954年在农学、植保、土化三个专业的基础上设立农学系、植保系、土化系。农学系和植保系师资力量雄厚，汇聚了一批知名专家在此任教，有二级岗教授杨新美、胡仲紫、章锡昌、刘后利等。随着学校改革发展的不断深入，在学校院系与学科调整过程中，原农学系和原植物保护系于2002年7月合并，成立植物科学技术学院。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="17"></a>
<a class="lemma-anchor " name="sub146206_17"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农学专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="17"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">2008年，开设农学专业的大学共154所。著名的有：<a target="_blank">中国农业大学</a>、<a target="_blank">南京农业大学</a>、<a target="_blank">西北农林科技大学</a>、<a target="_blank">浙江大学</a>、<a target="_blank">华中农业大学</a>、<a target="_blank">华南农业大学</a>、<a target="_blank">山东农业大学</a>、<a target="_blank">扬州大学</a>、<a target="_blank">北京林业大学</a>、<a target="_blank">福建农林大学</a>等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="18"></a>
<a class="lemma-anchor " name="sub146206_18"></a>
<a class="lemma-anchor " name="院校排名"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农学专业</span>院校排名</h2>
<a class="edit-icon j-edit-link" data-edit-dl="18"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><b>2013-2014年农学专业排名</b></div>
<table class="table-view log-set-param" log-set-param="table_view" width="100%"><tr><td><div class="para" label-module="para"><b>排 序</b></div>
</td><td><div class="para" label-module="para"><b>学校名称</b></div>
</td><td><div class="para" label-module="para"><b>水 平</b></div>
</td><td><div class="para" label-module="para"><b>开此专业学校数</b></div>
</td></tr><tr><td><div class="para" label-module="para">1</div>
</td><td><div class="para" label-module="para"><a target="_blank">中国农业大学</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">2</div>
</td><td><div class="para" label-module="para"><a target="_blank">南京农业大学</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">3</div>
</td><td><div class="para" label-module="para"><a target="_blank">浙江大学</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">4</div>
</td><td><div class="para" label-module="para"><a target="_blank">华中农业大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">5</div>
</td><td><div class="para" label-module="para"><a target="_blank">河南农业大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">6</div>
</td><td><div class="para" label-module="para"><a target="_blank">沈阳农业大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">7</div>
</td><td><div class="para" label-module="para"><a target="_blank">四川农业大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">8</div>
</td><td><div class="para" label-module="para"><a target="_blank">西北农林科技大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">9</div>
</td><td><div class="para" label-module="para"><a target="_blank">山东农业大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">10</div>
</td><td><div class="para" label-module="para"><a target="_blank">华南农业大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">11</div>
</td><td><div class="para" label-module="para"><a target="_blank">东北农业大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">12</div>
</td><td><div class="para" label-module="para"><a target="_blank">扬州大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">13</div>
</td><td><div class="para" label-module="para"><a target="_blank">海南大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">14</div>
</td><td><div class="para" label-module="para"><a target="_blank">贵州大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">15</div>
</td><td><div class="para" label-module="para"><a target="_blank">福建农林大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">16</div>
</td><td><div class="para" label-module="para"><a target="_blank">西南大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">17</div>
</td><td><div class="para" label-module="para"><a target="_blank">河北农业大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">18</div>
</td><td><div class="para" label-module="para"><a target="_blank">石河子大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">19</div>
</td><td><div class="para" label-module="para"><a target="_blank">湖南农业大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr><tr><td><div class="para" label-module="para">20</div>
</td><td><div class="para" label-module="para"><a target="_blank">新疆农业大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">64</div>
</td></tr></table><div class="anchor-list">
<a class="lemma-anchor para-title" name="19"></a>
<a class="lemma-anchor " name="sub146206_19"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农学专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="19"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">大学毕业生人才招聘会上，农学专业人才成为亮点，农业类人才逐渐成为职场新宠。21世纪中国所需的农业科技人才可能要达到几百万。现代农业的概念远远超过人们的传统所认为的,种菜种粮。养猪养鸡的范畴,已经涵概生态,营养,动植物检疫,食品加工、克隆、花卉、草坪、农药、化肥、农产品的国际贸易、农村社会的发展、规划、开发等诸多方面的内容。进期,农业人才招聘会频频举行,农业人才走势上扬,一向相对冷门的农业类人才逐渐成为职场新宠。</div>
<div class="para" label-module="para">随着国内绿色景观神态的逐渐重视和深度开发、农业、园林、绿化、环保,园林/园艺景观设计及建筑规划类人才成为城市建设的新宠,也是当前人才市场供求的热点；从而绿色之旅和以人文为主题的农家之旅成为当今旅游的业的时尚,与园林,环保形成了就业链；一向相对冷门的农业人才近两年来也备受社会的关注。 以往作为冷门的农学也开始回暖。随着农村经济的持续发展,需要越来越多的农业科技方面的人才,农学作为培养农业生产很研究方面的高级人才的学科得到越来越多的重视。</div>
<div class="para" label-module="para">近几年毕业生一次就业率有减小趋势，而考研的百分率却有较大增长。以<a target="_blank">中国农业大学</a>近几年农学毕业生就业情况为例：97届毕业生就业百分比为76．8%，考上研究生的占毕业生总人数比率为7．1%；98届，前者为64．7%，后者为　12．6%；99届，前者为67．9%，后者为13．6%：2000届，前者为44．1%，后者为28．8%。不难看出，今后本专业毕业生考研究生将是一个热门选择。而在就业的毕业生中，大部分就业于科研院所或种子公司，分别为13．5%和11．9%，占一次就业总人数的57．6%。</div>
<div class="para" label-module="para">但是随着社会对农业、对农业院校观念的转变，2000年以后，随着国家对农业的重视，学校自身实力、知名度提高。现代农业依靠生物技术提高农作物的品质和产量，社会上对农业认知发生变化，大家逐步改变了原来的“学农就是种地”，农学就是和黄土地打交道的传统观念，农学类专业都呈现出蓬勃的上升之势，就业面也越来越广，社会地位和声誉都在提高。特别是在2006年，由共青团中央学校部、<a target="_blank">北京大学</a>公共政策研究所合作完成的“2006年中国大学生就业状况调查”公布的调查结果显示：农学学生就业率居于各专业之首，达到78.38%。由此看来，农学专业及其毕业生的就业都在朝着一个好的方向发展。21世纪农学专业将会有很大的发展空间。</div>

<div class="clear"></div>
</div>