<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>种子科学与工程专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">种子科学与工程专业是我国种子产业由计划经济向市场经济转变、产业迅猛发展的形式下，由教育部批准建立的本科专业。<a target="_blank">中国农业大学</a>于2002年9月开始面向全国招生。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
种子科学与工程专业
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
090105
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
农学学士
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
农学
</dd>
<dt class="basicInfo-item name">主干学科</dt>
<dd class="basicInfo-item value">
植物育种原理、作物栽培学等
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养目标</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">培养要求</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">知识技能</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">主要课程</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">实践教学</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">高校排名</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">就业方向</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">就业前景</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub5974433_1"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">种子科学与工程专业</span>培养目标</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">种子科学与工程专业注重学生"德、智、体、能"全面发展，培养具备植物育种、种子加工贮藏、种子质量检测、种子营销及其相关领域的基本理论、基本知识和基本技能，能在种子科学与工程相关待业从事教学与科研、技术推广与开发、生产经营与管理等方面的应用型高级人才。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_5974433"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub5974433_2"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">种子科学与工程专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">种子科学与工程专业培养要求种子科学与工程专业要求学生在掌握农业生物科学的基本知识和理论的基础上，接受种子生产、贮藏加工、种子检验、经营管理、成本会计、国际商法等专业知识、技能的学习训练。能胜任生产与经营、植物新品种选育与推广，种子市场营销与管理等方面的教学、科研和应用开发工作。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_5974433"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub5974433_3"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">种子科学与工程专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1.有扎实的数学、物理、化学等基本理论知识；<br/>　　2.掌握生物学科和农业学科的基本理论、基本知识；<br/>　　3.掌握种子科学、特别是种子培养的技能和知识；<br/>　　4.掌握作物栽培、种质资源保护、品种选育和良种繁育、病虫草害防治等方面技术与能力；<br/>　　5.具备可持续发展的意识和基本知识，了解种子科学与工程的科学前沿和趋势；<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_5974433"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub5974433_4"></a>
<a class="lemma-anchor " name="主要课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">种子科学与工程专业</span>主要课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">主干学科：植物育种原理、<a target="_blank">作物栽培学</a>、作物育种专题、种子生理学、种子生产学、种子检验、种子贮藏加工与种子经营、<a data-lemmaid="85611" target="_blank">成本会计</a>、公共关系学、<a target="_blank">农业推广学</a>、国际贸易原理、<a data-lemmaid="45718" target="_blank">市场营销</a>等。</div>
<div class="para" label-module="para">主要课程：<a data-lemmaid="1298423" target="_blank">植物学</a>、<a target="_blank">植物分类学</a>、植物生理与生物化学、作物栽培学、种子生物学，种子加工与贮藏、种子检验技术、种子生产技术、种质资源学、种子经营与管理学、应用概率统计（生物统计）、<a target="_blank">普通遗传学</a>、田间试验设计、植物育种原理、<a data-lemmaid="233918" target="_blank">遗传学</a>等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub5974433_5"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">种子科学与工程专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">包括教学实习、生产实习、课程设计、毕业论文(毕业设计)、科研训练、生产劳动、社会实践等，一般安排不少于30周。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_5974433"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub5974433_6"></a>
<a class="lemma-anchor " name="高校排名"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">种子科学与工程专业</span>高校排名</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">种子科学与工程专业被评为A等级的学校有：</div>
<div class="para" label-module="para"><a target="_blank">南京农业大学</a> <a target="_blank">山西农业大学</a> <a target="_blank">东北农业大学</a> <a target="_blank">西北农林科技大学</a><a target="_blank">四川农业大学</a> <a target="_blank">山东农业大学</a> <a target="_blank">新疆农业大学</a></div>
<div class="para" label-module="para">种子科学与工程专业被评为B+等级的学校有：</div>
<div class="para" label-module="para"><a target="_blank">云南农业大学</a> <a target="_blank">内蒙古农业大学</a> <a target="_blank">湖南农业大学</a> <a target="_blank">河南科技学院</a> <a target="_blank">河西学院</a> <a target="_blank">天津农学院</a> <a target="_blank">青岛农业大学</a> <a target="_blank">浙江农林大学</a></div>
<div class="para" label-module="para">种子科学与工程专业被评为B 等级的学校有： <a target="_blank">甘肃农业大学</a> <a target="_blank">聊城大学</a> <a target="_blank">潍坊学院</a> <a target="_blank">安徽科技学院</a></div>
<div class="para" label-module="para">种子科学与工程专业被评为C+等级的学校有： <a target="_blank">河北北方学院</a></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub5974433_7"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">种子科学与工程专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">种子科学与工程专业学生毕业后可继续进一步在国内或者国外攻读学位，并可面向农业及种子领域、高等院校、科学研究相关部门或单位从事教学与科研、技术与设计、推广与开发、经营与行政管理等工作。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub5974433_8"></a>
<a class="lemma-anchor " name="就业前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">种子科学与工程专业</span>就业前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">随着种子产业全球化发展步伐的加快，国内外大型种业、国家各级种子管理机构对种业人才的需求将更加迫切，种子科学与工程专业的优秀人才必将大受社会欢迎，他们将为世界农业的进步作出巨大贡献。</div>
<div class="para" label-module="para">种子科学与工程技术的相关部门或单位从事种子生产技术的推广与开发、种子经营与管理等工作或者考公务员。但不管是去种子公司还是报考<a data-lemmaid="24131" target="_blank">公务员</a>，其英语水平要求都比较高。因为此专业在与国际接轨比较紧密。进入中国一流种子企业，其最基本条件是英语过6级。现阶段，已就业的种子科学与工程的毕业生的待遇处于大学生毕业生工作待遇的平均水平。在国外，种子产业已是一个相当大且重要的产业。而在中国，<a target="_blank">中国种业</a>规模及现代化程度普遍落后，如中国种业的前50强企业的年销售额与美国的杜邦-先锋种子公司的相比有太大的差距。因此中国种业正处于一个产业不断集中的快速变革时代。</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-5974433-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_5974433" id="refIndex_1_5974433" name="refIndex_1_5974433" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">种子科学与工程<span class="linkout"> </span></a>
<span class="site">．高考派</span><span>[引用日期2015-05-22]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>