<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>农业资源与环境专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para"><a target="_blank">农业资源与环境</a>是自然界中能满足<a target="_blank">农业</a>生产需要的各种要素的总称，是农业生产存在和发展的重要物质基础。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
农业资源与环境专业
</dd>
<dt class="basicInfo-item name">修业年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
农学学士
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
090201
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
农学
</dd>
<dt class="basicInfo-item name">主干学科</dt>
<dd class="basicInfo-item value">
农业资源利用、环境科学与工程等
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">设置背景</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">知识技能</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干学科</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">主干课程</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">实践教学</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">发展前景</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">开设院校</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">评估排名</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub146258_1"></a>
<a class="lemma-anchor " name="设置背景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农业资源与环境专业</span>设置背景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">农业资源与环境专业培养具备<a data-lemmaid="5004315" target="_blank">农业资源与环境</a>方面的基本理论、基本知识和基本技能，能在农业、土地、环保、农资等部门或单位从事<a data-lemmaid="5509696" target="_blank">农业资源</a>管理及利用、<a target="_blank">农业环境保护</a>、生态农业、<a data-lemmaid="10278762" target="_blank">资源遥感</a>与信息技术的教学、科研、管理等工作的高级科学技术人才。</div>
<div class="para" label-module="para">学生主要学习<a data-lemmaid="5509696" target="_blank">农业资源</a>的管理及利用、<a data-lemmaid="2347917" target="_blank">农业环境保护</a>、农产品检测及<a target="_blank">食品质量管理</a>、农业生态、资源信息技术等方面的基本理论和基本知识，受到农业资源调查与规划、<a data-lemmaid="8336542" target="_blank">土壤肥力</a>和植物营养与施肥技术、环境监测与评价、生态效益分析、气象观测、计算机技术等方面的基本训练，具有农业资源高效和可持续利用、对农业资源和环境进行<a data-lemmaid="6052248" target="_blank">信息化管理</a>等方面的基本能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_146258"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub146258_2"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农业资源与环境专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1．具备扎实的数学、物理、化学等基本理论知识；</div>
<div class="para" label-module="para">2．掌握<a data-lemmaid="5509696" target="_blank">农业资源</a>与环境科学的基本理论；</div>
<div class="para" label-module="para">3．掌握农业资源的管理与利用、<a data-lemmaid="2347917" target="_blank">农业环境保护</a>、<a data-lemmaid="9696306" target="_blank">土壤改良</a>、生态农业建设等方面的基本知识；</div>
<div class="para" label-module="para">4．掌握农业资源调查、<a target="_blank">环境质量评价</a>、化学及<a target="_blank">现代仪器分析</a>、农产品质量检测方法、植物营养的研究方法、科学施肥与<a data-lemmaid="6236623" target="_blank">科学灌溉</a>、农业再生资源综合利用、<a data-lemmaid="1211041" target="_blank">土地规划</a>与制图、<a target="_blank">资源信息管理</a>等方面的方法与技术；</div>
<div class="para" label-module="para">5．具备农业可持续发展的意识和基本知识，了解资源与环境的科学前沿及发展趋势；</div>
<div class="para" label-module="para">6．熟悉资源管理与利用、环境保护的有关方针、政策和法规。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_146258"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub146258_3"></a>
<a class="lemma-anchor " name="主干学科"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农业资源与环境专业</span>主干学科</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a data-lemmaid="182003" target="_blank">农业资源利用</a>、<a target="_blank">环境科学与工程</a>、生物学。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub146258_4"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农业资源与环境专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">土壤学</a>、<a target="_blank">植物营养学</a>、土地资源学、<a data-lemmaid="10278762" target="_blank">资源遥感</a>与信息技术、农业环境学、<a data-lemmaid="1824110" target="_blank">农业气象学</a>、<a data-lemmaid="42338" target="_blank">生态学</a>、<a target="_blank">水土保持学</a>。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub146258_5"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农业资源与环境专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">包括教学实习、生产实习、课程设计、毕业论文(毕业设计)、科研训练、生产劳动、社会实践等，一般安排25-30周。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub146258_6"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农业资源与环境专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">研究生：植物营养学、 土壤学 、生态学、 环境工程 、环境科学、 农业资源与环境</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub146258_7"></a>
<a class="lemma-anchor " name="开设院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农业资源与环境专业</span>开设院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">湖北<a data-lemmaid="7467251" target="_blank">长江大学农学院</a></div>
<div class="para" label-module="para"><a target="_blank">青海大学</a>农牧学院</div>
<div class="para" label-module="para"><a target="_blank">安徽农业大学</a>资源与环境学院</div>
<div class="para" label-module="para"><a target="_blank">广西大学</a>农学院</div>
<div class="para" label-module="para"><a target="_blank">中国农业大学</a>资源与环境学院</div>
<div class="para" label-module="para"><a data-lemmaid="6893282" target="_blank">内蒙古农业大学生态环境学院</a></div>
<div class="para" label-module="para"><a target="_blank">南京农业大学</a>资源与环境科学学院</div>
<div class="para" label-module="para"><a target="_blank">南京林业大学</a>林学院</div>
<div class="para" label-module="para"><a target="_blank">福建农林大学</a>资源与环境学院</div>
<div class="para" label-module="para"><a target="_blank">海南大学</a>农学院</div>
<div class="para" label-module="para"><a data-lemmaid="382077" target="_blank">南京信息工程大学</a> 应用气象学院</div>
<div class="para" label-module="para"><a target="_blank">石河子大学</a>农学院</div>
<div class="para" label-module="para"><a target="_blank">华中农业大学</a>资源与环境学院</div>
<div class="para" label-module="para"><a target="_blank">沈阳农业大学</a><a target="_blank">土地与环境学院</a></div>
<div class="para" label-module="para"><a target="_blank">湖南农业大学</a>资源环境学院</div>
<div class="para" label-module="para"><a target="_blank">华南农业大学</a>资源与环境学院</div>
<div class="para" label-module="para"><a target="_blank">浙江大学</a>资源与环境学院</div>
<div class="para" label-module="para"><a target="_blank">浙江农林大学</a>环境与资源学院</div>
<div class="para" label-module="para"><a target="_blank">西南大学</a>资源与环境学院</div>
<div class="para" label-module="para"><a target="_blank">河南科技学院</a>资源与环境学院</div>
<div class="para" label-module="para"><a target="_blank">河南农业大学</a>资源与环境学院</div>
<div class="para" label-module="para"><a target="_blank">西北农林科技大学</a></div>
<div class="para" label-module="para"><a target="_blank">四川农业大学</a>资源与环境学院</div>
<div class="para" label-module="para"><a target="_blank">山东农业大学</a>资源与环境学院</div>
<div class="para" label-module="para"><a target="_blank">青岛农业大学</a>资源与环境学院</div>
<div class="para" label-module="para"><a target="_blank">河北农业大学</a>资源与环境学院</div>
<div class="para" label-module="para"><a target="_blank">黑龙江大学</a>农业资源与环境学院</div>
<div class="para" label-module="para">湖北<a target="_blank">长江大学</a>农学院</div>
<div class="para" label-module="para"><a target="_blank">山西农业大学</a>资源环境学院</div>
<div class="para" label-module="para"><a target="_blank">北京农学院</a>植物科学技术学院</div>
<div class="para" label-module="para"><a target="_blank">贵州大学</a>农学院</div>
<div class="para" label-module="para"><a target="_blank">江西农业大学</a>国土资源与环境学院</div>
<div class="para" label-module="para"><a target="_blank">宁夏大学</a> 农学院</div>
<div class="para" label-module="para"><a target="_blank">吉林大学</a> 植物科学学院</div>
<div class="para" label-module="para"><a target="_blank">浙江海洋学院</a> 水产学院</div>
<div class="para" label-module="para"><a target="_blank">广东海洋大学</a> 农学院 <a data-lemmaid="5004315" target="_blank">农业资源与环境</a>系</div>
<div class="para" label-module="para"><a data-lemmaid="1116851" target="_blank">安徽科技学院</a> 城建与环境学院</div>
<div class="para" label-module="para"><a target="_blank">新疆农业大学</a>草业与环境科学学院</div>
<div class="para" label-module="para"><a target="_blank">东北农业大学</a>资源与环境学院</div>
<div class="para" label-module="para"><a data-lemmaid="289682" target="_blank">黑龙江八一农垦大学</a> 农学院 农业资源与环境</div>
<div class="para" label-module="para"><a data-lemmaid="5910972" target="_blank">云南农业大学资源与环境学院</a></div>
<div class="para" label-module="para"><a data-lemmaid="1376431" target="_blank">西南林业大学</a> 环境科学与工程学院</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub146258_8"></a>
<a class="lemma-anchor " name="评估排名"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农业资源与环境专业</span>评估排名</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">一级学科中，全国具有“博士一级”授权的高校共13所，本次有9所参评；还有部分具有“博士二级”授权和硕士授权的高校参加了评估；参评高校共计17所。 注：以下相同得分按学校代码顺序排列。</div>
<table class="table-view log-set-param" log-set-param="table_view" width="560"><tr><td align="center" height="25" valign="middle"><div class="para" label-module="para"><b>学校代码及名称</b></div>
</td><td align="center" height="25" valign="middle"><div class="para" label-module="para"><b>学科整体水平得分</b></div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10019 <a target="_blank">中国农业大学</a></div>
</td><td align="center" height="0" rowspan="2" valign="middle"><div class="para" label-module="para">90</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10307 <a target="_blank">南京农业大学</a></div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10335 <a target="_blank">浙江大学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">87</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10712 <a target="_blank">西北农林科技大学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">83</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10504 <a target="_blank">华中农业大学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">81</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10635 <a target="_blank">西南大学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">75</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10157 <a target="_blank">沈阳农业大学</a></div>
</td><td align="center" height="0" rowspan="2" valign="middle"><div class="para" label-module="para">73</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10537 <a target="_blank">湖南农业大学</a></div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10086 <a target="_blank">河北农业大学</a></div>
</td><td align="center" height="0" rowspan="2" valign="middle"><div class="para" label-module="para">70</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10434 <a target="_blank">山东农业大学</a></div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10341 <a target="_blank">浙江农林大学</a></div>
</td><td align="center" height="0" rowspan="4" valign="middle"><div class="para" label-module="para">67</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10466 <a target="_blank">河南农业大学</a></div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10491 <a target="_blank">中国地质大学</a></div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10676 <a target="_blank">云南农业大学</a></div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10593 <a target="_blank">广西大学</a></div>
</td><td align="center" height="0" rowspan="2" valign="middle"><div class="para" label-module="para">64</div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10759 <a target="_blank">石河子大学</a></div>
</td></tr><tr><td align="center" valign="middle"><div class="para" label-module="para">10758 <a target="_blank">新疆农业大学</a></div>
</td><td align="center" valign="middle"><div class="para" label-module="para">63</div>
</td></tr></table><div class="rs-container-foot">
<a name="rs-1"></a>
<a class="anchor-2" name="rs_146258_15888"></a>
<div class="rslazy rs-container" id="rs-container-146258-15888" lazy-init="lemmars.tableAction(baidu.g('rs-146258-15888'))"></div>
</div><script type="text/javascript">
        window.rsInsertData = window['rsInsertData'] || [];
        var rsdataList = {"foot":[{"fentryTableId":15888,"fentryTableName":"\u4e8c\u7ea7\u5b66\u79d1\u00b7\u73af\u5883\u751f\u6001\u7c7b\u4e13\u4e1a","fentryTableType":1,"entryId":2393528,"templateId":0,"entryTitle":"\u73af\u5883\u751f\u6001\u7c7b\u4e13\u4e1a","isManual":0,"isExpand":1}],"top":[]};

        if (rsdataList.top || rsdataList.foot) {
            rsInsertData.push([146258, rsdataList]);
        }
    </script>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-146258-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_146258" id="refIndex_1_146258" name="refIndex_1_146258" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">农业资源与环境专业解读与就业<span class="linkout"> </span></a>
<span class="site">．辽宁省招生考试办公室</span><span>[引用日期2016-02-28]</span></li><li class="reference-item " id="reference-[2]-146258-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_146258" id="refIndex_2_146258" name="refIndex_2_146258" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">农业资源与环境<span class="linkout"> </span></a>
<span class="site">．宁波成人教育网</span><span>．2012-09-29</span><span>[引用日期2013-05-24]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>