<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>水产养殖学专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">水产养殖学专业培养具备水产动、植物增养殖科学等方面的基本理论、基本知识和基本技能，能在水产养殖生产、教育、科研和管理等部门从事科学研究、教学、水产养殖开发、管理等工作的高级科学技术人才。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
<a target="_blank">水产养殖学专业</a>
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
Aquaculture science major
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
090601
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
<a target="_blank">农学</a>
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
农学学士
</dd>
<dt class="basicInfo-item name">主干学科</dt>
<dd class="basicInfo-item value">
水生生物学、环境科学、水产学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-4">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养要求</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">主干学科</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干课程</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">实践教学</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">其他信息</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">就业方向</a></span>
</li>
<li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">发展前景</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">开设学院</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_1">江西</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_2">浙江</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_3">山东</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_4">辽宁</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_5">湖北</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_6">河南</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_7">广西</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_8">江苏</a></span>
</li>
</ol><ol><li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_9">四川</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_10">福建</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_11">内蒙古</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_12">安徽</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_13">河北</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_14">山西</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_15">北京</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_16">天津</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_17">湖南</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_18">新疆</a></span>
</li>
</ol><ol><li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_19">甘肃</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_20">陕西</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_21">广东</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_22">海南</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_23">吉林</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_24">黑龙江</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_25">贵州</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_26">云南</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub146277_1"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">水产养殖学专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业学生主要学习<a data-lemmaid="1358" target="_blank">生物学</a>和水域环境学的基本理论以及水产增养殖、渔业经济和管理等方面的基本知识，受到有关生物学和化学实验教学、水产增养殖实践性环节、微型计算机应用等方面的基本训练，具有水产经济动、植物增养殖技术、营养与饲料和病害防治等方面的基本能力。</div>
<div class="para" label-module="para">毕业生应获得以下几方面的知识和能力：</div>
<div class="para" label-module="para">1．具备扎实的数学、物理、化学等基本理论知识；</div>
<div class="para" label-module="para">2．掌握现代<a target="_blank">生物科学</a>和<a data-lemmaid="337267" target="_blank">环境科学</a>的基本理论；</div>
<div class="para" label-module="para">3．掌握水产经济动植物的增养殖技术、营养与饲料和病害防治等方面的基本知识和基本技能；</div>
<div class="para" label-module="para">4．掌握主要养殖鱼类、甲壳类、藻类(可选择其中的2-3类)的人工育苗、育种和成体的集约化养殖等生产环节的技术关键；</div>
<div class="para" label-module="para">5．具备<a target="_blank">内陆水域</a>、浅海、滩涂的渔业资源和环境调查与规划的基本方法，了解现代化养殖工程、海洋渔业和水产品加工利用的基本知识；</div>
<div class="para" label-module="para">6．具备农业可持续发展的意识和基本知识，了解水产增养殖学、生命科学的学科前沿和发展趋势。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub146277_2"></a>
<a class="lemma-anchor " name="主干学科"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">水产养殖学专业</span>主干学科</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">水生生物学、环境科学、水产学、鱼类学</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub146277_3"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">水产养殖学专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">鱼类增养殖学</a>、甲壳动物增养殖学、水产动物育种学、水产动物营养与饲料、水产动物疾病防治、海藻与海藻栽培学、水环境化学等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub146277_4"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">水产养殖学专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">主要实践性教学环节：包括教学实习、生产实习、课程设计、毕业论文(毕业设计)、科研训练、生产劳动、社会实践等，一般安排25-30周。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub146277_5"></a>
<a class="lemma-anchor " name="其他信息"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">水产养殖学专业</span>其他信息</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><b>中国水产概况</b></div>
<div class="para" label-module="para">中国淡水养殖历史可追溯到公元前11世纪。公元前 5世纪已有《养鱼经》问世。淡水养殖主要有两种类型：一是池塘精养鲤科鱼类，以投饵、施肥取得高产，并将各种不同食性的鱼类进行混养，以充分发挥水体生产力。另一类型是在湖泊、水库、河沟、水稻田等大、中型水域中放养苗种，主要依靠天然饵料获得水产品。1986年全国淡水养殖面积约4600万亩（约占可养面积的61%），其中池塘占35%，集中在长江中下游和珠江三角洲；湖泊占17%，主要在长江中、下游和东北、内蒙古地区；水库占37%，分布全国；河沟占 9%，主要在江苏、浙江水网地区。淡水养殖总产量多年来一直居世界首位，近来每年以22%左右的速度递增，1986年产量为 295万吨，占全国水产总产量的36%。其中池塘占74%，水库占 8%，其余为湖泊、河沟和水稻田的产量。</div>
<div class="para" label-module="para">中国淡水养殖对象除传统的鲤科鱼类外，近年来还增加了非鲫、虹鳟、银鲑、白鲫、罗氏沼虾、中华绒螯蟹、淡水珍珠贝等。人工繁殖技术和网箱培育方法的采用，为养殖提供了大量苗种。</div>
<div class="para" label-module="para">中国的海水养殖也有较久的历史，宋代已有人工培育珍珠、插竹养牡蛎和藻类养殖的记载。1986年已进行海水养殖的浅海、滩涂面积为 488万亩（占可供养殖面积2000万亩的24%），产量为85.8万吨，占全国水产总产量的10%。其中 海带占23.7%，紫菜占1.6%，贻贝占24.5%，牡蛎占 6.4%，蛏和蚶占17.5%。此外还养殖鲻、鲮、鲈、遮目鱼、对虾、海水珍珠、鲍、扇贝、海参等。</div>
<div class="para" label-module="para"><b>水产养殖前景</b></div>
<div class="para" label-module="para">全世界淡水、海水养殖都还有巨大的发展潜力，这是因为：①全世界适于发展水产养殖的非洲、拉美等热带和亚热带等地区尚有大片条件优越的水域尚未开发利用，而这些水域的生产力可高于其他地区。②养殖种类的迅速传播和交流，可促使养殖品种单一的地区提高产量。如适应性广的非鲫和对虾等已成为世界性的优良养殖品种，对提高产量作用很大。③先进的养殖技术和有关基础理论如遗传育种和遗传工程等的研究和应用，将极大地提高产量和增加养殖种类。④人工繁殖和阶段发育理论的应用可为养殖业稳定供应大量苗种。⑤对水生经济动植物生理、生态学的深入研究可为养殖对象提供具全价营养的配合饵料和最适生长环境；连同高密度流水养鱼、混养、综合养鱼等综合性先进技术的运用，将为养殖业的大幅度发展提供了巨大的可能性。</div>
<div class="para" label-module="para">水产养殖与渔业生态、水产增养殖、鱼类生理生态、鱼类病理与免疫、渔业环境保护、鱼类遗传育种、鱼类营养与饲料。</div>
<div class="para" label-module="para">相近专业：水产养殖学 海洋渔业科学与技术 水族科学与技术</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub146277_6"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">水产养殖学专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">大专院校、各级水产研究、生产开发和管理以及水产环保、外贸海关等部门。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub146277_7"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">水产养殖学专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">随着社会经济的发展和国家对农业的不断重视，水产养殖业地位越来越高，行业发展空间也越来越大，人才需求也越来越大，从每年的人才需求看，毕业生数量总是满足不了行业人才需求的数量，因而就业前景非常广阔。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub146277_8"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">水产养殖学专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="8_1"></a>
<a class="lemma-anchor " name="sub146277_8_1"></a>
<a class="lemma-anchor " name="江西"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">水产养殖学专业</span>江西</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">南昌大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">江西农业大学</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_2"></a>
<a class="lemma-anchor " name="sub146277_8_2"></a>
<a class="lemma-anchor " name="浙江"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">水产养殖学专业</span>浙江</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">宁波大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">浙江海洋学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">湖州师范学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_3"></a>
<a class="lemma-anchor " name="sub146277_8_3"></a>
<a class="lemma-anchor " name="山东"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">水产养殖学专业</span>山东</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">中国海洋大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">烟台大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">山东农业大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">青岛农业大学</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_4"></a>
<a class="lemma-anchor " name="sub146277_8_4"></a>
<a class="lemma-anchor " name="辽宁"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">水产养殖学专业</span>辽宁</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">大连海洋大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">沈阳农业大学</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_5"></a>
<a class="lemma-anchor " name="sub146277_8_5"></a>
<a class="lemma-anchor " name="湖北"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">水产养殖学专业</span>湖北</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">长江大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">华中农业大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">武汉轻工大学</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_6"></a>
<a class="lemma-anchor " name="sub146277_8_6"></a>
<a class="lemma-anchor " name="河南"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">水产养殖学专业</span>河南</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">河南师范大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">河南农业大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">信阳农林学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_7"></a>
<a class="lemma-anchor " name="sub146277_8_7"></a>
<a class="lemma-anchor " name="广西"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">水产养殖学专业</span>广西</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">广西大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">钦州学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_8"></a>
<a class="lemma-anchor " name="sub146277_8_8"></a>
<a class="lemma-anchor " name="江苏"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">水产养殖学专业</span>江苏</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">扬州大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">南京农业大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">淮海工学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_9"></a>
<a class="lemma-anchor " name="sub146277_8_9"></a>
<a class="lemma-anchor " name="四川"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">水产养殖学专业</span>四川</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">内江师范学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">四川农业大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">西昌学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_10"></a>
<a class="lemma-anchor " name="sub146277_8_10"></a>
<a class="lemma-anchor " name="福建"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">水产养殖学专业</span>福建</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">福建农林大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">集美大学</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_11"></a>
<a class="lemma-anchor " name="sub146277_8_11"></a>
<a class="lemma-anchor " name="内蒙古"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">水产养殖学专业</span>内蒙古</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">内蒙古农业大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">内蒙古民族大学</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_12"></a>
<a class="lemma-anchor " name="sub146277_8_12"></a>
<a class="lemma-anchor " name="安徽"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">水产养殖学专业</span>安徽</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">安徽农业大学</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_13"></a>
<a class="lemma-anchor " name="sub146277_8_13"></a>
<a class="lemma-anchor " name="河北"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">水产养殖学专业</span>河北</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">河北农业大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">河北科技师范学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_14"></a>
<a class="lemma-anchor " name="sub146277_8_14"></a>
<a class="lemma-anchor " name="山西"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">水产养殖学专业</span>山西</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">山西农业大学</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_15"></a>
<a class="lemma-anchor " name="sub146277_8_15"></a>
<a class="lemma-anchor " name="北京"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">水产养殖学专业</span>北京</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">中国农业大学</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_16"></a>
<a class="lemma-anchor " name="sub146277_8_16"></a>
<a class="lemma-anchor " name="天津"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">水产养殖学专业</span>天津</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">天津农学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_17"></a>
<a class="lemma-anchor " name="sub146277_8_17"></a>
<a class="lemma-anchor " name="湖南"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">水产养殖学专业</span>湖南</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">湖南农业大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">湖南文理学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">湖南应用技术学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_18"></a>
<a class="lemma-anchor " name="sub146277_8_18"></a>
<a class="lemma-anchor " name="新疆"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">水产养殖学专业</span>新疆</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">塔里木大学</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_19"></a>
<a class="lemma-anchor " name="sub146277_8_19"></a>
<a class="lemma-anchor " name="甘肃"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">水产养殖学专业</span>甘肃</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">甘肃农业大学</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_20"></a>
<a class="lemma-anchor " name="sub146277_8_20"></a>
<a class="lemma-anchor " name="陕西"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">水产养殖学专业</span>陕西</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">西北农林科技大学</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_21"></a>
<a class="lemma-anchor " name="sub146277_8_21"></a>
<a class="lemma-anchor " name="广东"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">水产养殖学专业</span>广东</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">华南农业大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">广东海洋大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">仲恺农业工程学院</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">佛山科学技术学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_22"></a>
<a class="lemma-anchor " name="sub146277_8_22"></a>
<a class="lemma-anchor " name="海南"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">水产养殖学专业</span>海南</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">海南大学</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_23"></a>
<a class="lemma-anchor " name="sub146277_8_23"></a>
<a class="lemma-anchor " name="吉林"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">水产养殖学专业</span>吉林</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">吉林农业大学</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_24"></a>
<a class="lemma-anchor " name="sub146277_8_24"></a>
<a class="lemma-anchor " name="黑龙江"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">水产养殖学专业</span>黑龙江</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">东北农业大学</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_25"></a>
<a class="lemma-anchor " name="sub146277_8_25"></a>
<a class="lemma-anchor " name="贵州"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">水产养殖学专业</span>贵州</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">贵州大学</a></div>
</li><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">铜仁学院</a></div>
</li></ul><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_26"></a>
<a class="lemma-anchor " name="sub146277_8_26"></a>
<a class="lemma-anchor " name="云南"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">水产养殖学专业</span>云南</h3>
</div>
<ul class="custom_dot para-list list-paddingleft-1"><li class="list-dot list-dot-paddingleft"><div class="para" label-module="para"><a target="_blank">云南农业大学</a></div>
</li></ul>
<div class="clear"></div>
</div>