<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>海洋渔业科学与技术专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">海洋渔业科学与技术专业学生主要学习<a target="_blank">渔业资源与渔场学</a>、<a target="_blank">海洋环境学</a>、渔具渔法学、渔业法规与渔政管理等的基本理论和基本知识，受到船舶驾驶技术、网具装配技术、捕捞技术、渔场调查、渔业水域环境监测和渔政管理等方面的基本训练，具有渔业资源与渔业环境的调查和研究、渔具渔法设计和渔业管理的基本能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_146287"> </a>
</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
海洋渔业科学与技术专业
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
090602
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
农学或工学学士
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
<a target="_blank">农学</a>
</dd>
<dt class="basicInfo-item name">主干学科</dt>
<dd class="basicInfo-item value">
力学、水产学、管理学、航海学。
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养目标</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">专业技能</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干学科</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">主干课程</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">实践教学</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">开设院校</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">院校排名</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">发展前景</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub146287_1"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋渔业科学与技术专业</span>培养目标</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">培养面向我国经济建设需要，德、智、体全面发展，具备海洋渔业科学与技术方面的基本理论、基本知识和基本技能；具有较强的创新意识和创新能力，综合素质高，适应能力和国际竞争能力强；能在海洋渔业科学研究部门、水产部门和企业从事科学研究与教学、新技术推广与新产品开发、懂现代化经营、管理的高科技人才。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_146287"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub146287_2"></a>
<a class="lemma-anchor " name="专业技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋渔业科学与技术专业</span>专业技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1. 具备扎实的数学、物理、力学基础和<a target="_blank">计算机应用技术</a>；</div>
<div class="para" label-module="para">2. 具有较高的英语水平，能运用1-2门外语阅读本专业的参考文献;</div>
<div class="para" label-module="para">3. 掌握渔业水环境调控与监测的基本理论、基本知识和设计技能；</div>
<div class="para" label-module="para">4. 具有从事增、养殖工程设计，海洋牧场规划设计，设施渔业工程设计的基本技能；</div>
<div class="para" label-module="para">5. 具有从事科研工作的良好素质，掌握本专业及其相关学科的基本研究方法和实验技能；</div>
<div class="para" label-module="para">6. 了解国际渔业发展趋势，适合从事渔业管理、海洋区域管理、对外渔业关系和行政执法等工作。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub146287_3"></a>
<a class="lemma-anchor " name="主干学科"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋渔业科学与技术专业</span>主干学科</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">力学、<a target="_blank">水产学</a>、管理学、<a target="_blank">航海学</a>。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub146287_4"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋渔业科学与技术专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">水生生物学</a>、<a target="_blank">鱼类学</a>、渔具渔法学、渔具理论与设计、<a data-lemmaid="46386" target="_blank">航海技术</a>、渔业资源与渔场学、<a target="_blank">渔业资源评估</a>、<a target="_blank">海洋环境调查</a>和监测、渔业法规与渔政管理。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub146287_5"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋渔业科学与技术专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">包括教学实习、生产实习、课程设计、毕业论文(毕业设计)、科研训练、生产劳动、社会实践等，-般安排25-28周。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub146287_6"></a>
<a class="lemma-anchor " name="开设院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋渔业科学与技术专业</span>开设院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">中国海洋大学</a>（农学）；<a target="_blank">广东海洋大学</a>（工学）；<a target="_blank">大连海洋大学</a>；<a target="_blank">上海海洋大学</a>；<a target="_blank">集美大学</a>；<a target="_blank">浙江海洋学院</a>（农学）；<a target="_blank">天津农学院</a>；<a target="_blank">烟台大学</a>；<a target="_blank">湖南农业大学</a>（10537）；<a target="_blank">华中农业大学</a>（10504）；<a target="_blank">四川大学</a>（10610）；<a target="_blank">东北农业大学</a>（10224）；<a target="_blank">河北农业大学</a>（渤海校区）等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub146287_7"></a>
<a class="lemma-anchor " name="院校排名"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋渔业科学与技术专业</span>院校排名</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><b>2013-2014年海洋渔业科学与技术专业排名</b></div>
<table class="table-view log-set-param" log-set-param="table_view" width="100%"><tr><td><div class="para" label-module="para"><b>排 序</b></div>
</td><td><div class="para" label-module="para"><b>学校名称</b></div>
</td><td><div class="para" label-module="para"><b>水 平</b></div>
</td><td><div class="para" label-module="para"><b>开此专业学校数</b></div>
</td></tr><tr><td><div class="para" label-module="para">1</div>
</td><td><div class="para" label-module="para"><a target="_blank">中国海洋大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">9</div>
</td></tr><tr><td><div class="para" label-module="para">2</div>
</td><td><div class="para" label-module="para"><a target="_blank">上海海洋大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">9</div>
</td></tr><tr><td><div class="para" label-module="para">3</div>
</td><td><div class="para" label-module="para"><a target="_blank">浙江海洋学院</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">9</div>
</td></tr><tr><td><div class="para" label-module="para">4</div>
</td><td><div class="para" label-module="para"><a target="_blank">大连海洋大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">9</div>
</td></tr></table><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub146287_8"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋渔业科学与技术专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">渔业资源在上个世纪七八十年代遭到严重破坏，而中国的渔业<a target="_blank">产业链</a>还处于中低端水平。对于海洋渔业科学与技术专业的学生来说，上船搞远洋渔业不论待遇上还是工作条件与<a target="_blank">航海技术专业</a>都无法相比，而对于渔业局、渔政局、水产站等政府事业单位门槛较高。近十年毕业生除极少数从事渔政、远洋渔业外，部分读研深造或跨学科深造，大多从事其他行业。</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-146287-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_146287" id="refIndex_1_146287" name="refIndex_1_146287" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">海洋渔业科学与技术专业解读与就业<span class="linkout"> </span></a>
<span class="site">．辽宁省招生考试办公室</span><span>[引用日期2016-02-28]</span></li><li class="reference-item " id="reference-[2]-146287-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_146287" id="refIndex_2_146287" name="refIndex_2_146287" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">海洋渔业科学与技术(本科类) <span class="linkout"> </span></a>
<span class="site">．阳光高考</span><span>[引用日期2016-02-28]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>