<%include ../common/include_header.html%>

<%include include_head_img.html%>


    <section id="feature" >
        <div class="container">
            <div class="row">
                <div class="features">


                    <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">



                        <table class="table table-hover table-bordered" style="margin-right: 50px;margin-left: 10px;text-align:center">
                            <%include include_menu.html%>
                        </table>


                    </div><!--/.col-md-4-->

                    <div class="col-md-9 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">

                        <div class="left wow fadeInDown">
                            <span style="font-size: large;">薪酬福利</span>
                        </div>
                        



                        <h3 class="ab_right_title font_size_12" >
                        <span >您的位置：<a href="/" class="a_little_tip">首页</a> > <a class="a_little_tip">人力资源</a>
                        </span>
                        </h3>


                       <div>
                           <p>
                               为了吸引、激励和保留优秀人才，实现企业与员工的双赢，公司为员工提供全面的、有竞争力的薪酬福利体系：
                           </p>
                           <br />
                           <span style="color:#E53333;font-size:16px;"><strong>一、竞争性薪酬</strong></span><br />
                           <br />
                           1、学门网提供你想要的薪酬，不过不以实物体现。<br />
                           <br />
                           <span style="font-size:16px;color:#E53333;"><strong>二、多元化福利</strong></span><br />
                           <br />
                           1、学门网给您您想要的福利，只要您敢要，我们就敢给。<br /></p>

                       </div>



                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#feature-->









<%include ../common/include_footer.html%>

<!--jquery修改首页导航样式-->
<script>
    $("#human_resources").addClass("active");
</script>