<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>知识产权专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">知识产权专业培养能在律师事务所、专利事务所、商标事务所等从事商标代理、专利代理等专门知识产权事务，同时也能在公、检、法等部门从事专门的知识产权司法审判及其他法律事务，或者在版权局、商标局、专利局、科技局等部门从事知识产权管理事务的知识产权专门人才。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_2428861"> </a>
</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
知识产权专业
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
Intellectual property professional
</dd>
<dt class="basicInfo-item name">相关专业</dt>
<dd class="basicInfo-item value">
法学 监狱学
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">修业年限</dt>
<dd class="basicInfo-item value">
四年\两年（第二学士学位）
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
法学学士
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
030102T
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
法学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">专业要求</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">知识能力</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干课程</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">实践教学</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">就业方向</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">开设学院</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="para" label-module="para"><b></b></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub2428861_1"></a>
<a class="lemma-anchor " name="专业要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">知识产权专业</span>专业要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><b></b></div>
<div class="para" label-module="para">该专业学生主要学习法学的基本理论和基本知识，受到法学思维和法律实务的基本训练，具有运用法学理论和方法分析问题和运用法律管理事务与解决问题的基本能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub2428861_2"></a>
<a class="lemma-anchor " name="知识能力"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">知识产权专业</span>知识能力</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">应获得以下几方面的知识和能力：</div>
<div class="para" label-module="para">1．具备知识产权专业各学科的基本理论和基本知识，同时兼具普通法学各学科基本理论和基本知识；<div class="lemma-picture text-pic layout-right" style="width:220px; float: right;">
<a class="image-link" nslog-type="9317" style="width:220px;height:220px;" target="_blank" title="">
<img alt="" class="lazy-img" data-src="https://gss2.bdstatic.com/9fo3dSag_xI4khGkpoWK1HF6hhy/baike/s%3D220/sign=1bd3c9cdb519ebc4c478719bb227cf79/10dfa9ec8a1363270032349b978fa0ec09fac7bf.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF9fX1AAAA0VQI3QAAAAxJREFUeNpiYAAIMAAAAgABT21Z4QAAAABJRU5ErkJggg==" style="width:220px;height:220px;"/>
</a>
</div></div>
<div class="para" label-module="para">2．掌握知识产权专业知识和专业技能，同时具备法学一般分析方法和技术；</div>
<div class="para" label-module="para">3．了解知识产权发展的前沿和知识产权发展的趋势；</div>
<div class="para" label-module="para">4．熟悉我国知识产权<a data-lemmaid="412539" target="_blank">法律体系</a>和相关政策体系及普通法律体系和政策；</div>
<div class="para" label-module="para">5．运用知识产权知识解决和处理知识产权代诉讼和管理问题的能力；</div>
<div class="para" label-module="para">6．掌握专利和商标检索、资料查询的技能和方法，同时具有一般<a data-lemmaid="2826202" target="_blank">文献检索</a>、资料查询的基本方法，能尽快解决文献检索和查询的问题。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub2428861_3"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">知识产权专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该项专业包含以下课程：法理学、宪法学、民法学、刑法学、刑事诉讼法、<a target="_blank">行政法与行政诉讼法</a>、国际私法、国际法、<a data-lemmaid="7731815" target="_blank">著作权法</a>（版权法）、<a data-lemmaid="3893997" target="_blank">专利法</a>、<a data-lemmaid="1404244" target="_blank">商标法</a>、知识产权国际公约、<a target="_blank">专利文献检索</a>、知识产权损害赔偿、合同法、<a target="_blank">知识产权法原理</a>、网络环境下的知识产权保护、<a target="_blank">企业知识产权战略</a>、<a target="_blank">反不正当竞争法</a>、<a target="_blank">知识产权代理</a>实务等。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_2428861"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub2428861_4"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">知识产权专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">知识产权保护认识实习、知识产权保护状况调查、知识产权申请模拟实验、毕业实习、毕业论文等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub2428861_5"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">知识产权专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">毕业生能分别在<a data-lemmaid="85044" target="_blank">知识产权</a>管理机构、大型企业、科研院所等单位从事知识产权管理工作；也能在知识产权中介服务机构、律师事务所或人民法院等单位从事<a target="_blank">知识产权服务</a>工作或审判工作；还能在研究单位从事知识产权或相关的研究工作。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_2428861"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub2428861_6"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">知识产权专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<ol class="custom_num para-list list-paddingleft-1"><li class="list-num-1-1 list-num-paddingleft-1"><div class="para" label-module="para"><a target="_blank">中国人民大学</a></div>
</li><li class="list-num-1-2 list-num-paddingleft-1"><div class="para" label-module="para"><a target="_blank">安徽大学</a></div>
</li><li class="list-num-1-3 list-num-paddingleft-1"><div class="para" label-module="para"><a target="_blank">石家庄学院</a></div>
</li><li class="list-num-1-4 list-num-paddingleft-1"><div class="para" label-module="para"><a target="_blank">大连理工大学</a></div>
</li><li class="list-num-1-5 list-num-paddingleft-1"><div class="para" label-module="para"><a target="_blank">华东理工大学</a></div>
</li><li class="list-num-1-6 list-num-paddingleft-1"><div class="para" label-module="para"><a target="_blank">苏州大学</a></div>
</li><li class="list-num-1-7 list-num-paddingleft-1"><div class="para" label-module="para"><a target="_blank">浙江工业大学</a></div>
</li><li class="list-num-1-8 list-num-paddingleft-1"><div class="para" label-module="para"><a target="_blank">浙江工商大学</a></div>
</li><li class="list-num-1-9 list-num-paddingleft-1"><div class="para" label-module="para"><a target="_blank">铜陵学院</a></div>
</li><li class="list-num-1-10 list-num-paddingleft-1"><div class="para" label-module="para"><a target="_blank">南昌大学</a></div>
</li><li class="list-num-1-11 list-num-paddingleft-1"><div class="para" label-module="para"><a target="_blank">河南财经政法大学</a></div>
</li><li class="list-num-1-12 list-num-paddingleft-1"><div class="para" label-module="para"><a target="_blank">中原工学院</a></div>
</li><li class="list-num-1-13 list-num-paddingleft-1"><div class="para" label-module="para"><a target="_blank">湘潭大学</a></div>
</li><li class="list-num-1-14 list-num-paddingleft-1"><div class="para" label-module="para"><a target="_blank">暨南大学</a></div>
</li><li class="list-num-1-15 list-num-paddingleft-1"><div class="para" label-module="para"><a target="_blank">桂林电子科技大学</a></div>
</li><li class="list-num-1-16 list-num-paddingleft-1"><div class="para" label-module="para"><a target="_blank">重庆交通大学</a></div>
</li><li class="list-num-1-17 list-num-paddingleft-1"><div class="para" label-module="para"><a target="_blank">西南政法大学</a></div>
</li><li class="list-num-1-18 list-num-paddingleft-1"><div class="para" label-module="para"><a target="_blank">兰州理工大学</a></div>
</li><li class="list-num-1-19 list-num-paddingleft-1"><div class="para" label-module="para"><a target="_blank">辽宁对外经贸学院</a></div>
</li><li class="list-num-1-20 list-num-paddingleft-1"><div class="para" label-module="para"><a data-lemmaid="2310246" target="_blank">安阳工学院</a></div>
</li><li class="list-num-1-21 list-num-paddingleft-1"><div class="para" label-module="para"><a target="_blank">武汉东湖学院</a></div>
</li><li class="list-num-1-22 list-num-paddingleft-1"><div class="para" label-module="para">淮北师范大学信息学院</div>
</li><li class="list-num-1-23 list-num-paddingleft-1"><div class="para" label-module="para">山东政法学院</div>
</li><li class="list-num-1-24 list-num-paddingleft-1"><div class="para" label-module="para">保定学院</div>
</li><li class="list-num-1-25 list-num-paddingleft-1"><div class="para" label-module="para">内蒙古财经大学</div>
</li><li class="list-num-1-26 list-num-paddingleft-1"><div class="para" label-module="para">哈尔滨金融学院</div>
</li><li class="list-num-1-27 list-num-paddingleft-1"><div class="para" label-module="para">华东政法大学</div>
</li><li class="list-num-1-28 list-num-paddingleft-1"><div class="para" label-module="para">南京理工大学</div>
</li><li class="list-num-1-29 list-num-paddingleft-1"><div class="para" label-module="para">杭州师范大学</div>
</li><li class="list-num-1-30 list-num-paddingleft-1"><div class="para" label-module="para">中国计量学院</div>
</li><li class="list-num-1-31 list-num-paddingleft-1"><div class="para" label-module="para">福建工程学院</div>
</li><li class="list-num-1-32 list-num-paddingleft-1"><div class="para" label-module="para">河南师范大学</div>
</li><li class="list-num-1-33 list-num-paddingleft-1"><div class="para" label-module="para">中南民族大学</div>
</li><li class="list-num-1-34 list-num-paddingleft-1"><div class="para" label-module="para">湖南师范大学</div>
</li><li class="list-num-1-35 list-num-paddingleft-1"><div class="para" label-module="para">华南理工大学</div>
</li><li class="list-num-1-36 list-num-paddingleft-1"><div class="para" label-module="para">广西民族大学</div>
</li><li class="list-num-1-37 list-num-paddingleft-1"><div class="para" label-module="para">西南科技大学</div>
</li><li class="list-num-1-38 list-num-paddingleft-1"><div class="para" label-module="para">兰州大学</div>
</li><li class="list-num-1-39 list-num-paddingleft-1"><div class="para" label-module="para">新疆大学</div>
</li><li class="list-num-1-40 list-num-paddingleft-1"><div class="para" label-module="para">烟台大学</div>
</li><li class="list-num-1-41 list-num-paddingleft-1"><div class="para" label-module="para">重庆理工大学</div>
</li><li class="list-num-1-42 list-num-paddingleft-1"><div class="para" label-module="para">上海政法学院</div>
</li><li class="list-num-1-43 list-num-paddingleft-1"><div class="para" label-module="para">北京科技大学天津学院。</div>
</li><li class="list-num-1-44 list-num-paddingleft-1"><div class="para" label-module="para">池州学院</div>
</li></ol><div class="rs-container-foot">
<a name="rs-1"></a>
<a class="anchor-2" name="rs_2428861_15654"></a>
<div class="rslazy rs-container" id="rs-container-2428861-15654" lazy-init="lemmars.tableAction(baidu.g('rs-2428861-15654'))"></div>
</div><script type="text/javascript">
        window.rsInsertData = window['rsInsertData'] || [];
        var rsdataList = {"foot":[{"fentryTableId":15654,"fentryTableName":"\u4e8c\u7ea7\u5b66\u79d1\u00b7\u6cd5\u5b66","fentryTableType":1,"entryId":2393473,"templateId":0,"entryTitle":"\u6cd5\u5b66\u7c7b\u4e13\u4e1a","isManual":0,"isExpand":1}],"top":[]};

        if (rsdataList.top || rsdataList.foot) {
            rsInsertData.push([2428861, rsdataList]);
        }
    </script>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-2428861-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_2428861" id="refIndex_1_2428861" name="refIndex_1_2428861" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank"> 知识产权<span class="linkout"> </span></a>
<span class="site">．中国教育在线</span><span>[引用日期2016-02-17]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>