<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>网络与新媒体专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">网络与新媒体专业是基于<a data-lemmaid="199186" target="_blank">互联网</a>等新兴媒介形态对<a target="_blank">新闻传播</a>行业及整个社会的的巨大推动，顺应数字信息时代发展所需，顺应移动互联媒介融合的趋势要求而产生的新闻传播类新专业。该专业是对2011年开始招生的<a target="_blank">新媒体与信息网络</a>专业进一步发展。</div><div class="para" label-module="para">2012年教育部开始组织该专业申报工作。2013年首次批复28所高校招生，2014年批复20所高校招生，2015年批复29所高校招生<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_14524876"> </a>
，2016年批复47所高校招生<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_14524876"> </a>
。该专业文理兼收，毕业授予文学学士学位。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
网络与新媒体
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
Network and New Media
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
050306T
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
文学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
<a target="_blank">文学</a>
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">主干课程</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">结构要求</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#2_1">知识</a></span>
</li>
</ol><ol><li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#2_2">能力</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">学制与学位</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">相近专业</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">发展前景</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">开设院校</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub14524876_1"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">网络与新媒体专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">新闻学</a>与<a data-lemmaid="755486" target="_blank">传播学</a><b>　</b></div>
<div class="para" label-module="para">本专业文理兼收。</div>
<div class="para" label-module="para">专业课程因学校不同而略有差异</div>
<div class="para" label-module="para">传播学概论、新媒体概论、网络传播、公共关系、网页设计与制作、新闻采访写作、新闻摄影、媒介环境学、非线性编辑、危机传播与管理、中外新闻史、舆论学、网络舆情分析、融合新闻学、网络编辑评论、摄影作品鉴赏与批评、数据新闻、跨文化传播等（<a data-lemmaid="17821" target="_blank">西北大学</a>）。</div>
<div class="para" label-module="para">传播学原理、新媒体与社会、网络传播导论、传播心理学、传播统计学、新媒体用户分析、网络与新媒体应用模式、网络策划与编辑、网络信息管理、网络传播功能设计、数据库系统原理、C++程序设计、Java程序设计、计算机网络、人机交互技术及应用、软件工程、WEB信息框架、网页设计、媒介经营管理等（华中科技大学）。</div>
<div class="para" label-module="para">策划学概论、专业通识、新媒体数据分析与应用、新媒体技术与运用、数字图像采集与制作、视频合成与剪辑、数字时代著作导读、新闻采访与写作、媒体活动策划、新媒体创意与策划、新媒体产品设计与运营、网页策划与编辑、互动营销、微电影创作、整合营销传播、电子商务、媒介经营管理概论、网络与新媒体实务、新媒体舆情监测与分析、新媒体前沿等。（浙江传媒学院）<sup>[3]</sup><a class="sup-anchor" name="ref_[3]_14524876"> </a>
</div>
<div class="para" label-module="para">数字媒体概论、新闻学概论、网络传播、多媒体新闻制作、数据库与媒体信息处理、专业网页制作、网络新闻编辑与发布、英语新闻采访与写作、国际传播、网络中英文新闻编译、中外传媒史、网络媒体经营与管理等。（上海外国语大学）</div>
<div class="para" label-module="para">网络与新媒体概论、网络与传播、网络新闻编辑、网页设计制作、网络广告、网络播音主持、网络媒体经营管理、网络营销、网络与新媒体受众行为分析、网络与新媒体数据分析、网络舆情监测与分析、信息可视化、移动媒体研究、手机媒体创意坊、融媒体创意坊等。（河南工业大学）<sup>[4]</sup><a class="sup-anchor" name="ref_[4]_14524876"> </a>
</div>
<div class="para" label-module="para">新媒体概论、传播学、市场营销、广告学概论、信息网络传播管理、新媒体艺术概论、强化写作训练、网页设计与制作、计算机网络、信息网络互动技术与应用、信息网络法规伦理、数字媒体技术、新媒体业务策划、新媒介数据分析与应用、新媒体调查方法、新媒体内容集成、摄影摄像技术、企业形象与品牌传播。（合肥师范学院）<sup>[5]</sup><a class="sup-anchor" name="ref_[5]_14524876"> </a>
</div>
<div class="para" label-module="para">新媒体技术导论、新媒体概论、视听语言、数字摄像、多媒体信息编辑、数字视频编辑、面向对象的程序设计、数字摄影、新媒体信息策划、手机媒体研究、网络传播、大众传播、传播心理学、新闻学概论、新闻采访、新闻写作、中外新闻史等。<b>　</b></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub14524876_2"></a>
<a class="lemma-anchor " name="结构要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">网络与新媒体专业</span>结构要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="2_1"></a>
<a class="lemma-anchor " name="sub14524876_2_1"></a>
<a class="lemma-anchor " name="知识"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">网络与新媒体专业</span>知识</h3>
</div>
<div class="para" label-module="para">具有扎实的新闻传播学学科背景和了解本学科的发展前沿；系统掌握网络与新媒体专业的基础理论、基本技能和基本方法，具有一专多能的知识结构；拥有广阔的国际化传媒视野和全球化的人才竞争力；掌握一门外语（达到学校规定的合格要求）；掌握并能熟练应用计算机、新媒体基础知识与应用技能，要达到全国或省内高校计算机等级考核二级水平；完成规定周数的专业实习与毕业论文。<b>　</b></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2_2"></a>
<a class="lemma-anchor " name="sub14524876_2_2"></a>
<a class="lemma-anchor " name="能力"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">网络与新媒体专业</span>能力</h3>
</div>
<div class="para" label-module="para">具有深厚的传播学学科背景和的网络与新媒体的知识结构；既懂得传播规律，也懂得市场规律，在开阔的国际化视野中，形成对当今互联网业和数字传媒业运营的整体性、综合性把握，将知识转化为创意、策划和执行能力；具有良好的自学能力、书面与口头表达能力和社交能力；具有较强的综合运用专业知识发现问题、分析问题和解决问题的实践能力；在专业领域内具有较强的创新意识和一定的创新与整合能力；掌握借助科技手段完成文献检索、资料查询的基本方法，具有初步的科研能力；具有在IT、传媒领域和相关的文化传播行业经营管理的能力；换言之，本专业致力于培养在数字时代具有良好专业素养与较强综合竞争力的传媒人士、IT人士、职场人士以及商业人士。<b>　</b></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub14524876_3"></a>
<a class="lemma-anchor " name="学制与学位"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">网络与新媒体专业</span>学制与学位</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1.标准学制：四年</div>
<div class="para" label-module="para">2.弹性学制：三——八年（根据所获学分确定修业年限）</div>
<div class="para" label-module="para">3.授予学位：文学学士<b>　</b></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub14524876_4"></a>
<a class="lemma-anchor " name="相近专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">网络与新媒体专业</span>相近专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">2010年教育部首次组织新媒体与信息网络专业申报，2011年<a target="_blank">中国传媒大学</a>（南广学院）一所高校开始招生的新媒体与信息网络专业，2012年<a target="_blank">湖南师范大学</a>等八所高校招生。经专业名称修订，2013年本科专业招生目录中不再有新媒体与信息网络专业，开设网络与新媒体专业。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub14524876_5"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">网络与新媒体专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">国家重点新闻网站、各级报社、广播电台、电视台、传媒集团等国有新闻单位、网络媒体、各级企事业的信息化管理宣传部门、文化传播公司、广告公司、各企业的新媒体部门等。</div>
<div class="para" label-module="para">通过系统学习毕业后能在各级党政机关、部队、院校、企业等从事网络新闻宣传与媒介传播优化等工作，在各级报社、广播电台、电视台及其网络平台、大中型网络媒体等从事媒介内容生产与媒介经营管理等工作。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub14524876_6"></a>
<a class="lemma-anchor " name="开设院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">网络与新媒体专业</span>开设院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><b></b></div>
<div class="para" label-module="para">2011年开始招生新媒体与信息网络专业高校2所</div>
<div class="para" label-module="para">2012年开始招生新媒体与信息网络专业高校8所</div>
<div class="para" label-module="para">2013年开始招生网络与新媒体专业高校28所<sup>[6]</sup><a class="sup-anchor" name="ref_[6]_14524876"> </a>
</div>
<div class="para" label-module="para">2014年开始招生网络与新媒体专业高校20所<sup>[7]</sup><a class="sup-anchor" name="ref_[7]_14524876"> </a>
</div>
<div class="para" label-module="para">2015年开始招生网络与新媒体专业高校29所<b><sup>[1]</sup><a class="sup-anchor" name="ref_[1]_14524876"> </a>
</b></div>
<div class="para" label-module="para">2016年开始招生网络与新媒体专业高校47所<b><sup>[2]</sup><a class="sup-anchor" name="ref_[2]_14524876"> </a>
</b></div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-14524876-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_14524876" id="refIndex_1_14524876" name="refIndex_1_14524876" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">2014年度普通高等学校本科专业备案或审批结果<span class="linkout"> </span></a>
<span class="site">．中华人民共和国教育部</span><span>．2015-03-13</span><span>[引用日期2015-04-12]</span></li><li class="reference-item " id="reference-[2]-14524876-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_14524876" id="refIndex_2_14524876" name="refIndex_2_14524876" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">教育部关于公布2015年度普通高等学校本科专业备案和审批结果的通知 <span class="linkout"> </span></a>
<span class="site">．中华人民共和国教育部政府门户网站</span><span>．2016-02-16</span><span>[引用日期2016-08-24]</span></li><li class="reference-item " id="reference-[3]-14524876-wrap">
<span class="index">3.</span>
<a class="gotop anchor" href="#ref_[3]_14524876" id="refIndex_3_14524876" name="refIndex_3_14524876" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">文化创意学院<span class="linkout"> </span></a>
<span class="site">．浙江传媒学院招生办</span><span>．2014-03-26</span><span>[引用日期2014-09-2]</span></li><li class="reference-item " id="reference-[4]-14524876-wrap">
<span class="index">4.</span>
<a class="gotop anchor" href="#ref_[4]_14524876" id="refIndex_4_14524876" name="refIndex_4_14524876" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">网络与新媒体专业<span class="linkout"> </span></a>
<span class="site">．河南工业大学新闻与传播学院 </span><span>．2013-5-14</span><span>[引用日期2014-09-1]</span></li><li class="reference-item " id="reference-[5]-14524876-wrap">
<span class="index">5.</span>
<a class="gotop anchor" href="#ref_[5]_14524876" id="refIndex_5_14524876" name="refIndex_5_14524876" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">专业设置<span class="linkout"> </span></a>
<span class="site">．合肥师范学院</span><span>[引用日期2014-10-8]</span></li><li class="reference-item " id="reference-[6]-14524876-wrap">
<span class="index">6.</span>
<a class="gotop anchor" href="#ref_[6]_14524876" id="refIndex_6_14524876" name="refIndex_6_14524876" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">教育部关于公布2012年度普通高等学校本科专业设置备案或审批结果的通知<span class="linkout"> </span></a>
<span class="site">．中华人民共和国教育部</span><span>．0213-03-28</span><span>[引用日期2014-09-2]</span></li><li class="reference-item " id="reference-[7]-14524876-wrap">
<span class="index">7.</span>
<a class="gotop anchor" href="#ref_[7]_14524876" id="refIndex_7_14524876" name="refIndex_7_14524876" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">教育部关于公布2013年度普通高等学校本科专业备案或审批结果的通知<span class="linkout"> </span></a>
<span class="site">．中华人民共和国教育部</span><span>．2014-3-03-03</span><span>[引用日期2014-09-2]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>