<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>军事海洋学专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">军事海洋学专业是适应国家军事海洋学人才需求而设置的特色新专业，本专业主要是课堂理论讲授和实习演练相结合的方式进行教学。是研究和利用海洋自然规律，为海上军事行动提供科学依据和实施海洋保障的科学，是在<a data-lemmaid="3172368" target="_blank">海洋科学</a>和<a target="_blank">军事科学</a>基础上结合发展起来的研究领域。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
<a target="_blank">军事海洋学专业</a>
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
military oceanology
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
070704T
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
<a target="_blank">理学学士</a>
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
<a data-lemmaid="6059710" target="_blank">理学</a>
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">专业历史</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">专业培养</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#2_1">培养目标</a></span>
</li>
</ol><ol><li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#2_2">培养要求</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#2_3">知识技能</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干课程</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">发展前景</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">相关文献</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub12066292_1"></a>
<a class="lemma-anchor " name="专业历史"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">军事海洋学专业</span>专业历史</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">很早就有利用海洋现象来达到某种军事目的的例子。如1661年郑成功的军队利用涨潮在台湾岛登陆，历史上也不乏由于不了解海洋规律而致海战失败的例子。</div>
<div class="para" label-module="para">军事上应用的学科。应用学科：<a target="_blank">海洋科技</a>（一级学科）；其他（二级学科）；军事海洋（二级学科）</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub12066292_2"></a>
<a class="lemma-anchor " name="专业培养"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">军事海洋学专业</span>专业培养</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="2_1"></a>
<a class="lemma-anchor " name="sub12066292_2_1"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">军事海洋学专业</span>培养目标</h3>
</div>
<div class="para" label-module="para">军事海洋学专业培养具有良好科学素养和海洋科学技术理论知识，忠诚为部队建设服务，能从事海洋战场环境建设与研究，德、智、军、体全面发展的高级专业技术人才。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_12066292"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2_2"></a>
<a class="lemma-anchor " name="sub12066292_2_2"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">军事海洋学专业</span>培养要求</h3>
</div>
<div class="para" label-module="para">军事海洋学专业学生通过学生<a data-lemmaid="3172368" target="_blank">海洋科学</a>、<a target="_blank">军事科学</a>等方面基本理论和基本知识的学习，并受到海洋科学、军事科学研究方面的基本训练，从而系统掌握<a target="_blank">海洋学</a>调查研究、<a data-lemmaid="2444366" target="_blank">海洋工程</a>技术、海洋环境保障的基本方法和技能，具有海洋声学、深海研究、深潜技术以及<a target="_blank">反潜</a>战环境预报等的基本能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_12066292"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2_3"></a>
<a class="lemma-anchor " name="sub12066292_2_3"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">军事海洋学专业</span>知识技能</h3>
</div>
<div class="para" label-module="para">1.掌握<a target="_blank">军事海洋学</a>的基本理论和基本知识；</div>
<div class="para" label-module="para">2.了解相近专业的一般原理和知识；</div>
<div class="para" label-module="para">3.具有坚实的数学、物理学及海洋科学、军事科学方面的基本理论和基本知识；</div>
<div class="para" label-module="para">4.了解军事海洋学的发展动向，能跟踪<a target="_blank">国际军事</a>海洋学的发展方向；</div>
<div class="para" label-module="para">5.掌握资料查询、文献检索以及运用现代信息技术获取相关信息的基本方法；</div>
<div class="para" label-module="para">6.具有一定的实验设计，创造实验条件、归纳、整理、分析实验结果、撰写论文、参与学术交流的能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_12066292"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub12066292_3"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">军事海洋学专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">流体力学、海洋学、海洋物理学、军事海洋学、海浪预报理论及方法、<a target="_blank">海洋声学</a>、<a target="_blank">海洋动力学</a>、海洋天气学、海战战场海洋环境评估与预测、卫星遥感及海洋遥测、军事思想、<a target="_blank">军事运筹学</a>、军事基层管理。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub12066292_4"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">军事海洋学专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">可从事<a target="_blank">流体力学</a>、<a target="_blank">海洋学</a>、海洋物理学、<a target="_blank">军事海洋学</a>、海浪预报理论及方法、海洋声学、海洋动力学、海洋天气学、海战战场海洋环境评估与预测、卫星遥感及海洋遥测、军事思想、军事运筹学、军事基层管理。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_12066292"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub12066292_5"></a>
<a class="lemma-anchor " name="相关文献"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">军事海洋学专业</span>相关文献</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">19世纪中期，美国海军上尉莫里利用航海日志中的气象和水文资料编制<a target="_blank">气象图</a>、<a target="_blank">海流图</a>、水深图，开始了用科学方法指导舰船航行。他于1855年发表的《海洋自然地理学》是最早的、较系统地记述海洋军事利用的文献。</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-12066292-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_12066292" id="refIndex_1_12066292" name="refIndex_1_12066292" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">军事海洋学<span class="linkout"> </span></a>
<span class="site">．高考派</span><span>[引用日期2015-05-20]</span></li><li class="reference-item " id="reference-[2]-12066292-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_12066292" id="refIndex_2_12066292" name="refIndex_2_12066292" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">军事海洋学专业就业方向与就业前景分析<span class="linkout"> </span></a>
<span class="site">．大学生必备网</span><span>[引用日期2016-02-18]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>