<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>海洋资源与环境专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">海洋资源与环境专业主要培养具备海洋生物资源管理、经营、政策制定、水域环境监测，以及解决海洋资源可持续利用和海洋生态环境保护中的实际问题的能力的复合型专业人才。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
海洋资源与环境专业
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
Marine resource and environment
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
070703T
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
理学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
理学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养要求</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">核心能力</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">教学环节</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">主干课程</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">发展前景</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">开设学院</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">专业排名</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub17714843_1"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋资源与环境专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业要求学生掌握现代海洋生物资源管理技术和深厚的生态学理论知识，具备扎实的自然科学知识和良好的人文社会科学知识，掌握一门外国语，能够熟练应用现代信息技术的能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub17714843_2"></a>
<a class="lemma-anchor " name="核心能力"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋资源与环境专业</span>核心能力</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1.掌握现代海洋生物资源管理技术和深厚的生态学理论知识；<br/>　　2.具备扎实的自然科学知识；<br/>　　3.具有良好的人文社会科学知识；<br/>　　4.掌握一门外国语，具有交流和沟通的能力；<br/>　　5.能够熟练应用现代信息技术的能力；<br/>　　6.具有搜索信息和文献的方法和技能。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub17714843_3"></a>
<a class="lemma-anchor " name="教学环节"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋资源与环境专业</span>教学环节</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">包括基础实验、综合实验、实践调查等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub17714843_4"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋资源与环境专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">无机化学及实验、概率论与统计、有机化学及实验、分析化学及实验、普通生物学、海洋生态学、生物化学及实验、环境科学概论、海洋科学导论、海洋生物学、微生物学、海洋环境监测与评价、海洋技术概论、环境毒理学、海洋管理概论、海洋生态学、环境中的分子生物学诊断技术、海洋生物评价、海洋生物资源评估与管理等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub17714843_5"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋资源与环境专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">国家对于海洋科学采取积极支持发展的政策，也大力发展海洋科学的教育。目前海洋科学专业的毕业生一般采取自主择业、双向选择的就业政策。近年来随着行业的发展，目前该专业的毕业生就业状况较佳，特别是海洋资源开发、海水养殖、海洋生物医药、海上运输、海洋油气开发和食品工业等部门吸收人才最多。近几年，我国在海洋科学上取得了巨大的成绩，尤其是在海洋资源利用、海底石油勘测、海产品生产等方面，已经达到世界领先地位。因此该专业就业形势良好，由于该专业工作环境的特殊性和国家的政策倾斜，从业人员的收入状况良好，且有持续增加趋势，特别是该专业的高级人才供不应求，所以行业制定优惠政策以吸引人才。</div>
<div class="para" label-module="para">在世界各国普遍重视开发利用海洋资源，不遗余力地加紧海洋科学的研究和应用的大气候之下，我国随着综合国力的逐渐增强，特别是经济实力飞速提高，也迫切需要开发新兴资源，以便能在以后的国际竞争中立于不败之地。我国的海洋科学发展较晚，客观来讲，目前的水平比起一些开发海洋较早的国家如美国、俄罗斯等还有一段距离，为了尽快赶上世界先进水平，除了利用目前已有的空间技术、生物技术优势，继续保持和加强之外，在现在落后的领域，会增加研究和开发的资金和力量。国家早在1960年就确定山东海洋学院（现为中国海洋大学）为全国13所重点综合大学之一。在今后，海洋科学领域的专业人才将存在持续大量的需求，特别是海洋科学涉及的相关学科非常广泛，所以该专业学生的就业选择范围非常自由，加上国家一贯的扶持政策，相信有志之士一定能在海洋科学领域找到自己的位置。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub17714843_6"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋资源与环境专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">河北工业大学、大连海洋大学、山东大学、青岛农业大学、扬州大学、宁波大学、大连海事大学、浙江海洋学院、中国海洋大学、淮海工学院、山东大学威海分校、广东海洋大学。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_17714843"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub17714843_7"></a>
<a class="lemma-anchor " name="专业排名"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋资源与环境专业</span>专业排名</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<table class="table-view log-set-param" log-set-param="table_view"><tr><td>海洋资源与环境专业大学排名</td><td>学校名称</td></tr><tr><td><div class="para" label-module="para">1</div>
</td><td><div class="para" label-module="para">中国海洋大学</div>
</td></tr><tr><td><div class="para" label-module="para">2</div>
</td><td><div class="para" label-module="para">浙江海洋学院</div>
</td></tr><tr><td><div class="para" label-module="para">3</div>
</td><td><div class="para" label-module="para">山东大学</div>
</td></tr><tr><td><div class="para" label-module="para">4</div>
</td><td><div class="para" label-module="para">宁波大学</div>
</td></tr><tr><td><div class="para" label-module="para">5</div>
</td><td><div class="para" label-module="para">大连海洋大学</div>
</td></tr></table><div class="para" label-module="para"><sup>[2]</sup><a class="sup-anchor" name="ref_[2]_17714843"> </a>
</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-17714843-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_17714843" id="refIndex_1_17714843" name="refIndex_1_17714843" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">开设海洋资源与环境专业的大学有哪些<span class="linkout"> </span></a>
<span class="site">．大学生必备网</span><span>．2015-6-3</span><span>[引用日期2016-02-17]</span></li><li class="reference-item " id="reference-[2]-17714843-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_17714843" id="refIndex_2_17714843" name="refIndex_2_17714843" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">海洋资源与环境专业大学排名2015<span class="linkout"> </span></a>
<span class="site">．大学生必备网</span><span>．2015-3-26</span><span>[引用日期2016-02-10]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>