<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>功能材料专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">生物功能材料专业是根据社会发展的需要，特别是<a target="_blank">生物医学</a>工程、组织工程和药物释放等交叉学科技术的迅速发展对专业人才的迫切需求而设立的。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
<a target="_blank">功能材料专业</a>
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
Functional Materials
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
080412T
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
工学学士
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
<a target="_blank">工学</a>
</dd>
<dt class="basicInfo-item name">推荐项目</dt>
<dd class="basicInfo-item value">
石墨烯，化工型材料
</dd>
<dt class="basicInfo-item name">就业方向</dt>
<dd class="basicInfo-item value">
在研究院等院校和<a target="_blank">企事业单位</a>工作
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">专业介绍</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#1_1">专业概述</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#1_2">培养目标</a></span>
</li>
</ol><ol><li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#1_3">培养要求</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#1_4">知识技能</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">课程设置</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">发展前景</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#3_1">毕业就业</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#3_2">学术研究</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub11931482_1"></a>
<a class="lemma-anchor " name="专业介绍"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">功能材料专业</span>专业介绍</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1_1"></a>
<a class="lemma-anchor " name="sub11931482_1_1"></a>
<a class="lemma-anchor " name="专业概述"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">功能材料专业</span>专业概述</h3>
</div>
<div class="para" label-module="para">功能材料专业是<a target="_blank">材料学</a>、<a data-lemmaid="1358" target="_blank">生物学</a>和<a target="_blank">医学</a>等学科领域<a class="lemma-album layout-right nslog:10000206" nslog-type="10000206" style="width:222px;" target="_blank" title="分子模型">
<div class="album-wrap" style="width:220px;height:167px;">
<img alt="分子模型" class="picture" src="http://a.hiphotos.baidu.com/baike/s%3D220/sign=49246746263fb80e08d166d506d02ffb/6d81800a19d8bc3ef9f86dbd858ba61ea9d345d0.jpg" style="width:220px;height:167px;"/>
</div>
<div class="description">
分子模型<span class="number">(3张)</span>
</div>
<div class="albumBg">
<div class="albumBgFir" style="width:214px;"></div>
<div class="albumBgSec" style="width:208px;"></div>
</div>
</a>
的跨学科专业，主干学科有高分子材料科学与工程、生物医学工程。主要从事生物材料和生物医学工程方面的教学与科研工作。背靠学科—高分子材料与工程专业的师资力量也十分雄厚，从事高分子材料与工程方面的教学与科研工作。而且功能材料专业在人才培养、学术交流等方面与国内外有广泛的合作。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="1_2"></a>
<a class="lemma-anchor " name="sub11931482_1_2"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">功能材料专业</span>培养目标</h3>
</div>
<div class="para" label-module="para">国家将生命科学和新材料科学列为21世纪重点发展的领域，而生物材料学作为生命科学和材料科学的前沿性交叉学科，更是优先发展的重点。生物功能材料专业是根据社会发展的需要，特别是<a target="_blank">生物医学工程</a>、组织工程和药物释放等交叉学科技术的迅速发展对专业人才的迫切需求而设立的新专业。功能材料专业培养具有材料科学与工程、生物学和医学等领域的相关知识，掌握生物材料的基础和专业知识，能在生物材料的制备、改性、加工成型及应用等领域从事基础研究、应用研究和技术开发等的综合型高级技术人才。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="1_3"></a>
<a class="lemma-anchor " name="sub11931482_1_3"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">功能材料专业</span>培养要求</h3>
</div>
<div class="para" label-module="para">掌握材料学、生物学和医学等学科的基础知识和基本理论,特别是有高分子材料科学与工程、生物医学工程的知识。具有从事生物材料和生物医学工程方面的教学与科研工作的能力。具有功能材料专业领域内某个专业方向所必要的专业知识，注重与当前科学研究的前沿热点相结合，了解其科学前沿及发展趋势。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_11931482"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="1_4"></a>
<a class="lemma-anchor " name="sub11931482_1_4"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">功能材料专业</span>知识技能</h3>
</div>
<div class="para" label-module="para">1.具有坚实的学科基础，较好的人文、艺术和社会科学基础及正确运用本国语言、文字的表达能力；<br/>　　2.较系统地掌握专业领域宽广的技术理论基础知识；<br/>　　3.具有较强的解决与力学有关的材料加工技术问题的理论分析能力与实验技能；<br/>　　4.具有较强的计算机和外语应用能力；<br/>　　5.具备相应的实验、科研能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_11931482"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub11931482_2"></a>
<a class="lemma-anchor " name="课程设置"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">功能材料专业</span>课程设置</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><div class="lemma-picture text-pic layout-right" style="width:155px; float: right;">
<a class="image-link" nslog-type="9317" style="width:155px;height:220px;" target="_blank" title="">
<img alt="" class="lazy-img" data-src="http://h.hiphotos.baidu.com/baike/s%3D220/sign=398212caae773912c0268263c8188675/3c6d55fbb2fb4316a2a32e0d27a4462309f7d30d.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF9fX1AAAA0VQI3QAAAAxJREFUeNpiYAAIMAAAAgABT21Z4QAAAABJRU5ErkJggg==" style="width:155px;height:220px;"/>
</a>
</div>功能材料专业开设的主要课程有生物化学、分子生物学、生物医学工程、高分子化学、高分子物理、生物医学材料学、<a target="_blank">生物材料制备与加工</a>、生物材料综合实验等专业基础及专业课程。同时加大了选修课的比例，开设有生物医用高分子改性、组织工程学、控制释放理论与应用、生物可降解高分子、环境材料基础等选修课程，课程注重与当前科学研究的前沿热点相结合，既让学生对该领域有较广泛深入的了解，又能对其日后的科研、工作有所启发。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub11931482_3"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">功能材料专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="3_1"></a>
<a class="lemma-anchor " name="sub11931482_3_1"></a>
<a class="lemma-anchor " name="毕业就业"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">功能材料专业</span>毕业就业</h3>
</div>
<div class="para" label-module="para">由于生物功能材料是一门正在高速发展的交叉学科，因此随着相关研究和技术的进步，功能材料专业毕业生就业、继续升学和出国深造的前景广阔。可在研究院所、设计院、<a target="_blank">大专</a>院校和<a target="_blank">企事业单位</a>工作。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3_2"></a>
<a class="lemma-anchor " name="sub11931482_3_2"></a>
<a class="lemma-anchor " name="学术研究"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">功能材料专业</span>学术研究</h3>
</div>
<div class="para" label-module="para">生物功能材料的发展可分为两个方面，即功能生物材料和仿生功能材<a class="lemma-album layout-right nslog:10000206" nslog-type="10000206" style="width:222px;" target="_blank" title="合并图册">
<div class="album-wrap" style="width:220px;height:146px;">
<img alt="合并图册" class="picture" src="http://f.hiphotos.baidu.com/baike/s%3D220/sign=da56248c0d46f21fcd345951c6256b31/d1a20cf431adcbef7b951471abaf2edda3cc9f27.jpg" style="width:220px;height:146px;"/>
</div>
<div class="description">
合并图册<span class="number">(2张)</span>
</div>
<div class="albumBg">
<div class="albumBgFir" style="width:214px;"></div>
<div class="albumBgSec" style="width:208px;"></div>
</div>
</a>
料。功能生物材料的研究在于开发生物材料的物理、化学、生物特性的应用。</div>
<div class="para" label-module="para">（注：较有前景的研究材料为石墨烯、化工新材料、可降解材料、纳米材料等）</div>
<div class="anchor-list">
<a class="lemma-anchor a" name="a"></a>
</div><div class="album-list">
<div class="header">
<span class="title">词条图册</span>
<a class="more-link" nslog-type="10000204" target="_blank">更多图册<em></em></a>
</div>
<div class="scroller">
<div class="list">
</div>
</div>
<div class="footer">
</div>
</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-11931482-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_11931482" id="refIndex_1_11931482" name="refIndex_1_11931482" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">功能材料<span class="linkout"> </span></a>
<span class="site">．高考派</span><span>[引用日期2015-05-24]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>