<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>集成电路设计与集成系统专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para"><a target="_blank">集成电路设计与集成系统专业</a>是<a target="_blank">教育部</a>根据“面向国家战略需求、面向世界科技前沿”的方针，为适应信息技术学科和信息产业的发展趋势，而最新设立的电子信息类专业。</div><div class="para" label-module="para">该专业培养掌握集成电路基本理论、集成电路设计基本方法，掌握集成电路设计的EDA工具，熟悉电路、计算机、信号处理、通信等相关系统知识，从事集成电路及各类电子信息系统的研究、设计、教学、开发及应用，具有一定创新能力的高级技术人才。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
<a target="_blank">集成电路设计与集成系统专业</a>
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
080710T
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
工学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
<a target="_blank">工学</a>
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养要求</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">知识技能</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干课程</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">就业方向</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">发展前景</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">专业开设状况</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">开设学院</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">院校排名</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub1663826_1"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">集成电路设计与集成系统专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业学生主要学习物理、技术科学基础和该专业领域及相关专业的基本理论和基本知识，接受集成电路设计与集成系统方面的基本训练，具有分析和解决实际问题等方面的基本能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub1663826_2"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">集成电路设计与集成系统专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1.具有物理、技术科学基础和该专业领域及相关专业的基本理论和基本知识；<br/>　　2.具有较强的计算机和外语应用能力；<br/>　　3.掌握集成电路基本理论、<a target="_blank">集成电路</a>设计基本方法；<br/>　　4.具有分析和解决实际问题等方面的基本能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub1663826_3"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">集成电路设计与集成系统专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">C/C++语言、数据结构与程序设计、Verilog、电路分析基础、模拟电子线路基础、数字电路与系统设计基础、计算机语言与程序设计、计算机组成与系统结构、微机原理与应用、数字信号处理、半导体器件电子学、集成电路原理与设计、集成电路工艺技术、硬件描述语言、集成电路EDA技术、嵌入式系统原理与设计、信号与系统、通信系统原理、自动控制原理、计算机控制技术、版图设计、低功耗设计等。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_1663826"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub1663826_4"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">集成电路设计与集成系统专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">可从事集成电路设计与制造、嵌入式系统、计算机控制技术、通信、消费类电子等信息技术领域的研究、开发和教学工作。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_1663826"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub1663826_5"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">集成电路设计与集成系统专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">集成电路设计和应用是多学科交叉高技术密集的学科，是现代电子信息科技的核心技术，是国家综合实力的重要标志。集成电路设计涵盖了<a target="_blank">微电子</a>、制造工艺技术、集成电路设计技术的众多内容；集成电路的应用则覆盖了计算机、通信、消费电子等电子系统的集成与开发，目前国内外对集成电路设计人才需求旺盛。</div>
<div class="para" label-module="para">信息产业已经成为我国国民经济的支柱产业，而集成电路设计以及以集成电路为基础的各种信息系统的设计是信息产业的核心技术，对国民经济发展和国家安全具有重大的战略意义，我国现在正大力发展此行业。我国从2001年才开始在少数几所高校设置<a data-lemmaid="2951817" target="_blank">集成电路设计与集成系统</a>本科专业，这方面的专业技术人才非常缺乏，因此该专业的毕业生具有良好的就业和发展前景。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub1663826_6"></a>
<a class="lemma-anchor " name="专业开设状况"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">集成电路设计与集成系统专业</span>专业开设状况</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">鉴于我国集成电路市场持续快速增长，已经成为仅次于美国、日本之后世界第三大集成电路市场，吸引着国际著名厂商的注意力，但与此形成鲜明反差的是，我国集成电路领域人才极度短缺，这无疑将严重影响着中国集成电路行业和市场的健康可持续发展，为此，2003年10月教育部、科技部批准了<a target="_blank">清华大学</a>、<a target="_blank">北京大学</a>、<a target="_blank">复旦大学</a>、<a target="_blank">浙江大学</a>、<a target="_blank">西安电子科技大学</a>、<a target="_blank">上海交通大学</a>、东南大学、电子科技大学、华中科技大学等九所高校为首批<a data-lemmaid="6607951" target="_blank">国家集成电路人才培养基地</a>的建设单位，其中清华大学、北京大学、复旦大学、浙江大学、西安电子科技大学由<a target="_blank">科技部</a>拨付专项经费，其余高校经费自行筹措。</div>
<div class="para" label-module="para">2004年8月，教育部又批准了<a data-lemmaid="133845" target="_blank">北京航空航天大学</a>、西安交通大学、<a data-lemmaid="281616" target="_blank">哈尔滨工业大学</a>、同济大学、华南理工大学和西北工业大学等六所高校为国家集成电路人才培养基地的建设单位，2009年6月教育部再次批准了<a target="_blank">北京工业大学</a>、<a target="_blank">大连理工大学</a>、<a data-lemmaid="134155" target="_blank">天津大学</a>、<a data-lemmaid="5672" target="_blank">中山大学</a>、<a data-lemmaid="221804" target="_blank">福州大学</a>等五所高校为三批国家集成电路人才培养基地的建设单位。至此，国家集成电路人才培养基地的布局已初步形成。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub1663826_7"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">集成电路设计与集成系统专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">合肥工业大学</a> <a target="_blank">黑龙江大学</a> <a target="_blank">哈尔滨理工大学</a> <a target="_blank">清华大学</a> <a target="_blank">北京大学</a> <a target="_blank">西安电子科技大学</a> <a target="_blank">复旦大学</a> <a target="_blank">浙江大学</a> <a target="_blank">华中科技大学</a> <a target="_blank">上海交通大学</a> <a target="_blank">电子科技大学</a> <a target="_blank">东南大学</a> <a target="_blank">厦门大学</a>苏州大学<a data-lemmaid="134155" target="_blank">天津大学</a> <a target="_blank">大连理工大学</a> <a target="_blank">山东大学</a> <a target="_blank">青岛科技大学</a><a data-lemmaid="189560" target="_blank">重庆大学</a> <a data-lemmaid="10908844" target="_blank">西安邮电大学</a> <a data-lemmaid="4625571" target="_blank">大连东软信息学院</a> <a target="_blank">深圳大学</a>华侨大学等</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub1663826_8"></a>
<a class="lemma-anchor " name="院校排名"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">集成电路设计与集成系统专业</span>院校排名</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><b>2013-2014年集成电路设计与集成系统专业排名<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_1663826"> </a>
</b></div>
<table class="table-view log-set-param" log-set-param="table_view" width="100%"><tr><td><div class="para" label-module="para"><b>排 序</b></div>
</td><td><div class="para" label-module="para"><b>学校名称</b></div>
</td><td><div class="para" label-module="para"><b>水 平</b></div>
</td><td><div class="para" label-module="para"><b>开此专业学校数</b></div>
</td></tr><tr><td><div class="para" label-module="para">1</div>
</td><td><div class="para" label-module="para"><a target="_blank">西安电子科技大学</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">19</div>
</td></tr><tr><td><div class="para" label-module="para">2</div>
</td><td><div class="para" label-module="para"><a target="_blank">电子科技大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">19</div>
</td></tr><tr><td><div class="para" label-module="para">3</div>
</td><td><div class="para" label-module="para"><a target="_blank">大连理工大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">19</div>
</td></tr><tr><td><div class="para" label-module="para">4</div>
</td><td><div class="para" label-module="para"><a target="_blank">华中科技大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">19</div>
</td></tr><tr><td><div class="para" label-module="para">5</div>
</td><td><div class="para" label-module="para"><a target="_blank">华南理工大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">19</div>
</td></tr><tr><td><div class="para" label-module="para">6</div>
</td><td><div class="para" label-module="para"><a target="_blank">天津大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">19</div>
</td></tr><tr><td><div class="para" label-module="para">7</div>
</td><td><div class="para" label-module="para"><a target="_blank">北京航空航天大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">19</div>
</td></tr><tr><td><div class="para" label-module="para">8</div>
</td><td><div class="para" label-module="para"><a target="_blank">重庆大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">19</div>
</td></tr><tr><td><div class="para" label-module="para">9</div>
</td><td><div class="para" label-module="para"><a target="_blank">厦门大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">19</div>
</td></tr></table><div class="rs-container-foot">
<a name="rs-1"></a>
<a class="anchor-2" name="rs_1663826_15837"></a>
<div class="rslazy rs-container" id="rs-container-1663826-15837" lazy-init="lemmars.tableAction(baidu.g('rs-1663826-15837'))"></div>
</div><script type="text/javascript">
        window.rsInsertData = window['rsInsertData'] || [];
        var rsdataList = {"foot":[{"fentryTableId":15837,"fentryTableName":"\u4e8c\u7ea7\u5b66\u79d1\u00b7\u7535\u6c14\u4fe1\u606f\u7c7b\u4e13\u4e1a","fentryTableType":1,"entryId":2393508,"templateId":0,"entryTitle":"\u7535\u6c14\u4fe1\u606f\u7c7b\u4e13\u4e1a","isManual":0,"isExpand":1}],"top":[]};

        if (rsdataList.top || rsdataList.foot) {
            rsInsertData.push([1663826, rsdataList]);
        }
    </script>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-1663826-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_1663826" id="refIndex_1_1663826" name="refIndex_1_1663826" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">集成电路设计与集成系统<span class="linkout"> </span></a>
<span class="site">．中国教育在线</span><span>[引用日期2016-02-19]</span></li><li class="reference-item " id="reference-[2]-1663826-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_1663826" id="refIndex_2_1663826" name="refIndex_2_1663826" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">集成电路设计与集成系统专业排名-2013-2014年中国大学本科教育分专业排行榜<span class="linkout"> </span></a>
<span class="site">．中华考试网</span><span>[引用日期2013-11-25]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>