<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>飞行器质量与可靠性专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">飞行器质量与可靠性工程专业是教育部新批准的急需专业，是国内唯一的可靠性系统工程专业方向，而且本学科具有较强的交叉性、综合性和实践性特点。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_14524916"> </a>
</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
飞行器质量与可靠性专业
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
工学学士
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
082006T
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
工学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-1">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">主干课程</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">人才培养</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#2_1">培养要求</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#2_2">培养目标</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">发展前景</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub14524916_1"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">飞行器质量与可靠性专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">公共基础课程、机电类专业基础课程、飞行器设计与工程专业平台课、飞行器设计系统工程、系统可靠性设计与分析、飞行器维修性设计与验证、可靠性试验技术等。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_14524916"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub14524916_2"></a>
<a class="lemma-anchor " name="人才培养"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">飞行器质量与可靠性专业</span>人才培养</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="2_1"></a>
<a class="lemma-anchor " name="sub14524916_2_1"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">飞行器质量与可靠性专业</span>培养要求</h3>
</div>
<div class="para" label-module="para">该专业学生主要学习飞行器设计与工程的基本理论和基本知识，掌握飞行器系统可靠性设计与分析，具有从事飞行器质量与可靠性监测的基本能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_14524916"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2_2"></a>
<a class="lemma-anchor " name="sub14524916_2_2"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">飞行器质量与可靠性专业</span>培养目标</h3>
</div>
<div class="para" label-module="para">该专业重点培养能运用系统工程的理论和方法，掌握产品可靠性、维修性、测试性、保障性、安全性设计与试验（验证）技术的高层次、综合性、复合型高级<a target="_blank">工程技术人才</a>。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_14524916"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub14524916_3"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">飞行器质量与可靠性专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><b>就业前景</b></div>
<div class="para" label-module="para">该专业的就业率高，学生毕业后可以从事可靠性工程设计、管理和研究等工作，也可以胜任质量管理、质量工程、飞行器设计等专业的有关工作，毕业生传统的就业方向是航空、航天飞行器，舰船，兵器等专业领域。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_14524916"> </a>
</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-14524916-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_14524916" id="refIndex_1_14524916" name="refIndex_1_14524916" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">飞行器质量与可靠性<span class="linkout"> </span></a>
<span class="site">．高考派</span><span>[引用日期2015-05-21]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>