<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>飞行器适航技术专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">飞行器适航技术专业主要培养具有扎实的基础理论知识和工程实践能力，掌握航空专业知识、适航法规、适航验证与审定技术以及适航工程管理等理论和工程实践能力的高级技术人才。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
飞行器适航技术专业
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
Aircraft technology professional
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
<a target="_blank">工学学士</a>
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
082007T
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
<a data-lemmaid="4027034" target="_blank">四年</a>
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
<a target="_blank">工学</a>
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养要求</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">知识技能</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干课程</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">就业前景</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">就业方向</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">发展前景</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">开设学院</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub14524925_1"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">飞行器适航技术专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业学生主要学习<a target="_blank">飞行器</a>适航技术的基本理论和基本知识，受到飞行器适航技术的基本训练，具有从事相关工作的基本能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_14524925"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub14524925_2"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">飞行器适航技术专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1.掌握飞行器适航技术的<a target="_blank">基本知识</a>；<br/>　　2.掌握飞行器适航技术的基本理论；<br/>　　3.了解相近专业的一般原理和知识；<br/>　　4.了解飞行器适航技术发展的前沿科技；<br/>　　5.了解飞行器适航技术的发展动向和发展方向；<br/>　　6.掌握资料查询、文献检索以及运用现代信息技术获取相关信息的基本方法；<br/>　　7.具有一定的实验设计，创造实验条件、归纳、整理、分析实验结果，撰写论文，参与学术交流的能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_14524925"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub14524925_3"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">飞行器适航技术专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业主要课程有飞行器总体设计、<a target="_blank">飞行器结构设计</a>、飞行器系统设计、航空发动<a target="_blank">机原</a>、发动机结构与强度、发动机控制、<a target="_blank">航空电子</a>、<a target="_blank">航空电器</a>、<a target="_blank">机载计算机</a>、通信与导航、飞机制造基础、现代飞机装配技术、民用航空法、航空安全工程原理、可靠性原理、飞机安全性设计与分析、适航规章、适航验证与审定技术、适航管理工程等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub14524925_4"></a>
<a class="lemma-anchor " name="就业前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">飞行器适航技术专业</span>就业前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">毕业生可到适航审定与管理部门、民航单位、民用航空设计及制造单位，从事该领域的科学研究、工程设计和科研管理等方面的工作。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_14524925"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub14524925_5"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">飞行器适航技术专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业是为适应我国民用飞机的研制、生产、使用和维护的发展需求所创办的新专业。该专业毕业生主要就业去向是：上海适航审定中心、沈阳适航审定中心等适航审定与管理部门，<a target="_blank">中国东方航空公司</a>、<a target="_blank">中国南方航空公司</a>、中国国际航空有限公司、<a target="_blank">深圳航空公司</a>等民航单位，以及<a target="_blank">中国商用飞机有限责任公司</a>、<a target="_blank">上海航空电器有限公司</a>、上海飞机设计研究院等民用航空设计、制造单位，也可去高等学校、生产企业和管理部门从事该领域的科学研究、工程设计和科研管理等方面的工作。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub14524925_6"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">飞行器适航技术专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">飞行器适航技术专业为适应我国民用飞机设计、生产、使用和维护的迫切发展需求，依托国防科工委紧缺学科——适航技术与管理而创办，采用本硕连读优秀生培养模式，通过招生录取选拔，入学后与飞机设计、航空发动机、航空电子、航空电器、飞行器制造工程等专业合作办学，前3年学习飞机、发动机、飞机系统与机载设备、飞行器制造等专门知识，第4年集中学习航空器适航审定技术与管理知识，考核合格后，直接免试攻读硕士研究生，毕业后授予工程硕士学位。飞行器适航技术专业主要课程有飞行器总体设计、飞行器结构设计、飞行器系统设计、航空发动机原、发动机结构与强度、发动机控制、航空电子、航空电器、机载计算机、通信与导航、飞机制造基础、现代飞机装配技术、民用航空法、航空安全工程原理、可靠性原理、飞机安全性设计与分析、适航规章、适航验证与审定技术、适航管理工程等，就业率较高，总体来说，就业前景还是比较乐观的。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_14524925"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub14524925_7"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">飞行器适航技术专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">北京航空航天大学</a>、<a target="_blank">南京航空航天大学</a>、<a target="_blank">西北工业大学</a>、<a target="_blank">中国民用航空飞行学院</a><sup>[3]</sup><a class="sup-anchor" name="ref_[3]_14524925"> </a>
、<a target="_blank">沈阳航空航天大学</a><sup>[4]</sup><a class="sup-anchor" name="ref_[4]_14524925"> </a>
、<a target="_blank">郑州航空工业管理学院</a></div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-14524925-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_14524925" id="refIndex_1_14524925" name="refIndex_1_14524925" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">飞行器适航技术<span class="linkout"> </span></a>
<span class="site">．高考派</span><span>[引用日期2015-05-21]</span></li><li class="reference-item " id="reference-[2]-14524925-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_14524925" id="refIndex_2_14524925" name="refIndex_2_14524925" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">飞行器适航技术专业就业方向与就业前景分析<span class="linkout"> </span></a>
<span class="site">．大学生必备网</span><span>．2014-11-18</span><span>[引用日期2016-02-16]</span></li><li class="reference-item " id="reference-[3]-14524925-wrap">
<span class="index">3.</span>
<a class="gotop anchor" href="#ref_[3]_14524925" id="refIndex_3_14524925" name="refIndex_3_14524925" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">开设飞行器适航技术专业的大学有哪些<span class="linkout"> </span></a>
<span class="site">．大学生必备网</span><span>．2015-6-12</span><span>[引用日期2016-02-16]</span></li><li class="reference-item " id="reference-[4]-14524925-wrap">
<span class="index">4.</span>
<a class="gotop anchor" href="#ref_[4]_14524925" id="refIndex_4_14524925" name="refIndex_4_14524925" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">沈阳航空航天大学<span class="linkout"> </span></a>
<span class="site">．沈阳航空航天大学</span><span>[引用日期2017-06-9]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>