<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>农艺教育专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">农艺教育专业旨在培养<a target="_blank">中等职业教育</a>农艺专业课程师资和应用型人才。该专业要求掌握农业<a target="_blank">生物科学</a>的基本知识和理论，掌握<a target="_blank">大田作物</a>、园艺作物等高产栽培措施，掌握<a target="_blank">作物良种繁育</a>、<a target="_blank">病虫害防治</a>等的基本理论和技能；掌握科学的教育理论和教学方法，教师职业基本技能达标；具有从事现代农业教学、生产、技术开发与推广等工作的能力</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
农艺教育专业
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
农学学士
</dd>
<dt class="basicInfo-item name">资专业代码</dt>
<dd class="basicInfo-item value">
090110T
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
<a target="_blank">农学</a>
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养目标</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">主要课程</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">从业分析</a></span>
</li>
</ol><ol><li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#3_1">就业方向</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#3_2">就业前景</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">相近专业</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">开设院校</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub6542159_1"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农艺教育专业</span>培养目标</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业培养德、智、体等方面全面发展，综合素质、业务能力适应市场经济发展需要，具有作物生产、作物遗传育种、种子生产、经营管理等方面的基本理论、基本知识、基本技能的"<a target="_blank">双师型</a>"师资及高级应用技术人才。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_6542159"> </a>
</div>
<div class="para" label-module="para">通过该专业的学习，将具备以下几方面的能力：</div>
<div class="para" label-module="para">1.掌握农业生物科学的基本知识和理论，</div>
<div class="para" label-module="para">2.掌握大田作物、园艺作物等高产栽培措施，掌握作物良种繁育、病虫害防治等的基本理论和技能；</div>
<div class="para" label-module="para">3.掌握科学的教育理论和教学方法，教师职业基本技能达标；</div>
<div class="para" label-module="para">4.具有从事现代农业教学、生产、技术开发与推广等工作的能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub6542159_2"></a>
<a class="lemma-anchor " name="主要课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农艺教育专业</span>主要课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a data-lemmaid="1358" target="_blank">生物学</a>、<a target="_blank">作物栽培学</a>、<a target="_blank">耕作学</a>、作物育种与良种繁育学、<a target="_blank">园艺学</a>、生物技术、农业经济与管理、<a data-lemmaid="784408" target="_blank">教育学</a>、<a data-lemmaid="76462" target="_blank">教育心理学</a>、职业教育、计算机应用基础等。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_6542159"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub6542159_3"></a>
<a class="lemma-anchor " name="从业分析"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农艺教育专业</span>从业分析</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="3_1"></a>
<a class="lemma-anchor " name="sub6542159_3_1"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">农艺教育专业</span>就业方向</h3>
</div>
<div class="para" label-module="para">在中学或高等学校从事专业课的教学工作；或在现代农业高新园区、农业企业、政府部门等从事土壤改良、水肥调控、有害生物防治、无公害作物生产和良种繁育等方面的技术开发、科学研究和经营管理工作。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3_2"></a>
<a class="lemma-anchor " name="sub6542159_3_2"></a>
<a class="lemma-anchor " name="就业前景"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">农艺教育专业</span>就业前景</h3>
</div>
<div class="para" label-module="para">该专业的毕业生的足迹遍布全国各地，学生毕业后主要在高等院校和科研院所从事农业科学教育和研究工作，各级人民政府及其下属单位从事农业教育、行政管理和科技推广工作，各级教育部门及单位从事教育和管理等工作。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_6542159"> </a>
</div>
<div class="para" label-module="para">该专业近几年全国<a target="_blank">就业率</a>区间：2010（95%-100%）2011（90%-95%）2012（65%-70%）</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub6542159_4"></a>
<a class="lemma-anchor " name="相近专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农艺教育专业</span>相近专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">园艺教育（040302W）、特用作物教育（040303W）、农产品储运与加工教育（040311W）、农业经营管理教育（040312W）。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub6542159_5"></a>
<a class="lemma-anchor " name="开设院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">农艺教育专业</span>开设院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">山西农业大学</a>、<a target="_blank">广西大学</a>、<a target="_blank">吉林农业大学</a>、<a target="_blank">甘肃农业大学</a>、<a target="_blank">安徽技术师范学院</a>等。</div>
<div class="rs-container-foot">
<a name="rs-1"></a>
<a class="anchor-2" name="rs_6542159_15735"></a>
<div class="rslazy rs-container" id="rs-container-6542159-15735" lazy-init="lemmars.tableAction(baidu.g('rs-6542159-15735'))"></div>
</div><script type="text/javascript">
        window.rsInsertData = window['rsInsertData'] || [];
        var rsdataList = {"foot":[{"fentryTableId":15735,"fentryTableName":"\u4e8c\u7ea7\u5b66\u79d1\u00b7\u6559\u80b2\u5b66","fentryTableType":1,"entryId":2393480,"templateId":0,"entryTitle":"\u6559\u80b2\u5b66\u4e13\u4e1a","isManual":0,"isExpand":1}],"top":[]};

        if (rsdataList.top || rsdataList.foot) {
            rsInsertData.push([6542159, rsdataList]);
        }
    </script>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-6542159-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_6542159" id="refIndex_1_6542159" name="refIndex_1_6542159" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">2014高考专业选择：理科女生适合报考的艺术型专业<span class="linkout"> </span></a>
<span class="site">．中国教育在线</span><span>．2014-03-20　</span><span>[引用日期2016-02-1]</span></li><li class="reference-item " id="reference-[2]-6542159-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_6542159" id="refIndex_2_6542159" name="refIndex_2_6542159" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">农学学科（特设专业）：农艺教育专业介绍<span class="linkout"> </span></a>
<span class="site">．高考网</span><span>[引用日期2015-06-6]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>