<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>基础医学专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">基础医学专业培养具备自然科学、生命科学和医学科学基本理论知识和实验技能，能够在高等医学院校和医学科研机构等部门从事基础医学各学科的教学、科学研究及基础与临床相结合的医学实验研究工作的医学高级专门人才。 <sup>[1]</sup><a class="sup-anchor" name="ref_[1]_146298"> </a>
</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
基础医学专业
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
医学学士
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
100101K
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
五年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
<a target="_blank">医学</a>
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养要求</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">主干学科</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干课程</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">相近专业</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">知识技能</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">就业方向</a></span>
</li>
<li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">开设学院</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">专业导读</a></span>
</li>
</ol><ol><li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_1">基本分类</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_2">研究领域</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_3">基础医学</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_4">临床医学</a></span>
</li>
<li class="level1">
<span class="index">9</span>
<span class="text"><a href="#9">院校排名</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub146298_1"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">基础医学专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业学生主要学习现代自然科学和生命科学、基础医学各学科的基本理论，-般地掌握临床医学的基本知识，受到基础医学各学科实验技能的基本训练，重点掌握几类基本的<a target="_blank">生物医学</a>实验技术。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_146298"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub146298_2"></a>
<a class="lemma-anchor " name="主干学科"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">基础医学专业</span>主干学科</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">生物学、基础医学</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub146298_3"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">基础医学专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">人体解剖学、组织胚胎学、细胞生物学、生理学、神经生理学、生物化学与分子生物学、医学遗传学、微生物学与免疫学、病理学、药理学、临床医学。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_146298"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub146298_4"></a>
<a class="lemma-anchor " name="相近专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">基础医学专业</span>相近专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">基础医学 <a data-lemmaid="10211707" target="_blank">卫生检验</a> <a data-lemmaid="12661264" target="_blank">医学信息工程</a> 妇幼保健医学 中西医结合 卫生监督</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub146298_5"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">基础医学专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1. 掌握基础医学的基本理论、基本知识；</div>
<div class="para" label-module="para">2. 掌握医学实验的分析、设计方法和操作技术；</div>
<div class="para" label-module="para">3. 具有基础医学科学研究的基本能力；</div>
<div class="para" label-module="para">4. 熟悉基础医学教学工作的基本原理和方法；</div>
<div class="para" label-module="para">5. 熟悉临床医学基本知识并了解临床医学的新进展和新成就；</div>
<div class="para" label-module="para">6. 掌握<a data-lemmaid="2826202" target="_blank">文献检索</a>、资料查询的基本方法，具有-定的科学研究和实际工作能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_146298"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub146298_6"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">基础医学专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业毕业生具有较全面的综合素质、较强的创新精神、较好的学习能力以及外语和<a data-lemmaid="2993" target="_blank">计算机应用</a>能力。毕业后能够胜任高等医药院校、科研机构及临床有关实验室的教学和科学研究工作。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub146298_7"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">基础医学专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">南方医科大学</a>、<a target="_blank">上海中医药大学</a>、<a target="_blank">北京大学</a>、<a target="_blank">复旦大学</a>、<a data-lemmaid="143850" target="_blank">中南大学</a>、<a target="_blank">四川大学</a>、<a target="_blank">中山大学</a>、<a target="_blank">南京大学</a>、<a target="_blank">浙江大学</a>、<a target="_blank">哈尔滨医科大学</a>、<a target="_blank">安徽医科大学</a>、<a target="_blank">武汉大学</a>、<a target="_blank">南华大学</a>、<a target="_blank">大连医科大学</a>、<a target="_blank">湘南学院</a>、<a target="_blank">九江</a>学院、<a target="_blank">首都医科大学</a>、<a data-lemmaid="454526" target="_blank">福建医科大学</a>、<a data-lemmaid="770107" target="_blank">重庆医科大学</a></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub146298_8"></a>
<a class="lemma-anchor " name="专业导读"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">基础医学专业</span>专业导读</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="8_1"></a>
<a class="lemma-anchor " name="sub146298_8_1"></a>
<a class="lemma-anchor " name="基本分类"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">基础医学专业</span>基本分类</h3>
</div>
<div class="para" label-module="para">医学可分为现代医学（即通常说的<a data-lemmaid="6148483" target="_blank">西医学</a>）和传统医学（包括中医学、藏医学、<a data-lemmaid="4684773" target="_blank">蒙医学</a>等等）多种医学体系。不同地区和民族都有相应的一些医学体系，宗旨和目的不尽相同。印度传统医学系统也被认为很发达。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_2"></a>
<a class="lemma-anchor " name="sub146298_8_2"></a>
<a class="lemma-anchor " name="研究领域"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">基础医学专业</span>研究领域</h3>
</div>
<div class="para" label-module="para">研究领域大方向包括基础医学、临床医学、检验医学、预防医学、保健医学、康复医学等等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_3"></a>
<a class="lemma-anchor " name="sub146298_8_3"></a>
<a class="lemma-anchor " name="基础医学"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">基础医学专业</span>基础医学</h3>
</div>
<div class="para" label-module="para">包括：医学生物数学、医学生物化学、医学生物物理学、人体解剖学、医学细胞生物学、人体生理学、人体组织学、人体胚胎学、医学遗传学、<a data-lemmaid="1727817" target="_blank">人体免疫学</a>、医学寄生虫学、医学微生物学、医学病毒学、<a data-lemmaid="1729580" target="_blank">人体病理学</a>、病理生理学、药理学、医学实验动物学、医学心理学、生物医学工程学、<a data-lemmaid="7225565" target="_blank">医学信息学</a>、急救学、护病学。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_4"></a>
<a class="lemma-anchor " name="sub146298_8_4"></a>
<a class="lemma-anchor " name="临床医学"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">基础医学专业</span>临床医学</h3>
</div>
<div class="para" label-module="para">包括：临床诊断学、实验诊断学、影像诊断学、放射诊断学、超声诊断学、核医诊断学、临床治疗学、职能治疗学、化学治疗学、生物治疗学、血液治疗学、组织器官治疗学、饮食治疗学、物理治疗学、语言治疗学、心理治疗学、内科学、外科学、泌尿科学、妇产科学、儿科学、<a data-lemmaid="1730637" target="_blank">老年医学</a>、眼科学、<a data-lemmaid="10607484" target="_blank">耳鼻喉科学</a>、口腔医学、传染病学、皮肤医学、神经医学、<a data-lemmaid="1252451" target="_blank">精神病学</a>、肿瘤医学、<a data-lemmaid="236133" target="_blank">急诊医学</a>、<a data-lemmaid="1020340" target="_blank">麻醉学</a>、<a data-lemmaid="1124816" target="_blank">护理学</a>、家庭医学、性医学、<a data-lemmaid="8820662" target="_blank">临终关怀学</a>、<a data-lemmaid="4195" target="_blank">康复医学</a>、保健医学、听力学。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="9"></a>
<a class="lemma-anchor " name="sub146298_9"></a>
<a class="lemma-anchor " name="院校排名"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">基础医学专业</span>院校排名</h2>
<a class="edit-icon j-edit-link" data-edit-dl="9"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">本一级学科中，全国具有“博士一级”授权的高校共34所，本次有27所参评；还有部分具有“博士二级”授权和硕士授权的高校参加了评估；参评高校共计44所。 注：以下相同得分按学校代码顺序排列。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_146298"> </a>
</div>
<table class="table-view log-set-param" log-set-param="table_view" width="580"><tr><td align="middle" height="25" valign="middle" width="360"><b>学校代码及名称</b></td><td align="middle" height="25" valign="middle" width="256"><b>学科整体水平得分</b></td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10001 <a target="_blank">北京大学</a></div>
</td><td align="middle" valign="middle">91</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10246 <a target="_blank">复旦大学</a></div>
</td><td align="middle" valign="middle">88</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10023 <a target="_blank">北京协和医学院</a></div>
</td><td align="middle" height="0" rowspan="2" valign="middle">85</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10248 <a target="_blank">上海交通大学</a></div>
</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10533 <a target="_blank">中南大学</a></div>
</td><td align="middle" height="0" rowspan="2" valign="middle">82</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10558 <a data-lemmaid="5672" target="_blank">中山大学</a></div>
</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10312 <a target="_blank">南京医科大学</a></div>
</td><td align="middle" height="0" rowspan="3" valign="middle">80</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10487 <a target="_blank">华中科技大学</a></div>
</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">90030 <a target="_blank">第二军医大学</a></div>
</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10335 <a target="_blank">浙江大学</a></div>
</td><td align="middle" valign="middle">79</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10183 <a target="_blank">吉林大学</a></div>
</td><td align="middle" height="0" rowspan="2" valign="middle">77</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10422 <a target="_blank">山东大学</a></div>
</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10285 <a target="_blank">苏州大学</a></div>
</td><td align="middle" height="0" rowspan="3" valign="middle">76</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10610 <a target="_blank">四川大学</a></div>
</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">12121 <a target="_blank">南方医科大学</a></div>
</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10159 <a target="_blank">中国医科大学</a></div>
</td><td align="middle" height="0" rowspan="4" valign="middle">74</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10486 <a target="_blank">武汉大学</a></div>
</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10631 <a target="_blank">重庆医科大学</a></div>
</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10698 <a target="_blank">西安交通大学</a></div>
</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10025 <a target="_blank">首都医科大学</a></div>
</td><td align="middle" height="0" rowspan="3" valign="middle">73</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10062 <a target="_blank">天津医科大学</a></div>
</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10226 <a target="_blank">哈尔滨医科大学</a></div>
</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10559 <a target="_blank">暨南大学</a></div>
</td><td align="middle" valign="middle">71</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10161 <a target="_blank">大连医科大学</a></div>
</td><td align="middle" height="0" rowspan="3" valign="middle">70</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10459 <a target="_blank">郑州大学</a></div>
</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">11065 <a target="_blank">青岛大学</a></div>
</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10055 <a data-lemmaid="134521" target="_blank">南开大学</a></div>
</td><td align="middle" height="0" rowspan="3" valign="middle">69</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10247 <a target="_blank">同济大学</a></div>
</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10598 <a target="_blank">广西医科大学</a></div>
</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10299 <a data-lemmaid="84215" target="_blank">江苏大学</a></div>
</td><td align="middle" height="0" rowspan="4" valign="middle">67</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10475 <a target="_blank">河南大学</a></div>
</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10730 <a target="_blank">兰州大学</a></div>
</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">90115 <a target="_blank">解放军总医院</a>（<a data-lemmaid="6118725" target="_blank">军医进修学院</a>）</div>
</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10160 <a target="_blank">辽宁医学院</a></div>
</td><td align="middle" height="0" rowspan="8" valign="middle">65</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10184 <a target="_blank">延边大学</a></div>
</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10222 <a target="_blank">佳木斯大学</a></div>
</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10313 <a target="_blank">徐州医学院</a></div>
</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10743 <a target="_blank">青海大学</a></div>
</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10759 <a target="_blank">石河子大学</a></div>
</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10760 <a target="_blank">新疆医科大学</a></div>
</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">11117 <a target="_blank">扬州大学</a></div>
</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10201 <a target="_blank">北华大学</a></div>
</td><td align="middle" height="0" rowspan="3" valign="middle">63</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">10346 <a target="_blank">杭州师范大学</a></div>
</td></tr><tr><td align="middle" valign="middle"><div class="para" label-module="para">11075 <a target="_blank">三峡大学</a></div>
</td></tr></table><div class="rs-container-foot">
<a name="rs-1"></a>
<a class="anchor-2" name="rs_146298_15872"></a>
<div class="rslazy rs-container" id="rs-container-146298-15872" lazy-init="lemmars.tableAction(baidu.g('rs-146298-15872'))"></div>
</div><script type="text/javascript">
        window.rsInsertData = window['rsInsertData'] || [];
        var rsdataList = {"foot":[{"fentryTableId":15872,"fentryTableName":"\u4e8c\u7ea7\u5b66\u79d1\u00b7\u57fa\u7840\u533b\u5b66\u7c7b\u4e13\u4e1a","fentryTableType":1,"entryId":2393532,"templateId":0,"entryTitle":"\u57fa\u7840\u533b\u5b66\u7c7b\u4e13\u4e1a","isManual":1,"isExpand":1}],"top":[]};

        if (rsdataList.top || rsdataList.foot) {
            rsInsertData.push([146298, rsdataList]);
        }
    </script>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-146298-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_146298" id="refIndex_1_146298" name="refIndex_1_146298" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank"> 基础医学<span class="linkout"> </span></a>
<span class="site">．中国教育在线</span><span>[引用日期2016-02-14]</span></li><li class="reference-item " id="reference-[2]-146298-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_146298" id="refIndex_2_146298" name="refIndex_2_146298" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">教育部公布2012年学科评估结果—基础医学(图)<span class="linkout"> </span></a>
<span class="site">．光明网</span><span>[引用日期2013-10-30]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>