<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>卫生检验与检疫专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">卫生检验与检疫专业培养具有预防医学、卫生理化检验及生物学检验等方面的基本知识和操作技能的高级技术应用性专门人才。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
卫生检验与检疫专业
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
Health inspection and quarantine
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
101007
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
理学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
医学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">主修课程</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">培养要求</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">实践教学</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">知识能力</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">发展前景</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">开设院校</a></span>
</li>
</ol><ol><li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#6_1">院校名单</a></span>
</li>
<li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">专业排名</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="para" label-module="para">卫生检验与检疫专业培养具有预防医学、卫生理化检验及生物学检验等方面的基本知识和操作技能的高级技术应用性专门人才。</div>
<div class="para" label-module="para">卫生检验与检疫（学制四年）：培养适应我国社会主义现代化建设需要的德、智、体、美全面发展，具有正确的世界观、人生观和价值观；具有成为高素质人才所具备的人文社科基础知识和人文修养；具有较强的自然科学基础；面向疾病预防控制中心、卫生检验中心、环境卫生监测部门、食品卫生监测机构、检验检疫机构、质量监督所、医院检验科及化妆品行业等，具备从事卫生检验与检疫、预防医学基本理论知识和技能，有一定实践能力、创新能力和发展潜力的应用型卫生检验与检疫专门人才。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub14525012_1"></a>
<a class="lemma-anchor " name="主修课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">卫生检验与检疫专业</span>主修课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">英语、计算机、卫生化学、仪器分析、临床检验学基础、免疫学与临床免疫检验、寄生虫学及检验、空气理化检验学、水质理化检验学、食品理化检验学、生物材料理化检验、卫生检验检疫、卫生微生物及检验、病毒学及检验、细菌学及检验、分子生物学及检验、生物化学与临床生化检验、流行病学、医学统计学、毒理学基础、诊断学、内科学等必修课程。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub14525012_2"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">卫生检验与检疫专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">卫生检验与检疫专业学生主要学习卫生检验与检疫学的基本理论和基本知识，受到卫生检验与检疫方面的基本训练，具有基本的卫生检验与检疫能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_14525012"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub14525012_3"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">卫生检验与检疫专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">包括卫生防疫站见习、检疫部门见习、毕业实习等<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_14525012"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub14525012_4"></a>
<a class="lemma-anchor " name="知识能力"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">卫生检验与检疫专业</span>知识能力</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<ol class="custom_num para-list list-paddingleft-1"><li class="list-num-1-1 list-num-paddingleft-1"><div class="para" label-module="para">掌握基础卫生检验与检疫的基本理论知识和实验技能； 2.掌握卫生检验与检疫的基本技能； 3.具有卫生检验与检疫的初步能力； 4.具有卫生检验与检疫工作的基本知识和-般操作技能； 5.熟悉国家卫生工作方针、政策和法规； 6.掌握文献检索、资料查询的基本方法。</div>
</li></ol><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub14525012_5"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">卫生检验与检疫专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">毕业生一般在疾病预防控制中心、医院的检验科室、出入境检验检疫局、食品药品监督、农产品质量监督、卫生局、海关、化妆品公司、自来水厂，环保局、质监局、医疗器械的销售、第三方检验检测测公司等就业。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_14525012"> </a>
</div>
<div class="para" label-module="para">具体来讲，主要为以下几点：</div>
<div class="para" label-module="para">（1）疾病预防控制中心：各级疾病预防控制中心的卫生检验（科）中心，主要为卫生理化检验、微生物学检验以及临床检验岗位等；</div>
<div class="para" label-module="para">（2）食品药品安全监督管理：各级食品药品监督管理局的食品药品检验中心的食品检验及管理岗位；</div>
<div class="para" label-module="para">（3）出入境检验检疫局：各级出入境检验检疫局的卫生检验检疫、动植物检验和食品检验岗位的工程师或管理岗位；</div>
<div class="para" label-module="para">（4）农委系统的农产品质量监测部门的检测中心；</div>
<div class="para" label-module="para">（5）独立检验检测服务机构：现场采样分析工程师和职业卫生评价师岗位。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub14525012_6"></a>
<a class="lemma-anchor " name="开设院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">卫生检验与检疫专业</span>开设院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="6_1"></a>
<a class="lemma-anchor " name="sub14525012_6_1"></a>
<a class="lemma-anchor " name="院校名单"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">卫生检验与检疫专业</span>院校名单</h3>
</div>
<div class="para" label-module="para"><a target="_blank">南京医科大学</a>、<a target="_blank">南昌大学医学院</a>、<a data-lemmaid="415371" target="_blank">南华大学</a>、<a target="_blank">重庆医科大学</a>、<a target="_blank">四川大学</a>、温州医科大、<a target="_blank">武汉科技大学</a>、<a target="_blank">安徽医科大学</a>、<a target="_blank">贵阳医学院</a>、<a target="_blank">广东药学院</a><sup>[1]</sup><a class="sup-anchor" name="ref_[1]_14525012"> </a>
、<a target="_blank">山西医科大学</a>、<a target="_blank">大连医科大学</a>、<a target="_blank">桂林医学院</a>、<a target="_blank">河北大学</a>、江苏大学、浙江中医药大学 、长沙医学院、吉林医药学院、内蒙古科技大学包头医学院、湖北中医药大学、右江民族医学院、 河北北方学院、广东医科大学、昆明医科大学,重庆医药高等专科学校</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub14525012_7"></a>
<a class="lemma-anchor " name="专业排名"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">卫生检验与检疫专业</span>专业排名</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1.<a target="_blank">四川大学</a></div>
<div class="para" label-module="para">2.<a target="_blank">南京医科大学</a></div>
<div class="para" label-module="para">3.<a data-lemmaid="415371" target="_blank">南华大学</a></div>
<div class="para" label-module="para">4.<a target="_blank">重庆医科大学</a></div>
<div class="para" label-module="para">5.<a target="_blank">武汉科技大学</a></div>
<div class="para" label-module="para">6.<a target="_blank">南昌大学医学院</a></div>
<div class="para" label-module="para">7.<a target="_blank">贵阳医学院</a></div>
<div class="para" label-module="para">8.<a target="_blank">广东药学院</a></div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-14525012-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_14525012" id="refIndex_1_14525012" name="refIndex_1_14525012" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">卫生检验与检疫<span class="linkout"> </span></a>
<span class="site">．高考派</span><span>[引用日期2015-05-18]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>