<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>军事后勤学</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">军事后勤学是研究军事<a target="_blank">后勤</a>活动的理论与实践及其规律的学科。主要研究军事后勤的性质、职能、结构、发展演变，后勤与战争、经济、科学技术等相关因素的关系，以及后勤保障能力的生成和运用等基础理论问题。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
军事后勤学
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
军事后勤学与军事装备学
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">学科门类</dt>
<dd class="basicInfo-item value">
军事学
</dd>
<dt class="basicInfo-item name">专业名称</dt>
<dd class="basicInfo-item value">
军事后勤学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-1">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">专业介绍</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">推荐院校</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">考试科目</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub1327219_1"></a>
<a class="lemma-anchor " name="专业介绍"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">军事后勤学</span>专业介绍</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">军事后勤学是研究军事后勤活动的理论与实践及其规律的学科。主要研究军事后勤的性质、职能、结构、发展演变，后勤与战争、经济、科学技术等相关因素的关系，以及后勤保障能力的生成和运用等基础理论问题。 　后方专业勤务是研究军事后方专业勤务理论与实践及其规律的学科群。主要包括军队财务、军需勤务、卫生勤务、军械勤务、军事交通勤务、军队营房勤务、军队物资勤务、军队油料勤务、军事仓储、军队生产管理、海军后勤特种勤务、空军后勤特种勤务、第二炮兵后勤特种勤务等。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_1327219"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub1327219_2"></a>
<a class="lemma-anchor " name="推荐院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">军事后勤学</span>推荐院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">学科门类：11 军事学</div>
<div class="para" label-module="para">一级学科：1 　108 军事后勤学与军事装备学</div>
<div class="para" label-module="para">专业名称：110801 军事后勤学</div>
<div class="para" label-module="para">北京：(90001)<a target="_blank">中国人民解放军国防大学</a>(90024)中国人民解放军后勤指挥学院</div>
<div class="para" label-module="para">(90044)空军指挥学院 (90101)中国人民解放军军事科学院</div>
<div class="para" label-module="para">天津：(90027)军事交通学院</div>
<div class="para" label-module="para">江苏：(90037)中国人民解放军海军指挥学院 (90049)中国人民解放军徐州空军学院</div>
<div class="para" label-module="para">湖北：(90028)军事<a target="_blank">经济学</a>院 (90058)第二炮兵指挥学院</div>
<div class="para" label-module="para">重庆：(90025)后勤工程学院</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub1327219_3"></a>
<a class="lemma-anchor " name="考试科目"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">军事后勤学</span>考试科目</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">(101)思想政治理论(201)英语一(611)军事学基础理论(829)军事后勤学基础理论</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-1327219-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_1327219" id="refIndex_1_1327219" name="refIndex_1_1327219" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">2016年军事学考研方向解读：军事后勤学专业<span class="linkout"> </span></a>
<span class="site">．新东方在线</span><span>．2015-05-28</span><span>[引用日期2016-03-9]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>