<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>市场营销教育专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para"><a data-lemmaid="45718" target="_blank">市场营销</a>教育专业培养具备经济、管理、法律、市场营销等方面的知识和能力，具有一定创新精神，能担任中等职业教育市场营销类课程教学、科研方面的工作以及能在企事业单位、政府部门从事市场营销与管理的高级应用人才。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
市场营销教育专业
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
Marketing professional education
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
管理学学士
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
120214T
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科 </dt>
<dd class="basicInfo-item value">
管理学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-1">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养目标</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">课程设置</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">就业方向</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">报考院校</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub12066308_1"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">市场营销教育专业</span>培养目标</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">通过学习，将具备以下几方面的能力：</div>
<div class="para" label-module="para">1、掌握管理学、经济学和现代市场营销学的基本理论、基本知识；</div>
<div class="para" label-module="para">2、掌握市场营销的定性、定量分析方法；</div>
<div class="para" label-module="para">3、具有较强语言与文字表达、人际沟通、分析解决营销实际问题的基本能力；</div>
<div class="para" label-module="para">4、熟悉我国市场营销的方针、政策与法规，了解国际市场营销的惯例和规则；</div>
<div class="para" label-module="para">5、了解本学科的理论前沿及发展动态；</div>
<div class="para" label-module="para">6、掌握文献检索、资料查询的基本方法，具有一定的科学研究和实际工作能力；[1]</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub12066308_2"></a>
<a class="lemma-anchor " name="课程设置"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">市场营销教育专业</span>课程设置</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a data-lemmaid="1702" target="_blank">微观经济学</a>，<a data-lemmaid="27041" target="_blank">宏观经济学</a>，管理学，<a data-lemmaid="85339" target="_blank">管理信息系统</a>，<a data-lemmaid="1175" target="_blank">统计学</a>，会计学，财务管理，市场营销学，经济法，消费者行为学，国际市场营销，市场调查与预测。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub12066308_3"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">市场营销教育专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">市场营销教育专业毕业生能在中高等职业学校及企事业单位、政府部门等从事教学、营销管理等方面工作。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub12066308_4"></a>
<a class="lemma-anchor " name="报考院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">市场营销教育专业</span>报考院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">云南大学</a>（10673）、<a target="_blank">云南师范大学</a>（10681）、<a target="_blank">哈尔滨商业大学</a>（10240）、<a target="_blank">内蒙古农业大学</a>（10129）、<a target="_blank">云南民族大学</a>（10691）、<a target="_blank">重庆理工大学</a>（11660）、<a target="_blank">云南民族大学</a>（10691）。</div>

<div class="clear"></div>
</div>