<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>艺术与科技专业</h1>


</dd>
</dl><div class="edit-prompt">本词条缺少<strong>名片图</strong>，补充相关内容使词条更完整，还能快速升级，赶紧来<a class="edit-prompt-link j-edit-link">编辑</a>吧！</div>
<div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">“艺术与科技”专业是2012<a target="_blank">教育部</a>颁布的高校本科专业目录的<a data-lemmaid="6827129" target="_blank">特设专业</a>，专业代码为130509T，该专业是基于艺术设计与科学技术深度融合的基本理念，结合国家文化发展战略，在<a data-lemmaid="1281697" target="_blank">文化创意产业</a>和数字内容产业，整合空间、艺术、媒体、技术与商业的视角，在空间<a data-lemmaid="1346042" target="_blank">环境设计</a>、信息交互设计、新媒体艺术等领域，培养具有国际视野、交叉学科基础和创意创新能力的高端艺术设计人才。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
艺术与科技专业
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
130509T
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
艺术学学士
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
艺术学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养目标</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">培养要求</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">知识与能力</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">主要课程内容</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">就业去向</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">开设院校</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub10408518_1"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">艺术与科技专业</span>培养目标</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">艺术与科技专业培养德、智、体、美全面发展的、适应现代会展经济产业发展需要的、具有现代会展设计知识与创新能力的优秀人才 。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub10408518_2"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">艺术与科技专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">本专业要求学生系统掌握<a data-lemmaid="95102" target="_blank">艺术</a>与科技基本理论、基本知识和基本技能，具有进行会展设计、组织策划等的基本能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub10408518_3"></a>
<a class="lemma-anchor " name="知识与能力"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">艺术与科技专业</span>知识与能力</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<ol class="custom_num para-list list-paddingleft-1"><li class="list-num-1-1 list-num-paddingleft-1"><div class="para" label-module="para">熟悉我国的文艺方针、政策；<br/>　　2.具有本专业的基础理论、基础知识；<br/>　　3.了解艺术与科技的发展动态；<br/>　　4.具有较高的艺术修养、独立完成创作和教学的能力；<br/>　　5.有一定的实际工作能力和初步的科研能力；<br/>　　6.在掌握外语工具方面，应具有较强的阅读本专业书刊的能力，一定的听的能力，初步的写和说的能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_10408518"> </a>
</div>
</li></ol><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub10408518_4"></a>
<a class="lemma-anchor " name="主要课程内容"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">艺术与科技专业</span>主要课程内容</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">会展概论、视觉设计基础、展示空间设计、中外美术史、空间设计基础、设计素描、色彩构成、人体工程学</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub10408518_5"></a>
<a class="lemma-anchor " name="就业去向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">艺术与科技专业</span>就业去向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">毕业生主要就职范围是文化与创意产业的相关教育、科研机构，或相关企业，包括空间及<a data-lemmaid="1346042" target="_blank">环境设计</a>公司、IT公司的用户体验与产品开发部门、<a data-lemmaid="3812680" target="_blank">影视动画</a>公司、数字娱乐相关公司、传媒及媒体艺术机构等。本系与国内外多家专业机构和公司建立了长期稳定的合作关系，尤其在对与国外交流方面表现积极，吸取国外优秀的教学理念，并实施到专业的教学工作中，使学生能够接受到更为先进的教学，并成为适应国际化发展需求的高级专业人才。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub10408518_6"></a>
<a class="lemma-anchor " name="开设院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">艺术与科技专业</span>开设院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">清华大学</a><sup>[2]</sup><a class="sup-anchor" name="ref_[2]_10408518"> </a>
</div>
<div class="para" label-module="para">重庆科技学院</div>
<div class="para" label-module="para">东华大学</div>
<div class="para" label-module="para"><a target="_blank">南京信息工程大学</a><sup>[3]</sup><a class="sup-anchor" name="ref_[3]_10408518"> </a>
</div>
<div class="para" label-module="para"><a data-lemmaid="8114501" target="_blank">吉林动画学院</a><sup>[4]</sup><a class="sup-anchor" name="ref_[4]_10408518"> </a>
</div>
<div class="para" label-module="para"><a data-lemmaid="1736345" target="_blank">上海工程技术大学</a></div>
<div class="para" label-module="para"><a target="_blank">南京工业大学</a></div>
<div class="para" label-module="para">西安建筑科技大学</div>
<div class="para" label-module="para"><a data-lemmaid="1638022" target="_blank">南京艺术学院</a></div>
<div class="para" label-module="para">山东工艺美术学院</div>
<div class="para" label-module="para">四川传媒学院</div>
<div class="para" label-module="para"><a data-lemmaid="9066097" target="_blank">河北传媒学院</a></div>
<div class="para" label-module="para">大连工业大学<sup>[5]</sup><a class="sup-anchor" name="ref_[5]_10408518"> </a>
</div>
<div class="para" label-module="para"><a data-lemmaid="5721931" target="_blank">天津职业技术师范大学</a><sup>[6]</sup><a class="sup-anchor" name="ref_[6]_10408518"> </a>
</div>
<div class="para" label-module="para"><a data-lemmaid="271166" target="_blank">西安美术学院</a></div>
<div class="para" label-module="para"><a target="_blank">厦门理工学院</a></div>
<div class="para" label-module="para">南京信息工程大学</div>
<div class="para" label-module="para">长春科技学院</div>
<div class="para" label-module="para">天津城建大学</div>
<div class="para" label-module="para">合肥学院</div>
<div class="para" label-module="para">中国美术学院</div>
<div class="para" label-module="para">中国传媒大学南广学院<sup>[7]</sup><a class="sup-anchor" name="ref_[7]_10408518"> </a>
</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-10408518-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_10408518" id="refIndex_1_10408518" name="refIndex_1_10408518" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">艺术与科技<span class="linkout"> </span></a>
<span class="site">．高考派</span><span>[引用日期2015-05-18]</span></li><li class="reference-item " id="reference-[2]-10408518-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_10408518" id="refIndex_2_10408518" name="refIndex_2_10408518" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">教育部关于公布2013年度普通高等学校 本科专业备案或审批结果的通知 <span class="linkout"> </span></a>
<span class="site">．中国国家教育部</span><span>[引用日期2014-04-5]</span></li><li class="reference-item " id="reference-[3]-10408518-wrap">
<span class="index">3.</span>
<a class="gotop anchor" href="#ref_[3]_10408518" id="refIndex_3_10408518" name="refIndex_3_10408518" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">南京信息工程大学传媒与艺术学院艺术与科技系<span class="linkout"> </span></a>
<span class="site">．南京信息工程大学传媒与艺术学院</span><span>[引用日期2014-04-5]</span></li><li class="reference-item " id="reference-[4]-10408518-wrap">
<span class="index">4.</span>
<a class="gotop anchor" href="#ref_[4]_10408518" id="refIndex_4_10408518" name="refIndex_4_10408518" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">专业设置<span class="linkout"> </span></a>
<span class="site">．吉林动画学院</span><span>[引用日期2015-01-15]</span></li><li class="reference-item " id="reference-[5]-10408518-wrap">
<span class="index">5.</span>
<a class="gotop anchor" href="#ref_[5]_10408518" id="refIndex_5_10408518" name="refIndex_5_10408518" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">艺术与科技系<span class="linkout"> </span></a>
<span class="site">．大连工业大学艺术设计学院官网</span><span>．2012-9-1</span><span>[引用日期2014-10-1]</span></li><li class="reference-item " id="reference-[6]-10408518-wrap">
<span class="index">6.</span>
<a class="gotop anchor" href="#ref_[6]_10408518" id="refIndex_6_10408518" name="refIndex_6_10408518" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">天津高校2013年新增本科专业<span class="linkout"> </span></a>
<span class="site">．网易教育</span><span>[引用日期2014-12-4]</span></li><li class="reference-item " id="reference-[7]-10408518-wrap">
<span class="index">7.</span>
<a class="gotop anchor" href="#ref_[7]_10408518" id="refIndex_7_10408518" name="refIndex_7_10408518" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">中国传媒大学南广学院专业列表<span class="linkout"> </span></a>
<span class="site">．中国传媒大学南广学院</span><span>．2016-11</span><span>[引用日期2017-01-4]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>