<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>梵语巴利语专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">该专业培养具有扎实的相应语语言基础比较广泛的科学文化知识，能在外事、经贸、文化、新闻出版、教育、科研、旅游等部门从事翻译、研究、教学、管理工作的相应语言高级专门人才。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
梵语巴利语专业
</dd>
<dt class="basicInfo-item name">主干学科</dt>
<dd class="basicInfo-item value">
外国语言文学
</dd>
<dt class="basicInfo-item name">主要课程</dt>
<dd class="basicInfo-item value">
基础相应语、高级相应语等
</dd>
<dt class="basicInfo-item name">开设大学</dt>
<dd class="basicInfo-item value">
北京大学、北京外国语言大学
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
050211
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
文学学士
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
文学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">主干课程</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">人才培养</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#2_1">培养要求</a></span>
</li>
</ol><ol><li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#2_2">培养目标</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">发展前景</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#3_1">就业方向</a></span>
</li>
</ol><ol><li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#3_2">就业城市</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">开设大学</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub336015_1"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">梵语巴利语专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">基础相应语、高级相应语、报刊选读、视听、口语、相应语写作、翻译理论与实践、语言理论、语言学概论、主要相应语国家文学史及文学作品选读、主要相应国家国情等</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub336015_2"></a>
<a class="lemma-anchor " name="人才培养"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">梵语巴利语专业</span>人才培养</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="2_1"></a>
<a class="lemma-anchor " name="sub336015_2_1"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">梵语巴利语专业</span>培养要求</h3>
</div>
<div class="para" label-module="para">该专业学生主要学习相应语语言、文学、历史、政治、经济、外交、社会文化等方面的基本理论和基本知识，受到相应语听、说、读、写、译等方面的良好的熟巧训练，掌握一定的科研方法，具有从事翻译、研究、教学、管理工作的业务水平及较好的素质和较强的能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_336015"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2_2"></a>
<a class="lemma-anchor " name="sub336015_2_2"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">梵语巴利语专业</span>培养目标</h3>
</div>
<div class="para" label-module="para">该专业培养具有扎实的相应语言基础比较广泛的科学文化知识，能在外事、经贸、文化、新闻出版、教育、科研、旅游等部门从事翻译、研究、教学、管理工作的相应语言高级专门人才。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub336015_3"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">梵语巴利语专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="3_1"></a>
<a class="lemma-anchor " name="sub336015_3_1"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">梵语巴利语专业</span>就业方向</h3>
</div>
<div class="para" label-module="para">梵语巴利语专业毕业生可从事从事翻译、研究、教学、管理工作。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3_2"></a>
<a class="lemma-anchor " name="sub336015_3_2"></a>
<a class="lemma-anchor " name="就业城市"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">梵语巴利语专业</span>就业城市</h3>
</div>
<div class="para" label-module="para">因市场需求量较少、暂时无法统计排名</div>
<div class="para" label-module="para"><b>热门地区</b><b>排行榜</b></div>
<div class="para" label-module="para">1上海2北京3广州4深圳5东莞6杭州7重庆8成都</div>
<div class="para" label-module="para"><b>该专业相关职位薪酬地区排行Top 10</b></div>
<div class="para" label-module="para">1临沂24999</div>
<div class="para" label-module="para">2合肥12499</div>
<div class="para" label-module="para">3湖州8999</div>
<div class="para" label-module="para">4南昌8592</div>
<div class="para" label-module="para">5蚌埠7776</div>
<div class="para" label-module="para">6大庆6000</div>
<div class="para" label-module="para">7淄博5799</div>
<div class="para" label-module="para">8牡丹江5499</div>
<div class="para" label-module="para">9北京5221</div>
<div class="para" label-module="para">10保定4999</div>
<div class="para" label-module="para">11青岛4761等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub336015_4"></a>
<a class="lemma-anchor " name="开设大学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">梵语巴利语专业</span>开设大学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">北京大学 北京外国语大学</div>
<div class="rs-container-foot">
<a name="rs-1"></a>
<a class="anchor-2" name="rs_336015_15741"></a>
<div class="rslazy rs-container" id="rs-container-336015-15741" lazy-init="lemmars.tableAction(baidu.g('rs-336015-15741'))"></div>
</div><script type="text/javascript">
        window.rsInsertData = window['rsInsertData'] || [];
        var rsdataList = {"foot":[{"fentryTableId":15741,"fentryTableName":"\u4e8c\u7ea7\u5b66\u79d1\u00b7\u5916\u56fd\u8bed\u8a00\u6587\u5b66","fentryTableType":1,"entryId":2393482,"templateId":0,"entryTitle":"\u5916\u56fd\u8bed\u8a00\u6587\u5b66\u7c7b\u4e13\u4e1a","isManual":0,"isExpand":1}],"top":[]};

        if (rsdataList.top || rsdataList.foot) {
            rsInsertData.push([336015, rsdataList]);
        }
    </script>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-336015-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_336015" id="refIndex_1_336015" name="refIndex_1_336015" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">梵语巴利语<span class="linkout"> </span></a>
<span class="site">．高考派</span><span>[引用日期2015-05-25]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>