<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>阿尔巴尼亚语专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">阿尔巴尼亚语专业培养具有扎实的相应语言基础比较广泛的科学文化知识，能在外事、经贸、文化、新闻出版、教育、科研、旅游等部门从事翻译、研究、教学、管理工作的相应语言高级专门人才。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
阿尔巴尼亚语专业
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
050226
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
文学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
文学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养要求</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">知识技能</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干学科</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">主干课程</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">相近专业</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">就业方向</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">开设学院</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub336062_1"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">阿尔巴尼亚语专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业学生主要学习相应语语言、文学、历史、政治、经济、外交、社会文化等方面的基本理论和基本知识，受到相应语听、说、读、写、译等方面的良好的训练，掌握一定的科研方法，具有从事翻译、研究、教学、管理工作的业务水平及较好的素质和较强的能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub336062_2"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">阿尔巴尼亚语专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1.了解我国有关的方针、<a data-lemmaid="32783" target="_blank">政策</a>、<a target="_blank">法规</a>；</div>
<div class="para" label-module="para">2.掌握语言学、文学及相关人文和科技方面的基础知识；</div>
<div class="para" label-module="para">3.具有扎实的相应语言基础和较熟练的听、说、读、写、译能力；</div>
<div class="para" label-module="para">4.了解我国国情和相应国家的社会和文化；</div>
<div class="para" label-module="para">5.具有较好的汉语表达能力和基本调研能力；</div>
<div class="para" label-module="para">6.具有第二外国语的一定的实际应用能力；</div>
<div class="para" label-module="para">7.掌握文献检索、资料查询的基本方法，具有初步科学研究和实际工作能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub336062_3"></a>
<a class="lemma-anchor " name="主干学科"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">阿尔巴尼亚语专业</span>主干学科</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">外国语言文学</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub336062_4"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">阿尔巴尼亚语专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">包括基础阿尔巴尼亚语言、高级阿尔巴尼亚语语言、报刊选读、视听、口语、阿尔巴尼亚语言写作、翻译佤实践、阿尔巴尼亚语语言理论、阿尔巴尼亚语语言学概论、阿尔巴尼亚语相应国家文学史及文学作品选读、阿尔巴尼亚语相应国家情等内容。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_336062"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub336062_5"></a>
<a class="lemma-anchor " name="相近专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">阿尔巴尼亚语专业</span>相近专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a data-lemmaid="109997" target="_blank">英语</a>、<a target="_blank">俄语</a>、<a target="_blank">日语</a>(师范类)</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub336062_6"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">阿尔巴尼亚语专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">一般毕业生从事外事、经贸、文化、新闻出版、教育、科研、旅游等部门的管理工作和翻译工作。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub336062_7"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">阿尔巴尼亚语专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">北京外国语大学</a></div>
<div class="rs-container-foot">
<a name="rs-1"></a>
<a class="anchor-2" name="rs_336062_15741"></a>
<div class="rslazy rs-container" id="rs-container-336062-15741" lazy-init="lemmars.tableAction(baidu.g('rs-336062-15741'))"></div>
</div><script type="text/javascript">
        window.rsInsertData = window['rsInsertData'] || [];
        var rsdataList = {"foot":[{"fentryTableId":15741,"fentryTableName":"\u4e8c\u7ea7\u5b66\u79d1\u00b7\u5916\u56fd\u8bed\u8a00\u6587\u5b66","fentryTableType":1,"entryId":2393482,"templateId":0,"entryTitle":"\u5916\u56fd\u8bed\u8a00\u6587\u5b66\u7c7b\u4e13\u4e1a","isManual":0,"isExpand":1}],"top":[]};

        if (rsdataList.top || rsdataList.foot) {
            rsInsertData.push([336062, rsdataList]);
        }
    </script>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-336062-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_336062" id="refIndex_1_336062" name="refIndex_1_336062" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">阿尔巴尼亚语<span class="linkout"> </span></a>
<span class="site">．新浪网</span><span>[引用日期2016-03-1]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>