<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>数学与应用数学专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">数学与应用数学专业培养掌握数学科学的基本理论与基本方法，具备运用数学知识、使用计算机解决实际问题的能力，受到科学研究的初步训练，能在科技、教育和经济部门从事研究、教学工作或在生产经营及管理部门从事实际应用、开发研究和管理工作的高级专门人才。</div><div class="para" label-module="para">数学与应用数学专业属于基础专业。无论是进行科研<a target="_blank">数据分析</a>、软件开发，还是从事金融保险，国际经济与贸易、化工制药、通讯工程、建筑设计等，都离不开相关的数学知识。可见数学与应用数学专业是从事其他相关专业的基础。随着科技事业的发展和普及，数学专业与其他相关专业的联系将会更加紧密，数学知识将会得到更广泛的应用。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
数学与应用数学专业
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
070101
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
理学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
理学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">知识技能</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">主干学科</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干课程</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">实践教学</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">相近专业</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">从业领域</a></span>
</li>
<li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">发展前景</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">代表职业</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_1">程序员</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_2">商务人员</a></span>
</li>
</ol><ol><li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_3">BI工程师</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#8_4">教师</a></span>
</li>
<li class="level1">
<span class="index">9</span>
<span class="text"><a href="#9">开设学院</a></span>
</li>
<li class="level1">
<span class="index">10</span>
<span class="text"><a href="#10">专业大学排名</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub1060812_1"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">数学与应用数学专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">毕业生应获得以下几方面的知识和能力：</div>
<div class="para" label-module="para">1．具有扎实的数学基础，受到比较严格的<a target="_blank">科学思维</a>训练，初步掌握数学科学的思想方法；</div>
<div class="para" label-module="para">2．具有应用数学知识去解决实际问题，特别是建立数学模型的初步能力，了解某一应用程序；</div>
<div class="para" label-module="para">3. 能熟练使用计算机（包括常用语言、工具及一些数学软件），具有编写简单应用程序的能力；</div>
<div class="para" label-module="para">4．了解国家科学技术等有关政策和法规；</div>
<div class="para" label-module="para">5．了解数学科学的某些新发展和应用前景；</div>
<div class="para" label-module="para">6. 有较强的<a target="_blank">语言表达能力</a>，掌握资料查询、文献检索及运用现代信息技术获取相关信息的基本方法，具有一定的科学研究和教学能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub1060812_2"></a>
<a class="lemma-anchor " name="主干学科"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">数学与应用数学专业</span>主干学科</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">数学。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub1060812_3"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">数学与应用数学专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">分析学、代数学、几何学、概率论、物理学、数学模型、数学实验、计算机基础、数值方法、数学史等，以及根据应用方向选择的基本课程。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub1060812_4"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">数学与应用数学专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">主要实践性教学环节：包括计算机实习、生产实习、科研训练或毕业论文等，一般安排10～20周。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub1060812_5"></a>
<a class="lemma-anchor " name="相近专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">数学与应用数学专业</span>相近专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">信息与计算科学</a>、数理试点班.</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub1060812_6"></a>
<a class="lemma-anchor " name="从业领域"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">数学与应用数学专业</span>从业领域</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">数学与应用数学是计算机专业的基础和上升的平台，是与<a target="_blank">计算机科学与技术</a>联系最为紧密的专业之一。</div>
<div class="para" label-module="para">该专业属于基础型专业，就业面较宽，不过考研仍然是该专业毕业生的首选。</div>
<div class="para" label-module="para">在日常生活中，从天气预报到股票涨落，到处充斥着数学的描述和分析方法。北京市需求毕业生人数最多的十大专业中，数学与应用数学专业需求量位居前列。分析上述资料不难看出，数学人才的需求量较大，就业前景看好。而且可以预见，随着经济和社会的发展，市场对数学与应用数学专业人才的需求将会越来越多，其就业前景比较广阔。</div>
<div class="para" label-module="para">合格的软件人才，需要有“扎实的数学功底”，“严密的逻辑思维能力”。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub1060812_7"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">数学与应用数学专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">应用数学专业属于基础专业，是其他相关专业的“母专业”。无论是进行科研数据分析、软件开发、三维动画制作还是从事金融保险，国际经济与贸易、工商管理、化工制药、通讯工程、建筑设计等，都离不开相关的数学专业知识，数学专业与其他相关专业的联系将会更加紧密，数学专业知识将会得到更广泛的应用。由于数学与应用数学专业与其他相关专业联系紧密，以它为依托的相近专业可供选择的比较多，因而报考该专业较之其他专业回旋余地大，重新择业改行也容易得多，有利于将来更好的就业。家教业的逐渐兴起，也为数学与应用数学专业毕业生提供了一条重要的就业渠道。由于数学家教对专业知识和教学辅导艺术的要求比较高，家长不易操作或无暇顾及，于是聘请数学家教已成为许多家庭的必然选择。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub1060812_8"></a>
<a class="lemma-anchor " name="代表职业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">数学与应用数学专业</span>代表职业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="8_1"></a>
<a class="lemma-anchor " name="sub1060812_8_1"></a>
<a class="lemma-anchor " name="程序员"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">数学与应用数学专业</span>程序员</h3>
</div>
<div class="para" label-module="para">薪酬情况：多数人会从事的程序员工作薪酬水平差距很大。初级程序员一线城市的四千五起，这个也看个人能力，在二线或三线城市一般在两千五左右基础好一点会三千多，做到主管一级，一线城市月入可达到一万以上。</div>
<div class="para" label-module="para">总之，具备数学和数据结构方面的扎实基础，是成为编程高手的必备条件。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_2"></a>
<a class="lemma-anchor " name="sub1060812_8_2"></a>
<a class="lemma-anchor " name="商务人员"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">数学与应用数学专业</span>商务人员</h3>
</div>
<div class="para" label-module="para">就业分析：金融数学家已经是<a target="_blank">华尔街</a>最抢手的人才之一。最简单的例子是，保险公司中地位和收入最高的，可能就是总精算师。在美国，芝加哥大学、加州伯克利大学、<a target="_blank">斯坦福大学</a>、卡内基·梅隆大学和<a target="_blank">纽约大学</a>等著名学府，都已经设立了金融数学相关的学位或专业证书教育。尽管如此，在美国很吃香的保险精算师，很多都是数学专业出身。专业有优势，职业前景好</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_3"></a>
<a class="lemma-anchor " name="sub1060812_8_3"></a>
<a class="lemma-anchor " name="BI工程师"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">数学与应用数学专业</span>BI工程师</h3>
</div>
<div class="para" label-module="para">主要是报表开发，需要有一定的数据库经验，掌握SQL查询优化方法，精通Oracle、SQL Server、MySQL等主流数据库的应用设计、性能调优及存储过程的开发。掌握BI相关工具，如ETL工具（如SSIS）、OLAP工具（如SSAS）和前端展示工具。熟悉ETL逻辑、OLAP设计和数据挖掘相关算法。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8_4"></a>
<a class="lemma-anchor " name="sub1060812_8_4"></a>
<a class="lemma-anchor " name="教师"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">数学与应用数学专业</span>教师</h3>
</div>
<div class="para" label-module="para">就业分析：：需求大，待遇稳定，据国家教育部预测，今后5年内，我国高中教师缺口达到116万人，其中对数学、语文等基础学科的教师需求量最大。广东省许多市县甚至出现数学“教师荒”。全国37个大中城市人才市场的统计分析表明，数学教师十分抢手。拓宽师资渠道，面向社会招聘教师，已成为教育人事制度改革的重要举措。这无疑为报考综合院校数学与应用数学专业毕业生就业提供了很大的发展空间。</div>
<div class="para" label-module="para">google公司副总裁<a target="_blank">李开复</a>提醒大学生们：“绝大多数理工科专业的知识体系都建立在数学的基石之上。学习数学知识可以培养和训练人的思维能力。”</div>
<div class="para" label-module="para">研究生：站在数学的肩膀上选择前途</div>
<div class="para" label-module="para">选择数学专业，最好能有进一步深造的计划。先打好了本科阶段的数学基础，再从其他方向寻求发展，会更容易突破。毫无疑问，研究生专业的选择方向当然最好是金融、计算机等专业。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="9"></a>
<a class="lemma-anchor " name="sub1060812_9"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">数学与应用数学专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="9"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><b>[北京]</b><a target="_blank">北京大学</a>、<a target="_blank">清华大学</a>、<a target="_blank">中国人民大学</a>、<a target="_blank">北京师范大学</a>、<a target="_blank">北京科技大学</a>、<a target="_blank">北方交通大学</a>、<a target="_blank">北京邮电大学</a>、<a target="_blank">北京理工大学</a>、<a target="_blank">北京化工大学</a>、<a target="_blank">中央民族大学</a>、<a data-lemmaid="249083" target="_blank">中国地质大学</a>、<a target="_blank">首都师范大学</a></div>
<div class="para" label-module="para"><b>[天津]</b><a data-lemmaid="134521" target="_blank">南开大学</a>、<a target="_blank">天津大学</a>、<a target="_blank">天津师范大学</a></div>
<div class="para" label-module="para"><b>[河北]</b><a target="_blank">河北工业大学</a>、<a target="_blank">河北大学</a>、<a target="_blank">华北电力大学</a>、<a target="_blank">河北科技大学</a>、<a target="_blank">河北师范大学</a>、<a target="_blank">河北经贸大学</a></div>
<div class="para" label-module="para"><b>[山西]</b><a target="_blank">太原理工大学</a>、<a target="_blank">山西大学</a>、<a target="_blank">山西师范大学</a>、<a target="_blank">雁北师范学院</a>、<a target="_blank">太原工业学院</a>、<a target="_blank">太原师范学院</a>、<a target="_blank">山西财经大学</a></div>
<div class="para" label-module="para"><b>[内蒙古]</b><a target="_blank">内蒙古大学</a>、<a target="_blank">内蒙古师范大学</a>、<a target="_blank">内蒙古民族大学</a></div>
<div class="para" label-module="para"><b>[辽宁]</b>大连理工大学、辽宁大学、大连大学、沈阳大学、辽宁师范大学、沈阳师范学院、鞍山师范学院、锦州师范学院</div>
<div class="para" label-module="para"><b>[吉林]</b>吉林大学、延边大学、东北师范大学、北华大学、长春师范学院、四平师范学院、通化师范学院</div>
<div class="para" label-module="para"><b>[黑龙江]</b>哈尔滨工业大学、哈尔滨工程大学、黑龙江大学、东北林业大学、东北石油大学、哈尔滨师范大学、齐齐哈尔大学、牡丹江师范学院、佳木斯大学、哈尔滨学院</div>
<div class="para" label-module="para"><b>[上海]</b>复旦大学、上海交通大学、同济大学、华东理工大学、华东师范大学、东华大学、上海大学、上海师范大学、上海财经大学、上海理工大学</div>
<div class="para" label-module="para"><b>[江苏]</b>南京大学、苏州大学、东南大学、河海大学、中国矿业大学、南京师范大学、扬州大学、徐州师范大学、淮海工学院、苏州铁道师范学院、江南学院、淮阴师范学院</div>
<div class="para" label-module="para"><b>[浙江]</b>浙江大学、浙江师范大学、宁波大学、浙江海洋学院、杭州师范学院、温州师范学院、绍兴文理学院</div>
<div class="para" label-module="para"><b>[安徽]</b>中国科学技术大学、安徽大学、安徽师范大学、安庆师范学院、淮北煤炭师范学院、阜阳师范学院、皖西学院、安徽机电学院、淮南师范学院</div>
<div class="para" label-module="para"><b>[福建]</b>厦门大学、福州大学、华侨大学、福建师范大学、集美大学、福建农林大学、漳州师范学院</div>
<div class="para" label-module="para"><b>[江西]</b>南昌大学、江西师范大学、赣南师范大学、江西理工大学、南昌师范学院、南昌航空工业学院、南昌职业技术师范学院</div>
<div class="para" label-module="para"><b>[山东]</b>山东大学、青岛海洋大学、山东师范大学、曲阜师范大学、烟台大学、青岛大学、山东科技大学、烟台师范学院、聊城师范学院</div>
<div class="para" label-module="para"><b>[河南]</b>河南大学、郑州大学、河南师范大学、洛阳工学院、信阳师范学院、安阳师范学院</div>
<div class="para" label-module="para"><b>[湖北]</b><a target="_blank">武汉大学</a>、<a target="_blank">华中科技大学</a>、<a target="_blank">湖北大学</a>、<a target="_blank">华中师范大学</a>、<a target="_blank">湖北师范大学</a>、湖北民族学院、中南民族学院、三峡大学、襄樊学院</div>
<div class="para" label-module="para"><b>[湖南]</b>湖南大学、中南大学、湖南师范大学、湘潭大学、吉首大学、长沙电力学院、湘潭师范学院</div>
<div class="para" label-module="para"><b>[广东]</b>中山大学、暨南大学、华南理工大学、华南师范大学、汕头大学、深圳大学、广东金融学院、五邑大学、广州大学、佛山科学技术学院、湛江师范学院、韩山师范学院、广东职业技术师范学院、广东石油化工学院、惠州学院、广东技术师范学院</div>
<div class="para" label-module="para"><b>[广西]</b>广西大学、广西师范大学、广西民族学院、广西师范学院</div>
<div class="para" label-module="para"><b>[海南]</b>海南师范学院</div>
<div class="para" label-module="para"><b>[重庆]</b>重庆大学、西南师范大学、重庆师范学院、渝州大学、重庆三峡学院</div>
<div class="para" label-module="para"><b>[四川]</b>四川大学、电子科技大学、西南交通大学、四川师范大学、西南民族学院、成都理工大学、四川师范学院</div>
<div class="para" label-module="para"><b>[贵州]</b>贵州大学、贵州师范大学、贵州民族学院</div>
<div class="para" label-module="para"><b>[云南]</b>云南大学、云南师范大学、云南民族学院</div>
<div class="para" label-module="para"><b>[西藏]</b>西藏大学</div>
<div class="para" label-module="para"><b>[陕西]</b>西北大学、西安交通大学、西北工业大学、西安电子科技大学、陕西师范大学、延安大学、汉中师范学院</div>
<div class="para" label-module="para"><b>[甘肃]</b>兰州大学、西北师范大学、西北民族学院</div>
<div class="para" label-module="para"><b>[青海]</b>青海师范大学、青海民族学院</div>
<div class="para" label-module="para"><b>[宁夏]</b>宁夏大学、北方民族大学</div>
<div class="para" label-module="para"><b>[新疆]</b>新疆大学、新疆师范大学、石河子大学、喀什师范学院、伊犁师范学院</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="10"></a>
<a class="lemma-anchor " name="sub1060812_10"></a>
<a class="lemma-anchor " name="专业大学排名"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">数学与应用数学专业</span>专业大学排名</h2>
<a class="edit-icon j-edit-link" data-edit-dl="10"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<table class="table-view log-set-param" log-set-param="table_view" width="100%"><tr><td><div class="para" label-module="para"><b>排名</b></div>
</td><td><div class="para" label-module="para"><b>学校名称</b></div>
</td><td><div class="para" label-module="para"><b>等级</b></div>
</td><td><div class="para" label-module="para"><b>排名</b></div>
</td><td><div class="para" label-module="para"><b>学校名称</b></div>
</td><td><div class="para" label-module="para"><b>等级</b></div>
</td><td><div class="para" label-module="para"><b>排名</b></div>
</td><td><div class="para" label-module="para"><b>学校名称</b></div>
</td><td><div class="para" label-module="para"><b>等级</b></div>
</td></tr><tr><td><div class="para" label-module="para">1</div>
</td><td><div class="para" label-module="para">浙江大学</div>
</td><td><div class="para" label-module="para">A+</div>
</td><td><div class="para" label-module="para">15</div>
</td><td><div class="para" label-module="para">西安电子科技大学</div>
</td><td><div class="para" label-module="para">A</div>
</td><td><div class="para" label-module="para">29</div>
</td><td><div class="para" label-module="para">福州大学</div>
</td><td><div class="para" label-module="para">A</div>
</td></tr><tr><td><div class="para" label-module="para">2</div>
</td><td><div class="para" label-module="para">北京大学</div>
</td><td><div class="para" label-module="para">A+</div>
</td><td><div class="para" label-module="para">16</div>
</td><td><div class="para" label-module="para">中国科学技术大学</div>
</td><td><div class="para" label-module="para">A</div>
</td><td><div class="para" label-module="para">30</div>
</td><td><div class="para" label-module="para">吉林大学</div>
</td><td><div class="para" label-module="para">A</div>
</td></tr><tr><td><div class="para" label-module="para">3</div>
</td><td><div class="para" label-module="para">清华大学</div>
</td><td><div class="para" label-module="para">A+</div>
</td><td><div class="para" label-module="para">17</div>
</td><td><div class="para" label-module="para">武汉大学</div>
</td><td><div class="para" label-module="para">A</div>
</td><td><div class="para" label-module="para">31</div>
</td><td><div class="para" label-module="para">华南理工大学</div>
</td><td><div class="para" label-module="para">A</div>
</td></tr><tr><td><div class="para" label-module="para">4</div>
</td><td><div class="para" label-module="para">复旦大学</div>
</td><td><div class="para" label-module="para">A+</div>
</td><td><div class="para" label-module="para">18</div>
</td><td><div class="para" label-module="para">山东大学</div>
</td><td><div class="para" label-module="para">A</div>
</td><td><div class="para" label-module="para">32</div>
</td><td><div class="para" label-module="para">曲阜师范大学</div>
</td><td><div class="para" label-module="para">A</div>
</td></tr><tr><td><div class="para" label-module="para">5</div>
</td><td><div class="para" label-module="para">南开大学</div>
</td><td><div class="para" label-module="para">A+</div>
</td><td><div class="para" label-module="para">19</div>
</td><td><div class="para" label-module="para">中南大学</div>
</td><td><div class="para" label-module="para">A</div>
</td><td><div class="para" label-module="para">33</div>
</td><td><div class="para" label-module="para">云南大学</div>
</td><td><div class="para" label-module="para">A</div>
</td></tr><tr><td><div class="para" label-module="para">6</div>
</td><td><div class="para" label-module="para">四川大学</div>
</td><td><div class="para" label-module="para">A+</div>
</td><td><div class="para" label-module="para">20</div>
</td><td><div class="para" label-module="para">湖南大学</div>
</td><td><div class="para" label-module="para">A</div>
</td><td><div class="para" label-module="para">34</div>
</td><td><div class="para" label-module="para">苏州大学</div>
</td><td><div class="para" label-module="para">A</div>
</td></tr><tr><td><div class="para" label-module="para">7</div>
</td><td><div class="para" label-module="para">大连理工大学</div>
</td><td><div class="para" label-module="para">A+</div>
</td><td><div class="para" label-module="para">21</div>
</td><td><div class="para" label-module="para">华东师范大学</div>
</td><td><div class="para" label-module="para">A</div>
</td><td><div class="para" label-module="para">35</div>
</td><td><div class="para" label-module="para">厦门大学</div>
</td><td><div class="para" label-module="para">A</div>
</td></tr><tr><td><div class="para" label-module="para">8</div>
</td><td><div class="para" label-module="para">兰州大学</div>
</td><td><div class="para" label-module="para">A+</div>
</td><td><div class="para" label-module="para">22</div>
</td><td><div class="para" label-module="para">华中科技大学</div>
</td><td><div class="para" label-module="para">A</div>
</td><td><div class="para" label-module="para">36</div>
</td><td><div class="para" label-module="para">首都师范大学</div>
</td><td><div class="para" label-module="para">A</div>
</td></tr><tr><td><div class="para" label-module="para">9</div>
</td><td><div class="para" label-module="para">西安交通大学</div>
</td><td><div class="para" label-module="para">A+</div>
</td><td><div class="para" label-module="para">23</div>
</td><td><div class="para" label-module="para">中山大学</div>
</td><td><div class="para" label-module="para">A</div>
</td><td><div class="para" label-module="para">37</div>
</td><td><div class="para" label-module="para">广州大学</div>
</td><td><div class="para" label-module="para">A</div>
</td></tr><tr><td><div class="para" label-module="para">10</div>
</td><td><div class="para" label-module="para">西北工业大学</div>
</td><td><div class="para" label-module="para">A+</div>
</td><td><div class="para" label-module="para">24</div>
</td><td><div class="para" label-module="para">上海大学</div>
</td><td><div class="para" label-module="para">A</div>
</td><td><div class="para" label-module="para">38</div>
</td><td><div class="para" label-module="para">东北师范大学</div>
</td><td><div class="para" label-module="para">A</div>
</td></tr><tr><td><div class="para" label-module="para">11</div>
</td><td><div class="para" label-module="para">上海交通大学</div>
</td><td><div class="para" label-module="para">A</div>
</td><td><div class="para" label-module="para">25</div>
</td><td><div class="para" label-module="para">新疆大学</div>
</td><td><div class="para" label-module="para">A</div>
</td><td><div class="para" label-module="para">39</div>
</td><td><div class="para" label-module="para">湘潭大学</div>
</td><td><div class="para" label-module="para">A</div>
</td></tr><tr><td><div class="para" label-module="para">12</div>
</td><td><div class="para" label-module="para">东南大学</div>
</td><td><div class="para" label-module="para">A</div>
</td><td><div class="para" label-module="para">26</div>
</td><td><div class="para" label-module="para">北京师范大学</div>
</td><td><div class="para" label-module="para">A</div>
</td><td><div class="para" label-module="para">40</div>
</td><td><div class="para" label-module="para">哈尔滨工业大学</div>
</td><td><div class="para" label-module="para">A</div>
</td></tr><tr><td><div class="para" label-module="para">13</div>
</td><td><div class="para" label-module="para">同济大学</div>
</td><td><div class="para" label-module="para">A</div>
</td><td><div class="para" label-module="para">27</div>
</td><td><div class="para" label-module="para">北京航空航天大学</div>
</td><td><div class="para" label-module="para">A</div>
</td><td><div class="para" label-module="para">41</div>
</td><td><div class="para" label-module="para">南京大学</div>
</td><td><div class="para" label-module="para">A</div>
</td></tr><tr><td><div class="para" label-module="para">14</div>
</td><td><div class="para" label-module="para">北京理工大学</div>
</td><td><div class="para" label-module="para">A</div>
</td><td><div class="para" label-module="para">28</div>
</td><td><div class="para" label-module="para">电子科技大学</div>
</td><td><div class="para" label-module="para">A</div>
</td><td><div class="para" label-module="para">42</div>
</td><td><div class="para" label-module="para">安徽工业大学</div>
</td><td><div class="para" label-module="para">A</div>
</td></tr></table>
<div class="clear"></div>
</div>