<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>信息与计算科学</h1>


</dd>
</dl><span class="view-tip-panel">
<a class="viewTip-icon" target="_blank" title="同义词">同义词</a>
<span class="viewTip-fromTitle">信息与计算科学专业</span>一般指信息与计算科学
</span>
<div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">信息与计算科学专业Information and Computing Science原名”计算数学”，1987年更名为“计算数学及其应用软件”，1998年教育部将其更名为“<a target="_blank">信息</a>与计算科学”，是以信息领域为背景，数学与信息，<a target="_blank">计算机</a>管理相结合的计算机科学与技术类专业。该专业培养的学生具有良好的数学基础，能熟练地使用计算机,初步具备在信息与计算机科学领域的某个方向上从事科学研究，解决实际问题，设计开发有关计算机软件的能力。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
信息与计算科学
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
Information and Computing Sciences
</dd>
<dt class="basicInfo-item name"><a target="_blank">学科</a>代码</dt>
<dd class="basicInfo-item value">
070102
</dd>
<dt class="basicInfo-item name">相近专业</dt>
<dd class="basicInfo-item value">
<a target="_blank">数学与应用数学</a>
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">主干学科</dt>
<dd class="basicInfo-item value">
数学、<a target="_blank">计算机科学与技术</a>
</dd>
<dt class="basicInfo-item name">修业年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
<a target="_blank">理学</a>学士
</dd>
<dt class="basicInfo-item name">英文缩写</dt>
<dd class="basicInfo-item value">
ICS
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-4">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">专业方向</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">主要课程</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">详细信息</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#3_1">培养目标</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#3_2">培养要求</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#3_3">核心课程</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#3_4">实践教学</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#3_5">修业年限</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">开设院校</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_1">北京</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_2">上海</a></span>
</li>
</ol><ol><li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_3">天津</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_4">辽宁</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_5">广西</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_6">陕西</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_7">山东</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_8">黑龙江</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_9">江西</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_10">四川</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_11">重庆</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_12">河南</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_13">云南</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_14">贵州</a></span>
</li>
</ol><ol><li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_15">新疆</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_16">河北</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_17">山西</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_18">内蒙古</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_19">吉林</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_20">浙江</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_21">江苏</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_22">安徽</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_23">湖北</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_24">福建</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_25">宁夏</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_26">甘肃</a></span>
</li>
</ol><ol><li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_27">广东</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_28">海南</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_29">青海</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#4_30">湖南</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">重点学科</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">考研就业</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#6_1">考研方向</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#6_2">就业方向</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#6_3">就业趋势</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub18097_1"></a>
<a class="lemma-anchor " name="专业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">信息与计算科学</span>专业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">信息与计算科学专业</a>为理科专业，包括信息科学与计算数学两个方面。方向<b>一</b>是以计算机科学方面为主，数学方面为辅；<b>方向二</b>是以数学方面为主，计算机科学方面为辅。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_18097"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub18097_2"></a>
<a class="lemma-anchor " name="主要课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">信息与计算科学</span>主要课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">数学分析、<a target="_blank">高等代数</a>、解析几何、<a target="_blank">概率统计</a>、数学模型、离散数学、模糊数学、实变函数、复变函数、微分方程、物理学、<a target="_blank">信息处理</a>、信息编码与信息安全、现代密码学教程、计算智能、计算机科学基础、数值计算方法、数据挖掘、最优化理论、运筹学、计算机组成原理、计算机网络、计算机图形学、c/c++语言、<a target="_blank">java语言</a>、汇编语言、算法与数据结构、数据库应用技术、软件系统、操作系统等。</div>
<div class="para" label-module="para"><b>主要实践性教学环节：</b>包括生产实习，科研训练，毕业论文(毕业设计)等，一般安排10--20周。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_18097"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub18097_3"></a>
<a class="lemma-anchor " name="详细信息"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">信息与计算科学</span>详细信息</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="3_1"></a>
<a class="lemma-anchor " name="sub18097_3_1"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>培养目标</h3>
</div>
<div class="para" label-module="para">本专业的课程体系和知识结构体现了在扎实的数学基础之上，合理架构信息科学与计算机科学的专业基础理论。通过信息论、科学计算、运筹学等方面的基础知识教育和建立数学模型、数学实践课、专业实习各环节的训练，着重培养学生解决科学计算、软件开发和设计、信息处理与编码等实际问题的能力，培养能胜任信息处理、科学与工程计算部门工作的高级专门人才。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_18097"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3_2"></a>
<a class="lemma-anchor " name="sub18097_3_2"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>培养要求</h3>
</div>
<div class="para" label-module="para">本专业学生主要学习信息科学和计算科学的基本理论、基本知识和基本方法，打好数学基础，受到较扎实的计算机训练，初步具备在信息科学与计算科学领域从事科学研究、解决实际问题及设计开发有关软件的能力。</div>
<div class="para" label-module="para">毕业生应获得以下几方面的知识和能力：</div>
<div class="para" label-module="para">1．具有扎实的数学基础，掌握信息科学和/或计算机科学的基本理论和基本知识。</div>
<div class="para" label-module="para">2．能熟练使用计算机(包括常用语言、工具及一些专用软件)，具有基本的算法分析、设计能力和较强的编程能力。</div>
<div class="para" label-module="para">3．了解某个应用领域，能运用所学的理论、方法和技能解决某些科研或生产中的实际课题。</div>
<div class="para" label-module="para">4．对信息科学与计算科学理论、技术及应用的新发展有所了解。</div>
<div class="para" label-module="para">5．掌握文献检索、资料查询的基本方法，具有一定的科学研究和软件开发能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3_3"></a>
<a class="lemma-anchor " name="sub18097_3_3"></a>
<a class="lemma-anchor " name="核心课程"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>核心课程</h3>
</div>
<div class="para" label-module="para"><b>微分方程数值解法</b>、<b>数值逼近与计算几何</b>（与<a target="_blank">计算机图形学</a>不同，后者是用计算机实现图形识别的技术，而本课程是用计算机逼近表达一些计算机难以用二进制描述的函数(如lnX)的专门技术）、<b>数值代数</b>（主要研究如何用计算机以最快的算法计算高阶矩阵）。这三门课程中没学过任何一门都不能算是合格的毕业生。事实上，这三门课程是联系数学与计算机、把数学应用到计算机、用计算机解决数学问题的最基础课程，没有这三门课程，谈何信息与计算。可以说，有了这三门技术，计算机才能表达、计算各种函数，才能不断提高软硬件的性能，才能用计算机计算很多对人来说根本无法解答的方程。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3_4"></a>
<a class="lemma-anchor " name="sub18097_3_4"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>实践教学</h3>
</div>
<div class="para" label-module="para">包括生产实习、科研训练、<a target="_blank">毕业论文</a>(毕业设计)等， 一般安排10周～20周。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3_5"></a>
<a class="lemma-anchor " name="sub18097_3_5"></a>
<a class="lemma-anchor " name="修业年限"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>修业年限</h3>
</div>
<div class="para" label-module="para">四年</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub18097_4"></a>
<a class="lemma-anchor " name="开设院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">信息与计算科学</span>开设院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="4_1"></a>
<a class="lemma-anchor " name="sub18097_4_1"></a>
<a class="lemma-anchor " name="北京"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>北京</h3>
</div>
<div class="para" label-module="para">北京科技大学 、中国矿业大学（北京）、<a target="_blank">北京化工大学</a></div>
<div class="para" label-module="para"><a target="_blank">中国传媒大学</a>、<a target="_blank">北京交通大学</a>、北京电子科技学院 、 北京工业大学、<a target="_blank">华北电力大学</a></div>
<div class="para" label-module="para"><a target="_blank">北京联合大学</a>、 <a target="_blank">北京理工大学</a> 、<a target="_blank">北京建筑大学</a>、<a target="_blank">北京信息科技大学</a>、<a target="_blank">北京邮电大学</a>、</div>
<div class="para" label-module="para"><a target="_blank">中央民族大学</a>、<a target="_blank">首都师范大学</a>、 <a target="_blank">北京大学</a> 、清华大学 、<a target="_blank">北京航空航天大学</a>、<a target="_blank">北京石油化工学院</a>、<a target="_blank">北方工业大学</a></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_2"></a>
<a class="lemma-anchor " name="sub18097_4_2"></a>
<a class="lemma-anchor " name="上海"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>上海</h3>
</div>
<div class="para" label-module="para"><a target="_blank">上海第二工业大学</a>、<a target="_blank">上海海洋大学</a>、<a target="_blank">上海大学</a>、<a target="_blank">上海理工大学</a> 、 <a target="_blank">上海海事大学</a>、上海师范大学，上海电力学院。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_3"></a>
<a class="lemma-anchor " name="sub18097_4_3"></a>
<a class="lemma-anchor " name="天津"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>天津</h3>
</div>
<div class="para" label-module="para"><a target="_blank">中国民航大学</a>、<a target="_blank">天津科技大学</a>、<a target="_blank">天津工业大学</a>、<a target="_blank">天津财经大学</a>、 <a target="_blank">天津理工大学</a>、 <a target="_blank">天津职业技术师范大学</a>、<a target="_blank">天津师范大学</a>、<a target="_blank">天津商业大学</a></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_4"></a>
<a class="lemma-anchor " name="sub18097_4_4"></a>
<a class="lemma-anchor " name="辽宁"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>辽宁</h3>
</div>
<div class="para" label-module="para">大连大学、辽宁工业大学、<a target="_blank">沈阳建筑大学</a>、<a target="_blank">沈阳理工大学</a>、 <a target="_blank">辽宁大学</a>、<a target="_blank">沈阳工业大学</a>、<a target="_blank">鞍山科技大学</a>、<a target="_blank">辽宁工程技术大学</a>、<a target="_blank">沈阳农业大学</a></div>
<div class="para" label-module="para"><a target="_blank">沈阳航空航天大学</a>、<a target="_blank">辽宁师范大学</a>、 <a target="_blank">沈阳师范大学</a>、 <a target="_blank">大连海洋大学</a>、<a target="_blank">大连交通大学</a></div>
<div class="para" label-module="para"><a data-lemmaid="18014" target="_blank">东北大学</a>、<a target="_blank">辽宁石油化工大学</a></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_5"></a>
<a class="lemma-anchor " name="sub18097_4_5"></a>
<a class="lemma-anchor " name="广西"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>广西</h3>
</div>
<div class="para" label-module="para"><a target="_blank">广西师范大学</a>、 <a target="_blank">桂林理工大学</a>、<a target="_blank">桂林电子科技大学</a>、<a target="_blank">广西民族大学</a>、<a target="_blank">玉林师范学院</a>、<a target="_blank">梧州学院</a>、<a target="_blank">广西师范学院师园学院</a>、<a target="_blank">广西民族师范学院</a>、广西科技大学 、广西大学</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_6"></a>
<a class="lemma-anchor " name="sub18097_4_6"></a>
<a class="lemma-anchor " name="陕西"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>陕西</h3>
</div>
<div class="para" label-module="para">西安交通大学、西北工业大学、<a target="_blank">西北农林科技大学</a>、<a target="_blank">西安科技大学</a>、<a target="_blank">西安工程大学</a>、<a target="_blank">西北大学</a> <a target="_blank">陕西科技大学</a></div>
<div class="para" label-module="para"><a target="_blank">西安理工大学</a>、<a target="_blank">西安建筑科技大学</a>、<a target="_blank">西安电子科技大学</a>、<a target="_blank">西安石油大学</a>、长安大学、西安邮电大学</div>
<div class="para" label-module="para"><a target="_blank">西安工业学院</a>、<a target="_blank">陕西师范大学</a>、<a target="_blank">陕西理工学院</a>、<a target="_blank">西安财经学院</a>、 <a target="_blank">西安工业大学</a> 、<a target="_blank">西安石油大学</a></div>
<div class="para" label-module="para"><a target="_blank">渭南师范学院</a>、<a target="_blank">西安文理学院</a>、<a target="_blank">宝鸡文理学院</a></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_7"></a>
<a class="lemma-anchor " name="sub18097_4_7"></a>
<a class="lemma-anchor " name="山东"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>山东</h3>
</div>
<div class="para" label-module="para"><a target="_blank">哈尔滨工业大学（威海）</a>、山东建筑大学、济南大学、<a target="_blank">青岛科技大学</a>、<a target="_blank">山东科技大学</a>、<a target="_blank">山东工商学院</a>、<a target="_blank">山东交通学院</a> 、<a target="_blank">潍坊学院</a>、 <a target="_blank">山东理工大学</a>、<a target="_blank">山东轻工业学院</a> 、<a target="_blank">青岛大学</a> 、<a target="_blank">青岛农业大学</a>、<a target="_blank">山东农业大学</a>、<a target="_blank">青岛理工大学</a>、<a target="_blank">烟台师范学院</a>、<a target="_blank">烟台大学</a>、<a target="_blank">聊城大学</a>、<a target="_blank">德州学院</a>、<a target="_blank">临沂大学</a>、<a target="_blank">中国石油大学（华东）</a>、<a target="_blank">曲阜师范大学</a>、<a target="_blank">中国煤炭经济学院</a>、<a target="_blank">中国海洋大学</a>、<a target="_blank">山东大学（威海）</a>、<a target="_blank">山东师范大学</a></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_8"></a>
<a class="lemma-anchor " name="sub18097_4_8"></a>
<a class="lemma-anchor " name="黑龙江"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>黑龙江</h3>
</div>
<div class="para" label-module="para"><a target="_blank">哈尔滨工业大学</a>、<a target="_blank">东北林业大学</a>、<a target="_blank">哈尔滨理工大学</a>、<a target="_blank">黑龙江大学</a>、<a target="_blank">哈尔滨工程大学</a>、<a target="_blank">哈尔滨师范大学</a>、<a target="_blank">东北农业大学</a>、黑龙江工程学院、<a target="_blank">黑龙江八一农垦大学</a>、<a target="_blank">齐齐哈尔大学</a>、<a target="_blank">牡丹江师范学院</a>。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_9"></a>
<a class="lemma-anchor " name="sub18097_4_9"></a>
<a class="lemma-anchor " name="江西"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>江西</h3>
</div>
<div class="para" label-module="para"><a target="_blank">东华理工大学</a><sup>[3]</sup><a class="sup-anchor" name="ref_[3]_18097"> </a>
、<a target="_blank">九江学院</a>、<a target="_blank">南昌大学</a>、 <a target="_blank">江西农业大学</a>、<a target="_blank">华东交通大学</a>、江西师范大学、赣南师范大学、景德镇陶瓷大学</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_10"></a>
<a class="lemma-anchor " name="sub18097_4_10"></a>
<a class="lemma-anchor " name="四川"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>四川</h3>
</div>
<div class="para" label-module="para">西南石油大学、成都信息工程大学、 四川大学、<a target="_blank">电子科技大学</a>、<a target="_blank">西南交通大学</a>、<a target="_blank">西南民族大学</a>、<a target="_blank">四川农业大学</a>、<a target="_blank">成都理工大学</a>、<a target="_blank">西南科技大学</a>、<a target="_blank">西华师范大学</a>、<a target="_blank">四川师范大学</a>、<a target="_blank">西华大学</a>、成都大学 、中国民航飞行学院、绵阳师范学院</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_11"></a>
<a class="lemma-anchor " name="sub18097_4_11"></a>
<a class="lemma-anchor " name="重庆"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>重庆</h3>
</div>
<div class="para" label-module="para"><a target="_blank">重庆大学</a>、<a target="_blank">西南大学</a>、<a target="_blank">重庆邮电大学</a>、<a target="_blank">重庆三峡学院</a>、<a target="_blank">重庆师范大学</a>、重庆理工大学、重庆交通大学</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_12"></a>
<a class="lemma-anchor " name="sub18097_4_12"></a>
<a class="lemma-anchor " name="河南"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>河南</h3>
</div>
<div class="para" label-module="para"><a target="_blank">郑州大学</a>、<a target="_blank">河南大学</a>、郑州轻工业学院、<a target="_blank">黄淮学院</a>、<a target="_blank">华北水利水电大学</a>、<a target="_blank">河南工程学院</a></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_13"></a>
<a class="lemma-anchor " name="sub18097_4_13"></a>
<a class="lemma-anchor " name="云南"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>云南</h3>
</div>
<div class="para" label-module="para"><a target="_blank">云南大学</a>、<a target="_blank">昆明理工大学</a></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_14"></a>
<a class="lemma-anchor " name="sub18097_4_14"></a>
<a class="lemma-anchor " name="贵州"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>贵州</h3>
</div>
<div class="para" label-module="para"><a target="_blank">贵州大学</a>、<a target="_blank">贵阳学院</a>、<a target="_blank">黔南民族师范学院</a></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_15"></a>
<a class="lemma-anchor " name="sub18097_4_15"></a>
<a class="lemma-anchor " name="新疆"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>新疆</h3>
</div>
<div class="para" label-module="para"><a target="_blank">新疆大学</a>、<a target="_blank">石河子大学</a>、<a target="_blank">新疆师范大学</a></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_16"></a>
<a class="lemma-anchor " name="sub18097_4_16"></a>
<a class="lemma-anchor " name="河北"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>河北</h3>
</div>
<div class="para" label-module="para"><a target="_blank">河北大学</a>、 <a target="_blank">河北工业大学</a> 、<a target="_blank">河北师范大学</a>、<a target="_blank">华北电力大学</a>、<a target="_blank">燕山大学</a>、<a target="_blank">华北科技学院</a></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_17"></a>
<a class="lemma-anchor " name="sub18097_4_17"></a>
<a class="lemma-anchor " name="山西"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>山西</h3>
</div>
<div class="para" label-module="para"><a target="_blank">山西大学</a>、<a target="_blank">中北大学</a>、<a target="_blank">太原理工大学</a>、 <a target="_blank">山西师范大学</a>、<a target="_blank">运城学院</a></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_18"></a>
<a class="lemma-anchor " name="sub18097_4_18"></a>
<a class="lemma-anchor " name="内蒙古"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>内蒙古</h3>
</div>
<div class="para" label-module="para"><a target="_blank">内蒙古大学</a>、<a target="_blank">内蒙古工业大学</a>、<a target="_blank">内蒙古师范大学</a>、<a target="_blank">内蒙古民族大学</a></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_19"></a>
<a class="lemma-anchor " name="sub18097_4_19"></a>
<a class="lemma-anchor " name="吉林"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>吉林</h3>
</div>
<div class="para" label-module="para"><a target="_blank">吉林大学</a>、<a target="_blank">北华大学</a>、<a target="_blank">东北师范大学</a>、<a target="_blank">东北电力大学</a>、<a target="_blank">长春工业大学</a>、<a target="_blank">长春理工大学</a> 、<a target="_blank">吉林农业大学</a>、<a target="_blank">东北林业大学</a>、<a target="_blank">长春大学</a></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_20"></a>
<a class="lemma-anchor " name="sub18097_4_20"></a>
<a class="lemma-anchor " name="浙江"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>浙江</h3>
</div>
<div class="para" label-module="para"><a target="_blank">浙江大学</a>、<a target="_blank">浙江万里学院</a>、<a target="_blank">浙江工业大学</a>、<a target="_blank">杭州电子科技大学</a>、<a target="_blank">杭州师范大学</a>、<a target="_blank">宁波大学</a>、<a target="_blank">中国计量大学</a>、<a target="_blank">浙江师范大学</a>、<a target="_blank">嘉兴学院</a>、<a target="_blank">浙江理工大学</a>、宁波工程学院 、 丽水学院、浙江科技学院</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_21"></a>
<a class="lemma-anchor " name="sub18097_4_21"></a>
<a class="lemma-anchor " name="江苏"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>江苏</h3>
</div>
<div class="para" label-module="para"><a target="_blank">南京大学</a>、<a target="_blank">东南大学</a>、<a target="_blank">南京航空航天大学</a> <sup>[4]</sup><a class="sup-anchor" name="ref_[4]_18097"> </a>
<a target="_blank">南京林业大学</a>、<a target="_blank">南京师范大学</a> 、<a target="_blank">苏州大学</a>、<a target="_blank">江苏师范大学</a>、<a target="_blank">南京信息工程大学</a>、<a target="_blank">南京理工大学</a>、<a target="_blank">南京邮电大学</a>、<a target="_blank">南京农业大学</a>、<a target="_blank">中国矿业大学</a>、<a target="_blank">江南大学</a>、<a target="_blank">扬州大学</a>、<a target="_blank">苏州科技大学</a>、淮海工学院、<a target="_blank">淮阴工学院</a>、<a target="_blank">南京工业大学</a>、南京晓庄学院、盐城师范学院、江苏科技大学</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_22"></a>
<a class="lemma-anchor " name="sub18097_4_22"></a>
<a class="lemma-anchor " name="安徽"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>安徽</h3>
</div>
<div class="para" label-module="para"><a target="_blank">中国科学技术大学</a>、<a target="_blank">安徽大学</a>、<a target="_blank">合肥工业大学</a>、<a target="_blank">安徽工业大学</a>、<a target="_blank">安徽师范大学</a>、<a target="_blank">阜阳师范学院</a>、安徽理工大学、淮南师范学院、安徽新华学院、安徽农业大学、安徽科技学院</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_23"></a>
<a class="lemma-anchor " name="sub18097_4_23"></a>
<a class="lemma-anchor " name="湖北"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>湖北</h3>
</div>
<div class="para" label-module="para"><a target="_blank">武汉大学</a>、<a target="_blank">华中科技大学</a>、<a target="_blank">中国地质大学（武汉）</a>、<a target="_blank">华中师范大学</a>、华中农业大学、武汉理工大学、<a target="_blank">中南财经政法大学</a>、湖北大学、三峡大学、武汉科技大学、长江大学<sup>[5]</sup><a class="sup-anchor" name="ref_[5]_18097"> </a>
、武汉轻工大学、湖北工业大学、湖北文理学院</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_24"></a>
<a class="lemma-anchor " name="sub18097_4_24"></a>
<a class="lemma-anchor " name="福建"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>福建</h3>
</div>
<div class="para" label-module="para"><a target="_blank">厦门大学</a>、<a target="_blank">福州大学</a>、福建师范大学、龙岩学院、<a target="_blank">华侨大学</a>、福建农林大学、<a target="_blank">集美大学</a>、闽南师范大学、福建工程学院、厦门理工学院、泉州师范学院、闽江学院、武夷学院</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_25"></a>
<a class="lemma-anchor " name="sub18097_4_25"></a>
<a class="lemma-anchor " name="宁夏"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>宁夏</h3>
</div>
<div class="para" label-module="para"><a target="_blank">宁夏大学</a>、北方民族大学</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_26"></a>
<a class="lemma-anchor " name="sub18097_4_26"></a>
<a class="lemma-anchor " name="甘肃"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>甘肃</h3>
</div>
<div class="para" label-module="para">兰州理工大学、<a target="_blank">兰州交通大学</a> 、<a target="_blank">西北民族大学</a>、<a target="_blank">兰州财经大学</a>、天水师范学院、西北师范大学</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_27"></a>
<a class="lemma-anchor " name="sub18097_4_27"></a>
<a class="lemma-anchor " name="广东"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>广东</h3>
</div>
<div class="para" label-module="para"><a data-lemmaid="5672" target="_blank">中山大学</a>、<a target="_blank">华南理工大学</a>、<a target="_blank">华南农业大学</a>、<a target="_blank">华南师范大学</a>、<a target="_blank">暨南大学</a>、广东工业大学、<a target="_blank">深圳大学</a>、<a target="_blank">广州大学</a>、东莞理工学院、广东技术师范学院、广东第二师范学院、五邑大学、广东海洋大学、广东金融学院、广东财经大学（原广东商学院）、仲恺农业工程学院、广东石油化工学院（原茂名学院）、韶关学院、肇庆学院</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_28"></a>
<a class="lemma-anchor " name="sub18097_4_28"></a>
<a class="lemma-anchor " name="海南"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>海南</h3>
</div>
<div class="para" label-module="para"><a target="_blank">海南大学</a>、海南师范大学</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_29"></a>
<a class="lemma-anchor " name="sub18097_4_29"></a>
<a class="lemma-anchor " name="青海"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>青海</h3>
</div>
<div class="para" label-module="para"><a target="_blank">青海大学</a></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4_30"></a>
<a class="lemma-anchor " name="sub18097_4_30"></a>
<a class="lemma-anchor " name="湖南"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>湖南</h3>
</div>
<div class="para" label-module="para"><a target="_blank">吉首大学</a>、湖南商学院、湖南工程学院、湖南城市学院、<a target="_blank">中南大学</a>、<a target="_blank">湖南大学</a>、<a target="_blank">湘潭大学</a>、湖南师范大学、长沙理工大学、湖南工业大学、 湖南文理学院、湖南科技大学</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub18097_5"></a>
<a class="lemma-anchor " name="重点学科"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">信息与计算科学</span>重点学科</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">具有国家重点学科（含数学<a target="_blank">一级学科</a>覆盖）的大学</div>
<table class="table-view log-set-param" log-set-param="table_view" width="550"><tr><td><div class="para" label-module="para"><a target="_blank">北京大学</a></div>
</td></tr><tr><td><div class="para" label-module="para"><a target="_blank">清华大学</a>，北京协和医学院—清华大学医学部</div>
</td></tr><tr><td><div class="para" label-module="para"><a target="_blank">北京师范大学</a></div>
</td></tr><tr><td><div class="para" label-module="para"><a data-lemmaid="134521" target="_blank">南开大学</a></div>
</td></tr><tr><td><div class="para" label-module="para"><a target="_blank">吉林大学</a></div>
</td></tr><tr><td><div class="para" label-module="para"><a target="_blank">复旦大学</a></div>
</td></tr><tr><td><div class="para" label-module="para"><a target="_blank">南京大学</a></div>
</td></tr><tr><td><div class="para" label-module="para"><a target="_blank">浙江大学</a></div>
</td></tr><tr><td><div class="para" label-module="para"><a target="_blank">中国科学技术大学</a></div>
</td></tr><tr><td><div class="para" label-module="para"><a target="_blank">山东大学</a></div>
</td></tr><tr><td align="left" height="37" valign="center"><div class="para" label-module="para"><a target="_blank">四川大学</a></div>
</td></tr><tr><td align="left" height="47" valign="center"><a target="_blank">厦门大学</a></td></tr><tr><td align="left" valign="center"><a target="_blank">大连理工大学</a></td></tr><tr><td align="left" valign="center"><a target="_blank">西安交通大学</a></td></tr><tr><td align="left" valign="center"><a target="_blank">华东师范大学</a></td></tr><tr><td align="left" valign="center"><a target="_blank">浙江大学</a></td></tr><tr><td align="left" valign="center"><div class="para" label-module="para"><a target="_blank">上海交通大学</a></div>
</td></tr><tr><td align="left" colspan="1" rowspan="1" valign="center"><div class="para" label-module="para"><a target="_blank">湘潭大学</a></div>
</td></tr><tr><td align="left" colspan="1" rowspan="1" valign="center"><div class="para" label-module="para"><a target="_blank">华南农业大学</a></div>
</td></tr></table><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub18097_6"></a>
<a class="lemma-anchor " name="考研就业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">信息与计算科学</span>考研就业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="6_1"></a>
<a class="lemma-anchor " name="sub18097_6_1"></a>
<a class="lemma-anchor " name="考研方向"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>考研方向</h3>
</div>
<div class="para" label-module="para">计算机类：计算机系统结构、微型计算机系统、并行分布/处理与智能计算机系统、计算机软件、人工智能与智能控制、<a target="_blank">计算机图形学</a>及<a target="_blank">计算机辅助设计</a>、计算机信息处理与应用、计算机设计自动化与计算机科学理论</div>
<div class="para" label-module="para">自动化控制类：<a target="_blank">控制理论与控制工程</a>，模式识别，测控，精密仪器，导航制导。</div>
<div class="para" label-module="para">数学类：基础数学，计算数学，应用数学，<a target="_blank">运筹学</a>，金融数学，系统工程。</div>
<div class="para" label-module="para">经济类：统计学，国际贸易，<a target="_blank">国际金融</a>，投资，产业经济学。</div>
<div class="para" label-module="para">管理类：运筹学，企业管理。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6_2"></a>
<a class="lemma-anchor " name="sub18097_6_2"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>就业方向</h3>
</div>
<div class="para" label-module="para">信息与计算科学就业趋势，毕业生在毕业以后，可以在信息与计算科学、计算机<a target="_blank">信息处理</a>、经济、金融等部门从事研究、教学、应用软件开发或者是管理部门从事一些实际应用、开发研究或者管理工作。或者在信息与计算机信息专业去读研究生。</div>
<div class="para" label-module="para">就业前景：主要到科技、教育和经济部门从事研究、教学与计算机教学和应用开发和管理工作。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6_3"></a>
<a class="lemma-anchor " name="sub18097_6_3"></a>
<a class="lemma-anchor " name="就业趋势"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">信息与计算科学</span>就业趋势</h3>
</div>
<div class="para" label-module="para">1.<b>继续深造</b>：由于信息与计算科学专业的毕业生不仅具有扎实的数学基础和良好的数学思维能力，而且掌握了信息与计算科学的方法与技能，受到科学研究的训练，因此继续深造的可选择领域将变得非常广泛，他们既可以继续攻读<a target="_blank">计算数学</a>、计算力学、<a target="_blank">计算机应用</a>与软件、<a target="_blank">信息与网络安全</a>、<a target="_blank">信息科学</a>、自动控制、金融信息 等专业和研究方向的硕士学位，也可以攻读具有行业特色且与信息与计算关系比较紧密的某些专业的硕士学位。</div>
<div class="para" label-module="para">2.<b>高等院校、科研单位</b>：信息与计算科学专业的毕业生可以在大专院校和科研单位从事教学和科研工作，他们可以继续从事信息科学与计算数学的教学和研究工作，也可以凭借其出色的<a target="_blank">数学建模</a>能力和<a target="_blank">计算能力</a>解决实际应用问题。</div>
<div class="para" label-module="para">3. <b>IT</b><b>企业</b>：信息与计算科学专业的毕业生进入IT企业是一个重要的就业方向，它们可以在这些企业非常高效的从事计算机软件开发、信息安全与网络安全等工作。信息产业对人才的需求首先是基本的“技能”，包括计算机编程的基本能力，要求具有良好的数据库和计算机网络的知识和使用技能，熟悉基本的软件开发平台。由于信息产业进入“应用”为主流的时代，高水平的从业人员不仅要掌握基本的“技能”，关键还要具备将实际问题提炼为计算问题以及求解该问题的能力，这正是信息与计算科学专业学生的优势所在，也是近几年来国内大型IT企业“抢购”知名高校计算数学专业毕业生的原因所在</div>
<div class="rs-container-foot">
<a name="rs-1"></a>
<a class="anchor-2" name="rs_18097_15758"></a>
<div class="rslazy rs-container" id="rs-container-18097-15758" lazy-init="lemmars.tableAction(baidu.g('rs-18097-15758'))"></div>
</div><script type="text/javascript">
        window.rsInsertData = window['rsInsertData'] || [];
        var rsdataList = {"foot":[{"fentryTableId":15758,"fentryTableName":"\u4e8c\u7ea7\u5b66\u79d1\u00b7\u6570\u5b66","fentryTableType":1,"entryId":2393486,"templateId":0,"entryTitle":"\u6570\u5b66\u7c7b\u4e13\u4e1a","isManual":0,"isExpand":1}],"top":[]};

        if (rsdataList.top || rsdataList.foot) {
            rsInsertData.push([18097, rsdataList]);
        }
    </script>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-18097-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_18097" id="refIndex_1_18097" name="refIndex_1_18097" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">信息与计算科学<span class="linkout"> </span></a>
<span class="site">．新浪院校库</span><span>[引用日期2012-07-11]</span></li><li class="reference-item " id="reference-[2]-18097-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_18097" id="refIndex_2_18097" name="refIndex_2_18097" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">信息与计算机科学专业概述<span class="linkout"> </span></a>
<span class="site">．广东远程教育网</span><span>[引用日期2013-11-12]</span></li><li class="reference-item " id="reference-[3]-18097-wrap">
<span class="index">3.</span>
<a class="gotop anchor" href="#ref_[3]_18097" id="refIndex_3_18097" name="refIndex_3_18097" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">本科专业设置<span class="linkout"> </span></a>
<span class="site">．东华理工大学理学院</span><span>[引用日期2016-02-24]</span></li><li class="reference-item " id="reference-[4]-18097-wrap">
<span class="index">4.</span>
<a class="gotop anchor" href="#ref_[4]_18097" id="refIndex_4_18097" name="refIndex_4_18097" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">南林<span class="linkout"> </span></a>
<span class="site">．南京林业大学理学院</span><span>．2014-02-26</span><span>[引用日期2014-02-26]</span></li><li class="reference-item " id="reference-[5]-18097-wrap">
<span class="index">5.</span>
<a class="gotop anchor" href="#ref_[5]_18097" id="refIndex_5_18097" name="refIndex_5_18097" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">长江大学<span class="linkout"> </span></a>
<span class="site">．长江大学官网</span><span>[引用日期2016-05-31]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>