<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>化学专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">化学专业培养具备化学的基础知识、基本理论和基本技能，能在化学及与化学相关的科学技术和其它领域从事科研、教学技术及相关管理工作的高级专门人才。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
化学专业
</dd>
<dt class="basicInfo-item name"><a target="_blank">主干学科</a></dt>
<dd class="basicInfo-item value">
<a target="_blank">化学</a>
</dd>
<dt class="basicInfo-item name">修业年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
<a target="_blank">理学学士</a>
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
<a target="_blank">理学</a>
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
070301
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养要求</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">知识技能</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干学科</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">主干课程</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">实践教学</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">相近专业</a></span>
</li>
<li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">从业分析</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">开设学院</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">9</span>
<span class="text"><a href="#9">专业排名</a></span>
</li>
<li class="level1">
<span class="index">10</span>
<span class="text"><a href="#10">应用化学专业</a></span>
</li>
<li class="level1">
<span class="index">11</span>
<span class="text"><a href="#11">材料化学专业</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub145508_1"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">化学专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业学生主要学习化学方面的基本知识、基本理论和基本技能与方法，受到科学思维和科学实验的训练，具有一定的科学研究、应用研究及科技管理的能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_145508"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub145508_2"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">化学专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1．掌握数学、物理等方面的基本理论和基本知识；</div>
<div class="para" label-module="para">2．掌握无机化学、分析化学（含仪器分析）、有机化学、物理化学（含结构化学）及化学工程的基础知识、基本原理和基本实验技能；</div>
<div class="para" label-module="para">3．了解<a target="_blank">相近专业</a>的一般原理和知识；</div>
<div class="para" label-module="para">4．了解国家关于科学研究、化学相关产业的政策，国内外知识产权等方面的法律法规；</div>
<div class="para" label-module="para">5．了解化学某些领域的理论前沿、应用前景和最新发展动态以及化学相关产业发展状况；</div>
<div class="para" label-module="para">6．掌握中外文资料查询、文献检索及运用现代信息技术获取相关信息的基本方法；有一定的<a target="_blank">实验设计</a>，创造实验条件，归纳、推理、分析实验结果，撰写理论，参与学术交流的能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_145508"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub145508_3"></a>
<a class="lemma-anchor " name="主干学科"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">化学专业</span>主干学科</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">化学</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub145508_4"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">化学专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">无机化学、分析化学（含仪器分析）、有机化学、物理化学（含结构化学）、<a target="_blank">化学工程基础</a>等。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_145508"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub145508_5"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">化学专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">主要实践性教学环节：包括生产实习、<a target="_blank">毕业论文</a>等，一般安排10-20周。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub145508_6"></a>
<a class="lemma-anchor " name="相近专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">化学专业</span>相近专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">化学 应用化学 <a target="_blank">化学生物学</a> <a target="_blank">分子科学与工程</a> <a target="_blank">化学工程与工艺</a></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub145508_7"></a>
<a class="lemma-anchor " name="从业分析"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">化学专业</span>从业分析</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">目前，化学专业因毕业难以找到对口工作单位，工资低，工作环境差，劳动强度大等，已成为红牌专业。</div>
<div class="para" label-module="para">化学专业为学生提供化学知识方面的职业才能，同时，还开设包括数学、物理和生物在内的辅助性的课程。除了使学生掌握<a target="_blank">具体科学</a>基础知识外，该专业还培养学生具有判断力的思维、试验技术、解释观察以及清晰表达思维等能力。</div>
<div class="para" label-module="para">打算从事化学职业的学生将乐于独立工作。他们将有超出一般水平的科学和数学天赋，有用自己双手劳动，使用技术材料和操作实验的灵巧性。坚韧、耐心、好奇心、独立、创造力和关心细节是职业化学家必须具备的基本品质。</div>
<div class="para" label-module="para">在双专业中，学生可能会选择生物与化学的结合。</div>
<div class="para" label-module="para">就业机会</div>
<div class="para" label-module="para">－　分析化学师</div>
<div class="para" label-module="para">－　生物化学师</div>
<div class="para" label-module="para">－　化学工程师</div>
<div class="para" label-module="para">－　化学调配师</div>
<div class="para" label-module="para">－　化学技术员</div>
<div class="para" label-module="para">－　化学工艺师</div>
<div class="para" label-module="para">－　临床化学家</div>
<div class="para" label-module="para">－　化学顾问</div>
<div class="para" label-module="para">－　牙医</div>
<div class="para" label-module="para">－　环境学家</div>
<div class="para" label-module="para">－　<a target="_blank">酶化学</a>师</div>
<div class="para" label-module="para">－　食品化学师</div>
<div class="para" label-module="para">－　地理化学师</div>
<div class="para" label-module="para">－　地理学家</div>
<div class="para" label-module="para">－　无机化学家、生产商销售代理</div>
<div class="para" label-module="para">－　医药技术师</div>
<div class="para" label-module="para">－　冶金学家</div>
<div class="para" label-module="para">－　营养学家</div>
<div class="para" label-module="para">－　<a target="_blank">职业安全与健康</a>专家</div>
<div class="para" label-module="para">－　有机化学家</div>
<div class="para" label-module="para">－　物理化学家</div>
<div class="para" label-module="para">－　物理学家</div>
<div class="para" label-module="para">－　医师</div>
<div class="para" label-module="para">－　执业药师<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_145508"> </a>
</div>
<div class="para" label-module="para">－　质保专家</div>
<div class="para" label-module="para">－　放射化学家</div>
<div class="para" label-module="para">－　科学信息专家</div>
<div class="para" label-module="para">－　教师/教授</div>
<div class="para" label-module="para">－　技术作家</div>
<div class="para" label-module="para">－　毒理学家</div>
<div class="para" label-module="para">－　兽类科学家（一些职位可能需要额外教育和/或培训。）</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub145508_8"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">化学专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">北京化工大学、黄冈师范学院，<a target="_blank">厦门大学</a>、<a target="_blank">中国科技大学</a>、<a target="_blank">西南石油大学</a>、<a target="_blank">洛阳师范学院</a>、<a target="_blank">遵义师范学院</a>、<a target="_blank">湖南大学</a>、延安大学、<a target="_blank">郑州大学</a>、<a target="_blank">山西大学</a>、西安文理学院、<a target="_blank">沈阳化工大学</a>、<a target="_blank">井冈山大学</a>、<a target="_blank">天津大学</a>、南开大学、<a target="_blank">清华大学</a>、<a target="_blank">北京大学</a>、<a target="_blank">北京师范大学</a>、<a target="_blank">天津师范大学</a>、<a target="_blank">首都师范大学</a>、枣庄学院、吉林化工学院、<a target="_blank">聊城大学</a>、韶关学院、<a target="_blank">大连大学</a>、宝鸡文理学院、陕西科技大学、<a target="_blank">武汉大学</a>、河北联合大学、<a target="_blank">唐山师范学院</a>、聊城大学东昌学院等。</div>
<div class="para" label-module="para">还有<a target="_blank">南京大学</a>（10284）、<a target="_blank">复旦大学</a>（10246）、<a target="_blank">中国科学技术大学</a>（10358）、<a target="_blank">吉林大学</a>（10183）、<a target="_blank">中山大学</a>（10558）、<a target="_blank">兰州大学</a>（10730）、<a target="_blank">上海交通大学</a>（10248）、<a target="_blank">浙江大学</a>（10335）、华中师范大学（10511）、<a target="_blank">华东师范大学</a>（10269）、<a target="_blank">苏州大学</a>（10285）、<a target="_blank">南京工业大学</a>、<a target="_blank">暨南大学</a>（10559）、<a target="_blank">北京化工大学</a>（10010）、<a target="_blank">华中科技大学</a>（10487）、<a target="_blank">北京理工大学</a>（10007）、<a target="_blank">中央民族大学</a>、<a target="_blank">黑龙江大学</a>（10212）、<a target="_blank">中国海洋大学</a>（10423）、<a target="_blank">辽宁大学</a>（10140）、<a target="_blank">烟台大学</a>（11066）、<a target="_blank">北京航空航天大学</a>（10006）、<a target="_blank">重庆科技学院</a>（11551）、<a target="_blank">六盘水师范学院</a>（10977）、<a target="_blank">贵州师范学院</a>（14223）、<a target="_blank">文山学院</a>（11556），四川西华大学等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="9"></a>
<a class="lemma-anchor " name="sub145508_9"></a>
<a class="lemma-anchor " name="专业排名"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">化学专业</span>专业排名</h2>
<a class="edit-icon j-edit-link" data-edit-dl="9"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">本一级学科中，全国具有“博士一级”授权的高校共64所，本次有51所参评；还有部分具有“博士二级”授权和硕士授权的高校参加了评估；参评高校共计82所。 注：以下相同得分按学校代码顺序排列。<sup>[3]</sup><a class="sup-anchor" name="ref_[3]_145508"> </a>
</div>
<table class="table-view log-set-param" log-set-param="table_view" width="560"><tr><td align="middle" height="25" valign="center"><div class="para" label-module="para"><b>学校代码及名称</b></div>
</td><td align="middle" height="25" valign="center"><div class="para" label-module="para"><b>学科整体水平得分</b></div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10001<a target="_blank">北京大学</a></div>
</td><td align="middle" valign="center"><div class="para" label-module="para">94</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10055 <a data-lemmaid="134521" target="_blank">南开大学</a></div>
</td><td align="middle" height="0" rowspan="2" valign="center"><div class="para" label-module="para">90</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10284 <a target="_blank">南京大学</a></div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10183 <a target="_blank">吉林大学</a></div>
</td><td align="middle" height="0" rowspan="2" valign="center"><div class="para" label-module="para">88</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10246 <a target="_blank">复旦大学</a></div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10003 <a data-lemmaid="111764" target="_blank">清华大学</a></div>
</td><td align="middle" height="0" rowspan="3" valign="center"><div class="para" label-module="para">87</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10358 <a target="_blank">中国科学技术大学</a></div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10384 <a target="_blank">厦门大学</a></div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10335 <a target="_blank">浙江大学</a></div>
</td><td align="middle" valign="center"><div class="para" label-module="para">84</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10486 <a target="_blank">武汉大学</a></div>
</td><td align="middle" height="0" rowspan="2" valign="center"><div class="para" label-module="para">82</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10558 <a data-lemmaid="5672" target="_blank">中山大学</a></div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10010 <a target="_blank">北京化工大学</a></div>
</td><td align="middle" height="0" rowspan="3" valign="center"><div class="para" label-module="para">79</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10532 <a target="_blank">湖南大学</a></div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10610 <a target="_blank">四川大学</a></div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10027 <a target="_blank">北京师范大学</a></div>
</td><td align="middle" height="0" rowspan="4" valign="center"><div class="para" label-module="para">77</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10248 <a target="_blank">上海交通大学</a></div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10422 <a target="_blank">山东大学</a></div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10730 <a target="_blank">兰州大学</a></div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10386 <a target="_blank">福州大学</a></div>
</td><td align="middle" valign="center"><div class="para" label-module="para">75</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10200 东北师范大学</div>
</td><td align="middle" height="0" rowspan="3" valign="center"><div class="para" label-module="para">74</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10269 华东师范大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10285 苏州大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10487 华中科技大学</div>
</td><td align="middle" height="0" rowspan="4" valign="center"><div class="para" label-module="para">73</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10511 华中师范大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10697 西北大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10718 陕西师范大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10247 同济大学</div>
</td><td align="middle" height="0" rowspan="2" valign="center"><div class="para" label-module="para">72</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10459 郑州大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10007 北京理工大学</div>
</td><td align="middle" height="0" rowspan="10" valign="center"><div class="para" label-module="para">70</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10075 河北大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10212 黑龙江大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10319 南京师范大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10370 安徽师范大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10445 山东师范大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10530 湘潭大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10574 华南师范大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10635 西南大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10673 云南大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10008 北京科技大学</div>
</td><td align="middle" height="0" rowspan="9" valign="center"><div class="para" label-module="para">69</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10108 山西大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10126 内蒙古大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10357 安徽大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10699 西北工业大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10736 西北师范大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10755 新疆大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">11117 扬州大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">11414 中国石油大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10002 中国人民大学</div>
</td><td align="middle" height="0" rowspan="11" valign="center"><div class="para" label-module="para">67</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10118 山西师范大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10140 辽宁大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10270 上海师范大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10280 上海大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10345 浙江师范大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10475 河南大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10491 中国地质大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10512 湖北大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10602 广西师范大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10698 西安交通大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10065 天津师范大学</div>
</td><td align="middle" height="0" rowspan="9" valign="center"><div class="para" label-module="para">66</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10165 辽宁师范大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10184 延边大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10231 哈尔滨师范大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10320 江苏师范大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10338 浙江理工大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10346 杭州师范大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10351 温州大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10524 中南民族大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10086 河北农业大学</div>
</td><td align="middle" height="0" rowspan="12" valign="center"><div class="para" label-module="para">65</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10149 沈阳化工大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10163 沈阳药科大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10186 长春理工大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10418 赣南师范学院</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10451 鲁东大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10513 湖北师范学院</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10636 四川师范大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10638 西华师范大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10681 云南师范大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">11258 大连大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">11646 宁波大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10110 中北大学</div>
</td><td align="middle" height="0" rowspan="3" valign="center"><div class="para" label-module="para">63</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10148 辽宁石油化工大学</div>
</td></tr><tr><td align="middle" valign="center"><div class="para" label-module="para">10167 渤海大学</div>
</td></tr></table><div class="anchor-list">
<a class="lemma-anchor para-title" name="10"></a>
<a class="lemma-anchor " name="sub145508_10"></a>
<a class="lemma-anchor " name="应用化学专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">化学专业</span>应用化学专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="10"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业是以理为主、理工结合的理科专业，主要研究方向为精细化学合成、新型能源材料、纳米陶瓷、纳米杂化复合材料、特种涂料制备与改性，以及功能材料结构与性能相关性研究，具有很强的应用性。专业培养富有创新意识，具有从事科学研究或独立担负专门技术工作的能力，能在科研机构、高等院校及企事业单位等部门从事精细化学设计合成与分析和能源材料化学领域的理论研究、产品开发、教学和生产管理等工作的应用化学学科高层次创新型人才。</div>
<div class="para" label-module="para">该专业培养的毕业生以基础扎实、动手能力强、综合素质好而受到用人单位的普遍欢迎。由于是工科院校的理科专业，毕业生的择业选择余地较大，毕业生可在化学化工相关领域从事产品研发、生产、分析测试、工艺和设备设计、技术管理和市场营销等工作;也可在科研院所、一般大中专院校的实验室或高中等职业学校从事化学化工科研或教学工作；还能实现自我就业、自谋职业，开发或经营与专业方向对应的精细化学品。从毕业去向看，有50%的学生考取国内外知名大学的硕士研究生，其余学生择业于大、中型国有、民营或外资企业。有1/3的学生在3-5年内已成为业务骨干和部门主管。<b></b></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="11"></a>
<a class="lemma-anchor " name="sub145508_11"></a>
<a class="lemma-anchor " name="材料化学专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">化学专业</span>材料化学专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="11"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">材料化学是理工结合、学科交叉的一门新兴专业，在信息、能源、环境、航天等前沿科学领域起着越来越重要的作用。该专业有一支学术水平高、教学经验丰富的教师队伍。主要研究方向是功能材料与特种材料的合成、结构表征、性质与应用开发研究，包括稀土功能陶瓷材料、光催化材料、新型能源材料等。 该专业毕业生是同时具备化学和材料科学的基础理论、基本知识和实验技能的复合型高级人才，可到相关科研院所、大专院校、大中型企业从事研究、教学、科技开发和管理工作等。历届学生就业率接近100%。目前40%以上的学生直接保研，其余选择在海内外继续深造，或就业于大中型国企或知名外企。<sup>[4]</sup><a class="sup-anchor" name="ref_[4]_145508"> </a>
</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-145508-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_145508" id="refIndex_1_145508" name="refIndex_1_145508" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">2015专业就业：化学专业就业方向及课程介绍<span class="linkout"> </span></a>
<span class="site">．中国教育在线</span><span>．2015-06-11　</span><span>[引用日期2016-02-13]</span></li><li class="reference-item " id="reference-[2]-145508-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_145508" id="refIndex_2_145508" name="refIndex_2_145508" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">执业药师考试报名条件<span class="linkout"> </span></a>
<span class="site">．医学教育网</span><span>[引用日期2012-11-12]</span></li><li class="reference-item " id="reference-[3]-145508-wrap">
<span class="index">3.</span>
<a class="gotop anchor" href="#ref_[3]_145508" id="refIndex_3_145508" name="refIndex_3_145508" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">学科评估高校排名：0703化学(2012年)<span class="linkout"> </span></a>
<span class="site">．新浪教育</span><span>[引用日期2013-11-10]</span></li><li class="reference-item " id="reference-[4]-145508-wrap">
<span class="index">4.</span>
<a class="gotop anchor" href="#ref_[4]_145508" id="refIndex_4_145508" name="refIndex_4_145508" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">化学类<span class="linkout"> </span></a>
<span class="site">．哈尔滨工业大学</span><span>[引用日期2014-11-6]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>