<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>海洋技术专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">海洋技术专业培养具备<a data-lemmaid="3172368" target="_blank">海洋科学</a>的基本知识及海洋高新技术开发研究的能力，能从事海洋高科技、<a target="_blank">海洋资源开发</a>、<a data-lemmaid="2444366" target="_blank">海洋工程</a>及相关学科专业工作的高级专门人才。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
海洋技术专业
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
Marine technology
</dd>
<dt class="basicInfo-item name">主干学科</dt>
<dd class="basicInfo-item value">
海洋科学、声学、<a target="_blank">电子科学与技术</a>
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
理学学士
</dd>
<dt class="basicInfo-item name">学科代码</dt>
<dd class="basicInfo-item value">
071002
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
<a data-lemmaid="6059710" target="_blank">理学</a>
</dd>
<dt class="basicInfo-item name">实力院校</dt>
<dd class="basicInfo-item value">
<a target="_blank">中国海洋大学</a>
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养要求</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">知识技能</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干课程</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">实践教学</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">相近专业</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">就业方向</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">发展前景</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">开设学院</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub145579_1"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋技术专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业学生主要学习海洋高科技和海洋工程方面的基本理论和基本知识，受到海洋新技术的基本训练，具有从事海洋调查和海洋科学研究方面的基本能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub145579_2"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋技术专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">毕业生应获得以下几方面的知识和能力：</div>
<div class="para" label-module="para">1．掌握数学、物理的基本理论和基本知识；</div>
<div class="para" label-module="para">2．掌握海洋高技术的基本理论和基本知识，掌握海洋工程评价方法，具有从事<a data-lemmaid="9775227" target="_blank">海洋开发</a>的基本能力；</div>
<div class="para" label-module="para">3．了解相近专业的一般原理和知识；</div>
<div class="para" label-module="para">4．熟悉我国海洋科技、环境保护、资源利用等方面的方针、政策和法规以及海洋科技与国民经济可持续发展战略的关系；</div>
<div class="para" label-module="para">5．了解<a data-lemmaid="85608" target="_blank">海洋技术</a>的发展动向，能跟踪国际海洋技术的发展方向；</div>
<div class="para" label-module="para">6．掌握资料查询、<a data-lemmaid="2826202" target="_blank">文献检索</a>以及运用现代信息技术获取相关信息的基本方法；具有一定的实验设计，创造实验条件、归纳、整理、分析实验结果，撰写论文，参与学术交流的能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub145579_3"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋技术专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">高等数学</a>、<a data-lemmaid="6044" target="_blank">VB</a>程序设计、大学英语、海洋科学导论、物理海洋学、<a data-lemmaid="6922532" target="_blank">化学海洋学</a>、生态海洋学、海洋测量学、卫星海洋学、<a data-lemmaid="3514902" target="_blank">微波遥感</a>、<a data-lemmaid="2444814" target="_blank">海洋遥感</a>应用技术、海洋地质学、<a target="_blank">地理信息系统原理</a>与应用、卫星定位与导航、声学基础、声呐技术、海洋<a target="_blank">管理信息系统</a>、数字海洋工程等</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub145579_4"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋技术专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">海上实习、毕业论文等，一般安排10--12周。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub145579_5"></a>
<a class="lemma-anchor " name="相近专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋技术专业</span>相近专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">海洋科学 <a data-lemmaid="85608" target="_blank">海洋技术</a> <a data-lemmaid="2322218" target="_blank">海洋管理</a> 军事海洋学</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub145579_6"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋技术专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">海洋技术专业学生毕业后可在水产、饲料、鱼药、生物技术等相关行业从事生产、经营管理、技术开发与推广等工作。海洋技术专业主要担任结构工程师、水产技术服务、机械工程师、声学工程师、电气工程师、销售工程师、技术支持、水产技术服务员、管线工程师、销售代表、销售经理、武汉区域经理、船舶结构工程师等。<sup>[1-2]</sup><a class="sup-anchor" name="ref_[1-2]_145579"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub145579_7"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋技术专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">海洋技术专业在面对陆地资源一步步枯竭的今天，成为了一门越来越热火的专业，就业前景也越来越好。<b>毕</b>业生可从事海洋资源调查与开发，<a target="_blank">海洋环境监测</a>、<a target="_blank">海洋资源管理</a>、海洋探测、<a target="_blank">海洋信息处理技术</a>等工作或者可在水产、饲料、鱼药、生物技术等相关行业从事生产、经营管理、技术开发与推广等工作。</div>
<div class="para" label-module="para">海洋技术专业在专业学科中属于理学类中的海洋科学类，其中海洋科学类共5个专业，海洋技术专业在海洋科学类专业中排名第1，在整个理学大类中排名第26位。按海洋技术专业相关职位统计，海洋技术专业就业前景最好的地区是：上海。在"海洋科学类"中排名第 1。截止到 2013年12月24日，111447位海洋技术专业毕业生的平均薪资为3925元，其中应届毕业生工资2914元，0-2年工资3638元，2-3年工资4638元，3-5年工资4629元，6-7年工资7999元，8-10年工资8757元。</div>
<div class="para" label-module="para">据统计，海洋技术专业就业前景最好的地区有：1、上海、2、天津、3、深圳、4、北京、5、广州、6、青岛、7、武汉、8、大连、9、珠海、10、烟台，平均薪酬在3925。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_145579"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub145579_8"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">海洋技术专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a data-lemmaid="253350" target="_blank">中国海洋大学</a>（10423）、<a target="_blank">河北工业大学</a>（10080）、<a target="_blank">江苏科技大学</a>、<a data-lemmaid="525844" target="_blank">淮海工学院</a>（11641）、<a data-lemmaid="1637931" target="_blank">盐城工学院</a>（10305）、<a data-lemmaid="279129" target="_blank">河海大学</a>（10294）、浙江海洋大学（10340）、<a target="_blank">厦门大学</a>（10384）、<a data-lemmaid="193123" target="_blank">大连海事大学</a>（10158）、<a target="_blank">大连理工大学</a>、<a data-lemmaid="9020404" target="_blank">大连海洋大学</a>、<a data-lemmaid="408864" target="_blank">天津科技大学</a>、<a data-lemmaid="1273892" target="_blank">上海海洋大学</a>、<a target="_blank">华北理工大学</a>、<a data-lemmaid="349837" target="_blank">浙江工业大学</a>、<a data-lemmaid="462828" target="_blank">广东海洋大学</a> 、<a target="_blank">浙江工商大学</a>等。</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-145579-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_145579" id="refIndex_1_145579" name="refIndex_1_145579" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">声学基础<span class="linkout"> </span></a>
<span class="site">．百度百科</span><span>．2001-03-1</span><span>[引用日期2016-11-1]</span></li><li class="reference-item " id="reference-[2]-145579-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_145579" id="refIndex_2_145579" name="refIndex_2_145579" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">海洋技术专业就业方向与就业前景分析<span class="linkout"> </span></a>
<span class="site">．大学生必备网</span><span>．2014-11-10</span><span>[引用日期2016-02-20]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>