<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>光电信息科学与工程专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">光电信息科学与工程专业是根据教育部在2012年9月下发文件，将原属于电子信息科学类的<a target="_blank">光信息科学与技术</a>、<a target="_blank">光电子技术科学</a>专业与原属于电气信息类的<a target="_blank">信息显示与光电技术</a>、<a target="_blank">光电信息工程</a>、<a target="_blank">光电子材料与器件</a>五个专业统一修订后的专业名称。</div><div class="para" label-module="para">该专业培养具有现代科学意识、理论基础扎实、知识面宽、创新能力强，可从事<a target="_blank">光学工程</a>、<a target="_blank">光通信</a>、电子学、图像与信息处理等技术领域的科学研究，以及相关领域的产品设计与制造、科技开发与应用、运行管理等工作，能够适应当代信息化社会高速发展需要的应用型人才。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
光电信息科学与工程
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
理学学士
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
080705
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
理<a target="_blank">学</a>
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">培养要求</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">知识技能</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">培养方向</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">主干课程</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">就业方向</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">发展前景</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">开设学院</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">院校排名</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub17717887_1"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">光电信息科学与工程专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">该专业主要学习<a data-lemmaid="81785" target="_blank">光学</a>、<a target="_blank">机械学</a>、<a target="_blank">电子学</a>及<a data-lemmaid="9132" target="_blank">计算机科学</a>基础理论及专业知识，了解<a target="_blank">光电信息技术</a>的前沿理论，把握当代光电信息技术的发展动态，具有研究开发新系统、新技术的能力，接受现代光电信息技术的应用训练，掌握光电信息领域中<a target="_blank">光电仪器</a>的设计及制造方法，具有在<a target="_blank">光电信息工程</a>及相关领域从事科研、教学、开发的基本能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub17717887_2"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">光电信息科学与工程专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1.掌握数学、物理等方面的基本理论和基本知识；</div>
<div class="para" label-module="para">2.掌握光电信息科学与工程的基本知识和基本实验技能；</div>
<div class="para" label-module="para">3.了解相近专业的一般原理和知识；</div>
<div class="para" label-module="para">4.熟悉国家信息产业政策及国内外有关知识产权的法律法规；</div>
<div class="para" label-module="para">5.了解光电信息科学与工程的理论前沿、应用前景和最新发展动态，以及信息产业发展状况；</div>
<div class="para" label-module="para">6.掌握资料查询、文献检索及运用现代信息技术获取相关信息的基本方法；具有一定的实验设计，创造实验条件，归纳、整理、分析实验结果，撰写论文，参与学术交流的能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub17717887_3"></a>
<a class="lemma-anchor " name="培养方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">光电信息科学与工程专业</span>培养方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">光电信息科学与工程</a>类专业的培养方向主要涉及以下技术领域：</div>
<div class="para" label-module="para">(1) 光学/<a target="_blank">光电仪器</a> — 作为视觉功能的延伸（图像视觉的延伸）的工具。它包括光学/光电仪器的结构设计，光学镜头与系统设计及其工艺等，各种专用光学仪器；如军用光学仪器，测量光学仪器，天文光学仪器，物理光学仪器等。 <br/>　　(2) <a target="_blank">光子学</a>技术 — 利用光子原理或光电相互作用原理的器件。它包括各种激光器，光电器件及红外探测器，光电成像器件，红外与夜视技术，超高速摄影，光阀，发光光源，短波及X射线光学等。 <br/>　　(3) <a target="_blank">信息光学</a>技术 — 主要研究光信息的产生、传输、处理及图像显示技术。它包括光信息及图像处理术，图像及模式自动识别，全息术，自适应光学技术，光传输及通信技术，光学遥感技术，目标及传输特征数据库、光计算术等。 <br/>　　(4) <a target="_blank">光学技术</a>及工程 — 主要研究光能应用、光加工及有关工程。它包括光武器工程，激光加工（工业），激光核聚变，照明工程，光学材料、薄膜、工艺、特殊光器件，光刻技术（用于微电子技术），微机械中的微光学技术。 <br/>　　(5) 光电交叉学科 — 主要研究光与物质的作用、新型<a target="_blank">光电材料</a>、<a target="_blank">生物医学</a>光学、视光学、能量学科与光电学科的交叉、环境学科与光电学科的交叉、海洋学科与光电学科的交叉等等</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub17717887_4"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">光电信息科学与工程专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">电路原理、<a data-lemmaid="9077542" target="_blank">模拟电子技术</a>、<a target="_blank">数字电子技术</a>、<a target="_blank">通信原理</a>、<a target="_blank">信号与系统</a>、<a data-lemmaid="5009" target="_blank">数字信号处理</a>、<a data-lemmaid="84894" target="_blank">微机原理及应用</a>、<a target="_blank">单片机</a>、<a target="_blank">软件技术基础</a>、<a target="_blank">物理光学</a>、应用光学、<a target="_blank">信息光学</a>、<a target="_blank">光电信息工程</a>、<a target="_blank">信息处理</a>基础、<a target="_blank">光电检测技术</a>、<a target="_blank">近代光学</a>量测技术、<a target="_blank">传感器原理</a>、<a target="_blank">激光技术</a>、光纤通信、<a target="_blank">光电子学</a>、<a target="_blank">数字图像处理</a>等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub17717887_5"></a>
<a class="lemma-anchor " name="就业方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">光电信息科学与工程专业</span>就业方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">光电信息科学与工程专业学生毕业后在科研院所、相关公司、企业从事产品研发、质量管理工作的光电子和光信息专业的工程技术人员；中等专业学校、技校、高等职业学校教师；各相关企事业单位技术及管理人员和政府机关、事业单位公务员及继续攻读硕士学位。毕业生主要担任相关企、事业单位从事光电仪器、精密仪器的设计、制造，光学零件的加工、镀膜、刻划，以及生产组织、经营等工作；也可在高校、科研单位、部队从事教学、科研工作光学工程等工作。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_17717887"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub17717887_6"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">光电信息科学与工程专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">光电信息技术是由光学、<a data-lemmaid="337832" target="_blank">光电子</a>、<a target="_blank">微电子</a>等技术结合而成的多学科综合技术，涉及光信息的辐射、传输、探测以及光电信息的转换、存储、处理与显示等众多的内容。光电信息技术广泛应用于国民经济和国防建设的各行各业。近年来，随着光电信息技术产业的迅速发展，对从业人员和人才的需求逐年增多，因而对光电信息技术 基本知识的需求量也在增加。光电信息技术以其极快的响应速度、极宽的频宽、极大的信息容量以及极高的信息效率和分辨率推动着现代信息技术的发展，从而使光电信息产业在市场的份额逐年增加。在技术发达国家，与光电信息技术相关产业的产值已占国民经济总产值的一半以上，从业人员逐年增多，竞争力也越来越强。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_17717887"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub17717887_7"></a>
<a class="lemma-anchor " name="开设学院"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">光电信息科学与工程专业</span>开设学院</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">清华大学、浙江工业大学、长江大学，北京航空航天大学、天津大学、长春理工大学、哈尔滨工业大学、哈尔滨工程大学、浙江大学、中北大学、宁波大学、中南大学、电子科技大学、四川大学、西南科技大学、中国海洋大学、河北大学、合肥工业大学、中国科学技术大学、中国矿业大学、安徽大学、安徽工业大学、安徽工程大学、淮北师范大学 南京大学、南京航空航天大学、华东理工大学、南京理工大学、江南大学、南京工业大学、南京信息工程大学、南京邮电大学、杭州电子科技大学、桂林电子科技大学、、河南理工大中国计量学院学、河南科技大学<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_17717887"> </a>
、河南师范大学、黄河科技学院、三峡大学、华侨大学、南京理工大学紫金学院、北京交通大学海滨学院、重庆大学、重庆理工大学、重庆师范大学、武汉大学、华中科技大学、武汉理工大学、湖北工业大学、哈尔滨理工大学、厦门理工学院、长春理工大学光电信息学院、 西安邮电大学、西安工程大学、天津理工大学、山东轻工业学院、中山大学、华南理工大学、华南农业大学、深圳大学、华南师范大学、广州大学、广东工业大学、西安工业大学、西安工业大学北方信息工程学院、西安电子科技大学、常熟理工学院、上海第二工业大学、上海电力学院、上海理工大学、南昌大学、南昌航空大学、暨南大学、南昌理工学院、大连海事大学云南大学、常州工学院、云南师范大学、云南大学、山东师范大学、山东建筑大学、济南大学、齐齐哈尔大学、长沙大学、湖北科技学院、湖北汽车工业学院、湖南理工学院、华东交通大学、山西大同大学、大连大学、江苏师范大学、湖州师范学院以及集美大学、湖北工程学院新技术学院、湘潭大学、福建江夏学院等、西安石油大学、嘉应学院、韶关学院、山东理工大学、淮海工学院。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub17717887_8"></a>
<a class="lemma-anchor " name="院校排名"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">光电信息科学与工程专业</span>院校排名</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><b>教育部最新一轮学科评估（2012） 光学工程 评估结果</b></div>
<table class="table-view log-set-param" log-set-param="table_view" width="550"><tr><td align="center" height="25" valign="center"><div class="para" label-module="para"><b>学校代码及名称</b></div>
</td><td align="center" height="25" valign="center"><div class="para" label-module="para"><b>学科整体水平得分</b></div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10335 浙江大学</div>
</td><td align="center" height="0" rowspan="2" valign="center"><div class="para" label-module="para">89</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10487 华中科技大学</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10056 天津大学</div>
</td><td align="center" valign="center"><div class="para" label-module="para">87</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">90002 国防科学技术大学</div>
</td><td align="center" valign="center"><div class="para" label-module="para">84</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10055 南开大学</div>
</td><td align="center" height="0" rowspan="2" valign="center"><div class="para" label-module="para">83</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10213 哈尔滨工业大学</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10701 西安电子科技大学</div>
</td><td align="center" valign="center"><div class="para" label-module="para">81</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10007 北京理工大学</div>
</td><td align="center" height="0" rowspan="2" valign="center"><div class="para" label-module="para">80</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10288 南京理工大学</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10004 北京交通大学</div>
</td><td align="center" height="0" rowspan="4" valign="center"><div class="para" label-module="para">78</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10186 长春理工大学</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10252 上海理工大学</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10285 苏州大学</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10005 北京工业大学</div>
</td><td align="center" valign="center"><div class="para" label-module="para">77</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10006 北京航空航天大学</div>
</td><td align="center" height="0" rowspan="2" valign="center"><div class="para" label-module="para">75</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10610 四川大学</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10246 复旦大学</div>
</td><td align="center" valign="center"><div class="para" label-module="para">74</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10293 南京邮电大学</div>
</td><td align="center" height="0" rowspan="2" valign="center"><div class="para" label-module="para">73</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10422 山东大学</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10075 河北大学</div>
</td><td align="center" height="0" rowspan="4" valign="center"><div class="para" label-module="para">71</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10141 大连理工大学</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10217 哈尔滨工程大学</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10614 电子科技大学</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10356 中国计量大学</div>
</td><td align="center" height="0" rowspan="3" valign="center"><div class="para" label-module="para">69</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10423 中国海洋大学</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10699 西北工业大学</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10028 首都师范大学</div>
</td><td align="center" height="0" rowspan="2" valign="center"><div class="para" label-module="para">67</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10559 暨南大学</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10110 中北大学</div>
</td><td align="center" height="0" rowspan="3" valign="center"><div class="para" label-module="para">66</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10112 太原理工大学</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10681 云南师范大学</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10144 沈阳理工大学</div>
</td><td align="center" height="0" rowspan="7" valign="center"><div class="para" label-module="para">64</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10152 大连工业大学</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10295 江南大学</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10320 江苏师范大学</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10475 河南大学</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10490 武汉工程大学</div>
</td></tr><tr><td align="center" valign="center"><div class="para" label-module="para">10513 湖北师范大学</div>
</td></tr><tr><td align="center" valign="center">11078 广州大学</td><td align="center" valign="center"></td></tr></table><div class="para" label-module="para"><b>具有光学工程国家重点学科的院校（光学工程不设二级学科、排名不分先后）</b></div>
<div class="para" label-module="para"><a target="_blank">清华大学</a><br/>　　<a target="_blank">北京理工大学</a> <br/>　　<a target="_blank">南开大学</a> <br/>　　<a target="_blank">天津大学</a> <br/>　　<a target="_blank">长春理工大学</a> <br/>　　<a target="_blank">南京理工大学</a> <br/>　　<a target="_blank">浙江大学</a> <br/>　　<a target="_blank">华中科技大学</a> <br/>　　<a target="_blank">国防科学技术大学</a></div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-17717887-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_17717887" id="refIndex_1_17717887" name="refIndex_1_17717887" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">光电信息科学与工程专业就业方向与就业前景分析<span class="linkout"> </span></a>
<span class="site">．大学生必备网</span><span>．2014-11-11</span><span>[引用日期2016-02-29]</span></li><li class="reference-item " id="reference-[2]-17717887-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_17717887" id="refIndex_2_17717887" name="refIndex_2_17717887" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">河南省各院校2013年本科新增专业<span class="linkout"> </span></a>
<span class="site">．搜狐教育</span><span>[引用日期2014-12-4]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>