<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>电子科学与技术专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">电子科学与技术专业是一个基础知识面宽、应用领域广泛的综合性专业。在学院多学科交叉背景下，培养基础深厚、专业面宽，具有自主学习能力、创新意识的综合型人才。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_145823"> </a>
</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
电子科学与技术专业
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
080702
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">修业年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
工学或理学学士
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
工学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">设置背景</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">知识技能</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干课程</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">实践教学</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">相近专业</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">发展前景</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">开设院校</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">专业排名</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub145823_1"></a>
<a class="lemma-anchor " name="设置背景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">电子科学与技术专业</span>设置背景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">电子科学与技术专业培养具备微电子、光电子、集成电路等领域宽理论厚基础、实验能力和专业知识，能在电子科学与技术及相关领域从事各种电子材料、元器件、集成电路、电子系统、光电子系统的设计、制造、科技开发，以及科学研究、教学和生产管理工作的复合型专业人才。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_145823"> </a>
</div>
<div class="para" label-module="para">学生主要学习数学、物理、物理电子、光电子、微电子学领域的基本理论和基本知识，受到相关的信息电子实验技术、计算机技术等方面的基本训练，掌握各种电子材料、工艺、零件及系统的设计、研究与开发的基本能力。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_145823"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub145823_2"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">电子科学与技术专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">知识与能力</div>
<div class="para" label-module="para">毕业生应获得以下几方面的知识和能力：</div>
<div class="para" label-module="para">1．具有坚实的<a target="_blank">自然科学基础</a>，较好的人文社会科学基础，并熟练掌握一门外语；</div>
<div class="para" label-module="para">2．系统地掌握本专业领域必需的较宽的技术基础理论；</div>
<div class="para" label-module="para">3．具有较强的本专业领域的实验能力，<a target="_blank">计算机辅助设计</a>与测试能力和工程实践能力；</div>
<div class="para" label-module="para">4．了解本专业领域的理论前沿和发展动态；</div>
<div class="para" label-module="para">5．掌握文献检索、资料查询的基本方法，具有一定的科学研究和实际工作能力。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_145823"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub145823_3"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">电子科学与技术专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">电子科学与技术</a>主要课程：《电路与电子技术理论与应用系列课程》、《计算机基础技术系列课程》、《<a target="_blank">半导体物理</a>》、《电子技术（模拟、数字）》、《<a target="_blank">电子线路CAD</a>》、《<a target="_blank">单片机原理及应用</a>》、《<a target="_blank">数字系统设计</a>》、《<a target="_blank">半导体器件</a>》、《集成电路工艺原理》、《<a target="_blank">集成电路版图设计</a>》等。<sup>[3]</sup><a class="sup-anchor" name="ref_[3]_145823"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub145823_4"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">电子科学与技术专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">计算机应用基础训练、电子线路设计、电子工艺实习、生产实习、集成电路版图课程设计、智能电子系统设计实践、可编程逻辑器件应用实践、毕业实习等。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_145823"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub145823_5"></a>
<a class="lemma-anchor " name="相近专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">电子科学与技术专业</span>相近专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">微电子学、 自动化、 <a target="_blank">电子信息工程</a>、通信工程、 <a target="_blank">计算机科学与技术</a>、信息工程、 <a target="_blank">信息科学技术</a>、 软件工程、 影视艺术技术、 网络工程 、<a target="_blank">信息显示与光电技术</a>、 集成电路设计与集成系统、 <a target="_blank">光电信息工程</a>、广播电视工程、 <a target="_blank">电气信息工程</a>、 计算机软件、 <a target="_blank">电力工程与管理</a>、 智能科学与技术、 <a target="_blank">数字媒体艺术</a>、 探测制导与控制技术、 <a target="_blank">电气工程及其自动化</a>、数字媒体技术、 <a target="_blank">信息与通信工程</a>、 建筑电气与智能化 、电磁场与无线技术。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub145823_6"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">电子科学与技术专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">根据前面对国内外电子科学与技术行业的现状和发展趋势分析，<a data-lemmaid="125486" target="_blank">美国</a>、西欧、日本、韩国、台湾地区的电子科学与技术产业已经步入上升轨道。中国随着市场开放和外资的不断涌入，电子科学与技术产业开始焕发活力。中国“十一五”规划的建议书将信息产业列入重点扶植产业之一，中国军事和航天事业的蓬勃发展也必然带动电子科学与技术行业的发展和内需。<a target="_blank">中国电子</a>科学与技术产业将有一个明显的发展空间，高科技含量的自主研发的产品将进入市场，形成自主研发和来料加工共存的局面；中国大、中、小企业的分布和产品结构趋于合理，出口产品将稳步增加；高技术含量产品将向民用化发展，必然促进产品的内需和产量。随着社会需求会逐步扩大，电子科学与技术专业总体就业前景看好。</div>
<div class="para" label-module="para">学生毕业面向微电子、测控等相关领域的科研院所和高等学校从事研究和科研教学等方面工作，在公司、企业从事专用集成电路设计、电子元器件研制、测控仪器软硬件设计和电子企业的生产管理等工作。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_145823"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub145823_7"></a>
<a class="lemma-anchor " name="开设院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">电子科学与技术专业</span>开设院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">拥有电子科学与技术国家一级重点学科的<a target="_blank">高校</a>：</div>
<table class="table-view log-set-param" log-set-param="table_view"><tr><td><div class="para" label-module="para"><a target="_blank">北京大学</a></div>
</td></tr><tr><td><div class="para" label-module="para"><a target="_blank">清华大学</a>，北京协和医学院－清华大学医学部</div>
</td></tr><tr><td><div class="para" label-module="para"><a target="_blank">北京邮电大学</a></div>
</td></tr><tr><td><div class="para" label-module="para"><a target="_blank">复旦大学</a></div>
</td></tr><tr><td><div class="para" label-module="para"><a target="_blank">东南大学</a></div>
</td></tr><tr><td><div class="para" label-module="para"><a target="_blank">电子科技大学</a></div>
</td></tr><tr><td><div class="para" label-module="para"><a target="_blank">西安电子科技大学</a></div>
</td></tr></table><div class="para" label-module="para">拥有电子科学与技术国家二级重点学科的高校（不含已拥有电子科学与技术国家一级重点学科的高校）：</div>
<table class="table-view log-set-param" log-set-param="table_view"><tr><td><div class="para" label-module="para">物理电子学</div>
</td><td><div class="para" label-module="para">北京理工大学，哈尔滨工业大学</div>
</td></tr><tr><td><div class="para" label-module="para">电路与系统</div>
</td><td><div class="para" label-module="para">西北工业大学</div>
</td></tr><tr><td><div class="para" label-module="para">微电子学与固体电子学</div>
</td><td><div class="para" label-module="para">天津大学，吉林大学，南京大学，华中科技大学，西安交通大学</div>
</td></tr><tr><td><div class="para" label-module="para">电磁场与微波技术</div>
</td><td><div class="para" label-module="para">北京航空航天大学，上海交通大学，南京理工大学</div>
</td></tr></table><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub145823_8"></a>
<a class="lemma-anchor " name="专业排名"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">电子科学与技术专业</span>专业排名</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">教育部<a target="_blank">学科评估</a>是<a target="_blank">教育部</a>官方按照<a target="_blank">国务院学位委员会</a>的要求对全国各高校的所有<a target="_blank">一级学科</a>进行的综合性排名，是评价大学的唯一具有官方性质的排名，分别于2002年、2007年、2012年进行了三次。</div>
<div class="para" label-module="para">信息领域主要的一级学科共有4个，分别是：0809<a target="_blank">电子科学与技术</a>、0810<a target="_blank">信息与通信工程</a>、0811<a target="_blank">控制科学与工程</a>、0812<a target="_blank">计算机科学与技术</a>。这四个一级学科覆盖面广、积淀深厚、发展迅速、热门度高、开设广泛，是信息领域的核心学科，也是中国各大高校——尤其是<a target="_blank">C9</a>高校和其他985高校重点发展的对象，因而竞争极其激烈。此外，0803<a target="_blank">光学工程</a>、0835<a target="_blank">软件工程</a>这两个小学科也属于信息领域。</div>
<div class="para" label-module="para">本一级学科中，全国具有“博士一级”授权的高校共40所，本次有32所参评；还有部分具有“博士二级”授权和硕士授权的高校参加了评估；<b>参评高校共计50所</b>。 （注：以下相同得分按学校代码顺序排列。）</div>
<table class="table-view log-set-param" log-set-param="table_view"><caption>2012年教育部官方学科排名（0809电子科学与技术）</caption><tr><td align="middle" valign="center" width="0"><div class="para" label-module="para"><b>全国排名</b></div>
</td><td align="middle" height="25" valign="center" width="0"><div class="para" label-module="para"><b>学校代码及名称</b></div>
</td><td align="middle" height="25" valign="center" width="0"><div class="para" label-module="para"><b>学科整体水平得分</b></div>
</td><td align="middle" valign="center" width="0"><b>相对位置</b></td></tr><tr><td align="middle" valign="center" width="0"><div class="para" label-module="para">1</div>
</td><td align="left" valign="center" width="0"><div class="para" label-module="para">10614<a target="_blank">电子科技大学</a></div>
</td><td align="middle" valign="center" width="0"><div class="para" label-module="para">92</div>
</td><td align="middle" height="0" rowspan="5" valign="center" width="0"><b>前10%</b></td></tr><tr><td align="middle" valign="center" width="0"><div class="para" label-module="para">2</div>
</td><td align="left" valign="center" width="0"><div class="para" label-module="para">10286<a target="_blank">东南大学</a></div>
</td><td align="middle" valign="center" width="0"><div class="para" label-module="para">89</div>
</td></tr><tr><td align="middle" valign="center" width="0"><div class="para" label-module="para">3</div>
</td><td align="left" valign="center" width="0"><div class="para" label-module="para">10001<a target="_blank">北京大学</a></div>
</td><td align="middle" valign="center" width="0"><div class="para" label-module="para">87</div>
</td></tr><tr><td align="middle" height="0" rowspan="2" valign="center" width="0"><div class="para" label-module="para">4</div>
</td><td align="left" valign="center" width="0"><div class="para" label-module="para">10701<a target="_blank">西安电子科技大学</a></div>
</td><td align="middle" height="0" rowspan="2" valign="center" width="0"><div class="para" label-module="para">85</div>
</td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">10003<a target="_blank">清华大学</a></div>
</td></tr><tr><td align="middle" valign="center" width="0"><div class="para" label-module="para">6</div>
</td><td align="left" valign="center" width="0"><div class="para" label-module="para">10248<a target="_blank">上海交通大学</a></div>
</td><td align="middle" valign="center" width="0"><div class="para" label-module="para">83</div>
</td><td align="middle" height="0" rowspan="5" valign="center" width="0"><b>前20%</b></td></tr><tr><td align="middle" height="0" rowspan="2" valign="center" width="0"><div class="para" label-module="para">7</div>
</td><td align="left" valign="center" width="0"><div class="para" label-module="para">10246 <a target="_blank">复旦大学</a></div>
</td><td align="middle" height="0" rowspan="2" valign="center" width="0"><div class="para" label-module="para">81</div>
</td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">10284 <a target="_blank">南京大学</a></div>
</td></tr><tr><td align="middle" valign="center" width="0"><div class="para" label-module="para">9</div>
</td><td align="left" valign="center" width="0"><div class="para" label-module="para">10013 <a target="_blank">北京邮电大学</a></div>
</td><td align="middle" valign="center" width="0"><div class="para" label-module="para">80</div>
</td></tr><tr><td align="middle" valign="center" width="0"><div class="para" label-module="para">10</div>
</td><td align="left" valign="center" width="0"><div class="para" label-module="para">10698 <a target="_blank">西安交通大学</a></div>
</td><td align="middle" valign="center" width="0"><div class="para" label-module="para">78</div>
</td></tr><tr><td align="middle" height="0" rowspan="4" valign="center" width="0"><div class="para" label-module="para">11</div>
</td><td align="left" valign="center" width="0"><div class="para" label-module="para">10183 <a target="_blank">吉林大学</a></div>
</td><td align="middle" height="0" rowspan="4" valign="center" width="0"><div class="para" label-module="para">77</div>
</td><td align="middle" height="0" rowspan="15" valign="center" width="0"><b>前50%</b></td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">10335 <a target="_blank">浙江大学</a></div>
</td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">10487 <a target="_blank">华中科技大学</a></div>
</td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">90002 <a target="_blank">国防科学技术大学</a></div>
</td></tr><tr><td align="middle" height="0" rowspan="2" valign="center" width="0"><div class="para" label-module="para">15</div>
</td><td align="left" valign="center" width="0"><div class="para" label-module="para">10006 <a target="_blank">北京航空航天大学</a></div>
</td><td align="middle" height="0" rowspan="2" valign="center" width="0"><div class="para" label-module="para">75</div>
</td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">10007 <a target="_blank">北京理工大学</a></div>
</td></tr><tr><td align="middle" height="0" rowspan="4" valign="center" width="0"><div class="para" label-module="para">17</div>
</td><td align="left" valign="center" width="0"><div class="para" label-module="para">10056 <a target="_blank">天津大学</a></div>
</td><td align="middle" height="0" rowspan="4" valign="center" width="0"><div class="para" label-module="para">73</div>
</td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">10288 <a target="_blank">南京理工大学</a></div>
</td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">10699 <a target="_blank">西北工业大学</a></div>
</td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">90045 <a target="_blank">空军工程大学</a></div>
</td></tr><tr><td align="middle" height="0" rowspan="2" valign="center" width="0"><div class="para" label-module="para">21</div>
</td><td align="left" valign="center" width="0"><div class="para" label-module="para">10269 华东师范大学</div>
</td><td align="middle" height="0" rowspan="2" valign="center" width="0"><div class="para" label-module="para">72</div>
</td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">10532 湖南大学</div>
</td></tr><tr><td align="middle" height="0" rowspan="3" valign="center" width="0"><div class="para" label-module="para">23</div>
</td><td align="left" valign="center" width="0"><div class="para" label-module="para">10357 安徽大学</div>
</td><td align="middle" height="0" rowspan="3" valign="center" width="0"><div class="para" label-module="para">70</div>
</td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">10386 福州大学</div>
</td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">10486 武汉大学</div>
</td></tr><tr><td align="middle" height="0" rowspan="2" valign="center" width="0"><div class="para" label-module="para">26</div>
</td><td align="left" valign="center" width="0"><div class="para" label-module="para">10293 南京邮电大学</div>
</td><td align="middle" height="0" rowspan="2" valign="center" width="0"><div class="para" label-module="para">69</div>
</td><td align="middle" valign="center" width="0">　</td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">10384 厦门大学</div>
</td><td align="middle" valign="center" width="0">　</td></tr><tr><td align="middle" height="0" rowspan="11" valign="center" width="0"><div class="para" label-module="para">28</div>
</td><td align="left" valign="center" width="0"><div class="para" label-module="para">10110 中北大学</div>
</td><td align="middle" height="0" rowspan="11" valign="center" width="0"><div class="para" label-module="para">68</div>
</td><td align="middle" valign="center" width="0">　</td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">10112 太原理工大学</div>
</td><td align="middle" valign="center" width="0">　</td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">10141 大连理工大学</div>
</td><td align="middle" valign="center" width="0">　</td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">10186 长春理工大学</div>
</td><td align="middle" valign="center" width="0">　</td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">10216 燕山大学</div>
</td><td align="middle" valign="center" width="0">　</td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">10280 上海大学</div>
</td><td align="middle" valign="center" width="0">　</td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">10422 山东大学</div>
</td><td align="middle" valign="center" width="0">　</td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">10536 长沙理工大学</div>
</td><td align="middle" valign="center" width="0">　</td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">10617 重庆邮电大学</div>
</td><td align="middle" valign="center" width="0">　</td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">10700 西安理工大学</div>
</td><td align="middle" valign="center" width="0">　</td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">10730 兰州大学</div>
</td><td align="middle" valign="center" width="0">　</td></tr><tr><td align="middle" height="0" rowspan="3" valign="center" width="0"><div class="para" label-module="para">39</div>
</td><td align="left" valign="center" width="0"><div class="para" label-module="para">10058 天津工业大学</div>
</td><td align="middle" height="0" rowspan="3" valign="center" width="0"><div class="para" label-module="para">66</div>
</td><td align="middle" valign="center" width="0">　</td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">10512 湖北大学</div>
</td><td align="middle" valign="center" width="0">　</td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">10613 西南交通大学</div>
</td><td align="middle" valign="center" width="0">　</td></tr><tr><td align="middle" height="0" rowspan="5" valign="center" width="0"><div class="para" label-module="para">42</div>
</td><td align="left" valign="center" width="0"><div class="para" label-module="para">10009 北方工业大学</div>
</td><td align="middle" height="0" rowspan="5" valign="center" width="0"><div class="para" label-module="para">65</div>
</td><td align="middle" valign="center" width="0">　</td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">10356 中国计量学院</div>
</td><td align="middle" valign="center" width="0">　</td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">10445 山东师范大学</div>
</td><td align="middle" valign="center" width="0">　</td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">10495 武汉纺织大学</div>
</td><td align="middle" valign="center" width="0">　</td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">10697 西北大学</div>
</td><td align="middle" valign="center" width="0">　</td></tr><tr><td align="middle" height="0" rowspan="3" valign="center" width="0"><div class="para" label-module="para">47</div>
</td><td align="left" valign="center" width="0"><div class="para" label-module="para">10459 郑州大学</div>
</td><td align="middle" height="0" rowspan="3" valign="center" width="0"><div class="para" label-module="para">64</div>
</td><td align="middle" valign="center" width="0">　</td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">10475 河南大学</div>
</td><td align="middle" valign="center" width="0">　</td></tr><tr><td align="left" valign="center" width="0"><div class="para" label-module="para">10602 广西师范大学</div>
</td><td align="middle" valign="center" width="0">　</td></tr><tr><td align="middle" valign="center" width="0"><div class="para" label-module="para">50</div>
</td><td align="left" valign="center" width="0"><div class="para" label-module="para">11407 北方民族大学</div>
</td><td align="middle" valign="center" width="0"><div class="para" label-module="para">62</div>
</td><td align="middle" valign="center" width="0">　<br/>　　</td></tr></table><dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-145823-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_145823" id="refIndex_1_145823" name="refIndex_1_145823" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">电子科学与技术(本科类) <span class="linkout"> </span></a>
<span class="site">．阳光高考</span><span>[引用日期2016-03-1]</span></li><li class="reference-item " id="reference-[2]-145823-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_145823" id="refIndex_2_145823" name="refIndex_2_145823" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">电子科学与技术专业<span class="linkout"> </span></a>
<span class="site">．沈阳化工大学就业信息网</span><span>．2012年5月24日</span><span>[引用日期2014-02-5]</span></li><li class="reference-item " id="reference-[3]-145823-wrap">
<span class="index">3.</span>
<a class="gotop anchor" href="#ref_[3]_145823" id="refIndex_3_145823" name="refIndex_3_145823" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">电子科学与技术(本科类) <span class="linkout"> </span></a>
<span class="site">．阳光高考</span><span>[引用日期2016-03-1]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>