<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>物联网工程专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">物联网(Internet of Things)这个词，国内外普遍公认的是 <a data-lemmaid="31539" target="_blank">MIT</a>Auto-ID 中心Ashton 教授1999年在研究<a target="_blank">RFID</a>时最早提出来的。在2005年<a target="_blank">国际电信联盟</a>（ITU）发布的同名报告中，物联网的定义和范围已经发生了变化，覆盖范围有了较大的拓展，不再只是指基于RFID技术的物联网。</div><div class="para" label-module="para">物联网是基于<a data-lemmaid="199186" target="_blank">互联网</a>，传统电信网等信息承载体，让所有能够被独立寻址的普通物理对象实现互联互通的网络又称为<a target="_blank">物联网域名</a>。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
物联网工程
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
Internet of Things
</dd>
<dt class="basicInfo-item name">提出者</dt>
<dd class="basicInfo-item value">
<a target="_blank">Ashton</a> 教授
</dd>
<dt class="basicInfo-item name">承载体</dt>
<dd class="basicInfo-item value">
基于互联网，传统电信网等信息
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
080905
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
工学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
工学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-4">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">概念</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#1_1">定义</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#1_2">应用</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#1_3">意义</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">实践教学</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">学习范围</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">培养要求</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">知识技能</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">培养目标</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#6_1">要求</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#6_2">学科</a></span>
</li>
<li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">开设院校</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">院校排名</a></span>
</li>
<li class="level1">
<span class="index">9</span>
<span class="text"><a href="#9">深造</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">10</span>
<span class="text"><a href="#10">物联网工程专业考研方向</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#10_1">物联网工程专业考研方向1：计算机技术</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#10_2">物联网工程专业考研方向2：电子科学与技术</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#10_3">考研方向3：计算机科学与技术</a></span>
</li>
</ol><ol><li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#10_4">考研方向4：电子与通信工程</a></span>
</li>
<li class="level1">
<span class="index">11</span>
<span class="text"><a href="#11">4G物联网</a></span>
</li>
<li class="level1">
<span class="index">12</span>
<span class="text"><a href="#12">典型应用</a></span>
</li>
<li class="level2">
<span class="index">▪</span>
<span class="text"><a href="#12_1">智能家居</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub5630779_1"></a>
<a class="lemma-anchor " name="概念"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">物联网工程专业</span>概念</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<ol class="custom_num para-list list-paddingleft-1"><li class="list-num-1-1 list-num-paddingleft-1"><div class="para" label-module="para">物联网的作用：<a target="_blank">中国物联网校企联盟</a>将物联网定义为当下几乎所有技术与计算机、互联网技术的结合，实现物体与物体之间：环境以及状态信息实时的共享以及智能化的收集、传递、处理、执行。广义上说，当下涉及到信息技术的应用，都可以纳入物联网的范畴。</div>
</li><li class="list-num-1-2 list-num-paddingleft-1"><div class="para" label-module="para">物联网的发展历程</div>
<div class="para" label-module="para">物联网理念最早可追溯到比尔·盖茨1995年《未来之路》一书。在《未来之路》中，比尔·盖茨已经提及物互联，只是当时受限于无线网络、硬件及传感设备的发展，并未引起重视。1998年，美国麻省理工学院（MIT）创造性地提出了当时被称作EPC系统的物联网构想。1999年，建立在物品编码、RFID技术和互联网的基础上，美国Auto-ID中心首先提出物联网概念。</div>
</li></ol><div class="para" label-module="para">物联网的基本思想出现于20世纪90年代，2005年11月17日，在<a target="_blank">信息社会世界峰会</a>（WSIS）上，国际电信联<div class="lemma-picture text-pic layout-right" style="width:220px; float: right;">
<a class="image-link" nslog-type="9317" style="width:220px;height:129px;" target="_blank" title="物联网工程">
<img alt="物联网工程" class="lazy-img" data-src="https://gss3.bdstatic.com/-Po3dSag_xI4khGkpoWK1HF6hhy/baike/s%3D220/sign=f64c82e522a446237acaa260a8237246/cb8065380cd791230cb36cebaf345982b3b780da.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF9fX1AAAA0VQI3QAAAAxJREFUeNpiYAAIMAAAAgABT21Z4QAAAABJRU5ErkJggg==" style="width:220px;height:129px;"/>
</a>
<span class="description">
物联网工程
</span>
</div>盟（ITU）发布了《ITU互联网报告2005：物联网》。报告指出，无所不在的“物联网”通信时代即将来临，世界上所有的物体从轮胎到牙刷、从房屋到纸巾都可以通过互联网主动进行<a target="_blank">信息交换</a>。<a data-lemmaid="9524139" target="_blank">射频识别技术</a>（RFID）、<a data-lemmaid="53583" target="_blank">传感器技术</a>、<a data-lemmaid="144920" target="_blank">纳米技术</a>、智能嵌入技术将得到更加广泛的应用。欧洲智能系统集成技术平台（EPoSS）于2008年在《物联网2020》（《Internet of Things in 2020》）报告中分析预测了未来物联网的发展阶段。</div>
<div class="para" label-module="para"><a data-lemmaid="3073" target="_blank">奥巴马</a>就任美国总统后，于2009年1月28日与美国工商业领袖举行了一次“圆桌会议”。作为仅有的两名代表之一，IBM首席执行官<a target="_blank">彭明盛</a>首次提出“<a data-lemmaid="1071533" target="_blank">智慧地球</a>”这一概念，建议新政府投资新一代的智慧型基础设施。奥巴马对此给予了积极的回应：“经济刺激资金将会投入到宽带网络新兴技术中去，毫无疑问，这就是美国在21世纪保持和夺回竞争优势的方式。”此概念一经提出，即得到美国各界的高度关注，甚至有分析认为，IBM公司的这一构想极有可能上升至美国的国家战略，并在世界范围内引起轰动。</div>
<div class="para" label-module="para">2009年，欧盟执委会发表题为《Internet of Things - An action plan for Europe》的物联网行动方案，描绘了物联网技术应用的前景，并提出要加强对物联网的管理、完善隐私和个人数据保护、提高物联网的可信度、推广标准化、建立开放式的创新环境、推广物联网应用等行动建议。韩国通信委员会于2009年出台了《物联网基础设施构建基本规划》，该规划是在韩国政府之前的一系列RFID/USN（传感器网）相关计划的基础上提出的，目标是要在已有的RFID/USN应用和实验网条件下构建世界最先进的物联网基础设施、发展物联网服务、研发物联网技术、营造物联网推广环境等。2009年，日本政府<a target="_blank">IT战略</a>本部制定了日本新一代的信息化战略《i-Japan战略2015》，该战略旨在到2015年让数字信息技术如同空气和水一般融入每一个角落，聚焦电子政务、医疗保健和教育人才三大核心领域，激活产业和地域的活性并培育新产业，以及整顿数字化基础设施。</div>
<div class="para" label-module="para">我国政府也高度重视物联网的研究和发展。2009年8月7日，国务院总理<a target="_blank">温家宝</a>在无锡视察时发表重要讲话，提出“<a target="_blank">感知中国</a>”的战略构想，表示中国要抓住机遇，大力发展物联网技术。2009年11月3日，温家宝总理向首都科技界发表了题为《让科技引领中国可持续发展》的讲话，再次强调科学选择新兴战略性产业非常重要，并指示要着力突破传感网、物联网关键技术。2010年1月19日，全国人大常委会委员长<a target="_blank">吴邦国</a>参观无锡物联网产业研究院，表示要培育发展物联网等新兴产业，确保我国在新一轮国际经济竞争中立于<a target="_blank">不败之地</a>。我国政府高层一系列的重要讲话、报告和相关政策措施表明：大力发展物联网产业将成为今后一项具有国家战略意义的重要决策。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="1_1"></a>
<a class="lemma-anchor " name="sub5630779_1_1"></a>
<a class="lemma-anchor " name="定义"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">物联网工程专业</span>定义</h3>
</div>
<div class="para" label-module="para">物联网还没有一个精确且公认的定义。这主要归因于：第一，物联网的理论体系没有完全建立，对其认识还不够深入，还不能透过现象看出本质；第二，由于物联网与互联网、<a target="_blank">移动通信网</a>、<a target="_blank">传感网</a>等都有密切关系，不同领域的研究者对物联网思考所基于的出发点各异，短期内还没达成共识。通过与传感网、互联网、泛在网等相关网络的比较分析，可以认为：物联网是一个基于互联网、传统电信网等信息承载体，让所有能够被独立寻址的普通物理对象实现互联互通的网络。它具有普通对象设备化、自治终端互联化和普适服务智能化3个重要特征。</div>
<div class="para" label-module="para">一方面是物理世界的联网需求，另一方面是信息世界的扩展需求。来自上述两方面的需求催生出了一类新型网络——物联网（Internet of Things）。物联网最初被描述为物品通过<a target="_blank">射频识别</a>等信息传感设备与互联网连接起来，实现<a target="_blank">智能化</a>识别和管理。其核心在于物与物之间广泛而普遍的互联。上述特点已超越了传统互联网应用范畴，呈现了设备多样、多网融合、感控结合等特征，具备了物联网的初步形态。物联网技术通过对物理世界信息化、网络化，对传统上分离的物理世界和信息世界实现互联和整合。</div>
<div class="para" label-module="para">在物联网时代，每一件物体均可寻址，每一件物体均可通信，每一件物体均可控制。一个物物互联的世界如下图所示。国际电信联盟2005年一份报告曾描绘物联网时代的图景：当司机出现操作失误时汽车会自动报警；公文包会提醒主人忘带了什么东西；衣服会“告诉”洗衣机对颜色和水温的要求等。毫无疑问，物联网时代的来临将会使人们的日常生活发生翻天覆地的变化。<div class="lemma-picture text-pic layout-center" style="width:220px; float: none; display: block; margin: 0px auto; clear: both;">
<a class="image-link" nslog-type="9317" style="width:220px;height:134px;" target="_blank" title="物物互联：沟通物理世界与信息世界">
<img alt="物物互联：沟通物理世界与信息世界" class="lazy-img" data-src="https://gss3.bdstatic.com/-Po3dSag_xI4khGkpoWK1HF6hhy/baike/s%3D220/sign=c0123b1d8d1001e94a3c130d880c7b06/9d82d158ccbf6c81e3d45e1cbc3eb13532fa4066.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF9fX1AAAA0VQI3QAAAAxJREFUeNpiYAAIMAAAAgABT21Z4QAAAABJRU5ErkJggg==" style="width:220px;height:134px;"/>
</a>
<span class="description">
物物互联：沟通物理世界与信息世界
</span>
</div></div>
<div class="para" label-module="para">也可以说，物联网（Internet of Things）指的是将无处不在（Ubiquitous）的末端设备（Devices）和设施（Facilities），包括具备“内在智能”的传感器、移动终端、工业系统、楼控系统、家庭智能设施、<a target="_blank">视频监控系统</a>等、和“外在使能”(Enabled)的，如贴上RFID的各种资产（Assets）、携带无线终端的个人与车辆等等“智能化物件或动物”或“<a target="_blank">智能尘埃</a>”（Mote），通过各种无线和/或有线的长距离和/或短距离通讯网络实现互联互通（M2M）、应用大集成（Grand Integration）、以及基于云计算的<a target="_blank">SaaS</a>营运等模式，在<a target="_blank">内网</a>（Intranet）、专网（Extranet）、和/或互联网（Internet）环境下，采用适当的信息安全保障机制，提供安全可控乃至个性化的实时在线监测、定位追溯、报警联动、调度指挥、预案管理、<a target="_blank">远程控制</a>、<a target="_blank">安全防范</a>、远程维保、在线升级、统计报表、决策支持、领导桌面（集中展示的Cockpit Dashboard）等管理和服务功能。</div>
<div class="para" label-module="para">物联网工程指的是将无处不在的末端<a target="_blank">设备</a>和<a target="_blank">设施</a>，包括具备“内在智能”的<a data-lemmaid="26757" target="_blank">传感器</a>、<a target="_blank">移动终端</a>、<a target="_blank">工业系统</a>、楼控<div class="lemma-picture text-pic layout-right" style="width:220px; float: right;">
<a class="image-link" nslog-type="9317" style="width:220px;height:134px;" target="_blank" title="物联网工程">
<img alt="物联网工程" class="lazy-img" data-src="https://gss0.bdstatic.com/94o3dSag_xI4khGkpoWK1HF6hhy/baike/s%3D220/sign=c473408c95dda144de096bb082b6d009/e1fe9925bc315c60fc0c8f708fb1cb1348547790.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF9fX1AAAA0VQI3QAAAAxJREFUeNpiYAAIMAAAAgABT21Z4QAAAABJRU5ErkJggg==" style="width:220px;height:134px;"/>
</a>
<span class="description">
物联网工程
</span>
</div>系统、家庭智能设施、<a target="_blank">视频监控</a>系统等、和“外在使能”的，如贴上RFID的各种资产、携带无线终端的个人与车辆等等“智能化物件或动物”或“智能尘埃”，通过各种无线和/或有线的长距离和/或短距离通讯网络实现互联互通应用大集成、以及基于<a target="_blank">云计算</a>的<a target="_blank">SaaS</a>营运等模式，在内网、专网、和/或互联网环境下，采用适当的信息安全保障机制，提供安全可控乃至个性化的实时在线监测、定位追溯、报警联动、调度指挥、预案管理、远程控制、安全防范、远程维保、在线升级、统计报表、决策支持、领导桌面集中展示的等管理和服务功能，实现对“万物”的“高效、节能、安全、环保”的“管、控、营”一体化。目前主要是指物联网工程这个专业。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="1_2"></a>
<a class="lemma-anchor " name="sub5630779_1_2"></a>
<a class="lemma-anchor " name="应用"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">物联网工程专业</span>应用</h3>
</div>
<div class="para" label-module="para">物联网应用从技术层面讲主要涉及三个部分，即对外感知、感知信息传输（可能需要节点利用无线组网实现信息传输）、信息处理与回馈控制。智能技术贯穿整个物联网之中，是核心技术的核心。 感知可以是智能感知，可以是多节点协同感知，还可以是智能识别感知系统。未来在在办公移动管理，室内电器智能化等都将长足发展。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="1_3"></a>
<a class="lemma-anchor " name="sub5630779_1_3"></a>
<a class="lemma-anchor " name="意义"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">物联网工程专业</span>意义</h3>
</div>
<div class="para" label-module="para">物联网是继计算机、互联网和移动通信之后的又一次信息产业的革命性发展。物联网被正式列为国家重点发展的<a target="_blank">战略性新兴产业</a>之一。物联网产业具有产业链长、涉及多个产业群的特点，其应用范围几乎覆盖了各行各业。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub5630779_2"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">物联网工程专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">包括校企联合培养、实习、毕业论文设计等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub5630779_3"></a>
<a class="lemma-anchor " name="学习范围"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">物联网工程专业</span>学习范围</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">在2012年最新颁布的普通高等学校本科专业目录中，物联网工程专业属于工学中的计算机大类，标准学制4年，毕业后授予工学学士学位。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_5630779"> </a>
</div>
<div class="para" label-module="para">物联网工程专业开设基础课程和专业核心课程两大类，学生主要学习研究信息流、物质流和能量流彼此作用、相互转换的方法和技术，有着很强的工程实践特点。</div>
<div class="para" label-module="para">学生需要学习包括计算机系列课程、信息与通信工程、模拟电子技术、物联网技术及应用、物联网安全技术等几十门课程，同时还要打牢坚实的数学和物理基础。另外，优秀的外语能力也是必备条件，因为目前物联网的研发、应用主要集中在欧美等国家，学生需要阅读外文资料和应对国际交流。</div>
<div class="para" label-module="para">北京科技大学招生就业处处长韩经说，该校的课程包括物联网工程导论、嵌入式系统与单片机、无线传感器网络与RFID技术、物联网技术及应用、云计算与物联网、物联网安全、物联网体系结构及综合实训、信号与系统概论、现代传感器技术、数据结构、计算机组成原理、计算机网络、现代通信技术、操作系统等课程以及多种选修课。</div>
<div class="para" label-module="para">物联网专业是一门交叉学科，涉及计算机、通信技术、电子技术、测控技术等专业基础知识，以及管理学、软件开发等多方面知识。作为一个处于摸索阶段的新兴专业，各校都专门制定了物联网专业人才培养方案。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub5630779_4"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">物联网工程专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">本专业学生要具有较好的数学和物理基础，掌握物联网的相关理论和应用设计方法，具有较强的计算机技术和电子信息技术的能力，掌握文献检索、资料查询的基本方法，能顺利地阅读本专业的外文资料，具有听、说、读、写的能力。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_5630779"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub5630779_5"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">物联网工程专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">1.掌握和计算机科学与技术相关的基本理论知识； 2.掌握物联网工程的分析和设计的基本方法； 3.了解文献检索、资料查询的基本方法，具有一定的科学研究和实际工作能力； 4.了解与物联网工程有关的法规； 5.能够运用学习知识和外文阅读能力查阅外文资料； 6.掌握文献检索、资料查询的基本方法，具有获取信息的能力。<sup>[3]</sup><a class="sup-anchor" name="ref_[3]_5630779"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub5630779_6"></a>
<a class="lemma-anchor " name="培养目标"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">物联网工程专业</span>培养目标</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">物联网工程专业培养能够系统地掌握物联网的相关理论、方法和技能，具备通信技术、网络技术、传感技术等信息领<div class="lemma-picture text-pic layout-right" style="width:220px; float: right;">
<a class="image-link" nslog-type="9317" style="width:220px;height:220px;" target="_blank" title="物联网工程">
<img alt="物联网工程" class="lazy-img" data-src="https://gss0.bdstatic.com/94o3dSag_xI4khGkpoWK1HF6hhy/baike/s%3D220/sign=3abde1dc89d4b31cf43c93b9b7d7276f/9922720e0cf3d7ca0b9bc5e9f01fbe096a63a9c4.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF9fX1AAAA0VQI3QAAAAxJREFUeNpiYAAIMAAAAgABT21Z4QAAAABJRU5ErkJggg==" style="width:220px;height:220px;"/>
</a>
<span class="description">
物联网工程
</span>
</div>域宽广的专业知识的高级<a target="_blank">工程技术人才</a>。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_5630779"> </a>
</div>
<div class="para" label-module="para">(1) 自主创新能力明显增强，攻克一批核心关键技术，在国际标准制定中掌握重要话语权，初步实现“两端赶超、中间突破”即在高端传感、新型RFID、智能仪表、嵌入式智能操作系统、核心芯片等感知识别领域和高端应用软件与中间件、基础架构、云计算、高端信息处理等应用技术领域实现自主研发，技术掌控力显著提升;在M2M通信、近距离无线传输等物联网网络通信领域取得实质性技术突破，跻身世界先进行列。</div>
<div class="para" label-module="para">(2) 具有国际竞争力的产业体系初步形成。在传感器与传感器网络、RFID、智能仪器仪表、<a target="_blank">智能终端</a>、网络通信设备、等物联网制造产业，通信服务、云计算服务、软件、高端集成与应用等物联网服务业，以及嵌入式系统、芯片与微纳器件等物联网关键支撑产业等领域培育一批领军企业，初步形成从芯片、软件、终端整机、网络、应用到测试仪器仪表的完整产业链，初步实现创新性产业集聚、门类齐全、协同发展的产业链及空间布局。</div>
<div class="para" label-module="para">(3) 物联网应用水平显著提升。建成一批物联网示范应用重大工程，在国民经济和民生服务等重点领域物联网先导应用全面开展;国家战略性基础设施的智能化升级全面启动，宽带、融合、安全的下一代信息网络基础设施初步形成。<sup>[4]</sup><a class="sup-anchor" name="ref_[4]_5630779"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6_1"></a>
<a class="lemma-anchor " name="sub5630779_6_1"></a>
<a class="lemma-anchor " name="要求"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">物联网工程专业</span>要求</h3>
</div>
<div class="para" label-module="para">具有较好的数学和物理基础，掌握物联网的相关理论和应用设计方法，具有较强的计算机技术和<a target="_blank">电子信息技术</a>的能力，掌握文献检索、资料查询的基本方法，能顺利地阅读本专业的外文资料，具有听、说、读、写的能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6_2"></a>
<a class="lemma-anchor " name="sub5630779_6_2"></a>
<a class="lemma-anchor " name="学科"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">物联网工程专业</span>学科</h3>
</div>
<div class="para" label-module="para"><a target="_blank">信息与通信工程</a>、<a target="_blank">电子科学与技术</a>、<a target="_blank">计算机科学与技术</a>。物联网导论、<a target="_blank">电路分析基础</a>、<a target="_blank">信号与系统</a>、<a target="_blank">模拟电子技术</a>、<a target="_blank">数字电路与逻辑设计</a>、<a target="_blank">微机原理与接口技术</a>、工程电磁场、通信原理、计算机网络、现代通信网、传感器原理、<a target="_blank">嵌入式系统设计</a>、无线通信原理、<a target="_blank">无线传感器网络</a>、近距无线传输技术、二维条码技术、<a target="_blank">数据采集与处理</a>、物联网安全技术、物联网组网技术等。</div>
<div class="para" label-module="para">本科，学制四年，授<a target="_blank">工学学士学位</a>。</div>
<div class="para" label-module="para"><b>课程设置选项之一</b></div>
<div class="para" label-module="para">2010年初教育部下达了高校设置物联网专业申报通知，众多高校争相申报。由于物联网涉及的领域非常广泛，从技术角度，主要涉及的现有高校院系与专业有：计算机科学与工程，电子与电气工程，电子信息与通讯，自动控制，遥感与遥测，精密仪器，电子商务等等。物联网专业可能会在上述这些院系中开设。 与物联网应用相关的专业， 如建筑与智能化，土木工程，交通运输与物流，节能与环保等等，可能会考虑开设选修课或在研究生、博士生阶段设置相关交叉学科的学位。</div>
<div class="para" label-module="para">物联网可以是一个“专业”，但不一定是一个“学科”。国内有些专家反对设置“物联网专业”，因为定位不清，一个学校往往有好几个院系争夺“物联网专业“的申报，又不是一个明确的学科，难以培养出真正的专业人才，培养出来的人可能是“万金油”，懂得多但是不精，尤其是本科阶段，建议只作为研究生专业，像MBA一样的模式。和许多高校设置的“电子商务”专业一样，“电子商务”也有同样的定位不清问题，只要高校设置的物联网专业能够培养出社会需要的专业人才，尤其是跨专业复合型人才，就应该可以设置，不必拘泥于它究竟属于哪个现有的“学科”。 下表列出了一个高校物联网专业课程设置的初步建议，算是抛砖引玉。</div>
<div class="para" label-module="para">课程1<a target="_blank"><b>物联网导论</b></a>推荐使用<a target="_blank">科学出版社</a>出版的《<a target="_blank">物联网导论</a>》（国际著名物联网专家、ACM中国副主席、清<div class="lemma-picture text-pic layout-right" style="width:220px; float: right;">
<a class="image-link" nslog-type="9317" style="width:220px;height:146px;" target="_blank" title="物联网工程">
<img alt="物联网工程" class="lazy-img" data-src="https://gss3.bdstatic.com/-Po3dSag_xI4khGkpoWK1HF6hhy/baike/s%3D220/sign=d894c5e9f01fbe09185ec4165b610c30/0df431adcbef7609e86963002cdda3cc7dd99ecb.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF9fX1AAAA0VQI3QAAAAxJREFUeNpiYAAIMAAAAgABT21Z4QAAAABJRU5ErkJggg==" style="width:220px;height:146px;"/>
</a>
<span class="description">
物联网工程
</span>
</div>华大学教授刘云浩编著）等教材。 全面了解物联网的3个重要特征，并且需要大概了解物联网的感知识别、网络构建、管理服务等技术及其行业综合应用。</div>
<div class="para" label-module="para">课程2 C语言程序设计推荐使用<a target="_blank">清华大学出版社</a>出版的《C语言程序设计》（谭浩强教授的经典著作）、机械工业出版社出版的《C程序设计语言(第2版新版)》（国际经典教材）等教材。 物联网涉及底层编程，C语言为必修课，同时需要了解OSGi，OPC，Silverlight等技术标准。</div>
<div class="para" label-module="para">课程3 Java程序设计推荐使用<a target="_blank">机械工业出版社</a>出版的《Java语言程序设计教程》等教材。 物联网应用层，服务器端集成技术，开放Java技术也是必修课，同时需要了解Eclipse，SWT，Flash，HTML5，SaaS等技术。</div>
<div class="para" label-module="para">课程4<a target="_blank">无线传感网络</a>推荐使用清华出版社出版的《<a target="_blank">无线传感器网络</a>》（<a target="_blank">中科院软件所</a>研究员孙利民、<a target="_blank">哈工大</a>教授李建中等编著）、<a target="_blank">北京航空航天大学出版社</a>《短距离无线通讯入门与实战》等教材。 学习各种无线RF通信技术与标准，Zigbee，蓝牙，红外，WiFi，GPRS，CDMA，3G，4G，5G等。</div>
<div class="para" label-module="para">课程5 TCP/IP网络协议推荐使用<a target="_blank">电子工业出版社</a>出版的《用TCP/IP进行网际互连(第1卷):原理、协议与结构(第5版)》等教材。 TCP/IP协议标准是所有有线和<a target="_blank">无线网络协议</a>的基础，Socket编程技术也是基础技能，为必修课。</div>
<div class="para" label-module="para">课程6 嵌入式系统技术推荐使用<a target="_blank">人民邮电出版社</a>出版的《嵌入式系统技术教程》等教材。 嵌入式系统（包括TinyOS等IoT操作系统）,是物联网感知层和通讯层重要技术，为必修课。</div>
<div class="para" label-module="para">课程7<a target="_blank">传感器技术</a>推荐使用中国计量出版社出版的《传感器技术》等教材。 物联网专业学生需要对传感器技术与发展，尤其是在应用中如何选用有所了解，但不一定需要了解传感器的设计与生产，对相关的材料科学，生物技术等有深入了解。</div>
<div class="para" label-module="para">课程8<a target="_blank">RFID技术</a>推荐使用电子工业出版社2013年出版的《物联网RFID原理与技术》，机械工业出版社出版的《射频识别（RFID）技术原理与应用》等教材。 RFID作为物联网主要技术之一，需要了解，它本身（与智能卡技术融合）可以是一个细分专业或行业，也可以是研究生专业选题方向。</div>
<div class="para" label-module="para">课程9 工业信息化及<a target="_blank">现场总线技术</a>推荐使用机械工业出版社出版的《现场总线技术及应用教程》等教材。 工业信息化也是物联网主要应用领域，需要了解，它本身也可以是一个细分专业或行业，也可作为研究生专业选题方向。</div>
<div class="para" label-module="para">课程10 M2M技术推荐使用TSTC Publishing出版的《M2M: The Wireless Revolution》等教材。 本书是美国“Texas State Techinical College”推出的M2M专业教材，在美国首次提出了M2M专业教学大纲，M2M也是物联网主要领域，需要了解，建议直接用英文授课。</div>
<div class="para" label-module="para">课程11 物联网软件、标准、与中间件技术 推荐使用清华大学出版社出版的《中间件技术原理与应用》、电子工业出版社出版的《物联网：技术、应用、标准和商业模式》等教材。 物联网产业发展的关键在于应用，软件是灵魂，中间件是产业化的基石，需要学习和了解，尤其是对毕业后有志于物联网技术发展的学生。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub5630779_7"></a>
<a class="lemma-anchor " name="开设院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">物联网工程专业</span>开设院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><b>北京</b></div>
<div class="para" label-module="para">北京交通大学、北京工业大学、北京理工大学、北京科技大学、<a target="_blank">北京邮电大学</a>、北京物资学院、中央民族大学、北京信息科技大学、北京邮电大学世纪学院、北京工业大学耿丹学院、北京邮电大学(宏福校区)、北京林业大学</div>
<div class="para" label-module="para"><b>天津</b></div>
<div class="para" label-module="para">南开大学、天津大学、天津科技大学、天津工业大学、天津理工大学、天津农学院、天津师范大学、河北工业大学、天津城建大学、河北工业大学城市学院、天津理工大学中环信息学院、天津财经大学珠江学院</div>
<div class="para" label-module="para"><b>河北</b></div>
<div class="para" label-module="para">河北工程大学、河北科技大学、河北建筑工程学院、河北农业大学、河北师范大学大学、保定学院、唐山师范学院、衡水学院、邢台学院、沧州师范学院、河北科技师范学院、唐山学院、华北科技学院、防灾科技学院、河北传媒学院、河北科技学院、华北理工大学轻工学院、河北师范大学汇华学院、中国地质大学长城学院、燕京理工学院、北京交通大学海滨学院、东北大学秦皇岛分校</div>
<div class="para" label-module="para"><b>山西</b></div>
<div class="para" label-module="para">中北大学、太原理工大学、太原科技大学、山西农业大学、太原工业学院、太原师范学院、山西工商学院、山西大学商务学院</div>
<div class="para" label-module="para"><b>内蒙古</b></div>
<div class="para" label-module="para">内蒙古科技大学、内蒙古工业大学</div>
<div class="para" label-module="para"><b>辽宁</b></div>
<div class="para" label-module="para">沈阳化工大学、大连海事大学、辽宁工业大学、渤海大学、沈阳大学、大连大学、辽宁科技学院、沈阳工程学院、沈阳工学院、大连科技学院、大连东软信息学院</div>
<div class="para" label-module="para"><b>吉林</b></div>
<div class="para" label-module="para">吉林大学、吉林农业大学、长春工程学院、长春大学、长春光华学院、长春理工大学光电信息学院、吉林建筑大学城建学院、长春建筑学院</div>
<div class="para" label-module="para"><b>黑龙江</b></div>
<div class="para" label-module="para">黑龙江大学、哈尔滨工业大学、哈尔滨理工大学、哈尔滨工程大学、黑龙江科技大学、东北石油大学、东北农业大学、哈尔滨师范大学、齐齐哈尔大学、哈尔滨商业大学、黑龙江工程学院、哈尔滨石油学院、黑龙江工商学院、哈尔滨华德学院、黑河学院</div>
<div class="para" label-module="para"><b>上海</b></div>
<div class="para" label-module="para">上海应用技术大学、上海海事大学、上海电机学院、上海建桥学院</div>
<div class="para" label-module="para"><b>江苏</b></div>
<div class="para" label-module="para">江南大学、苏州大学、东南大学、南京航空航天大学、江苏科技大学、常州大学、南京邮电大学、河海大学、南京林业大学、江苏大学、南京信息工程大学、南通大学、盐城工学院、徐州医科大学、淮阴师范学院、盐城师范学院、南京财经大学、常熟理工学院、金陵科技学院、淮阴工学院、常州工学院、扬州大学、江苏理工学院、泰州学院、无锡太湖学院、南京理工大学紫金学院、中国传媒大学南广学院、南京师范大学中北学院、南京信息工程大学滨江学院、苏州大学文正学院、苏州大学应用技术学院、南京邮电大学通达学院、南通大学杏林学院、江苏第二师范学院</div>
<div class="para" label-module="para"><b>浙江</b></div>
<div class="para" label-module="para">杭州电子科技大学、浙江工业大学、浙江海洋大学、浙江农林大学、杭州师范大学、湖州师范学院、浙江工商大学、浙江万里学院、浙江科技学院、衢州学院、宁波大学、浙江树人学院、浙江海洋大学东海科学技术学院</div>
<div class="para" label-module="para"><b>安徽</b></div>
<div class="para" label-module="para">安徽大学、合肥工业大学、安徽工业大学、安徽理工大学、安徽工程大学、安徽农业大学、安徽师范大学、阜阳师范学院、安庆师范学院、滁州学院、安徽财经大学、宿州学院、巢湖学院、淮南师范学院、铜陵学院、安徽建筑大学、安徽科技学院、蚌埠学院、安徽新华学院、安徽文达信息工程学院、合肥师范学院</div>
<div class="para" label-module="para"><b>福建</b></div>
<div class="para" label-module="para">华侨大学、福州大学、福建工程学院、福建师范大学、武夷学院、三明学院、龙岩学院、莆田学院、厦门华厦学院、厦门工学院、阳光学院、厦门大学嘉庚学院、福建师范大学协和学院、福建江夏学院、泉州信息工程学院、福州理工学院、厦门理工学院</div>
<div class="para" label-module="para"><b>江西</b></div>
<div class="para" label-module="para">南昌大学、华东交通大学、东华理工大学、南昌航空大学、江西理工大学、江西农业大学、江西师范大学、江西财经大学、江西科技学院、江西科技师范大学、新余学院、九江学院、南昌理工学院、江西应用科技学院、南昌工学院、南昌大学科学技术学院、江西理工大学应用科学学院、江西农业大学南昌商学院、江西科技师范大学理工学院</div>
<div class="para" label-module="para"><b>山东</b></div>
<div class="para" label-module="para">山东大学、<a target="_blank">山东科技大学</a>、<a target="_blank">中国石油大学</a>(华东)、青岛科技大学、山东建筑大学、齐鲁工业大学、<a target="_blank">山东农业大学</a>、山东师范大学、<a target="_blank">曲阜师范大学</a>、德州学院、滨州学院、山东财经大学、青岛大学、烟台大学、山东交通学院、潍坊科技学院、山东英才学院、山东协和学院、青岛工学院、山东农业工程学院、<a target="_blank">山东工业职业学院</a></div>
<div class="para" label-module="para"><b>河南</b></div>
<div class="para" label-module="para">河南理工大学、<a target="_blank">郑州轻工业学院</a>、河南工业大学、河南科技大学、河南科技学院、河南师范大学、信阳师范学院、周口师范学院、安阳师范学院、许昌学院、南阳师范学院、洛阳师范学院、商丘师范学院、河南财经政法大学、郑州航空工业管理学院、平顶山学院、洛阳理工学院、安阳工学院、河南工程学院、南阳理工学院、河南城建学院、黄河科技学院、郑州科技学院、商丘工学院、河南大学民生学院、河南师范大学新联学院、安阳学院、郑州升达经贸管理学院</div>
<div class="para" label-module="para"><b>湖北</b></div>
<div class="para" label-module="para">武汉大学、华中科技大学、长江大学、武汉理工大学、武汉工程大学、湖北工业大学、湖北中医药大学、华中师范大学、湖北师范学院、湖北文理学院、湖北工程学院、湖北理工学院、湖北科技学院、三峡大学、荆楚理工学院、湖北经济学院、武汉东湖学院、汉口学院、武昌首义学院、武昌理工学院、武汉大学珞珈学院、湖北工业大学工程技术学院、武昌工学院、武汉工商学院、长江大学工程技术学院、湖北商贸学院、湖北工程学院新技术学院、武汉华夏理工学院、湖北第二师范学院</div>
<div class="para" label-module="para"><b>湖南</b></div>
<div class="para" label-module="para"><a target="_blank">湖南大学</a>、中南大学、湖南科技大学、湖南农业大学、湖南师范大学、湘南学院、衡阳师范学院、邵阳学院、湖南人文科技学院、南华大学、湖南城市学院、湖南工学院、湖南工业大学</div>
<div class="para" label-module="para"><b>广东</b></div>
<div class="para" label-module="para">暨南大学、广东海洋大学、韶关学院、肇庆学院、嘉应学院、广东技术师范学院、<a target="_blank">深圳大学</a>、广东白云学院、广州大学、仲恺农业工程学院、广东工业大学、广州大学华软软件学院、广东技术师范学院天河学院、广州大学松田学院、广州商学院、广东科技学院、东莞理工学院城市学院</div>
<div class="para" label-module="para"><b>广西</b></div>
<div class="para" label-module="para">广西科技大学、桂林电子科技大学、桂林理工大学、河池学院、玉林师范学院、广西民族大学、百色学院、梧州学院、南宁学院、钦州学院、贺州学院、广西科技大学鹿山学院、桂林电子科技大学信息科技学院</div>
<div class="para" label-module="para"><b>海南</b></div>
<div class="para" label-module="para">海南大学、海南师范大学、海口经济学院</div>
<div class="para" label-module="para"><b>重庆</b></div>
<div class="para" label-module="para">重庆大学、重庆邮电大学、重庆交通大学、重庆三峡学院、长江师范学院、重庆科技学院、重庆理工大学、重庆工商大学、重庆工程学院、重庆大学城市科技学院、重庆师范大学涉外商贸学院、重庆工商大学融智学院、重庆工商大学派斯学院、重庆邮电大学移通学院、重庆第二师范学院</div>
<div class="para" label-module="para"><b>四川</b></div>
<div class="para" label-module="para">四川大学、西南交通大学、电子科技大学、西南石油大学、成都理工大学、西南科技大学、成都信息工程大学、四川理工学院、西华大学、四川农业大学、西华师范大学、绵阳师范学院、内江师范学院、四川文理学院、西南民族大学、成都学院、成都工业学院、成都东软学院、电子科技大学成都学院、成都理工大学工程技术学院、成都文理学院、四川大学锦城学院</div>
<div class="para" label-module="para"><b>贵州</b></div>
<div class="para" label-module="para">贵州大学、遵义医学院、贵州师范大学、遵义师范学院、兴义民族师范学院、凯里学院、黔南民族师范学院、贵州民族大学、六盘水师范学院、贵州大学科技学院、贵州师范学院</div>
<div class="para" label-module="para"><b>云南</b></div>
<div class="para" label-module="para">昆明理工大学、昭通学院、曲靖师范学院、云南财经大学、云南民族大学、昆明学院、云南大学滇池学院、云南师范大学商学院、云南工商学院、滇西科技师范学院</div>
<div class="para" label-module="para"><b>陕西</b></div>
<div class="para" label-module="para">西北大学、西安交通大学、西北工业大学、西安理工大学、西安电子科技大学、西安工业大学、西安科技大学、陕西科技大学、长安大学、宝鸡文理学院、咸阳师范学院、西安文理学院、榆林学院、西安培华学院、西安邮电大学、西京学院、陕西服装工程学院、西安交通工程学院、西安工业大学北方信息工程学院、延安大学西安创新学院、西北工业大学明德学院、西安科技大学高新学院</div>
<div class="para" label-module="para"><b>甘肃</b></div>
<div class="para" label-module="para">兰州理工大学、兰州交通大学、西北师范大学、西北民族大学、西北师范大学知行学院、兰州交通大学博文学院、兰州理工大学技术工程学院</div>
<div class="para" label-module="para"><b>青海</b></div>
<div class="para" label-module="para">青海师范大学</div>
<div class="para" label-module="para"><b>宁夏</b></div>
<div class="para" label-module="para">宁夏理工学院</div>
<div class="para" label-module="para"><b>新疆</b></div>
<div class="para" label-module="para">塔里木大学、新疆农业大学、伊犁师范学院、新疆工程学院<sup>[5]</sup><a class="sup-anchor" name="ref_[5]_5630779"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub5630779_8"></a>
<a class="lemma-anchor " name="院校排名"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">物联网工程专业</span>院校排名</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">开设物联网专业的首批批准的前32所大学：其中<a target="_blank">武汉大学</a>、哈工大、<a target="_blank">华中科技大学</a>、西安交大均开设物联网工程专业，为信息产业培养顶尖的工程师。</div>
<div class="para" label-module="para">截止2012年6月，国家一共审批了物联网专业院校138所院校，包括专科学校。物联网工程专业的物联网学校查询系统，专为物联网工程专业学生服务，方便大家查询开设物联网工程专业院校。</div>
<div class="para" label-module="para">根据中国科教评价网发布的2016物联网工程专业大学排名，全国共有333所高校开设物联网工程专业，以下是排名前20的大学，供大家参考!</div>
<div class="para" label-module="para">1、西安电子科技大学</div>
<div class="para" label-module="para">2、西安交通大学</div>
<div class="para" label-module="para">3、吉林大学</div>
<div class="para" label-module="para">4、北京理工大学</div>
<div class="para" label-module="para">5、哈尔滨工业大学</div>
<div class="para" label-module="para">6、东南大学</div>
<div class="para" label-module="para">7、北京邮电大学</div>
<div class="para" label-module="para">8、武汉大学</div>
<div class="para" label-module="para">9、南京航空航天大学</div>
<div class="para" label-module="para">10、武汉理工大学</div>
<div class="para" label-module="para">11、电子科技大学</div>
<div class="para" label-module="para">12、北京交通大学</div>
<div class="para" label-module="para">13、广东工业大学</div>
<div class="para" label-module="para">14、东北大学</div>
<div class="para" label-module="para">15、河海大学</div>
<div class="para" label-module="para">16、北京科技大学</div>
<div class="para" label-module="para">17、中南大学</div>
<div class="para" label-module="para">18、华中科技大学</div>
<div class="para" label-module="para">19、北京工业大学</div>
<div class="para" label-module="para">20、南京邮电大学</div>
<div class="para" label-module="para"><b>物联网领域工程硕士专业方向</b></div>
<table class="table-view log-set-param" log-set-param="table_view" width="100%"><tr><td><div class="para" label-module="para"><b><b>专业领域</b></b></div>
</td><td><div class="para" label-module="para"><b><b>研究方向</b></b></div>
</td><td><div class="para" label-module="para"><b><b>招生人数</b></b></div>
</td><td><div class="para" label-module="para"><b><b>学制/学费</b></b></div>
</td><td><div class="para" label-module="para"><b><b>学位/证书</b></b></div>
</td></tr><tr><td><div class="para" label-module="para"><b>电子与通信工程</b></div>
</td><td><div class="para" label-module="para"><b>移动通信与多媒体通信、物联网系统及应用</b></div>
</td><td><div class="para" label-module="para"><b>40人</b></div>
</td><td align="left" height="0" rowspan="2" valign="center"><div class="para" label-module="para"><b>学分制：2～5年</b></div>
<div class="para" label-module="para"><b>学费：3.5万</b></div>
</td><td align="left" height="0" rowspan="2" valign="center"><div class="para" label-module="para"><b>国家认可的工程硕士研究生学位证书；</b><b>结业证书；</b><b>职业资格证书等。</b></div>
</td></tr><tr><td><div class="para" label-module="para"><b>计算机</b>技术</div>
</td><td><div class="para" label-module="para"><b>智能信息系统、计算机安全技术、软件技术及应用</b></div>
</td><td><div class="para" label-module="para"><b>40人</b></div>
</td></tr></table><div class="para" label-module="para">中科院物联网领域工程硕士入学考试为“GCT联考+专业综合考试”。GCT全国联考包括语文、数学、逻辑、英语四方面内容，主要考察考生的知识的综合运用能力，三个小时考完，考试时间在10月底；专业综合考试在12月初进行，由<a target="_blank">中科院研究生院</a>组织命题.</div>
<div class="para" label-module="para"><b>2013-2014年物联网工程专业排名<sup>[6]</sup><a class="sup-anchor" name="ref_[6]_5630779"> </a>
</b></div>
<table class="table-view log-set-param" log-set-param="table_view" width="100%"><tr><td><div class="para" label-module="para"><b>排 序</b></div>
</td><td><div class="para" label-module="para"><b>学校名称</b></div>
</td><td><div class="para" label-module="para"><b>水 平</b></div>
</td><td><div class="para" label-module="para"><b>开此专业学校数</b></div>
</td></tr><tr><td><div class="para" label-module="para">1</div>
</td><td><div class="para" label-module="para"><a target="_blank">哈尔滨工业大学</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">115</div>
</td></tr><tr><td><div class="para" label-module="para">2</div>
</td><td><div class="para" label-module="para"><a target="_blank">西南交通大学</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">115</div>
</td></tr><tr><td><div class="para" label-module="para">3</div>
</td><td><div class="para" label-module="para"><a target="_blank">北京邮电大学</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">115</div>
</td></tr><tr><td><div class="para" label-module="para">4</div>
</td><td><div class="para" label-module="para"><a target="_blank">江南大学</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">115</div>
</td></tr><tr><td><div class="para" label-module="para">5</div>
</td><td><div class="para" label-module="para"><a target="_blank">西安电子科技大学</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">115</div>
</td></tr><tr><td><div class="para" label-module="para">6</div>
</td><td><div class="para" label-module="para"><a target="_blank">南京邮电大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">115</div>
</td></tr><tr><td><div class="para" label-module="para">7</div>
</td><td><div class="para" label-module="para"><a target="_blank">大连理工大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">115</div>
</td></tr><tr><td><div class="para" label-module="para">8</div>
</td><td><div class="para" label-module="para"><a target="_blank">北京理工大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">115</div>
</td></tr><tr><td><div class="para" label-module="para">9</div>
</td><td><div class="para" label-module="para"><a target="_blank">北京交通大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">115</div>
</td></tr><tr><td><div class="para" label-module="para">10</div>
</td><td><div class="para" label-module="para"><a target="_blank">武汉理工大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">115</div>
</td></tr><tr><td><div class="para" label-module="para">11</div>
</td><td><div class="para" label-module="para"><a target="_blank">苏州大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">115</div>
</td></tr><tr><td><div class="para" label-module="para">12</div>
</td><td><div class="para" label-module="para"><a target="_blank">海南大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">115</div>
</td></tr><tr><td><div class="para" label-module="para">13</div>
</td><td><div class="para" label-module="para"><a target="_blank">西安交通大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">115</div>
</td></tr><tr><td><div class="para" label-module="para">14</div>
</td><td><div class="para" label-module="para"><a target="_blank">南京航空航天大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">115</div>
</td></tr><tr><td><div class="para" label-module="para">15</div>
</td><td><div class="para" label-module="para"><a target="_blank">华中科技大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">115</div>
</td></tr><tr><td><div class="para" label-module="para">16</div>
</td><td><div class="para" label-module="para"><a target="_blank">西北工业大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">115</div>
</td></tr><tr><td><div class="para" label-module="para">17</div>
</td><td><div class="para" label-module="para"><a target="_blank">河海大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">115</div>
</td></tr><tr><td><div class="para" label-module="para">18</div>
</td><td><div class="para" label-module="para"><a target="_blank">武汉大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">115</div>
</td></tr><tr><td><div class="para" label-module="para">19</div>
</td><td><div class="para" label-module="para"><a data-lemmaid="18014" target="_blank">东北大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">115</div>
</td></tr><tr><td><div class="para" label-module="para">20</div>
</td><td><div class="para" label-module="para"><a target="_blank">吉林大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">115</div>
</td></tr></table><div class="anchor-list">
<a class="lemma-anchor para-title" name="9"></a>
<a class="lemma-anchor " name="sub5630779_9"></a>
<a class="lemma-anchor " name="深造"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">物联网工程专业</span>深造</h2>
<a class="edit-icon j-edit-link" data-edit-dl="9"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">通信与信息系统</a>、<a target="_blank">信号与信息处理</a>、<a target="_blank">电路与系统</a>、计算机应用。</div>
<div class="para" label-module="para">2010年教育部公布了通过审批的140个高等学校战略性新兴产业相关本科新专业，“物联网”成为最大热门，各<div class="lemma-picture text-pic layout-right" style="width:220px; float: right;">
<a class="image-link" nslog-type="9317" style="width:220px;height:126px;" target="_blank" title="物联网工程">
<img alt="物联网工程" class="lazy-img" data-src="https://gss2.bdstatic.com/-fo3dSag_xI4khGkpoWK1HF6hhy/baike/s%3D220/sign=ca1590708fb1cb133a693b11ed5556da/c2fdfc039245d6882a82493ba6c27d1ed31b24a9.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF9fX1AAAA0VQI3QAAAAxJREFUeNpiYAAIMAAAAgABT21Z4QAAAABJRU5ErkJggg==" style="width:220px;height:126px;"/>
</a>
<span class="description">
物联网工程
</span>
</div>高校纷纷开设相关专业。在新增本科专业名单中，约一半的高校新专业都与物联网有关。据了解，物联网的英文名称为“The Internet of Things”,简称：IOT。物联网通过<a data-lemmaid="26757" target="_blank">传感器</a>、<a data-lemmaid="9524139" target="_blank">射频识别技术</a>、全球定位系统等技术，实时采集任何需要监控、连接、互动的物体或过程，采集其声、光、热、电、力学、化学、生物、位置等各种需要的信息，通过各类网络接入，实现物与物、物与人的链接，实现对物品和过程的智能化感知、识别和管理。</div>
<div class="para" label-module="para">次年2月，教育部再次公布从2011年起高校招生将新增140个新专业，全部为国家确定的战略性新兴产业相关本科专业。其中江苏共有13所高校新增22个专业。22个专业中，“物联网”这个概念点击率最高，如雨后春笋般在全国范围31所院校“生根发芽”，光江苏就有6所高校新设与物联网相关专业。</div>
<div class="para" label-module="para">物联网拥有如此庞大的市场需要也刺激了我国广大高校对物联网专业的增设。作为国家倡导的新兴战略性产业，物联网备受各界重视，并成为就业前景广阔的热门领域，该专业主要就业于与物联网相关的企业、行业，从事物联网的通信架构、网络协议和标准、信息安全等的设计、开发、管理与维护，就业口径广，需求量十分大。</div>
<div class="para" label-module="para"><b>一、新媒体与信息网络</b></div>
<div class="para" label-module="para">新媒体的出现,不仅改变了过去的信息生产机制,同时也引起了新闻传播教育的革命。开设新媒体专业的高校,不再把培养记者作为新闻传播专业的主要方向,而是培养一种泛媒体人才,宽口径、复合型新闻传播人才成为教学改革的主攻方向。</div>
<div class="para" label-module="para">【就业前景】本专业培养适应传统媒体机构、政府机关、事业单位、公司等团体组织急需的宽口径、复合型信息传播人才。本专业既能从事信息传播时代内容方面的深度、综合、跨学科的信息传播工作,同时也能在新闻传播技术方面从事设计、制作等方面的传播技术类工作。</div>
<div class="para" label-module="para"><b>二、建筑节能技术工程</b></div>
<div class="para" label-module="para"><a target="_blank">建筑节能</a>是我国重点提倡的，节能工作作为利国利民，减少能源消耗、增加能源利用率的重要问题，在国外已经严格实施了相关规定，所以节能技术与工程在今后的发展中会占到一个很重要的比重。</div>
<div class="para" label-module="para">本专业培养具备建筑节能基础理论、建筑物理环境、建筑环境工程等方面的知识，具有建筑节能设计、舒适性建筑环境工程设计、建筑能效评价等能力的高端综合人才。</div>
<div class="para" label-module="para">【就业前景】本专业能在政府管理部门、科学研究机构、设计院、咨询公司、建筑工程公司、物业及能源管理、建筑节能设备及产品制造生产企业等单位从事建筑节能的研究、设计、施工、运行、监测与管理工作。</div>
<div class="para" label-module="para"><b>三、纳米材料与技术</b></div>
<div class="para" label-module="para">纳米技术、信息技术及生物技术将成为世纪社会经济发展的三大支柱。纳米科技的兴起，对我国提出了严峻的挑战，同时也为我国实现跨越式发展提供了难得的机遇。</div>
<div class="para" label-module="para">纳米材料是纳米科技的基础，功能纳米材料是纳米材料科学中最富有活力的领域，它对信息、生物、能源、环境、宇航等高科技领域，将产生深远的影响并具有广阔的应用前景。</div>
<div class="para" label-module="para">【就业前景】随着<a data-lemmaid="410859" target="_blank">纳米</a>材料和纳米技术基础研究的深入和实用化进程的发展，特别是纳米技术与环境保护和环境治理进一步有机结合，许多环保难将会得到解决。</div>
<div class="para" label-module="para"><b>四、传感网技术</b></div>
<div class="para" label-module="para"><a target="_blank">传感网技术</a>，主要由传感器、通讯网络和<a target="_blank">信息处理系统</a>三部分构成，具有实时数据采集、监督控制等功能。凭借这种技术，通过网络实时监控各种环境、设施及内部运行机理等成为可能。</div>
<div class="para" label-module="para">举个例子：手机、电脑等设备可以通过网络查询地图、天气等资料，前提是这些资料必须已经存在于你所访问的服务器上。而传感网不同，如果你身处火灾现场，传感技术会通过周围已经布好的传感器，根据现场实际情况为你制定出一条最佳逃生路线。借助传感技术，消防员也不必挨个房间寻找被困的人，从而能更高效地灭火。</div>
<div class="para" label-module="para">【就业前景】传感网涉及城市公共安全、<a target="_blank">公共卫生</a>、<a target="_blank">安全生产</a>、<a target="_blank">智能交通</a>、<a target="_blank">智能家居</a>、<a target="_blank">环境监控</a>等领域。截止2012年国内从事传感网应用的大企业为数不多，小企业则呈现出蓬勃发展的势头。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="10"></a>
<a class="lemma-anchor " name="sub5630779_10"></a>
<a class="lemma-anchor " name="物联网工程专业考研方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">物联网工程专业</span>物联网工程专业考研方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="10"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">物联网工程专业考研方向主要集中在：计算机技术、电子科学与技术、计算机科学与技术、电子与通信工程。以下是各专业介绍：</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="10_1"></a>
<a class="lemma-anchor " name="sub5630779_10_1"></a>
<a class="lemma-anchor " name="物联网工程专业考研方向1：计算机技术"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">物联网工程专业</span>物联网工程专业考研方向1：计算机技术</h3>
</div>
<div class="para" label-module="para">计算机技术是（专业硕士）工程下的二级学科专业。计算机技术领域重点研究得是如何扩展计算机系统的功能和发挥计算机系统在各学科、各类工程、人类生活和<a target="_blank"><b>工作</b></a>中的作用。</div>
<div class="para" label-module="para">计算机技术是信息社会中的核心技术，也是实现现代化的关键技术之一。计算机领域包括计算机软、硬件系统的设计、开发以及与其他领域紧密相关的应用系统的研究、开发和应用、涉及计算机科学与技术学科理论、技术和方法等等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="10_2"></a>
<a class="lemma-anchor " name="sub5630779_10_2"></a>
<a class="lemma-anchor " name="物联网工程专业考研方向2：电子科学与技术"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">物联网工程专业</span>物联网工程专业考研方向2：电子科学与技术</h3>
</div>
<div class="para" label-module="para">电子科学与技术专业培养具备物理电子、光电子与微电子学领域内宽广理论基础、实验能力和专业知识，能在该领域内从事各种电子材料、元器件、集成电路、乃至集成电子系统和光电子系统的设计、制造和相应的新产品、新技术、新工艺的研究、开发等方面工作的高级工程技术人才。</div>
<div class="para" label-module="para">电子科学与技术专业学生主要<a target="_blank"><b>学习</b></a>数学、基础物理、物理电子、光电子、微电子学领域的基本理论和基本知识，受到相关的信息电子实验技术、计算机技术等方面的基本训练，掌握各种电子材料、工艺、零件及系统的设计、研究与开发的基本能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="10_3"></a>
<a class="lemma-anchor " name="sub5630779_10_3"></a>
<a class="lemma-anchor " name="考研方向3：计算机科学与技术"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">物联网工程专业</span>考研方向3：计算机科学与技术</h3>
</div>
<div class="para" label-module="para">计算机科学与技术专业主要学习计算机科学与技术包括计算机硬件、软件与应用的基本理论、基础知识和基本技能与方法，接受从事计算机应用开发和研究能力的基本训练等。</div>
<div class="para" label-module="para">本专业学生主要学习计算机科学与技术方面的基本理论和基本知识，接受从事研究与应用计算机的基本训练，具有研究和开发计算机系统的基本能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="10_4"></a>
<a class="lemma-anchor " name="sub5630779_10_4"></a>
<a class="lemma-anchor " name="考研方向4：电子与通信工程"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">物联网工程专业</span>考研方向4：电子与通信工程</h3>
</div>
<div class="para" label-module="para">电子通信工程英文名为Electronics and Communica<sup>[7]</sup><a class="sup-anchor" name="ref_[7]_5630779"> </a>
tion Engineering，是电子科学与技术和信息技术相结合，构建现代信息社会的工程领域，利用电子科学与技术和信息技术的基本理论解决电子元器件、集成电路、电子控制、仪器仪表、计算机设计与制造及与电子和通信工程相关领域的技术问题，研究电子信息的检测、传输、交换、处理和显示的理论和技术。</div>
<div class="para" label-module="para">电子与通信工程专业培养工程硕士学位授权单位培养从事信号与信息处理、通讯与信息系统、电路与系统、电磁场与微波技术、电子元器件、集成电路等工程技术的高级工程技术人才。</div>
<div class="para" label-module="para">学生<a target="_blank"><b>毕业</b></a>后可在通信企事业单位从事通信网络的设计和维护工作，并能从事通信系统的建设、监理及通信设备的生产、营销等方面工作。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="11"></a>
<a class="lemma-anchor " name="sub5630779_11"></a>
<a class="lemma-anchor " name="4G物联网"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">物联网工程专业</span>4G物联网</h2>
<a class="edit-icon j-edit-link" data-edit-dl="11"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">专业定位为物联网系统集成方向，该专业核心技术涉及传感与检测技术、<a target="_blank">RFID</a>技术、无线组网、嵌入式技<div class="lemma-picture text-pic layout-right" style="width:220px; float: right;">
<a class="image-link" nslog-type="9317" style="width:220px;height:172px;" target="_blank" title="4G物联网">
<img alt="4G物联网" class="lazy-img" data-src="https://gss2.bdstatic.com/9fo3dSag_xI4khGkpoWK1HF6hhy/baike/s%3D220/sign=9fd0c4d400087bf479ec50ebc2d2575e/d62a6059252dd42aaa71fa34013b5bb5c9eab831.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF9fX1AAAA0VQI3QAAAAxJREFUeNpiYAAIMAAAAgABT21Z4QAAAABJRU5ErkJggg==" style="width:220px;height:172px;"/>
</a>
<span class="description">
4G物联网
</span>
</div>术、<a data-lemmaid="18763" target="_blank">计算机网络</a>、通信技术、物联网系统集成等。随着物联网产业的发展，越来越多的物联网企业需要与之相关的工程技术人才。培养适应战略新兴产业发展所需要的，掌握物联网的基本理论、基础知识，具备基于计算机技术、自动控制技术、传感信息处理技术和互联网技术进行信息标识、获取、传输、处理、识别和控制的能力，能进行系统集成及相关技术与产品的开发和应用推广，具有物联网工程实践能力，成为服务于经济和社会发展需要的高素质应用性、职业型人才。<sup>[8]</sup><a class="sup-anchor" name="ref_[8]_5630779"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="12"></a>
<a class="lemma-anchor " name="sub5630779_12"></a>
<a class="lemma-anchor " name="典型应用"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">物联网工程专业</span>典型应用</h2>
<a class="edit-icon j-edit-link" data-edit-dl="12"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="12_1"></a>
<a class="lemma-anchor " name="sub5630779_12_1"></a>
<a class="lemma-anchor " name="智能家居"></a>
</div><div class="para-title level-3" label-module="para-title">
<h3 class="title-text"><span class="title-prefix">物联网工程专业</span>智能家居</h3>
</div>
<div class="para" label-module="para">目前智能家居才刚刚兴起，物联网1.0时代的核心将会是“技术”，国内绝大部分传统厂商比较缺乏的是软硬结合的开发实力。因此在这一阶段，氦氪想做的是先用一整套高效快速的解决方案帮助厂商们打好地基。而在智能家居市场的地基初步打好后，物联网2.0时代的核心会转移到“服务”上，比如：</div>
<div class="para" label-module="para">电商、音乐、社交方面的互联网服务；</div>
<div class="para" label-module="para">数据运营中心，提供数据存储、挖掘、智能算法等服务，协助市场运营、了解用户偏好等；</div>
<div class="para" label-module="para">智慧控制系统，包括AI、语音识别、手势交互等；</div>
<div class="para" label-module="para">安全系统，提供通讯、数据存储安全安全保障；</div>
<div class="para" label-module="para">视频云，提供大数据量的图像、图片以及图像识别服务；</div>
<div class="para" label-module="para">这时，这类“服务”将会成为<b>氦氪</b>关注的重点。苏立挺告诉我，目前他们已经基本完成了物联网1.0阶段想做的事情，正在向市场推这套智能硬件解决方案，同时他们也开始进行了物联网2.0阶段的一些服务开发。在采访过程中，苏立挺多次表达了这样一个观点：<b>物联网发展的最终核心是云端技术的比拼</b> 。也正因为此，<b>氦氪</b>在自己的云端服务上加重了对可拓展性、兼容性、以及自由度的打磨。<sup>[9]</sup><a class="sup-anchor" name="ref_[9]_5630779"> </a>
</div>
<div class="anchor-list">
<a class="lemma-anchor a" name="a"></a>
</div><div class="album-list">
<div class="header">
<span class="title">词条图册</span>
<a class="more-link" nslog-type="10000204" target="_blank">更多图册<em></em></a>
</div>
<div class="scroller">
<div class="list">
</div>
</div>
<div class="footer">
</div>
</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-5630779-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_5630779" id="refIndex_1_5630779" name="refIndex_1_5630779" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">物联网专业就业解读<span class="linkout"> </span></a>
<span class="site">．OFweek物联网</span><span>[引用日期2016-07-1]</span></li><li class="reference-item " id="reference-[2]-5630779-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_5630779" id="refIndex_2_5630779" name="refIndex_2_5630779" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">物联网工程专业最好的20所大学<span class="linkout"> </span></a>
<span class="site">．中国物联网</span><span>[引用日期2016-03-22]</span></li><li class="reference-item " id="reference-[3]-5630779-wrap">
<span class="index">3.</span>
<a class="gotop anchor" href="#ref_[3]_5630779" id="refIndex_3_5630779" name="refIndex_3_5630779" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">物联网工程<span class="linkout"> </span></a>
<span class="site">．高考派</span><span>[引用日期2015-05-25]</span></li><li class="reference-item " id="reference-[4]-5630779-wrap">
<span class="index">4.</span>
<a class="gotop anchor" href="#ref_[4]_5630779" id="refIndex_4_5630779" name="refIndex_4_5630779" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">中国物联网产业发展目标<span class="linkout"> </span></a>
<span class="site">．物联网网站</span><span>[引用日期2013-07-24]</span></li><li class="reference-item " id="reference-[5]-5630779-wrap">
<span class="index">5.</span>
<a class="gotop anchor" href="#ref_[5]_5630779" id="refIndex_5_5630779" name="refIndex_5_5630779" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">开设学校<span class="linkout"> </span></a>
<span class="site">．阳光高考</span><span>[引用日期2016-09-9]</span></li><li class="reference-item " id="reference-[6]-5630779-wrap">
<span class="index">6.</span>
<a class="gotop anchor" href="#ref_[6]_5630779" id="refIndex_6_5630779" name="refIndex_6_5630779" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">物联网工程专业排名-2013-2014年中国大学本科教育分专业排名<span class="linkout"> </span></a>
<span class="site">．中华考试网</span><span>[引用日期2013-11-25]</span></li><li class="reference-item " id="reference-[7]-5630779-wrap">
<span class="index">7.</span>
<a class="gotop anchor" href="#ref_[7]_5630779" id="refIndex_7_5630779" name="refIndex_7_5630779" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">物联网工程专业考研方向<span class="linkout"> </span></a>
<span class="site">．大学生必备网</span><span>[引用日期2016-02-22]</span></li><li class="reference-item " id="reference-[8]-5630779-wrap">
<span class="index">8.</span>
<a class="gotop anchor" href="#ref_[8]_5630779" id="refIndex_8_5630779" name="refIndex_8_5630779" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">4G物联网前景介绍<span class="linkout"> </span></a>
<span class="site">．物联网</span><span>[引用日期2013-04-27]</span></li><li class="reference-item " id="reference-[9]-5630779-wrap">
<span class="index">9.</span>
<a class="gotop anchor" href="#ref_[9]_5630779" id="refIndex_9_5630779" name="refIndex_9_5630779" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">用一套极速开发方案，切开智能家居硬件行业的入口 <span class="linkout"> </span></a>
<span class="site">．大河网</span><span>．2015-06-03</span><span>[引用日期2016-11-2]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>