<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>武器发射工程专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">武器系统与发射工程专业研究适应新形势条件下的武器从发射、飞行到命中目标全过程的力学现象、运动规律和测试等有关理论和工程应用技术。随着高新技术迅猛发展及其在兵器技术中的应用，使得弹箭、火炮高新技术含量不断提高，出现了许多新概念武器。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
武器发射工程专业
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
工学学士
</dd>
<dt class="basicInfo-item name">修业年限</dt>
<dd class="basicInfo-item value">
四年或五年
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
082102
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
工学
</dd>
<dt class="basicInfo-item name">主干学科</dt>
<dd class="basicInfo-item value">
兵器发射理论与技术等
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-1">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">设置背景</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">知识技能</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干学科</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">主干课程</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">发展前景</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub14524934_1"></a>
<a class="lemma-anchor " name="设置背景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">武器发射工程专业</span>设置背景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">武器系统与发射工程专业研究适应新形势条件下的武器从发射、飞行到命中目标全过程的力学现象、运动规律和测试等有关理论和工程应用技术。随着高新技术迅猛发展及其在兵器技术中的应用，使得弹箭、火炮高新技术含量不断提高，出现了许多新概念武器。为适应新的军事革命信息化战争的趋势与武器远程化的要求，本专业主要研究方向为：现代火炮发射理论及控制技术、外弹道理论及弹箭控制技术、弹箭空气动力及增程技术、弹道实验与仿真、火箭导弹发射技术。</div>
<div class="para" label-module="para">为满足兵器工业发展的需要，根据二十一世纪对武器系统与发射工程专业人才的要求，本专业培养具备武器系统总体和战斗载荷发射技术以及机械工程和自动化等方面的基础理论知识和工程实践能力，能在有关科研单位、高等学校、生产企业和管理部门从事系统设计、技术开发、产品制造、实验测试和科技管理方面工作的高级工程技术人才。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_14524934"> </a>
</div>
<div class="para" label-module="para">学生主要学习武器系统及其发射、运载以及民用机械工程与自动化方面的基本理论和基本知识，受到系统设计、技术开发、产品研制、实验测试及工程管理方面的基本训练，具备系统分析与综合、工程设计与计算、计算机应用、试验检测方面的基本能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_14524934"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub14524934_2"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">武器发射工程专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">毕业生应获得以下几方面的知识和能力：</div>
<div class="para" label-module="para">1、掌握力学、机械学、电子学、计算机、控制科学、弹道学等学科的基本理论、基本知识；</div>
<div class="para" label-module="para">2、掌握武器系统与发射工程的分析与设计方法及产品研制技术；</div>
<div class="para" label-module="para">3、具有使用计算机和仪器设备解决工程技术问题的基本能力；</div>
<div class="para" label-module="para">4、熟悉国家有关技术经济和国防建设的方针、政策及法规；</div>
<div class="para" label-module="para">5、掌握文献检索、资料查询的基本方法，具有一定的科学研究和实际工作能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_14524934"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub14524934_3"></a>
<a class="lemma-anchor " name="主干学科"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">武器发射工程专业</span>主干学科</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">主干学科：兵器发射理论与技术、工程力学、机械工程</div>
<div class="para" label-module="para">交叉学科：流体力学、工程热物理、控制科学与技术</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub14524934_4"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">武器发射工程专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a data-lemmaid="1182" target="_blank">高等数学</a>、<a data-lemmaid="84850" target="_blank">大学物理</a>、大学英语、信息技术基础、VisualBasic程序设计、机械设计与制造、微机原理、模拟电路与数字电路、工程热力学、气体动力学、弹箭空气动力学、内弹道学、外弹道学、武器概论、实验弹道学、新概念武器。</div>
<div class="para" label-module="para"><b>知识基本要求</b></div>
<div class="para" label-module="para">⑴掌握马列主义、毛泽东思想、邓小平理论基本原理及“三个代表”重要思想；</div>
<div class="para" label-module="para">⑵具备较扎实的相关自然科学基础，了解相关社会科学知识；</div>
<div class="para" label-module="para">⑶比较系统地学习本专业领域的基础理论、基本知识。主要学习工程制图、计算机应用技术、工程力学、电工与电子技术、机械设计基础、自动控制原理、武器系统分析、火炮与自动武器设计理论、武器制造工艺学、弹道理论、发射动力学、火炮测试技术等课程；</div>
<div class="para" label-module="para">⑷掌握火炮与自动武器设计和制造的基础理论及基本知识，了解武器系统设计与发射技术的相关知识；</div>
<div class="para" label-module="para">⑸具有使用计算机和仪器设备解决工程技术问题的基本知识；</div>
<div class="para" label-module="para">(6)熟悉国家有关技术经济和国防建设的方针、政策和法规；</div>
<div class="para" label-module="para">(7)了解当代武器系统与发射工程领域的理论前沿、应用前景和发展动态；<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_14524934"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub14524934_5"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">武器发射工程专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">在国家有关部门、科研院所、高等院校、部队、企业和管理部门从事武器系统设计、技术开发、产品制造实验测试、机械工程及其自动化等工作。<sup>[3]</sup><a class="sup-anchor" name="ref_[3]_14524934"> </a>
</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-14524934-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_14524934" id="refIndex_1_14524934" name="refIndex_1_14524934" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">武器发射工程<span class="linkout"> </span></a>
<span class="site">．高考派</span><span>[引用日期2015-05-21]</span></li><li class="reference-item " id="reference-[2]-14524934-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_14524934" id="refIndex_2_14524934" name="refIndex_2_14524934" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">武器系统与发射工程专业<span class="linkout"> </span></a>
<span class="site">．沈阳理工大学</span><span>[引用日期2014-09-15]</span></li><li class="reference-item " id="reference-[3]-14524934-wrap">
<span class="index">3.</span>
<a class="gotop anchor" href="#ref_[3]_14524934" id="refIndex_3_14524934" name="refIndex_3_14524934" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">武器发射工程专业<span class="linkout"> </span></a>
<span class="site">．南京理工大学招生网</span><span>[引用日期2014-09-4]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>