<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>武器系统与工程专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">武器系统与工程专业培养具备武器系统总体和战斗载荷发射技术以及机械工程和自动化等方面的基础理论知识和工程实践能力，能在有关科研单位、高等学校、生产企业和管理部门从事系统设计、技术开发、产品制造、实验测试和科技管理方面工作的高级工程技术人才。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
武器系统与工程专业
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
081607
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">修业年限</dt>
<dd class="basicInfo-item value">
4年或5年
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
工学学士
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
<a target="_blank">工学</a>
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">设置背景</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">主干课程</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">专业实验</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">主要方向</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">发展前景</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">开设院校</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub146134_1"></a>
<a class="lemma-anchor " name="设置背景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">武器系统与工程专业</span>设置背景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">武器系统与工程专业培养具备武器系统及其子系统综合设计、产品研制、实验测试和工程管理等能力。以及具备机械工程、自动化、电子工程和控制工程等相关民用工程技术方面的基础理论知识与工程实践能力，能够适应本专业发展的基本需要，可以继续攻读硕士学位，能在国家有关部门、科研单位、高等学校、部队、企业和管理部门从事武器系统以及机械系统设计、技术开发、产品制造、实验测试和科技管理等方面工作，具有较好的人文社科和管理知识、良好的职业道德素质、身心健康、全面发展的高素质工程利技人才。</div>
<div class="para" label-module="para">学生主要学习武器系统及其子系统总体技术，以及机械工程和自动化等相关民用工程技术方面的基本理论和专业知识，接受武器系统设计、技术综合、产品研制、实验测试及工程管理方面的基本训练，具备武器系统分析与综合、工程设计与计算、计算机应用、试验检测、科技管理等方面的基本能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_146134"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub146134_2"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">武器系统与工程专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">武器系统工程、机电<a target="_blank">系统分析与设计</a>、发射动力学、空气动力学、流体力学、弹道力学、水物理场理论、中近程探测与识别技术、<a target="_blank">现代控制理论</a>、制导原理及系统、传感与动态检测技术、<a target="_blank">系统建模与仿真</a>、弹药终点效应、冲击动力学、爆炸技术、安全<a target="_blank">工程学</a>、物理化学、<a target="_blank">高分子材料与工程</a>、火(炸)药合成、燃烧与爆炸物理学、火工烟火技术、 地面武器机动系统分析与综合、液压与液力传动、车辆电子技术、导航与稳定理论、<a target="_blank">机械制造工艺学</a>等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub146134_3"></a>
<a class="lemma-anchor " name="专业实验"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">武器系统与工程专业</span>专业实验</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">电子技术、传感与测试技术、发射与推进技术、遥控与自动导引技术、弹药威力与冲击效应、爆炸及安全防护、含能材料合成、烟火效应、材料感度、点火与起爆、<a target="_blank">坦克装甲车辆</a>动力与制动、液力传动与控制、工程应用软件、系统模拟与仿真等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub146134_4"></a>
<a class="lemma-anchor " name="主要方向"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">武器系统与工程专业</span>主要方向</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">火炮设计、火箭弹总体设计与动力装置、火箭炮（发射架）、自动武器、探测制导与控制技术（引信）、弹药与爆炸技术</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub146134_5"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">武器系统与工程专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">主要到军工和航空航天领域的企业或研究所从事产品的研发设计与制造。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub146134_6"></a>
<a class="lemma-anchor " name="开设院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">武器系统与工程专业</span>开设院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">【江苏省】<a target="_blank">南京理工大学</a>机械工程学院</div>
<div class="para" label-module="para">【山西省】<a target="_blank">中北大学</a>机电工程学院</div>
<div class="para" label-module="para">【北京市】北京理工大学机电学院</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-146134-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_146134" id="refIndex_1_146134" name="refIndex_1_146134" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">武器系统与工程专业解读与就业<span class="linkout"> </span></a>
<span class="site">．辽宁省招生考试办公室</span><span>[引用日期2016-02-28]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>