<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>弹药工程与爆炸技术专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">弹药工程与爆炸技术专业培养在弹药工程与爆炸技术领域基础理论扎实、专业知识系统、工程实践与技术创新能力强，在德、智、体等方面全面发展的高素质工程技术人才。毕业生具备弹药工程与爆炸技术领域的基础理论、基本专业知识和基本技能，具有良好的数学、力学、机械等基础理论和弹药设计、爆炸技术及应用、目标毁伤等专业知识，能够在相关科研单位、高等院校、生产企业和管理部门从事系统设计、技术研发、产品制造和科技与工程管理工作。本专业是国家招收公安、安全管理局等事业单位公务员的指定专业,全国开设兵器类专业的高校仅有六所<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_146109"> </a>
。<sup>[2]</sup><a class="sup-anchor" name="ref_[2]_146109"> </a>
</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
弹药工程与爆炸技术专业
</dd>
<dt class="basicInfo-item name">修业年限</dt>
<dd class="basicInfo-item value">
四年或五年
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
工学学士
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
081603
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
工学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">设置背景</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">知识技能</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干学科</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">主干课程</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">实践教学</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">相近专业</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">发展前景</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">开设院校</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub146109_1"></a>
<a class="lemma-anchor " name="设置背景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">弹药工程与爆炸技术专业</span>设置背景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">弹药工程与爆炸技术专业培养具备弹药战斗部与爆炸技术以及在民用机械工程和工程爆破等方面的基础理论知识和工程实践能力，能在有关科研单位、高等学校、生产企业和管理部门从事系统设计、技术开发，产品制造，实验测试和科技管理方面工作的高级工程技术人才。</div>
<div class="para" label-module="para">学生主要学习弹药工程、爆炸与安全技术以及民用<a data-lemmaid="411828" target="_blank">机械工程</a>与<a target="_blank">工程爆破</a>方面的基本理论和基本知识，受到系统设计、技术开发、产品研制、实验测试以及工程管理方面的基本训练，具备系统分析与综合、工程设计与制造、计算机应用、试验检测方面的基本能力。<sup>[3]</sup><a class="sup-anchor" name="ref_[3]_146109"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub146109_2"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">弹药工程与爆炸技术专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">毕业生应获得以下几方面的知识和能力：</div>
<div class="para" label-module="para">1．掌握机械学、力学、弹药学、爆炸学学科的基本理论和基本知识；</div>
<div class="para" label-module="para">2．掌握弹药工程及爆炸技术的基本分析与设计方法和产品研制技术；</div>
<div class="para" label-module="para">3．具有利用计算机和仪器设备解决工程技术问题的初步能力；</div>
<div class="para" label-module="para">4．熟悉国家有关技术政策、法规及重要的专业技术标准；</div>
<div class="para" label-module="para">5．了解弹药工程与爆炸技术领域的理论前沿、新技术和发展动态；</div>
<div class="para" label-module="para">6．掌握<a target="_blank">文献检索</a>、资料查询的基本方法，具有一定的科学研究和实际工作能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub146109_3"></a>
<a class="lemma-anchor " name="主干学科"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">弹药工程与爆炸技术专业</span>主干学科</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">机械工程、力学、<a target="_blank">兵器科学与技术</a>。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub146109_4"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">弹药工程与爆炸技术专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">弹药系统分析与设计、爆炸物理、<a target="_blank">弹道学</a>、终点效应、动态检测技术、<a target="_blank">冲击动力学</a>、爆炸技术、<a target="_blank">安全工程学</a>等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub146109_5"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">弹药工程与爆炸技术专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">包括金工实习、计算机上机操作、专业课程设计、生产实习、毕业设计等，一般安排28周。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub146109_6"></a>
<a class="lemma-anchor " name="相近专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">弹药工程与爆炸技术专业</span>相近专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">武器系统与发射工程 探测指导与控制技术 弹药工程与爆炸技术 <a target="_blank">特种能源工程与烟火技术</a> 地面武器机动工程 信息对抗技术 武器系统与工程</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub146109_7"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">弹药工程与爆炸技术专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">毕业生的就业方向主要集中在有关科研单位、高等学校、生产企业和有关的管理部门。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub146109_8"></a>
<a class="lemma-anchor " name="开设院校"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">弹药工程与爆炸技术专业</span>开设院校</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">北京理工大学</a></div>
<div class="para" label-module="para"><a target="_blank">南京理工大学</a></div>
<div class="para" label-module="para"><a target="_blank">中北大学</a></div>
<div class="para" label-module="para"><a target="_blank">沈阳理工大学</a></div>
<div class="para" label-module="para"><a target="_blank">安徽理工大学</a></div>
<div class="para" label-module="para"><a target="_blank">沈阳工学院</a></div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-146109-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_146109" id="refIndex_1_146109" name="refIndex_1_146109" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">兵器类学科专业介绍<span class="linkout"> </span></a>
<span class="site">．沈阳工学院兵器类专业教学资源网</span><span>[引用日期2016-05-18]</span></li><li class="reference-item " id="reference-[2]-146109-wrap">
<span class="index">2.</span>
<a class="gotop anchor" href="#ref_[2]_146109" id="refIndex_2_146109" name="refIndex_2_146109" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">弹药工程与爆炸技术专业解读与就业<span class="linkout"> </span></a>
<span class="site">．辽宁省招生考试办公室</span><span>[引用日期2016-02-28]</span></li><li class="reference-item " id="reference-[3]-146109-wrap">
<span class="index">3.</span>
<a class="gotop anchor" href="#ref_[3]_146109" id="refIndex_3_146109" name="refIndex_3_146109" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">弹药工程与爆炸技术(本科类) <span class="linkout"> </span></a>
<span class="site">．阳光高考</span><span>[引用日期2016-02-28]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>