<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>植物科学与技术专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para">植物科学与技术专业将传统<a target="_blank">农业生产技术</a>与<a target="_blank">现代生物技术</a>有机结合，植物科学与技术专业是新兴专业，综合了传统的农学、园艺和植保三大内容，在科研和应用上均具有重大意义。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
植物科学与技术专业
</dd>
<dt class="basicInfo-item name">定    义</dt>
<dd class="basicInfo-item value">
新兴专业
</dd>
<dt class="basicInfo-item name">内    容</dt>
<dd class="basicInfo-item value">
传统的农学、园艺和植保
</dd>
<dt class="basicInfo-item name">培养目标</dt>
<dd class="basicInfo-item value">
创新能力的研发型高级科技人才
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
090104
</dd>
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
农学学士
</dd>
<dt class="basicInfo-item name">修学年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
农学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">设置背景</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">培养要求</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">知识技能</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">主干课程</a></span>
</li>
<li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">实践教学</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">发展前景</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">高校排名</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub10447268_1"></a>
<a class="lemma-anchor " name="设置背景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">植物科学与技术专业</span>设置背景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">植物科学与技术专业主要培养熟悉国内外植物科学与技术学科发展前沿和应用前景、国家科学技术、知识产权、植物生产、生物环境等有关方针、政策和法规，具备植物资源开发与利用、生物技术、植物产品提取与加工等有关植物科学与技术的基本理论、基本知识和基本技能，熟练掌握植物生产、植物育种和植物保护的方法和技能，具有较强的调查研究与决策、试验设计、组织管理，应用现代信息技术获取知识和创新能力的研发型高级科技人才。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub10447268_2"></a>
<a class="lemma-anchor " name="培养要求"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">植物科学与技术专业</span>培养要求</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">植物科学与技术专业培养要求植物科学与技术专业学生主要学习生物学和园艺学的基本理论和基本知识，受到园艺植物科研、生产、管理方面的基本训练，具有园艺植物生产、技术开发和推广、园艺企业经营管理方面的基本能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub10447268_3"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">植物科学与技术专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">需要拥有的知识技能有：</div>
<div class="para" label-module="para">1.有扎实的数学、物理、化学等基本理论知识；</div>
<div class="para" label-module="para">2.掌握<a target="_blank">生物学科</a>和农业学科的基本理论、基本知识；</div>
<div class="para" label-module="para">3.掌握<a target="_blank">农业生产</a>、特别是植物生产的技能和知识；</div>
<div class="para" label-module="para">4.掌握现代农业的觏划设计、作物栽培、种质资源保护、品种选育和良种繁育、病虫草害防治、植物产品商品化处理等方面技术与能力；</div>
<div class="para" label-module="para">5.具备可持续发展的意识和基本知识，了解植物生产和科学技术的科学前沿和趋势；</div>
<div class="para" label-module="para">6.掌握农业生产、农村工作和与植物生产相关的有关方针、政策和法规；</div>
<div class="para" label-module="para">7.掌握科技<a target="_blank">文献检索</a>、资料查询的基本方法，具有一定的科学研究和实际工作能力；</div>
<div class="para" label-module="para">8.有较强的调查研究和决策、组织与管理、口头与文字表达能力、具有独立获取知识、信息处理和创新的基本能力。<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_10447268"> </a>
</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub10447268_4"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">植物科学与技术专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a data-lemmaid="1182" target="_blank">高等数学</a>、概率论、线性代数、普通化学、分析化学、有机化学、基础化学实验、程序设计基础、植物学、植物学实验、大学物理学、大学物理实验、植物生理学、植物生理实验技术、基础生物化学、基础生物化学实验、<a data-lemmaid="307372" target="_blank">细胞生物学</a>、试验设计与统计方法、<a target="_blank">普通遗传学</a>、<a target="_blank">土壤肥料学</a>、土壤农化分析、普通微生物学、农业气象学、<a data-lemmaid="7363278" target="_blank">植物生物技术</a>、<a data-lemmaid="2368492" target="_blank">植物保护学</a>、<a target="_blank">植物育种学</a>、<a target="_blank">耕作学</a>、<a target="_blank">植物生产学</a>、<a data-lemmaid="126586" target="_blank">分子生物学</a>、<a target="_blank">植物生态学</a>、<a target="_blank">种子学</a>。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub10447268_5"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">植物科学与技术专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">植物学Ⅰ实习、土壤与肥料学实习、植物生态学实习、植物保护学实习、植物育种学实习、植物生产学实习、耕作学实习</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub10447268_6"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">植物科学与技术专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">（1）与种植业有关的企业</div>
<div class="para" label-module="para">种苗公司、肥业公司、农业生产资料经营企业、植物产品加工或生产企业等，工作内容主要包括:产品研发生产、技术服务和推广、产品营销等。</div>
<div class="para" label-module="para">（2）与种植业有关的事业单位</div>
<div class="para" label-module="para">农业局中的农技站、蔬菜站、果茶站、土肥站、植保站等。</div>
<div class="para" label-module="para">（3）教学和科研部门</div>
<div class="para" label-module="para">各级农业科学研究院、农业大学、部分职业学院等。</div>
<div class="para" label-module="para">（4）考取公务员或选调生</div>
<div class="para" label-module="para">植物科学与技术专业毕业生可在农业、园林、林业、食品、医药、畜牧等行业从事与植物科学相关的教学与科研、推广与开发、经营与管理等；同时去国外相关研究领域深造的机会较多。往届报考研究生的考研率均在56%以上，该专业属新兴农林类专业，毕业生在考公务员或企事业机关单位时，往往受限于专业限制，出现无法报考的情况，本专业相对其他传统农林类专业而言没有任何优势，存在着巨大的就业压力。本专业毕业生质量社会普遍反映较好。</div>
<div class="para" label-module="para">植物科学与技术专业在科研和应用上均具有重大意义：在科研上，它属于应用基础学科，可以为国家生态建设、粮食生产安全以及能源结构调整等方面做出重大贡献。我国发展植物科学与技术专业具有资源优势，未来更倾向于研究型人才的培养。这一专业在未来国家生态环境建设及新农村发展中，将呈现广阔的发展远景。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub10447268_7"></a>
<a class="lemma-anchor " name="高校排名"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">植物科学与技术专业</span>高校排名</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">植物科学与技术专业被评为A等级的学校有：</div>
<div class="para" label-module="para"><a target="_blank">西北农林科技大学</a> <a target="_blank">四川农业大学</a> <a target="_blank">河南农业大学</a> <a target="_blank">山东农业大学</a> <a target="_blank">华中农业大学</a></div>
<div class="para" label-module="para">植物科学与技术专业被评为B+等级的学校有：</div>
<div class="para" label-module="para"><a target="_blank">河北农业大学</a> <a target="_blank">内蒙古农业大学</a> <a target="_blank">吉林农业大学</a> <a target="_blank">湖南农业大学</a> <a target="_blank">青岛农业大学</a></div>
<div class="para" label-module="para">植物科学与技术专业被评为B 等级的学校有：</div>
<div class="para" label-module="para"><a target="_blank">榆林学院</a> <a target="_blank">河北科技师范学院</a> <a target="_blank">吉林农业科技学院</a></div>
<div class="para" label-module="para">植物科学与技术专业被评为C+等级的学校有：</div>
<div class="para" label-module="para"><a target="_blank">吉首大学</a> <a target="_blank">河北北方学院</a></div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-10447268-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_10447268" id="refIndex_1_10447268" name="refIndex_1_10447268" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">专业介绍<span class="linkout"> </span></a>
<span class="site">．华中农业大学 植物科学技术学院</span><span>[引用日期2016-02-12]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>