<div class="main-content">

<div style="width:0;height:0;clear:both"></div><dl class="lemmaWgt-lemmaTitle lemmaWgt-lemmaTitle-">
<dd class="lemmaWgt-lemmaTitle-title">
<h1>动物科学专业</h1>


</dd>
</dl><div class="promotion-declaration">
</div><div class="lemma-summary" label-module="lemmaSummary">
<div class="para" label-module="para"><a data-lemmaid="5663468" target="_blank">动物科学</a>专业是<a data-lemmaid="80506" target="_blank">生命科学</a>的重要分支。它的基本任务是在认识和掌握动物遗传变异、生长发育、繁殖消化代谢等生命规律的基础上，为人类提供质优量多的动物产品。</div><div class="para" label-module="para">动物科学旨在满足人们日益增长的高档肉类饮食需求，主要进行动物营养与饲养、饲料资源开发、饲料配方与饲料工艺设计，以及<a target="_blank">饲料</a>与饲养企业管理的研究。通过大量的动物实验和畜禽生产实践，你将了解兔子、小白鼠、马、牛、<a data-lemmaid="147315" target="_blank">猪</a>、鸡甚至猫和犬等动物的生理特点和生活习性，并学习对其进行饲养管理、帮助它们繁殖后代等等的科学方法。研究生产绿色肉食品的课题非常热门。动物科学更偏重对相关技术的综合运用，管理科学研究方面则需要注意统筹布局；同时希望你有爱动物的心，并具备一定的动手能力。21世纪，动物科学发展火热，该类专业人才奇缺以后的发展前途不可限量。对学习者生产实践经验积累和综合分析解决问题能力的培养会很重要。</div>
</div>
<div class="configModuleBanner">
</div><div class="basic-info cmn-clearfix">
<dl class="basicInfo-block basicInfo-left">
<dt class="basicInfo-item name">中文名</dt>
<dd class="basicInfo-item value">
动物科学专业
</dd>
<dt class="basicInfo-item name">外文名</dt>
<dd class="basicInfo-item value">
animal science
</dd>
<dt class="basicInfo-item name">修业年限</dt>
<dd class="basicInfo-item value">
四年
</dd>
</dl><dl class="basicInfo-block basicInfo-right">
<dt class="basicInfo-item name">授予学位</dt>
<dd class="basicInfo-item value">
<a target="_blank">农学学士</a>
</dd>
<dt class="basicInfo-item name">专业代码</dt>
<dd class="basicInfo-item value">
090301
</dd>
<dt class="basicInfo-item name">一级学科</dt>
<dd class="basicInfo-item value">
农学
</dd>
</dl></div>
<div class="lemmaWgt-lemmaCatalog">
<div class="lemma-catalog">
<h2 class="block-title">目录</h2>
<div class="catalog-list column-3">
<ol>
<li class="level1">
<span class="index">1</span>
<span class="text"><a href="#1">设置背景</a></span>
</li>
<li class="level1">
<span class="index">2</span>
<span class="text"><a href="#2">知识技能</a></span>
</li>
<li class="level1">
<span class="index">3</span>
<span class="text"><a href="#3">主干学科</a></span>
</li>
<li class="level1">
<span class="index">4</span>
<span class="text"><a href="#4">主干课程</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">5</span>
<span class="text"><a href="#5">实践教学</a></span>
</li>
<li class="level1">
<span class="index">6</span>
<span class="text"><a href="#6">专业实验</a></span>
</li>
<li class="level1">
<span class="index">7</span>
<span class="text"><a href="#7">相近专业</a></span>
</li>
<li class="level1">
<span class="index">8</span>
<span class="text"><a href="#8">发展前景</a></span>
</li>
</ol><ol><li class="level1">
<span class="index">9</span>
<span class="text"><a href="#9">院校排名</a></span>
</li>
<li class="level1">
<span class="index">10</span>
<span class="text"><a href="#10">关联专业</a></span>
</li>
</ol>
</div>
</div>
</div>
<div class="anchor-list">
<a class="lemma-anchor para-title" name="1"></a>
<a class="lemma-anchor " name="sub146262_1"></a>
<a class="lemma-anchor " name="设置背景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">动物科学专业</span>设置背景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="1"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><div class="lemma-picture text-pic layout-right" style="width:103px; float: right;">
<a class="image-link" nslog-type="9317" style="width:103px;height:139px;" target="_blank" title="动物科学专业">
<img alt="动物科学专业" class="lazy-img" data-src="http://b.hiphotos.baidu.com/baike/s%3D220/sign=429ad7ffb74543a9f11bfdce2e168a7b/8b13632762d0f703600c9cd708fa513d2697c57b.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF9fX1AAAA0VQI3QAAAAxJREFUeNpiYAAIMAAAAgABT21Z4QAAAABJRU5ErkJggg==" style="width:103px;height:139px;"/>
</a>
<span class="description">
动物科学专业
</span>
</div>随着科技的进步，动物科学的研究领域在范围上已从传统的畜牧业扩展到了水产动物、珍禽异兽、伴侣动物、观赏动物的饲养、育种繁殖、产品加工等各个领域；在研究深度上已从动物整体水平、细胞水平和亚细胞水平深入到分子水平，使得人们可以在基因水平上认识动物遗传、发育、繁殖、代谢的规律。<a target="_blank">克隆</a>动物、<a target="_blank">转基因</a>动物、嵌合体动物的成功育成表明，动物科学是21世纪生命科学中最富有挑战性和最具发展潜力的领域之一。</div>
<div class="para" label-module="para">动物科学专业培养具备动物科学方面的基本理论，基本知识和基本技能，能在与动物科学相关领域和部门从事技术与设计、推广与开发、经营与管理、教学与科研等工作的高级科学技术人才。</div>
<div class="para" label-module="para">学生主要学习动物生产与管理、<a target="_blank">动物遗传育种</a>、动物繁殖、动物营养与饲料等<div class="lemma-picture text-pic layout-right" style="width:105px; float: right;">
<a class="image-link" nslog-type="9317" style="width:105px;height:139px;" target="_blank" title="动物科学专业">
<img alt="动物科学专业" class="lazy-img" data-src="http://c.hiphotos.baidu.com/baike/s%3D220/sign=41e13f7478f0f736dcfe4b033a54b382/7af40ad162d9f2d3bda92de4a9ec8a136327cc05.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF9fX1AAAA0VQI3QAAAAxJREFUeNpiYAAIMAAAAgABT21Z4QAAAABJRU5ErkJggg==" style="width:105px;height:139px;"/>
</a>
<span class="description">
动物科学专业
</span>
</div>方面的基本理论和基本知识，受到与动物科学相关的调查、分析、评估、设计等力面的基本训练，具有动物育种、繁殖、生产与管理的基本能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="2"></a>
<a class="lemma-anchor " name="sub146262_2"></a>
<a class="lemma-anchor " name="知识技能"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">动物科学专业</span>知识技能</h2>
<a class="edit-icon j-edit-link" data-edit-dl="2"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">毕业生应获得以下几方面的知识和能力：</div>
<div class="para" label-module="para"><div class="lemma-picture text-pic layout-right" style="width:139px; float: right;">
<a class="image-link" nslog-type="9317" style="width:139px;height:139px;" target="_blank" title="动物科学专业">
<img alt="动物科学专业" class="lazy-img" data-src="http://h.hiphotos.baidu.com/baike/s%3D220/sign=9ea5e16f564e9258a23481ecac83d1d1/8694a4c27d1ed21b997227eead6eddc451da3f05.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF9fX1AAAA0VQI3QAAAAxJREFUeNpiYAAIMAAAAgABT21Z4QAAAABJRU5ErkJggg==" style="width:139px;height:139px;"/>
</a>
<span class="description">
动物科学专业
</span>
</div>1．具备扎实的数学、物理、化学等基本理论知识；</div>
<div class="para" label-module="para">2．掌握动物科学的基本理论和动物遗传育种、动物繁殖、动物营养与饲料及土地学方面的基本知识；</div>
<div class="para" label-module="para">3．掌握动物资源调查、种畜评估、繁殖技术、繁育体系、饲养和饲料配合、牧场设计、卫生防疫、畜产品开发利用和草地建设等方法与技术；</div>
<div class="para" label-module="para">4．具备农业可持续发展的意识和基本知识，了解畜牧业生产和动物科学的学科前沿和发展趋势；</div>
<div class="para" label-module="para">5．熟悉动物资源保护、动物生产、畜产品流通、环境保护等有关方针、政策和法规；</div>
<div class="para" label-module="para">6．掌握文件检索、资料查询的基本方法，具有一定科学研究和实际工作能力。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="3"></a>
<a class="lemma-anchor " name="sub146262_3"></a>
<a class="lemma-anchor " name="主干学科"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">动物科学专业</span>主干学科</h2>
<a class="edit-icon j-edit-link" data-edit-dl="3"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">动物遗传育种学</a>、<a target="_blank">动物繁殖学</a>、<a target="_blank">动物营养与饲料学</a>。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="4"></a>
<a class="lemma-anchor " name="sub146262_4"></a>
<a class="lemma-anchor " name="主干课程"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">动物科学专业</span>主干课程</h2>
<a class="edit-icon j-edit-link" data-edit-dl="4"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">动物解剖学、动物组织胚胎学、动物生理学<sup>[1]</sup><a class="sup-anchor" name="ref_[1]_146262"> </a>
、<a target="_blank">动物生物化学</a>、畜牧微生物学、动物遗传学、<a target="_blank">动物营养学</a>、<div class="lemma-picture text-pic layout-right" style="width:110px; display: inline; float: right;">
<a class="image-link" nslog-type="9317" style="width:110px;height:120px;" target="_blank" title="动物科学专业">
<img alt="动物科学专业" class="lazy-img" data-src="http://e.hiphotos.baidu.com/baike/s%3D220/sign=5880523d1d950a7b713549c63ad0625c/500fd9f9d72a605931a5e8112834349b033bba07.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF9fX1AAAA0VQI3QAAAAxJREFUeNpiYAAIMAAAAgABT21Z4QAAAABJRU5ErkJggg==" style="width:110px;height:120px;"/>
</a>
<span class="description">
动物科学专业
</span>
</div>饲料学、生物统计学 、饲料分析技术、动物繁殖学、动物环境卫生与畜舍建筑学、畜牧生产系统、动物育种学、群体遗传学、数量遗传学、细胞遗传学、生化遗传学、分子遗传学、配合饲料工艺原理与技术、企业管理学、反刍动物营养、猪营养、家禽营养、鱼虾动物营养等。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="5"></a>
<a class="lemma-anchor " name="sub146262_5"></a>
<a class="lemma-anchor " name="实践教学"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">动物科学专业</span>实践教学</h2>
<a class="edit-icon j-edit-link" data-edit-dl="5"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">包括教学实习、生产实习、课程设计、毕业论文(毕业设计)、科研训练、生产劳动、社会实践等，一般安排23~25周。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="6"></a>
<a class="lemma-anchor " name="sub146262_6"></a>
<a class="lemma-anchor " name="专业实验"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">动物科学专业</span>专业实验</h2>
<a class="edit-icon j-edit-link" data-edit-dl="6"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para">饲料质量检测、动物繁殖学、家畜环境卫生学、动物遗传学、家禽生产学、畜产品加工学。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="7"></a>
<a class="lemma-anchor " name="sub146262_7"></a>
<a class="lemma-anchor " name="相近专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">动物科学专业</span>相近专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="7"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">蚕学</a> <a target="_blank">蜂学</a></div><div class="anchor-list">
<a class="lemma-anchor para-title" name="8"></a>
<a class="lemma-anchor " name="sub146262_8"></a>
<a class="lemma-anchor " name="发展前景"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">动物科学专业</span>发展前景</h2>
<a class="edit-icon j-edit-link" data-edit-dl="8"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><div class="lemma-picture text-pic layout-right" style="width:107px; float: right;">
<a class="image-link" nslog-type="9317" style="width:107px;height:140px;" target="_blank" title="动物科学专业">
<img alt="动物科学专业" class="lazy-img" data-src="http://b.hiphotos.baidu.com/baike/s%3D220/sign=0275c0389245d688a702b5a694c37dab/0b55b319ebc4b7458221be1dcffc1e178a821507.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF9fX1AAAA0VQI3QAAAAxJREFUeNpiYAAIMAAAAgABT21Z4QAAAABJRU5ErkJggg==" style="width:107px;height:140px;"/>
</a>
<span class="description">
动物科学专业
</span>
</div>学生毕业后可以从事与动物科学相关的<a data-lemmaid="5585" target="_blank">企业管理</a>、<a target="_blank">行政管理</a>、产品研发与<a target="_blank">经营</a>等工作；也可以继续攻读生命科学领域的<a data-lemmaid="498746" target="_blank">研究生</a>，每年约有20~30%的本科生考取研究生。深造的主要方向有：动物遗传育种与繁殖、<a target="_blank">动物细胞工程</a>、动物营养、<a target="_blank">生物工程</a>等。毕业后从事<a target="_blank">动物生物技术</a>及饲料营养等方面的科研、教学和产品研发工作。</div><div class="anchor-list">
<a class="lemma-anchor para-title" name="9"></a>
<a class="lemma-anchor " name="sub146262_9"></a>
<a class="lemma-anchor " name="院校排名"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">动物科学专业</span>院校排名</h2>
<a class="edit-icon j-edit-link" data-edit-dl="9"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><b>2013-2014年动物科学专业排名</b></div>
<table class="table-view log-set-param" log-set-param="table_view" width="100%"><tr><td><div class="para" label-module="para"><b>排 序</b></div>
</td><td><div class="para" label-module="para"><b>学校名称</b></div>
</td><td><div class="para" label-module="para"><b>水 平</b></div>
</td><td><div class="para" label-module="para"><b>开此专业学校数</b></div>
</td></tr><tr><td><div class="para" label-module="para">1</div>
</td><td><div class="para" label-module="para"><a target="_blank">中国农业大学</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">75</div>
</td></tr><tr><td><div class="para" label-module="para">2</div>
</td><td><div class="para" label-module="para"><a target="_blank">浙江大学</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">75</div>
</td></tr><tr><td><div class="para" label-module="para">3</div>
</td><td><div class="para" label-module="para"><a target="_blank">四川农业大学</a></div>
</td><td><div class="para" label-module="para">5★</div>
</td><td><div class="para" label-module="para">75</div>
</td></tr><tr><td><div class="para" label-module="para">4</div>
</td><td><div class="para" label-module="para"><a target="_blank">扬州大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">75</div>
</td></tr><tr><td><div class="para" label-module="para">5</div>
</td><td><div class="para" label-module="para"><a target="_blank">华中农业大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">75</div>
</td></tr><tr><td><div class="para" label-module="para">6</div>
</td><td><div class="para" label-module="para"><a target="_blank">西南大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">75</div>
</td></tr><tr><td><div class="para" label-module="para">7</div>
</td><td><div class="para" label-module="para"><a target="_blank">西北农林科技大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">75</div>
</td></tr><tr><td><div class="para" label-module="para">8</div>
</td><td><div class="para" label-module="para"><a target="_blank">东北农业大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">75</div>
</td></tr><tr><td><div class="para" label-module="para">9</div>
</td><td><div class="para" label-module="para"><a target="_blank">广西大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">75</div>
</td></tr><tr><td><div class="para" label-module="para">10</div>
</td><td><div class="para" label-module="para"><a target="_blank">内蒙古农业大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">75</div>
</td></tr><tr><td><div class="para" label-module="para">11</div>
</td><td><div class="para" label-module="para"><a target="_blank">山西农业大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">75</div>
</td></tr><tr><td><div class="para" label-module="para">12</div>
</td><td><div class="para" label-module="para"><a target="_blank">河北农业大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">75</div>
</td></tr><tr><td><div class="para" label-module="para">13</div>
</td><td><div class="para" label-module="para"><a target="_blank">南京农业大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">75</div>
</td></tr><tr><td><div class="para" label-module="para">14</div>
</td><td><div class="para" label-module="para"><a target="_blank">江西农业大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">75</div>
</td></tr><tr><td><div class="para" label-module="para">15</div>
</td><td><div class="para" label-module="para"><a target="_blank">湖南农业大学</a></div>
</td><td><div class="para" label-module="para">4★</div>
</td><td><div class="para" label-module="para">75</div>
</td></tr><tr><td><div class="para" label-module="para">16</div>
</td><td><div class="para" label-module="para"><a target="_blank">华南农业大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">75</div>
</td></tr><tr><td><div class="para" label-module="para">17</div>
</td><td><div class="para" label-module="para"><a target="_blank">云南农业大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">75</div>
</td></tr><tr><td><div class="para" label-module="para">18</div>
</td><td><div class="para" label-module="para"><a target="_blank">吉林农业大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">75</div>
</td></tr><tr><td><div class="para" label-module="para">19</div>
</td><td><div class="para" label-module="para"><a target="_blank">新疆农业大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">75</div>
</td></tr><tr><td><div class="para" label-module="para">20</div>
</td><td><div class="para" label-module="para"><a target="_blank">甘肃农业大学</a></div>
</td><td><div class="para" label-module="para">3★</div>
</td><td><div class="para" label-module="para">75</div>
</td></tr></table><div class="anchor-list">
<a class="lemma-anchor para-title" name="10"></a>
<a class="lemma-anchor " name="sub146262_10"></a>
<a class="lemma-anchor " name="关联专业"></a>
</div><div class="para-title level-2" label-module="para-title">
<h2 class="title-text"><span class="title-prefix">动物科学专业</span>关联专业</h2>
<a class="edit-icon j-edit-link" data-edit-dl="10"><em class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
<div class="para" label-module="para"><a target="_blank">水产养殖学</a>、野生动物与自然保护区管理、牧医、动物医学等。</div>
<div class="anchor-list">
<a class="lemma-anchor a" name="a"></a>
</div><div class="album-list">
<div class="header">
<span class="title">词条图册</span>
<a class="more-link" nslog-type="10000204" target="_blank">更多图册<em></em></a>
</div>
<div class="scroller">
<div class="list">
</div>
</div>
<div class="footer">
</div>
</div>
<dl class="lemma-reference collapse nslog-area log-set-param" data-nslog-type="2" log-set-param="ext_reference">
<dt class="reference-title">参考资料<em class="toggle"></em></dt>
<dd class="reference-list-wrap">
<ul class="reference-list">
<li class="reference-item " id="reference-[1]-146262-wrap">
<span class="index">1.</span>
<a class="gotop anchor" href="#ref_[1]_146262" id="refIndex_1_146262" name="refIndex_1_146262" title="向上跳转">  </a>
<a class="text" rel="nofollow" target="_blank">新编动物生理学-动物医学 动物科学专业<span class="linkout"> </span></a>
<span class="site">．豆瓣读书</span><span>[引用日期2017-03-15]</span></li></ul>
</dd>
</dl>

<div class="clear"></div>
</div>