<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  
    <title>EdtDoor首页</title>
    <meta name="keywords" content="学门网/EdtDoor">
    <meta name="description" content="一家有责任的在线教育公司">
 	
 	<link href="/web/firstpage/index.min.css" rel="stylesheet">
 	<script src="/web/firstpage/buttonmove.js"></script>
  
</head>
<body>
<div class="main">
    <div class="header">
        <div class="nav">
            <div class="logo"></div>
            <ul class="MainList">
                
                <li class="MainListBtn">
                    <a href="/company_intro">关于我们</a>
                </li>

                <li class="MainListBtn">
                    <a href="/contact_us">联系我们</a>
                </li>
				
				<li class="MainListBtn"> 
                    <a href="/first">首页</a>
                </li>
                
            </ul> 
            <div class="entry">
            	<form action="/login" method="get" class="btn_form">  
            		<button class ="btn_login" onmouseover="mover1(this)" onmouseout="mout1(this)">登录</button>
            	</form> 
            	<form action="/register" method="get" class="btn_form">  
                	<button class ="btn_login" onmouseover="mover1(this)" onmouseout="mout1(this)">注册</button>
                </form>
            </div>
        </div> 
    </div>
    <div class="container">
        <div class="content">
            <div class="wrap">
                <div class="slogan"></div>
                <div class="mid">
                    <div class="main-entry">
                    	<form action="/services2" method="get" class="btn_form1">  
                       		<button class="btn_main" onmouseover="mover2(this)" onmouseout="mout2(this)">高考专业推荐</button>
                       	</form>
                       	<form action="/services3" method="get" class="btn_form1">  
		               		<button class="btn_main" onmouseover="mover2(this)" onmouseout="mout2(this)">高校专业查询</button>
                       	</form>
                       	<form action="/services1" method="get" class="btn_form1">  
                       		<button class="btn_main" onmouseover="mover2(this)" onmouseout="mout2(this)">心理偏向测试</button>
                       	</form>
                       	<form action="/services4" method="get" class="btn_form1">  
                       		<button class="btn_main" onmouseover="mover2(this)" onmouseout="mout2(this)">在线教育</button>
                    	</form>
                    </div>
                </div>
            </div>
        </div>
        <div class="back">
            <div class="items">
                <div class="item"
                     style="background-image:url(/web/firstpage/backgroundimage1.jpg)"></div>
				<div class="item"
                     style="background-image:url(/web/firstpage/backgroundimage2.jpg)"></div>
                <div class="item"
                     style="background-image:url(/web/firstpage/backgroundimage3.jpg)"></div>	
            </div>
        </div>
    </div>
   	<div class="footer">
		<p style="font-size: 10px; ">	
             Copyright &copy; 2017.版权所有：学门网 深ICP备88888888号
        </p>
    </div>
</div>
<script src="/web/firstpage/firstpage.js"></script>
<script src="/web/firstpage/changeimages.js"></script>

</body>
</html>